[2015-12-17 08:13] jasmin-j commented on #699
Found it, but it does not tell me much. Is there a debug level to increase?

Could be in your particular case, but in my log there isn't that line:
[code]

This might be one problem, but it seems I have another one. Maybe you could add more debug logging to track this further down. I don't know if there is a debug level implemented. In case there is, maybe you can add a possibility to increase tha

[2015-12-17 08:35] antenore commented on #699
This is the root of the problem, in fact, in my case, setting True Color I can connect to the server

Try yourself and let me know please.

![1d323ab96619fae2](https://cloud.githubusercontent.com/assets/5975/11865026/8e50e16c-a4a1-11e5-8b37-ca363347d23a.jpg)

Yes, this is something that has to be done. There is quite a lot of work to do with this plugin and will be something we will work on in the

[2015-12-17 10:20] #699 closed

[2015-12-17 14:49] antenore commented on #699
Fixed in Remmina 1.2.0.rcgit.7

[2015-12-17 23:14] jasmin-j commented on #699
I changed this in 1.2.0-rcgit6 version and it did the trick. It will now connect.
I will upgrade now to rcgit7.

THX!!!

[2015-12-18 03:13] ahow628 commented on #699
I switched to True Color and the heavens opened while angels were singing. This issue has been an annoyance for years now (given I had to use a crappier VNC client). Thanks for working on this issue so diligently and thank you to everyone for chiming in. I'm glad it is finally working for me.

[2015-12-18 08:19] antenore commented on #699
I'm glad it worked. :-)

[2015-12-18 10:23] cen1 opened #706 "Remmina RDP hangs after second certificate confirmation when using RD gateway"
I use RD gateway and the machine address is a .local domain. Every other setting is default.

First it asks me to confirm RD certificate and then it asks to confirm the .local certificate. After that it hangs with empty message in the screenshot. Debug window is empty (do I have to enable anything to see debug output?).

![remmina1](https://cloud.githubusercontent.com/assets/1158861/11894739/7d391

[2015-12-18 10:25] giox069 commented on #706
Which version of remmina are you using ? Under which distribution ?

[2015-12-18 10:25] cen1 commented on #706
Fedora 23, About says 1.2.0-rcgit.3

[2015-12-18 21:58] ObiWahn commented on #695
Hi,
could you give me a few instructions where to break? The main UI is still there and [Inferior 1 (process 22890) exited normally] If you give me a bit guidance i will do my best to pull some useful information out of the thread. I think last time i tried catch throw and some other stuff but i was not able to locate the problem.

Kind Regards

[2015-12-18 22:31] antenore commented on #695
Remmina must be compiled with -DCMAKE_BUILD_TYPE=Debug , follows the wiki in case you need.

Start remmina with

[code]

If gdb advices to install some debug packages you have to do it.

As soon as remmina crashes, execute the command (inside gdb) **bt**

Then you should have a list of frames that you can analyse with the command frame (frame 1, or frame 15, etc) , the frame command will show you

[2015-12-18 23:00] ObiWahn commented on #695
» objdump --syms  /opt/remmina_devel/remmina/bin/remmina | grep debug
0000000000000000 l    d  .debug_aranges	0000000000000000              .debug_aranges
0000000000000000 l    d  .debug_info	0000000000000000              .debug_info
0000000000000000 l    d  .debug_abbrev	0000000000000000              .debug_abbrev
0000000000000000 l    d  .debug_line	0000000000000000              .debug_line
0000

[2015-12-18 23:14] antenore commented on #695
I think that is your clipboard manager that crashes (could be because of remmina, freerdp, or not)
What clipboard manger are you using?

[2015-12-18 23:30] ObiWahn commented on #695
What is a clipboard manager? I use xmonad as desktop environment . The same happens when i start remmina as x client directly.

I use startx to enter my graphical environment and use the following configuration:
» cat .xinitrc
#!/bin/sh
xsetroot -solid "#333333"
xsetroot -cursor_name left_ptr
exec dbus-launch /usr/bin/xmonad-session
#exec dbus-launch /opt/remmina_devel/remmina/bin/remmina

[2015-12-18 23:59] antenore commented on #695
Well you don't have one, so you are using directly the standard selections defined by the ICCCM (through X).

Honestly I'm buffed... I've tried the most similar configuration that you have (I just use dwm instead of xmonad) but I cannot replicate your issue.

[2015-12-19 00:05] antenore commented on #695
two more things, did you have any other old version of remmina and freerdp installed before?

If yes can you check you don't have old files still installed ?

Do you have the same issue using xfreerdp from a terminal?

[2015-12-19 10:02] ObiWahn commented on #695
xfreerdp crashes as well

» ./xfreerdp /v:xxxxx
[10:51:31:003] [29955:29956] [INFO][com.freerdp.client.x11] - No user name set. - Using login name: yyyyyy
[10:51:31:010] [29955:29956] [INFO][com.freerdp.client.x11] - Property 346 does not exist
[10:52:43:103] [29955:29956] [ERROR][com.freerdp.core] - ERRINFO_LOGOFF_BY_USER (0x0000000C):The disconnection was initiated by the user logging off his or

[2015-12-21 09:12] haythamdouaihy commented on #165
@quasarj thanks, i tried your solution and it works

[2015-12-21 15:12] jruere commented on #237
On version 1.1.2, it does not work for me with RDP.

[2015-12-21 19:00] anilkumartvm opened #707 "not printing with remiina client 1.2"
Iam using windows server 2008 r2-64 bit server - Microsoft Terminal server-RDP - server pc
and client ubuntu 14.04 64bit

while trying to print from ubutu client - not printed. my printer is lbp2900 - with no issues in local printing.
the job is transferd to the client print que.
iam attached the jobque details for ref.

![screenshot](https://cloud.githubusercontent.com/assets/16389376/11938732/db

[2015-12-21 19:10] giox069 commented on #707
Which version of remmina are you using ?

[2015-12-22 02:22] anilkumartvm commented on #707
Remmina 1.1.2
![screenshot2](https://cloud.githubusercontent.com/assets/16389376/11946446/ddcd9a72-a880-11e5-8ece-c79a5fb49546.png)

[2015-12-23 18:24] wayne13 commented on #556
Hey guys,  whats the status of the clipboard issue? Ubuntu trusty into xrpd.  Using 1.2.0-rcgit.7.  Any work arounds?  Thank you for this nice software!

[2015-12-23 20:15] ronpike commented on #556
@wayne13 Remmina 1.2.0-rcgit.7 with freerdp-x11 1.2.0~git20150207+dfsg-0wily1 is working nicely for me currently on Ubuntu 15.10.

Yes, it is an excellent program- thank you Remmina team!

[2015-12-23 20:22] giox069 commented on #556
About the PPA update: currently the freerdp version included in the remmina-next PPA is blocked to git20150207. We are waiting an update from the PPA maintainer.
About the clipboard issue: @wayne13 can you reproduce your problem and describe it opening a new issue? This issue is closed and was dated April...
@ronpike thank you :)

[2015-12-24 01:48] MagiCarbon opened #708 "the checkbox, 'Save SSH Password', greyed out."
OS: Arch Linux, XFCE4
Remmina Version: 1.1.2

i've googled but got nothing.

help plz. thanks.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29373726-the-checkbox-save-ssh-password-greyed-out?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www

[2015-12-24 16:59] anilkumartvm commented on #707
Sir,
Please give a solution

[2015-12-26 20:21] giox069 commented on #707
Have you tried to upgrade remmina to the latest version using the Ubuntu PPA ? Follow the instructions in the remmina wiki  to install the remmina-next PPA for Ubuntu: https://github.com/FreeRDP/Remmina/wiki

[2015-12-28 08:58] antenore commented on #708
Do you have libsecret?

[2015-12-28 09:01] antenore commented on #695
So I can do nothing but asking you to open the same bug report to the FreeRDP guys, sorry.

[2015-12-28 09:01] #695 closed

[2015-12-28 09:35] LetArch opened #709 "crashing when switch to window other program or just minimize the window"
OS:
DISTRIB_ID=LinuxMint
DISTRIB_RELEASE=17.2
DISTRIB_CODENAME=rafaela
DISTRIB_DESCRIPTION="Linux Mint 17.2 Rafaela"
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14.04.3 LTS"
NAME="Ubuntu"
VERSION="14.04.3 LTS, Trusty Tahr"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 14.04.3 LTS"
VERSION_ID="14.04"
arch i686

version remmina:
1.2-ppa1+8 i386

/var/lo

[2015-12-28 13:33] bw1945 opened #710 "Constantly and often breaks the connection. It started about 1-2 months ago."
Remmina
1.2.0-rcgit.7

cat /proc/version

Linux version 3.13.0-48-generic (buildd@orlo) (gcc version 4.8.2 (Ubuntu 4.8.2-19ubuntu1) ) #80-Ubuntu SMP Thu Mar 12 11:16:15 UTC 2015

cat /etc/*-release

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14.04.3 LTS"
NAME="Ubuntu"
VERSION="14.04.3 LTS, Trusty Tahr"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 14

[2015-12-28 13:47] giox069 commented on #710
Could you also provide:
 1. The libfreerdp version you are using
 2. How did you get remmina (Ubuntu PPA ? Compiled by hand ?)
 3. The operating system running on the destination server. I noticed some disconnections when connected to XP and 2003 only on my pc, nothing more.

[2015-12-28 14:22] bw1945 commented on #710
1. /usr/share/doc/libfreerdp1/changelog.Debian.gz:
freerdp (1.2.0~git20150207+dfsg-0trusty2) trusty; urgency=medium

  * libfreerdp1 depends on libfreerdp-plugins-standard.

 -- Luca Falavigna <dktrkranz@debian.org>  Sun, 15 Mar 2015 10:17:29 +0100
...

2, I do not remember, but it is automatically updated.

3. MS Windows Server 2003 R2 Standard x64 Edition Service Pack 2

BUT: I repeat that the p

[2015-12-28 19:25] AsmGuy opened #711 "Domain/Username/Password database"
Hello folks,

I happen to support a very large quantity of Windows servers belonging to several domains.
When I need to change a password for a certain domain, I have to update dozens of server definitions.

It would really help if you manage the Domain/Username/Password like "Resolution", ie: you define it somewhere else, and then you can use the same credentials in any number of servers as you w

[2015-12-29 01:49] MagiCarbon commented on #708
@antenore hi, thanks for ur reply.
i've checked and libsecret get installed.

BTW, My Arch Linux is a fresh installation.

what information do u need? let me know.

[2016-01-01 08:13] jkldgoefgkljefogeg opened #713 "VNC over SSH tunnel very slow"
remmina 1.1.2-ppa1+809+next+201512281759~ubuntu15.10.1

from Ubuntu 15.10 to tigervnc-server on RHEL 7.2, LAN connection
Uncheck enable SSH tunnel, it runs flawlessly. With enable SSH tunnel checked, I can notice a 5 to 20s delay for any action in the VNC session making it unusable.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues

[2016-01-02 21:34] Hubbitus opened #714 "Failed to load plugin: remmina-plugin-telepathy.so - undefined symbol: remmina_tp_handler_new"
https://bugzilla.redhat.com/show_bug.cgi?id=1282351

It also reproduced in 1.2.0-rcgit.7
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29541661-failed-to-load-plugin-remmina-plugin-telepathy-so-undefined-symbol-remmina_tp_handler_new?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=github)** We acce

[2016-01-02 21:38] Hubbitus commented on #714
It also reported in Ubuntu https://bugs.launchpad.net/ubuntu/+source/remmina/+bug/1072457

[2016-01-04 08:29] antenore commented on #714
Also in fedora and I expect it's reproducible everywhere we have a new version of telepathy . I'll take a look.

[2016-01-04 13:21] antenore commented on #714
I don't think it was working in the past. Anyway, it must be ported to the new dbus implementation, so it will take some time.

[2016-01-04 20:07] obtim opened #715 "Screen Resolution over LAN using Remmina"
In the program there is no ability to scale the remote screen. Other VNC client have such opportunity. This creates difficulties at work with the programm.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29582970-screen-resolution-over-lan-using-remmina?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source

[2016-01-04 20:16] giox069 commented on #715
Which version of remmina are you using ? Under which operating system/distribution ?

[2016-01-04 22:10] marcominetti commented on #117
:+1: I'm daily using remmina to use Windows and Mac virtual machines... The spice protocol improves performance and enables virtual machine feature management (first of all USB redirection)... I think it could be more complex than integrating the widget... any news about that?

[2016-01-04 22:15] marcominetti commented on #117
Is there any starting point if I'd like to contribute? I mean... starting from the suggested IDE and an existing plugin for starting reverse engineering and learning towards spice-gtk? Any doc (assuming I'm a beginner with a supercharged learning curve)?

[2016-01-05 11:12] obtim commented on #715
Tried 1.1.2 and now last 1.2.0 from git. Use Ubuntu 15.10 with Mate 1.10.2. Other side is Win 7 X64 with UltraVNC server 1.1.6

[2016-01-05 15:17] madchap opened #717 "Suddenly fails to RDP to any server"
Hi all,

I've been running Remmina for months, and all of a sudden today, I can't RDP to any of my Windows Servers. I even had a session running when that happened. No updates on the servers themselves (for too long actually ;-))

I am running on Linux Mint 17.3., and have just installed the PPA next repo, and upgraded to the latest 'next' version. I upgraded because the stable version of the ubun

[2016-01-05 15:23] giox069 commented on #717
It seems it's a gnome keystore backend, read the last antenore post on issue #679
The workaround is... re-input all your passwords.

[2016-01-05 15:29] madchap commented on #717
Well, it started failing before I do any kind of upgrade. As a matter of fact, I just upgrade to Mint 17.3 30mn ago, to see if that would help as well.

If the fact of simply retyping the password in remmina should fix it, then it is not the problem, same issue. Sorry, but thanks for the super quick response!

I will continue investigating at this very moment, as I need to get it working to get wo

[2016-01-05 15:31] madchap commented on #717
I have just removed entirely the .remmina folder, so now empty of any saved connections I had and performed a quick connect thus re-entering all info. Same issue.

[2016-01-05 15:36] giox069 commented on #717
Does remmina ask you to enter password when connecting for a second time to the same server ? It should ask it again after the 1st failed authentication.
Also please keep looking at the terminal window output: freerdp_set_last_error 0x20009 means that authentication failed.
`[16:11:09:736] [4497:213464832] [ERROR][com.freerdp.core] - freerdp_set_last_error 0x20009
[16:11:09:736] [4497:213464832] [

[2016-01-05 15:39] madchap commented on #717
OK.. I feel stupid.

I don't know what happened today, but I just asked a colleague to reset my password to the same password I had, and I could connect.

Jeez, I am so sorry about that.

Thanks a lot for your quick response though. That rocked :-)

[2016-01-05 15:39] #717 closed

[2016-01-05 15:40] giox069 commented on #717
:+1: :)

[2016-01-05 16:36] giox069 commented on #715
In every remmina connection window there is an icon to enable/disable scaling
![selezione_232](https://cloud.githubusercontent.com/assets/5477803/12120817/bc96d280-b3d2-11e5-8446-d1fdd3a8a100.png)
is it enough ?
If not, could you post a screenshot to explain better your problem ?

[2016-01-06 04:22] greenlighttec commented on #47
Idk if theres any progress on this, but i noticed if you Drag and Drop the RDP file into Remmina it loads all the settings and you can then connect. Convenient, but would still prefer to have Remmina associated so you can just click on the RDP file and it connects.

[2016-01-06 11:04] bw1945 commented on #710
Unfortunately, yesterday's update did not help.
Thank you.

2015-12-28 16:22 GMT+02:00 Валентин Бочаров <bw1945@gmail.com>:

[2016-01-07 10:23] chrylis commented on #662
I am having an identical problem on Arch. Both GTK3 and GTK2 are properly installed, and no other source package is having problems with them.

[2016-01-07 18:25] sanlostsoul opened #718 "Feature request: master password to protect settings"
Please excuse my poor english. I'm asking here if it's possible to have a "master password" to protect the connection settings. I want to use Remmina for connecting to some VMs but users can do  disasters with no settings protection. Thank you. SanLostSoul

[2016-01-08 00:28] antenore commented on #718
Your English is good in my opinion and this feature request is really a good idea.

@giox069 What do you think?

We are quite busy at the moment, but it's something that I think we can give some priority and shouldn't be hard to do.

In the meanwhile, you can protect the remmina.pref file itself using unix rights (chmod -w /path/to/remmina.pref)

Obviously, if you are up to it, you can try to deve

[2016-01-08 00:37] antenore commented on #117
@marcominetti thanks a lot for asking.

It should be quite easy to do it.

Take a look at what I'm doing with the X2GO plugin https://github.com/FreeRDP/Remmina/tree/x2goplugin without considering the Xephyr part.

Contact me privately and I'll be happy to guide you (mail inside the AUTHORS file).

[2016-01-08 13:05] sanlostsoul commented on #718
Thank you for your attention and for the smart trick suggested. No, I can't help for this, I'm only a simple user, I don't know anything about programming. Thank you for your work, it's making my life easier :) SanLostSoul

[2016-01-08 13:29] antenore commented on #718
You are welcome. I reopen the issue because I think it'll be interesting, soon or later, to implement it.

[2016-01-08 14:35] sanlostsoul commented on #718
Ehm, I'm sorry, was the first time I wrote here. Probably I closed the request for ignorance :/ clicking the wrong button. TY again

[2016-01-10 11:03] sanlostsoul opened #719 "[Info Req] RDP v7"
Hello... probably this is an ultra-FAQ, but... how about RDP v7? It can be cool to have audio input, to use Skype or other programs that need a mike. Have you something in prevision? Thank you, SanLostSoul

[2016-01-11 09:23] sanlostsoul commented on #719
Sorry, found a previous reply for RDP plugin (https://github.com/FreeRDP/Remmina/issues/696). I'll ask to @Muflone for this. TY

[2016-01-11 09:23] #719 closed

[2016-01-11 14:17] bw1945 commented on #710
There were two updates. Today, little has worked. Good!
Thank you so much!

2016-01-06 13:04 GMT+02:00 Валентин Бочаров <bw1945@gmail.com>:

[2016-01-11 15:42] tmlmt opened #721 "RDP plugin fails to load"
Hello,
I decided to install the latest remmina version after having worked for a while with Remmina 0.9.99.1. I followed the instructions of the README file:
[code]
But when I run remmina, the RDP plugin fails to load:
[code]
Here are different outputs:
[code]
I am running Xubuntu 14.04.3 on an i686 machine.

[2016-01-11 17:59] Njenkins93 commented on #721
Had no issues until upgrading this morning, I get pretty much the same error-
Failed to load plugin: /usr/lib/x86_64-linux-gnu/remmina/plugins/remmina-plugin-rdp.so.
Error: libfreerdp.so.1.2: cannot open shared object file: No such file or directory

Running Mint 17.3 Rosa

[2016-01-11 18:13] giox069 commented on #721
@dktrkranz I think remmina for trusty is looking for the old freerdp1.2 instead of the new 2.0 updated today in trusty PPA. Is it possible ?

[2016-01-11 19:02] dktrkranz commented on #721
It wasn't rebuilt against latest FreeRDP yet. I manually requested a build, version 1.1.2-ppa1+818+next+201601111841~ubuntu14.04.1 will link against 2.0

[2016-01-11 19:14] giox069 commented on #721
Thank you @dktrkranz. I just did an `apt-get update` and `apt-get upgrade` on 14.04.3 and now it works.

[2016-01-11 19:24] Njenkins93 commented on #721
Affirmative, I can also attest that it is working now. Thank you very much!

[2016-01-11 19:26] #721 closed

[2016-01-11 23:57] antenore commented on #125
I think this is not a Remmina issue, but your desktop manager that trap the Alt+F4 shortcut.
Check your DM settings and change ALT+F4 with something else and let me know.

[2016-01-12 07:34] giox069 commented on #125
Or... on the connection window toolbar, you have a keyboard icon. Just press it, and remmina will try to capture all keyboard events which are usually forwarded to the window manager. Let us know.

[2016-01-12 12:55] marcominetti commented on #117
Thanks @antenore... I'll take a look at your plugin during the weekend...

[2016-01-12 12:58] montechristos opened #722 "Bug: unable to connect through gateway since 1.2.0-rcgit.8"
I have been using Remmina for some time now on Mint.
Yesterday I updated to the latest version 1.2.0-rcgit.8
Since, I am unable to connect through the gateway. The application seems to ignore it.

Thanks in advance
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29802601-bug-unable-to-connect-through-gateway-since-1-2-0-rcgit-8?u

[2016-01-12 14:33] zajc commented on #556
I found out the connection why the clipboard between RDP sessions and host sometimes doesn't work on my computer (Ubuntu 15.10, Remmina 1.1.2 or 1.2). If I use VirtualBox, clipboard stops working. If I turn off the Virtualbox and Remmina and then start Remmina again the clipboard works again. I hope this helps somebody.

[2016-01-13 00:54] cmayoros commented on #722
I've got the same issue. My company has the option to work remotely, I did so all day today. After work, I installed updates on my system, which included 1.2.0-rcgit.8 as well, and now when trying to connect, it fails every time. It just gives me and error that says "Unable to connect to RDP server ..." Just glad I didn't install updates until after work. BTW, I checked in a Windows VM, and was ab

[2016-01-13 06:12] giox069 commented on #722
We don not currently have a RDP gateway to test, we will try to find one as soon as possible. Could someone please test the connection using the commandline xfreerdp ? (I think the commandline option for xfreerdp is "/g:...").

[2016-01-13 06:22] karmacoma92 commented on #722
Hi there

something similar happening to me. As far as I can see in the logs it was working properly with

remmina-plugin-rdp:amd64 1.1.2-ppa1+809+next+201512191532~ubuntu14.04.1

but stopped working with

remmina-plugin-rdp:amd64 1.1.2-ppa1+809+next+201512191532~ubuntu14.04.1

when I run the command you mentioned I get

reeopp@elxc5q9q12-za:~$ xfreerdp /g:
xfreerdp: error while loading shared lib

[2016-01-13 06:39] giox069 commented on #722
@karmacoma92: your xfreerdp is unable to load an important library and maybe remmina is having the same problem. You should see the same error by executing remmina from the commandline. Please do the following:
1. Update your system in the usual way
`sudo apt-get update && sudo apt-get dist-upgrade`
We had some problem with the PPA yesterday, and you can be one of the people that downloaded a wron

[2016-01-13 06:50] karmacoma92 commented on #722
Hi giox069

1.- No new package updated/upgraded after running the common updating commands :-(
2.- Exactly same error when executing the xfreerdp command
3.- This is the output of the command
dpkg --list "freerdp*"
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ N

[2016-01-13 07:15] giox069 commented on #722
Yes, correct. We recently upgraded freerdp from the February version (1.2) to a December version (2.0) in the PPA.
Can you also post the output of `dpkg --list "*freerdp*"` ? I forgot an asterisk.
Do you really need the freerdp-sipe package ? If you can remove it, then remove it.
After you get the full "*freerdp*" list of packages, you should try to remove and reinstall it with something similar:

[2016-01-13 07:31] karmacoma92 commented on #722
Hi Giovanni
Here you have the output:
[code]
I'm using freerdp-sipe for pidgin sip so unfortunately I cannot uninstall it...

it is in fact leading to problems since there seems to be a conflict when trying to re-install the libfreerdp

[code]

Not so sure what to do, maybe uninstall sipe, reinstall libfreerdp and then  reinstall sipe?

[2016-01-13 07:37] giox069 commented on #722
Try to understand if sipe can live without the freerdp plugin: try to uninstall all listed *freeerdp* packages and see if sipe complains or not.
Then yes, try to install in the reverse order as you suggested.

[2016-01-13 07:58] karmacoma92 commented on #722
Ok, I finally made it working, I had to

1.- Uninstall libfreerdp and lifreerdp plugins as you mentioned before

```sudo apt-get --purge remove libfreerdp1 libfreerdp-plugins-standard remmina-plugin-rdp```

2.- Uninstall freerdp sipe

```sudo apt-get --purge remove freerdp-sipe```

3.-  Uninstall libwinpr0

```sudo apt-get --purge remove libwinpr0.1```

4.- Install libfreerdp and plugins

```sudo

[2016-01-13 08:03] giox069 commented on #722
@karmacoma92 You're welcome.
I'm leaving this issue open waiting for comments from @montechristos and @cmayoros. Maybe they have different issues.

[2016-01-13 08:27] karmacoma92 commented on #722
Fully agree :-D

//Oscar

[2016-01-13 11:30] maMykola commented on #657
After last update of remmina and ubuntu (14.04.3 LTS) rdp protocol disappeared from the list.

after executing the following commands:

no rdp protocol in the list

[code]

[2016-01-13 12:21] maMykola commented on #657
After several tries, I remove remmina and plugins. I found folder /opt/remmina_devel that has also removed. Then I install remmina and rdp appeared in the list!!!

[2016-01-13 12:27] giox069 commented on #657
Ok, thank you @maMykola. I'm closing this issue now. It's old enough to be forgotten :)

[2016-01-13 12:27] #657 closed

[2016-01-13 16:52] montechristos commented on #722
It didn't work for me:

followed the instructions of @karmacoma92
Still the same problem

Please instruct me how to send the logs, as I am not a very advanced linux user...

[2016-01-13 22:09] evilhamsterman commented on #711
This sounds like the same idea as #660

[2016-01-13 22:13] evilhamsterman commented on #660
I +1 this. I have a large number of servers and services I access that all use my AD credentials. I'm required to change my password quarterly so it is very annoying everytime I have to reset the password in each server settings. [RoyalTS](http://www.royalapplications.com/ts/win/features) which I have used on Windows does this very well, you can define credentials at a global level and then folder

[2016-01-13 22:57] AsmGuy commented on #711
Yes, you're totally right: it's the same thing.

[2016-01-14 00:45] cmayoros commented on #722
I've followed the steps above without success. I was able to use xfreerdp to connect running it as follows:
xfreerdp /g:<gateway.server> /v:<my.company.pc>

It then prompted me for my username, domain & password and I was then logged into my work pc.

The output from dpkg is as follows:
dpkg --list "freerdp*"
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf

[2016-01-14 01:38] pandidan commented on #708
Hi there,
I've the same issue on my Ubuntu 15.10 and libsecret-1-0 was already installed. I can save RDP passwords without any problem but It's not the same about SSH passowrds. "Save SSH password" is grayed out, Any ideas?
Thanks

[2016-01-14 02:12] MagiCarbon commented on #708
@pandidan hi, i've tried tons of Linux Distributions in my VMware. but all not working :(

[2016-01-14 08:29] fuziko opened #723 "RDP session is dropped from time to time, reproducible situation."
Hello there!
1. Sorry for my English :)
2. Trouble that my RDP-session is periodically dropped and i suppose course Reminna or FreeRDP got some packet that can't be processed without error that affect remote connection to remote server.
It reproducible situation and i can create some debug logs if you say how to enable it.
Also i can enable debug logs on my destination remote managed PC for full v

[2016-01-14 12:00] bw1945 commented on #710
Unfortunately, I hastened to rejoice. Today again the same story. All I
apply updates in a timely manner.
Thank you

2016-01-11 16:17 GMT+02:00 Валентин Бочаров <bw1945@gmail.com>:

[2016-01-14 12:11] ivoshm commented on #125
giox069: I overlooked this possibility (icon of keyboard was not enough intuitive for me). My problem is solved, thanks.

[2016-01-14 13:32] giox069 commented on #125
You're welcome :)

[2016-01-15 10:21] havatv commented on #624
Microphone (and audio/sound) works for me on Ubuntu 14.04 with freerdp 2.0.0-dev when connecting to Windows server 2.12 R2 with the following command:

     xfreerdp /u:myusername /d:mydomain /sound:sys:alsa /microphone:sys:alsa /v:myhost.hosts.org

[2016-01-17 02:14] nakedhitman commented on #556
@zajc I think you nailed it. This was also affecting me when using the KVM Virtual Machine Manager (virt-manager). Closing virt-manager and reconnecting to the RDP desktop restored clipboard functionality for me. Thankfully, KVM allows the VM to run in the background without a client connection, since it was hosting the VM I wanted to connect to :P

Is there anything that Remmina/FreeRDP can do to

[2016-01-17 08:51] giox069 commented on #710
@bw1945: I'm moving this discussion to issue #723

[2016-01-17 08:51] #710 closed

[2016-01-17 08:55] giox069 commented on #723
@fuziko @bw1945: Yes it happens also to me. I started a new code branch called "reconnect", and I hope in a week or two to have an automatic reconnection method supported (as the microsoft client does under windows).
The disconnection problems seems to be inside freerdp. Could someone test
[code]
and see if disconnect as frequently as Remmina ?

[2016-01-17 12:45] luca-e commented on #723
Hi Giovanni,
I had the same issue. According to the first tests, this freerdp patch seems to fix it (Linux Mint 17.3, freerdp and remmina from remmina-next repository):

https://github.com/bmiklautz/FreeRDP/commit/81e42c7ed0e13e39c95ce02d08000dd460aebdca

Tomorrow I'll do more extensive testing and let you know.

[2016-01-17 13:18] giox069 commented on #723
@luca-e thank you for pointing to that patch.
Raising from 4 to 60 seconds TCP_USER_TIMEOUT will be a good solution for WAN links, where you can experience connectivity loss more frequenlty than in LAN.
But there are some unclear things here:
1. my remmina and freerdp detects a timeout after 30s, not 4s. I think the current timeout is 30s because the TCP_USER_TIMEOUT macro is not defined. 30s is e

[2016-01-17 13:43] bw1945 commented on #723
10.xx.xx.xx remote WAN host.

bw@BwUb:~$ xfreerdp /v:10.xx.xx.xx:3389 /u:bvv@xx.net /d:xx.net /monitors:1
/f
[14:31:34:363] [8056:8057] [WARN][com.freerdp.core.nego] - Error:
SSL_NOT_ALLOWED_BY_SERVER
[14:31:34:473] [8056:8057] [WARN][com.freerdp.core.nego] - Error:
SSL_NOT_ALLOWED_BY_SERVER
[14:36:17:753] [8056:8057] [ERROR][com.freerdp.core] -
ERRINFO_DECRYPT_FAILED (0x00001192):(a) Decryption u

[2016-01-17 22:32] jkldgoefgkljefogeg commented on #556
I can confrim the clipboard does not work when virtualbox 5.0.10-dfsg-2ubuntu1 and remmina 1.1.2-ppa1+819+next+2016011218 are both viewing Windows 7 (2 independent instances).

[2016-01-17 23:05] akallabeth commented on #707
This issue could be fixed with #728, remmina was not initializing static freerdp channels correctly.

[2016-01-18 09:24] markohrastovec opened #729 "Scrolled fullscreen mode does not work"
Hi,

I am using remmina 1.2.0-rcgit.8 in Ubuntu. I have problems using "Scrolled fullscreen mode" for vnc. In fact it works identically as "Viewport fullscreen mode". In the past, the scrolled mode showed only a portion of screen and I was able to scroll. My friend is using older version 0.9.99.1 and he can use scrolled mode.

It is pretty annoying because I connect to a screen with 2048x2048 reso

[2016-01-18 11:22] markohrastovec commented on #729
Sorry for this one. It was my fault because I mixed up scrolled mode and scaled mode. I can achieve what I want with scaled mode. False alarm.

[2016-01-18 11:22] #729 closed

[2016-01-18 11:24] montechristos commented on #722
Any update? Something I can do to help?

PS: got the latest updates but still the same problem...

[2016-01-18 11:37] bw1945 commented on #723
We continue to fall ... :(
Thank you!

2016-01-17 15:43 GMT+02:00 Валентин Бочаров <bw1945@gmail.com>:

[2016-01-18 14:20] morfeus929 opened #730 "Clipboard doesn't work"
Clipboard doesn't work when I use RDP from Ubuntu - to Windows.

[2016-01-18 14:31] morfeus929 commented on #730
Even if it sometimes work just for text, it doesn't work with files at all.

[2016-01-18 15:59] skwd commented on #684
FreeRDP fix the issue in the last release with PR #3046 https://github.com/FreeRDP/FreeRDP/pull/3046

[2016-01-18 17:21] luca-e commented on #723
@giox069 Maybe there are multiple causes under this issue.
Anyway in WAN environments the above patch seems to be a huge improvement. Today I tested it on 6 different clients connecting to 2 different servers (all WAN connections, as you correctly pointed out). Before the patch all the clients were disconnecting every 2-3 minutes. After the patch we saw no disconnections in 8 hours.
@bw1945 Did yo

[2016-01-18 17:52] bw1945 commented on #723
Unfortunately I do not know ...  :(

2016-01-18 19:21 GMT+02:00 luca-e <notifications@github.com>:

[2016-01-18 18:31] bw1945 commented on #723
Tell me please, is there any explanation for that a few months ago,
connection problems were not?
Thank you.

... and will learn how to apply the patch :)

2016-01-18 19:52 GMT+02:00 Валентин Бочаров <bw1945@gmail.com>:

[2016-01-18 19:27] luca-e commented on #723
@bw1945 Assuming you are using Remmina Next repository, you can follow this procedure to create the patched .deb
Disclaimer: My experience with Debian packages is near zero! So I would gladly accept any hints from more experienced users.
[code]

[2016-01-18 21:03] antenore commented on #723
:+1:  kudos for this discussion to everybody! Really cool!

[2016-01-18 21:05] antenore commented on #730
Can you please provide the remmina and freerdp version?

[2016-01-19 09:36] bw1945 commented on #723
Many thanks for your help and attention!
I began implementation of your instructions and received an update Remmina.
Performed. But how do I deal with your updates after installing the patch?
Thank you.

2016-01-18 23:03 GMT+02:00 Antenore Gatta <notifications@github.com>:

[2016-01-19 10:36] luca-e commented on #723
@bw1945 If you confirm that the patch fixes your issue, I guess we can ask @dktrkranz (who is managing freerdp packages on remmina-next repo) to include the patch in the next freerdp updates (it's a really simple patch and the chance of regressions are almost zero), but obviously this is @antenore 's call.

[2016-01-19 10:45] giox069 commented on #723
I don't think rising a timeout will be the right solution: the user will wait with a frozen desktop for more than 30 seconds without understanding what's happening.
You can patch your local copy for higher timeout, but for the official PPA it will be wiser to wait for the full reconnect procedure (which will include warning the user of connectivity loss).

[2016-01-19 10:53] giox069 commented on #723
And in the meanwhile, @bw1945, check if you can persist across disconnection with the internal freerdp support for autoreconnection:
[code]
In these days I'm deeply investigating in
1. Disconnection causes. I'm digging inside the freerdp code to find out where the error is detected to generate better logging, but it's hard to find, because sometimes I have no disconnections for hours.
2. Making re

[2016-01-19 10:57] bw1945 commented on #723
Indeed, today reconnection takes 3-5 seconds, almost no effect on the
efficiency of my work. Increasing the time to 30 seconds - unacceptable at
the frequency with which the discontinuities are now.

2016-01-19 12:45 GMT+02:00 Giovanni Panozzo <notifications@github.com>:

[2016-01-19 12:09] luca-e commented on #723
@giox069 As you say, raising the timeout value is a rather controversial choice (see https://github.com/FreeRDP/FreeRDP/pull/2936 ). Freerdp is going for a 16 secs timeout which can be a good tradeoff ( https://github.com/FreeRDP/FreeRDP/pull/3015 ). Anyway having Remmina autoreconnect would be great.

[2016-01-19 14:55] bw1945 commented on #723
@giox069 today do not work remotely.
Run the command to test:
xfreerdp /v:10.xx.xx.xx:3389 /u:bvv@xx.net /d:xx.net / monitors: 1 + auto-reconnect
 Behaves well :)
The connection is restored quickly.

Sorry for the repetition, but will not help if you analyze WHY the problem of frequent disconnection appeared not so long ago?

@luca-e seems version of the package does not correspond to the patch:
b

[2016-01-19 20:08] morfeus929 commented on #730
No remmina -v not remmina --version can't show the version. It should be the last available from your ..next repo.

[2016-01-19 20:25] antenore commented on #730
So you have an old version of remmina, because these options has been added by the commit 3e92940d

Follow the wiki to update it https://github.com/FreeRDP/Remmina/wiki and let me know how it goes (remove all the packages you have of remmina and freerdp before to install the new one)

[2016-01-19 20:34] giox069 commented on #730
I have just noticed that `remmina --version` works only when remmina is not running (whe should fix that). So kill remmina before running `remmina --version`, with `killall remmina`.
Or use the help->about dialog inside the remmina application.

[2016-01-19 21:15] antenore commented on #730
It works indeed, but you will see it in the Remmina stdout.
Start remmina from the command line and then, from another shell execute

```remmina -v```

and you will get the version.
We should see if we can redirect the output to the current STDOUT.

Let 's open a new issue about this if it makes sense to fix it (for example opening a gtkdialog or teh about dialog).

Good catch btw, thanks Gio.

[2016-01-20 07:59] luca-e commented on #723
@bw1945 please check if you are really using remmina-next repo. As you can see here: https://launchpad.net/~remmina-ppa-team/+archive/ubuntu/remmina-next freerdp version is 1.2.0~git20151218+dfsg-0

[2016-01-20 08:04] giox069 commented on #723
@bw1945 I know the problem appeared not so long ago. But I have no idea when and why. I'm still tracking the problem, and now it seems related to openssl BIO_read routine returning an invalid value... (the code is in funciotn transport_read_layer() of libfreerdp/core/transport.c)...
I'm stilli investigating. If anyone could help in digging inside openssl and socket code, recompiling and testing, a

[2016-01-20 11:36] zajc commented on #556
The workaround in Ubuntu is to run headless Virtualbox VM (shift+START button) and access it via Remmina (RDP). The clipboard works fine after.

[2016-01-20 11:53] bw1945 commented on #723
@luca-e I set repository:
http://ppa.launchpad.net/remmina-ppa-team/remmina-next/ubuntu

@giox069  I believe that the problem occurs near the beginning of November 2015.
Unfortunately, my expertise is not sufficient for effective self-digging :)

Today I worked remotely. Connection valilos not rising automatically many times:

bw@BwUb:~$ xfreerdp /v:10 ... /monitors:1 /f +auto-reconnect
[12:49:40:

[2016-01-20 12:12] giox069 commented on #723
@bw1945 the error reported by freerdp means that you are trying to connect to a server which does not support SSL. Try to add to the freerdp commandline `/sec:nla` or `/sec:rdp`

[2016-01-20 12:59] bw1945 commented on #723
@giox069 Thank you. Apply / sec: rdp.
But I was referring to the fall of error:

bw@BwUb:~$ xfreerdp /v:10... /monitors:1 /f +auto-reconnect /sec:rdp
[14:19:58:109] [18710:18711] [ERROR][com.freerdp.core] - freerdp_check_fds() failed - 0
[14:19:58:109] [18710:18711] [INFO][com.freerdp.client.x11] - Network disconnect!
[14:19:58:109] [18710:18711] [INFO][com.freerdp.client.x11] - Attempting reconne

[2016-01-20 17:55] giox069 commented on #723
Clipboard: I can't understand well your question... but I know that xfreerdp has clipboard disabled by default. You must add "+clipboard" to the commandline. But this is off topic in this discussion :)
I'm still doing disconnection testing and I have reached some two other results:
1. With current libfreerdp socket settings it seems that if only a single TCP keepalive packet get lost, the kernel w

[2016-01-20 20:01] bw1945 commented on #723
@giox069 In my opinion it is a good idea.
3.13.0-48-generic
"... If you can, test remmina with an older kernel/distribution..." - I do not know ... How? :(
Himself too long to understand..

And
 I'm sorry but thank you :)

[2016-01-21 15:53] weberhofer opened #732 "Currently rdp_event.c.o can not be built"
Do I miss a library here? Any hint?

[code]

[2016-01-21 17:43] giox069 commented on #732
No idea. The missing library is Xorg related. Are you compiling under Wayland or Mir ?

[2016-01-22 13:00] morfeus929 commented on #730
my version:
Version 1.2.0-rcgit.8
It's the last version as I can see.
Text clipboard works last few days.
Tell me please if it's possible to use clipboard for file transfer? RDP on Windows can do it.

[2016-01-22 13:09] antenore commented on #730
This is (file clipboard transfer)something I've often issue with as well, and it depends on FreeRDP and not Remmina.

There is a lot of discussion regarding the clipboard in the last days.

Please be patient.

@giox069

[2016-01-22 13:38] antenore commented on #685
Which version of Remmina do you have? Bodhi does not provide a Remmina package.

[2016-01-22 18:24] giox069 commented on #723
@bw1945 read my last post on https://github.com/FreeRDP/FreeRDP/pull/3015. And the proposed solution/workaround is still raising TCP_USER_TIMEOUT.
When the freerdp team will merge the pull request, I will update the remmina-next PPA so all ubuntu users will receive the updated freerdp package automatically.
In the meanwhile the autoreconnect feature is under development.

[2016-01-22 18:43] bw1945 commented on #723
@giox069 Ok. Thank you.

[2016-01-22 20:28] liviudelureanu opened #736 "The image of the commented text from an SQL editor is mallformed"
Hi!
I use Remmina 1.2.0-rcgit.8 on Linux Mint 17.1 Rebecca.

My problem is that the image of the commented text from an SQL editor is mallformed in Remmina.
For example,I'm using TOAD for Oracle SQL/PL-SQL editor on the remote Windows 7 PC.
In SQL/PL-SQL language, you may make comments in code in two ways:
1. with -- for single line comment
2. with /* ... */
 / *
  _for more lines
  comments_
*/

[2016-01-22 21:10] giox069 commented on #736
Hi @liviudelureanu, thank you for reporting.
The drawing code for remmina is undergoing to a huge change, and I think it will be totally redone in a couple of week. In the meanwhile can you test it using xfreerdp from che command line
[code]
and
[code]
It will help us in discovering if the problem is in libfreerdp or remmina.

[2016-01-23 00:08] cmayoros commented on #722
Updated today, version 1.1.2-ppa1+824. Still not working. Any further debugging I can help with?

[2016-01-23 12:43] giox069 commented on #722
anyone could give me a test account reachable via a public IP address ?

[2016-01-23 17:07] cmayoros commented on #722
Unfortunately I cannot. The connection I'm using is to my computer at work. I don't have any options to create new logins for you to test with. Is there a way I can log more information for you to figure out what's going on?

[2016-01-24 08:24] liviudelureanu commented on #736
Hi!
Thans for your fast reply!
I've tried also with
   xfreerdp /v:hostname /u:username /d:domain
and
   xfreerdp /v:hostname /u:username /d:domain /gdi:sw
but the result is the same: the image is not correctly reproduced.

[2016-01-24 14:14] giox069 commented on #736
It seems to be a FreeRDP problem. Can you post the output of
[code]
?
Thank you.

[2016-01-25 10:13] morfeus929 commented on #730
Yes.
I installed xreerdp uthing guide https://github.com/FreeRDP/FreeRDP/wiki/Compilation
and launched with command
xfreerdp +clipboard /size:1800x1000 /u:Sombra /p:TkHht4fFnNvv /v:52.10.202.173
Text clipboard works in both directions.
It would great to have file clipboard, as on Windows's native RDP implementation.

[2016-01-25 10:30] antenore commented on #730
Can you kindly comment on https://github.com/FreeRDP/FreeRDP/issues/2424 and https://github.com/FreeRDP/FreeRDP/pull/1732 it looks like it has been implemented, but not working anymore

[2016-01-25 10:43] antenore commented on #730
Also PR https://github.com/FreeRDP/FreeRDP/pull/2851 could improve things. @giox069 Do you think we can test that PR to validate that it works with Remmina?

[2016-01-25 10:54] MartinHaimberger commented on #730
@morfeus929 u posted ur WORKING password. Change password asap and dont post information like this ever again ...

[2016-01-25 11:02] giox069 commented on #730
@morfeus929 @MartinHaimberger: I have edited the post to hide it. But many people has already received your password and public IP via e-mail, so yes, change it immediately. :) :)

[2016-01-25 11:06] giox069 commented on #730
@antenore: https://github.com/FreeRDP/FreeRDP/pull/2851 seems to be limited to the xfreerdp client (we do not use it). So it's not useful to test it. It will be useful to recheck clipboard format support in remmina RDP plugin against that PR, but only to add new formats support.

[2016-01-25 13:14] morfeus929 opened #739 "remmia mailing list"
This is what I got today in a notepad:
Somebody: change ur password!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Me: Who is this?
Somebody: just change ur password
Somebody: look at the remmia mailing list

What a heck does it mean? How can I trust this app in future?

[2016-01-25 13:21] morfeus929 commented on #730
MartinHaimberger, sorry for that and thank you!!

[2016-01-25 13:22] #739 closed

[2016-01-25 15:52] liviudelureanu commented on #736
The version of FreeRDP is :
"This is FreeRDP version 2.0.0-dev (git n/a)"

[2016-01-25 22:32] montechristos commented on #722
Same here. It still doesn't work and I cannot share the account at work

Can't you install M$ remote gateway on a VM? Sorry, don't know how to do it
On Jan 23, 2016 6:07 PM, "Chris Mayoros" <notifications@github.com> wrote:

[2016-01-25 22:52] #732 closed

[2016-01-26 08:45] Mad-Onion commented on #715
I would love to have Remmina open the connection in the correct resolution to fit the tabbed main-window. This way you can use the tabbed view and wouldn't have to scale down anything.

I hope it is clear what I mean ;-)

[2016-01-26 09:17] MrDetonia commented on #237
I have this exact issue in version 1.1.1-2 on Debian 8.

[2016-01-26 09:40] weberhofer opened #744 "Latest version of remmina segfaults when closing remmina's main windows while having an open connection"
Jan 26 10:34:33 c-web1 kernel: remmina[11681]: segfault at 38 ip 00000000004203ef sp 00007ffe21137280 error 4 in remmina[400000+50000]

[2016-01-26 09:58] giox069 commented on #744
Unfortunately I'm unable to reproduce it under ubuntu. Can you post a backtrace ?
Start remmina from the commandline with `gdb remmina`, when it crashes, type `bt` and paste here the output.
Thank you for helping.

[2016-01-26 10:38] weberhofer commented on #744
How do I generate debug-code? My binaries are all stripped.

[2016-01-26 10:40] giox069 commented on #744
In cmake, add `-DCMAKE_BUILD_TYPE=Debug`. Works for both Remmina and FreeRDP.

[2016-01-26 11:01] giox069 commented on #237
I have just installed a fresh Debian 8.3, installed gnome, installed the stock remmina 1.1.1-2, and I'm correctly connecting to my freerdp PC published on a nonstandard port, using `hostname:port` in the server name
So please check the following:
 * Try to run remmina from a terminal, and see which error you see. Post the error here if you need further help.
 * Check that all firewalls from your r

[2016-01-26 12:21] MrDetonia commented on #237
I can confirm that ports are open or correctly filtered between me and the server. I will get that error message in a few hours when I'm back home.

[2016-01-27 08:03] akallabeth commented on #744
maybe a race in the current cleanup code for rdp connections. struggled with simmilar issues for #733

[2016-01-27 09:25] vadi2 opened #745 "Unable to Control-drag inside OSX"
I'm connected to OSX remotely and I'm unable to Control-drag inside it - Control does not seem to be recognised.

[2016-01-27 10:03] virtkit commented on #697
Have you tried to enable sound? We have had that issue with terminal server windows server 2008. After enabling local sound (despite not needing it) the printer worked. Without enabling sound the printer wouldn't connect. Give it a try.

[2016-01-27 10:09] virtkit commented on #718
An alternative is to rsync the connections after each restart of the client. I setup a ssh server and after restarting the client the pull all the remmina settings back from the server, resetting all the connections. This way the users can still change settings (if there is temporarily need to) but after a reboot the will be back to normal. This solution has nothing to do with remmina itself but i

[2016-01-27 10:11] virtkit opened #746 "Feature Request: After Command (opposite to precommand)"
I like to be able to execute a command after terminating a connection. Like the "pre command" before a connection is established I would like to execute a script after the connection is terminated/disconnected. Is that duable?
Cheers
Dan

[2016-01-27 12:33] blahule opened #747 "Unable to connect to remote desktop after last update, error (SIGSEGV)"
Hi, after last update I cannot connect to remote desktop. Please help.
It writes error (SIGSEGV)
I have installed your repository ppa:remmina-ppa-team/remmina-next and i did update with apt-get update and apt-get upgrade.

Here are informations.

lsb_release -rd
Description:    Ubuntu 14.04.3 LTS
Release:    14.04

dpkg --list "_remmina_"
ii  remmina

[2016-01-27 13:15] giox069 commented on #747
Thank you @blahule for reporting. Unfortunately I'm unable to reproduce it, so I need more help from you:
1. The"bt" trace unfortunately lacks of remmina function names. Can you try to install the packages "remmina-dbg" and " libfreerdp1-dbg" (`apt-get install remmina-dbg libfreerdp1-dbg`) and recreate the backtrace ?
2. Which server are you connecting to ? And which settings are you using ? (colo

[2016-01-27 14:24] weberhofer commented on #744
Starting `gdb remmina` results in something like
[code]
But I don't see a remmina window. Any hint?

[2016-01-27 14:29] giox069 commented on #744
type
   run
to start remmina :)

[2016-01-27 14:40] antenore commented on #746
I've just implemented it in another branch https://github.com/FreeRDP/Remmina/tree/postcommands

I took advantage of it to clean a bit the code, so we need to test it before to merge it.

Can you please test it? For any troubles let us know.

In the next says I'll try also to fix some minor issues.

[2016-01-27 14:44] weberhofer commented on #744
Ahhh... here it is:

Program received signal SIGSEGV, Segmentation fault.
0x00000000004203ef in remmina_connection_holder_on_page_removed (notebook=<optimized out>, child=<optimized out>,
    page_num=<optimized out>, cnnhld=0xbdea20) at /usr/src/debug/Remmina-1.1.99.git.20160126/remmina/src/remmina_connection_window.c:2505
2505		if (gtk_notebook_get_n_pages(GTK_NOTEBOOK(cnnhld->cnnwin->priv->note

[2016-01-27 14:49] giox069 commented on #744
and then, you can type "quit" to exit, if I'm not wrong :)

Thank you for the report. The problem seems to be somewhere in  remmina_connection_holder_on_page_removed(). I willl take a look later.

[2016-01-27 14:51] giox069 commented on #744
Just another question: which version of GTK+ are you using ?

[2016-01-27 14:54] weberhofer commented on #744
Installed are:
libgtk-2_0-0-2.24.29-5.2.x86_64
libgtk-3-0-3.16.7-5.1.x86_64

[2016-01-27 16:20] virtkit commented on #746
I am pretty new hear, how can I test it? Just downloading the newest version or what I am supposed to do?
Cheers Dan

[2016-01-27 16:31] antenore commented on #746
Depending on your Linux distribution, you follow

https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-14.04-and-14.10

or

https://github.com/FreeRDP/Remmina/wiki/Compile-on-Fedora-20

You have only to adapt the git url to use from https://github.com/FreeRDP/Remmina.git -b next to

[code]

[2016-01-27 16:40] sanlostsoul commented on #718
@virtkit
great idea! But, I'm sorry, I'm not familiar with SSH and surely less about SSH server, a little with rsync. If my request will be satisfied, both solutions can be used together, to always get maximum security of the connections list. Thank you for your reply, I'll try to build the config you're suggesting. Have you time until the world ends? :)

[2016-01-27 16:44] virtkit commented on #718
I am pretty new to github myself but if you need help send me a mail (can you send me private messages) I can write you a manual. We implemented this long ago in my company.

[2016-01-27 17:53] sanlostsoul commented on #718
Really, I'm sorry but I don't know how send you a private message here (and how retrieve your email address). I'm feeling so silly.. I'm interested to your "manual", so can you write to me at san.lostsoul_[at]_gmail.com ? (don't care about this, it's a "public" address). Thank you indeed. Mauro

[2016-01-27 20:06] vadi2 commented on #745
Using the built-in Keyboard Viewer, I see that Control is recognised when I press it - however Control-drag still does not work, using 1.2.0-rcgit.8.

Does anyone else have the same issue?

[2016-01-27 23:43] ComputingFroggy commented on #685
Bodhi uses Ubuntu 14.04 repository, so I have Remmina 0.9.99.1

[2016-01-27 23:54] antenore commented on #685
That is really toooooo old for us, please follow our wiki to update Remmina from the PPA.

[2016-01-28 04:17] fuziko commented on #723
Hello All and especially Geox069!

0. I will on hard work last week and can't answer, sorry.
So now i'am back in standart rhytms and can check all you wrote and answer to questions.

1. "The disconnection problems seems to be inside freerdp. Could someone test
xfreerdp /v:hostname /u:usermame /d:domainame
and see if disconnect as frequently as Remmina ?"

AND NOONE disconnect (visually), with opti

[2016-01-28 08:58] antenore commented on #745
Looks like is a known issues with most of the VNC server implementations (you are connecting through VNC, right?) that don't translate correctly to XCode, even if you see from the keyboard viewer that the ctrl has been  pressed.

I'm investigating on libvnc (what we use in remmina), to see if there is a workaround, but I doubt it's something we can fix in Remmina.

[2016-01-28 09:54] vadi2 commented on #745
It's RDP actually - but I've tested it using the Remote viewer in Windows, and it had the same problem. So I think Reminna is OK here actually!

[2016-01-28 10:38] blahule commented on #747
Hello, thank you for fast reply. I am connecting to computer with Windows 7 system. Color depth high color 32bpp, no sound, quality lowest, resolution of client, no printers, everything in default settings.

Here is backtrace

Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffc975d700 (LWP 5104)]
0x00007fffdb9bf1af in remmina_rdp_main (gp=gp@entry=0xad47b0)
    at /bu

[2016-01-28 10:43] morfeus929 commented on #730
Ok, so when can I expect working file clipboard on Remmina?

[2016-01-29 11:05] blahule commented on #747
In last message i forgot describe that I am connecting to RDP protocol on server Windows 7.
Thank you :-)

[2016-01-29 19:53] Link-Satonaka opened #750 "FreeRDP Multitouch"
FreeRDP has the /multitouch switch and Remmina doesn't appear to use it nor does there seem to be an option to enable it.

Please implement this!

[2016-01-30 15:28] a-war-of-gifts opened #751 "RDP Plugin Not Found"
Hey guys,

I followed the guide for compiling remmina on 14.04 and when I try to run remmina from command line, it gives me the following error:

[code]

I saw a similar problem where updating and upgrading fixed the issue, but it didn't work for me. I checked and the `libfreerdp.so.2` file in question most definitely exists in opt/remmina/devel/freerdp/.../, and I'm at a loss for how to fix it. I

[2016-01-30 17:05] ComputingFroggy commented on #685
I have added the ppa and I am now running v. 1.2.0-rcgit.8.

But the problem is still there
Here is what I get when I paste from Remmina session to one my Linux program:
=== begin text ===
l'Ã©tÃ© aux Muriers
et Ã  NoÃ«l dans l'abÃ®me.
=== end  text ===
when copying this :
=== begin text ===
l'été aux Mûriers
et à  Noël dans l'abîme.
=== end  text ===

Any ideas on how to solve that ?

Cheers,
L@u

[2016-01-31 19:41] giox069 commented on #751
Check step#7 of the guide: the path `/opt/remmina_devel/freerdp/lib` may be wrong, because it changed with newer versions of freerdp. You should change it with the direchtory where libfreerdp*.so files are located.

[2016-01-31 20:56] antenore commented on #750
This is more @giox069 domain, but he is quite busy solving some urgent problems.
Be patient or if you have some coding experience feel free to help us, we can help you if you are interested.

[2016-01-31 20:59] giox069 commented on #744
Fixes have been published on the next branch.

[2016-01-31 21:10] a-war-of-gifts commented on #751
Thanks for the response!
`/opt/remmina_devel/freerdp/lib` is correct. I the directory in changed step 7 to `/opt/remmina_devel/freerdp/lib/x86_64-linux-gnu/` just to be sure, but I still got the same error.

[2016-02-01 01:44] gcastell1969 opened #753 "Remmina closes unexpectedly"
Linux mint (17.3), kernel 3.16.0-38-generic x86_64, and I use remmina 1.2.0-rcgit.8 (git n/a).
Connect to windows 7 machine.
Not always but I think when I got a browser open (firefox, chromium), which is almost all the time, remmina closes without sending error messages; most of the times I loose  the remote session.
When I minimize remmina, it's like I press the close button, not the minimize but

[2016-02-01 13:01] ComputingFroggy opened #754 "No more keyboard when switching out of remmina"
Hi,

Following the advice to get a latest version of remmina because of [another problem](https://github.com/FreeRDP/Remmina/issues/685), I switched to v. 1.2.0-rcgit.8.

My problem is that now when I switch from remmina to any another local program, when I switch back to remmina, the keys (from the keyboard) are not read anymore.
As a workaround, I've found out, that if I launch the chat tool, th

[2016-02-01 13:01] weberhofer commented on #744
Thank you for the fixes - unfortunately it still fails:

[code]

[2016-02-01 13:17] ComputingFroggy opened #755 "one character wide for chat window"
Hi,

I am running Bodhi 3.1 (Ubuntu 14.04 derivatives using Enlightenment 17 as window manager).
In the chat window, the area where I type in is one (and a bit) character wide, this is not really handy to read what is being typed in.

Is there a way to change that ?

Cheers,
L@u

[2016-02-01 15:50] scottscreations commented on #754
This is happening to me as well, latest version.

[2016-02-01 16:27] a-war-of-gifts commented on #751
Glox, Thanks for your assistance. Your suggestion about changing step 7 ended up being correct after all. I ended up removing everything I had compiled previously, and starting over from the beginning. However, I changed the path in step 7 to `/opt/remmina_devel/freerdp/lib/x86_64-linux-gnu/`and continued with the rest of the steps, and it worked.

If you've already completed the guide and try to

[2016-02-01 16:35] antenore commented on #754
@scottscreations VNC as well?

[2016-02-01 16:43] antenore commented on #755
I'll take a look later.

[2016-02-01 17:42] nakedhitman commented on #556
The issue has reoccurred for me even without a VM client session running. RDP connections to desktops do not sync the clipboard. I uninstalled VirtualBox, KVM/libvirt does not have any VMs or clients running, and VMware Workstation is not running (kernel module not loaded). Any other thoughts on what might cause this? I am running OpenSUSE Tumbleweed x64.

[2016-02-01 17:45] scottscreations commented on #754
I've been using it today and it appears to be only on 2012 servers...i don't have a VNC server to test with.

[2016-02-01 19:22] giox069 commented on #744
I pushed another commit/fix. Thank you for your patience :) When you want, you can try to test.

[2016-02-01 19:58] ComputingFroggy commented on #754
For me, it's on all Windows I've come across Windows 7, 8, 10 !

[2016-02-01 20:37] antenore commented on #754
I cannot reproduce it. I work all the day long with different windows versions, with both RDP and VNC.

Can you pastethe output of each of the following commands (or equivalent of)?

[code]

[2016-02-01 21:04] antenore commented on #755
Which VNC server do you have? I use UltraVNC and TightVNC, but I cannot even start the chat session. It looks like is not supported/implemented.

[2016-02-01 21:10] scottscreations commented on #754
http://pastebin.com/DjmCie8C  hopefully this helps.

[2016-02-01 21:19] TNSC-DanB commented on #556
Same issue here, Ubuntu 15.10, newly built machine, issue existed with the Ubuntu version and exists now with the PPA version

[2016-02-01 21:21] TNSC-DanB commented on #556
Fixed by doing apt-get purge remmina and apt-get install remmina, now it works.  Previously when I switched from Ubuntu version to PPA version I just did apt-get remove and apt-get install.  Let's see if it sticks!

[2016-02-01 21:32] antenore commented on #754
I suspect you still have an old version of remmina (and its related libraries) laying around.

Can you both execute:

[code]
and than install again remmina and the plugins you need from the PPA.

I really hope that it helps

[2016-02-01 21:35] antenore commented on #746
Implemented

[2016-02-01 21:35] #746 closed

[2016-02-01 21:41] scottscreations commented on #754
@antenore it appears to be working, i'll keep testing. I appreciate the support. Love remmina.

[2016-02-01 21:56] antenore commented on #754
cool! Let me know in some days. Thx!

[2016-02-01 22:05] giox069 commented on #747
Hi @blahule, in the last 3 days I submitted many different patches for similar issues. Can you try, tomorrow, to upgrade remmina with the usual `apt-get update && apt-get upgrade` and re-test ? If it still crashes, please repost another backtrace.
Thank you.

[2016-02-01 23:30] antenore commented on #755
True, it's ridiculous! The chat window is something I never had the time to test correctly.

Be patient, I'll have to rewrite most of it.

[2016-02-02 00:29] antenore commented on #755
As I said I cannot test this, so I've modified the code without really knowing what will happens (well I wrote some testing code).

Can you please test it? It should be available in few hours in the PPA.

I also like to see some screenshots.

Thanks!

[2016-02-02 02:36] mgruben opened #756 "Can't SSH tunnel over Remmina (RDP)"
Hey there,

Am able to `ssh -L 9001:localhost:8444 tunnel@host -p 22` then connect in remmina to localhost:9001.

Am now unable to configure remmina to connect directly to host, even though I used to be able to (earlier version unknown?) with the following options:
`Server` host:8444
`Enable SSH tunnel`
`Tunnel via loopback address`
`Same server at port 22`
`SSH Authentication -- User name` tunnel

[2016-02-02 16:48] blahule commented on #747
Hi. i read your message now, I try it tomorow at work. Thank you

[2016-02-02 17:28] nakedhitman commented on #556
Turns out I was on an ancient version of remmina. Upgrading via a more up-to-date repository did the trick for me.

[2016-02-02 18:31] TNSC-DanB commented on #556
Randomly started happening to me again today.  Not sure what the trigger was, not running any other remote control or VM software on this machine.

[2016-02-02 19:49] ComputingFroggy commented on #755
Hi, I am running UltraVNC on the Windows machine.
I will update my Linux box and I will post screenshots.

[2016-02-03 08:01] ComputingFroggy commented on #754
Even, after removing and reinstalling, I still have the same problem.

I have pasted the results of the commands asked on [pastebin](http://pastebin.com/dSRF0bE8).

Cheers,
L@u

[2016-02-03 08:10] antenore commented on #754
Did you execute the purge? That's really important.

@giox069 I'm not a Debian/Ubuntu expert, can you advice @ComputingFroggy ? I think he has still something old installed.

[2016-02-03 08:15] antenore opened #757 "Buttons not shown inside RDP Advanced tab on smal screens"
After adding new options in the remmina_file_editor the buttons are not visible any more.

[2016-02-03 08:42] mahescho commented on #389
For me for all versions up to 1.1.2-ppa1+850 num lock state is not propagated to Windows 2012 servers in RDP sessions. I've num lock always on. when I type, numbers get typed. When I open a RDP session num lock is off in this session but outside (any other Linux application) it is still on. I've to press num lock one time in the RDP session to make it work there but then it is disabled outside of

[2016-02-03 08:44] mahescho opened #758 "NumLock in RDP sessions"
For me for all versions up to 1.1.2-ppa1+850 NumLock state is not propagated to Windows 2012 servers in RDP sessions. I've NumLock always on. when I type, numbers get typed. When I open a RDP session NumLock is off in this session but outside (any other Linux application) it is still on. I've to press NumLock one time in the RDP session to make it work there but then it is disabled outside of the

[2016-02-03 09:58] ComputingFroggy commented on #754
Yep, I did run the purge command.

[2016-02-03 10:41] blahule commented on #747
Hi, I am sorry, but it is still the same.
Here I send informations.

lsb_release -rd
Description:	Ubuntu 14.04.3 LTS
Release:	14.04

dpkg --list "remmina*"
===============================================================================
ii  remmina                                                     1.1.2-ppa1+850+next+201602030050~ubuntu14.04.1      amd64        remote desktop client for GNOME des

[2016-02-03 14:09] antenore commented on #758
Be sure you have selected the option "grab all keyboard events" in the Remmina toolbar

![remmina_toolbar](https://cloud.githubusercontent.com/assets/5975/12784553/17cce4b6-ca88-11e5-8cb8-12f5a64ff81c.png)

[2016-02-03 14:13] antenore commented on #756
Can you please try with xfreerdp from the command line? Just to see if it's a Remmina or a FreeRDP, because the SSH logs looks good to me!

[2016-02-03 14:15] mahescho commented on #758
Thanks, but this makes no difference.

[2016-02-03 14:30] weberhofer commented on #758
This never worked for me with older versions of remmina. For me, it started working with 1.2.x versions.

[2016-02-03 14:35] giox069 commented on #758
@weberhofer: there is a versioning problem on the "remmina-next" PPA: packages files name are "1.1.2*", but Remmina is really 1.2.X.
So, @mahescho, could you please check the real remmina vesrion using one of the following

- Menu Help -> About
- from the commandline, type `remmina --version`

Thank you

[2016-02-03 14:40] mahescho commented on #758
gui shows: 0.9.99.1
dpkg reports 1.1.2-ppa1+850+next
I use "ppa:remmina-ppa-team/remmina-next"

[2016-02-03 14:45] giox069 commented on #758
Ok, for some unknow reason, you are running the old version of remmina included with Ubuntu 14.04, and not the one in the remmina-ppa (1.2.0-rcgit8). Really I don't know why. Have you rebooted your PC at least one time after adding the PPA ? Try to uninstall all remmina packages and then reinstall them.

[2016-02-03 14:48] mahescho commented on #758
My fault, sorry for the noise ...

While I updated to the ppa version the wrong instance of remmina was still active in system tray. I failed to notice this. Now with 1.2 every thing works as expected. Thanks for the help and again sorry for the noise.

[2016-02-03 14:49] giox069 commented on #758
:+1:

[2016-02-03 14:49] #758 closed

[2016-02-03 14:51] giox069 commented on #747
Line 596 of rdp_plugin.c works with the hostname. Are you using a uncommon hostname (the "Server" field on the profile settings) ? Are there special characters in that Server field ? Or spaces at the beginning/end ?

[2016-02-03 16:37] weberhofer commented on #744
The issue is fixed now. I have recognized one difference compared to the time before I had the issue above: When I closed the main windows I kept having the symbol in the task-bar (or however it is called). Now closing remmina's main window immediately closes/clean up all the windows. Before I had also a taskbar-symbol, now there is a transparent image placed there.

[2016-02-03 17:47] blakev commented on #583
This is still an issue for me.

Host: xubuntu 15.10 x64
VM: Windows Server 2003/2008/2012

[2016-02-03 20:55] gcastell1969 commented on #753
Hi, this is new.
I try to connect using freerdp (xfreerdp /v:midomain.nnn /u:miuser /f)
And after a few minutes, it closes and give this:
[17:48:46:265] [5671:5672] [ERROR][com.freerdp.core] - freerdp_check_fds() failed - 0
[17:48:46:265] [5671:5672] [INFO][com.freerdp.client.x11] - Network disconnect!
[17:48:46:265] [5671:5672] [ERROR][com.freerdp.client.x11] - Failed to check FreeRDP file descri

[2016-02-03 20:55] #753 closed

[2016-02-03 21:07] #757 closed

[2016-02-04 02:20] mgruben commented on #756
Am successfully able to`ssh -L 9001:localhost:8444 tunnel@host -p 22`
then `xfreerdp /u:person@domain /v:localhost:9001`

Does `xfreerdp` have built-in ssh tunneling functionality?  If so, I'm happy to test that too.

[2016-02-04 02:57] mgruben commented on #756
More information about my setup:
`host` has an open ssh tunnel through another host (`otherhost`), which itself forwards to a third host (`finalhost`)

This is initiated from `otherhost` via the following command:
```autossh -M 0 -R 8444:finalhost.domain:3389 tunnel@host.global.ip.address -p 443 -N -o ServerAliveInterval=600``` which is itself a systemd service and timer pair as follows:

The serv

[2016-02-04 06:53] antenore commented on #756
The ssh tunnel part is quite broken, I'll work on it in the future.
In the meanwhile what about using the "Pre and Post command" option? You can provide the full path of a script (don't add any arguments) that will be execute just before and after the RDP connection.

[2016-02-04 09:21] giox069 commented on #744
For the "transparent icon" in the systray, you are probably launching remmina from commandline and you have a subdir called "remmina" inside the current dir. And you compiled remmina with libappindicators. The bug is reported here:
https://bugs.launchpad.net/ubuntu/+source/libappindicator/+bug/1363277

For the exact remmina closing procedure: yes, I changed it a lot with this commit:
https://githu

[2016-02-04 10:54] zuza07 commented on #389
Version 1.2.0 does not have this problem
https://github.com/FreeRDP/Remmina/wiki

[2016-02-04 10:54] #389 closed

[2016-02-04 12:33] mgruben commented on #756
I've saved in `~/client` the following `precommand.sh` (`chmod +x` as well):
`ssh -L 9001:localhost:8444 tunnel@host -p 22`
executing `./precommand.sh` successfully opens the desired tunnel in `xterm`
In `remmina`, I placed under "Pre Command" `/home/client/precommand.sh`
Upon clicking connect, I see Please Wait for at most a few seconds, then "Unable to connect to RDP server localhost"

[2016-02-04 14:07] antenore commented on #756
I've tested on my PC, but I don't have the same setup as your.

I've created a bash script with inside

[code]

Left is the local port and I used the standard RDP port
On the right the server RDP port, for me it's the standard one, again 3389.
127.0.0.1 is my local IP address, becuase I don't have an SSH server that can connect to the RDP server :-(

In remmina I've created a new profile.

Unlucky

[2016-02-04 14:13] giox069 commented on #756
@mgruben: just to clean up things and ensure that is not one of the freerdp certificate problems:
[code]
If you find a file named `known_hosts` here, delete it. You can keep `known_hosts2` as is, if you need it. But deleting also `known_hosts2` will be a good idea.

[2016-02-04 14:14] danboid opened #760 "SSH cursor and scrolling / display issues"
I am running remmina 1.2.0rcgit.8 under Arch Linux / MATE.

When I resize the remmina SSH terminal window above a certain horizonal width,  the cursor disappears under apps such as less and vim and there are redraw issues when you scroll up and down if there is more text than can be displayed vertically in the terminal. It can be fixed by making the remmina SSH window narrower.

I'm not sure exact

[2016-02-04 14:15] antenore commented on #756
I always forget about this :+1:

[2016-02-05 00:58] antenore commented on #756
I found the origin of the problem

[code]

Beside that the local host/port are hardcoded, 0 it's not a good port to use at all!!!!

I'm investigating further to fix it, because we should not have it hard-coded at all.
Stay tuned.

[2016-02-05 02:10] mgruben commented on #756
@giox069:  I executed the following:
[code]
After which I started `remmina` and attempted to connect to `host:8444` using the ssh tunnel settings mentioned above
[code]

[2016-02-05 14:36] mgruben commented on #756
Update:
The service I quoted above was improperly configured.  I changed relevant portions quoted below
`ExecStart=/usr/lib/autossh/autossh -M 0 -R 8444:finalhost:3389 tunnel@host.global.ip.address -p 443 -N -o ServerAliveInterval=600`

It's curious, but neither the subject of this bug request, nor has the behavior persisted, that I was ever able to use the service above to correctly connect.  I w

[2016-02-05 15:12] antenore commented on #756
Thanks for these additional infos.

As soon as I'll have some time, I'll work on this.
It won't be quick because it's awfully intricate.

Just confirm me if you can work or not (somehow).

[2016-02-05 15:14] mgruben commented on #756
I definitely have a working connection  method

[2016-02-05 19:25] mgruben commented on #756
This may be a separate issue, and I'm happy to split it off and start a new issue, but `finalhost` is not accepting my `localhost:9001` connections

However, I am able to `xfreerdp /u:person /d:domain /v:localhost:9001` to `finalhost` just fine

[2016-02-06 20:43] giox069 commented on #756
@mburgen: I have just started to try to understand what's happening. But I stopped at the 3rd post. You said that you already have an autossh tunnel setup, which exposes the remote RDP server port on localhost:8444.
So your port localhost:8444 accepts pure RDP connections, no need to ask for a second ssh tunnel. Why don't you just disable SSH tunnel on remmina and tell remmina to connect to localh

[2016-02-06 20:57] antenore commented on #577
Closed because no feedback.

[2016-02-06 20:57] #577 closed

[2016-02-06 20:57] antenore commented on #580
Closed because no feedback.

[2016-02-06 20:57] #580 closed

[2016-02-06 21:32] mgruben commented on #756
@giox069: different `localhost`s (or, alternatively, `GatewayPorts no`);
(1) `otherhost` executes the following command `autossh -M 0 -R 8444:finalhost:3389 tunnel@host.global.ip.address -p 443 -N -o ServerAliveInterval=600`, thus connecting `host:8444` (as `localhost:8444`) to `finalhost:3389`.
(2) Notably, `host` has `GatewayPorts no` in sshd_config to limit access to known tunnelers (and furthe

[2016-02-06 21:48] giox069 commented on #756
I'm a bit closer to understand (there are 4 hosts involved here: client-->host-->otherhost-->server) and I think there is a couple of firewalls between host and otherhost. Right ?
Client must connect to host via ssh, because host has `GatewayPorts no`, right ?
Have you tried also to remove (uncheck) the option "Tunnel via loopback address" in the SSH settings ?

[2016-02-06 21:57] mgruben commented on #756
That's correct, client-->host-->otherhost-->finalhost
`finalhost` and `otherhost` are both behind the same firewall, and `client` and `host` are both behind the same firewall (over which I have control, and so can open ports at will).
Indeed, `client` cannot simply `xfreerdp /v:host:8444` because of `GatewayPorts no`

Unchecking "Tunnel via loopback address" did not have any impact, as indicated b

[2016-02-06 22:13] giox069 commented on #756
In SSH tunnel settings, don't use "Same server at port 22", but "Custom", and on "Custom" field type the address of "host" (port 22 will be used to ssh to "host"). Unckeck "Tunnel via loopback address".

Then on the "Basic" tab put localhost:8444 as "Server" field.

It's just a test... maybe I'm totally wrong. If it will fail, I will setup a similar setup to reproduce it in the next days.

[2016-02-07 02:50] mgruben commented on #756
@giox069 HA
That fixed it.
That was definitely **not** how I had it set up before, but excellent to have it working again.
`.remmina` file below for posterity
[code]

[2016-02-07 02:50] #756 closed

[2016-02-07 09:20] blahule commented on #747
Hi, sorry for my late response. Server variable is standard IP4 address with port without any whitespace. I send you my configuration file where I deleted password and IP address.
Maybe should help you that when I install remmina 1.0.0-4ubuntu3 from ubuntu distribution it works perfectly. So we are using this ubuntu version till the problem will be solved.

[1448203650127.remmina.txt](https://gith

[2016-02-07 12:27] giox069 commented on #756
:+1: :)

[2016-02-07 22:47] antenore commented on #760
I cannot reproduce it or I didn't get how it happens.

Is it too much if I ask you to create an animated gif and upload it here? Or even a video on youtube/vimeo...

Thanks in advance

[2016-02-08 09:08] danboid commented on #760
I was having this problem when running the Arch linux-4.4.1-2 kernel but I was experiencing severe system instability so I've reverted to linux-4.3.3-3 and not only is my overall system much more stable, I don't get the remmina SSH scrolling and disappearing cursor issues so I don't think this was a problem with remmina after all.

Sorry about that!

[2016-02-08 09:08] #760 closed

[2016-02-08 09:26] giox069 commented on #760
@danboid: I'm having similar problems on arch and video refresh in two different situations. Which graphics card/driver are you using ? I'm using an old NVIDIA Quadro NVS 160M and the nouveau driver.

[2016-02-08 09:33] danboid commented on #760
Intel HD Graphics 2500

[2016-02-08 09:38] giox069 commented on #760
Thank you

[2016-02-08 23:06] antenore opened #761 "Selected file after editing is wrong"
In the Remmina main window, the selected file is re-set each time a profile is edited

[2016-02-08 23:10] #761 closed

[2016-02-09 15:41] zodrac opened #762 "Can't connect with Windows 2012"
Hello. I can't connect with Windows Server 2012 Standard. Remmina says "Unable to connect to RDP Server X.X.X.X". No problem with W8R2, W2003, W7 or W10.

Any idea?

Remmina 1.2.0-rcgit.8 (git n/a)
FreeRDP 1.2.0~git20151218+dfsg-0trusty1
Distro: Linux Mint 17.3 (rosa)
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30687337-can-t

[2016-02-10 20:05] antenore commented on #762
Any Windows Server 2012 Standard or one specific host?

If it's just one, try to delete the entry of that server inside the file/s

[code]

[2016-02-11 11:05] guustflater commented on #708
Same here.
Ubuntu 14.04 & Remmina v. 1.2.0-rcgit.8 installed from ppa:remmina-ppa-team/remmina-next

[2016-02-11 19:57] flejes opened #763 "Ubuntu SW center and VPN creating issues"
Hi all,

I really enjoy Remmina, thanks for your support :)
I have some questions:

- Connected via RDP to an Ubuntu with XFCE Desktop if I execute Ubuntu Software Center, after a minute with the 'watch' icon sticked on my cursor, this app is not displayed.

- Connected via RDP to the same machine if I try to make an VPN using the Default Network Manager app In can't do it, every field is grey and

[2016-02-11 23:21] jtyocum commented on #237
I'm running Remmina 1.1.2 on Ubuntu, and it fails with the following error. It appears to be including the port number in the hostname check.

`[15:19:40:978] [15700:16110] [ERROR][com.freerdp.crypto] - @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
[15:19:40:978] [15700:16110] [ERROR][com.freerdp.crypto] - @           WARNING: CERTIFICATE NAME MISMATCH!           @
[15:19:40:978] [15

[2016-02-11 23:24] MrDetonia commented on #237
This is working for me now when using port redirection on the firewall, instead of changing the port on the server. Probably some bug with Windows (who'da thunk?), or the firewall, for me.

[2016-02-12 20:31] FKCZ commented on #481
compiled next version from git, on kali-rolling, gnome 3.18, libgtk 3.18, still no toolbar

[2016-02-13 09:11] giox069 commented on #481
@FKCZ: this issue is a bit old and describes a known problem with remmina 1.1 (master branch). Can you please open a new issue ? In the new issue please describe itf the missing toolbar is the one in windowed mode or the one in fullscreen mode. Also please try to move the mouse at the top or the bottom of the screen and see if something appears.

[2016-02-13 09:11] #481 closed

[2016-02-13 11:11] FKCZ commented on #481
@giox069 sorry. System restart solved the issue, which I find somewhat strange, but now I have a working toolbar and everything is ok. After restart, remmina asks me to re-confirm the remote computer certificate, and I had to re-enter password, maybe something left hanging before the restart. Anyhow all is great, thank you Giovanni.

[2016-02-13 11:41] giox069 commented on #481
@FKCZ: here are 3 informations we newer wrote

1. Remmina up to commit 05cef518583fefc20d83d06eddb9b4dcec2c3101 has a bad way to exit: under Gnome Shell remmina was still running but you were unable to see it. Now things should work better, after commit 05cef518583fefc20d83d06eddb9b4dcec2c3101. This can explain why you needed a system restart.
2. Passwords: with commit 57ec85d8e9bf773b8a08c17a0218

[2016-02-15 07:14] jillsmitt opened #764 "SFTP remote file manager panel"
- SFTP remote file manager panel has fixed black background. There are inverted color scheme for default GTK light theme buttons and user can missclick. Good for dark themes only
- Upload and download file list has no comfortable size preset. File list has no autoscroll to show current operation progress. There will be cool to have sort ability (to view newer transfers upper then old). Is there an

[2016-02-15 07:35] giox069 commented on #237
Another possible fix: try to delete the file `~/.config/freerdp/known_hosts`

[2016-02-15 07:58] zodrac commented on #762
I only have one windows 2012 standard. I installed remmina and remmina.plugin-rdp, try to connect (with $HOME/.config/freerdp/known_hosts and $HOME/.config/freerdp/known_hosts2 empty) and nothing happens, same message "Unable to connect to RDP Server...".

[2016-02-15 08:04] giox069 commented on #762
@zodrac: exit from remmina, open a terminal window and launch remmina from the command line. Connect to the server and see the output on the terminal. Then copy & paste here the output (you can hide your sensitive data before posting).
You could also try a direct connection with xfreerdp and let us know:
[code]

[2016-02-15 13:02] pedorret opened #765 "File transfer in vnc"
Hi friends,
   Until a week ago I didn't know anything about remmina but I think it's a great software. I'm using on Linux Mint 17.3 with vnc protocol and the only thing I miss is file transfer. I couldn't find a plugin, is it possible?? How?

Thanks

[2016-02-15 22:14] Lonniebiz opened #766 "Applet/Indicator Appearing Multiple Times"
In Ubuntu 16.04, running Remmina Next, the Applet/Indicator ( ![Remmina Indicator](http://neartalk.com/ss/2016-02-15_001_44x28.png) ) is appearing multiple times on the top-right panel by the clock, when it is suppose to appear only once. Over the course of a workday, I've seen it appear as many as 3 or 4 times.

Remmina's working great, so to me, this is a minor issue, but I thought I should let

[2016-02-19 10:20] giox069 commented on #766
With remmina 1.2.0-rcgit8 from the PPA ?

[2016-02-20 10:31] avoidik opened #768 "vnc plugin not found"
Current Ubuntu Trusty 14.04 x86_64

When starting remmina from console
[code]

I've tried to install the package
[code]

This gives no installation candidate.

[2016-02-20 10:44] avoidik commented on #768
Fixed by reinstalling
[code]
And then
[code]

[2016-02-20 10:44] #768 closed

[2016-02-20 19:17] jim255 opened #769 "XDMCP issues"
It appears that XDMCP over ssh requires xqproxy which is not readily available for all linux distros.  Specifically Ubuntu 14.04 LTS
Any help in figuring out how to make this work correctly would be greatly appreciated...

-Jim

[2016-02-22 07:32] Killertjuh opened #770 "credentials folder issue?"
Hi Therem

I`m working with remmina for a few years and i`ll love it. But i miss this feature. When i look into the history i found these feature request #82 #229. But i dont know how i can use this.

I`m using Remmina 1.1.2-3 (debian stretch)

Yes i can create groups and everything but i cannot find any feature to story the credentials within the folder/group.

[2016-02-22 12:24] ComputingFroggy commented on #755
Hi,
Sorry for the delay: it's much better now.

There's still a little nag, the top area is not editable, but the cursor can be positioned inside it ... this could be confusing (particularly at the start when nothing has been written yet).

Here's a screenshot : https://framapic.org/NqNc9Vj36nBy/L5q1JArTjo0D.png

[2016-02-22 12:27] ComputingFroggy commented on #754
I still have this bug.
A fairly easy workaround is to click on the keyboard icon twice (in the toolbar) ... it's not ideal, but it works !

[2016-02-22 15:42] pedorret commented on #765
Anybody there?

[2016-02-22 22:04] zuriy opened #771 "compile remmina not working"
At step 12 of compile:

[2016-02-23 01:33] reddot15 opened #772 "Share some usage statistics dialog cannot be disabled!!!"
Do you agree to share some usage statistics with us?
By pressing the yes button, you're not yet sending any data.
**Do not show again check mark does not work on 1.2.0-rcgit.8 (git n/a).**
 selecting **NO** and checking do not ask again does not work, upon every launch on linux mint 17.2 mate and 17.3 mate dialog appears no matter what!!!

[2016-02-23 07:18] ComputingFroggy commented on #765
The main participant (antenore) must be on holidays as there's not been any recent posting.

[2016-02-23 07:36] #772 closed

[2016-02-23 07:38] giox069 commented on #772
@reddot15 @antenore: I have just pushed a small fix. I hope it will work. If you are using the ubuntu's PPA, wait 1 day for automatic refresh of the PPA.

[2016-02-23 15:34] MalcomPT commented on #556
remmina:
  Installed: 1.1.1-2

Distributor ID:	Debian
Description:	Debian GNU/Linux 8.3 (jessie)
Release:	8.3
Codename:	jessie

I also have clipboard issues, it usually doesn't work.

[2016-02-23 15:53] pedorret commented on #764
Hi jillsmitt, I'm interested in SFTP plugin for remmina but I can find it. Where do you find? I would like to transfer files with remmina over VNC

[2016-02-23 16:11] reddot15 commented on #772
ty giox069 works great, yes im using the ubuntu ppa just grabbed the update now. ty again!!!!

[2016-02-23 16:15] giox069 commented on #772
:+1:

[2016-02-23 17:28] jillsmitt commented on #764
After connection started up by a SSH, press options button on the toolbar.
23 февр. 2016 г. 21:53 пользователь "pedorret" <notifications@github.com>
написал:

[2016-02-24 07:16] realtelematics commented on #556
I have found that if you open a second rdp session the clip board stops working.
I reboot my box to get it working again. Restarting Remmina does not help.
I have resorted to doing second RDP inside my existing RDP session....its painful!

[2016-02-24 09:39] giox069 commented on #556
@MalcomPT: We cannot patch stock versions of remmina you find in current distributions. You should try to obtain a newer version of remmina (1.2.0-rcgit8), retest and post results here. See the wiki.

[2016-02-24 11:59] danboid commented on #723
giox069:

I can only presume your autoreconnect code hasn't been merged into git yet because I've just built the latest freerdp and remmina git but I still struggle to maintain an RDP connection (to Windows 2012R2) for more than 10 minutes without getting disconnected and I don't see an autoreconnect feature in the remmina RDP options. SSH is fine but RDP connections usually fail within a couple o

[2016-02-24 12:34] giox069 commented on #723
Autoreconnect branch hasn't been merged due some problems with the ssh tunnel for RDP and another minor bug. I need some time to find the problem and fix it (4-5 days ?).

In the meanwhile, if you are NOT using our ubuntu PPA, you can recompile FreeRDP and get a newer libfreerdp which fixes its own idle timeout problem (patch has been committed yesterday).
See https://github.com/FreeRDP/FreeRDP/co

[2016-02-24 14:10] danboid commented on #723
Hi giox

I didn't know about the rdesktop plugin. I've installed that (under Arch) and thankfully it doesn't disconnect like freerdp.

Thanks for the tip!

[2016-02-24 15:25] pedorret commented on #764
If the connection is not SSH is not possible? There's no option on the toolbar and my connection is not encrypted.

[2016-02-25 10:47] danboid commented on #476
+1

[2016-02-25 10:59] danboid opened #773 "Connection search doesn't work"
I've noticed that if I push CTRL+f  in the main remmina connection list window a search box appears but it doesn't work. If I type (part of) the name or address of a server that I can see exists within remmina (but isn't currently highlighted) remmina doesn't highlight it when I push enter as I'd expect.

[2016-02-25 11:02] danboid opened #774 "Connection folders"
It would be very handy to be able to create folders and sub-folders to organise connections/servers within the main remmina connections window.

[2016-02-25 11:10] giox069 commented on #774
"group membership" automatically organizes connection in 1 level subfolders if you enable View->Tree View. And in the systray menu (not available under Gnome Shell), all connections are grouped by group name.
Do you need more sublevels ?

[2016-02-25 11:29] danboid commented on #774
I've seen the tree view and that does help with navigation but I think it would be nice to be able to have at least a couple of sub-levels / groups.

In my case I'd like to organise them by datacentre (top/first group), classification (UAT/production - second sublevel) and then OS being the final sub-level. Of course I'm not trying to enforce or recommend this structure or naming for remmina or ot

[2016-02-25 16:35] Rob49 opened #775 "Debian 8 copy past problem"
Hello,

Sorry for my english.
I used debian 7 since months and Remmina was working fine.
Today i installed Debian 8 and Remmina works good but without the possibility to copy/past between host and sessions.
My Remmina version is 1.1.0 so i tried to update to latest version using the ubuntu guide (https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-14.04-and-14.10)
 but i can't install the "l

[2016-02-25 21:15] giox069 commented on #775
Debian unfortunately does not support a build system similar to the ubuntu PPA. This means that it is currently impossible for us, due to lack of time and expertise, to create .deb packages.

Maybe @dktrkranz can tell us if a Debian maintainer is available to have a fresh/updated remmina version in a way similar to the ubuntu PPA ?

[2016-02-25 21:53] danboid commented on #773
remmina 1.2.0rcgit.8-1 under Arch x64

[2016-02-26 04:12] Papina commented on #775
I just compiled remmina 1.2.0-rcgit.8 and freerdp2 with Debian Jessie, and the copy/paste problem still exists, but it's possible there is a cmake/make flag in freerdp2 or remmina i didnt set? what flags would be needed for copy/paste?

[2016-02-26 08:02] giox069 commented on #775
If you can add more details (destination OS version?) and the exact steps to reproduce the problem, I can try to reproduce here and debut. Please be very detailed, I need to know which application you are using at the server side, because each application generates a different clipboard content type.
Also try to execute remmina in a terminal and see the output when your copy/paste does not work.

[2016-02-26 09:52] hellboy81 commented on #730
Is there another solution without clipboard problems?

[2016-02-26 14:17] Thomaskru commented on #775
Hello! I have the same Problem. RDP is dying on copy/paste.

Dmesg:
[87487.731078] remmina[18832]: segfault at 768 ip 00007f94907bb11d sp 00007ffde8788910 error 4 in remmina-plugin-rdp.so[7f94907ad000+12000]

Source: Mint 17.3 fully patched
Remmina 1.2.0 RC git 8
Dest: Windows 7 Prof. 64 bit fully patched

After segfault and initiating an new rdp session the problem was not reproduce able.

[2016-02-26 15:57] Demontager commented on #556
So only way to get remmina 1.2.0-rcgit8 is to build from source, right ?
As i see repository ppa:remmina-ppa-team/remmina-next contains 1.1.2 version.

[2016-02-26 18:02] giox069 commented on #556
it's a file naming problem on the PPA package. But the contained remmina is 1.2 and in sync with our "next" branch. In the last 2 days we had a problem for the 16.04 version of the PPA which did not compile correctly. We will fix it.

[2016-02-26 18:55] Demontager commented on #556
I really confused. I added ppa:remmina-ppa-team/remmina-next and installed remmina from there.
Version shown in About page states that it is 1.1.2 . Do I have actual 1.2.0 or 1.1.2 installed ?
![1bbscreenshot_2016-02-26_20-51-22](https://cloud.githubusercontent.com/assets/7040503/13362093/21b99424-dccb-11e5-969d-28fc06a7e781.png)

[2016-02-26 20:20] giox069 commented on #556
The version in that dialog box is the real version, so... you are running remmina 1.1.2. Maybe the old remmina process has been running. Try to reboot the computer, or just  `killall remmina`, restart remmina, reopen the About dialog and see if it's remmina 1.2.0-rcgit8.

[2016-02-26 20:55] Papina commented on #775
Ok, I've got a working copy/paste system now, so I'll have to try these steps below on my failing system when I get the chance, however I've created a vmware virtual machine from scratch with Debian Jessie with all the commands below used and so far so good, so if anything this will be a baseline reference.

So it's a basic Jessie install from a netinstall ISO, with Cinnamon as the desktop, which

[2016-02-26 21:04] Demontager commented on #556
Yeap, this was a problem recent remmina was still running. Now About shows 1.2.0-rcgit.8 (git n/a)
And clipboard copying host<--->rdpserver working for me now nicely, thank you for fixing!

[2016-02-26 21:09] giox069 commented on #556
:+1: there are still some issues with the clipboard in remmina 1.2.0-rcgit.8. Unfortunately I'm unable to reproduce and debug them, due to poor info and lack of time. So feel free to post here if you find something useful.

[2016-02-26 21:10] Papina commented on #775
Brilliant, after rerunning the steps above on my non-working build, it's now working, so I suspect i was missing an installed library that was required.

[2016-02-26 21:12] giox069 commented on #775
:+1:

[2016-02-27 09:27] Rob49 commented on #775
Thank you for your answers, especially Papina! I'll try this monday!

[2016-02-28 13:16] #723 closed

[2016-02-29 02:13] der-eismann commented on #722
Still nothing new?
Also not working for me on Arch with Remmina 1:1.2.0rcgit.8-1.

[2016-02-29 09:08] Rob49 commented on #775
Hello,

I did the steps from your post papina and i had a working copy past system too until i restart my pc. I can't connect to my rdp servers now. I don't have any other error message than "impossible to connect to rdp".

Any idea?
Thanks for your help!

[2016-02-29 09:34] giox069 commented on #775
@Rob49: exit from remmina and relaunch it from the command line (inside a terminal window). When you connect, you will see some text messages. Copy and paste the messages here. Thank you.

[2016-03-01 08:34] svendsenrobin opened #777 "Gnome 3 freezes completely after a while when using Remmina 1.2 with keyboard grabbing enabled"
Like the title indicates, when using keyboard grabbing in an RDP session, Remmina 1.2, Gnome 3 (GDM) freezes competely and becomes unusable. In order to be able to use the desktop again, the gdm service has to be restarted through another console. (Ctrl+Alt+F2).

When not using keyboard grabbing, when clicking on the RDP session when another window has focus, the right-click menu appears. In order

[2016-03-01 09:38] d-demkiv opened #778 "RDP connections or whole Remmina are crashing regularly"
Remmina ver. 1.2.0-rcgit.8 (git n/a)
Linux Mint 17.3 Cinnamon 64-bit

I'm using several RDP connections during whole day. Almost every hour connection window closes. Sometimes it is possible to reconnect, sometimes the whole Remmina crashes during reconnection attempt with
kernel: [43414.706183] remmina[24801]: segfault at 430 ip 00007ff08898e414 sp 00007fefbdff19e0 error 4 in libpthread-2.19.so[7

[2016-03-03 00:50] sentient commented on #556
![image](https://cloud.githubusercontent.com/assets/183579/13481001/ce71e864-e096-11e5-87dd-0aee6b441d43.png)
1.2.0 fixed it for me as well (after the > killall remmina )

[2016-03-03 00:55] cmayoros commented on #722
I am now getting the error message "Unable to find the address of RDP server ...."

Been testing it each time I see an update available, nothing working yet.

1.2.0-rcgit.8 was the first version not working. Are you not able to look at code changes between it and the previous version to see what was updated? Maybe get something from that. Also, if you want to build a custom version with additional

[2016-03-03 06:00] karmacoma92 commented on #722
Hi

sorry for not answering before but same happens to me I cannot provide an RDP to test against.

//Oscar

[2016-03-03 07:33] akallabeth commented on #722
just been informed of a possible source of the issue in freerdp/freerdp#3185

[2016-03-03 07:46] giox069 commented on #722
@akallabeth thank you for reporting and helping. I will follow https://github.com/FreeRDP/FreeRDP/issues/3185 and push an update of FreeRDP to our ubuntu PPA when fixed.

[2016-03-03 13:37] pedorret commented on #765
Thanks ComputingFroggy but my connection is not encrypted and I have installed the SFTP plugin but it doesn't matter for vnc connection I think.
Anybody can help?

[2016-03-03 16:40] weberhofer commented on #771
@zuriy, do you have the latest version of freerdp installed?

[2016-03-04 01:10] jackdozier commented on #722
Found this issue while trying to get Remmina working with gateway. It isn't the same one I reported to FreeRDP.

I'm using Remmina 1.2.0-rcgit.9 (git 0e935eb). The issue seems to be related to a DNS address lookup for the server name that happens from the client machine. The server that I'm connecting to is not published in DNS since it's a desktop on a private network.

When I specify the server

[2016-03-04 01:36] jackdozier commented on #722
The issue appears to be in the init function of remmina-plugins/rdp/rdp_plugin.c. There is already an exclusion in the code for connections through SSH tunnels. I added an exclusion for gateway configs as well. It tested out against gateway and non-gateway configs.

Here are my changes.

[0001-Fixed-address-resolution-when-connecting-through-gat.txt](https://github.com/FreeRDP/Remmina/files/157964

[2016-03-04 09:19] giox069 commented on #722
Very good @jackdozier: there is no point in resolving the final server hostname during a gateway session. We could try to resolve the gateway server hostname, but the code is a bit more complex because we must remove the port name. So in the meanwhile, I'm going to emit a commit with your patch.

[2016-03-04 09:31] mayuso opened #782 "Is remmina between Ubuntu and Windows 10 secure?"
Sorry for this question, it is not really an issue, but I have tried e-mail and did not get any answer in like a week. (Also, sorry for my english).

Is remmina between Ubuntu and Windows 10 secure?

I have never used any RD client so I am not sure if this question makes sense or not. If it is, perfect, silly question, if it is NOT, how can I improve security?

Thank you, and sorry. I will close t

[2016-03-04 09:39] giox069 commented on #782
We are not security expert to analyze all implications of security. It depends on what you mean with "secure".
I can only tell you that remmina uses FreeRDP to connect to windows, and by default the connection channel si encrypted using TLS (SSL), provided that you are using "Negotiate, TLS or NLA" in profile security settings. You can force windows at the server side to accept only RDP client wit

[2016-03-04 09:43] mayuso commented on #782
Please, correct me if I am mistaken; I need to leave a port open on my Windows 10 machine if I want to access it via Remmina from my Ubuntu laptop, right? Isn´t that "dangerous"?

[2016-03-04 09:46] giox069 commented on #782
Yes, port 3389, but it's as dangerous as leaving any other port open for any other kind of service. Which means: if it's in your home lan there are usually no problems. If it's on the Internet, keep your windows updated with the latest patches, use complex passwords for all windows users, disable the "Administrator" account and if possible don't expose port 3389 but use a much higher port number.

[2016-03-04 09:49] mayuso commented on #782
Seems hard. I might try later today, although I don´t expect me to be capable of making this work haha. Thank you :)

[2016-03-04 09:49] #782 closed

[2016-03-04 09:59] weberhofer commented on #782
I'd not recommend to have an open RDP server for direct access via the internet. I'd only make it accessible via a VPN.
A very interesting article can be found here: https://community.rapid7.com/community/infosec/blog/2016/03/01/the-attackers-dictionary

[2016-03-04 10:03] mayuso commented on #782
The thing is I do not need it on lan, it is for personal use, and I don´t have a 200km house.  Now VPNs, this is getting harder and harder every second.

[2016-03-04 14:38] jackdozier commented on #722
Newest pull (Remmina 1.2.0-rcgit.9 (git 0ed3e11)) works for me.Thanks for incorporating it!

[2016-03-04 15:10] weberhofer commented on #744
After analyzing the changes, I have found out what really have changed for me: I have the option "Minimize window to tray" enabled; before the latest changes, closing the main windows it actually minimized it to the tray. Now, this setting is not taken into consideration in the "close" logic. The logic only checks if there is appindicator available.

For the UI-experience it would be better not to

[2016-03-04 15:47] weberhofer commented on #775
Sometime when I press Ctrl-C in a windows-text field, I see the following message (always two):
(remmina:19607): Gtk-CRITICAL **: gtk_clipboard_set_text: assertion 'text != NULL' failed
(remmina:19607): Gtk-CRITICAL **: gtk_clipboard_set_text: assertion 'text != NULL' failed

[2016-03-06 08:40] CS-JS commented on #774
Same here - would be nice to group e.g. servers an clients (level 1) to customers (level 2). Actually I got clients and servers mixed up when they are grouped by customers.

[2016-03-06 17:49] giox069 commented on #775
I have just published a small fix. For ubuntu PPA users: wait until tomorrow before testing. Let me know.

[2016-03-06 17:50] giox069 commented on #730
I have just published a small fix. For ubuntu PPA users: wait until tomorrow before testing. Let me know.

[2016-03-06 17:52] giox069 commented on #583
@blakedev: are you still having the copy&paste from chrome address bar with the latest version of remmina from the PPA ? Can I close this issue ?

[2016-03-06 18:09] giox069 commented on #744
Yes.
The basic idea when closing remmina main window initially was "do I have something on the screen that will enable me to close remmina later" ? If no, then exit remmina. "something on the screen" refers to GtkStatusIcon/appindicator, but unfortunately I forgot to check for an open connection window.
So, keeping remmina active until all client connection windows are closed can be done.
Could yo

[2016-03-06 21:06] blakev commented on #583
@giox069 The problem is mitigated when running remmina as sudo, so things have been going smoothly (for the most part) for the last month.

Thanks for your work!

[2016-03-06 21:37] antenore commented on #730
:+1:

[2016-03-06 22:12] Chugajstyr opened #783 "Autoscrolling remote screen with "byobu", when opened second connection tab"
In latest Remmina build v1.2.0-rcgit.9 noted strange behavior - while working with only one SSH-connection & "byobu" screen manager on remote PC, everything is fine, But, when opened second connection to other PC, and then switch back to first connection tab, I see that byobu screen is
scrolling up, string by string, as though there someone pressing "Enter" on keyboard.
Local OS Linux Mint 17.3 "R

[2016-03-07 18:57] wycito commented on #778
We use Ubuntu 14.04 desktops at work, several of us have this issue, remmina crashes sporadically

[2016-03-07 19:02] giox069 commented on #778
@d-demkiv: to produce a useful debug backtrace you should:

- install `gdb`
- close all remmina windows
- start gdb from a terminal window: `gdb remmina`
- start remmina with `run`
- when remmina crashes, take a look at the terminal window, and copy & paste the detailed error here
- now type `bt`, this will tell gdb to produce a full backtrace. Copy & paste it here.
- quit gdb with `q`

[2016-03-08 03:32] StevenLOL commented on #730
client:
ubuntu 15.10
remmina 1.2.0-rcgit.9(git n/a)

not work when login to ubuntu 15.10 via xfce4

[2016-03-08 06:42] hellboy81 commented on #730
we are still waiting for release with fixed bug...

[2016-03-08 08:18] antenore commented on #783
I could be wrong, but maybe it's an issue related with the termcap.
Do you have screen or tmux?

Try this:

 1. Close completely Remmina (do a ps afterwards, be sure it's really closed)
 2. Open a terminal and set the variable TERM
[code]
 3. Execute Remmina from that terminal

I'm not sure that the TERM variable will kept as screen and tmux usually set it during their execution.

If you still hav

[2016-03-08 08:27] antenore commented on #777
Are you sure Remmina and FreeRDP are installed correctly with the right version?

Something around:

[code]

Remmina must be linked to the newest possible version of FreeRDP

Make sure you have only one version of FreeRDP and Remmina installed

[code]

[2016-03-08 08:54] antenore commented on #730
@StevenLOL Do you have the same issue connecting to a Windows Server
@hellboy81 File copy/èaste deos not work for me on xfreerdp either. If it does not work with freerdp, it cannot work with Remmina.

Does copy/paste of text works for you between windows and linux?

[2016-03-08 09:07] antenore commented on #774
Out of curiosity how many profiles do you have? Did you submit the survey form? It's quite useful for us to understand our users needs.

I see the point of having a better structure in the remmina editor, but we are quite busy at trying to keep Remmina working (we do not work on Remmina for money but for pleasure and needs).

It would be awesome having some help from you @ALL guys with some patche

[2016-03-08 09:51] giox069 commented on #730
This issue should be closed: it's a collection of different problems on different versions of remmina, different protocol plugins, different RDP servers and clients, different clipboard contents.

So, @antenore, if you agree we can close it.

Since in our tests we do not see any problem with the clipboard, you are kindly requested to help us to reproduce your problem. So we ask you to open one or

[2016-03-08 10:02] antenore commented on #730
:+1:  I agree Gio (while I'm answering I close it)

[2016-03-08 10:02] #730 closed

[2016-03-08 10:52] vext01 opened #784 "VNC connections terminate immediately"
Hi,

I was looking for a nicer VNC client than SSVNC and found remmina.

On version 1.1.1 and 1.1.2 I can connect to my VNC server (which is a remote virtualbox instance) over an SSH tunnel. The viewer window appears, but immediately closes. Sometimes it stays open long enough to see the screensaver on the remote machine.

Remmina is not _crashing_ per-se (the host list remains once the viewer win

[2016-03-08 11:40] wycito commented on #778
Will start today and instruct my colleages to start remmina this way and send you the debug info
Appreciate your feedback

[2016-03-08 11:57] vext01 commented on #784
It seems that changing the colour settings from 256 colours to 16-bit works around this. Perhaps virtualbox doesn't support that colour mode?

[2016-03-08 14:57] weberhofer commented on #775
Thank you, @giox069! Your update fixed my problem with the clipboard.

[2016-03-08 15:01] #744 closed

[2016-03-08 15:02] weberhofer opened #785 "Don't close connection windows when main window is closed"
This is a follow-up ticket to #744.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31680523-don-t-close-connection-windows-when-main-window-is-closed?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_

[2016-03-08 15:34] antenore opened #786 "Selected item in the remmina_main window is lost after editing a profile"
In the main remmina window, after having modified an entry in profile list, that selected profile is not highlighted any-more.

[2016-03-08 15:47] antenore commented on #773
The search box is intended to filter (reduce) the list of server while you are typing, is not intended to automatically select a server from the list.

So, if you type something in the search box the list is actually filtered, the search box is working as expected, otherwise there is really a problem.

When you have filtered the list, if you don't want to remove the hands from your keyboard you ca

[2016-03-08 15:55] #786 closed

[2016-03-08 15:58] danboid commented on #773
Hi Antenore

Unfortunately the search doesn't work in the way you describe either. All of the servers/connections are displayed as I type stuff that should reduce the displayed selection.

[2016-03-08 16:01] giox069 commented on #773
You are referring to two different search boxes: @antenore is referring to the one on the taskbar, hidden by default. You can enable using a menu option.
@danboid is referring to the standard GTK searchbox which appears when pressing CTRL+F on a list.

@antenore: I think we can try to disable the standard GTK search box on the list, if possible. So users does not get confused.

[2016-03-08 16:07] antenore commented on #773
Bizarre, if I have the Quick Search activated, when I hit ctrl+f the cursor is placed automatically inside it.

Sure we can set it to OFF?

Now I understood, let me take a look. Thanks @giox069

[2016-03-08 16:10] giox069 commented on #773
I cannot try now, but I can remember that the standard GTK search box appears when you type some alphanumeric char inside the profile list box. I never used CTRL+F to make it appear.

[2016-03-08 16:27] antenore commented on #773
Solved, I'm committing and merging

[2016-03-08 16:37] antenore commented on #773
@danboid are you able to test the PR #788 ?
Otherwise I can merge it as in any case break the normal Remmina functionalities.

@giox069 Do you agree? I just added an accelerator in the glade file.

[2016-03-08 21:39] #773 closed

[2016-03-08 22:24] antenore commented on #773
@danboid tomorrow you should have it in Arch (even now I think), let me know.

[2016-03-09 02:28] Chealer commented on #775
Could someone clarify what this ticket is about? I am also unable to copy/paste using Debian 8's Remmina 1.1.0. Is this a Remmina 1.1.0 issue which was solved? Or a Debian packaging bug?

[2016-03-09 04:43] wycito commented on #778
Crash debug
[Remmina2.txt](https://github.com/FreeRDP/Remmina/files/164522/Remmina2.txt)

[2016-03-09 11:01] nicocrm opened #789 "RDP Connection fails, but only the first time"
When I first launch Remmina, RDP connections fail with the following errors:

[05:48:23:138] [14773:15421] [INFO][com.freerdp.client.common.cmdline] - loading channel cliprdr
[05:48:27:520] [14773:15421] [ERROR][com.freerdp.core] - freerdp_set_last_error ERRCONNECT_CONNECT_CANCELLED [0x2000B]
[05:48:27:520] [14773:15421] [ERROR][com.freerdp.core.connection] - Error: protocol security negotiation o

[2016-03-10 08:05] svendsenrobin commented on #777
I see. The version installed on my system is:
$ xfreerdp --version
This is FreeRDP version 1.2.0-beta1 (git n/a)

The version of Remmina I'm running is 1.2.0-rcgit.3

So there's an explanation. I'm not compiling for myself, but using the
nux-dextop repository. I'll forward this information to the maintainer. In
order to use Remmina on a CentOS system one has to use the nux-dextop
repository. EPEL

[2016-03-10 08:12] antenore commented on #777
@svendsenrobin cool! Thanks, this is a really appreciated.

We can keep this opened till you'll have an answer.

[2016-03-10 11:13] sabbia001 opened #790 "Can't hear remote audio (local)"
Hi,

I'm using Remmina on Ubuntu 15.10.
I can't hear sound of the remote pc (RDP connection to a Windows 10 pc). Using rdesktop audio is ok.
I've tried all possible configurations (local audio, all quality levels).
I've noticed that remmina audio is not shown in pulseaudio (or unity) volume control (applications tab).

I have installed these packages:

ii  remmina

[2016-03-10 14:08] giox069 opened #791 "Quick Find cleanups"
1. The label at the left of Quick Find text field, on the toolbar, is "Quick_Find" with an underscore inside. The underscore should be removed and text localized.
2. After an "add" or "duplicate" operation in the remmina profile editor, the Quick Find field should be blanked, so the full list will be redisplayed. Or users will add and readd profiles because they don't appear.

[2016-03-10 15:58] CS-JS opened #792 "Remmina crash on having files or images in clipboard"
I have reproduceable crashes of current remmina 1.2.0-rcgit.9, if i copy a file or image. Kubuntu 16.04.
GDB backtrace is available at http://pastebin.com/jceCGgkR

Fell free to post here if I can provide further information.

[2016-03-10 21:54] Chugajstyr commented on #783
Hi, antenore! Thanks for respond!

On remote machine I have tmux as backend for byobu (I use there default configuration).
Tried to set TERM variable to "xterm" in terminal on local PC and than run Remmina from there - it doesnt help, when I connecting to other remote PC, then switch from opened second SSH-tab to first tab, byobu start scrolling all the same, until I close connection. On first rem

[2016-03-11 06:09] mnlandicho opened #793 "[1.2.0-rcgit.9] Unable to Compile in Centos 7"
I am following through the procedure to compile the “next” branch on my Centos 7. I get to compile Remmina 1.2.0-rcgit.8 but is receiving error with this particular update. Hope you can help me.

Command:
cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX:PATH=/opt/remmina_devel/remmina -DCMAKE_PREFIX_PATH=/opt/remmina_devel/freerdp –build=build .

Error:
…
— Found GTK3: /usr/lib64/libgtk-3.so

[2016-03-11 09:29] pdnmusic opened #794 "1.2.0-rcgit.10 (git n/a) vnc connector not installed"
Good morning,

Yesterday 'remmina' was updated under a apt-get update/apt-get upgrade in my Ubuntu 14.04 x64.
So now, it shows current version is: 1.2.0-rcgit.10

When I try to connect to a VNC server computer of my list (90% is VNC, the rest is RDP) a message appears that show the text "VNC protocol connector is not installed" (more or less, I just literal translated as the message appears in my

[2016-03-11 11:25] sabbia001 commented on #790
Hi,

I don'k know it this could be useful. I have the same problem using xfreerdp, and I get this messages:

LoadLibraryA: /usr/lib/x86_64-linux-gnu/freerdp/rdpsnd-client-pulse.so: impossibile aprire il file oggetto condiviso: File o directory non esistente
LoadLibraryA: /usr/lib/x86_64-linux-gnu/freerdp/rdpsnd-client-alsa.so: impossibile aprire il file oggetto condiviso: File o directory non esis

[2016-03-11 16:11] Hardeepthiara commented on #600
Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.
remote: Repository not found.
Error

[2016-03-12 07:30] giox069 opened #795 "Remmina is unable to access saved passwords immediately after local PC logon"
Just after logging on your local PC, remmina is unable to retrieve password from the gnome keyring.

In some cases, when you logon to your local desktop, the default "Login" keyring is not unlocked by the OS.
Whith the gnome keyring locked, remmina_plugin_glibsecret_get_password() will retrieve a NULL password for the stored remmina profiles, because secret_password_lookup_sync() will never attemp

[2016-03-12 07:33] #795 closed

[2016-03-12 08:02] giox069 commented on #794
Hi @pdnmusic, thank you for reporting.
Are you able to start remmina from a terminal window and copy&paste the output of remmina startup here ? Problems in loading plugins are usually visible when launching remmina from a terminal window.
Also try to reboot the PC, and execute `sudo ldconfig`

[2016-03-12 08:31] giox069 commented on #792
Are you using remmina on the PPA or did you compiled it by yourself ?

[2016-03-12 12:39] giox069 commented on #792
It happened to me also, 1 hour ago. Small fix pushed now.

[2016-03-12 14:41] giox069 commented on #793
Use `git pull` inside the Remmina subdir: I have just committed a fix for the winpr dir name, which changed from winpr1 to winpr2 in FreeRDP.

[2016-03-12 15:15] mnlandicho commented on #793
Thanks! Now working! Successfully compiled version 1.2.0-rcgit.10!

[2016-03-12 15:19] #793 closed

[2016-03-13 01:37] mallxs commented on #556
I'm still on 1.1.0 But if the copy/past stops working, just restart remmina
Not just close the window; the remmina process keeps running in the background.
killall remmina will do the job.

[2016-03-13 09:17] giox069 commented on #556
@mallxs: this issue has been closed a long time ago. Please don't add comments to closed issues, and report only when using the latest version of remmina (1.2.0-rcgit.10).

[2016-03-14 07:18] mnlandicho opened #797 "Remmina Crashes"
I am experiencing very frequent crash of remmina. I am not able to click anything on it and I need to kill the process and start again to use it. I opened the debug window but even it crashed.

I already reinstalled and recompiled remmina but still the problem persists.

I noticed that crashing of remmina happens when this specific log entry occured.

**Gtk-Message: GtkDialog mapped without a tran

[2016-03-14 07:18] CS-JS commented on #792
Thanks for the quick fix, seems fine after I tried the new build right now. I'll keep testing over the workday :)

[2016-03-14 07:51] avoidik opened #798 "Remmina crashes after 1st auth failure"
Linux Mint 17.3 Rosa
3.19.0-32-generic x86_64
Remmina from PPA.

**Steps to reproduce bug**

Launch remmina. Create and save RDP connection without password. Select created connection from tray. Input password in wrong encoding, russian in my case. Try to connect and get invalid password message box. Press OK. Select same connection from tray once again. Now input correct password in correct encod

[2016-03-14 07:53] avoidik commented on #794
I had similar issue, maybe this is it,
https://github.com/FreeRDP/Remmina/issues/768

[2016-03-14 08:24] avoidik commented on #798
If i've unset Shared folder option in connection settings and then do steps to reproduce the bug then stdout changed to this
[code]

[2016-03-14 08:26] avoidik commented on #798
If password entered correctly first time, then stdout is this:
[code]

[2016-03-14 08:29] giox069 commented on #798
ERRCONNECT_AUTHENTICATION_FAILED means bad username/password, and remmina should show it in a dialox box.
The Segmentation Fault could be a problem in FreeRDP library which happens only after an ERRCONNECT_AUTHENTICATION_FAILED error. We are investigating on it, but your real problem seems to be a wrong username/domain/password.

Also please type ´remmina --version´and let us know the exact versio

[2016-03-14 08:31] giox069 commented on #798
Ok, it seems you are a victim of the problem "remmina crashes" after entering a bad username/passwrd. That's true. It's a problem in libfreerdp. We will open an issue with their team as soon as we have the time to do it :(

[2016-03-14 08:31] avoidik commented on #798
ERRCONNECT_AUTHENTICATION_FAILED means bad username/password, because i've entered password with wrong keyboard layout, on next attempt to connect with valid layout i've force close.

[2016-03-14 08:38] giox069 commented on #798
Yes. I'm changing the subject of the issue to be less specific on your distro :)

[2016-03-14 12:06] sabbia001 commented on #790
Sorry, now it's working, I don't know why.
I made a radical uninstallation of everything around remmina and freerdp (stable and unstable packages I had tried to install). Then I reinstalled remmina stable and now it's working perfectly.

[2016-03-14 13:28] pdnmusic commented on #794
Thanks @avoidik , that's exactly the same case.
I did what you suggest on your issue and now it works back again.

[2016-03-14 13:34] pdnmusic commented on #794
#768

[2016-03-14 13:36] pdnmusic commented on #794
#768

[2016-03-14 13:36] #794 closed

[2016-03-14 14:15] #792 closed

[2016-03-14 16:09] linuxturtle commented on #785
IMO, this is a regression bug, not an enhancement request.  There is no way to close the main window once you've opened it without exiting remmina completely.

[2016-03-15 07:20] hellboy81 commented on #730
empty output

In Ubuntu software centre:

remmina 1.1.2-2ubuntu3

This is FreeRDP **version 1.1.0-beta1 (git n/a)**

Unity on Ubuntu 15.10

RDP

Windows Server 2012

Text from any text field in Linux to any text box in Windows VM and vice versa

[2016-03-15 07:25] giox069 commented on #730
@hellboy81 install remmina from the "remmina-next" PPA, instructions are on the [wiki](https://github.com/FreeRDP/Remmina/wiki).
Please don't reuse cloded issues. Thank you.

[2016-03-15 09:11] hellboy81 commented on #730
Where can I get support in this case?

Problem still exists with update version

[code]

[2016-03-17 02:50] mgruben opened #799 "\\tsclient shares list blank files and folders"
Hey there,

I've enabled a "Share" folder on my remmina connection.  This used to work [from Arch Linux, to Windows 7 x64 professional] without issue.
Currently running `remmina` 1:1.2.0rcgit.8-1 and `freerdp` 1:1.2.0_20160107-6

(1) The name of the shared folder ("Share") displays correctly on the remote desktop \\tsclient
![tsclient share name](https://cloud.githubusercontent.com/assets/6686712/

[2016-03-17 19:36] polearnik opened #800 "Remmina crash on start"
Linux Mint 17.3 Xfce
(gdb) run

Starting program: /usr/bin/remmina
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7fffe3818700 (LWP 13818)]
[New Thread 0x7fffe159d700 (LWP 13819)]

Program received signal SIGSEGV, Segmentation fault.
0x0000000000418a33 in remmina_applet_menu_item_new ()
------------------------

[2016-03-17 19:40] giox069 commented on #800
Which remmina version ?
32bit or 64bit os ?

[2016-03-17 22:29] antenore opened #801 "Scrollable profile editor"
With a small screen is not possible to click on the save button in the remmina profile editor.

This [patch](https://github.com/FreeRDP/Remmina/files/178797/remmina_file_editor.patch.txt), provided by Michele Sartori and Daniele Thieghi make the notebook content scrolleablel.

Will be closed by #802

[2016-03-17 22:34] antenore commented on #644
it's done, tomorrow will be available on most distributions.

Let us know what do you think

[2016-03-17 22:43] #644 closed

[2016-03-17 22:43] #801 closed

[2016-03-17 23:17] antenore commented on #799
Would you mind testing it also with xfreerdp ? Which graphic card do you have?

Thanks in advance

[2016-03-17 23:25] antenore commented on #797
Can you please provide OS, remmina and freerdp version?

Why do you have an IBM netcool console link in the remmina config?

x.x.x.x:16311/ibm/console

If you work in IBM you can contact me on sametime so that we can have a chat about your issue.

[2016-03-17 23:28] antenore commented on #791
Gio, where you planning to solve it yourself?

Do we profit of this to fix some translations?

[2016-03-17 23:29] antenore commented on #790
You probably had some old freerdp library... that happens also to me :-P

[2016-03-17 23:29] #790 closed

[2016-03-18 09:42] mnlandicho commented on #797
Hi,

I am running Centos 7 with the latest kernel 4.5. Here's my versions of remmina and freerdp.

[~]# remmina --version
Remmina - Version 1.2.0-rcgit.11 (git 73aa84a)
[~]#
[~]# xfreerdp --version
This is FreeRDP version 2.0.0-dev (git 75ae3f5)

I do not work in IBM. I used to access that server before. I do not know why it shows up in the log file.

[2016-03-18 09:44] Tavda commented on #491
1.2.0-rcgit.3 - fixed

[2016-03-18 09:44] #491 closed

[2016-03-18 10:11] antenore commented on #797
Ok, there is something weird then...

When you switch between the 0.9 to the 1.2 version be sure to remove completely the other version.

I've the feeling you have both version installed.

If you cannot solve, can you please provide a back trace with gdb?

[code]

[2016-03-18 10:47] mnlandicho commented on #797
I am sure I have completely removed the old version 0.9 whenever I switch to 1.2. I will feedback the back trace on my next post.

[2016-03-18 13:40] antenore opened #803 "Remmina crashes taking a screenshot"
The screenshot path is set to NULL.

[code]

The coming commit should fix this

[2016-03-18 13:41] #803 closed

[2016-03-18 13:42] antenore commented on #803
@giox069 this is the first fix, it should be enough for the above crash

[2016-03-18 15:22] kevinf28 commented on #681
Having RealVNC 5.3.0 with mirror driver installed, connecting from Remmina 1.1.2-2ubuntu2

[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7fffeb8be700 (LWP 13399)]
Remmina plugin RDP (type=Protocol) registered.
Remmina plugin RDPF (type=File) registered.
Remmina plugin RDPS (type=Preference) registered.
Remmina

[2016-03-18 21:52] antenore commented on #681
For what I can see it's probably an issue with libvnc, that it's not developed by us.

Would you mind sharing with me a core file so that I can investigate further on it?

https://sourceware.org/gdb/onlinedocs/gdb/Core-File-Generation.html

But honestly I'm not sure I'll be able to do anything at the moment. It looks like we are not the only one suffering from this:

https://github.com/search?q=Ha

[2016-03-19 07:40] ehkuso opened #805 "Japanese keyboard mapping"
Using VNC, Remmina works properly Ubuntu-Japanese -> Windows 7-Japanese.

Using RDP, I have found no combination of Remmina settings that works properly.

When the Remmina client on the Ubuntu-Japanese machine is set to a Japanese keyboard, Remmina sends the wrong codes to the Windows 7-Japanese target.  Remmina appears to be sending US keyboard codes to the Windows 7-Japanese target.

[2016-03-19 09:48] antenore commented on #805
We are looking at it.

[2016-03-19 11:40] ehkuso commented on #805
Sorry, it was a false alarm.  I found a bad keyboard file on the Windows 7
machine.

EHK

[2016-03-19 15:42] Neotric opened #806 "Shared clipboard with rdp"
Only recently I found out about remmina. Before that, I was stuck with rdp from win10, but win10 is not my favourite. So, I am happy working with Mint en remmina now, but I would like to have the option of a shared clipboard, so I can easily copy files from remote to local and vise versa. I could do that on the windows platform, not with remmina on Mint. My request is: shared clipboard, please.
##

[2016-03-19 16:05] giox069 commented on #693
Hi @markohrastovec. I totally forgot this issue, I'm sorry. Did you tried to update remmina with the ubunut's remmina-next PPA ? If yes, did it work and we can close this issue ?

[2016-03-19 16:08] giox069 commented on #806
The clipboard in remmina is working fine with text and images, if you are using the "remmina-next" PPA for Ubuntu and its derivateives, Mint included.
File copy operation is currently not implemented, but we are working on it.

[2016-03-19 16:19] markohrastovec commented on #693
I think I am using remmina PPA because I get new remmina almost every day.
However, I checked it back then and it still did not work. I disabled
clipboard sync then and I am not using it anymore since then. Iw would be
nice if it worked.

On Sat, Mar 19, 2016 at 5:05 PM, Giovanni Panozzo <notifications@github.com>
wrote:

--
Marko Hrastovec [marko.hrastovec@gmail.com]

[2016-03-19 16:32] giox069 commented on #693
Yes, if you get updates, you are using the remmina-next PPA.

mmm... if possible, in the next days, can you confirm the following ?
1. Copying a msword table from a RDP connection to the same RDP connection works
2. Copying a msword table from a RDP connection to another RDP connection, strips all formatting
3. Copying a msword table from a RDP connection to a local linux, strips all formatting

I

[2016-03-19 16:54] alex0x50 opened #807 "Impossible to NOT save password when connected"
I need to connect to remore PC without saving password.

Environment:
- remmina in linux (ubuntu 14.04);
- changed default remmina option "Double-click action" => "Edit settings";
- connection via RDP using RD Gateway server (don't know if it's important) and with option "Disable password storing" enabled.
Repro steps:
- double click on connection => connection properties window is opened;
- type

[2016-03-19 17:19] giox069 commented on #807
Hi @alex0x50.
This seems to be a regression bug after commit https://github.com/FreeRDP/Remmina/commit/4841912340f164d9ec3c1897def8aaf9f2bd6ebe
I'm marking it as a bug.

[2016-03-19 17:24] markohrastovec commented on #693
Hi,

I will get the access to the computer where I noticed the problem on Monday
and will try it then. Before I try it I would like to point out that I
noticed the problems copying test on RDP connection within the same msword
document. The problem was that I was able to copy a table one time. When I
tried to paste it second or third time the problem occured. As least it is
how I remember it. I wi

[2016-03-19 18:55] polearnik commented on #800
x64 I have problem with remmina last 2 weeks I receive updates from ppa remmina next But every new version dont work on my PC

[2016-03-19 23:05] antenore commented on #805
I'm happy you solved it.

I'm going to close this issue, but we will open a new one, in the next days, because Remmina doesn't have a good input management. We should, at least, move to GDK.

Thanks for the report.

[2016-03-19 23:05] #805 closed

[2016-03-20 22:19] antenore commented on #800
Hi @polearnik , I was discussing this bug with Giovanni and he was pointing out that you probably have one or more remmina profiles that are corrupted.

First of all try to clean completely your remmina folder making a backup somewhere else (inside ~/.remmina or ~/.local/share/remmina ).

For example i would simply do:

[code]
If you have your remmina profiles inside the ~/.local/share/remmina ada

[2016-03-21 01:44] mgruben commented on #799
**Testing with `xfreerdp`**
Folder and files appeared to display correctly with xfreerdp:
`$ xfreerdp /drive:Share,/path/to/the/Share /v:localhost:9001 /u:WindowsUser /d:Domain`
The empty folder from above does not display phantom folders:
![xfreerdp 1](https://cloud.githubusercontent.com/assets/6686712/13909007/eeed27f4-eedb-11e5-845e-c98f5d7edad0.png)
`[user@linuxmachine Share]$ touch testfile.t

[2016-03-22 12:03] ppipada opened #808 "Keyboard shortcut for "Open Secure Shell in new terminal" and other features in Tools"
Hi,
As of now the "Open Secure Shell in new terminal" and "Open Secure File transfer" actions in Tools for an ssh session doesnt have any keyboard shortcut.
Many a times I would want to "duplicate" a current session tab and a keyboard shortcut (or a way to configure a shortcut) for this would be great.
This could be something similar to "Ctrl + Shift + T" in gnome-terminal.

[2016-03-22 20:22] Fexxer commented on #556
I am using 1.2.0-rcgit.10 and RDP clipboard is working fine with Windows7 RDP servers in both directions, however with Windows XP servers the clip board only functions when transfer is Linux to Windows.  In the other direction "Paste" is available but the paste operation does nothing.  This is doing text only transfers.

Remmina = Awesome utility otherwise :)

[2016-03-22 20:24] Fexxer opened #809 "RDP Clipboard issue with 1.2.0-rcgit.10"
I am using 1.2.0-rcgit.10 and RDP clipboard is working fine with Windows7 RDP servers in both directions, however with Windows XP servers the clip board only functions when transfer is Linux to Windows. In the other direction "Paste" is available but the paste operation does nothing. This is doing text only transfers.

Remmina = Awesome utility otherwise :)

[2016-03-23 09:14] kero99 opened #810 "Error with VNC connections to VMWare Workstation 12"
Hi community,
after the upgrade to VMware Workstation 12.1.0 build-3272444, remmina can't connect to vnc service with this error in vmware log:

2016-03-23T10:01:32.323+01:00| mks| I125: SOCKET 102 (163) Creating VNC remote connection.
2016-03-23T10:01:32.323+01:00| mks| I125: MKSControlMgr: New VNC connection 55
2016-03-23T10:01:33.484+01:00| mks| W115: VNCENCODE 102 client wants invalid pixel fo

[2016-03-23 11:00] Chugajstyr commented on #783
In latest Remmina update (1.1.2-ppa1+883+next+201603212001~ubuntu14.04.1) problem is gone. Byobu doesn`t scroll now, when switching Remmina tabs.

![screenshot_remmina_](https://cloud.githubusercontent.com/assets/16296772/13983223/0822ed36-f0f7-11e5-8c23-9b86af22e2d6.png)

[2016-03-23 11:14] antenore commented on #783
Cool! It would be great to know how :-(
I close this but don't hesitate to re-add comments if you will have other issues.

I'll take a look at what I've modified in the last days

[2016-03-23 11:23] Chugajstyr commented on #783
Well...I was little bit too fast, when I said problem is completely gone. It`s not quite that.

![screenshot_remmina](https://cloud.githubusercontent.com/assets/16296772/13983675/e3ae2300-f0f9-11e5-98bc-c391808942ba.png)
This is what I see when reading file & scroll pages. There are no other Remmina tabs (connections).

[2016-03-23 11:32] Chugajstyr commented on #783
Hmm...disconnected&reconnected to test machine - artifacts is gone. Well, let`s see what will happen next.

[2016-03-23 12:56] antenore commented on #783
reopened :-)
I don't know how to debug it, but if you need support let me know.
Most probably it's related with the graphic card and not Remmina.

Remmina uses VTE for the termina, so you can try as well another VTE based terminal (on my machine vte2_90) and see if you can reproduce the issue.

[2016-03-23 13:42] antenore commented on #791
1. Quick Find label is fixed
2. Translations is something we have to fix at a higher level. We have some issues a PR opened and several strings not translated.
2. Quick Find clean

I fixed this adding in the remmina_main_on_action_connections_new function

[code]

I'm going to PR and merge it in next.

[2016-03-23 13:47] #791 closed

[2016-03-23 15:35] benkohler opened #812 "Please make survey & webkit-gtk dependency optional"
Starting in rc9, Remmina now has the HUGE webkit-gtk dep, non-optionally.  Could we make this optional behind a cmake option?

Thanks!

[2016-03-23 20:21] d-demkiv commented on #778
Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fff977fe700 (LWP 14048)]
0x00007fffe18a4655 in InterlockedIncrement ()
   from /usr/lib/x86_64-linux-gnu/libwinpr.so.1.1

[remmina crash.txt](https://github.com/FreeRDP/Remmina/files/186778/remmina.crash.txt)

[2016-03-24 06:47] antenore commented on #812
Ok, I'll do it the next week

[2016-03-24 07:58] antenore commented on #810
Can you temporary try to reduce the "Color Depth" and "Quality" settings to test if it works?

[2016-03-24 08:07] antenore commented on #778
@giox069 This last crash report looks interesting, isn't related to the reconnect feature implemented by the FreeRDP team?

@d-demkiv @wycito which version of freerdp do you have?

[code]

Would you mind testing with xfreerdp as well?

Thanks

[2016-03-24 08:13] d-demkiv commented on #778
This is FreeRDP version 2.0.0-dev (git n/a)
Should I connect directly via freerdp not using remmina?

[2016-03-24 08:14] antenore commented on #797
Can you do a back trace?

- Be sure both remmina and freerdp are compiled with "-DCMAKE_BUILD_TYPE=Debug"
- install `gdb`
- close all remmina windows
- start gdb from a terminal window: `gdb remmina`
- start remmina with `run`
- when remmina crashes, take a look at the terminal window, and copy & paste the detailed error here
- now type `bt`, this will tell gdb to produce a full backtrace. Copy &

[2016-03-24 08:16] antenore commented on #809
Does it works with xfreerdp?

Thanks :-)

[2016-03-24 08:29] antenore commented on #778
Yes, can you?

With something like:

[code]

[2016-03-24 08:35] d-demkiv commented on #778
In gdb? Or directly?

[2016-03-24 09:04] antenore commented on #778
Directly, just to test, than if you will have a crash it would be useful to test it under gdb for our FreeRDP friends

[2016-03-24 09:51] markohrastovec commented on #693
Hi,

I have tested the clipboard bug on remmina 1.2.0-rcgit.11 (git n/a). With
disabled clipboard sync I can copy within remote desktop without problems.
If clipboard sync is enabled I can copy a table within MS Word and paste it
once or maybe twice. To paste it the third time it almost never works any
more. Sometimes it won't paste at all and sometimes it will paste only
text. So, one copy and pa

[2016-03-24 10:43] d-demkiv commented on #778
I've got this, not shure whether it's the same error or a crash at all.
[11:20:40:593] [19618:19619] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[11:20:40:593] [19618:19619] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpsnd
[11:20:40:593] [19618:19619] [INFO][com.freerdp.client.common.cmdline] - loading channel cliprdr
[12:11:22:851] [19618:19619] [ERROR][com

[2016-03-24 13:10] antenore commented on #812
@benkohler can you please test  the https://github.com/FreeRDP/Remmina/tree/nosurvey branch?

You can compile with -DWITH_SURVEY=OFF the default behaviour is ON

@giox069 tested on FC22

[2016-03-24 13:29] benkohler commented on #812
Wow, thanks for looking at this so quickly.  It builds ok with -DWITH_SURVEY=ON but I get a build failure when I turn it off:
[remmina-log.txt](https://github.com/FreeRDP/Remmina/files/187919/remmina-log.txt)

[2016-03-24 13:52] antenore commented on #812
I'm puzzled... I had the same error before but I don't know how I solved it, it disappeared as it came...

But, as nothing happens by causality... I'm taking a look

[2016-03-24 15:21] antenore commented on #812
I fixed it, can you kindly try one more time?

Thanks and sorry...

[2016-03-24 15:31] benkohler commented on #812
Looks good.  I tested with both OFF and ON, and tested the build and at runtime.  Everything looks perfect, as far as I can tell.

Thanks!

[2016-03-24 15:49] antenore commented on #812
Perfect! I'll merge it as soon as we will test it on most platform we support and after my vacation :-P

See you next week :-)

[2016-03-24 20:26] kero99 commented on #810
Hi @antenore, i test all combination of "Color Depth" and "Quality" with same result :(

2016-03-24T21:21:12.077+01:00| mks| I125: SOCKET 107 (158) Creating VNC remote connection.
2016-03-24T21:21:12.077+01:00| mks| I125: MKSControlMgr: New VNC connection 59
2016-03-24T21:21:12.569+01:00| mks| W115: VNCENCODE 107 client wants invalid pixel format!
2016-03-24T21:21:12.569+01:00| mks| W115: VNC Erro

[2016-03-24 20:48] antenore commented on #810
I don't have a VMWare at the moment to test :-(
I'll take a look the next week

[2016-03-24 21:30] antenore commented on #812
Tested on:

- Fedora 23
- Ubuntu 15.10
- FreeBSD 10.2

I'm going to merge and close.
Thanks for your support

[2016-03-24 21:32] #812 closed

[2016-03-24 22:59] cmayoros commented on #722
Even after multiple updates since last time I posted, I'm getting the old errors still "Unable to connect to RDP server ..."

[2016-03-25 02:42] jackdozier commented on #722
I'm still able to connect via gateway on latest pull (1.2.0-rcgit.11 (git a3d6f23)) in my environment. I get that error if I put bad data (nonexistent host) in Server or RD Gateway Server fields. Can you confirm those fields are filled out correctly and list your Remina version from the about page?

[2016-03-25 07:45] polearnik commented on #800
thanks I delete ~/.remmina and it work

[2016-03-25 07:45] #800 closed

[2016-03-25 10:19] kero99 commented on #810
ok!!! Thank you!!!

[2016-03-25 14:35] cmayoros commented on #722
The connection information saved in Remmina was the same I had successfully used before this started. To be safe, I deleted the profile and set it up again. The information I used comes from the Microsoft remote desktop connection script provided by our helpdesk. Using this same information on xfreerdp is connecting successfully.

Remmina shows that it is version 1.2.0-rcgit.11 (git n/a)

[2016-03-26 13:16] pommetjehorlepiep commented on #784
I ran into the same issue with version 1.1.0 running on Debian Jessie.
(Version is 1.1.1-2 according to the package manager, but About shows 1.1.0....)

Changing the colour setting to something else than 256 colours did the trick for me as well.

[2016-03-27 08:52] montechristos commented on #722
Same here
On Mar 24, 2016 11:59 PM, "Chris Mayoros" <notifications@github.com> wrote:

[2016-03-28 03:05] jackdozier commented on #722
I spent some time setting up a test windows 2008r2 gateway server. I'm able to connect to it. Can you please try to connect to it through your version of Remmina to see if you have the same issue you currently have?

Server: 127.0.0.1
Username: test
Password: asdQWE123
RD Gateway Server: gateway.jackdozier.com

It's a virtual machine running on an underpowered host, so don't be concerned if connec

[2016-03-28 13:57] mnlandicho commented on #797
Hi Antenore,

Apologies for replying late. My Linux laptop has been experiencing a lot of problems lately. The problem I think is with the update to the latest kernel. I moved back down to kernel 4.4 from 4.5. reinstall my gnome desktop suite and also a fresh install of remmina. It all suddenly worked. I am closing this thread now. Sorry for the trouble.

[2016-03-28 13:57] #797 closed

[2016-03-29 00:52] cmayoros commented on #722
I was able to connect to your server successfully.

[2016-03-29 00:59] jackdozier commented on #722
Interesting. Do you have any way to know the version of Windows that is running on the gateway server or the destination server? That could help us narrow down on the issue.

Can you try putting the server name in your /etc/hosts file? For example, if the computer I was attempting to connect to was called "mydesktop", I would add a line to /etc/hosts like below. The IP address you use shouldn't ma

[2016-03-29 01:14] cmayoros commented on #722
The destination I'm connecting to is my desktop workstation, it's running Windows 7 Enterprise. I do not know what Windows version is on the gateway server. I've added the line:
10.8.10.60 CLE-4NH2P22
to my hosts file, no luck there either. I tried it with the rest of the domain name as well, same thing.

[2016-03-29 02:14] jackdozier commented on #722
If you run remina from a command line, do you get any errors when trying to connect? For example, if I put a typo in the gateway hostname, I get the following on the command line when I try to connect.

[21:11:49:552] [17008:17014] [INFO][com.freerdp.client.common.cmdline] - loading channel cliprdr
[21:11:49:711] [17008:17014] [ERROR][com.freerdp.core] - getaddrinfo: Name or service not known
[21:

[2016-03-29 07:22] antenore commented on #241
Reported also on launch-pad

https://bugs.launchpad.net/ubuntu/+source/remmina/+bug/1095534

[2016-03-29 23:40] cmayoros commented on #722
Finally. Solved it. Thank you. This is what I've needed, I tried running Remmina from a command line as you suggested, and saw the output. Below is a copy, with company info edited out. Once I saw this and realized it's a certificate error, I tried to remove any old certificates without any luck. Then found the option on the advanced settings screen to ignore the certificate. Turned that on, and w

[2016-03-30 05:19] markohrastovec commented on #693
I think the title is now wrong. The error was observed on remote machine only when clipboard sync is on.

[2016-03-30 07:08] antenore commented on #693
I can confirm the issue, but it happens whenever I enable or disable the clipboard sync.
Well, if I disable the clipboard sync I can't copy&paste at all.

[code]

[2016-03-30 08:53] truemalkavian opened #814 "not an issue, i'm figuring how to make it work"
Hi, I don't know if it can be seen as an issue.
In ultravnc I can configure some vnc servers to use MSRC4Plugin.dsm wich use an rc4.key file.
In ultravnc I can configure the server to check if username and password inserted by the viewer are in an ldap group.
Is it possible to configure a remmina client to auth against a system like that?

[2016-03-30 08:57] StuWhitby opened #815 "Feature request - Option - Floating Desktop Name [$5]"
I'm regularly using Remmina with simultaneous connections to multiple systems which I need to swap between.  To know which one I'm on, or which ones I'm ctrl+->ing to (I'm sure that's a word) I need to pin the desktop bar at the top, which I rarely need to use.

Is there any chance of getting an option to show the system/connection name overlaid at the top of the pane if the bar's not pinned?  Opa

[2016-03-30 10:23] der-eismann commented on #722
I can confirm this, I also get the certificate error. For me it looks like it compares the certificate of the gateway with the hostname of the RDP server which results in an error.

[12:15:59:300] [2308:2313] [ERROR][com.freerdp.crypto] - The hostname used for this connection (<IP address>:443)
[12:15:59:300] [2308:2313] [ERROR][com.freerdp.crypto] - does not match any of the names given in the ce

[2016-04-01 07:11] YoungJuleke opened #816 "Usage stats request window -> Any individual data will be shared with public or any other third party."
This message appears in the window where you ask to collect usage statistics... is it perhaps missing the word 'not' ????

[2016-04-01 14:33] antenore commented on #816
Yes, sorry you are right I'm not English mother tongue so it didn't poped at me till you highlighted it.

I'll correct it as soon as I can.

[2016-04-01 14:43] antenore commented on #816
Fixed, let me know if it needs any other improvements.

Thanks a lot again!!!

[2016-04-01 14:43] #816 closed

[2016-04-01 14:55] antenore commented on #815
:+1:

Do you mean in fullscreen mode?

Would you want something like a "Alt+Tab" combination of some desktop environments (showing the preview of the window) or crtl+arrows showing the preview/name/number of the workspace?

For example let's say Lctrl-right make you switch to the next connection showing you an overlay of the profile name?

[2016-04-01 15:02] antenore commented on #814
Not yet. This is en enhancement that we could bring, but now the issue is that we lack VNC protocol experience in general.

So I've to do a lot of home work before to bring something like this.

If you are willing to help us (at your pace), you are more than welcome, I can help you a bit to find your way around with the code and so forth.

Otherwise can you please

[2016-04-01 15:48] antenore commented on #810
Can you please test with libvnc)?

The following should work, but let me know in the case it doesn't work

[code]
Than you can test the gtk client for example

Just in case, do you have a test VM I can connect to to make some tests (contact me privately my name @simbiosi.org)?

[2016-04-01 16:44] StuWhitby commented on #815
Yes, this request is relevant for fullscreen mode (I normally have Remmina running that way on one of my screens)

Personally I'd prefer it if the connection name was shown at all times (opaque, non-interactive in a reasonably small font at the top of the workspace).  If you want to link this to a key though, I'd personally link it to whenever Rctrl is held, as that's what I'm holding when "arrowi

[2016-04-01 20:57] kero99 commented on #810
Hi Anton, this is the output with latest libvnc gtkclient compiled:

01/04/2016 10:46:42 PM VNC server supports protocol version 3.8 (viewer 3.8)
01/04/2016 10:46:42 PM We have 1 security types to read
01/04/2016 10:46:42 PM 0) Received security type 2
01/04/2016 10:46:42 PM Selecting security type 2 (0/1 in the list)
01/04/2016 10:46:42 PM Selected Security Scheme 2
01/04/2016 10:46:46 PM VNC aut

[2016-04-02 04:12] mgruben commented on #799
This issue is mooted, as the files and folders have started displaying correctly again for me, despite still having
`remmina` 1:1.2.0rcgit.8-1
`freerdp` 1:1.2.0_20160107-6
`opencl-mesa` 11.1.2-1

This suggests that the issue was entirely outside of the `remmina` code base, but I appreciate your looking into it just the same :+1:

[2016-04-02 04:13] #799 closed

[2016-04-02 18:11] wols commented on #601
+1
I use `1.0.2` - is `remmina-1.2.0_rc3-r1` on Gentoo.

[2016-04-03 03:56] Vladimir-csp opened #817 "Remmina forces its windows to appear at the center of the screen"
It is probably better to let window manager do its job.

[2016-04-03 04:26] Vladimir-csp opened #818 "Please support XDG base directory spec"
Currently default configuration placed in `${XDG_CONFIG_DIRS%%:*}/remmina/remmina.pref` (`/etc/xdg/remmina/remmina.pref`) has no effect on fresh launch.
Connection profiles placed in `/usr/share/remmina` (resolved from `${XDG_DATA_DIRS##*:}/remmina/` for example) are not shown in the list.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/iss

[2016-04-04 10:19] IgorFilth opened #819 "Problem with changing key assignment in the "Keyboard" tab (rcgit.11)"
Hi!  After updating to version rcgit.11 I can't change the key assignment in the “Keyboard” tab.
The same problem in the "Options" tab on buttons "Configure Resolutions" and "Configure the keystrokes"

[2016-04-04 17:23] freddyrv opened #820 "ERRCONNECT_SECURITY_NEGO_CONNECT_FAILED [0x2000C]"
Hello, I have just updated remmina to the latest version and I am not able to connect to a Windows 2012 server after upgrading.
This is the error I am getting, I have completely removed xfreerdp, rdesktop and remmina with purge and install it from scratch, issue is still happening.
Any help would be appreciate it,
This is the complete error I am getting when trying to connect:

[11:16:29:854] [293

[2016-04-04 17:27] giox069 commented on #820
Did you compiled remmina by yourself or are you using a prepackaged version ? (ubuntu PPA ?). Which version are you exactly running (type `remmina --version`) ?
Also check the freerdp version with xfreerdp --version.
Try also to reboot the PC, if not already done.

[2016-04-04 17:41] freddyrv commented on #820
Hello @giox069, I am using ubuntu PPA.

Remmina - Version 1.2.0-rcgit.11 (git n/a)
This is FreeRDP version 2.0.0-dev (git n/a)

I will go ahead and reboot now, thanks.

[2016-04-05 08:14] antenore commented on #819
Fixed, closing it.

Thanks for the report

[2016-04-05 08:15] #819 closed

[2016-04-05 08:16] antenore commented on #819
The fix will be available in the next PPA update

[2016-04-05 08:16] antenore commented on #819
@giox069 remember to merge this fix in your branches.

[2016-04-05 08:19] antenore commented on #818
Thanks.
How urgent is this for you?

[2016-04-05 08:23] Vladimir-csp commented on #818
Not urgent, just for sake of completeness. Please take your time.

[2016-04-05 10:59] aseques opened #821 "Error when using clipboard sync wiht windows 2012R2"
I am getting continuously these messages on the console when connecting to a specific windows 2012R2 server it seems tot me that it only happens when I've been working normally for some time (connecting to a varitety of 2008r2 and 2012r2 servers)

On the remmina screen I see an message about Reconnecting (goes from 1 to 20) never finishing.
On the console I see the following (it's only an extract)

[2016-04-05 12:28] weberhofer opened #822 "Add a issues-templates to the project"
Following all the issues on remmina I have recognized that on so many reported issues important information are missing. There is an feature to add issue-templates which could be very useful. The feature is documented here: https://github.com/blog/2111-issue-and-pull-request-templates

I'd recommend to add such an text like this one to the project:

[code]

@antenore, @giox069 what do you think ab

[2016-04-05 12:42] antenore commented on #822
:+1:

Johannes this is absolutely needed! Thanks a lot for the suggestion, I didn't find this feature in the past.

If Giovanni agrees as well we can go ahead.

Do you have time to do it? Otherwise I'll take a look in the following days.

[2016-04-05 12:48] weberhofer commented on #822
I'll see if I can. Do you have any suggestions regarding the text?

[2016-04-05 12:53] giox069 commented on #822
:+1:
I agree. Me too, I tryed to find a similar thing but I never found one.
Suggestions for the text:

1. Client OS --> Client OS name and version
2. Add xfreerdp version
3. Add "Desktop environment (GNOME, Unity, KDE..:)"

If space is enough, add also instructions to obtain remmina and xfreerdp versions.
For newer versions is `--version` switch, for older, the user should search on the about men

[2016-04-05 12:57] antenore commented on #822
For me it's fine.. Following Gio comments:

[code]

[2016-04-05 15:24] IgorFilth commented on #819
Tnx!

[2016-04-06 13:15] cjbaghl opened #823 "Unable to connect to Win7 PCs via RDESKTOP with Remmina 1.2.0-rcgit.11"
I recently upgraded from Remmina 1.2.0-rcgit.8 to 1.2.0-rcgit.11 via pacman (currently running Antergos [Arch Linux]).  After the upgrade, I am no longer able to connect to any of the Win7 PCs via RDESKTOP.  When I downgrade back to 1.2.0-rcgit.8, I can connect.

Can you suggest how to debug this issue?

[2016-04-06 21:43] antenore commented on #823
In general, we don't support external remmina plugins, but only the ones under remmina-plugins of the source tree, as we are already too busy with what we have.

First of all try to connect directly with rdesktop (it should work), than you can start remmina from the command line and then open the "Debug window" from the help menu.
Take a look in the console and in the Debug Window for any errors.

[2016-04-06 22:13] muflone commented on #823
@cjbaghl
I can confirm the issue is related to the recent changes in the remmina plugin API.
In the next days I'll update the rdesktop plugin for Remmina to fix those changes.

In the future, please open the issue in the [remmina-plugin-rdesktop project](https://github.com/muflone/remmina-plugin-rdesktop/issues).

@antenore thank you for pointing the API change.

[2016-04-06 22:15] antenore commented on #823
yw.

[2016-04-07 00:43] cjbaghl commented on #823
All,

Thank you.  I elected to go with FreeRDP and it works well.
The only reason I switched to RDESKTOP was because FreeRDP would
occasionally freeze and require me to close the window and restart. My
hope is that FreeRDP is more stable now.

On 04/06/2016 06:13 PM, Muflone wrote:

[2016-04-07 05:31] CVAS7 commented on #165
For Fedora , Add the pulgin by using bleow command
sudo yum install remmina remmina-plugins-common remmina-plugins-gnome remmina-plugins-rdp remmina-plugins-vnc

[2016-04-07 06:50] giox069 commented on #823
@muflone: I think the commit is my commit here:
https://github.com/FreeRDP/Remmina/commit/5caf0121e69acd22effbb1a159b3ebeef8e0f0dd
In the next week, I will do some other additions to the plugins API to implement file copy&paste via RDP. We do not have an official metthod to notify of API changes, so I will send you an e-mail when done.

In the meanwhile, I'm closing this issue. As far as I underst

[2016-04-07 07:13] antenore commented on #823
We can probably just use a standard commit message when we will have an API change in the pull request, or in the main commit.

`Plugin API change: ...`

Sending mails around is nice and polite but it's quite inefficient, because we don't know if someone else is developing his/her own plugin out there.

My 2 cents.

[2016-04-07 07:40] #823 closed

[2016-04-07 07:55] antenore commented on #817
What do you mean exactly?
I'm using a tiling window manager so I don't see any particular issue.

Can you also provide some more background? OS, window manager, Remmina version, libfreerdp version, etc (the more the better)

[2016-04-07 08:01] Vladimir-csp commented on #817
Debian testing
Openbox 3.6.1-2
Remmina 1.2.0~rcgit-11 (this was the case for 1.1 too).

Main window and connection window of Remmina always created at the center of the screen overriding placement policy of window manager.

[2016-04-07 08:29] antenore commented on #817
Thanks.

If I provide a temporary development branch, would you mind testing it for me (a full test, with some different scenarios)?

I can write code but I cannot test at the moment and I don't want to break the "next" (our master).

I'll work on it in the next days.

[2016-04-07 08:33] Vladimir-csp commented on #817
I suppose, I would be able to build it by putting the code through the packaging setup from 'next' ppa, so I'll test it.

[2016-04-07 08:35] antenore commented on #817
thx. I'll let you know. In the wiki we have instructions on how to build (quite straight forward)

[2016-04-07 10:53] giox069 opened #826 "Huge icons in toolbar in some desktop environments"
Under LXQT and KDE, some icons in the toolbar inside are too big. The same problem can be observed on the floating toolbar.

![selezione_011](https://cloud.githubusercontent.com/assets/5477803/14348756/e3db36d0-fcbe-11e5-9fbf-b35de7df328f.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32704139-huge-icons-in-toolbar-in-some-desk

[2016-04-07 11:35] #822 closed

[2016-04-07 12:41] antenore commented on #822
I love you guys!!!!

[2016-04-07 14:26] freddyrv commented on #820
Hello all, @giox069 rebooting did not solve the issue, do you have any other suggestions?
Appreciate your help, thanks!

[2016-04-07 19:29] antenore commented on #826
I can confirm the issue.

[2016-04-08 11:58] antenore commented on #817
You can test this.

Please try any scenario you can imagine about (full screen, multi monitor, multi window, etc)

Thanks for your support!!!

@giox069 , @weberhofer if you have time to test as well it would be great. Thanks!

[2016-04-08 12:44] Vladimir-csp commented on #817
I will not be able to test multiple monitors for a couple of days, but everything else seem to check out. Main window and connection window are being placed by WM where it wants them. Child dialog windows are placed at the center of parent windows, which makes sense. So, initial issue is resolved.

Perhaps not related, but I've stumbled upon this problem just now: if I hide the panel with Host+T,

[2016-04-08 13:13] antenore commented on #817
This is a nice one! You are a good tester :-)

@giox069 I can also replicate this. If the toolbar is vertical (on the side), the main connection window shrinks and grows till the height of the main connection window, is equal the sum of the height of all the toolbar icons (WTF!!!) :-D

[code]

This is another bug, I'm tempted to close this and open a new one... Yes. I'll include you both in the co

[2016-04-08 13:19] antenore opened #829 "Remmina main connection window loose it's minimum height when the toolbar is hidden"
Followup of #817

This is a nice one! You are a good tester :-)

@giox069 I can also replicate this. If the toolbar is vertical (on the side), the main connection window shrinks and grows till the height of the main connection window, is equal the sum of the height of all the toolbar icons (WTF!!!) :-D

[code]

@giox069 I assigned this to me, but if you know quickly how to solve it...

@Vladimir-c

[2016-04-08 14:39] antenore commented on #829
https://github.com/FreeRDP/Remmina/commit/f3276605405fd6b31e1b5b287fc835f12096e1b2

It should work now

[2016-04-08 16:52] Vladimir-csp commented on #829
Window now does not change size at all when toggling panel.
I would leave it as it is now. It's predictable and there is always Host+1

[2016-04-10 22:33] yujokang opened #830 "Security Bug: Unchecked call to gcry_control"
Dear Remmina developers,

We are security researchers at Columbia University and the University of Virginia. As part of a research project, we have built a tool for automatically finding error handling bugs and are testing it on various cryptographic libraries and applications that use them.

In the source code at the time of commit 5130ca586a7823fddba1dfea0b204c9c46448f02, we discovered that GCry

[2016-04-11 12:57] giox069 commented on #826
It also happens on other remmina windows
![preferenze del desktop remoto_012](https://cloud.githubusercontent.com/assets/5477803/14427549/ab5d6bb8-fff5-11e5-8d72-f63c8c444e1b.png)

[2016-04-11 13:17] antenore commented on #826
Looks like it's theme issue... I'm investigating

[2016-04-11 14:32] antenore commented on #826
I cannot reproduce the issue on Fedore fc22 + LXQT vanilla. :-( I've pushed on wm-hints a little improvement.

Let me know.

[2016-04-11 14:53] antenore commented on #830
Thanks so much for this report.

We will take a look ASAP and let you know.

@giox069

[2016-04-11 15:23] #817 closed

[2016-04-11 15:23] #829 closed

[2016-04-11 16:05] antenore commented on #830
I'm working on it

https://github.com/FreeRDP/Remmina/commit/bfdc406098f58744a8b20adbddd1eeac7242529e

[2016-04-11 20:49] alqu1m1sta opened #831 "New user"
Hello to everybody
I have in mind implement a program capable of controlling a few number of computers in order to display their information in another one known for me as the master computer.
Every computer is in the same LAN.
I would like to use remmina in a command line. I am going to create a script and send it to the master computer (after logged in a ssh service) that will display the remote

[2016-04-11 23:39] antenore commented on #774
I'm working on several improvements, including this one under the branch https://github.com/FreeRDP/Remmina/tree/remmina_main

[2016-04-12 09:27] zajc commented on #556
Just an INFO for those involved in this closed thread. At the moment I'm using the latest 1.2.0-rcgit.11 and I found out why clipboard was not working. The reason was teamviewerd service. I uninstall Teamviewer and now the clipboard works.

[2016-04-12 09:32] zajc commented on #809
I'm using  1.2.0-rcgit.11 and I have the same issue on Xubuntu 15.10. From Linux to XP guest works only one way, on Windows 2003 which is basically the same OS works two-way.

[2016-04-12 09:46] ipaq3870 opened #832 "Show keyboard grab status on windows title"
Hi,

This is an enhancement request. I always hide the toolbar so it is not always immediately clear to me if the keyboard is grabbed or not. Can I propose to change the windows title to something like "connection name [KBD Grabbed]" when grab is on?

Thanks.

[2016-04-12 10:09] zajc commented on #809
I have checked and xfreerdp clipboard works both way on XP.
My xfreerdp version: 2.0.0~dev~git20160331+dfsg-0wily2

[2016-04-13 06:07] antenore commented on #832
[KBD Grabbed] is too long (also the title itself is too long), I'll probably add just [K]

Alternatively or in a second stage we will probably add the information in an opaque overlay as requested in #815

[2016-04-13 06:08] antenore commented on #832
@giox069

[2016-04-13 07:43] antenore commented on #831
Hi ,

Github should be used only for development issues, why don't you follow us on G+ (link in the Remmina help menu)? We can continue the discussion over there.

I'm not sure I've completely understood what you want to accomplish, in the meanwhile I give you some info you will probably need (anyway).

Let me know what do you think (on G+ if it's ok for you). I've to close this because this is no

[2016-04-13 07:43] #831 closed

[2016-04-13 07:51] giox069 commented on #831
Remmina currently cannot disconnect a session via commandline. There some commandline vnc clients for linux around which are more commandline friendly than remmina. For example xtightvncviewer.
You can start vncviewer from the commandline and then kill it to close the connection.
Please use our Google+ community for non remmina development related discussions.

[2016-04-13 08:03] box293 opened #833 "How do I select all text in SSH terminal session ?"
Please give us some details about the systems you are using:
* Linux Mint 17.3 Rosa MATE
* Remmina version 1.2.0-rcgit.11
* Desktop environment : MATE
* Connecting to (OS and version): any linux SSH session
* Connecting via (RDP, VNC, ...): SSH

Issue / Question:
How do I select all the text in the terminal screen so I can copy it to clipboard? I cannot find a way to assign a hotkey to it. I can o

[2016-04-13 13:17] antenore commented on #833
Thanks for the report.
This is not yet implemented and I'm not sure is it possible (tested with vte command), I'll take a look at it.

If you use screen or tmux it's quite straightforward

http://askubuntu.com/a/55163/8111

[2016-04-13 15:09] antenore commented on #833
xfce4-terminal is based on vte, as remmina, so I should be able to do something

[2016-04-13 19:11] nicocrm commented on #789
I used xfreerdp for a while because of this issue but just tried today and it works fine - not sure if an update fixed it, or if something else was off!  Either way - thanks, I love the app!

[2016-04-13 19:11] #789 closed

[2016-04-13 20:05] antenore commented on #789
Thanks, sorry I missed this issue.
Please come back in case of other problems.

[2016-04-13 21:24] box293 commented on #833
Thanks for the link to the tips using screen or tmux. However they all seem a bit convoluted.

All I need is a menu option (perhaps from a right click) that simply selects all text, being a keyboard shortcut is not important. From there I can copy and paste using normal commands.

It's not something I'm in a rush for, but I thought I would throw the idea out there

Thanks for the quick response :)

[2016-04-14 00:13] antenore commented on #833
I was too excited to add it.

A quite hidden feature was the Host+c and Host+v keys (Host --> right ctrl), that you can use for copy and paste.

So I added a Host+a (right ctrl+a), to select everything and I also created a popup menu with the 3 commands, so that you can use both the mouse or the keyboard.

Before to merge this branch (vte_improvements) into next, I want to test it on different dis

[2016-04-14 00:18] box293 commented on #833
Awesome, that’s exactly what I was after. I'm a big fan of the copy and paste keys, so having another keyboard shortcut is great. I'll wait for it to come through in PPA.

It's awesome to have open source products like this be actively developed, keep up the great work.

[2016-04-14 02:18] ipaq3870 commented on #832
antenore, you are right, [K] would be enough. Thanks.

[2016-04-14 06:31] #833 closed

[2016-04-14 07:52] SamiSammour commented on #809
I am experiencing problems with cope/paste in the session. My machine runs ubuntu 14.04 and the host runs ubuntu 15.10 and I can't copy anything in both ways.
I am using version 1.2.0-rcgit.11

[2016-04-14 07:56] giox069 commented on #809
@zajc @SamiSammour : have you also installed teamviewer or other programs which can control the clipboard ?

[2016-04-14 08:08] zajc commented on #809
When I had Teamviewer installed on Xubuntu 15.10 clipboard didn't work, when I remove it, it started to work both-way (Windows 2003, 2008, Windows 7), except XP where clipboard works only one-way, from Linux to XP.

Another issue is when you use the Virtualbox, then clipboard sometimes work, sometimes doesn't. I still didn't figure it out when and how is (not) working. The workaround is to run hea

[2016-04-14 08:10] weberhofer commented on #809
I'm having this problem only when Teamviewer is running. Having it installed seem not to influence the clipboard.

[2016-04-14 08:12] zajc commented on #809
I guess it is "teamviewerd" service which is installed (by default?) I didn't explore it.

[2016-04-16 22:14] rlees85 opened #835 "GTK 3.20 VTE3 Remmina shows blank terminal"
It seems that the version of VTE3 that is required for Gnome Terminal (3.20) no longer works with Remmina. When making a SSH connection, Remmina asks for the password as normal but then the terminal window is just black with a white square cursor in the top left.

- Version of VTE3 that is known to not work with Remmina: 0.44 [libvte-2.91.so.0.4400.1]
- Version of VTE3 that does work with Remmina:

[2016-04-16 23:25] antenore commented on #774
Subgroups are already supported, it's enough to separate the group names with "**/**" (slash)

@danboid can you confirm it's what you were looking for?

[2016-04-17 08:07] NginUS commented on #148
I have this same issue running Remmina v. 0.9.99.1 in Linux Mint 17.3 KDE, with current updates as of 2016-4-17.

[2016-04-17 09:55] antenore commented on #148
We don't support that version, it's really too old, follow our wiki on how to use the official PPA.

[2016-04-17 09:58] antenore commented on #835
Thanks for the report, we will take a look asap.

[2016-04-18 14:08] thewarden commented on #835
I'm also experiencing the same issue when trying to use Remmina for SSH.

**OS details**

Arch Linux (all packages up to date as of 2016-04-18)
Remmina - Version 1.2.0-rcgit.11 (git n/a)
gnome 3.20.1-1 / gdm 3.20.0-1 / GTK 3.20.3-1 / vte3 0.44.1-1

[2016-04-18 14:27] antenore commented on #835
I've replicated the issue as well, but I didn't identify the root cause yet.

I thought the cause was some deprecated symbols, but none of the ones **documented** is used by Remmina.

It could be some non documented deprecated symbols or a bug in vte.

In both cases it would be nice to test another non-GNOME vte based terminal, if you guys have time to test this it would be great.

In the next day

[2016-04-18 21:33] rlees85 commented on #835
Pantheon-Terminal works - and that is VTE3 based. Will try some more... thanks for looking into it by the way. Shame it is something non-trivial - by the looks of it.

[2016-04-19 06:18] aairey commented on #624
Thanks @havatv for the example command.

The recording device is however not showing up for me in Win2K12 R2.
I am on Fedora 23 with xfreerdp 1.2.0-beta1

'''
[aairey@plf23aai001]~% xfreerdp /u:username /d:DOMAIN /sound:sys:alsa /microphone:sys:alsa /v:servername
[08:12:41:481] [25300:-537680128] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[08:12:41:481] [25300:-537680128] [I

[2016-04-19 15:33] antenore commented on #835
I'll test asap on arch this commit d1e914a, I'm also adding new features and color palettes (tango, gruvbox, linux, solarized and xterm).

If anybody else wants to try out... (compiling instructions in the wiki , just substitute "next" with "vte3")

[2016-04-19 20:41] rlees85 commented on #835
Unfortunately, it did not work for me...

Remmina in help > about is showing d1e914a as the version too, so I think I built it right

[2016-04-19 20:43] antenore commented on #835
Yes, you're right, it doesn't work (yet), I'm diving into it right now.

[2016-04-19 21:27] giox069 opened #836 "Screenshot crash under Ubuntu 16.04"
Latest version of remmina, running on Ubuntu 16.40 x64 desktop. Connected to Windows 7.
Pressing the "screenshot" button on the toolbar, makes remmina crash.
Here is the backtrace:
[code]

[2016-04-20 07:43] CS-JS commented on #774
@antenore Confirmed working for me, exactly what I was looking for! Thank you!

[2016-04-20 07:56] antenore commented on #774
Thanks, I close the issue.

[2016-04-20 07:56] #774 closed

[2016-04-20 08:23] antenore commented on #836
Also on Arch Linux, but I suspect that it happens on any new/fresh/clean installation of Remmina.

Try to set the screenshot folder in the remmina preferences.

[2016-04-20 08:27] antenore commented on #836
Wel... not on Fedora at least... I've removed the properties by hand (vim) in the remmina.properties and I cannot reproduce the issue.

So it's really something related to the new GTK/Glib

[2016-04-20 08:32] Lonniebiz opened #837 "Move Focus to Quick_Find search-box Upon Typing"
I log into and out of numerous machines each day, and I'm constantly having to click focus into the Quick_Find text box after giving focus to the window itself.

Since typing does nothing, when the Quick_Find search-box is NOT in focus, it would be very nice if it could gain focus in the event that I start typing. Even if it loses my first keystroke, it would be very nice if hitting any key would

[2016-04-20 14:52] antenore commented on #836
This commit doesn't solve the issue, it's just something related that is better to fix in the same context I think.

[2016-04-20 18:36] tomswartz07 opened #838 "[Feature Request] Focus on 'server' box during 'New Connection'"
Hi there:

Thanks very much for this project. I use the program daily.
I'd like to suggest that the 'flow' for connecting to a new client be re-worked a bit.

*What currently happens:*
- Click on tray icon, select 'New Connection'
- Window appears, with focus immediately on 'Name'

*What should happen:*
- Click on tray icon, select 'New Connection'
- Window appears, with focus immediately on 'Serv

[2016-04-21 07:07] Olmer1st opened #839 "RDP clipboard issue"
Hi,

I have problem with copy-paste from guest system (CentOS 7).
From host (Ubuntu 14.04) to guest copy-paste  work without problem.

System Details:
* Client (OS name and version): Ubuntu 14.04
* Remmina version (remmina --version): 1.2.0-rcgit.11
* Desktop environment (GNOME, Unity, KDE, ..): Unity
* Connecting to (OS and version): CentOS 7
* Connecting via (RDP, VNC, ...):  RDP
* RDP issues on

[2016-04-21 09:48] weberhofer commented on #839
Are there some messages in the Remmina debug-window (help->debug-window)?

[2016-04-21 11:19] Olmer1st commented on #839
Loop of messages...
[RDP][10.0.0.201] attempting reconnection, attempt #1 of 20
[RDP][10.0.0.201] reconnection successful.
[RDP][10.0.0.201] network disconnection detected, initiating reconnection attempt
[RDP][10.0.0.201] attempting reconnection, attempt #1 of 20
[RDP][10.0.0.201] reconnection successful.
[RDP][10.0.0.201] network disconnection detected, initiating reconnection attempt
[RDP][10.0

[2016-04-21 15:33] antenore commented on #835
I didn't give up yet, but I'm not far, because I'm quite lost.

I just opened a bug report to the VTE team in the hope they will help me.

https://bugzilla.gnome.org/show_bug.cgi?id=765382

I'll continue to investigate but it'll probably take some time.

[2016-04-21 16:47] rlees85 commented on #835
Again your help is appreciated :) I understand your doing this out of your spare time and I also understand that I use Archlinux at my own risk. If there is anything (basic - I am not great at coding, especially in c) I can do to help please let me know.

[2016-04-21 22:19] antenore commented on #835
Solved!

At the moment it works inside the vte3 branch, as we are still fixing other issues related with GTK+-3.20, we won't commit this in the "next" branch for some more days.

A huge thanks to the VTE team.

[2016-04-22 09:20] rlees85 commented on #835
Confirmed :) compiled on the vte3 branch this morning and works perfectly. Thanks again !

[2016-04-22 09:33] antenore commented on #835
Cool! Can you please update the Arch forum thread?

We will merge into the "next" branch asap

[2016-04-22 11:55] max72bra commented on #835
hi antenore and thanks for all this.
my setup is virtually identical to rlees85 but +1 problem solved here

[2016-04-22 12:04] SimpleTechGuy opened #840 "Crashing after update"
remmina  1:1.2.0rcgit.11-1 not working after update...  Tested on desktop and laptop computers - same problem.

..-Syyu - update to Remmina  1:1.2.0rcgit.11-1
..Remmina is working
..reboot computer
..Remmina not working

Anybody else getting this?

Please give us some details about the systems you are using:
* Client (OS name and version):
Linux 3.18.30-1-MANJARO #1 SMP PREEMPT Wed Apr 6 21:22:27

[2016-04-22 12:09] rollopack commented on #835
Thanks, I can confirm the problem is related to VTE3 in Debian too.

Installing libvte-2.91 from stable (0.38.1-2) make remmina working again with ssh.
But the bug still persist with the new vte version 0.44.1-1 from unstable

[2016-04-22 12:19] antenore commented on #835
@rollopack Did you try to compile yourself the vte3 Remmina branch?

The fix is still under testing and we are also preparing other corrections before to merge in the remmina master (next)

[2016-04-22 12:28] SimpleTechGuy commented on #840
Seems to be affecting only the Teamviewer Plugin...  VNC and RDP are working fine.

[2016-04-22 12:35] rollopack commented on #835
@antenore No, I haven't tried

[2016-04-22 12:40] antenore commented on #835
We will release a new "next" version as soon as we will fix the command line parsing issues we have with gtk+-3.20 and it'll include the vte patch as well.

Stay tuned.

[2016-04-22 13:52] rlees85 commented on #835
Not sure if I should raise a new issue, but it seems after closing a SSH connection the CPU usage gets pegged to 100% on one core with the remmina process being the culprit. I will try and get more details and raise another issue, but just a early heads up

[2016-04-22 13:56] antenore commented on #835
Yes, please, another issue is better,

[2016-04-22 14:11] antenore commented on #840
At the moment we are experiencing some issues due to GTK+3.20 and the new VTE, we have fixed some but we are still working.

Regarding Teamviewer I can't do anything at the moment, you can submit a bug report to @Muflone

I'll close this as it's out of scope, but I can reopen as soon as we will be sure that is related to Remmina and not to the Teamviewer plugin.

[2016-04-22 14:11] #840 closed

[2016-04-22 14:14] antenore commented on #835
As a side note for the bug report.

Reopening the SSH connection bring down again the CPU consumption

[2016-04-23 16:40] rlees85 opened #842 "100% CPU Usage"
Following on from this issue:
[Issue 835, GTK 3.20 and VTE3 issues](https://github.com/FreeRDP/Remmina/issues/835)

It seems under certain circumstances Remmina will start to use 100% CPU.

For the context of this issue report, '_**old Remmina**_' is version **1.2.0-rcgit.11 (git: n/a)**. This is the current version that is in the Arch Linux repositories.

- 'old Remmina' works fine with VTE versi

[2016-04-23 19:47] antenore commented on #842
Thanks for the report.

@giox069 this is the issue I was speaking about, I have no clues at the moment...

I'll add additional details as I discover anything interesting.

[2016-04-23 20:25] antenore commented on #842
A trace obtained with strace

[code]

[2016-04-23 20:40] antenore commented on #842
Got it!
It's fixed by 21d1b68dbed059008014e7848a38045c52e90873

Let me check  with Giovanni about the best way to handle the PR

[2016-04-23 21:21] muflone commented on #823
It took me a bit to find out the real culprit for the issue and I've found it in here: commit antenore@24cdef41d72342b2effc7ebe18395cafbe07087c
More exactly the [line 200](https://github.com/FreeRDP/Remmina/blob/24cdef41d72342b2effc7ebe18395cafbe07087c/remmina/include/remmina/plugin.h#L200) added a new method to the API, resulting in wrong function pointers for outdated plugins.

In the future ple

[2016-04-23 21:32] antenore commented on #823
Do you want I move it at the end already? We are merging a new PR right now

[2016-04-23 21:45] #835 closed

[2016-04-23 21:45] #836 closed

[2016-04-23 21:45] #842 closed

[2016-04-23 21:58] muflone commented on #823
Not needed, I'm releasing updates for all my plugins. Thank you.

[2016-04-23 22:03] giox069 commented on #823
@muflone: adding new functions at the end of the structure will not save us when remmina will call... the last added function (which is not present in the plugin). The program control will be passed to a random location.
One immediate but temporary solution should be that current remmina developers will notify you for every ner PR or commit which changes the plugin api. And we can do this, but it

[2016-04-23 22:21] muflone commented on #823
The RemminaPluginService struct allows the plugins to call remmina's functions, not the opposite.
Adding new methods to the end of the struct would save us when the plugins call methods on the remmina side.

I think you meant the RemminaProtocolPlugin which is called from remmina to the plugin side.

I don't mind if sometimes the API change, I would be happy to update the plugins to reflect the ch

[2016-04-23 22:29] rlees85 commented on #842
Well.... that was quick lol, thanks a lot :+1:

[2016-04-23 22:32] antenore commented on #842
Not at all... But thanks for the appreciation :-)

[2016-04-23 22:35] giox069 commented on #823
Yes, true. I was thinking to the opposite way (RemminaProtocolPlugin).

But we really should think a way to automatically coordinate it.
It's not urgent, but let's think about it (a different data structure ?).

Please consider alsto that adding methods to the end of RemminaPluginService/RemminaProtocolPlugin, will mix up function groups, making the code a bit less readable.

[2016-04-24 18:21] egmontkob opened #843 "Drop libvte-2.90 support?"
libvte-2.91 (tarball version 0.38+) was released 1.5 years ago, obsoleting libvte-2.90 (tarball up to 0.36).

As of now I believe all libvte-2.9x based apps managed to port to the new one. Debian Unstable and Ubuntu 16.04 Xenial LTS don't even ship libvte-2.90 anymore. I'm quite certain that libvte-2.91 is available in all modern distros.

I'm wondering that instead of maintaining an ifdef-maze an

[2016-04-24 18:24] egmontkob commented on #843
(Inspired by commit 0fb13e1.)

[2016-04-24 20:09] giox069 commented on #843
It's currently needed by Ubuntu LTS 14.04, the most used linux distribution by remmina users.
Today, sunday, after our late morning update, more than 640 users updated their remmina using the PPA "remmina-next" for Ubuntu 14.04. All other PPA supported ubuntu versions summed up together only counts half of the 14.04 users.

Really... we can't abandon them :)

I think also Debian 8 stable uses libv

[2016-04-24 20:14] egmontkob commented on #843
Okay :)

[2016-04-24 20:19] giox069 commented on #843
Just take a look to remmina_connection_window.c to understand what is a real big mess of code and #ifdef tue to big GTK+3 changes up to 3.10-3.12 :)

[2016-04-24 20:19] #843 closed

[2016-04-25 00:33] sqlsolver opened #844 "Duplicate of issue#99 on Remina 1.2.0"
ALT+TAB only shows most recently opened remote desktop and mgmt console for Remina.

Selecting the previous connection logs into it again, does not appear to support multiple RDP sessions.

Remina tabbed interface not visible.

Ubuntu 14.04
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/33290830-duplicate-of-issue-99-on-remina-1

[2016-04-25 09:31] AdamFonagy commented on #621
@giox069: Meanwhile I've added the PPA with Remmina 1.2 and it seems it has solved the problems. Now the connection is up and running. I believe this issues can be closed.

[2016-04-25 16:59] SimpleTechGuy commented on #840
Verified the issue was related to remmina-plugin-teamviewer for a change in the remmina code that's incompatible with older plugins.  Teamviewer plugin was quickly updated by @Muflone and everything is working now as it should!  This issue was fixed in the 1.2.3.0 release.

[2016-04-25 17:43] giox069 commented on #621
:+1:

[2016-04-25 17:43] #621 closed

[2016-04-26 10:04] antenore commented on #838
The point a like and understand more about this is:

So yes, I definitively agree with you and I'll implement it right now.

I was just thinking what if I use what is in the clipboard primary selection as the "Quick connect" label (in place of "Quick connect")? In most cases you should have a hostname or an IP address in the clipboard.

Well, I don't know if it's easily possible, but I can  invest

[2016-04-26 10:07] antenore commented on #838
Here it is  b54ea4a

I'll merge in upstream as soon as it will be tested.

Let me know what do you think about my second proposal.

[2016-04-26 11:59] tomswartz07 commented on #838
Awesome!

Thank you for the quick response.

In regards to your 'auto-paste' feature, perhaps it could be an option in the settings?
This way end-users can opt-in to the feature, rather than accidentally having passwords or sensitive info automatically entered.

I'm testing the latest commit now.

[2016-04-26 12:11] tomswartz07 commented on #838
Latest build from the [Focus_server-box](https://github.com/FreeRDP/Remmina/compare/Focus_server-box) branch works like a dream. :+1:

[2016-04-26 12:14] antenore commented on #838
Ok thanks, so I'll merge and close the issue.

Regarding the clipboard integration I'll open a new feature request ( it could be also a button next to the Profile  and Server name).

[2016-04-26 12:20] #838 closed

[2016-04-26 15:39] benkohler commented on #826
I don't know if this will help or not, but a user reported this exact issue yesterday in Freenode\#gentoo on 1.2.0_rc3, I helped him build a snapshot of commit 0fb13e17749bd30ac9f6d2bbebc88bbdc65053e1 and the issue went away.

[2016-04-26 15:49] benkohler commented on #771
I'm pretty sure that this issue goes away if you use a more recent FreeRDP source, I'd suggest closing this issue if we can't get any more info from the original reporter

[2016-04-26 15:55] daniellelollis opened #846 "Cannot redirect microphone to VDI- Win10 HyperV- Raspberry Pi3- Rasbian Jessie"
Testing Raspberry Pi3 for virtual call center. Have installed all Remmina packages, and run all updates. Microphone seems to work through Audacity on Pi and is seen through Alsa settings, but when I log into the virtual machine, it states no audio devices installed.
The microphone does work when using Windows Remote Desktop Connection from my primary PC, so it is not the virtual machine.
This is m

[2016-04-26 16:00] antenore commented on #826
Probably the commit 1dab13ac0532d330545c74da90b50d7ff4563565 is the one that fixed the problem.
@giox069 is it solved also for you this issue?

In that case we can tag a new version.

@benkohler thanks for your support.

[2016-04-26 16:31] giox069 commented on #826
Nothing changed with the last code in the "next" branch. I think I have a problem in my local PC, and Qt based desktops are choosing a bad GTK style or icon set.
I'm investingating.

[2016-04-26 16:41] giox069 commented on #826
Installed "lxappaerance", set new style and now all is better... I will test on KDE later.

[2016-04-27 18:18] fevangelou commented on #708
Likewise, on Ubuntu 16.04.

[2016-04-27 18:59] antenore commented on #708
I'll fix this asap.

[2016-04-27 22:16] antenore commented on #708
:-) this has never been implemented

In the old code, in the master branch, https://github.com/FreeRDP/Remmina/blob/master/remmina/src/remmina_ssh.c#L343 the "Save SSH password" field is at FALSE.

Unlucky it's not enough to make it TRUE, to save the passwords, but it's good starting point.

I continue my experiments and I'll let you know.

[2016-04-27 23:04] antenore commented on #846
Can you give us some details about your setup?

* Client (OS name and version):
* Remmina version (remmina --version):
* Desktop environment (GNOME, Unity, KDE, ..):
* Connecting to (OS and version):
* Connecting via (RDP, VNC, ...):
* RDP issues only, freerdp version (xfreerdp --version):

Thanks

[2016-04-27 23:45] box293 opened #847 "Cannot break from a command using CTRL + C since enhancement 833 was implemented"
Please give us some details about the systems you are using:

    Linux Mint 17.3 Rosa MATE
    Remmina version 1.2.0-rcgit.11
    Desktop environment : MATE
    Connecting to (OS and version): any linux SSH session
    Connecting via (RDP, VNC, ...): SSH

Since this enhancement https://github.com/FreeRDP/Remmina/issues/833 was implemented, I can no longer break out of programs like ping or tail w

[2016-04-28 03:11] MagiCarbon commented on #708
@antenore  maaaaaaaaany thanks !!

[2016-04-28 05:34] giox069 commented on #708
I agree with antenore: it never worked. But I will be very happy to see my password saved in my gnome keyring. I'm marking this as "newfeature".

[2016-04-28 08:27] hansa7 opened #848 "Error when compiling Remmina"
* Client (OS name and version): CentOS Linux release 7.2.1511
* Remmina version (remmina --version):  https://github.com/FreeRDP/Remmina/tree/next
* Desktop environment (GNOME, Unity, KDE, ..):  GNOME
* Connecting to (OS and version): Windows Server 2012 R2
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version): FreeRDP version 2.0.0-dev

I would like to comp

[2016-04-28 10:57] giox069 commented on #848
The failure in the link phase can be due to another remmina left installed in your system.
Can you check if you uninstalled all remmina and freerdp packages ? (use a rpm package manager, like rpm itself :)).

[2016-04-28 12:30] CS-JS opened #849 "Enhancement - Variables for pre- and post-commands"
I'd like to suggest adding variables for pre- and post-commands like $host for the specific hostname the connection is created for.

My use-case is that many of my hosts I'd like to reach via rdp are behind an on-demand openvpn router, which means the vpn itself is connected, when the first packages arrive for a host in that subnet. However, if I just double-click my remmina connection, it will ti

[2016-04-28 17:00] pandidan commented on #708
antenore This is great. Looking forward to that!

[2016-04-28 18:11] daniellelollis commented on #846
•Client (OS name and version): Raspbian Jessie
•Remmina version (remmina --version): 1.1.0
•Desktop environment (GNOME, Unity, KDE, ..): Where do I find this?
•Connecting to (OS and version): Windows 10 Hyper-V
•Connecting via (RDP, VNC, ...): RDP
•RDP issues only, freerdp version (xfreerdp --version):
Testing Raspberry Pi3 for virtual call center. Have installed all Remmina packages, and run all

[2016-04-29 06:09] weberhofer commented on #846
Please update to Remmina 1.2 as we do no longer support older versions.
Thank you for your understanding.

[2016-04-29 06:09] #846 closed

[2016-04-29 10:22] Aleksey-Maksimov opened #850 "Slow work through VPN tunnels"
Hello.

We use the latest version of the RDP client on Ubuntu / Kubuntu 16.04 LTS with the packages:

remmina:amd64/xenial 1.2.0~rcgit-11+894+next+201604262127~ubuntu16.04.1
remmina-plugin-rdp:amd64/xenial 1.2.0~rcgit-11+894+next+201604262127~ubuntu16.04.1
freerdp-x11:amd64/xenial 2.0.0~dev~git20160331+dfsg-0xenial2

We are connecting remotely to computers Windows Server 2012 R2 and Windows 10.
RD

[2016-04-29 15:43] antenore commented on #850
@giox069 any chance you can test this specific scenario?

[2016-04-29 18:16] giox069 commented on #850
Just tested on Ubuntu 16.04 x64, last remmina-next PPA update, with a Cisco IPSec VPN tunnel opened from my laptop to a Cisco router. Destination RDP server is a Windows 10 PC.
All is working fine, and my daily job is using also OpenVPN, PPTP and IKEv2 vpns...
So the correct answer here is... I can't reproduce.
@Aleksey-Maksimov: other tests you can do:
- Try to connect without VPN (ie: by tempora

[2016-05-01 11:50] giox069 opened #852 "Quick find is slow with a lot of profiles"
Using remmina compiled from the latest "next" branch, ubuntu 16.04 and arch.

I have 184 .remmina files on the remmina dir. When I type a single character on the quick find search box, it can take from 0.1 to 2 sec to refresh the filtered profile list.

This usually doesn't happen on first remmina startup, but after some minutes of use (maybe when these files are no longer in the filesystem cache

[2016-05-01 11:52] giox069 commented on #852
It seems that just removing `remmina_main_load_files(FALSE);` from `remmina_main_quick_search_on_changed()` the search is very fast again.
@antenore: what do you think of this fix ?

[2016-05-01 14:16] #852 closed

[2016-05-01 14:33] antenore commented on #852
I'll take a look why I needed that function there, moreover without refresh.

[2016-05-02 06:00] Olmer1st commented on #839
Hi,
Any idea?

[2016-05-02 06:06] giox069 commented on #839
You can try to generate a backtrace:
close remmina (or reboot your pc), open a terminal window, type
`gdb remmina` and then `run`.
When remmina crashes, type `bt` and paste the output of `bt` here.

Wa can also find the same backtrace info on the ubuntu generated crash file in /var/crash... but it's extracting a backtrace from there is a bit more difficult.

[2016-05-02 07:25] Olmer1st commented on #839
Hi, not all remmina crashes, just specific  RDP connection:
[10:18:35:340] [6667:6680] [ERROR][com.freerdp.channels.cliprdr.client] - Invalid short format list length: 24
[10:18:35:340] [6667:6680] [ERROR][com.freerdp.channels.cliprdr.client] - cliprdr_process_format_list failed with error 1359!
[10:18:35:340] [6667:6680] [ERROR][com.freerdp.channels.cliprdr.client] - cliprdr_order_recv failed wit

[2016-05-02 07:34] giox069 commented on #839
All the errors you reported in the last post, are coming from the freerdp library, not from remmina.
Can you test the same connection bug/crash using xfreerdp (not remmina) ?
`xfreerdp /v:hostname /u:username /d:domain +clipboard`

[2016-05-02 07:36] Olmer1st commented on #839
But yes, after few minutes, it crash all remmina:
Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffd8aa1700 (LWP 6939)]
0x00007fffd9a9b025 in InterlockedIncrement ()
   from /usr/lib/x86_64-linux-gnu/libwinpr.so.2
(gdb) bt
#0  0x00007fffd9a9b025 in InterlockedIncrement ()
   from /usr/lib/x86_64-linux-gnu/libwinpr.so.2
#1  0x00007fffd9a8da92 in EnterCriticalSection (

[2016-05-02 07:40] Olmer1st commented on #839
Yes. Copy-paste close connection:
[10:38:21:113] [7744:7745] [INFO][com.freerdp.client.common.cmdline] - loading channel cliprdr
[10:39:01:952] [7744:7746] [ERROR][com.freerdp.channels.cliprdr.client] - Invalid short format list length: 24
[10:39:01:952] [7744:7746] [ERROR][com.freerdp.channels.cliprdr.client] - cliprdr_process_format_list failed with error 1359!
[10:39:01:952] [7744:7746] [ERROR]

[2016-05-02 07:40] giox069 commented on #839
Ok, the crash is during the reconnection phase of libfreerdp, so please test xfreerdp with
`xfreerdp /v:hostname /u:username /d:domain +clipboard +auto-reconnect`

[2016-05-02 07:46] Olmer1st commented on #839
[10:45:24:761] [8972:8973] [INFO][com.freerdp.client.x11] - Network disconnect!
[10:45:24:761] [8972:8973] [INFO][com.freerdp.client.x11] - Attempting reconnect (1 of 20)
[10:45:24:776] [8972:8973] [ERROR][com.freerdp.core] - cliprdr_virtual_channel_client_thread reported an error. Error was 1359
[10:45:24:776] [8972:8973] [INFO][com.freerdp.client.x11] - Network disconnect!
[10:45:24:776] [8972:8

[2016-05-02 07:48] giox069 commented on #839
Is the last output coming from xfreerdp or remmina ?

[2016-05-02 07:49] giox069 commented on #839
Also please try xfreerdp without the `+auto-reconnect` option.

[2016-05-02 07:53] Olmer1st commented on #839
From xfreerdp.

without auto-reconnect:
[10:52:39:505] [10170:10171] [INFO][com.freerdp.client.common.cmdline] - loading channel cliprdr
[10:52:53:095] [10170:10172] [ERROR][com.freerdp.channels.cliprdr.client] - Invalid short format list length: 24
[10:52:53:095] [10170:10172] [ERROR][com.freerdp.channels.cliprdr.client] - cliprdr_process_format_list failed with error 1359!
[10:52:53:095] [10170:

[2016-05-02 07:56] giox069 commented on #839
Ok, it seems a libfreerdp related problem.

- Which version of xfreerdp are you using in ubuntu ? Did you compiled it by yourself or are you using the remmina-next PPA version ?
- Which RDP server are you using on Centos 7 ?

[2016-05-02 08:02] Olmer1st commented on #839
Remmina version (remmina --version): 1.2.0-rcgit.11
Desktop environment (GNOME, Unity, KDE, ..): Unity
Connecting to (OS and version): CentOS 7
Connecting via (RDP, VNC, ...): RDP
RDP issues only, freerdp version (xfreerdp --version): 2.0.0-dev

Not compiled by myself, installed from remmina-next PPA

[2016-05-02 08:24] giox069 commented on #839
But... which RDP server software (and version) is accepting your connection at the server side ?
In any case... really we can't do too much for this bug.
FreeRDP has its own issue page and you are invited to open an issue there. But before opening an issue to the FreeRDP developers, you should at least compile by yourself both a client freerdp for ubuntu and a server freerdp for CentOS...

[2016-05-02 08:34] Olmer1st commented on #839
On the server side  we using xrdp and tigervnc-server.

With 1.1.2 remmina version this problem not happens.... :(

[2016-05-02 08:34] Olmer1st commented on #839
Anyway thanks, i'll try to check with xfreerdp

[2016-05-02 08:47] giox069 commented on #839
Please note that the freerdp you are using from our remmina-next PPA is updated some weeks ago with their sources (march 31).
https://launchpad.net/~remmina-ppa-team/+archive/ubuntu/remmina-next
This is why you should recompile before submitting a bug :(

[2016-05-02 11:00] kokosowy opened #853 "Two-factor authentication"
* Client (OS name and version):  Mint 17.3
* Remmina version (remmina --version): 1.2.0-rcgit.11 (git n/a)
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Ubuntu Server Trusty
* Connecting via (RDP, VNC, ...): SSH

Hi,

I use some SSH servers with two-factor authentication based on Google Authenticator. Normally I can connect using simple terminal:

$ssh host
P

[2016-05-04 11:41] SillonBono opened #854 "Feature request: keepalive for remote sessions"
Hi,

Well done on the new remmina, it is great, I tipped you guys.

I was wondering if you could implement some form of keep-alive function, as you know, TS allows sessions to be closed when idle, and this is a royal pain when one has to monitor a task that takes very long to complete.

One has to remember to move the mouse or click a key from time to time while in the session to prevent it from c

[2016-05-04 14:15] Demontager opened #855 "Can't connect to certain hosts after update"
Recently i've updated Xubuntu 15.10 to 16.04 and after that found that remina can't connect to some hosts. So i tried to investigate the cause and checked connectivity with rdesktop and it works.
As no debug output i tried to run xfreerdp from command line and got this:

`xfreerdp /v:111.111.111.111
[16:59:41:128] [17146:17147] [INFO][com.freerdp.client.x11] - No user name set. - Using login name: