[2017-03-01 06:50] lionelvon opened #1129 "I always got an error message "SSH public key has changed!""
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): UBUNTU 16.10
* Remmina version (remmina --version): 1.2.0-rcgit-18 (git 58f664e)
* Desktop environment (GNOME, Unity, KDE, ..): Unity
* Connecting to (OS and version): CentOS 7.3
* Connecting via (RDP, VNC, ...):

[2017-03-01 07:23] lionelvon commented on #1129
Gtk-Message: Failed to load module "canberra-gtk-module"
Gtk-Message: Failed to load module "canberra-gtk-module"

** (remmina:12150): CRITICAL **: secret_service_load_collections_sync: assertion 'paths != NULL' failed

** (remmina:12150): CRITICAL **: secret_service_read_alias_dbus_path_sync: assertion 'SECRET_IS_SERVICE (self)' failed
StatusNotifier/Appindicator support: your desktop does suppor

[2017-03-01 08:31] antenore commented on #934
@hanakemt we don't use directly the xfreerdp binary, but the FreeRDP library. We are quite against of using mechanisms like gtk_sockets (used to reparent an external window into a gtk window) and redesktop does not provide a library, but a Remmina contributor, @muflone , as developed an rdesktop plugin and you can use it.

https://github.com/muflone/remmina-plugin-rdesktop

@All Regarding the date

[2017-03-01 08:37] antenore commented on #934
Update:

With the following setup it works:

remmina - Version 1.2.0-rcgit-18 (git e827e2e)
Windows 2008 R2

[2017-03-01 08:51] antenore commented on #837
:-\ didn't have too much time to look at it, these months I've a very limited free time.

So far so bad, all the tests I've done were failing.

[2017-03-01 08:52] antenore commented on #1128
You can already move (drag and drop) and hide the toolbar. Which version of remmina are you using?

[2017-03-01 09:06] Lonniebiz commented on #837
Well, I do appreciate you trying. If I'd familiarize myself with Remmina's coding environment/languages, I could help out. My strength is in javascript and c#, so I've got to figure out how to get started with whatever Remmina is.

[2017-03-01 09:31] hanakemt commented on #934
@antenore: I can confirm that remmina - Version 1.2.0-rcgit-18 (git rcgit-18) and FreeRDP version 2.0.0~dev (git n/a) work well with Windows 2008, bit they corrupt the date and time with Windows 7 and Windows 10. I'll (re)check also the xfreerdp binary.

[2017-03-01 10:25] hanakemt commented on #934
@antenore: xfreerdp (version 2.0.0~dev) is responsible for the incorrect date and time handling with Windows 2007 and 2010, I have checked it.
A previous version of xfreerdp (FreeRDP version 1.1.0~beta1 (git n/a); dowloaded from the Ubuntu 16.04 repo) handles correctly the date and time with all the above mentioned Windows variants.

[2017-03-01 11:02] hanakemt commented on #934
akallabeth wrote on <https://github.com/FreeRDP/FreeRDP/issues/3828> that this error "has been fixed on current master". Hope the remmina ppa will also be refreshed soon. Thank you!

[2017-03-01 16:56] ComputingFroggy commented on #1087
I can also confirm this issue is fixed with Remmina 1.2.0-rcgit-18.

Thanks a lot, for your work.

[2017-03-01 17:30] #1125 closed

[2017-03-03 09:12] sashasaturn commented on #850
Hi all,
Well, I'm having the same issue reported by @Aleksey-Maksimov .
I'm using Ubuntu 14.04 LTS with openconnect as a client to connect to  Cisco VPN.
Versions
 openconnect    5.02-1       amd64
 remmina  1.2.0-rcgit-18-1.0ubuntu1~trus amd64

I'd tried to change settings in profile as suggested by @giox069 - doesn't help.
Connection without VPN works much better.

[2017-03-03 10:36] antenore commented on #850
Isn't it at a TCP level the issue?
If ICMP is allowed, can you ping the host with and without the VPN to see if the bottleneck is the VPN itself?

I now use openconnect at home, plus socks5 tunnels and it's not that bad

[2017-03-05 22:50] dankasak commented on #1098
I'm seeing this issue too. I'm using freerdp-2.0.0_pre20161219 and remmina-1.2.0_rc18. These were the default versions chosen by Gentoo. I've just moved from Sabayon, which included version 1.1.2, and also didn't have this issue before.

[2017-03-06 03:22] timrichardson opened #1131 "Opacity for pop up tool bar is too see-through"
![remmina_screenshot_2017-03-06_14-18-37](https://cloud.githubusercontent.com/assets/927458/23595707/13fa22c6-0278-11e7-9664-9200966fb498.png)

In full screen mode, it is very hard to see the contents of the pop-up toolbar because it is nearly 100% transparent.I can't find a setting to control this. Screen shot is attached. This is on Ubuntu 16.04.2 with the XFCE desktop (ie xubuntu).
 Remmina 1.2

[2017-03-06 06:46] giox069 commented on #1131
Try to move the mouse pointer inside the floating toolbar and then use the mouse wheel. The mouse wheel should change the floating toolbar opacity.

[2017-03-06 06:53] giox069 commented on #1098
1. Does this happens with VNC plugin also? Can anyone test VNC?
2. Which video card and driver are you using? Please post the output of `lspci -nnk | grep -i vga -A3`
3. If possible, attach a screenshot or a photo (or part of it) of the cursor with the black box around.

Thank you.

[2017-03-06 07:09] timrichardson commented on #1131
OMG. Great feature. Discoverabilty ... err :)

[2017-03-06 07:09] #1131 closed

[2017-03-06 12:22] efinder2 commented on #434
Same here with *mint* 18 based on ubuntu 16 with a 4.4 kernel. Destination system is a Windows 2012 Server

[2017-03-06 23:29] dankasak commented on #1098
Hi giox069. Thanks for your time.

1) I just tested with VNC, and this bug does _**not**_ appear to affect the VNC plugin

2) 00:02.0 VGA compatible controller [0300]: Intel Corporation HD Graphics 520 [8086:1916] (rev 07)
        Subsystem: Dell HD Graphics 520 [1028:06db]
        Kernel driver in use: i915
        Kernel modules: i915

3)
![remmina_cursor](https://cloud.githubusercontent.com/ass

[2017-03-07 11:28] ZAJDAN opened #1133 "Gnome-keyring"
is somehow possible set Remmina to do not use gnome-keyring for save passwor, but save the password somewhere else?
The problem is, when I boot station via PXE(LTSP) LDE has problem communicate with gnome-keyring.

Thank You

[2017-03-07 15:16] adamsson6 commented on #1129
I have the same problem... the debug console says : [SSH] ssh_write_knownhost: Couldn't open known_hosts file /home/user/.ssh/known_hosts for appending: Permission denied

I don't understand... even if I chmod it 777 it says permission denied. Please we need a linux genius to help us.

[2017-03-07 15:41] saberraz opened #1136 "Missing icons in remote session toolbar"
* Client (OS name and version):  16.04
* Remmina version (remmina --version): Nightly PPA (1.2.0-rcgit-18 (git rcgit-18))
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Windows 7
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version): Some of the icons in the toolbar are missing. See the attached image:

![image](https://

[2017-03-07 16:23] antenore commented on #1129
First of all set the right permission to the file, that are, normally 600 (~/.ssh 700 and $HOME to 750 or better 700).

Than try to edit manually the known_hosts and remove the "offending" entry if you have one (the lines containing the host/ips you are connecting to).

If it doesn't work give me the version of libssh and vte

[2017-03-07 16:50] adamsson6 commented on #1129
It still doesn't work with me with these permissions...

But I found a solution !!!
I removed the remmina version instlled from original repository of ubuntu, and added the one of the developers.
	sudo apt-add-repository ppa:remmina-ppa-team/remmina-next
	sudo apt-get update
	sudo apt-get install remmina remmina-plugin-rdp libfreerdp-plugins-standard

Now ssh is working great.

[2017-03-07 16:52] antenore commented on #1129
Ah, @adamsson6 yes, of course, we don't support anyway the 0.something version that come by default with most distros, it's based on a code base that almost doesn't exist anymore in the current development/stable branch. :-)

@lionelvon What about you?

[2017-03-07 16:56] adamsson6 commented on #1129
@antenore Thank you for your support !
This app is very useful to manage a lot of rdp / ssh machines. Great job thank you very much.

I hope it will work for @lionelvon

[2017-03-07 17:36] transistor1 commented on #413
@giox069:

For me (on Debian Jessie), in fullscreen mode, the "invisible toolbar" option shrinks the size of the floating toolbar from showing a very small handle to not showing at all, but when you move your cursor to the top of the screen it still appears.  I did not see an option to completely disable it in fullscreen mode, so I created PR #1135.

My use case is similar to @nikoudel's.

[2017-03-07 19:17] ET-Bent commented on #434
![image](https://cloud.githubusercontent.com/assets/5788982/23673551/fcee5164-0372-11e7-9249-0e68f17c6b3f.png)

Using the keyboard layout above will solve all issues.

@efinder2 @andyn

[2017-03-09 07:02] efinder2 commented on #434
@andyn @ET-Bent works for me

[2017-03-09 14:17] antenore commented on #413
Thanks @transistor1
closed by #1135

[2017-03-09 14:17] #413 closed

[2017-03-09 14:18] antenore commented on #1128
closed by #1135

[2017-03-09 14:18] #1128 closed

[2017-03-09 20:31] yselkowitz opened #1137 "FTBFS with both libfreerdp 1.2 and 2.0 installed"
Very recently, FreeRDP versioned their library names, so that you link with -lfreerdp2 -lwinpr2 instead of -lfreerdp -lwinpr.  This allows both 1.2 and 2.0 libraries to be installed in parallel, and distros are starting to do so to allow both remmina (which uses 2.0) and other programs which still use 1.2 (e.g. GNOME's vinagre) to build and install.

Commit 7008e5c0bef9a708d05e5feb327757fff0f9c956

[2017-03-09 21:10] giox069 commented on #1137
I did not notice the change from libfreerdp to libfreerdp2. You are right, we should start to link to libfreerdp2 and fallback to libfreerdp if not found. @antenore  ?

[2017-03-09 21:13] yselkowitz commented on #1137
FYI, here is the patch I used for 1.2.0-rcgit.18:

[https://github.com/cygwinports/remmina/blob/master/1.2.0-freerdp2.patch]

[2017-03-09 21:20] antenore commented on #1137
Yes, I agree, let's ask first to @3v1n0 as he is the author of this change.
What do you think?
@yselkowitz Thanks for the patch!

[2017-03-09 23:41] 3v1n0 commented on #1137
That gives precedence to the freerdp2, which I think it's fine.... So +1 from me.

[2017-03-10 00:59] antenore commented on #1137
https://travis-ci.org/FreeRDP/Remmina/builds/209574243    looks good

[2017-03-10 06:31] giox069 commented on #1098
As you noticed, the cursor in remmina is the X (GTK+) cursor. There is no software fallback code.
I'm trying to find a machine where I can reproduce the problem. I have many Dell machines at work, which one is the affected one?

[2017-03-11 11:03] dankasak commented on #1098
My particular Dell is a Latitude E7270, but I would expect if it was related to graphics drivers, then anything with an Intel GPU would be affected.

[2017-03-11 11:26] antenore commented on #1098
Can you please test with xfreerdp?

[2017-03-12 12:12] damodaranudas commented on #1047
Same issue here, after installed Remmina trough snap package on Ubuntu 16.04 I can't save RDP passwords
`
dar@GL355VD:~$ remmina

Gtk-Message: Failed to load module "canberra-gtk-module"
Gtk-Message: Failed to load module "topmenu-gtk-module"

** (remmina:8188): CRITICAL **: secret_service_load_collections_sync: assertion 'paths != NULL' failed

** (remmina:8188): CRITICAL **: secret_service_read_

[2017-03-12 18:27] giox069 commented on #1098
I can see that both @coolemza and @dankasak are connecting to a linux RDP server. Which RDP server are you using? If possible, please test also with xfreerdp commandline tool, as suggested by @antenore.
I did some tests in a couple of old machines with i915 driver... but I can't still reproduce the problem.

[2017-03-12 22:35] dankasak commented on #1098
xfreerdp is also affected.

I'm using xrdp as the RDP server. Other RDP clients are still ok with it - eg Window's native RDP client, and 'mobaXterm'. Older versions of clients xfreerdp and remmina are also still ok.

[2017-03-13 10:31] dankasak commented on #1098
I've just tested with the modesetting driver instead of the intel one, and this combo is also affected.

[2017-03-13 14:28] coolemza commented on #1098
im using latest xrdp

00:02.0 VGA compatible controller [0300]: Intel Corporation 2nd Generation Core Processor Family Integrated Graphics Controller [8086:0126] (rev 09)
        Subsystem: Lenovo 2nd Generation Core Processor Family Integrated Graphics Controller [17aa:21da]
        Kernel driver in use: i915
        Kernel modules: i915

[2017-03-13 19:21] giox069 commented on #1098
I have been able to reproduce the problem connetting from Ubuntu 16.04 (nvidia driver) to Xubuntu 17.04 xrdp. And I have the same problem with xfreerdp. The problem seems to be in libfreerdp: I will open an issue to the FreeRDP team as soon as possible.

[2017-03-13 19:59] giox069 commented on #1098
Issue opened here: https://github.com/FreeRDP/FreeRDP/issues/3863

[2017-03-14 00:27] dankasak commented on #1098
thanks :)

[2017-03-14 08:18] canefield opened #1139 "RDP to Windows 10 freezes/hangs"
Dear Remmina/Support/All,

Can you help me out here...I'm using Ubuntu Mate (Raspberry Pi 3; 1GB RAM), installed the powerful Remmina, but after connecting to a Windows 10 environment the screen and connection maintains, I can move the cursus around the screen, although I can't do anything. After disconnecting and connecting again I can proceed where I left off. Just for an example, I logged in an

[2017-03-14 13:15] transistor1 commented on #1139
@canefield: it's been a while since I've used my old rpi, but I can try to give you a couple of pointers.

Since you're on Ubuntu, one thing to try would be using a [PPA](https://launchpad.net/~remmina-ppa-team/+archive/ubuntu/freerdp-daily).  On your rpi, try:

[code]

If you can't find a PPA for someone who's already built it, the other way to get the latest Remmina would be to cross-compile it

[2017-03-14 13:29] dave42 commented on #104
Can we reopen this old issue?  I cannot connect to my Mac Mini with Remmina.  I can connect fine with tigervnc, which just asks for a password.  Remmina asks for a username and password, and using a blank username, or valid credentials for the machine, both fail to authenticate.

[2017-03-14 15:39] giox069 commented on #1139
The fastest solution on Raspberry PI 2/3 to install an updated version of Remmina, is to use our **remmina-next** PPA.
Instructions are in the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki), but you just need the following commands:
[code]

[2017-03-15 11:38] Olmer1st commented on #1047
Hi,
same issue.
Remmina: 1.2.0-rcgit-18
Ubuntu 16.04

[2017-03-15 14:19] ic3d commented on #594
I'm closing this issue because it probably affects only old versions of Remmina.

[2017-03-16 10:45] seanparsons commented on #104
I've also just discovered exactly this issue as well.

[2017-03-16 11:48] CS-JS opened #1141 "Enhancement - Another User connected to the server, forcing [...] pop-up"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version):  Ubuntu 16.04
* Remmina version (remmina --version): remmina - Version 1.2.0-rcgit-18 (git rcgit-18)
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Windows
* Connecting via (

[2017-03-16 14:15] antenore commented on #1141
Good point. It should be feasible. I'll try myself ASAP.

[2017-03-16 14:40] antenore commented on #1141
Implemented.

Can you please test it? I don't have too many servers at the moment.

[2017-03-16 14:41] CS-JS commented on #1141
Wow, that was fast :)
Can I just apt update remmina, or do I have to replace files manually?

[2017-03-16 14:48] antenore commented on #1141
:-)
Well, unlucky you should build it yourself, but finally as it's not so dangerous what I've modified, I can just merge it in next and you will have it in the PPA next nightly build...

Yes, I'm going to merge.

[2017-03-16 14:52] #1141 closed

[2017-03-16 14:52] CS-JS commented on #1141
Don't get me wrong, I didn't want to press you on this one - but I think the changes made in the PR are quite straightforward. Plus I sadly don't have time to build it while I am at work ^^

Thank you very much for the quick change! :-) I can build it maybe later!

[2017-03-16 14:53] antenore commented on #1141
Of course, don't worry :-)

[2017-03-17 09:03] joostkremers commented on #1039
Hi, just FYI: I haven't been able to post the rdp parameter names, unfortunately, but I received an updated rdp file today and was able to import it without issues. The gateway was recognised correctly and so were all other parameter values.

[2017-03-17 09:03] #1039 closed

[2017-03-17 22:58] Techman35 commented on #615
i switch back to version 0.9.99.1 and i don't have any crash, i think i will stick with this version for a while

[2017-03-18 07:25] giox069 commented on #615
I'm closing this for lack of fresh and detailed data. If remmina still crashes, please reopen another issue describing your setup (clent OS, server OS, remmina version, xfreerdp version), ensure that you are using the latest Remmina 1.2.X version and provide a backtrace if possible.
Thank you.

[2017-03-18 07:25] #615 closed

[2017-03-19 03:35] bicarbonate commented on #1091
I'd also be greatly helped by something like this... or even just an outline of the formatting in a file required to be imported for both SSH and RDP.

[2017-03-19 12:42] nhdnet commented on #975
I just update libssh ticket. I put same information here. Maybe usefull:
Same here. Tested with last version of Remmina.
I suspect that it close TCP socket when a packet loss occurs. Very often on wireless networks.
Ubuntu's ssh command its very much robust and reestablish session transparently.
I tested unplugging wire ethernet from my wireless access point and plugging again (no wireless link lo

[2017-03-19 13:04] nhdnet opened #1144 "Request: duplicate ssh session doubleclicking tab"
Hello
First, thank you very much for this piece of software. I work with ssh sessions all days and its awesome usefull.
I have a little request to improve Remmina usability. Can you link "on double click" event on a ssh tab with "Open new ssh terminal"

Thank you
Regards

[2017-03-19 20:02] antenore commented on #975
@nhdnet thank you. Very useful. I'll take a look in about one week.

[2017-03-20 10:14] giox069 commented on #1098
libfreerdp has been fixed [today](https://github.com/FreeRDP/FreeRDP/pull/3870) for this issue, thank you @akallabeth.
We need also to update freerdp packages on  remmina-next-ppa, but we have not yet scheduled this update (Cc: @nastasi)

[2017-03-20 11:32] e-alfred commented on #975
Yes, I also would say it happens if packet loss occurs. My local SSH connections work well and stay open all the time, but external connections are troublesome and get closed after some time. I can also confirm that the same connections stay open all the time if I use the ssh on CLI or Putty on Windows, so these tools are more robust than Remmina/libssh.

[2017-03-21 12:19] nanxiongchao opened #1145 "Copying or cutting text in Microsoft Office software is slow to respond"
In the use of Microsoft Office Word / excel, the response speed in the copy or cut the text significantly slower than the other text tools, such as: Notepad.
In this case, the cursor will turn for 2-3 seconds or there is no response for a few seconds.
In addition, the paste to other editable text tools will be garbled, I'm not sure if this is absolute, but I have encountered this problem in my oth

[2017-03-21 13:36] agressiv opened #1146 "Custom RDP settings?"
* Client - Ubuntu 16.10
* remmina Version 1.2.0-rcgit-18 (git rcgit-18)
* Desktop environment - Unity
* Connecting via RDP
* xfreerdp not explicitly installed

I'm hoping to use the quality setting "Best (slowest)" but disable "Menu and window animation", which is:

`disable menu anims:i:1`

in a Microsoft RDP file.  It seems to be disabled at medium or lower in remmina, but with Good or lower, fo

[2017-03-21 14:24] giox069 commented on #1146
Remmina has 4 prebuilt quality settings you can use in a RDP profile: Poor, Medium, Good, Best.
All theses 4 settings are customizeable in the global preference dialog box, under the "RDP" tab.
So, from the main window, open remmina preferences (CTRL+P) -> RDP, near "Quality settings" choose "Best" and uncheck "Menu animation".
Let us know :)

[2017-03-21 21:22] agressiv commented on #1146
Got it!  Didn't realize there were global preferences.  Thanks!

[2017-03-21 21:22] #1146 closed

[2017-03-22 22:57] Saviq commented on #1129
This seems to be a problem with the snap version of Remmina, it lacks access to ~/.ssh for security reasons:

`[164554.472030] audit: type=1400 audit(1490222922.963:401): apparmor="DENIED" operation="open" profile="snap.remmina.remmina" name="/home/user/.ssh/known_hosts" pid=5689 comm="remmina" requested_mask="r" denied_mask="r" fsuid=1000 ouid=1000`

Not sure how to tell ssh to look at a differen

[2017-03-23 08:00] antenore commented on #1129
@3v1n0 what do you think, is there anything we can change in the snap package or it's more client side configuration (selinux?) ?

[2017-03-24 10:20] glazeus commented on #82
Please, please, implement feature "inherit from parent" and secure store credentials as MS RDCM do.
Thank you in advance

[2017-03-24 10:51] giox069 commented on #82
I'm working on a similar gadget: "multiple password changer". The MPC dialog will appear every time you change a password for a RDP connection and the same DOMAIN\username is used in other profiles...

[2017-03-24 22:36] abhijit86k opened #1147 "Build 1.2.0-rcgit.x on Debian Jessie"
-

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43417656-build-1-2-0-rcgit-x-on-debian-jessie?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=gith

[2017-03-24 22:40] abhijit86k commented on #1147
I'm trying to compile from source on Debian Jessie, which is not mentioned build section on the Wiki. Is there any reason this will not work and therefore 1.2x will not compile on Debian Jessie? I'd like to know before I begin trying to compile from source.

[2017-03-25 07:57] chewenkai commented on #1145
Same problem, thanks for developer's effort and I hope someone can figure this problem.

my environment is
- Client (OS name and version): Ubuntu 16.04
- Remmina version (remmina --version): 1.2.0-rcgit-18
- Desktop environment (GNOME, Unity, KDE, ..): GNOME3
- Connecting to (OS and version): Windows 10 latest version
- Connecting via (RDP, VNC, ...): RDP
- RDP issues only, freerdp version (xfreer

[2017-03-27 09:14] r-module commented on #104
muflone s answer is not a sloution...please explain your settings for this to work

[2017-03-28 14:45] freddiebarrsmith opened #1148 "Bug whilst entering IP's"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Debian
* Remmina version (remmina --version): remmina - Version 1.2.0-rcgit-18 (git rcgit-18)

* Desktop environment (GNOME, Unity, KDE, ..): Unity
* Connecting to (OS and version):
* Connecting via (RDP, VNC, ..

[2017-03-30 11:58] transistor1 commented on #1147
@abhijit86k - if you simply want to build the `next` branch, try using my Docker image, [transistor1/remmina_devel](https://hub.docker.com/r/transistor1/remmina_devel/).

First, [install Docker on debian](https://docs.docker.com/engine/installation/linux/debian/), then run (note the `:jessie` appended to the container name!!):

[code]

You'll be dropped into a `bash` shell within the Docker contai

[2017-03-30 17:11] CS-JS opened #1149 "Keyring window appears on every connect/disconnect"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Ubuntu 16.04.2
* Remmina version (remmina --version): remmina - Version 1.2.0-rcgit-18 (git rcgit-18)
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Win7/8/10, WinServer2003-

[2017-03-30 19:29] giox069 commented on #1149
Yes, that's true. Keyring is unlocked at startup and maybe accessed even if you don't save passwords. Passwords and other sessions settings are usually saved at the end of the session, so it's ok to have a second message at the end of the session.
If you want a different behavior, do one of the following, please rename this issue as "Feature request: add a global option to disable both password sa

[2017-03-31 05:14] CS-JS commented on #1149
Thanks for the reply - I've just renamed the issue. Its not that important, I'm just gonna hit ESC after every connect, but I wanted to know if this is a behaviour maybe I introduced by installing some keyring packets as dependencies to other tools. I remember some time (maybe pre rcgit-18, can't tell for sure), where this window was not present, so I thought maybe if a certain keyring package is

[2017-04-01 18:58] pmulgaonkar commented on #778
remmina - Version 1.2.0-rcgit-18 (git rcgit-18) installed from remmina-next on 16.04 crashes with

[2017-04-01 19:12] pmulgaonkar commented on #1047
Has this been fixed? Same issue.

[2017-04-03 09:25] facboy opened #1150 "Remmina freezes with BadRequest error"
Remmina freezes randomly, with the following output.  As far as I know the WARNING and CRITICAL always happen when I open a VNC window, it's the ERROR that causes the freeze.

[code]

Please give us some details about the systems you are using:
* Client (OS name and version):
Ubuntu 16.04
* Remmina version (remmina --version):
remmina - Version 1.2.0-rcgit-18 (git rcgit-18)
* Desktop environment (

[2017-04-03 10:24] facboy commented on #1150
It sometimes crashes outright as well, I ran it with GDK_SYNCHRONIZE on and got:

[code]

[2017-04-03 14:15] 3v1n0 commented on #1129
@antenore mh, I'm about to try to use `snapcraft-preload` to launch it and in that case it will try to access to `~/snap/remmina/$VERSION/.ssh` instead without causing troubles...
But I need to check that.

Please leave me the steps to reproduce this and I'll give this a try.

[2017-04-03 14:49] Saviq commented on #1129
@3v1n0 just try any SSH connection after installing the snap...

[2017-04-03 14:56] Saviq opened #1151 "Graphical issues when using byobu/tmux"
Please give us some details about the systems you are using:
* Client (OS name and version): Ubuntu 17.04
* Remmina version (remmina --version): 1.2.0-rcgit-18
* Desktop environment (GNOME, Unity, KDE, ..): Unity
* Connecting to (OS and version): Ubuntu 16.04
* Connecting via (RDP, VNC, ...): SSH

There are visual glitches when using byobu over SSH, it's as if remmina optimizes out some lines.

Ap

[2017-04-03 21:28] justinabrahms opened #1152 "Segfault when mousing out of latest remmina."
My remmina (from http://ppa.launchpad.net/remmina-ppa-team/remmina-next/ubuntu ) crashes when I mouse out of my client. Below is the gdb backtrace. I've snipped some of the memory things. What else do you need from me?

Please give us some details about the systems you are using:
* Client (OS name and version): ubuntu 16.04.2
* Remmina version (remmina --version): remmina - Version 1.2.0-rcgit-18

[2017-04-04 10:38] exactt commented on #1047
same here:
Remmina: 1.2.0-rcgit-18
Ubuntu 16.04

[2017-04-05 11:51] sliddjur opened #1153 "Remmina window dissapears when clicking on it while alt-tabbed in ubuntu 16.10"
When I press alt-tab in ubuntu to bring up all my open apps, I usally click the app with my mouse to open the app. Apps with more than one window open gets their app grouped. When one app is grouped you can click it to expand the windows.

Since remmina usually have two windows open, connection list and actual remote host, when I click the remmina app, the connection to the remote host just disapp

[2017-04-05 14:12] mcrapet commented on #1147
Hi,

Regarding Debian compilation of remmina.
Initially I installed dependencies:
[code]
I faced the following issue:
* `libssl1.0-dev` is wanted by `libssh-dev`
* `libssl-dev` is wanted by `freerdp2-dev` and `libwinpr2-dev`

I bypassed dependency check with the following commands:
[code]

Hope this helps.

[2017-04-07 08:29] sh-dvl opened #1155 "massive performance-issues on arm64"
we're using an arm64-platform (odroid-c2) as thinclient and most works well, but scrolling in firefox (either version) with the wheel stucks and placing/sizing textframes in MS-Word is horrible and makes it unusable.
doing it via keyboard helps, but is not a usable workaround due to the workflow.

network-issues are not recognized (pure GBit-Link)
CPU-performance issues are not recognized (neither

[2017-04-10 11:03] druchaty opened #1156 "Remmina hotkeys don't work with cyrilic keyboard layout"
* Client: Ubuntu 17.04
* Remmina version: 1.2.0-rcgit-18
* Desktop environment: Unity
* Connecting to: Windows 7
* Connecting via: RDP

When I'm trying to switch into full-screen mode using Host+F and my keyboard layout is set to ukrainian nothing happends. It would be good to have a possibility to use Remmina hotkeys regardless of keyboard layout.

[2017-04-10 11:24] pan1nx opened #1157 "Segfault when using the host SMB sharefolder on Windows (from Linux client)"
* Client (OS name and version): Ubuntu 14.04.5 LTS x64
* Remmina version (remmina --version): 1.2.0-rcgit-18 (git rcgit-18)
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Microsoft Windows [Version 10.0.14393]
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version): version 2.0.0~dev from 2.0.0~dev201703030839+dfsg20170406

[2017-04-10 15:25] antenore commented on #1047
Sorry for the late answer.
I'm investigating.

[2017-04-10 16:41] giox069 commented on #1157
Thank you for reporting. Yes, we updated libfreerdp in the PPA few days ago, and we have a regression bug. Can you better explain "trying to mount/access the tsclient SMB mount" ? Are you using the "Share folder" option on the remmina profile editor? Can you check if you have non-ascii characters on the folder path?

[2017-04-10 17:15] giox069 commented on #1157
Never mind. We are able to reproduce the problem. I hope we will find a fix as soon as possible.
Thank you for reporting.

[2017-04-11 07:05] pan1nx commented on #1157
Hi, Nope. No non-ascii characters on the folder path. Just /home/user...

Here is with the today's build:
Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fff9f53c700 (LWP 11721)]
0x00007fffe77b220b in FindClose () from /usr/lib/x86_64-linux-gnu/libwinpr2.so.2
(gdb) bt
#0  0x00007fffe77b220b in FindClose () from /usr/lib/x86_64-linux-gnu/libwinpr2.so.2
#1  0x00007fffe77

[2017-04-11 07:28] markohrastovec commented on #934
Hi,

I noticed that the date is OK now. I have Remmina 1.2.0-rcgit-18 (git rcgit-18). About freerdp I believe the
newer libfreerdp-plugins-standard and/or libfreerdp1 helped.

Here is the list of freerdp libraries installed on my computer.
$ dpkg -l | grep freerdp
ii  libfreerdp-cache1.1:amd64                                   1.1.0~git20140921.1.440916e+dfsg1-5ubuntu1            amd64        Free

[2017-04-11 07:33] giox069 commented on #1157
@pan1nx: it's a problem on libfreerdp. There is already a patch ready in their PR https://github.com/FreeRDP/FreeRDP/pull/3902, we just need to wait when they will merge the pull request and then we will update the PPA as soon as possible.

[2017-04-11 08:13] markohrastovec commented on #934
Well,

after it all worked just perfect, I upgraded the freerdp and remmina and now remmina crashes when I want to open a file from a share folder. I can see the files, but when I try to open it Remmina closes. :(
Where can I get the previous versions?

Here is the list of installed SW:
[code]

[2017-04-11 08:21] markohrastovec commented on #934
Hi again

I downgraded libfreerdp-plugins-standard and libfreerdp1. Now it works again. the packages I found on https://bugs.launchpad.net/~remmina-ppa-team/+archive/ubuntu/remmina-next-daily/+sourcepub/7527368/+listing-archive-extra

[2017-04-11 08:51] amitbha commented on #943
Same problem as one year ago...

[2017-04-11 09:56] antenore commented on #1129
It looks like the Snap package is not correctly linked to libsecret/keyring @3v1n0 can you please support us when you will have time?

In the meanwhile install the PPA package.

[2017-04-11 09:58] antenore commented on #1078
Are you using the Snap package? If so this is duplicated of #1129

[2017-04-11 10:16] pan1nx commented on #1157
Ok. Cool. I have been testing it and it looks like I could browse the directory tree from the shared folder but not the content (meaning, if I open a directory I crash). Thanks anyway @giox069 for your kind and fast response.

[2017-04-11 10:46] giox069 commented on #934
@markohrastovec we have another bug currently open for remmina crashing when using remote folders. Please continue reading in issue #1157
I hope it will be fixed ASAP.
Please note that 5 days ago, access to shared folders has been totally rewritten by the FreeRDP team. So, after fixing issue #1157, you should update remmina and recheck if this issue on date/time is solved.

[2017-04-11 19:00] giox069 commented on #1157
The remmina-next PPA has been updated with the patched libfreerdp. You can update your ubuntu and test it.

[2017-04-11 19:03] giox069 commented on #934
I have just updated the remmina-next PPA, with the latest libfreerdp that should fix the crash when using remote folders. You can now try to update your distribution.

[2017-04-11 19:38] giox069 commented on #1019
Shared RDP folder has been recently rewritten by the libfreerdp team. We have also updated our remmnia-next PPA with the latest FreeRDP.
Please test with the latest FreeRDP and Remmina and let us known.

[2017-04-11 19:40] giox069 commented on #1098
FreeRDP packages on remmina-next PPA are updated now.
You can test it.

[2017-04-11 22:15] Chugajstyr commented on #985
I`ve same problem - after 5 min SSH session is "frozen" alike (but cursor in console is blinking) despite on parameter "ServerAliveInterval" in `~/.ssh/config`. My system specs:

`Client (OS name and version): Linux Mint 17.3 "Rosa" (Ubuntu 14.04 based)
Remmina version (remmina --version): 1.2.0-rcgit-18
Desktop environment (GNOME, Unity, KDE, ..): MATE 1.12
Connecting to (OS and version): Centos

[2017-04-12 05:37] markohrastovec commented on #934
It works now. Grazie mille.

[2017-04-12 06:49] pan1nx commented on #1157
Hi,

Yes. The latest update fixed it. For the record it is fixed now in "2.0.0~dev201703030839+dfsg201704111144-0ubuntu0~git59a8418+e33fbeb~ubuntu14.04.1" update.

Closing the issue. Thanks again @giox069 for the nice response.

[2017-04-12 06:49] #1157 closed

[2017-04-12 10:17] FFS1 opened #1158 "Printing PDF via Remmina and share local Printers on Linux Mint dont work"
Hello,

i am using Remmina 1.2 on newest Mint.
We connect via VPN to a Terminalserver 2008 R2 via RDP.
We are able to share the local Printer HP LaserJet Pro M402dn connected to Mint Laptop and are able to successful print via Word, Excel, Outlook.
It is not possible to print PDF documents, the documents wont be printed, the size of the PDF document is increasing in the Terminalserver Printer Queu

[2017-04-12 10:26] antenore commented on #1158
It's probably better to ask support to our friends of FreeRDP.
Try first to reproduce it with xfreerdp.

[2017-04-12 10:32] FFS1 commented on #1158
I will try out and made my comment.
Thank you

[2017-04-12 11:10] FFS1 commented on #1158
Hello, same problem with FreeRDP

I am using this syntax to connect xfreerdp /f /v:IPADRESS /printer:HP-LaserJet-M402dn

Printer is able to use in the RDP session, but only word, excel, and no PDF printouts

[2017-04-12 11:19] giox069 commented on #1158
Please also report to them what freerdp version you are using.
Use
```xfreerdp --version```
Dod you compiled freerdp by yourself or are you using our PPA ?

[2017-04-12 11:22] FFS1 commented on #1158
I commented these informations in the new thread.

[2017-04-12 14:16] Freddrickk commented on #1136
I have the exact same issue on a slightly different environment.

* OS : Debian stretch
* Remmina version : 1.2.0-rcgit-18 (git 4d8d257)
* Desktop environment : Cinnamon

The same problem occurs if I'm connecting via RDP, VNC, etc.

[2017-04-12 17:05] Lonniebiz opened #1159 "File Transfers to Share Folder Crashing Remmina 1.2.0-rcgit-18 Each Try"
Have there been any code updates (recently) that could potentially effect Remmina's ability to reliably transfer files from a remote desktop to a local share folder?

In a fully updated Ubuntu 16.04 64bit (Unity Desktop), running Remmina 1.2.0-rcgit-18 (git rcgit-18), Remmina is crashing each time I attempt to do (even very small) file transfers from a Windows 10 Pro remote desktop to a share fold

[2017-04-12 17:18] giox069 commented on #1159
Yes, but it has been solved this morning. See issue #1157. Are you experiencing the problem after this morning update ?
As you noticed, xfreerdp is optional, it's the default frontend to libfreerdp, and it is available in our remmina-next PPA.

[2017-04-12 17:22] Lonniebiz commented on #1159
I'm fully updated according to the Ubuntu updater. It seems to be working fine now. Do you think I should always include the xfreefdp on future installations or was the fact that I installed that probably unrelated to the fact it is working fine now?

[2017-04-12 17:48] giox069 commented on #1159
xfreerdp is not needed by remmina. So it does not get installed by default when you install remmina from the PPA. xfreerdp is useful when doing debugging and reporting issues here.
I also use it in place of remmina when building "fixed configuration" enterprise thin clients PC, where I need to connect to only a single terminal server.

[2017-04-12 17:53] Lonniebiz commented on #1159
Interesting. Thanks for the reply.

[2017-04-12 17:53] #1159 closed

[2017-04-12 18:53] ptempier commented on #1019
I need to test well; but i didn't noticed a recent crash.
As i remember the issue was supposed to be fixed in the february or mars cumulative update (the one which was delayed/skipped). I don't remember the digging i did to attain this conclusion.

[2017-04-19 03:21] Eignar17 opened #1160 "remmina error fullscreen"
![screenshot at 2017-04-18 22 19 23](https://cloud.githubusercontent.com/assets/8561550/25162057/69d1c1b6-2485-11e7-8cb9-62979239eec0.png)

[2017-04-19 17:01] mmiat opened #1162 "default resolution"
Mint 18.1 KDE
Remmina 1.2.0

how can I set default rdp resolution and shared folder for all my (future and quick) connections?

[2017-04-20 06:31] #1129 closed

[2017-04-20 15:13] transistor1 commented on #1155
I'm not having this problem on Raspberry PI 3 Ubuntu MATE... and ODROID-C2 is certainly a more powerful board.  Did you try the remmina PPA daily build ([link](https://launchpad.net/~remmina-ppa-team/+archive/ubuntu/remmina-next-daily)) to see if this might have been fixed?   Have you tried connecting to any other Windows hosts, and do you have the same problem?

[2017-04-24 13:04] sh-dvl commented on #1155
as I know, GFX is different on nearly all those devs (R-Pi, Odroid, Banana-Pi, ...) and even different beetween the Models and for each of it there seems to be a special modified kernel with special-drivers, so Differences beetween devices doesn't surprise.

but meanwhile I have seen various other issues on such devs and some of the problems could be solved by compilation-optimization. For x86 fre

[2017-04-24 16:26] abhijit86k commented on #1147
@transistor1 I followed your steps to install and build the deb files. I'm able to install FreeRDP, but when installing Remmina the system complains that the existing plugins are not compatible.
"Breaks existing package 'remmina-plugin-rdp' dependency remmina (= 1.1.1-2)" and same for remmina-plugin-vnc.

If i "force" install with dpkg, remmina starts up but cannot connect to any servers; complain

[2017-04-24 16:27] abhijit86k commented on #1147
@mcrapet I'm running Jessie: and did not encounter any issues with the dependencies you noted above.

[2017-04-24 17:17] transistor1 commented on #1147
@abhijit86k - get rid of the built-in Debian plugins before you install the Docker-compiled version.  You don't need them.  The Docker-compiled package has them built in.  I think the Debian maintainers must separate them out into different packages.  See my remmina-next screenshot below.

![image](https://cloud.githubusercontent.com/assets/5625360/25349563/4284c83c-28f0-11e7-8209-fd419b5381b5.png

[2017-04-24 17:39] abhijit86k commented on #1147
Yes that's correct. I uninstalled freerdp-X11 also, along with the remmina-plugin-* packages.
Also, remmina was running in the tray, so had to 'pkill remmina' as well. All working now. Thanks @transistor1 !

[2017-04-25 07:02] antenore commented on #1160
Which Remmina version are you using? On which distribution?

[2017-04-25 07:04] antenore commented on #1152
Can you please try to reproduce this with xfreerdp?

[2017-04-25 18:19] justinnichols commented on #708
Any update on this?  I'm looking to convert from using PAC Manager to Remmina because Remmina just seems to function better in my opinion (in various ways).  I'd love to be able to save an SSH password and it's still greyed out (version: remmina 1.2.0-rcgit-18~snap1 ).

[2017-04-25 19:52] antenore commented on #708
I was working on this but I didn't have the time to continue.
It's not an easy task because the SSH code is mixed up between the core and the plugin, so I was trying to rewrite completely the plugin, to also add other features.

I've tried to just implement a quick fix but I don't see how I can do it (the same reason why others have failed before me)

My best enemy it's the lack of time, having so

[2017-04-25 19:56] justinnichols commented on #708
Roger that.  Thanks for all your efforts.  If I find time I may look at it myself, but I suspect you all have dug into this in great detail that my looking at it would probably come to the same conclusion (not to mention I'm not a C programmer exactly).

Much appreciated!

[2017-04-25 20:49] antenore commented on #708
I'm not either ;-)
Thank you.

[2017-04-26 03:39] arastoul commented on #1000
I use a laptop with ubuntu 14.04 and connect to a windows 10 xen vm with remmina, I had the same problem, remmina not connecting to my windows 10  vm after I upgraded it to windows 10 1607.
After digging for a while, I noticed the 'Advanced' tab/security combo on remmina connection settings and changing its value from 'Negociate' to 'RDP' solved my problem.

[2017-04-26 04:24] Eignar17 commented on #1160
Linux ubuntu mate 16.04

[2017-04-26 06:54] antenore commented on #1160
The remmina version?

[2017-04-26 08:12] mzettwitz commented on #1000
I wasn't able to connect until I set the advanced connection settings to 'Negotiate'. I am using Windows 10 Pro and Ubuntu 14.04. The Windows Firewall and Avira Free are active and there are no exceptional rules.

[2017-04-27 11:19] mbevc1 opened #1164 "Clipboard sync is not working"
Please give us some details about the systems you are using:
* Client (OS name and version): Fedora 25
* Remmina version (remmina --version): Version 1.2.0-rcgit-18 (git rcgit-18)
* Desktop environment (GNOME, Unity, KDE, ..): Gnome3 on X11
* Connecting to (OS and version): win7
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version): freerdp1.2-1.2.0-6.fc25.x

[2017-04-27 14:22] damoebius commented on #1047
Hi,
same issue.
Remmina: 1.2.0-rcgit-18
Xubuntu 17.04

[2017-04-27 14:59] giox069 commented on #1047
@damoebius: how did you install remmina? Via PPA, snap package or by compiling it ?

[2017-04-27 15:14] exactt commented on #1047
snap package

[2017-04-28 09:40] its-me commented on #104
The solution:

Source: http://thenubbyadmin.com/2012/04/27/solving-failed-vnc-connections-to-os-x

But on my PC remmina works with 32-bit too.

[2017-04-28 10:23] lundgrenolof commented on #943
This also happens to me. The suggested trick by @amitbha did not work for me.
[code]

[2017-04-28 10:41] giox069 commented on #943
I think this happens by design.
In older gnome version the tray icon was invisible under the bottom of the screen, so it was impossible to manage remmina after you close the main window. To avoid this, we decided to completely close all windows when the main window is closed.
In newer gnome version, there is a small stripe at the bottom of the screen which shows you the remmina tray icon, so we co

[2017-04-29 00:50] douglasmenger commented on #1136
It's the same situation with me.

OS: Debian 9 stretch
Remmina Version: 1.2.0-rcgit-18 (git 1d744f6)
Desktop: Gnome Shell 3.22.2

I made the installation through the snap

[2017-04-29 15:42] ZAJDAN opened #1165 "compilation on Debian 9"
I try to compile latest Remmina version on Debian 9 (32Bit)
but in first step according to Your manual I have a problem with libssl dependecy.
Do anybody have experience how to correctly install/compile Remmina 1.2 on Debian 9 ?
Thank You

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/44673276-compilation-on-debian-9?utm_campaign=p

[2017-04-29 22:11] Eignar17 commented on #1160
Is update new remmina rc un to ubuntu 16.04

[2017-04-30 11:44] giox069 commented on #1165
I think I can reproduce the problem under Debian 9 with
[code]
But I have no idea on how to solve it: remmina needs both libssh and libssl.

[2017-05-01 08:42] giox069 commented on #1165
The trick is to remove libssl-dev. After removing it, libssh-dev can be installed and libssl1.0-dev will be automatically installed as a dependency of libssh-dev.
I have just updated the wiki page with instructions to [compile remmina on Debian 9](https://github.com/FreeRDP/Remmina/wiki/Compile-on-Debian-9-Stretch).

[2017-05-01 13:23] giox069 commented on #1165
Thank you @mfvescovi for providing support for finding a solution :)

[2017-05-01 22:43] antenore commented on #1109
@dogmatic69 I may be wrong, but that should be the right behavior
Caps-lock triggers the Shift key. By me this is not a bug.

[2017-05-01 22:58] dogmatic69 commented on #1109
When using a host directly this is not the behaviour, so I would say it is a bug. It goes against what is normal and/or expected.

[2017-05-02 05:28] ZAJDAN commented on #1165
super! thank You

[2017-05-03 05:23] snugam commented on #1047
Xubuntu 16.10, installed with snap - same problem, not storing password.

[2017-05-03 07:25] benshep commented on #1136
Me too.

- OS: Lubuntu 17.04
- Remmina version: 1.2.0-rcgit-18 (git 1d744f6)
- Desktop: lxde
- Connecting to (OS and version): Windows 7
- Connecting via (RDP, VNC, ...): RDP

I installed it through snap.

[2017-05-03 08:59] AngelNone opened #1166 "RDP remote files are listed with huge wrong size under 32bit client platforms"
Good day. There was a problem. When you connect to RDP from Linux Mint, the files on the attached drive from the local computer increase the size from 2 bytes to 8 gigabytes. What is the problem with this problem? We use the latest version. When connecting with xreerdp the same problem, I attach a screenshot it may be easier to understand what is happening.
![2017-05-03 11-22-09](https://cloud.git

[2017-05-03 09:05] giox069 commented on #1166
Are you using our Ubuntu PPA or did you compiled remmina by yourself?
Can you paste here the output of

```dpkg -l '*libfreerdp*'```

Thank you

[2017-05-03 09:19] AngelNone commented on #1166
The installation package was downloaded from the official site and then updated via the update center.
![2017-05-03 12-18-49](https://cloud.githubusercontent.com/assets/28342808/25654696/bdc1a1b2-2ffa-11e7-8d38-5757aaa2cf35.png)

[2017-05-03 11:55] giox069 commented on #1166
Unfortunately I can't see the full version of libfreerdp1 in your screenshot.
Can you execute `dpkg -s libfreerdp1` and paste here the entire line which starts with "Version:" ?

The latest we published has version on our **remmina-next PPA**  is `2.0.0~dev201703030839+dfsg201704111144-0ubuntu0~git59a8418+e33fbeb~ubuntu16.04.1`

I also tried to reproduce the problem, but I'm unable to reproduce it

[2017-05-03 12:10] AngelNone commented on #1166
Computers based on Intel. The problem manifested itself only on the 32-bit system. And after the last updates. That is, a couple of days ago everything worked. If the file is larger than 2 bytes, the same thing happens, according to my assumptions, 1 byte of the source file equals 4 gigabytes in the final form.
![2017-05-03 15-03-29](https://cloud.githubusercontent.com/assets/28342808/25659901/95f

[2017-05-03 13:30] antenore commented on #1166
@AngelNone Open an issue to the FreeRDP developers:
https://github.com/FreeRDP/FreeRDP/issues/new

And reference this one as well. Thanks

[2017-05-03 14:25] giox069 commented on #1166
Got it! I compiled xfreerdp under a 32bit arch machine, and the problem appeared to me too.

[2017-05-05 05:28] cooolkp opened #1167 "Multi-touch Support ??"
Hi All,
       I want to know whether your Remmina for Linux machine supports multi-touch. Our requirement is to access the screen of a machine (VNC Server) running CentOS Linux remotely using another touch screen PC (VNC client) with CentOS Linux. I shall be able to Zoom In and Zoom Out the screen of Server machine using multi-touch.
If it’s possible, can you guide me ??.

[2017-05-05 07:31] antenore commented on #1167
Hi @cooolkp , I honestly and genuinely don't know because it's not the typical use case where Remmina is used.
As installing Remmina is quite straight forward, you can try yourself and than come back here for support is you have issues.

https://github.com/FreeRDP/Remmina/wiki

As it's not a typical use case, it could be we won't have time and resources to help you quickly, but we can give you som

[2017-05-05 18:51] jawwadh1 opened #1168 "Low video playback"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version):
* Remmina version (remmina --version):
* Desktop environment (GNOME, Unity, KDE, ..):
* Connecting to (OS and version):
* Connecting via (RDP, VNC, ...):
* RDP issues only, freerdp version (xfreerdp --version):

[2017-05-05 18:53] jawwadh1 commented on #1168
I have pi3 rassbarey and willing to take a remote on of windows but as for the video playback it's not supporting 480p even playback facing giliches

[2017-05-05 23:56] antenore commented on #1168
Doesn't support RDP the Windows you are connecting to?

[2017-05-08 11:03] facboy opened #1171 "Can't connect to x509vnc on Fedora 25"
I have a TigerVNC 1.7.1 server running on CentOS 7, with securitytypes=x509vnc.  When I try to connect using Remmina it gets an Authentication failed error.  The debug window shows

[code]
Running it with GNUTLS_DEBUG_LEVEL=99 shows the following:

[code]
I can connect fine from Fedora 25 using TigerVNC viewer 1.7.1.  I can also connect fine from Ubuntu 16.04 using `remmina - Version 1.2.0-rcgit-1

[2017-05-09 08:32] mbevc1 commented on #1164
Looks like there is an intermittent issues, since after reboot of Win7 it's started to work again... I'll close issue if it doesn't happen again in a while.

[2017-05-09 17:40] thisSIDEofRANDOM commented on #347
RDGateway doesn't seem to support using a different password for the gateway than the destination server. Is this expected to be added in? freerdp option /gp

[2017-05-09 18:42] giox069 commented on #347
Support for RDGateway has been already added to remmina, as requested by this issue title and first post. So I'm going to close this issue now.
For your specific question, please read comments to Issue #933 and add your request there.

[2017-05-09 18:42] #347 closed

[2017-05-09 20:42] calebcassel commented on #1035
I'm experiencing this, too.
* Client: Ubuntu Gnome 17.04
* Remmina version 1.2.0-rcgit-18
* Desktop environment: GNOME
* Connecting to: Windows 10
* Connecting via: KVM, SPICE

[2017-05-09 22:11] antenore opened #1172 "GTkEntry inside the Remmina File Editor widget is too small for some translations"
Here a screenshot that show better where is the issue.

![jfahgcikpagimfnj](https://cloud.githubusercontent.com/assets/5975/25874932/19405ba4-3515-11e7-8ddc-ffd9355d5af3.png)

[2017-05-10 11:56] antenore commented on #1171
Thanks for reporting. I cannot reproduce it, do you think we can close the issue?

[2017-05-10 15:17] thisSIDEofRANDOM commented on #933
Just wanted to update and see if there was any development or potential for adding this feature in. Most people using RDGateway do not use the same credentials for the gateway as the destination. T

[2017-05-10 15:19] Beerey commented on #933
+1

[2017-05-10 15:27] giox069 commented on #933
It should not be too complex to add, but we need a RD gateway and proper configuration to test. If anyone is available to provide one, we will be happy. I think I could provide hardware on which install a windows server VM, but we need someone able to configure RD gateway and find how to handle possible licensing problems (trial period??).
As an alternative to the RD gateway for testing, we can de

[2017-05-10 15:31] jackdozier commented on #933
I can provide a temporary RD gateway test setup. Give me some time (later today) and I'll post the info here. I can help test the new code as well.

[2017-05-10 15:34] antenore commented on #933
@jackdozier this is really cool! Thanks. Instead of posting it over here, for your infrastructure safety, I'd say that is better to send us (myself and Giovanni) an email. Our emails are in the about widget in Remmina.
Take your time, we are quite busy with "physical life" as well.

[2017-05-10 15:38] jackdozier commented on #933
@antenore Will do. I'll also email you and Giovanni about the VM offer. If it stands, I bet I can work with you to set up a more permanent test instance that you guys can spin up at will.

[2017-05-10 15:40] antenore commented on #933
That would be amazing ^^

[2017-05-11 08:29] tomaszkubacki commented on #1047
Ubuntu 17.04 same issue - it's snap - version installed from PPA works perfectly well

[2017-05-11 08:34] giox069 commented on #1047
@3v1n0: it seems that snap packages are unable to access gnome keyring...

[2017-05-11 09:51] tomaszkubacki commented on #1047
@giox069 tracking snap issue here: https://bugs.launchpad.net/snapd/+bug/1653769

[2017-05-11 10:24] giox069 commented on #1047
Thank you @tomaszkubacki. I will add a comment on the remmina Wiki.

[2017-05-12 12:23] Optica1 opened #1174 "Files in mounted sharefolders become terrabytes big."
The files in a mounted sharefolder are suddenly very big when connecting to a windows 2012 server.
For example a 33 MB file becomes over 145 TB.

This does not happen on my other computer with remmina version 1.1.2.

Lubuntu 14.04
remmina - Version 1.2.-rcgit-18
LXDE
Connecting to windows server 2012 R2 via RDP
FreeRDP version 1.2.0-beta1

<bountysource-plugin>

---
Want to back this issue? **[Pos

[2017-05-12 12:28] giox069 commented on #1174
Hi @Optica1.
Just confirm me that you are using a 32 bit lubuntu, and not a 64bit one.
Your bug can be a duplicate of issue #1166. I'm sorry, currently issue #1166 has a wron, too genenric, title "Problem Connect to RDP". I'm going to rename it now.

[2017-05-12 12:34] Optica1 commented on #1174
Hello @giox069,
Very fast answer!
It seems that issue #1166 is indeed the same problem as mine. I am on a 32-bit system.
Sorry for duplicate, I didn't find this one.

[2017-05-12 12:38] giox069 commented on #1174
Ok, I'm going to close this issue now. If you want to receive notifications, just add a comment on issue #1166 or enable notifications on its page.
Work is in progress to solve it by the FreeRDP team, I hope :)

[2017-05-12 12:38] #1174 closed

[2017-05-12 16:23] kunkku opened #1175 "SSH tunneling does not work with RDP server redirection"
When connecting to an RDP server via an SSH tunnel, server redirection messages are not handled properly. The address of the target server is now resolved locally. The correct behavior would be to resolve the name on the SSH host and set up a tunnel also for the redirected connection.

Details about the system I am using:
* Client: Fedora 25
* Remmina version: 1.2.0-rcgit-18
* Connecting to (OS an

[2017-05-14 08:15] e-alfred opened #1176 "SSH connections terminate after some time if there is no activitiy in them"
Hello,

my SSH connections terminate after some time in Remmina if they are idle. This can be hours (mostly), but if some process runs on the terminal inside Remmina, the connection stays up. This problem does not occur with the CLI ssh client or Putty, for example. is there a possibility to enable/implement/respect the `ServerAliveInterval` like in ssh_config? I already tried to set it in ssh/con

[2017-05-14 09:26] Kunzol commented on #859
Same ssh_channel_poll error here with remmina 1.2.0-rcgit-18 on Ubuntu xenial while rdp connection.

[2017-05-15 08:57] QuAzI opened #1177 "SSH tunneling broken"
* Client (OS name and version): Linux Mint 17.3 AMD64
* Remmina version (remmina --version): 1.2.0-rcgit-18
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Windows 7 SP1 AMD64 through Linux Mint PC
* Connecting via (RDP, VNC, ...): RDP
---
When I try to connect through SSH I have alert:
[code]
It has occurred after one of the last updates

Workaround: run ssh t

[2017-05-15 09:06] QuAzI opened #1178 "TAB hotkeys behavior wrong"
* Client (OS name and version): Linux Mint 17.3 AMD64
* Remmina version (remmina --version): 1.2.0-rcgit-18
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Windows 7 SP1 AMD64
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version):

[code]
---

Default windows RDP client behavior in full-screen mode: Alt+Tab switches remot

[2017-05-15 09:11] giox069 commented on #1178
Have you enabled keyboard capture by clicking on the keyboard icon on the remmina connection toolbar?
Please note that keyboard capture does not currently works under wayland, see issue #1086.

[2017-05-15 09:12] QuAzI commented on #1018
Looks like use OpenSSH is more prefer and more stable. Because of #1177 and because when I use 3G modem with unstable data transfer before, connection hangs many times. Looks like OpenSSH is more steady for network errors.

[2017-05-15 09:21] notorand-it commented on #1018
Maybe I am wrong, but reimplementing (Open)SSH inside a project is useless as well as counter-productive and error prone.
Again, maybe I'm wrong, but all is needed by remmina is the establishment of SSH TCP forwardings, which can be done by spawning an (Open)SSH client with proper -R and -L (and a bunch of -o) options.

[2017-05-15 09:22] QuAzI commented on #1178
Can you enable this feature by default? Default behaviour?
In Mint 17.3 Wayland still not used by default. Used X11 with KDE 4.14.2.

[2017-05-15 09:25] QuAzI commented on #1018
You not need to reimplement OpenSSH. Just use it properly because it is installed in most of *nix systems and any security issues in this library fixed ASAP.

[2017-05-15 09:36] antenore commented on #1018
I didn't have much time working on Remmina lately.
As I said we use libssh as it's easier/safer to use a library than spawning ssh processes.

There is also another library, libssh2, that I was considering, but anyway it takes time to investigate and work on it.

Writing a shell script and calling it (full path) in the precommand field, it's probably the best work around at the moment.

If you guy

[2017-05-15 09:40] antenore commented on #1177
This is a know bug in libssh (the library we use in Remmina for SSH connections)

https://red.libssh.org/issues/202

Marked as outofscope because we can do almost nothing, but we are thinking about this.

Any help and ideas are welcome.

[2017-05-15 10:14] QuAzI commented on #1018
If I run SSH tunnel from precommand field it will be killed when I close session?
Maybe tooltip and documentation can be increased by samples for SSH, NetCat, SoCat ?

[2017-05-15 10:19] QuAzI opened #1179 "Remmina profile editor scrolling is broken"
* Client (OS name and version): Linux Mint 17.3 AMD64
* Remmina version (remmina --version): 1.2.0-rcgit-18
* Desktop environment (GNOME, Unity, KDE, ..): KDE

By default my settings opened with scroll at bottom. Even if I drag scroll to top and then change settings tab scrollbar moved to bottom again! And scroll eat the header of tab panel.

![screenshot from 2017-05-15 124836](https://cloud.gith

[2017-05-15 10:25] notorand-it commented on #1018
@QuAzI You can still use (as I commonly do) the `ControlPath`-related options.

Anyway, _libssh_ is not based on OpenSSH but it's an independent, "tiny" implementation.
_libssh2_ is another larger library but it's not the base for OpenSSH CLI tools either.

From the web [page](https://libssh2.org/):

[code]

I think, but I could be badly wrong, that (power) users prefer OpenSSH over any other impl

[2017-05-15 10:41] QuAzI opened #1180 "Mouse cursor doesn't work properly for Xen VNC"
* Client (OS name and version): Linux Mint 17.3 AMD64
* Remmina version (remmina --version): 1.2.0-rcgit-18
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Debian 7.11 with Xen
* Connecting via (RDP, VNC, ...): VNC
* Xen version:

The position of the cursor doesn't correspond

Video with main cursor (black) and VNC cursor
http://storage.catalogloader.com/screen

[2017-05-15 11:27] antenore commented on #1018
@notorand-it thanks.
@QuAzI I'll try to document it. Pre commands are executed before connecting to the server, Post commands are executed when closing the connection to the server. So you can write 2 separate scripts, one for opening the tunnel and one for closing it.

The Pre and Post commands needs some improvements as well, as, at the moment, you can only specify the full path to a script or c

[2017-05-15 11:29] antenore commented on #1179
We are working on a new "remmina file editor", so you won't have this issue in future releases.

For your specific case, it's much more a theme/kde integration with GTK.

[2017-05-15 11:34] QuAzI commented on #1179
I think it is not theme issue. Scrollbar out of the tab panel. And tab panel looks like "page content" for scrollbar in this case. Panel with settings must have own scrollbar inside to scroll only internal content (current tab settings).

[2017-05-15 12:09] antenore commented on #1179
I'll take a look while rewriting it.

[2017-05-16 00:00] Batmensch opened #1181 "Option to shut down Remmina when last window is closed on Linux"
I wish there was an option on Linux for shutting down Remmina completely when the last window is closed.  Having it running after that makes it feel like a Mac app, not Linux.

[2017-05-16 02:17] bjwest opened #1182 "Another user connected to the server error on disconnect."
[code]

Upon disconnecting from windows 10 with 'C:\Windows\System32\tscon.exe 1 /dest:console', I get an error window with the following dialog:
![screenshot_20170515_211135](https://cloud.githubusercontent.com/assets/1934590/26086963/a3a03b1e-39b3-11e7-8d66-ec45903a2143.png)

I've been using Remmina sine Windows 10 beta program, and have not seen this error before, this is new with my update to

[2017-05-16 09:10] mbevc1 commented on #1164
Looks fine ATM, closing for now and will reopen if needed.

[2017-05-16 09:10] #1164 closed

[2017-05-22 06:20] jocutajar opened #1183 "Segmentation fault in ALSA handling when running as a snap"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

* Client (OS name and version): debian stretch up to date, although very bare installation
* Remmina version (remmina --version): 1.2.0-rcgit-18 (git 1d744f6) running in a snap
* Desktop environment (GNOME, Unity, KDE, ..): Bare awesome
* Connecting to (OS and version): Windows 10
* Connecting via (RDP,

[2017-05-22 15:07] ptempier commented on #1019
no crash so far , so it seems issue is resolved by microsoft update

[2017-05-23 12:04] jbktank opened #1184 "Screen Resolution"
Hi All

I currently have:

* Client: Ubuntu 17.04
* Remmina version: 1.2.0
* Desktop environment: Unity
* Connecting to: Windows 10 1607
* Connecting via: RDP
* RDP issues only

My ubuntu machine is a resolution of 2560x1440 and I can't natively get this resolution working when connecting to my Windows Machines. I have used client resolution which is the best by far but looks pix-elated. When I tr

[2017-05-23 19:01] benyanke commented on #778
I'm still getting the following dump info....any help?

The GDB logs are:

`(gdb) run
Starting program: /usr/bin/remmina
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7fffe9625700 (LWP 21235)]
[New Thread 0x7fffe8e24700 (LWP 21236)]
[New Thread 0x7fffe3fff700 (LWP 21237)]
Remmina plugin RDP (type=Protocol) reg

[2017-05-23 19:31] antenore commented on #778
@benyanke thanks for the report, this looks really different, can you open a new issue?

[2017-05-23 19:50] benyanke opened #1185 "Crashing on Load: Segfault"
_Originally mentioned in #778, moved here at the request of @antenore_

* Client (OS name and version): Ubuntu 16.04.2 LTS
* Remmina version (remmina --version): Most recent from apt (see below for more info)
* Desktop environment (GNOME, Unity, KDE, ..):  Unity
* Connecting to (OS and version): n/a (see below)
* Connecting via (RDP, VNC, ...): n/a (see below)
* RDP issues only, freerdp version (x

[2017-05-23 20:45] antenore commented on #1185
Can you try to purge completely any remmina and freerdp package you have?

We have a couple of examples on how to do it in our wiki.

Something like this:

[code]

Then try to install it again.

Can you also give me the URL of the PPA you are using? If you are using snap, try the PPA (after removing the snap version)

[2017-05-23 21:50] benyanke commented on #1185
Thanks @antenore . I purged everything as you suggested and reinstalled the `remmina` package with apt. I don't believe I have any PPA packages for remmina, so I suppose it would be from the default ubuntu ones?

In any case, it now works after that purge. Is there any system information you want me to get to debug the problem further, or should I close this out?

[2017-05-23 22:35] antenore commented on #1185
You can close it, thanks. If you want to use the last version of Remmina, that is less buggy, you can use our PPA as described in the wiki.  https://github.com/FreeRDP/Remmina/wiki

[2017-05-23 23:02] benyanke commented on #1185
Thanks! The GUI redesign looks great.

[2017-05-23 23:02] #1185 closed

[2017-05-24 06:32] osos opened #1186 "Cannot connect to Windows 10 after Creators Update (1703)"
* LinuxMint 18.1
* PPA-version of remmina
* Cinnamon/gnome desktop
* Connecting to Windows 10 Pro 1703
* Connecting via RDP

I have been using Remmina to connect to Windows 10 Pro 1607 since month with no problems. After upgrading with the Creators Update (1703) for Windows 10 Pro I am unable to connect.

Others seem to have issues, see: https://social.technet.microsoft.com/Forums/office/en-US/e23

[2017-05-24 06:37] osos commented on #1186
Just found this: https://www.solaris-cookbook.eu/linux/remmina-windows-10-fixed-unable-to-connect-to-rdp-server/

It states:

` vi ~/.freerdp/known_hosts`

Will try once I return home, and report here.

[2017-05-24 09:56] rayfoss opened #1187 ""Public Key (Automatic)" option does not work with ed25519 keys"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Fedora 24
* Remmina version (remmina --version): 1.2.0-rcgit.7
* Desktop environment (GNOME, Unity, KDE, ..): Gnome
* Connecting to (OS and version): Windows 7
* Connecting via (RDP, VNC, ...): RDP

I have 2 keys

[2017-05-24 13:46] leafnode commented on #1133
You can remove the `remmina-plugins-gnome`plugin, it will make remmina to save passwords inside connection files (encrypted) (at least it worked like that for me).

[2017-05-24 16:33] martinezjr231 opened #1188 "Multiple NICs"
Please give us some details about the systems you are using:
* Client (OS name and version): openSUSE 42.1 x64
* Remmina version (remmina --version):  0.9.99.1 (only available with openSUSE 42.1)
* Desktop environment (GNOME, Unity, KDE, ..):  Xfce
* Connecting to (OS and version): Win 7 Pro 32bit
* Connecting via (RDP, VNC, ...):  both
* RDP issues only, freerdp version (xfreerdp --version):    D

[2017-05-24 16:56] giox069 commented on #1188
I don't think this issue is related with Remmina: every TCP/IP client usually does not allow the user to select which interface/ip to use when connecting to a server. The interface choice is usually done by the kernel by default, which selects the best interface according to the IP routing table.
And remmina can not do anything to change this, because TCP connections sockets are not handled by rem

[2017-05-24 17:32] osos commented on #1186
Unfortunately it didn't work :-(

Please advise

[2017-05-24 20:13] giox069 commented on #1186
I'm using Remmina to connect to Windows 10 1703 but I have no problems.
Are you using a remote desktop Gateway as described on the 1st link you posted?
Try to execute remmina from a terminal window: open the terminal window, type remmina and press enter. Connect to your PC. After the connection fails, please return to the terminal windows and copy all the text you see and paste here. Thank you.

[2017-05-26 22:02] rcassani commented on #762
I had a similar problem, however the cause was not the Host OS, but that the "host key" had changed. I realized that by running:
`xfreerdp /v:_host_name_ /u:user /d:domain`
then I updated the `known_hosts` file as the outpu of the previous command suggested. Now it works

The output of the command was:

[code]

[2017-05-28 01:32] agaida opened #1189 "Regular Release planned?"
If so - it would be nice to communicate because - as the bugtracker says - the latest release isn't supported any longer and there are no releases that are supported, only prereleases.

That lead to:
Debian Bug report logs - #863302
RM: remmina/1.1.2-4 --RoM; buggy, unsupported by upstream
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=863302

<bountysource-plugin>

---
Want to back this issue?

[2017-05-29 13:16] somini commented on #1133
Thank you so much @leafnode, you just saved me hours in typing passwords over and over again.
Is there a way to blacklist the plugin somewhere other than deleting the .so file?

[2017-05-29 16:38] osos commented on #1186
Turns out that the upgrade disabled the firewall-rules allowing Windows to receive RDP requests and thus effectively disabling remote desktop, despite otherwise enabled!

[2017-05-29 16:38] #1186 closed

[2017-05-29 21:07] erm3nda commented on #243
I dont know if that helps much, but in my case the only way i found to make it work was to not "save", and press "connect" instead, otherwise the "share folder" checkbox will not be saved. Later i did save and still works :-)

[2017-05-30 16:24] joakim-tjernlund commented on #854
Me too please!
Our VPN disconnect after 30 min idle, very annoying.
Se a keep alive feature would e welcome

[2017-05-30 16:55] chiamarc commented on #1082
I can confirm the same exact behavior with RDP to a Windows box for a couple years now from Fedora 19 up through Fedora 23.  I am also unable to get the workaround to function.  If it helps, the same behavior obtains when I use the NoMachine client from my Fedora desktop to my Windows laptop!

[2017-05-30 21:16] antenore commented on #1189
We are not Debian packagers, and to be frankly we are not packagers at all.

We are aware of  this issue and unlucky we can do really not much except speaking with the Debian maintainers, that it’s something we are doing.
Till the next Debian release Remmina won’t be officially included and you can only blame the Debian policy :-\
In Stretch we will almost probably have the 1.1 and than, hopefully

[2017-05-30 21:16] #1189 closed

[2017-05-31 00:00] agaida commented on #1189
nice to hear that there are packages - to be true about i run mostly sid, are mostly focussed on Qt - but found out that remmina is a tool that does all the things i need reliable - so time will tell.

[2017-05-31 07:31] giox069 commented on #1189
Just a small update from the Debian maintainers: unfortunately there will be no Remmina 1.1 on Debian Stretch9. I hope we will be able to have a 1.2 as backport or external package as soon as we can.

[2017-06-01 05:14] llucenic commented on #243
This issue appeared on my Windows 2012 connections a few days ago. The remote sound setting does not help a least bit. I had to connect **without shared folder at first**, after reconnecting with shared folder set to originally set folder, its contents started to appear again in Explorer on the remote machine.
The classical "get-out, get-in" solution works here apparently.

[2017-06-01 09:52] hyperion1209 opened #1191 "Redirect local microphone fails when setting the Sound to Local"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Ubuntu 16.04
* Remmina version (remmina --version): 1.2.0-rcgit-18 (git rcgit-18)
* Desktop environment (GNOME, Unity, KDE, ..): Unity
* Connecting to (OS and version): Windows 2008 R2 Datacenter SP1
* Connecting

[2017-06-01 10:40] antenore commented on #1191
Can you please open the same issue to the FreeRDP team? Does the normal sound redirection work?

FreeRDP must be compiled with pulseaudio support, how did you install Remmina?

[2017-06-01 10:47] hyperion1209 commented on #1191
Normal sound redirection works perfectly.

I installed Remmina from the Ubuntu repository as described in the wiki:
https://github.com/FreeRDP/Remmina/wiki

I've just submitted it to FreeRDP as well:
https://github.com/FreeRDP/FreeRDP/issues/3988

Cheers!
Marius

[2017-06-05 02:06] tomascassidy commented on #977
Devuan has some [documentation on how to package for Devuan](https://talk.devuan.org/t/os-documentation-how-to-package-for-devuan/568/14).

NB: I'm not a Devuan developer, just a daily user of Remmina/FreeRDP on Ubuntu and hoping to switch to Devuan when Remmina is working there.

[2017-06-05 17:51] byjg commented on #909
It seems it is an old bug in Remmina. It is not related to SSH environment. I do the follow tests:

- Open a SSH connection inside a Gnome Terminal -> The connection remains from several minutes without disconnect even if I do not touch in the keyboard;
- Open a Terminal in Remmina to the same server above -> The connection dies and the terminal just hang if I do not touch on the keyboard for 1 mi

[2017-06-06 15:00] louisrubet commented on #730
@zandao @hellboy81 did you run `sudo apt-add-repository ppa:remmina-ppa-team/remmina-next` behind a proxy ? It seems it does not work, even with `http_proxy` and `https_proxy` set and **even with apt.conf correctly configured with your proxy**.

[2017-06-07 10:53] husisusi commented on #944
I do not know why, but since yesterday (Arch Linux Plasma Update) everything works.
Connect menu works again!!! It is great!!!!
![screenshot_20170607_125111](https://user-images.githubusercontent.com/8606735/26874985-30c88540-4b80-11e7-859b-b91fb45c9694.png)
![screenshot_20170607_125213](https://user-images.githubusercontent.com/8606735/26874989-343d9576-4b80-11e7-9d4d-1dfb2c0e7af8.png)

[2017-06-07 22:12] #1048 closed

[2017-06-07 22:17] antenore commented on #933
We have implemented it in the issues_933-rdpgateway branch. Whoever is willing to help with testing is really welcome.

The RD settings have been moved in the Advanced tab.
At this point we'd like to revolutionize the UI as it's really not good at the moment. So if you have any ideas...

[2017-06-07 22:20] antenore commented on #922
I mark this as duplicate of #933 because there were a longer discussion over there.
Please join us as we have implemented the feature in a new branch.

[2017-06-07 22:21] antenore commented on #511
I mark this as duplicate of #933 because there were a longer discussion over there.
Please join us as we have implemented the feature in a new branch.

[2017-06-07 22:37] antenore commented on #1179
I've fixed this in a new the https://github.com/FreeRDP/Remmina/tree/issues_933-rdpgateway

Hopefully will be merged soon.

If you want you can join us in the #933 issue

[2017-06-07 22:44] antenore commented on #706
This it means to work now.
Check #933 for last RD Gateway enhancements.

We will close this as soon as the new branch will be merged.

[2017-06-08 02:44] thisSIDEofRANDOM commented on #933
Happy to help test! Will report back :)

[2017-06-08 10:02] gaetanquentin commented on #481
on ubuntu zesty , gnome shell 3.24, remmina 1.1.2, top bar stay minimized. Unable to use it.

Is there a workaround for it?

[2017-06-08 10:05] giox069 commented on #481
@gaetanquentin upgrade to remmina 1.2 using our PPA as explained in the [Remmia Wiki](https://github.com/FreeRDP/Remmina/wiki)

[2017-06-08 10:56] gaetanquentin commented on #481
@giox069

ok it works fine now. langage problem fixed too (rdp server remotes were always in english ..)

[2017-06-08 21:48] antenore commented on #1187
Which version of libssh do you have?

BTW, I strongly advice you to upgrade to the latest Remmina version. We fix several bugs at each release.

https://github.com/FreeRDP/Remmina/blob/next/CHANGELOG.md

[2017-06-08 22:53] antenore commented on #1076
Can you share a screenshot?

[2017-06-09 06:08] worldskat commented on #1076
First picture is work with ranger via gnome terminal.
Other is via Remmina.
Picture change while i make some moves by cursor. This picture i maked just push "down" , "left"  and "right"

![good](https://user-images.githubusercontent.com/24825418/26962979-93807724-4cf2-11e7-8521-3ba3094d283f.png)
![bad1](https://user-images.githubusercontent.com/24825418/26962978-937f8206-4cf2-11e7-9d02-b8ab3946f85

[2017-06-09 21:05] #511 closed

[2017-06-09 21:06] #1179 closed

[2017-06-09 21:07] #706 closed

[2017-06-09 21:07] #933 closed

[2017-06-10 22:27] david300m opened #1194 "Graphics Flickering"
CLIENT
---------
OS: Arch Linux
Kernel: x86_64 Linux 4.11.3-1-ARCH
Resolution: 3840x2160
DE: KDE 5.34.0 / Plasma 5.10.1
WM: KWin
CPU: Intel Core i7-6700K @ 8x 4.2GHz [49.5°C]
GPU: GeForce GTX 1060 3GB
RAM: 3025MiB / 32114MiB
Remmina version: 1.2.0-rcgit-18 (git rcgit-18)
Connecting via RDP at max resolution or a smaller size, the problem is the same.
Experience: LAN
Color Depth: true color 32 bpp

[2017-06-10 22:49] david300m commented on #1194
See attached, minimizing an excel window...
[20170610_154253.zip](https://github.com/FreeRDP/Remmina/files/1066154/20170610_154253.zip)

[2017-06-11 17:41] bperel commented on #1176
Maybe related to #975

[2017-06-12 06:24] saberraz commented on #1136
The issue seems to have been resolved now for me in the latest nightly.

[2017-06-12 06:24] #1136 closed

[2017-06-14 12:37] nucc1 opened #1195 "support for CredSSP"
it's not possible to connect to RDP servers that require CredSSP support.

Server returns failure code 0x03:

failureCode: Server requires Enhanced RDP Security with CredSSP (0x00000005)
[seen in packet capture].

Please give us some details about the systems you are using:
* Client (OS name and version): Elementary OS Loki
* Remmina version (remmina --version): 1.2.0-rcgit-18
* Desktop environmen

[2017-06-15 00:50] antenore commented on #1175
Any workaround I could put in place, like forwarding names/UDP requests to the stepping stone, it would be a bad practice.
I'll think about this, but it's much better to work on the client side (your pc/server configuration) .

Ping me if I'll forget to keep you posted.

[2017-06-15 21:51] antenore commented on #1078
I've just fixed this and will be soon merged in next. Hopefully in a couple of weeks we will publish a new remmina release.

[2017-06-15 21:52] antenore commented on #708
I've just fixed this and will be soon merged in next. Hopefully in a couple of weeks we will publish a new Remmina release.

[2017-06-15 21:55] antenore commented on #1078
Duplicate of #708

[2017-06-16 07:45] antenore commented on #1187
Working on it, are you available for testing?
It'll be needed to download the source code and compile it.

[2017-06-16 07:54] antenore commented on #984
I'm working on it, #1196  are you available for testing?
I'll commit soon the ed25519 patch

[2017-06-16 15:25] lewisdonofrio opened #1197 "Auto hide"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Windows 7 64 bit = uname: ('CYGWIN_NT-6.1', '2.8.0(0.309/5/3)', '2017-04-01 20:47', 'x86_64', '')
system   : CYGWIN_NT-6.1
release  : 2.8.0(0.309/5/3)
version  : 2017-04-01 20:47
machine  : x86_64
processor:
* Re

[2017-06-16 19:05] rayfoss commented on #1187
closing as pull request available.

[2017-06-16 19:05] #1187 closed

[2017-06-18 21:25] antenore commented on #985
Keepalive in Remmina is implemented, to understand what happens I need some more info please.

1) Which version of libssh do you have?
2) What happens if you set the TMOUT and TIMEOUT to 0 on your server?
3) Can you open the Remmina DEBUG window and look for any [SSH] TCP messages?

The TMOUT and TIMEOUT variables are often set for security reasons (compliance rules mainly), so it's something that

[2017-06-18 21:44] antenore commented on #1151
It's not the first report we receive about byobu, so there is something definitively wrong somewhere.
The terminal remmina implementation is still quite poor, I hope in the next releases I'll be able to improve it.
You should have a vte terminal installed, on arch is called  vte2_90, can you test it with byobu?
Can you also try to change the terminal preferences in Remmina (general preferences, Te

[2017-06-18 21:51] antenore commented on #1076
I've the same problem, I'll take a look

[2017-06-18 21:52] antenore commented on #1151
Welll, I've some problems sing ranger for example, without Byobu, so there is something wrong in Remmina. I'll take a look

[2017-06-19 06:59] #708 closed

[2017-06-19 06:59] #1078 closed

[2017-06-19 18:22] justinabrahms commented on #1152
This hit me again. Do you have instructions on how to replicate a remmina config in xfreerdp?

[2017-06-19 19:19] antenore commented on #1151
https://stackoverflow.com/questions/13707137/ncurses-resizing-glitch#13707598 I found this that can be related.
I'll take a look at our resize callbacks.

[2017-06-19 19:19] antenore commented on #1076
https://stackoverflow.com/questions/13707137/ncurses-resizing-glitch#13707598 I found this that can be related.
I'll take a look at our resize callbacks.

[2017-06-19 23:19] #1076 closed

[2017-06-19 23:19] #1151 closed

[2017-06-19 23:19] antenore commented on #1076
Found and fixed

[2017-06-19 23:19] antenore commented on #1151
Found and fixed

[2017-06-20 05:37] angerangel opened #1199 "Remmina PPA disappeared!"
Remmina PPA disappeared!

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46386752-remmina-ppa-disappeared?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issu

[2017-06-20 06:54] antenore commented on #1199
I'm not sure you're using the right ppa, I cannot double check right now.

Did you do the following to add it?

sudo apt-add-repository ppa:remmina-ppa-team/remmina-next
sudo apt-get update
sudo apt-get install remmina remmina-plugin-rdp libfreerdp-plugins-standard

In the case you did not, remove the old one

[2017-06-20 14:57] antenore commented on #176
Closed by #1196

[2017-06-20 14:58] #176 closed

[2017-06-20 15:01] #663 closed

[2017-06-20 15:08] antenore commented on #235
Please open a new issue for each specific problem

[2017-06-20 15:08] #235 closed

[2017-06-20 15:13] antenore commented on #584
@thecrazy we have implemented the password store in SSH, I'll work on improving the external tools

[2017-06-20 15:20] antenore commented on #713
Closed by #1196

[2017-06-20 15:20] #713 closed

[2017-06-20 15:28] antenore commented on #692
Closing as cannot be implemented till libssh 0.8.x will be out, forwarding in general it's in our TODO list$

[2017-06-20 15:28] #692 closed

[2017-06-20 15:43] antenore commented on #1018
FYI, I've just merged some fixes around ssh #1196 . I'll improve the prior and post command. The OpenSSH implementation is a NOGO at the moment, it's too tricky

[2017-06-20 15:53] antenore commented on #1175
FYI, I've just merged some fixes around ssh #1196.
Name resolution through ssh cannot be done, but as I was saying you can configure your local machine to do it.
Closing this, but don't hesitate to challenge me if you need/want more support

[2017-06-20 15:53] #1175 closed

[2017-06-20 15:56] antenore commented on #1075
Closed by #1196

[2017-06-20 15:56] #1075 closed

[2017-06-20 20:34] mpaivac opened #1201 "Debian 9 - Remmina - RDP Plugin"
Hi,

I compiled like in Debian 9 Wiki.
But it didnt show the RDP plugin, all the others are OK.
The file remmina-plugin-rdp.so is in "/opt/remmina-devel/remmina/lib/remmina/plugins

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46414594-debian-9-remmina-rdp-plugin?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&u

[2017-06-20 20:36] giox069 commented on #1201
Reboot the pc.
Then execute remmina from a terminal, and see the text output on the terminal. Do you see some error while loading the plugin?

[2017-06-20 23:02] str commented on #267
@antenore This issue was closed because it was included in #235

#235 is closed because you asked to create individual issues. Does that mean this issue should be reopen, or should I open an exactly same issue like this one?

[2017-06-21 05:09] antenore commented on #267
My bad, just a mistake

[2017-06-21 12:00] mpaivac commented on #1201
The file is in the directory.

Failed to load plugin: /opt/remmina_devel/remmina/lib/remmina/plugins/remmina-plugin-rdp.so.
Error: libfreerdp2.so.2: cannot open shared object file: Arquivo ou diretório não encontrado
Failed to load plugin: /opt/remmina_devel/remmina/lib/remmina/plugins/remmina-plugins-rdp.so.
Error: libfreerdp2.so.2: cannot open shared object file: Arquivo ou diretório não encontr

[2017-06-21 20:27] UrielSalomon opened #1202 "Upgrading to 1.2 failed"
I followed the instructions for Ubuntu here:
https://github.com/FreeRDP/Remmina/wiki

But after issuing:
sudo apt-get update
I run:
aptitude versions remmina
and I only see version 1.1.1-1ubuntu1 versions. Am I supposed to see 1.2 versions here?

Package remmina:
i   1.1.1-1ubuntu1                                            vivid                                 500
Package remmina-common:
i A 1.1.

[2017-06-21 20:36] antenore commented on #1202
Did you add the ppa?
Yes, you should see the Remmina 1.2

[2017-06-21 22:58] UrielSalomon commented on #1202
Yes, I added the ppa (that's the first command in the instructions.)

[2017-06-22 07:05] giox069 commented on #1202
The PPA only supports Ubuntu 14.04, 16.04, 16.10 and 17.04.
https://launchpad.net/~remmina-ppa-team/+archive/ubuntu/remmina-next

[2017-06-22 13:11] UrielSalomon commented on #1202
Gotcha

On Thu, Jun 22, 2017, 3:05 AM Giovanni Panozzo <notifications@github.com>
wrote:

[2017-06-22 13:12] UrielSalomon commented on #1202
Since I'm using 15.04, I'm closing the issue.

[2017-06-22 14:27] giox069 commented on #1100
I'm closing this issue, since this is related to Debian/Devuan packaging, and should be handled by Debian or Devuan maintainers. Also please note that remmina 1.1 has been removed from Debian Stretch 9, and we are trying to find a way to bring you remmina 1.2 for Stretch.
In the meanwhile, you can try to use the snap version of remmina, but some things are not working very well (acess to .ssh dire

[2017-06-22 14:27] #1100 closed

[2017-06-22 14:49] #711 closed

[2017-06-22 14:49] #660 closed

[2017-06-22 18:48] randygrolemund-tv commented on #775
I'm using Ubuntu desktop 16.04, and using RDP to Windows 2012R2. I have paste issues all through the day. The other thing is, the save password feature does not work. I have to type my password in every time. I use a password manager with long complex passwords..... both of these issues are annoying.

[2017-06-22 18:58] antenore commented on #775
@mtangoo 1.12 is not supported anymore, sorry.
It's too old. The new versions don't have these issues.

[2017-06-22 18:58] antenore commented on #775
@randygrolemund-tv which version of Remmina do you have?

[2017-06-22 21:54] UrielSalomon commented on #1202
Just finished upgrading to 16.04. Followed the installation instructions (including the ppa), but it says I already have the newest version for the requested packages.
When I open remmina->help->about, the version says 1.1.2 (previously it was 1.1.0, see my comment above) - not 1.2.
What am I missing here?

[2017-06-22 22:05] antenore commented on #1202
Remove the existing remmina* and freerdp packages

This should do the job (be careful double check)

[code]

[2017-06-23 05:35] giox069 commented on #1202
Also try
`sudo apt purge "remmina*" "libfreerdp*" "libwinpr*" "freerdp*"`

[2017-06-23 07:16] giox069 commented on #1188
Is it solved? Can I close this issue?

[2017-06-23 09:01] weberhofer commented on #1188
@giox069 I fully agree to your statement. If possible, freerdp must offer a option to select the IP-address to bind. I think there is nothing which can be done at the remmina-side.

[2017-06-23 14:09] UrielSalomon commented on #1202
Still, I see version 1.1.2.
1) I killed the running remmina
2) I purged all the packages that antenore suggested
3) I even purged with giox069's command - with no effect since all the packages were removed already.
4) Installed remmina again, still saw 1.1.2
5) Rebooted, and still saw 1.1.2

1) Any way I can verify that remmina is *completely* gone from my system after the purges above?
2) Any way

[2017-06-23 14:39] giox069 commented on #1202
6. dpkg --list | fgrep remmina
7. maybe `apt-cache policy remmina` can explain, please copy and paste the output here, so we can see. Also `apt-cache policy libfreerdp`

and also launch
```which remmina```
and paste here the output

[2017-06-23 14:48] UrielSalomon commented on #1202
6. dpkg returned nothing, which is good.
7. After installation, I ran

But I expect to see 1.2.

Maybe it's because the installation line from the instructions (`sudo apt-get install remmina remmina-plugin-rdp libfreerdp-plugins-standard`) is missing libfreerdp?

[2017-06-23 15:36] giox069 commented on #1202
you are still accessing a repository of ubuntu wily (15.10) according to apt-cache output.
You have some problem in your apt settings... but we are not apt wizards here :(

[2017-06-23 15:56] UrielSalomon commented on #1202
Thanks Giox for pointing that problem. I'll learn a bit about the apt policy and try to solve the problem myself. I don't mind closing the ticket, since it's probably not a remmina related issue. Your call.

[2017-06-23 17:05] randygrolemund-tv commented on #775
remmina - Version 1.2.0-rcgit-18 (git rcgit-18)

This is the latest version, I can install. I've followed the instructions here:

https://github.com/FreeRDP/Remmina/wiki

Even the edge switch tells me that I am running the latest version. I reinstall just now and the save password feature doesn't work. Paste is still buggy. On the Remmina website, the official download is 1.2..... so how can it no

[2017-06-23 20:00] antenore commented on #775
We still didn't release the last patches, sol the only way to test the new functionalities is to compile it yourself.

In the next days, hopefully, maybe a couple of week, we will release the 1.2.0-rcgit-19 and it'll include all the changes.
In the meanwhile, regarding the copy&paste issue, can you try to use the "grab all keys" mode and let me know if it works better?

[2017-06-26 05:34] NTMan opened #1204 "remmina: transport_ssl_cb(): remmina killed by signal 11"
[code]
Truncated backtrace:
[code]
Downstream report: https://bugzilla.redhat.com/show_bug.cgi?id=1464846

* Client (OS name and version): Fedora 26
* Remmina version (remmina --version): 1.2.0-rcgit-18 (git rcgit-18)
* Desktop environment (GNOME, Unity, KDE, ..): GNOME
* Connecting to (OS and version): Windows 7 Professional
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version

[2017-06-26 06:13] NTMan opened #1205 "Not working clipboard between RDP session and client OS in Wayland session"
$ xfreerdp /u:login@domain /v:host +clipboard

* Client (OS name and version): Fedora 26
* Remmina version (remmina --version): 1.2.0-rcgit-18 (git rcgit-18)
* Desktop environment (GNOME, Unity, KDE, ..): GNOME
* Connecting to (OS and version): Windows 7 Professional
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version): 2.0.0-dev (git n/a)

[2017-06-26 18:47] martinezjr231 commented on #1188
There are other programs that can be told which IP on the local machine can be set, ssh, rcp, traceroute, ping, etc...., even connecting to a MySQL server can be set.  But all those have to be set in a command line format, and not via the GUI.  That is not a problem, but it would be a great idea to have that option.

[2017-06-26 18:47] #1188 closed

[2017-06-26 19:21] antenore commented on #1188
It's possible setting the  SO_BINDTODEVICE socket option, but it's probably something that must be implemented at freerdp level first of all.
Ask to them as well.
I'd keep this opened and if there'll be enough requests to implement it we could put some effort.
But careful, this option works only with root, so the risks are higher than the gains.
I'd definitely looks in other solutions, like NAT fo

[2017-06-26 19:24] giox069 commented on #1188
Maybe using "network namespaces" as explained [here](https://unix.stackexchange.com/questions/210982/bind-unix-program-to-specific-network-interface) can help ?

[2017-06-26 20:20] antenore commented on #1188
Ah! @giox069 this is really cool! I didn't know about this, I'm getting old!!!!

[2017-06-28 09:18] balonik commented on #762
I have same problem, only with Windows 2012 server. I get "license connection sequence aborted" error.
I have raised https://github.com/FreeRDP/FreeRDP/issues/4023

[2017-06-28 21:51] antenore commented on #991
Now it should be possible to set up an SSH tunell with remmina (select SSH as protocol and configure the SSH tunnel).

Than you can connect to this tunnel with a new VNC profile.

To test it, you need the last code from the "next" branch (our master).

[2017-06-28 21:54] antenore commented on #1018
@notorand-it with the last fixes ("next" branch), it's possible to create an ssh connection through a tunnel and than you can configure another profile, for example with RDP, that uses the first tunnel you have created.

Would you mind testing it and let me know?

[2017-06-28 21:55] antenore commented on #865
Just implemented it in the "next" branch, would you mind testing it?

[2017-06-29 10:22] zagr0 commented on #865
Hi

Just tried, but not able to make it works...
Not really clear, does it implement local or remote tunnel? (would be great to have switch: local, remote, dynamic)
The main issue is:
I save tunnel conf, for example (custom: ":8080")
Open connection, but nothing happens, there is no tunnel
Then I open connection again, go to SSH tunnel tab, but there is no custom: ":8080", its reset to default val

[2017-06-29 11:48] ShamimIslam opened #1207 "Windows VNC Access does not release Control Key"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version):  Fedora 25
* Remmina version (remmina --version): remmina-1.2.0-0.35.20170510git41c8de6.fc25.x86_64
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Windows 10
* Connecting via

[2017-06-29 11:49] ShamimIslam commented on #1207
Sticky keys are NOT enabled.

[2017-06-29 16:48] RMCampos commented on #966
Hi! How about the commit above into te master? I use a process control to finish another task after exit remmina, and in this case, because of this bug, the task is not finished. Thanks in advance!

[2017-06-29 18:35] giox069 commented on #966
It could be done. I was misleaded a lot by the title of the commit which states exactly the opposite of what it does... :) But it seems ok. I will test as soon as possible.

[2017-06-29 19:31] giox069 commented on #966
@RMCampos: inspired by @jalopezsuarez fix, I prepared this commit https://github.com/FreeRDP/Remmina/commit/f98368f5a2a1eff7b4ee8f74cc653e24e7046aeb
Please read the comment at the bottom of the commit abuot the need of disabling systray icon.
The commit is currently in a [separate branch](https://github.com/FreeRDP/Remmina/commits/issues_785_966), it will be merged in the "next" branch, not in "ma

[2017-06-30 13:53] giox069 commented on #1197
The toolbar in windowed mode cannot currently be hidden.
I will mark this bug as "newfeature".

[2017-06-30 13:54] #1165 closed

[2017-06-30 14:29] jpeg729 opened #1208 "Custom keyboard layout over RDP"
remmina --version 1.2.0-rcgit-18 running on Ubuntu 14.04 (unity) connecting to Windows Server 2008 R2
libfreerdp version 2.0.0~dev201703030839+dfsg201704111144-0ubuntu0~git59a8418+e33fbeb~ubuntu14.04.1

I use a heavily customised variant of the Colemak layout on Linux and I can't see how to make it work on Windows.

I have tried with and without "Use client keyboard mapping" but it doesn't make a

[2017-06-30 15:00] gnegno commented on #1208
I have a similar problem:
remmina --version 1.2.0-rcgit-18 running on Ubuntu Mate 16.04.2 LTS connecting to Windows 10.0.15063

The keyboard is US keyboard with euro on 5, from a Thinkpad T450s computer.

The only change I applied to the keyboard map is converting CapsLock to another Left Ctrl. It doesn't work.

[2017-06-30 16:20] UrielSalomon commented on #1202
I manually changed all of my ppa repos in ubunut's Software & Updates to xenial, and upgraded (again) to 16.04 (don't ask me why ubuntu offered me to upgrade after I already upgraded a week ago.)
Redid the steps above (including purging, verified with apt-cache), and now I have the Remmina 1.2.0-rcgit-18.

Yay.

[2017-06-30 16:20] #1202 closed

[2017-06-30 23:40] rtn2 opened #1209 "RDP to Win10 makes ToolBar clear"
Hi,

Hopefully this is right place to ask but if not I do apologize. Here is the information requested.

* Client (OS name and version):  Ubuntu
* Remmina version (remmina --version):  1.2.0-rcgit-18 (git rcgit-18)
* Desktop environment (GNOME, Unity, KDE, ..):  LXDE
* Connecting to (OS and version):  Windows 10
* Connecting via (RDP, VNC, ...):  RDP

It seems that whenever I RDP to a Windows 10 m

[2017-07-01 02:12] antenore commented on #1209
Weird, as far as I know there is no difference in the toolbar based on the remote OS.

Would you mind, just for testing, switch temporary to another DE, like gnome for example?

I'm afraid it's a theme or DE issue more than Remmina fault.

[2017-07-01 09:13] giox069 commented on #1209
Just put the mouse cursor on the floating toolbar and use the mouse wheel: the toolbar will change its transparency level.

[2017-07-01 18:43] rtn2 commented on #1209
thanks @giox069 that fixed my issue. man that makes me feel dumb.

[2017-07-01 18:43] #1209 closed

[2017-07-01 20:04] giox069 commented on #1209
Maybe a day we will find a better way to make this and other features more "visible" to the user. If we find some good ideas :)

[2017-07-05 05:16] krzynio8 opened #1210 "Resize button doesn't work as expeced"
* Client (OS name and version): Debian testing,
* Remmina version (remmina --version): 1.2.0-rcgit-18
* Desktop environment (GNOME, Unity, KDE, ..): XFCE
* Connecting to (OS and version): Windows 10 x64 as virtual machine on QEMU-KVM
* Connecting via (RDP, VNC, ...): Spice
Issue: Resulotino set on client is 1920x1080. When I press first button titled probably Fit to Remote Desktop Resolution (I ha

[2017-07-05 10:47] nabice commented on #243
I found I can't share '/tmp/', but '/tmp/xxx' works.

[2017-07-05 17:23] bernhardschmidt opened #1211 "RDP: IPv6 is not used in snap"
* Debian Stretch 9.0 stable, snapd 2.21-2
* Remmina 1.2.0-rcgit-18 (git 494f2d1) installed through snap
* KDE Plasma Desktop

On a properly IPv6 enabled environment remmina does not do AAAA DNS lookups for remote RDP servers and consequently does not do IPv6 on dualstack connections. Worse, it does not work using DNS names for IPv6-only clients or servers.

Remmina can connect to IPv6 servers just

[2017-07-05 22:30] antenore commented on #1211
I don't have an IPV6 ready environment ready for testing at the moment.
Is it just a snap issue? Can yo please test with xfreerdp from the command line?

Thanks in advance for your tests!!!

[2017-07-06 07:30] bernhardschmidt commented on #1211
It seems to be a xfreerdp regression then. I installed xfreerdp-nightly from https://ci.freerdp.com/job/freerdp-nightly-binaries/architecture=amd64,distribution=stretch,label=pkg-deb/ and this shows the same behaviour. The very old freerdp 1.1.0~git20140921.1.440916e+dfsg1-13 from Debian does not exhibit this behaviour

[2017-07-06 13:50] antenore commented on #1211
Can you open a bug to them then? Thank you for you support.

[2017-07-06 17:00] matthewlswanson opened #1212 "Ubuntu vertical screen issues"
The super key (windows flag) works well in clients connected by Remmina with normally not-rotated screens. But when a client screen is rotated vertically, the super button does nothing and there are also no  menu bars or launcher. It is all blank except for whatever application is up and running. No bar on top of applications either so can't drag windows.

Ubuntu 14.04/16.04
version 1.2.0-rcgit-18

[2017-07-06 18:04] ivanperez-keera commented on #498
Yeap. This is still an issue.

I hit this all the time while working with a remote server. They change the certificate every few months (don't ask me why).

[2017-07-06 18:24] skywalker89 opened #1213 "cannot send ":" over Remmina - Linux to Linux VNC"
* Client (OS name and version):  Ubuntu 17.04 to Ubuntu 16.04 LTS
* Remmina version (remmina --version): 1.2
* Desktop environment (GNOME, Unity, KDE, ..): Ubuntu Unity
* Connecting to (OS and version): Ubuntu 16.04LTS
* Connecting via (RDP, VNC, ...): VNC
* RDP issues only, freerdp version (xfreerdp --version): Hi, tried to enter a URL, but could not send the ":" - German Keyboards

thats a big p

[2017-07-06 21:29] antenore commented on #1213
It's quite a bit we don't work with the VNC protocol as we use much more RDP and SPICE.

Do you connect directly to a VNC server? Which one?

If you are connecting to a VM with libvirtd, try to switch to SPICE, otherwise can you also test another VNC client and let me know if you have the same issues.

Thanks in advance for your support.

[2017-07-06 21:30] antenore commented on #1212
It's quite a bit we don't work with the VNC protocol as we use much more RDP and SPICE.

Do you connect directly to a VNC server? Which one?

If you are connecting to a VM with libvirtd, try to switch to SPICE, otherwise can you also test another VNC client and let me know if you have the same issues.

Thanks in advance for your support.

[2017-07-06 21:31] antenore commented on #1211
@dfiloni do you think it could be related to snap? Anything we can do in that sense? Thanks!

[2017-07-06 21:36] antenore commented on #1210
I use spice everyday and I cannot reproduce this issue, but I connect to a linux guest and than I sue again Remmina with RDP to connect to a windows server...

Try to lunch remmina from the command line and than cut&paste any messages you have.

Can you also tell me  which graphic card you have on both hosts and which modules are you using for that cards?

[2017-07-07 09:35] chrisv2 commented on #243
It seems sharing `/` is also not possible (though it is offered by the dialog), while sharing a folder in my home works fine.

 Using Remmina 1.2.0-rcgit-18 (1d744f6) installed with snap on Ubuntu 16.04.

[2017-07-07 17:34] matthewlswanson commented on #1212
I connect to physical clients running vino. Only about 50% of them are affected but after running updates and upgrading to 16.04 they seem to be working. 14.04 clients still experiencing this issue.

[2017-07-07 17:42] dfiloni commented on #1211
@antenore : this looks like a freerdp issue so we can't do anything snap side :(

[2017-07-11 12:21] TJokiel opened #1215 "Remmina autoconnect lpop"
Please give us some details about the systems you are using:
* Client (OS name and version): Gentoo
* Remmina version (remmina --version): 1.2.0_rc18
* Desktop environment (GNOME, Unity, KDE, ..): Openbox
* Connecting to (OS and version):
* Connecting via (RDP, VNC, ...):
* RDP issues only, freerdp version (xfreerdp --version):

I'm trying to use Remmina in a ThinClient project where its the only

[2017-07-11 17:06] shadowleaves commented on #241
still seeing this bug on 1.2.0 latest installation on ubuntu 14.04.

remmina - Version 1.2.0-rcgit-18 (git rcgit-18)

[2017-07-12 09:29] giox069 commented on #1215
Some has been fixed with a recent PR https://github.com/FreeRDP/Remmina/pull/1214 and will be included in the next -rcgit.19 release.
For a single connection in a scripted environment, maybe xfreerdp (or the freerdp wailand client) could be a better solution than remmina? Remmina is moslty a GUI application for managing multiple profiles, not very skilled in scripting.

[2017-07-12 09:39] TJokiel commented on #1215
This loop is needed for any connection supported by Remmina (ssh, spice, VNC, RDP, etc) so we cant default to cli utilities as some does not exist (e.g. spice) in our limited environment.

Thank you very much!

[2017-07-12 20:43] ic3d commented on #104
@dave42 @seanparsons @r-module we are reviewing pending issues. Do you still get this error? Did you try the solution by @its-me ?
Thanks for your time!

[2017-07-12 22:22] seanparsons commented on #104
@ic3d I haven't had the chance yet, will try to give that a spin tomorrow morning.

[2017-07-14 08:45] adocampo opened #1216 "RDP quality settings not saved"
Client - Arch linux 64 bits
    remmina Version 1.2.0-rcgit-18 (git rcgit-18)
    Desktop environment - Plasma
    Connecting via RDP
    FreeRDP version 2.0.0-dev (git 6001cb710)

If I modify RDP quality settings and close, they are not saved. All other settings (keyboard layout, rotation, etc) are saved successfully.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](h

[2017-07-14 10:33] adocampo commented on #1216
Nevermind, I've just saw the #521 issue...

[2017-07-14 16:46] saidbakr commented on #1047
I have the same issue with Ubuntu 16.04  and `1.2.0-rcgit-18 (git 1d744f6)`

[2017-07-15 13:25] catalyst1987 opened #1217 "freerdp copy&paste doesn't appear to work between two linux machines"
remmina - Version 1.2.0-rcgit-18 (git rcgit-18)
This is FreeRDP version 2.0.0~dev (git n/a)

Host client is Ubuntu 16.04 Unity 7
Guest is Ubuntu Mate 16.04

When I try to copy and paste from host to guest it does not work.  Not sure what I am doing wrong or if it is possible for copy&paste using remmina and freerdp between two linux hosts.

[2017-07-18 12:44] kalandarisvili commented on #1139
Dear Remmina,
Similar issue here using Remmina on Raspbian Kernel version: 4.9 (PI model 3 B).

Obtained Remmina through apt-get install. The RDP connection to Windows 10 VMs often freezes when opening google chrome tabs. However, if you disconnect and connect again - everything is right where you left it. The behavior is also very irregular - sometimes users can work half of the day without havin

[2017-07-18 12:51] antenore commented on #1139
@kalandarisvili sorry if I ask, but I'm not sure. Did you install remmina using our PPA? can you paste the remmina version (from command line remmina --version).

[2017-07-18 15:21] antenore commented on #1139
@kalandarisvili  The official version is too old and not supported anymore, have look in the wiki, we have a page that explain how to upgrade Remmina to the last version on Debian.

The Debian team is working on this.

[2017-07-18 15:45] giox069 commented on #1139
On Raspbian based on Debian 8 (or 9) the only way to have a fresh remmina is to compile it by hand. If you don't want to compile remmina by hand, you can install xubuntu on raspberry pi and use our ubuntu PPA as explained on the wiki.
Unfortunately we really don't know when Remmina will be available on debian 9.

[2017-07-19 06:36] xorch opened #1218 "Crashing when using connection with option: Redirect local microphone."
Hi

I am having issue with option: Redirect local microphone option.

Whenever I log to my client (Windows 10 machine), and open audio settings tab for recording audio, remmina disconnect, it happens every time I do this. It also happens when you open skype audio options.

Thats the log I am getting when I start remmina from terminal:
[08:30:50:224] [5985:6007] [ERROR][com.freerdp.channels.audin.c

[2017-07-19 06:42] antenore commented on #1218
Did you use the PPA or the snap package?

[2017-07-19 06:43] xorch commented on #1218
First time snap, but had issues with it, deinstalled from snap, now I have version installed by PPA

[2017-07-19 07:11] antenore commented on #1218
The strange thing is that looking at the error messages it's more a FreeRDP/Windows issue.
Are you able to provide a back trace? You should install the debug packages of both freerdp and remmina.

[2017-07-19 07:35] xorch commented on #1218
What debug packages?

[2017-07-19 09:03] kalandarisvili commented on #1139
@antenore @giox069 Thank you for the suggestions, I will try to follow the instructions for compiling Remmina on Debian, if It fails then I'll try your Ubuntu PPA. Will report as soon as the issue goes away.

[2017-07-19 11:27] antenore commented on #1218
Install gdb and these packages
[code]

Than you execute

[code]

``` run ``` as soon as you have the gdb shell and when it'll crash type ```bt```

I'll need the output of bt.

[2017-07-19 11:36] xorch commented on #1218
(gdb) run
Starting program: /usr/bin/remmina
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7f103becd700 (LWP 6100)]
[New Thread 0x7f103b6cc700 (LWP 6101)]
[New Thread 0x7f103a633700 (LWP 6102)]
StatusNotifier/Appindicator support: your desktop does support it and libappindicator is compiled in remmina. Good!
[

[2017-07-19 11:49] antenore commented on #1218
Thanks.
For me it's caused by libfreerdp.

In few days we shall release a new version of Remmina including a new version of FreeRDP that could solve the problem.

I see several errors in the beginning regarding the sound.

Check this thread (mainly the specific comment I've linked):

https://github.com/FreeRDP/FreeRDP/issues/3988#issuecomment-308122463

[2017-07-19 11:56] xorch commented on #1218
Thank you for your help

I will look forward for next release.

Regarding sound, yes it crashing as soon as I open any window where recording device is listed, that might be related, regarding linked issue I don't think it is related as I am using Windows 10 recent build, (not windows 2008)

[2017-07-20 10:17] antenore commented on #1218
I've updated freerdp without releasing a new Remmina version.
Can you give it a try? It's enough you upgrade the freerdp packages

[2017-07-20 10:31] kalandarisvili commented on #1139
Installed Ubuntu Mate 16.04 on Raspberry PI 3B and installed Remmina using Ubuntu PPA as described by giox069:
`sudo apt-add-repository ppa:remmina-ppa-team/remmina-next
sudo apt-get update
sudo apt-get install remmina remmina-plugin-rdp libfreerdp-plugins-standard`

So far the connection to WIN10 VMs works without interruptions. Thank you for the help @antenore @giox069!

[2017-07-20 10:50] antenore commented on #1139
Cool! Let's keep this opened some more few days than.

[2017-07-21 06:56] antenore commented on #82
@Fjodor42 we've released new Remmina version that implement this feature. I'm closing this.

[2017-07-21 06:56] #82 closed

[2017-07-21 07:07] giox069 commented on #82
starting from remmina 1.2.0-rcgit.19 the "Multiple password changer" can be activated from the main remmina menu.

[2017-07-21 12:40] niconix-ua opened #1220 "Invalid (too large) file size in rdp shared folder"
Details about the systems:
* Client (OS name and version): xUbuntu 14.04.5 i386 (Linux 4.4.0-83-generic)
* Remmina version (remmina --version): 1.2.0-rcgit-18 (git rcgit-18)
* Desktop environment (GNOME, Unity, KDE, ..): XFCE
* Connecting to (OS and version): Win Server 2008 R2 x64
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version): (not installed)

Files

[2017-07-21 12:58] antenore commented on #1220
There was an issue like this some time ago in freerdp, but has been solved, so if you install remmina from our PPA it should work.

We need to know what version you have. How did you install remmina and the freerdp package?

[2017-07-21 13:04] niconix-ua commented on #1220
Remmina installed from "ppa.launchpad.net/remmina-ppa-team/remmina-next/ubuntu"

remmina 1.2.0-rcgit-18-1.0ubuntu5~trusty
remmina-common 1.2.0-rcgit-18-1.0ubuntu5~trusty
remmina-plugin-rdp 1.2.0-rcgit-18-1.0ubuntu5~trusty
remmina-plugin-vnc 1.2.0-rcgit-18-1.0ubuntu5~trusty

libfreerdp-plugins-standard:i386 2.0.0~dev201703030839+dfsg201704111144-0ubuntu0~git59a8418+e33fbeb~ubuntu14.04.1
libfreerdp1

[2017-07-21 13:20] giox069 commented on #1220
Packages on the [remmina-next PPA](https://launchpad.net/~remmina-ppa-team/+archive/ubuntu/remmina-next) are newer.
Please upgrade your system with the usual
`apt-get update && apt-get dist-upgrade`

[2017-07-21 13:39] niconix-ua commented on #1220
apt-get says that I have last version of remmina
![screenshot - 21 07 2017 - 16 27 56](https://user-images.githubusercontent.com/30345226/28465929-360f6b1a-6e33-11e7-8cfb-ca524dd79728.png)

[2017-07-21 13:53] giox069 commented on #1220
did you run `apt-get **dist-upgrade**`?
Your remmina is updated, but not libfreerdp1... Your libfreedp1 is dated back 201704111144 (april).

[2017-07-21 14:01] niconix-ua commented on #1220
Thank you.
Solved

[2017-07-21 14:01] #1220 closed

[2017-07-22 08:42] TamiasSibiricus commented on #708
@antenore Thank you for your work on this issue!

[2017-07-22 08:42] TamiasSibiricus commented on #975
Could confirm this bug too. After a while of time some connections closing unexpectedly. In my work i need to keep connections alive for long time and this small bug is little annoying. :)

[2017-07-23 16:26] der-eismann opened #1221 "Missing icons after compiling latest Git release"
Hey everyone,

after downloading and compiling the latest FreeRDP and Remmina releases from Git there are a lot of icons missing in the program:

![remmina](https://user-images.githubusercontent.com/10406217/28501061-01d3dce4-6fd4-11e7-9746-8af2b11d435f.png)
![remmina2](https://user-images.githubusercontent.com/10406217/28501062-01ea9600-6fd4-11e7-90cd-21046e37da97.png)

How can I fix this? The rc

[2017-07-23 17:18] giox069 commented on #1221
I have no idea why. Try to check inside /usr/share/icons/hicolor/16x16/actions, or /usr/share/icons/hicolor/22x22/actions, you should find
[code]
You could also try to check where remmina is looking for icons like remmina-scale.png:

1. execute `strace -e trace=open -o tempfile.txt remmina`
2. open a connection, so remmina will need remmina-scale.png
3. close the connection, exit remmina
4. `fgrep

[2017-07-24 06:38] der-eismann commented on #1221
[code]

[code]

https://hastebin.com/enebopozin.pl
Looks like it doesn't open any icons at all? Should I rebuild with `-DCMAKE_BUILD_TYPE=Debug` or is that useless?

[2017-07-24 07:08] giox069 commented on #1221
Icon are there but GTK is not loading them. @antenore do you have any idea?

[2017-07-24 07:41] antenore commented on #1221
As we didn't change anything at the icon level, neither we didn't change the make files, It's not a Remmina issue.

I don't know how Budgie works, but I'd investigate around the icon cache mechanism and I'd check if they have changed the default icons placement.

In the last case let us know if you need we add additional prefix variables to selectively choose the icons folder.

[2017-07-24 13:58] der-eismann commented on #1221
Well... I still don't know the reason, but I compiled it again - this time against the stable and not unstable repository - and now I have all icons. Sorry for bothering you!

[2017-07-24 13:58] #1221 closed

[2017-07-24 14:54] antenore commented on #1221
Cool, not bothering at all!! ;-)

[2017-07-25 09:13] xorch commented on #1218
I've updated all packages.
It still disconnecting/crashing as soon as I open any window that have recording device (system or skype)

What versions should I have?

[2017-07-25 09:24] ZAJDAN commented on #1133
In my case I hace Remmina compiled version. Could you recommend me in what way is the best remove the package for compiled version?
Thank You

[2017-07-25 10:03] antenore commented on #1133
@ZAJDAN

[code]

[2017-07-25 10:29] ZAJDAN commented on #1133
root@PXE-master-boot:~# make uninstall
make: *** No rule to make target 'uninstall'.  Stop.

root@PXE-master-boot:~# make uninstall remmina-plugin-gnome
make: *** No rule to make target 'uninstall'.  Stop.

[2017-07-25 10:35] giox069 commented on #1133
@ZAJDAN Look in the [remmina wiki](https://github.com/FreeRDP/Remmina/wiki), choose your preferred compilation guide and go at the bottom of the guide. There is an "Uninstall everything" section at the end of every compilation guide.

[2017-07-25 10:42] ZAJDAN commented on #1133
but I do not want to uninstall everything, just the one plugin

[2017-07-25 10:48] giox069 commented on #1133
Try to find where the plugin (remmina-plugins-gnome.so) is located and delete or rename it. For example, if you compiled remmina following the wiki, and you have a 64bit system, the plugin could be in /opt/remmina_devel/remmina/lib64/remmina/plugins.

[2017-07-25 10:52] ZAJDAN commented on #1133
ok..this idea I had before, but I was afraid, that Remmina  will 'cries' missing plugins. Driven/automated uninstall usually remove all dependencies/links/relationships.
So I will try to just remove/rename the plugin

[2017-07-25 12:31] danaconda opened #1223 "Not issue, just want to know one thing"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version):  Ubuntu
* Remmina version (remmina --version): 1.1.2
* Desktop environment (GNOME, Unity, KDE, ..): Gnome
* Connecting to (OS and version):
* Connecting via (RDP, VNC, ...):
* RDP issues only, freerdp version (xf

[2017-07-25 12:42] antenore commented on #1223
There is not a globlal option yet, but you can workaround this in two ways

1) Edit each profile under ~/.local/share/remmina/

You should set keyboard_grab=1

2) You can add by hand your favorite options in the ~/.local/share/remmina/remmina.pref file

For example I've

[code]

Let me know if it works. I'm changing the title because it's an interesting question.

[2017-07-26 04:19] danaconda commented on #1223
remmina.pref in my case in ~/.remmina/remmina.pref

 I did this
[remmina_pref]
save_view_mode=true
save_when_connect=true
invisible_toolbar=true
always_show_tab=true
hide_connection_toolbar=false
default_action=0
scale_quality=3
hide_toolbar=false
hide_statusbar=false
show_quick_search=false
small_toolbutton=false
view_file_mode=0
resolutions=640x480,800x600,1024x768,1152x864,1280x960,1400x1050
ma

[2017-07-26 06:03] antenore commented on #1223
I see, so it means that we must add it in the default options.

@giox069 what do you think?

[2017-07-26 07:19] Inglebard opened #1224 "Remmina always remember password"
Hi,

Just a minor issue.

On Archlinux (Gnome) with remmina version 1.2.0-rcgit-19 (git rcgit-19), it seems when I connect to an host with SSH, it remember password even if I don't check the checkbox to remember password.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47612788-remmina-always-remember-password?utm_campaign=plugin&ut

[2017-07-26 07:27] giox069 commented on #1223
@antenore: if we need an option for new profiles (a "default option" can only be applied to new profiles), we can do it.
If we need a way to change an option on all existing profiles, wa can add it to the Multiple Password Changer, which is already designed to filter group of profiles and appy a setting to them.
@danaconda when you manually capture keyboard using the button on the toolbar, does it

[2017-07-26 08:20] danaconda commented on #1223
@giox069 when I manually capture keyboard using the button on the toolbar, it work.
but in more time my toolbar hide
I maked changes when remmina is not running

[2017-07-26 09:39] rollopack opened #1225 "Problems with some color schemes"
Hi, using color schemes without explicit cursor_color (TANGO, LINUX, XTERM) cause the blinking cursor to be black like the background.

![immagine](https://user-images.githubusercontent.com/2045052/28614560-89d5ad38-71f6-11e7-8473-cfdd62a0fa33.png)

Highlighting the text the cursor is show
![immagine](https://user-images.githubusercontent.com/2045052/28614699-04443698-71f7-11e7-902d-84017658ddfa.p

[2017-07-26 12:44] ealloradai opened #1226 "X11 Forwarding"
Hi all,
looking at remmina_ssh.c it seems that X11 forwarding is implemented for SSH sessions. Nevertheless I'm trying with no success to connect to my Ubuntu server and run a simple program like gedit.
SSH -X works, so the server is correctly configured.
The problem is the DISPLAY variable (unset) when i run a GUI/GTK program:

[code]

Is it a Remmina issue? In case is not, how can i use X11 Forw

[2017-07-26 20:47] Markus-N opened #1227 "VNC connection over reverse ssh tunnel (-R) broken"
Please give us some details about the systems you are using:

* Client (OS name and version):
ArchLinux (all packages up to date)
* Remmina version (remmina --version):
1.2.0-rcgit-19
* Desktop environment (GNOME, Unity, KDE, ..):
XFCE
* Connecting to (OS and version):
ArchLinux (all packages up to date)
* Connecting via (RDP, VNC, ...):
VNC

I need to connect from my work PC at the office to my h

[2017-07-27 15:38] mattpepin opened #1228 "SSH Tunneling is broken with SSH Agent with public key"
Version 1.2.0-rcgit-19 broke SSH tunneling using a public key with SSH Agent. My passphrase is never asked and no error message is displayed (no dialog box, no log message in a console window. Public key (automatic) works, but I don't want Remmina to manage my keys.

[2017-07-27 19:52] Bruadar opened #1229 "Systray icon closes when closing 'Main Window' or RDP connection"
Please give us some details about the systems you are using:
* Client (OS name and version): Debian Testing
* Remmina version (remmina --version): 1.2.0-rcgit-19 (git v1.2.0-rcgit.19)
* Desktop environment (GNOME, Unity, KDE, ..):  GNOME
* Connecting to (OS and version): Windows 7 Pro
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version): This is FreeRDP ver

[2017-07-27 23:58] antenore commented on #1229
This is not a bug but a feature :-)

The icon disappear because closing the main window you are closing the Remmina process.

We had some bug and feature requests asking to close Remmina if there were not opened connections. So, if you have 2 or more connections opened and you close the main window, Remmina won't exit.

If you want to just minimize Remmina you can use your window manager controls

[2017-07-28 00:01] antenore commented on #1228
I'll take a look. I use solely SSH Agent, but I enter my password before the Remmina session, so I didn't realize there was this issue.

I won't have internet access and neither a keyboard for a couple of weeks, so maybe you can go back to rcgit-18.

[2017-07-28 00:02] antenore commented on #1225
Thank you, I'll take a look in a couple of weeks.

[2017-07-28 00:08] antenore commented on #1226
I can confirm as well, I didn't test this functionality lately.

I'll take a look in a couple of weeks.

[2017-07-28 00:12] antenore commented on #1227
I rarely use VNC and we didn't change the plugin since a long time.
On the other the ssh part has been changed during the last release, but as far I understand you don't use it (the remmina SSH tunnel).

I'll take a look asap, but I'll be unavailable for a couple of weeks.

[2017-07-28 02:17] mattpepin commented on #1228
No worries, I'll use an older package for now (I'm on Arch linux, but I found a question about this on Askubuntu: https://askubuntu.com/questions/939524/remmina-1-2-ssh-authentication-options).

In my case, it won't work even if I used my key earlier (passphrase in memory).

[2017-07-28 06:22] giox069 commented on #1229
@antenore in almost all desktop I tested remmina, when the systray/appindicator icon is available and visible, remmina should not close. @Bruadar: can you post a screenshot of your systray icon (maybe is not a systray icon), and execute remmina in a terminal and then copy & paste the first lines of output about systray/appindicator here? Are you using Gnome or GnomeShell?

[2017-07-28 08:39] Bruadar commented on #1229
I'm using GnomeShell. I like, with Remmina 1.1x that my users can open a RDP connection from the systray. My users use various other DE's too which I have not yet tested.

Here is what I get in the terminal:

`StatusNotifier/Appindicator support: not supported by desktop. libappindicator will try to fallback to GtkStatusIcon/xembed`

And the screenshot:

![screenshot from 2017-07-28 10-28-43](http

[2017-07-28 09:08] giox069 commented on #1229
Ok, now I'm starting to understand what's happening:
in older Gnome Shell, the systray icon was not visible. You were forced to press ALT M (or a similer key) to see the systray bar. So I decided to exit remmina immediately if Gnome Shell is detected, because the user had no visual feedback of remmina running.
Recently gnome shell has changed, they introduced the ribbon on the bottom left of the s

[2017-07-28 10:41] Bruadar commented on #1229
@giox069 I recompiled Remmina according to your instructions but it didn't help. The systray icon still closes. I'm thankful for your Remmina and your dedication.

[2017-07-28 11:41] giox069 commented on #1229
@Bruadar I realized too late that you need also an extra Gnome Shell extension called "KStatusNotifier/Appindicator", and then I edited the previous message.
But... you can forget -DWITH_APPINDICATOR=on.
I'm trying to fix it, you can find a new branch called "issue_1229". The new code should detect Gnome Shell >= 3.16, where the Status Icon drawer is visible, and avoid to close remmina when there

[2017-07-28 12:33] Bruadar commented on #1229
Great! I've tested the branch and it works. The master branch works with the "KStatusNotifier/Appindicator" extension too but not with the 'Status Icon drawer'. With branch 'issue_1229' it does.

Now, when "KStatusNotifier/Appindicator" is not enabled terminal reports:

`StatusNotifier/Appindicator support: not supported by desktop. libappindicator will try to fallback to GtkStatusIcon/xembed`

Wi

[2017-07-29 07:27] #1229 closed

[2017-07-29 07:27] giox069 commented on #1229
Merged. The fix is in the "next" branch now.

[2017-07-30 14:37] Markus-N commented on #1227
Thanks for looking at it. It's OK if it takes a bit, because I have a workaround using gvncviewer. Only bad thing about gvncviewer is that it does not support clipboard exchange.

Yes, I don't use the builtin ssh from remmina. But if that would make things easier, I could switch to it. Unfortunately, I have no idea how to use it for the -R direction.

About "didn't change the plugin since a long t

[2017-07-30 18:51] diogocp opened #1231 "Please don't change releases after you publish them"
v1.2.0-rcgit.19 was 9d05738e557b9af83c028299ec70aee24f9888b6, then it changed to 0387ee0a916e64083972b45ee147c1e02b60ea90. The same thing happened a year ago with rcgit.15. This creates problems for distributions (see the Gentoo bugs below), so please avoid doing it. If you need to fix something, it's better to make a new release.

https://bugs.gentoo.org/626630
https://bugs.gentoo.org/591604

[2017-07-30 19:24] mfvescovi commented on #1231
+1, in general.

_Sent from my Google Galaxy Nexus using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 00:04] erichoog opened #1233 "Enter key doesn't "Connect" when in Edit menu and password field is in focus"
When I'm in the Edit Menu (Ctrl + E) and I type in my password the Enter button doesn't "Connect".

If the Server field is in focus it seems to work fine.

Version 1.2.0-rcgit-19 (git rcgit-19)
Arch Linux with KDE Plasma Desktop (5.10.4-1)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47760226-enter-key-doesn-t-connect-when-in-edi

[2017-07-31 09:19] giox069 commented on #1233
Confirmed. Enter works for me only on the Server field.

[2017-08-01 08:24] lorenzov83 commented on #975
I have the same problem, it's pretty dangerous because ssh sessions are accidentally closed and often stop shelled processes.
If I use other ssh clients, the problem does not occur
Please fix it

[2017-08-01 08:29] lorenzov83 commented on #975
I have the same problem, it's pretty dangerous because ssh sessions are accidentally closed and often stop shelled processes.
If I use other ssh clients, the problem does not occur
Please fix it

[2017-08-01 11:21] mark-orion commented on #1225
I can confirm the ame problem with XUbuntu 16.04.

[2017-08-01 11:28] mark-orion opened #1235 "Feature Request: Create custom Terminal Color Schemes for SSH"
I would like to request a feature that allows to define custom terminal color schemes for the SSH terminal.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47808747-feature-request-create-custom-terminal-color-schemes-for-ssh?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=github)** We accept bounties v

[2017-08-01 11:59] kevin201 commented on #1228
I asked that question. I haven't been able to install rcgit-18, nor find any documentation on what the difference is between 'SSH Agent' and 'Public Key (Automatic)'.  I can get public key to work if I put the password into remmina, but SSH Agent just produces a "(null)" error message for me. Grateful for any pointers.

[2017-08-02 07:35] alexeyzimarev commented on #556
Using latest Reminna from the PPA solved the clipboard issue for me.

[2017-08-02 14:09] AdamFonagy commented on #946
This issue has been solved by adding the option to set parameters of RD gateway.

[2017-08-02 14:09] #946 closed

[2017-08-02 14:28] supremesyntax opened #1236 "Tray applet closing when last window gets closed"
**Remmina version:** 1.2.0-rcgit-19 (git rcgit-19)
**OS:** Ubuntu Gnome 16.04 (GNOME Shell 3.18.5)
**Happens on:** all connections

**What happens:**
I have installed/updated remmina from the remmina-next  ppa.
Now when opening one or more connections (vnc, rdp etc.) the tray applet closes when the last window gets closed.

**What should happen:**
Applet should stay in tray when last window gets c

[2017-08-02 14:45] cmcanulty commented on #556
Still doesn't work for me either in LAN or WAN. Using xubuntu 16.04 all updated and remmina next ppa. It is really a inconvenient feature to not have working.

[2017-08-02 19:21] giox069 commented on #1236
This has been fixed a couple of days ago. See issue #1229.
If you are using the remmina-next PPA or snap version of remmina, you will see the update in the next release (1.2.0-rcgit-20).
If you want to test it before the next release, you can switch to the remmina-next-daily PPA or the edge snap channel.

[2017-08-03 06:25] #1236 closed

[2017-08-03 14:53] giox069 commented on #1233
Leaving it open: I cant make it work under ubuntu 17.04.
@antenore, isn't it a better choice to have the Connect (which does Save+Connect) by default on all the fields of the profile editor?

[2017-08-03 16:22] erichoog commented on #1233
I agree! I just couldn't figure out exactly how to implement that. Still learning the source so looking forward to seeing the best solution for this.

-------- Original message --------
From: Giovanni Panozzo <notifications@github.com>
Date: 2017-08-03 10:53 AM (GMT-05:00)
To: FreeRDP/Remmina <Remmina@noreply.github.com>
Cc: Eric <Eric_hoog@hotmail.com>, Author <author@noreply.github.com>
Subject:

[2017-08-04 00:06] box293 commented on #1228
I updated Linux Mint yesterday and I think this issue has hit me. I also get the Null message when trying to SSH.

However if I go and change from "SSH agent" to "SSH identity file" everything works ... although I would prefer not having to update all my existing connections.

[2017-08-04 00:20] box293 opened #1238 "Color on SSH terminal window being applied"
* Client: Linux Mint 18.1
* Remmina version: 1.2.0-rcgit-19 (git rcgit-19)
* Desktop environment: MATE
* Connecting to: Linux via SSH
* Connecting via: SSH

I used Update Manager on Linux Mint to install all the latest updates. Since doing this my terminal window is no longer black with white font, there seems to be some sort of yellow/orange effect being applied.

![selection_002](https://user-im

[2017-08-06 13:57] AdriaanJoubert commented on #1185
@antenore purging and reinstalling from the default repositories did not work for me (Ubuntu 16.04 LTS).

However, adding the remmina repositories and reinstalling allowed me to launch the application without running into the segfault issue:
[code]
Cf. https://github.com/FreeRDP/Remmina/wiki

[2017-08-07 19:55] antenore commented on #1238
This is because I've introduced the color themes, that you can choose for each connection profile.

![advanced_ssh_profile](https://user-images.githubusercontent.com/5975/29043292-d0d33e58-7bba-11e7-8234-c6a3409e68aa.png)

There are still some bugs unlucky...

Try to select a different theme and thick "Allow bold text", then let me know.

If you have other suggestion open one issue for each please

[2017-08-07 19:59] antenore commented on #1233
Yep, it's not a bad idea.
Let me deal with some annoying bugs and then I'll try to help out as well.

BTW the default buttons are very tricky in glade, I think it's better to look at the GTK+ documentation to see if there is a function or a parameter for this.

[2017-08-07 20:01] antenore commented on #1231
Sorry for this, I didn't know it could cause issues.

[2017-08-07 21:02] antenore commented on #1225
I'm testing and I'll merge in "next" ASAP.

[2017-08-07 21:03] antenore commented on #1235
Yes, it's a good idea. As there are some urgent bugs to fix I'll work on this afterwards.

[2017-08-07 21:19] antenore commented on #1228
We use libssh behind remmina and as you can see in the doc:

So it's the right behavior, in fact it works when the gnome keyring has stored the password, but it's quite confusing.

I'll investigate further if it's possible to simplify it or rollback it somehow.

To change all the profiles in one shot it's quite easy from the command line using sed (under  ~/.local/share/remmina), if you need a qui

[2017-08-07 21:21] #1225 closed

[2017-08-07 21:37] box293 commented on #1238
On the connection itself I can select Tango, Linux or XTerm and I get the original style I want. Like you said, just some bugs.

I'm sure that you'll be providing a way to edit the different scheme, define the global default, apply to all selected / existing SSH settings.

The color schemes is a nice feature to add, always good to see improvements added to the product :)

[2017-08-07 22:00] box293 commented on #1228
No worries.

This command is what I used:
[code]

The files were in `~/.remmina`

[2017-08-07 22:07] antenore commented on #1238
I've just merged a commit that fixes the palettes you are using. I'll think about the rest.
I'll keep this opened anyway.

[2017-08-08 01:27] kevin201 commented on #1228
I haven't been able to get this functionality so far.

I can however ssh from the command line with no password interaction, having used 'ssh-add' (and entered the private key password) at logon.

It would be interesting to know the difference between 'SSH Agent' and the public key auto methods. If this is the desired behaviour maybe it's just a question of understanding the docs.

[2017-08-08 19:56] antenore commented on #1233
Well, it should be quite straightforward.

I'm writing here just as a memo, if you don't have time I'll try it in the next days.

Each GtkEntry (each server, username, password fields) can have ```gtk_entry_set_activates_default ()``` that tell Gtk to activate the default widget when pressing enter.

At the moment the default widget is the Connect button as defined [here](https://github.com/FreeRD

[2017-08-08 20:02] porunov opened #1241 "error: ‘FREERDP_PIXEL_FORMAT_TYPE_RGBA’ undeclared (first use in this function)"
Debian 9.1
KDE
FreeRDP version 2.0.0-dev (git n/a)

When tried to compile Remmina I got next errors:
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48057715-error-freerdp_pixel_format_type_rgba-undeclared-first-use-in-this-function?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=github)** We acc

[2017-08-08 20:20] antenore commented on #1241
Did you compile against the latest FreeRDP master? If yes it means they have changed their API and we must adapt the Remmina code to it.

If it's that the case, but I don't think so (see later) as a temporary workaround you should compile remmina against a  previous  FreeRDP commit.

But as far as I can see you are using an old version of freerdp, probably the one that comes with Debian, so uninst

[2017-08-08 20:32] porunov commented on #1241
@antenore Thanks for help. I followed that guide when tried to compile remmina. Step by step (from step 1 to step 12 when the compilation has been broken.). Which version of freerdp I need to use?

[2017-08-08 20:43] antenore commented on #1228
@box293 This is because you are an old remmina supporter ;-) (thanks)

@kevin201 it works for me, but I use keychain at logon time that automatically add my ssk keys.
With gnome_keyring should be the same, but must be configured to save ssh keys as well at logon time.
Sorry for the confusion.

It's still not clear for me as well how to use the auto method. I think that I've started to implement it

[2017-08-08 20:53] antenore commented on #1228
I remember now and it should work correcthly.

ssh_userauth_publickey_auto() uses the SSH_AGENT and you pass to it the username and the passphrase (in the password field)
ssh_userauth_agent() uses the SSH_AGENT as well but you don't need to pass the passphrase (only the username).

So can you confirm that entering the passphrase in the password field with the auto method works?

I should find the

[2017-08-08 20:53] porunov commented on #1241
Tried to use this version of FreeRDP:
https://github.com/FreeRDP/FreeRDP/commit/71ce3378da9044d21575d0331dc4fb97bc4c995c

Here are errors from Remmina compilation:

[code]

[2017-08-08 21:07] antenore commented on #1241
I've just compiled both FreeRDP and Remmina against the last commit and it works, so you really have some old freerdp libraries on the system.

Did you do this?

[code]

after execute

[code]

[2017-08-08 21:25] porunov commented on #1241
Yes, I did it. Here is the output:

[code]

[2017-08-08 21:33] antenore commented on #1241
Looks good.

I usually don't like to ask this, but can you reboot your machine and recompile again remmina?

[2017-08-08 21:44] porunov commented on #1241
Yes, I rebooted my machine but it still shows the same error. Don't even know what to do

[2017-08-08 22:03] antenore commented on #1241
Really weird...
Can you type the following inside ~/remmina_devel/Remmina

[code]

[2017-08-08 22:17] porunov commented on #1241
Sure. Here is it:

[code]

[2017-08-08 22:26] antenore commented on #1241
it's correct :-\
So I really don't know, probably @giox069 has an explanation.

[2017-08-09 03:00] kevin201 commented on #1228
Thanks for this.

That certainly works. Auto and passphrase picks up the key and let's me connect.

I haven't been able to get this to work at all with my setup. (From the terminal, though, I can 'ssh my.other.machines.com' and be connected without further interaction. I add the key/passphrase at logon. I think this is using ssh_agent)

I am having trouble understanding the benefit in having both

[2017-08-09 07:32] antenore commented on #1228
Wait! I've the same issue, my bad!!!
So I can debug as well.

Sorry for this, I've set all of my ssh profiles to use the auto method.

I'll see what happened.

[2017-08-09 08:19] giox069 commented on #1241
In your previous compilations, you compiled freerdp2 to install all files in /usr/local/include/freerdp2 (and libraries in a similar place).
The C compiler is still using them from /usr/local/include/freerdp2 instead of /opt/remmina_devel/freerdp/include.
So my suggestion could be:
`
rm -rf /usr/local/include/freerdp2 /usr/local/include/winpr2 /usr/local/lib/libfreerdp2* /usr/local/lib/libwinpr2*`

[2017-08-09 08:42] porunov commented on #1241
Thank you very much! You solved my problem. Now it works!

[2017-08-09 08:42] #1241 closed

[2017-08-09 12:01] WanWizard commented on #1238
It would probably be a good idea to select `Linux` as the default for connection definitions that were made before this update. Now I have to edit all of them, changing them from `Gruvbox` to `Linux`.

[2017-08-09 12:30] antenore commented on #1238
yes true.

I'll do, in the meanwhile as workaround you can do quick sed command line to change all in one shot.
Do you know how to do it? do you need support? Do you know where to find the profiles?

[2017-08-09 12:32] antenore commented on #1233
It works. I've merged and closed this.

[2017-08-09 12:39] erichoog commented on #1233
@antenore  Awesome thanks! Sorry i didn't have a chance to test it until later today or tomorrow.

[2017-08-09 12:57] WanWizard commented on #1238
yeah, already done, thanks.

[2017-08-09 13:03] #1238 closed

[2017-08-09 13:05] antenore commented on #1238
It's done, it's in our HEAD (next) and it'll be released soon (some few weeks), so it'll be available for distros, hopefully, EOM

[2017-08-09 13:06] antenore commented on #1238
Didn't see this, I'll take a look on this later on.

Can you please open a new issue for this?

[2017-08-09 13:15] WanWizard opened #1244 "For SSH terminals, please set the charset to UTF8 by default"
see #1238

[2017-08-09 13:27] jeenuv commented on #1213
Not to hijack this issue, but I found that I can't send the '(' and ')' keys on a Linux to Linux VNC session either. The server is x11vnc. Would that be related?

If RDP is preferred, would you suggest an RDP server that I substitute for x11vnc? I'm not familiar with RDP on Linux, and Google isn't proving very useful.

[2017-08-09 13:29] WanWizard opened #1245 "No cursor visible in SSH terminal"
After the connection is established, no cursor is visible, making editing impossible. This wasn't the case with the previous version (available in F26).

Please give us some details about the systems you are using:
* Client: Fedora 26
* Remmina version: 1.2.0-rcgit-19 (git rcgit-19)
* Desktop environment: Gnome 3
* Connecting to: Ubuntu 16-04
* Connecting via: SSH

Same happens when connecting to

[2017-08-09 13:37] antenore commented on #1245
Duplicated of #1225

Already fixed and closed. Will be available in the next release in few weeks.

[2017-08-09 13:37] #1245 closed

[2017-08-09 13:40] antenore commented on #1213
@jeenuv there is xrdp but I've never tested it.
I'll work on the VNC and x2go plugin as soon as possible, but I cannot say when (other priorities, job, family, etc).

If you know anyone who would like to help us you are very welcome to invite him/her to join us.

[2017-08-09 13:49] WanWizard commented on #1245
Sorry about that, couldn't find it but searched only in the open issues. Stupid me. :flushed:

[2017-08-09 13:54] antenore commented on #1245
No problem

[2017-08-09 13:56] antenore commented on #1228
Do you guys can test the last PR ( #1246 )  I've submitted?

[2017-08-09 19:33] Liath commented on #1228
Can confirm #1246 fixes this issue for me. Thanks @antenore. :)

[2017-08-09 19:36] antenore commented on #1228
Cool! We'll release a new release ASAP.

[2017-08-09 20:10] smilemak opened #1247 ""Remember last view mode for each connection" not respected in v1.2.0-rcgit.19"
Hi

I am using ARCH (4.12.4-1-ARCH) with the latest remmina (1:1.2.0rcgit.19-1). This version does - contrary to 1:1.2.0rcgit.18-1) not respect the flag "Remember last view mode for each connection" anymore.

When changing the resolution for a one-timer session and clicking on "Connect" instead of "Save" it also saves the resolution although the flag in the preferences dialog is deactivated. Downg

[2017-08-10 07:15] kevin201 commented on #1228
I'd like  to test, but I'm afraid I don't have enough knowledge of git to accomplish.

[2017-08-11 06:49] wrffrz commented on #937
Yep, the current set of scaling options make this tool completely unusable when connecting to my dual-monitor desktop from my laptop.

[2017-08-11 06:59] antenore commented on #937
I cannot remember about this feature, was it a profile level, general setting? Was it only for VNC? I remember about 2 horizontal sliders but I'm not sure about it.

Any clue starting from which version we have removed it?

Beside this, probably I've deleted all of that part while migrating from Gtk+ 2 and Gtk+ 3.

I remember something around that sliders that was not possible to migrate.

Another

[2017-08-11 07:13] antenore commented on #1216
Also #1247 is relevant and we are going to work around that issue.
I'm closing this one.

[2017-08-11 07:13] #1216 closed

[2017-08-11 08:28] psit commented on #937
Great that you want to work on it.
A quick image search on "remmina scale" shows these two screenshots that show where the feature was available:
1. Advanced Settings (which is not so important in my personal opinion)
![link to screenshot](https://canne.files.wordpress.com/2012/07/remmina_n9_vnc_session_config-2.png)
2. Using the toolbar changing the view-mode
![link to screenshot](http://grdc.sou

[2017-08-11 08:38] antenore commented on #937
Ah! Yes! Now I remember. It was a nightmare to implement in GTK3.

We still have the remmina "master" branch that is used by most of debian based distros.

[Here](https://github.com/FreeRDP/Remmina/blob/master/remmina-plugins/vnc/vnc_plugin.c#L1958) it is.

So I can at least investigate.

[2017-08-13 04:14] aperomsik commented on #1228
I hope you'll post here when the PPA is updated. I switched back to the ubuntu packaged version due to this issue.

[2017-08-13 11:42] Papaiso opened #1248 "VNC plugin on Debian 9 (stretch) no longer available / working"
On  my last dist-update the VNC plugin was removed and it is no longer available in the repository.
I tried to manually install a binary for Ubuntu but it says that there are unmet dependencies. The problem seems to be caused by the fact that libvncclient0 is no longer available and it was replaced with libvncclient1.
Would it be possible to get the vnc-pluggin to work with  libvncclient1?
Thanks

[2017-08-13 19:34] giox069 commented on #1248
Unfortunately we do not have binary .deb pacakges for Debian 9, vnc plugin included. And Remmina has been totally removed from the distributions by the downstreaim maintainters.
So, you have three choiches, after totally uninstalling remmina and rebooting:

1. Use the snap version of Remmina, instructions on the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki). The snap version has some kno

[2017-08-14 14:13] princeofmars commented on #556
Confirming it also does not work from ubuntu-gnome 17.04===>rdp===>windows 7

[2017-08-14 15:48] cmcanulty commented on #556
This may clarify the cause . I can copy and paste in remmina between windows machines but not linux.

[2017-08-14 21:49] baskwo opened #1249 "Asking for domain"
I just installed freerdp with remmina amd when I try to connect it asks me for user, password and domain. Fine I fill up user and password and leave domain blank because I don't use one. Can't connect doing that. Tried with a Windows pc and rdp works.

[2017-08-14 22:07] probonopd commented on #1248
Let me know if you need additional testers for your AppImage @giox069

[2017-08-14 23:59] Stebs commented on #983
I'm a bit lost here: I have libssh 0.7.5 and Remmina 1:1.2.0rcgit.19 installed (on Arch).
Libssh Features (with 0.7.5) according to their website:

So why Remmina still says:

[2017-08-15 15:54] giox069 commented on #1248
Thank you @probonopd for partecipating to this discussion.
We have not yet decided which one will be the better way to build appimage for remmina.
We need to produce AppImage both for x86_64 and for armhf RaspberryPI Raspbian.
I have been able to build it from the PPA for x86_64 via @probonopd Recipe script (my Remmina.yml is just a for of your Remmina.yml), you can see results [here](http://www.r

[2017-08-15 17:41] probonopd commented on #1248
To throw one more idea, the Open Build Service is a great option to build for 32-bit and 64-bit Intel and ARM architectures. It also helps you to keep the AppImage updated at all times.
https://git.io/obs-ai

[2017-08-15 20:08] antenore commented on #1247
When you click on connect Remmina save the connections parameters are set in the profile editor.

We will add an additional button "Save & Connect", Connect will not save the parameters and we are going to rename the Default button to something more clear, like "Save as default"

[2017-08-15 22:28] antenore commented on #1244
When I connect to any remote server my environment it's already set to UTF-8

[code]

This is, imo, because Remmina doesn't force any charset so it uses the one that is set remotely. Isn't it this the wanted behavior?

Am I missing anything?

[2017-08-16 11:07] WanWizard commented on #1244
I asked because the dropdown in the settings in blank by default, so as an end-user it is not clear which characterset, if any, is used.

For example, RDP takes the client settings if nothing is defined, and forces them unto the remote. So for RDP it is important to define them correctly. I don't know what the behaviour of the Remmina SSH client is. If nothing is configured locally it means it wil

[2017-08-16 20:29] JulioLeonPhd opened #1251 "Can't Specify X :display for XDMCP."
Since switching to GDM and Gnome, remmina fails to connect to another server via XDMCP. I can connect via Xephyr and X directly. I discovered I can do that if I specify the X display to anything other than :0 or :1. Apparently, GDM uses :0 for the login manager and :1 for my user session.

It appears that Remmina uses :1 as default for XDMCP. I have looked and can't figure out where I can change t

[2017-08-17 09:03] pstez84 opened #1252 "RDP over SSH tunnel, crash if SSH connection closes"
Hi,
I am experiencing a bug when using RDP over an SSH tunnel.
If for some reason the connection to my SSH client fails (internet drop for example - by internet ain't that good!) then my entire RDP session crashes, I don't get the "retrying" message, it just disappears completely.
This is obviously expected as without the SSH tunnel the RDP connection cannot be obtained, and I can reconnect again

[2017-08-17 13:14] JulioLeonPhd commented on #1251
I've downloaded the source and debugged it a bit: mainly **xdmcp_plugin.c**. It appears remmina is getting correctly the next free X display using **remmina_get_available_xdisplay()**. However, I still get an error and can't start the connection:

`Fatal server error:
(EE) X11 error
Error code: 8
Sequence number: 5
Major code: 1	Minor code: 0
Error value: 50333225
(EE)
`
I appreciate any feedback.

[2017-08-17 13:55] antenore commented on #1251
Thank you for your analysis.
I'll take a look ASAP.

[2017-08-17 15:28] khockenb opened #1253 "Feature Request: Percentage based custom resolutions."
In addition to the Width x Height resolutions, allow users to specify percentage based resolutions, such as "90%".

This is useful to start up not-quite full screen sized sessions, regardless of client monitor resolution.

[2017-08-17 20:18] antenore commented on #1251
Yep, I think I've found it.

[code]

If I'm not wrong, this function will return a display number as soon as it'll find a X_UNIX_SOCKET file, and in your case will be 0 (the GDM display).

Anyway, I think the best is to add an option to specify the X server number by hand, and than I'll see if we can improve that function.

I'm quite busy lately (other bugs, life and job), so I don't know if I'll

[2017-08-17 20:23] antenore commented on #1251
The functions seems to do the right thing, sorry, but still the rest of what I said still apply (implementing the option)

[2017-08-18 01:35] JulioLeonPhd commented on #1251
I did find that function on common/remmina_plugin.h and my debug was trying to test if it was working. It does work: remmina_get_available_xdisplay returns first free X display ID.

I'm not entirely sure why it still does not work. Apparently, I've found a few messages online that state Xephyr might be bugged. It is odd, as I can use Xephyr to connect (without remmina).

I'm using Xephyr 1.18 btw.

[2017-08-18 10:35] mkzero opened #1254 "SSH username ignored for Tunnels for RDP"
I've set an SSH tunnel for an RDP connection that uses a different username for the SSH proxy host than my local login. When connecting it tries to connect with my local name instead of the confugured name. When editing the connection and then opening it again it sets the username for the SSH connection to my local login instead of the one supplied. Rolling back to remmina-1:1.2.0rcgit.18 solved t

[2017-08-18 11:15] JulioLeonPhd commented on #1251
So, I found out it is actually a conflict of Xephyr. If I comment the following lines in function remmina_plugin_xdmcp_start_xephyr (xdmcp_plugin.c), I can get the Xephyr window to actually open (however, resolution is 640 x 480 and I can't get it to change).

`	argv[argc++] = g_strdup("-parent");  `
`	argv[argc++] = g_strdup_printf("%i", gpdata->socket_id); `

We're getting closer!

[2017-08-18 14:54] urobasa opened #1255 "Changes user name ssh tunnel (vnc over ssh) do not save."
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Ubuntu 16.04.3 LTS
* Remmina version (remmina --version): 1.2.0-rcgit-19 (git rcgit-19)
* Desktop environment (GNOME, Unity, KDE, ..): gnome
* Connecting to (OS and version): any vnc over ssh (windows, linux)
* C

[2017-08-20 02:52] jdpipe opened #1256 "stateful alt-tab switching when meta-key mapping turned on"
When using alt-tab to switch between windows on my local machine, sometimes I accidentally move to the Remmina window. If the Meta-key mapping is turned on on that machine, if I press alt-tab again, I start moving between windows on the remote machine. That's what the behaviour is supposed to do, but it's irritating, because there is no nice easy way to resume alt-tab cycling on the local machine

[2017-08-21 03:18] win2win opened #1257 "Remmina crashes each time I use FTP transfer"
I use the 1.2.0-rcgit-19 (git rcgit-19) and run Ubuntu 16.04 LTS.
After updating from previous version, the software consistently crashes after using FTP terminal and uploading a file. The file gets uploaded but software crashes each time.

I use SSH connection to the server and open FTP session from within the connection through "Open secure file transfer"

<bountysource-plugin>

---
Want to back

[2017-08-21 14:12] rgloor opened #1258 "keyboard layout wrong"
System / Environment:
- "Host" OS:  openSUSE LEAP 42.3 (fully patched)
- Desktop: KDE (Plasma: 5.8.7, Framework: 5.32.0)
- Remmina from X11 OBS:  1.2.0-rcgit-18 (git rcgit-18)
- "Client" OS: Windows 7 Pro x64
  The client is remote, a virtual Desktop on a Server / VMware ESXi Hypervisor, which I access from a remote location.
- Connection: RDP
- freeRDP:  2.0.0~git.1497095982.1dbd2d28d-78.12

Issu

[2017-08-21 20:02] antenore commented on #1257
Thanks for the report.
I've identified the issue.
I'd fix it in the next days and hopefully we will release a new version in one or two weeks.

[2017-08-21 20:34] antenore commented on #1257
I've pushed a commit that is a temporary fix.
Remmina was crashing because I was freeing ssh->passphrase that is not yet correctly used in the sftp client.
In the future I'll work on the sftp part as I've done for the SSH plugin and I'll fix all of the issues around the ssh passphrase.

@giox069 Are you agree regarding this temporary fix? ssh-passphrase? It's freed before to be used anyway and we

[2017-08-22 14:16] Vatten commented on #434
I tested and rdp works on rhel 7.4 with:
autodetect and "use client keyboard" unchecked.
"0000040B - Finnish" and "use client keyboard" unchecked.

Does not work with:
autodetect and "use client keyboard" checked.
"0000040B - Finnish" and "use client keyboard" checked.

So looks like there is something wrong with the "use client keyboard" setting. These ö ä å print fine but not for \ which must us

[2017-08-23 08:57] giox069 commented on #1258
Unfortunately I'm unable to reproduce the bug in my environment. Keyboard autodetection in remmina is completely delegated to libfreerdp and in my setup is working fine also when I select Swiss German as main system keyboard (I hanve no a real Swiss German keyboard, so I cannot test if keystrokes are ok :)).
Can you do a couple of tests:

- Connecingt with commandline xfreerdp /v:servername /u:use

[2017-08-23 10:06] rgloor commented on #1258
I first tried another remote machine (a win Server).
- First was fine with Swiss German KB.
- Then I switched in Remmina to autodetect kb - immediatly showed in line below Swiss French KB.
- I opened the server again. Now it uses Swiss French KB.
- I closed session, went back to Remmina preferences, switched preferences fix to Swiss German KB, and second line shows Swiss German KB.
- When I now op

[2017-08-23 13:17] giox069 commented on #1229
the so called "legacy tray" (drawer), [will be removed in Gnome Shell 3.26](https://bugzilla.gnome.org/show_bug.cgi?id=785956). In Gnome Shell 3.26 there will be NO WAY to have a systray menu for remmina, unless you install some specific extension like [KStatusNotifierItem/AppIndicator Support](https://extensions.gnome.org/extension/615/appindicator-support/).
I think we should change again the ex

[2017-08-24 10:35] eiger3970 opened #1260 "Remmina view size freezing Linux Mint 18.1 viewer"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Linux Mint 18.1 Serena 64-bit. Kernel 4.8.0-58-generic x86_64.
* Remmina version (remmina --version): 1.2.0-rcgit-19 (git rcgit-19)
* Desktop environment (GNOME, Unity, KDE, ..): MATE 1.16.1.
* Connecting to (OS

[2017-08-24 11:40] #1257 closed

[2017-08-24 11:41] antenore commented on #1257
This week or the next we will release a new version of remmina with the fix

[2017-08-24 12:41] Kunzol opened #1261 "Modal Disconnect Message"
I use Ubuntu (Mate)  and connect to some Windows hosts from work desktop and from home desktop (e.g. Domain Controller).
Any time the rdp is disconnected from the other computer the message pops up:
"Another user connected to the server, forcing the disconnection of the current connection."

This is a modal message-box and blocks all other RDP windows. Additionally this message is hidden from the

[2017-08-24 19:08] giox069 commented on #1248
@probonopd I'm trying with OBS and your guide. Is there a help/manual which explain the syntax of appimage.yml? I need to clone the branch "next" of remmina, but
[code]
seems only to clone the master branch of remmina, not "next" which is the default on github.com.

Thank you.

[2017-08-25 15:05] frankdrum commented on #1099
Hi team,
Thanks for your work.
Autoreconnect function works, but ask to users to insert credentials again, although saved in the configuration file.
How can i solve this problem ? Some tips ?

Thank you in advance
Bye

Francesco

[2017-08-25 16:32] probonopd commented on #1248
That's an excellent question @giox069. I am not 100% sure whether pulling non-master branches is possible yet on OBS. Ping @adrianschroeter.

[2017-08-26 06:56] alex-mashin commented on #1047
Same issue.
1.2.0-rcgit-20 (git v1.2.0-rcgi

[2017-08-26 08:24] giox069 commented on #1047
@alex-mashin are you using the snap version of remmina? Under which distribution?
If you are using the snap version, please note that a snap cannot access the gnome keyring. They fixed it with snapd version 2.27, not yet available in many distributions.

[2017-08-26 08:43] alex-mashin commented on #1047
Yes, the snap version. Seems newer than apt/dpkg.

[2017-08-26 14:03] ic3d commented on #104
@seanparsons any news?

[2017-08-26 19:21] madscientist opened #1262 "Screen window opens maximized"
* Client (OS name and version):  Ubuntu GNOME 17.04 x86_64
* Remmina version (remmina --version): 1.2.0-rcgit-20
* Desktop environment (GNOME, Unity, KDE, ..): GNOME
* Connecting to (OS and version): Windows 10
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version): xfreerdp not installed, but: libfreerdp-client2:amd64 2.0.0~git20170817.0.201708171318.f9a47a3

[2017-08-27 08:35] giox069 commented on #1026
The RDP protocol requires that keyboard mapping, from hardware key code to real character, is done at the server side.
Someone in the past, added to remmina the option "Use client keyboard mapping", which does exactly the following:
[code]
But it's just a hack that will works only in few cases. For example xmodmap is not really compatible with xkb, should this hack works?
In few months we will hav

[2017-08-27 08:39] giox069 commented on #440
@penzoiders: I'm not able to reproduce it. On my windows 10 laptop, italian KB, when I open notepad, enable CapsLock, enter "à" and I get an "à", lowercase...
Have you enabled some extra setting to get an uppercase "À" locally under windows?

[2017-08-27 08:40] giox069 commented on #434
It seems that disabling "use client keyboard" setting solves this issue for all. Can I close this issue?

[2017-08-27 19:52] antenore commented on #1255
Can you please test the latest version (rcgit-20).

[2017-08-27 19:52] antenore commented on #1254
Can you please test the latest version (rcgit-20)?

[2017-08-27 19:57] antenore commented on #1224
Can you please test the rcgit-20?

[2017-08-27 19:59] antenore commented on #1247
Closed by #1250

[2017-08-27 19:59] #1247 closed

[2017-08-27 20:46] Inglebard commented on #1224
Hi,
I just compile and check, the issue is still present. (1.2.0-rcgit-20 (git rcgit-20))

[2017-08-27 20:56] antenore commented on #1224
Sorry...

I think that this is fixed by #1250 that I've forgotten to merge in the next branch (so it's not included in rcgit-20).

May I ask you, when you have time and the wish to do it, to test that PR?
You should also remove the password from the keychain or in the .remmina file. If you need assistance on this let me know.

[2017-08-27 21:33] giox069 commented on #1224
PR #1250 is merged into "next" now. Having 5 confirmation button is a bit confusing? Maybe not when we have the most used/wanted selected by default.  What do you think?

[2017-08-28 07:09] mkzero commented on #1254
Seems like it works again. Connection works and the jump host reports the correct login for SSH in the auth logs.

[2017-08-28 07:28] antenore commented on #1099
@frankdrum can you please open a new issue and give us more details? This report has already been closed.

Thanks

[2017-08-28 07:29] antenore commented on #1254
Cool! I'm closing this. Thanks

[2017-08-28 07:29] #1254 closed

[2017-08-28 07:30] Inglebard commented on #1224
Hi,
I just test the latest version (e6c7efea7ca8d847f7171b2af57b8a50992177b4).
The issue still remain.
When you connect to a server without password, it prompt a password input. Check the checkbox or not will always save password.

[2017-08-28 07:40] antenore commented on #1224
OK, I'll try to reproduce and fix this in the next days

[2017-08-28 09:02] urobasa commented on #1255
Tested.
vnc over ssh
Create new connection.
set user name ssh toonel to root and option (password or any)
save
Edit settings again, and see user name ssh toonel - current logged user

[2017-08-28 09:05] frankdrum opened #1264 "Autoreconnect function with same credentials"
Hi team,
Thanks for your work.
Autoreconnect function works, but ask users to re-insert credentials, though saved in the configuration file.
For example i'm loged on with user testts01 with password saved, but when i try to simulate a network failover for some seconds, autoreconnect works but ask me to re-insert my credentials.

![image](https://user-images.githubusercontent.com/31350825/29766703-

[2017-08-28 09:08] urobasa commented on #1255
Rollback to a previous version Remmina 1.1.2 ubuntu 16

[2017-08-28 09:14] giox069 commented on #1264
In this case, when credentials are required inside the remote RDP session, Remmina has already sent the saved credentials to reconnect. But your server is asking them again.
In Remmina, edit the profile and check that under advanced settings, security is set to "Negotiate". Also NLA and TLS may work.
If you security is already in negotiate mode, then I can think there is a setting (maybe GPO ?) at

[2017-08-28 12:17] giox069 commented on #440
A fix to "use client keyboard mapping" has just been released. It will be available in the next remmina release (1.2.0-rcgit.21).

[2017-08-28 13:01] giox069 commented on #434
A fix to "use client keyboard mapping" has just been released. It will be available in the next remmina release (1.2.0-rcgit.21).

[2017-08-28 13:03] giox069 commented on #1026
A fix to "use client keyboard mapping" has just been released. It will be available in the next remmina release (1.2.0-rcgit.21).

[2017-08-29 12:24] JulioLeonPhd commented on #1251
It appears it is indeed a Xephyr bug that doesn't allow Remmina to nest a Xephyr instance. Let's hope the next version of Xephyr addresses this issue.

[2017-08-29 12:24] #1251 closed

[2017-08-29 14:09] lachuzhnikov opened #1266 "Large file corruption over shared folder on RDP connection."
Hi, Team!

On attempt to transfer large files over 2GB (3+ GB images of OS, large archives, etc) with shared folder over RDP - transferred files corrupted. A checksum is mismatched after transfer.

Small files are transferred correctly.

OS: Fedora 26 with all patches.
APP: Remmina 1.2.0-rcgit-19
Desktop: Gnome 3.24.1-2.fc26
CONECTIONG TO: W2k8R2, W2k12.
CONNECTION: RDP
RDP: FreeRDP version 2.0.0-

[2017-08-29 14:21] giox069 commented on #1266
It seems to be a libfreerdp problem https://github.com/FreeRDP/FreeRDP/issues/4075
The problem has been fixed few weeks ago by the FreeRDP team. Ping @hubbitus.

[2017-08-29 20:28] giox069 commented on #1208
I have totally reworked "Use client keyboard mapping" code. Patches are already available on the "next" branch, and will be released with the next release of Remmina (1.2.0-rcgit.21).
These patches should solve @jpeg729 issue, but currently they cannot solve @gnegno issue: caps and ctrl keys mapping cannot be correctly detected by the local mapping code.
Please test it and let me know.
@gnegno: ho

[2017-08-31 07:10] penzoiders commented on #440
@giox069 at the time I've tested I was using a windows 7 laptop of a colleague (not using windows on my pc since 10 years)... I just asked again to my colleagues and even those using windows 10 say that Shift+à produces a capital À both on windows desktop and remote RDP machine. Sorry for not being able to test directly but at least I got 3 ppl testing this on a mix of 7 and 10 professional boxes.

[2017-08-31 10:15] giox069 commented on #440
Really I can't reproduce. On my windows 10 PCs with "italiano (italia)" selected as input language, pressing Shift + à gives °, which is correct. See the attached image.

![15041732486920](https://user-images.githubusercontent.com/5477803/29917923-bee9e98a-8e43-11e7-900d-e281eb42e7d3.jpg)

And CapsOn and then à, gives only lowercase à.
Most of windows [guides on different websites](https://www.goo

[2017-08-31 20:33] digitalfiz commented on #1235
Would be nice if this supported importing of formats like GNOME Terminal and others so people can use existing color schemes.

[2017-09-01 07:18] antenore commented on #1235
@digitalfiz it would be nice, but it's almost  impossible.

Most of the terminal servers have terminal themes hard-coded in their source code, except for those that use Xresources to stock color's configuration. But again, some people at (mainly) Red Hat they are putting all of their effort to erase Xorg from the planet.

As there are some applications that uses external files for the color scheme

[2017-09-01 10:24] weberhofer commented on #785
This issue has been fixed, I think in rcgit20. Thanks!

[2017-09-01 10:24] #785 closed

[2017-09-01 15:30] digitalfiz commented on #1235
Here are a few

http://iterm2colorschemes.com/
https://github.com/baskerville/xresources-color-schemes
https://github.com/AlexAkulov/putty-color-themes

And this site has a neat export feature for tons of different terminals so it would probably be a good place to test out anything you write:

https://terminal.sexy/

[2017-09-01 18:57] #594 closed

[2017-09-01 18:58] #613 closed

[2017-09-01 19:02] ic3d commented on #618
That wiki page does not exist anymore, and the new one is correct. Closing this bug.

[2017-09-01 19:04] ic3d commented on #614
I'm closing this issue because it probably affects only old versions of Remmina.

[2017-09-01 19:04] #614 closed

[2017-09-01 19:05] ic3d commented on #628
I'm closing this issue because it probably affects only old versions of Remmina.

[2017-09-01 19:07] ic3d commented on #631
This is not a Remmina bug, I'm closing this issue.

[2017-09-01 19:08] ic3d commented on #633
This is not a Remmina bug, I'm closing this issue.

[2017-09-01 19:12] ic3d commented on #643
This is not a Remmina bug, I'm closing this issue.

[2017-09-01 19:16] ic3d commented on #646
Hi @GLADtr do you still have this issue?

[2017-09-01 19:31] ic3d commented on #649
Hi @daniel-sciome do you still get this issue? Thanks!

[2017-09-01 19:32] #658 closed

[2017-09-01 19:33] #656 closed

[2017-09-01 19:35] ic3d commented on #662
Hi @bernd-wechner, we're reviewing old issues, do you still get this one? Thanks!

[2017-09-01 19:41] ic3d commented on #664
Hi @fraang we're reviewing old issues, do you still get this one? Thanks!

[2017-09-01 19:44] ic3d commented on #666
I'm closing this issue because it affects an out of date version of Ubuntu and Remmina. You need to update both Ubuntu and Remmina. Thanks!

[2017-09-01 19:46] ic3d commented on #685
Hi @ComputingFroggy we're reviewing old issues, do you still get this one? Thanks!

[2017-09-01 19:50] ic3d commented on #686
Hi @awilkins we're reviewing old issues, do yuo still get this one? Thanks!

[2017-09-01 19:59] ic3d commented on #694
The Fedora bug is closed, so therefore this issue.

[2017-09-01 20:09] #934 closed

[2017-09-01 20:24] lope opened #1268 "Add feature to send keystrokes for pasted text into Qemu/KVM VNC server"
* Client (OS name and version): Ubuntu 16.04
* Remmina version (remmina --version): 1.1.2
* Desktop environment (GNOME, Unity, KDE, ..): Mate (gnome2)
* Connecting to (OS and version): Windows 7
* Connecting via (RDP, VNC, ...): QEMU VNC

When connecting to a server running with a Qemu/KVM VNC server, it would be really useful to be able to paste text and Remmina sends keycodes for all the pasted

[2017-09-01 20:30] #1255 closed

[2017-09-01 20:31] antenore commented on #1255
Fixed. You can test it in the next branch or in the next release rcgit-21

[2017-09-01 20:41] antenore commented on #1268
As a side question, can you use spice instead of VNC to connect to the KVM?

I rarely use VNC because we depend to libvnc that suffer from some different issues at the moment.
I hope the new maintainer will keep updating it...

A workaround could be to create a keystroke in the remmina interface (menu -> pref. -> option -> configure keystrokes), but it's far to be an optimal solution.

I'll take a

[2017-09-01 20:58] antenore commented on #1268
![keystrokes](https://user-images.githubusercontent.com/5975/29987565-1ee0f22c-8f69-11e7-823e-792869454979.png)

[2017-09-01 21:03] lope commented on #1268
Hi @antenore thanks for your reply.
I don't think spice is supported. But I've often had problems with spice, maybe they were bugs that have been fixed since, however it will not make clipboard "just work" on all the above. I don't think it would solve the problem at all?

In terms of interface
I think configuration parameters should be set on the specific saved connection.
Send clipboard as keyst

[2017-09-01 21:22] antenore commented on #1268
Regarding spice I use it with libvirt and since some months it works really well, the clipboard as well.

The keystroke part is on our ToDo list :-) we just need time and/or additional contributors to implement also this one.

That said part of the code is already there, so it's feasible.

[2017-09-02 15:51] daniel-sciome commented on #649
I haven’t used remmina for a long time.

--------------------------------------------------
Dan Svoboda, PhD
Sciome LLC
Enabling Science via Analytical Informatics
www.sciome.com<http://www.sciome.com/>
daniel.svoboda@sciome.com<mailto:daniel.svoboda@sciome.com>

From: Dario Cavedon [mailto:notifications@github.com]
Sent: Friday, September 1, 2017 3:32 PM
To: FreeRDP/Remmina <Remmina@noreply.githu

[2017-09-02 15:54] ic3d commented on #682
I'm closing this issue because it affects an old version of Remmina - we support only the Remmina 1.2.* branch.

[2017-09-02 15:57] ic3d commented on #684
I'm closing this issue because it affects an old version of Remmina AND it's due to a (closed) old issue of RDP.

[2017-09-02 16:01] ic3d commented on #693
Hi @markohrastovec  we're reviewing old open issues, do yuo still get this one with the latest version of Remmina?

[2017-09-02 16:04] ic3d commented on #697
We won't fix this issue because it probably affects an old version of Remmina - we only support Remmina 1.2.* branch. Feel free to open another issue if needed. Thanks!

[2017-09-02 16:43] ic3d commented on #649
@daniel-sciome ok, no problem. I will close this issue because it affects an old version of Remmina. Feel free to open another issue if it's needed.

[2017-09-02 16:46] ic3d commented on #665
Assigning to me, to be investigated.

[2017-09-02 16:47] ic3d commented on #700
Assigning to me, to be investigated.

[2017-09-02 16:51] markohrastovec commented on #693
I checked it on one of the computers again and the error is not occuring there. That is very good news. I will try it on other setups on Monday. It seems that you can close this issue.

[2017-09-02 16:53] ic3d commented on #709
Hi @LetArch we're reviewing old issues, do yuo still get this one? We only support Remmina 1.2.* Thanks!

[2017-09-02 16:55] ic3d commented on #715
Hi @obtim we're reviewing old issues, do yuo still get this one? Thanks!

[2017-09-02 16:59] ic3d commented on #707
@giox069 @akallabeth do you think we can close this old issue?

[2017-09-02 17:08] ic3d commented on #693
Thanks @markohrastovec. I'll wait a couple of days just to be sure.

[2017-09-03 10:36] giox069 commented on #707
I'm closing this issue. If the the problem is still here, please reopen another issue.

[2017-09-03 10:36] #707 closed

[2017-09-04 06:54] markohrastovec commented on #693
Hi,
I tried it elsewhere and it seems that it works in all cases. Thanks a lot.

Regards
Marko

[2017-09-04 09:30] awilkins commented on #686
Hi, sadly I no longer have the opportunity to test this - the Win2k8 server in question has left my sphere of responsibility and I don't have another to try it out on.

[2017-09-04 09:55] giox069 commented on #686
Ok, I'm closing this issue now. Reopen a new one if needed.

[2017-09-04 09:55] #686 closed

[2017-09-04 10:28] ic3d commented on #693
OK, closing.

[2017-09-04 10:28] #693 closed

[2017-09-04 12:15] notpentadactyl commented on #1058
I can confirm this issue, extremely annoying.

Example (using Xmonad, this should also apply to other WMs like Awesome) to reproduce unintended screen lock:

- Let's say you are on Desktop 4 and in an open RDP session
- Now you want to check something out on Desktop 1, you press Win+1
- Next you want to get back to Desktop 4, you press Alt+Tab or Win+4
- When you now start type anything with the l

[2017-09-04 13:16] jpduyx commented on #498
Would be nice if this is fixed. Spend lots of time to find out that my Password on RDP server was expired AND that the certificate had changed.

Only information Remmina gave:  "Unable to connect to RDP server XX.XX.XX.XX".
WHILE there were two issues:
1. certificate
2. expired windows Domain password

Would be nice if Remmina gave possibility to Change Password, instead of failing.
And to give an

[2017-09-04 16:13] metafarion commented on #807
This is still an issue as recently as 1.2.0-rc16, and it DOES appear to be related to the use of Remote Desktop Gateway; it still does not seem possible to connect to an RDP host via  Remote Desktop Gateway without having entered the password in the Profile screen first (and therefore saving it).

When connecting to an RDP host for which credentials have not yet been provided, we get a username/pa

[2017-09-04 18:21] antenore commented on #807
Rcgit-16 is really old. This issue has been fixed recently.
Can you please update Remmina following our wiki and test it again?

[2017-09-04 23:42] ComputingFroggy commented on #685
No, you can close it.
It's working fine with v. 1.2.0-rcgit-20

[2017-09-04 23:42] #685 closed

[2017-09-05 06:31] canefield opened #1269 "Remmina on Raspbian 9 Stretch and Remmina RemoteApp support"
Dear Remmina/Support/All,

#1 Remmina v1.2 on Raspbian 9 Stretch
Can you help me out here...I'm using Raspbian 9 Stretch with Desktop _(Release date: 2017-08-16 on a Raspberry Pi 3; 1GB RAM)_, but can't find a way to install the powerful Remmina v1.2. I tried adding the repository _(first had to install the package 'software-properties-common' to use the 'add-apt-repository' command)_ with using t

[2017-09-05 07:43] giox069 commented on #1269
1. Unfortunately there is no remmina in .deb format for Debian 9, see our [blog post](https://www.remmina.org/wp/remmina-1-2-will-be-available-on-debian-9-stretch/).
We are working on an AppImage version which will run on Debian 9, but currently there are only 2 ways to have remmina on a Debian 9: by compiling it following [the guide on the wiki](https://github.com/FreeRDP/Remmina/wiki/Compile-on-

[2017-09-05 12:30] nanxiongchao opened #1270 "Fatal frequent crashes"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): fedora21
* Remmina version (remmina --version): 1.2.0
* Desktop environment (GNOME, Unity, KDE, ..): mate
* Connecting to (OS and version): server 2003
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, fre

[2017-09-05 13:23] metafarion commented on #807
Oh sorry, I should have paid more attention to the version numbers.  I figured rc16 couldn't be that old if OP was using rc10 as recently as last March.

Anyway, I'm using rc20 now, and RDP passwords are not being saved unless the box is checked in the login prompt.  So that's good.  However, RDG passwords do still appear to be saved regardless of specified settings.  Also, RDG credentials still n

[2017-09-05 21:08] antenore commented on #807
@metafarion good point, I'll take a look.
Do you have an RDP gateway I can use for tests?

Do you estimate this is a critical issue? My understanding is that you can work saving the passwords without any problems, except the fact that the password is stored in Remmina or in the keychain.

Just to know if I can work on this at my pace (slowly but surely)

[2017-09-05 21:12] antenore commented on #1270
@nanxiongchao can you tell me the exact version of Remmina and FreeRDP?

You have a quite old version of fedora, is there any particular reason to avoid an upgrade to a newer version (25 or 26)?

[2017-09-06 02:29] nanxiongchao commented on #1270
@antenore  nihao!
This is the exact version
remmina: v1.2.0-rcgit.19
freerdp: https://github.com/FreeRDP/FreeRDP/commit/f8c9f438436a4492e37011396148d804f7e3651f

Is that we are doing a stable and widely used version and used for ordinary users, fedora21 we have maintained so far, his stability is better than other versions, the users of the past few years is also growing rapidly, of course, we hav

[2017-09-06 04:21] nanxiongchao commented on #1270
I also tested the newest commit of remmina and freerdp,The problem is still exsit .
Follow the test method I described earlier and exit for up to 30 seconds.

[2017-09-06 06:11] antenore commented on #1270
What hardware do you use? Are there any VPN, firewall or anything special between the clients and the server?
Graphic card?

If you can, produce a back trace with gdb. You'll need to compile both Remmina and freerdp with the debug option.

Thanks.

[2017-09-06 07:42] nanxiongchao commented on #1270
Architecture: mips64
Do not use VPN and firewall has already closed

I will try to use gdb for a test，although gdb I am not very skilled.
Follow-up feedback my test situation, thank you for your help!

[2017-09-06 07:49] antenore commented on #1270
It's really important that you comment also in the freerdp issue.

For gdb is simple, execute:

```gdb remmina```

Than type run
As soon as Remmina crash type bt

Cut&paste the output in here.

The same for freerdp and provide them the output of the back trace.

Hopefully we'll come up with a solution.

[2017-09-06 07:59] nanxiongchao commented on #1270
[New Thread 0xffed04aef0 (LWP 912)]
Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.
[New Thread 0xffdfffeef0 (LWP 915)]
[15:52:26:473] [904:915] [INFO][com.freerdp.client.common.cmdline] - loading channelEx rdpdr
[15:52:26:473] [904:915] [INFO][com.freerdp.client.common.cmdline] - loading channelEx rdpsnd
[15:52:26:473] [904:915] [INFO][com.freerdp.client.common.cmdl

[2017-09-06 08:12] nanxiongchao commented on #1270
xfreerdp /u:user /p: passwd /w:1366 /h:768 /v:IP
[16:08:33:175] [3071:3072] [WARN][com.freerdp.core.nego] - Error: SSL_NOT_ALLOWED_BY_SERVER
[16:08:33:248] [3071:3072] [WARN][com.freerdp.core.nego] - Error: SSL_NOT_ALLOWED_BY_SERVER
[16:08:33:695] [3071:3072] [INFO][com.freerdp.gdi] - Local framebuffer format  PIXEL_FORMAT_BGRX32
[16:08:33:696] [3071:3072] [INFO][com.freerdp.gdi] - Remote framebuf

[2017-09-06 09:58] giox069 commented on #1270
I can confirm both disconnections with ERRINFO_DECRYPT_FAILED and crashes when connecting to a windows 2003 server. But I'm unable to reproduce now.
@nanxiongchao are you testing with the latest patches of FreeRDP released at the end of august? They did a lot of auth/encryption fixes, merged on 30 and 31 august.

[2017-09-06 13:33] weberhofer commented on #1270
Just an idea: Support for Windows Server 2003 ended 2015. It can be that SSL on current distributions does no longer support some SSL features (ciphers or whatever) which for security reasons must no longer be used.

[2017-09-06 13:38] metafarion commented on #807
It's not **critical**, but in some cases it's part of a corporation's SOPs that you cannot store their server password on your machine, and therefore you'd have to delete the connection profile in Remmina and/or gnome keyring each time to be in compliance.  Anal retentive? Yes, but you can imagine why they'd have such a policy.

I'd be glad to haul out my testing Windows Server and give you access

[2017-09-06 14:30] antenore commented on #1270
Good point @weberhofer , unlucky I don't have any windows 2003 server where I can test.

[2017-09-07 01:54] nanxiongchao commented on #1270
@giox069 I tested the latest commit 3b83526 of Freerdp and commit 8f13dff  of remmina are all on master branch .
At the same time I also tested the previous versions, found from the freerdp-1.0.1 version to the current latest has been the problem. freerdp-1.0.1 is at least five years ago.
The same local machine connection server 2008 did not find the problem but the server 2003 occurred very frequ

[2017-09-07 02:08] nanxiongchao commented on #1270
The reason why this problem has not been frequently discovered is that if other events are operated, the crash problem will result in an unknown time delay

[2017-09-07 02:32] nanxiongchao commented on #1270
View server logs:
<pre>
TermDD
RDP protocol component "DATA ENCRYPTION" found an error in the protocol flow and interrupted the client connection
</pre>
When the mouse is shaking, there is a lot of BIO_write operation, I doubt whether it is related to this.

[2017-09-07 06:31] antenore commented on #1270
@nanxiongchao as this is surely a freerdp issue, you must post all of these informations in the freerdp issue. Please quote as well the message of @weberhofer .

There is no need to keep posting new informations in this thread.

We will follow up with our friends of the FreeRDP project.

[2017-09-07 06:53] nanxiongchao commented on #1270
@antenore ok

[2017-09-07 16:36] giox069 commented on #1123
@probonopd, I'm asking your help after tests with TarvisCI and OBS in remmina issue #1248.
No one answered on how to ckecout a non master branch in OBS, so  I decided to write a build script, inspired by Recipe, which runs on debian8 an builds an AppImage. You can see it [here](https://github.com/giox069/remmina_appimage). It's in a temporary repository, I think I will move it inside the remmina p

[2017-09-07 16:47] probonopd commented on #1123
Please make sure that you do __not__ bundle any of the libraries from this list in your AppImage, and certainly not libc.so.6: https://github.com/AppImage/AppImages/blob/master/excludelist

Most likely the source code needs to be changed to load the glade file from a location relative to the executable rather than from an absolute path in the compile-time PREFIX.

[2017-09-07 20:06] giox069 commented on #1123
About lib dependencies of question 1: I was using delete_blacklisted before copy_deps, your hint helped me to find the error quickly. Thank you.
Now debian 9 says:
[code]
In the meanwhile I rewrote delete_blacklisted to skip libpango* and it seems to work. Is ir correct ?

2nd question: I'm doing some changes to the code and Cmakefiles to have relocatable data paths, so I don't need to use sed to

[2017-09-08 05:42] probonopd commented on #1123
Please see https://github.com/AppImage/AppImageKit/issues/454.

[2017-09-08 09:10] giox069 commented on #1248
A Remmina AppImage for x86_64 systems is ready to test. It has been built with Debian 9 in mind.

HOW TO TEST
Download .AppImage file from http://www.remmina.org/appimage-test/, make it executable and execute it.

KNOWN PROBLEMS
– External Tools are not working

@probonopd: 2 more problems for you :)
1. When Remmina executes an external gnome-terminal via system(), gnome-terminal can't find depend

[2017-09-08 16:02] probonopd commented on #1248
Please forgive me for being ignorant, but which "External Tools" and why do you think they are not working?

Depends: If you are using an `AppRun` that exports environment variables, then you might want to use something like `appimage-exec-wrapper` (see https://github.com/AppImage/AppImageKit/issues/396). Alternatively and perhaps more elegantly, you could try to do without an AppRun file at all,

[2017-09-08 16:04] probonopd commented on #1248
Btw, this is the AppImage running on Deepin Linux.

![deepinbildschirmfoto20170908180441](https://user-images.githubusercontent.com/2480569/30220570-35cd5ef6-94c0-11e7-92e6-8b215ea44636.png)

[2017-09-08 22:00] giox069 commented on #1248
External Tools is a command which appears when you select a connection profile and right click the mouse. It lets you to launch an external shell script with the host ip address as parameter. I don't think most of users know/need it :)
To execute this shell script, a "gnome-terminal" is launched by remmina. I will check my AppRun.
Thank you for the on update and the screenshot.
I can see all icons

[2017-09-09 08:09] probonopd commented on #1248
Are you trying to load the icons from a hardcoded absolute path in $PREFIX, such as `/usr/share`? That is not going to work, since the AppImage is not "installed" to `/usr`. Instead, all assets need to be loaded from a path relative to the main executable. Check http://listaller.tenstral.net/docs/chap-Listaller-App-Development.html#sect-Listaller-App-Development-Relocation for one way to achieve t

[2017-09-10 11:35] #1269 closed

[2017-09-10 19:12] ic3d commented on #524
Hello @hefax @srasku @sebastianst ! We are reviewing old issues, so do you still get this problem with the latest Remmina version? Thanks!

[2017-09-10 19:13] sebastianst commented on #524
I'm not actively using Remmina at the moment, so cannot say, sorry!

[2017-09-10 19:15] ic3d commented on #515
Hello @fansari ! We are reviewing old issues, so: do you still get this problem with the latest Remmina version? Thanks!

[2017-09-10 19:17] #618 closed

[2017-09-10 19:18] #631 closed

[2017-09-10 19:19] #628 closed

[2017-09-10 19:19] #633 closed

[2017-09-10 19:20] #643 closed

[2017-09-10 19:25] ic3d commented on #646
I'm closing this issue, because no answers to our suggestions and questions, and there are not enough data to solve it. Feel free to open it again if it is still there.

[2017-09-10 19:25] #649 closed

[2017-09-10 19:26] ic3d commented on #662
I'm closing this issue because it probably affects an old version of Remmina.

[2017-09-10 19:27] ic3d commented on #664
I'm closing this issue because it probably affects an old version of Remmina.

[2017-09-10 19:39] #666 closed

[2017-09-10 19:40] #679 closed

[2017-09-10 19:40] #682 closed

[2017-09-10 19:41] #684 closed

[2017-09-10 19:41] #1005 closed

[2017-09-10 19:46] #694 closed

[2017-09-10 19:46] #697 closed

[2017-09-10 19:47] ic3d commented on #709
I'm closing this issue because it probably only affects an old version of Remmina.

[2017-09-10 19:49] ic3d commented on #715
I'm closing this issue because it probably only affects an old version of Remmina.

[2017-09-10 19:53] ic3d commented on #754
I'm closing this issue because it's a Bodhi problem.

[2017-09-10 19:54] #754 closed

[2017-09-10 19:56] ic3d commented on #762
I'm closing this issue because it was not a Remmina one (but FreeRDP).

[2017-09-10 19:57] #762 closed

[2017-09-10 20:01] giox069 commented on #1248
I'm closing this issue. @Papaiso  if you are interested in AppImage developement, follow issue #1123. For native Debian 9 .deb support: maybe in the future there will be some backports. But not now. Currently it's not possible to build a .deb of Remmina under Debian 9 due to libssh not yet updated to use newer libssl.

[2017-09-10 20:01] #1248 closed

[2017-09-11 18:04] fansari commented on #515
Sorry, no idea. I haven't used this software for a long time.
On Sun, 2017-09-10 at 19:15 +0000, Dario Cavedon wrote:

[2017-09-11 20:40] antenore commented on #1235
Any brave humankind who is willing to help out testing [this PR](https://github.com/FreeRDP/Remmina/pull/1272)?

[2017-09-12 23:54] antenore commented on #1235
I've added a color scheme uploader and color scheme editor, both accessible frm the preferences widget.

[2017-09-13 00:12] aenertia opened #1273 "[Feature Request] Add SPICE Native WebDAV shared folder support"
Spice supports native remote folder sharing via webdav see

https://www.spice-space.org/docs/manual/manual.chunked/ar01s10.html

Implement support for this feature in Remmina in a similar manner as is handled by the RDP client today.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49268584-feature-request-add-spice-native-webdav-sha

[2017-09-13 00:16] antenore commented on #1273
Thanks @aenertia
As soon as I'll finish [this](https://github.com/FreeRDP/Remmina/pull/1272) I'll take a look at the WebDAV support.

In the meanwhile do you know that you can already share files between a client and a spice server with Remmina (copy&paste files into the desktop, with the spice-vdagent installed)?

[2017-09-13 10:51] giox069 commented on #104
@MonitorComputing: Remmina 1.1.2 is very, unsupported and we cannot fix it. Please upgrade to at least version 1.2.0-rcgit.20. For Linux Mint you can upgrade Remmina by using our Ubuntu's PPA. Read more informations on the [remmina wiki](https://github.com/FreeRDP/Remmina/wiki).

[2017-09-13 10:57] MonitorComputing commented on #104
Updated to 1.2.0-rcgit.20. Still get the same issue.

[2017-09-13 19:21] ic3d commented on #722
Hi @cmayoros @der-eismann, we are reviewing open issues. Reading the comments above I can assume this one is fixed, isn't it? Thanks!

[2017-09-13 19:26] ic3d commented on #700
I'm closing this issue because it probably affects an old version of Remmina.

[2017-09-13 19:28] ic3d commented on #736
I'm closing this issue because it probably affects an old version of FreeRDP. Feel free to open it again if needed.

[2017-09-13 19:32] ic3d commented on #747
Hi @blahule @linxpatrick we're reviewing old open issues. Now, we only support Remmina 1.2.* branch. Do you still get this one? Thanks!

[2017-09-13 19:45] ic3d commented on #763
Hi @flejes we're reviewing old open issues? Did you ever receive a answer to you questions? Thanks!

[2017-09-13 19:47] trondhindenes opened #1275 "How to make session size equal to window size"
* Client (OS name and version): Ubuntu 17
* Remmina version (remmina --version): 1.2.0-rcgit-20
* Desktop environment (GNOME, Unity, KDE, ..): Unity
* Connecting to (OS and version): Windows Server 2012 R2
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version): command not found...?
I'm trying to get Remina to behave like my old (windows) based rdp manager (r

[2017-09-13 19:49] ic3d commented on #751
Guide updated, closing this issue.

[2017-09-13 19:49] #751 closed

[2017-09-13 19:53] ic3d commented on #766
Hi @Lonniebiz  we're reviewing old open issues. Now, we only support Remmina 1.2.* branch. Do you still get this one? Thanks!

[2017-09-13 19:59] ic3d commented on #775
Hi @Rob49 @randygrolemund-tv @mtangoo we're reviewing old open issues. Now, we only support Remmina 1.2.* branch. Do you still get this one? Thanks!

[2017-09-13 20:01] ic3d commented on #777
Hi @svendsenrobin we're reviewing old open issues. Now, we only support Remmina 1.2.* branch. Do you still get this one? Thanks!

[2017-09-13 20:03] randygrolemund-tv commented on #775
Appreciate the response. I switched to a mac laptop and am using Microsofts client.

[2017-09-13 20:13] linxpatrick commented on #747
I am currently running 1.2.0-rcgit.13 (git n/a) and have no problems
connecting.

*/Patrick Headley/*
Linx Consulting, Inc.
(303) 916-5522
pheadley@linxco-inc.com
www.linxco-inc.com
On 09/13/2017 01:32 PM, Dario Cavedon wrote:

[2017-09-14 08:09] blahule commented on #747
Hello, i don't use it yet.

--
S pozdravem
Blahuta Martin

---------- Původní e-mail ----------
Od: Dario Cavedon <notifications@github.com>
Komu: FreeRDP/Remmina <Remmina@noreply.github.com>
Datum: 13. 9. 2017 21:32:49
Předmět: Re: [FreeRDP/Remmina] Unable to connect to remote desktop after
last update, error (SIGSEGV) (#747)
"
Hi @blahule(https://github.com/blahule) @linxpatrick
(https://github.

[2017-09-14 11:58] jpeg729 commented on #1208
Brilliant. Thanks for the effort!
I shall test it when becomes available in the "next" ppa.

[2017-09-14 16:06] giox069 opened #1276 "Problem with latest pthread cmake patch and address sanitizer"
When compiling with cmake flags `-DWITH_GCC_SANITIZE_ADDRESS=on`, the link phase fails with
[code]
@jabl can you help? If not, I will take a look when possible.
Thank you

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49337981-problem-with-latest-pthread-cmake-patch-and-address-sanitizer?utm_campaign=plugin&utm_content=tracker%2F43

[2017-09-14 19:43] jabl commented on #1276
Ugh. Thanks for the heads-up. I'll try to find some time for this tomorrow.

[2017-09-14 22:41] Andrew-Poloni opened #1278 "Remmina doesn't respect the `SSH Tunnel` `SSH authentication` `User name` setting"
Remmina version 1.2.0-rcgit-20 (git rcgit-20) running on Ubuntu 16.04.3 LTS

I've noticed (with some irritation) that Remmina always wants to replace the `User name` in the SSH Authentication section of the SSH Tunnel tab with the linux username, even when an existing connection is being edited and the value had been previously changed.  This requires that you go in and re-enter the user name for

[2017-09-15 05:58] antenore commented on #1278
I'm sorry for this. It should be fixed in the 'next' branch and we'll merge it ASAP.

I'd really appreciate if you could test it. Do you mind?

[2017-09-15 06:40] ic3d commented on #747
Hi @linxpatrick @blahule Thanks for your answers! I'm closing this issue. Feel free to open another issue if needed.

[2017-09-15 06:40] #747 closed

[2017-09-15 08:08] SergeyDjam opened #1279 "Remmina anytime disconnect smartcard in RDP"
Client - ROSA Linux Fresh 8.1/9
Remmina version - Remmina - Version 1.2.0-rcgit-20 (git rcgit-20)
Desktop environment - KDE
Connecting to Windows 8
Connecting via RDP (RDP/TLS)
RDP issues only, freerdp version (xfreerdp --version): FreeRDP version 2.0.0-dev (git n/a)

Anytime disconnected smartcard (eToken/ruToken).

We support Remmina 1.2+ versions only.
Please do not report bugs occurring on old