[2017-09-15 08:10] SergeyDjam opened #1280 "RDP session anytime crash"
Client - ROSA Linux Fresh 8.1/9
Remmina version - Remmina - Version 1.2.0-rcgit-20 (git rcgit-20)
Desktop environment - KDE
Connecting to Windows 2003 server
Connecting via RDP (RDP/TLS)
RDP issues only, freerdp version (xfreerdp --version): FreeRDP version 2.0.0-dev (git n/a)

Anytime RDP session crash

[2017-09-15 15:00] CryptoJones opened #1281 "WINPR_INCLUDE_DIR Set to not found"
With latest git clone on Centos 7.1, I received the following error;

CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
WINPR_INCLUDE_DIR
   used as include directory in directory /home/akclark/src/Remmina/remmina-plugins/rdp

<bountysource-plugin>

---
Want to back this is

[2017-09-15 15:49] #1235 closed

[2017-09-15 20:08] antenore commented on #1281
We have tested the latest FreeRDP without issues.

You must uninstall completely freerdp and remmina and also clean the build directory of FreeRDP and Remmina, only just after you can compile both and it should work.

I'm closing this because it's not a bug. If you need support reach us on G+, reddit or irc (on irc the next week).

[2017-09-15 20:08] #1281 closed

[2017-09-16 15:08] mfvescovi opened #1283 "Remmina 1.2.0-rcgit.20 fails to build from source on sparc64 box"
Hi!

few days ago I've introduced 1.2.0-rcgit.20 in Debian (in experimental suite, for now) and among the architectures (official or not) I have to test there's also [sparc64](https://wiki.debian.org/Sparc64), at the moment simply an unofficial one.

Now, as you can see at [Debian buildd on sparc64](https://buildd.debian.org/status/fetch.php?pkg=remmina&arch=sparc64&ver=1.2.0-rcgit.20-1&stamp=1505

[2017-09-16 17:42] MetaiR opened #1284 "support opensuse"
hello,
do you have any support for OpenSUSE?
because I found no document for install it on OpenSUSE

[2017-09-16 18:12] weberhofer commented on #1284
Hi! The easiest way is to open Yast and install the software. If you are a Tumbleweed user, you'll get the latest versions of remmina and freerdp, otherwise the versions might be a little bit older.
You can add the development project X11:RemoteDesktop using YaST (add install repository) to your repositories or use the terminal to update to the latest development version:
[code]

[2017-09-16 19:17] jabl commented on #1276
I looked briefly at it on Friday, but didn't really make any substantial progress. It seems in remmina/CMakeFiles.txt the CMAKE_THREAD_LIBS_INIT is empty and thus it fails to add -lpthread to the link. It didn't even help to redo the find_library(Threads) stuff there. I'll look into it some more next week.

[2017-09-16 20:02] MetaiR commented on #1284
so please put this simple thing on your installation document

[2017-09-17 09:14] #715 closed

[2017-09-17 09:15] #736 closed

[2017-09-17 09:16] #664 closed

[2017-09-17 09:16] #662 closed

[2017-09-17 09:17] #709 closed

[2017-09-17 09:25] ic3d commented on #784
Hi @vext01 @pommetjehorlepiep we're reviewing old issues, do yuo still get this one? We only support Remmina 1.2.* Thanks!

[2017-09-17 13:35] giox069 commented on #1276
Ok, found it!

-DWITH_GCC_SANITIZE_ADDRESS=on adds "-fsanitize=address" to CMAKE_C_FLAGS and then gcc also adds libasan to the cc link library list.
cmake's FindThreads search for the symbol "pthread_create" in all current default libraries by trying to compila a small program that uses pthread_create. Cmake finds "pthread_create" symbol inside libasan, and FindThreads deduces that no extra "-lptr

[2017-09-17 13:36] #1276 closed

[2017-09-17 19:19] ic3d commented on #798
Hi @avoidik we're reviewing old open issues? Do you still get this one? Now, we only support Remmina 1.2.* branch. Thanks!

[2017-09-18 07:11] jabl commented on #1276
I think this is the correct solution for existing cmake versions. I found a cmake issue where this was discussed at https://gitlab.kitware.com/cmake/cmake/issues/16609 and added a note there.

Thanks!

[2017-09-18 07:28] mfvescovi commented on #1283
Hi!

A new compilation on the [sparc64 buildd](https://buildd.debian.org/status/fetch.php?pkg=remmina&arch=sparc64&ver=1.2.0-rcgit.20-2&stamp=1505717531&raw=0) machines showed that the issue was temporary and now it builds fine. Thus closing.

[2017-09-18 07:28] #1283 closed

[2017-09-18 15:05] kunkku commented on #1175
My scenario involves connecting to an RDP server which is accessible only in an organization's intranet. Most of the time, the server replies with a redirection message, which includes the DNS name of another server. This is a private DNS name that can be resolved only by the organization's internal DNS servers. Also the initial connection is made using an private DNS name, which resolves just fin

[2017-09-18 18:19] Andrew-Poloni commented on #1278
No worries at all, it's a *very* minor thing.  Be delighted to give the
fix a whirl.

|==============================>
| Andrew M. Poloni
| 36538 Snickersville Tpke.
| Purcellville, VA.  20132-4258
| (610) 212.7452 (cell)
|==============================>
| andrew.m.poloni@gmail.com
|==============================>

On Fri, Sep 15, 2017 at 1:58 AM, Antenore Gatta <notifications@github.com>
wrote:

[2017-09-19 06:40] giox069 commented on #1280
This seems to be a duplicate of issue #1270, which is in turn a FreeRDP problem. We will update libfreerdp on the PPA as soon as we release Remmina 1.2.0-rcgit-21.

[2017-09-21 09:11] avoidik commented on #798
I'll close this issue

[2017-09-21 09:11] #798 closed

[2017-09-22 12:02] gnegno commented on #1208
I went to "Keyboard Preferences / Layouts / Options / Caps Lock key behavior" and selected "Make Caps Lock an additional Ctrl".

[2017-09-22 22:14] julian-alarcon opened #1288 "Snap Remmina is not launching - AppArmor/Snap"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version):
* Remmina version (remmina --version):
* Desktop environment (GNOME, Unity, KDE, ..):
* Connecting to (OS and version):
* Connecting via (RDP, VNC, ...):
* RDP issues only, freerdp version (xfreerdp --version):

[2017-09-23 15:48] ic3d commented on #1152
Hi @justinabrahms we are reviewing old open issues. Do you still get this one? Thanks!

[2017-09-23 15:50] justinabrahms commented on #1152
Honestly, I stopped using RDP due to the flakiness. Now I use xorg and it's
more stable, though not perfect. Feel free to closenif you want.

On Sat, Sep 23, 2017 at 8:48 AM Dario Cavedon <notifications@github.com>
wrote:

--
Sent via mobile phone.

[2017-09-23 15:51] ic3d commented on #1199
I'm closing this issue because our PPA is still there. :) Let us know if there are any other problem!

[2017-09-23 15:52] #1199 closed

[2017-09-23 16:14] ic3d commented on #1191
Hi @hyperion1209 I've just seen that FreeRDP issue is closed. Do you think we can close this one too?

[2017-09-23 16:21] ic3d commented on #1183
Hi @jocutajar this issue should be fixed? Can you confirm?

[2017-09-23 16:24] ic3d commented on #1019
Hi @galdwulf @ptempier @mabico this issue should be fixed, can you confirm? Thanks!

[2017-09-23 16:35] ic3d commented on #1137
Hi @yselkowitz I've seen this issue is still open? Can you confirm that we can close it? Thanks!

[2017-09-23 16:39] ic3d commented on #1147
Hi @abhijit86k I'm closing this issue, feel free to open it again if needed. Thanks!

[2017-09-23 16:39] #1147 closed

[2017-09-23 17:14] ic3d commented on #1098
Hi @dankasak we are reviewing old open issues, can you confirm this one is now fixed? Thanks!

[2017-09-23 17:18] ic3d commented on #1158
I'm closing this issue because it's a closed FreeRDP one. Feel free to open it again if needed.

[2017-09-23 17:18] #1158 closed

[2017-09-23 17:52] giox069 commented on #943
Duplicate of issue #785, already fixed. Closing.

[2017-09-23 17:52] #943 closed

[2017-09-23 18:21] ic3d commented on #1194
Hi @darklajid we're reviewing old open issues. Do you still get this one? Thanks!

[2017-09-23 18:39] ic3d commented on #1152
@justinabrahms thanks for your prompt answer. I'm closing this issue. Feel free to open it again (if you'll ever use Remmina again! :-) )

[2017-09-23 18:39] #1152 closed

[2017-09-23 18:44] ic3d commented on #1166
I'm closing this issue because it's a (closed) FreeRDP one.

[2017-09-23 18:44] #1166 closed

[2017-09-23 18:53] ic3d commented on #1171
Hi @facboy we're reviewing old open issues. Do you still get this one? Thanks!

[2017-09-23 20:24] antenore commented on #1035
Fixed in the last PR. It'll be available in "next" in few minutes or in the rcgit-21, hopefully in a couple of weeks.

[2017-09-23 20:39] #1035 closed

[2017-09-23 20:47] antenore commented on #1035
Yes! It took me less than year closing this bug!!!!

Sorry for this guys...

[2017-09-23 21:03] antenore commented on #1279
Hi Sergey, can you test with xfreerdp and let me know if you have the same issue?

[2017-09-24 04:12] yselkowitz commented on #1137
This was released with 1.2.0-rcgit.19, so AFAICS this can be closed.

[2017-09-24 04:12] #1137 closed

[2017-09-24 09:44] zozi56 commented on #983
I have the same issue as the previous poster. My configuration is the same, except for Remmina which is rcgit-20.

[2017-09-24 14:04] david300m commented on #1194
Hello. Thanks for checking back. I have not used it since then. I will
ensure it's updated and try again today. Will let you know. Thanks
David

David Paul
309.339.1278

On Sat, Sep 23, 2017 at 11:21 AM, Dario Cavedon <notifications@github.com>
wrote:

[2017-09-25 14:24] loftwyr opened #1291 "Crash on cut and paste from client to host (shared) directory"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client:  Kubuntu 1704
* Remmina version (remmina --version): Remmina - Version 1.2.0-rcgit-20 (git 55fb3aa)
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Win 2008 64bit
* Connecting via (RDP, VNC, ...):

[2017-09-25 14:37] giox069 commented on #1291
I think this is a problem of the remmina snap version. If you can, please remove it and install the "native" PPA version. Instructions to install the PPA version are on the [wiki](https://github.com/FreeRDP/Remmina/wiki).

[2017-09-25 14:38] giox069 commented on #1288
I think this is a problem of the remmina snap version. If you can, please remove it and install the "native" PPA version. Instructions to install the PPA version are on the wiki.

[2017-09-25 14:56] loftwyr commented on #1291
Yep, that worked around it.

[2017-09-25 15:48] facboy commented on #1171
I believe it was fixed in Fedora by patching libvncserver (discussion in redhat link above).

[2017-09-25 15:48] #1171 closed

[2017-09-25 18:47] julian-alarcon commented on #1288
I already installed the PPA version with no problems. Yes, It's a snap issue. I hope that somebody can found the reason and fix the bug.

[2017-09-25 19:42] ic3d commented on #766
I'm closing this issue because it probably affects an old version of Remmina. Feel free to open it again if needed.

[2017-09-25 19:43] ic3d commented on #775
Thanks @randygrolemund-tv. I'm closing this issue because it probably affects an old version of Remmina. Feel free to open it again if needed.

[2017-09-25 19:44] ic3d commented on #777
I'm closing this issue because it probably affects an old version of Remmina. Feel free to open it again if needed.

[2017-09-25 19:45] ic3d commented on #784
I'm closing this issue because it probably affects an old version of Remmina. Feel free to open it again if needed.

[2017-09-25 19:46] ic3d commented on #806
I'm closing this issue, feel free to open it again if needed.

[2017-09-25 19:47] #806 closed

[2017-09-25 19:49] ic3d commented on #810
Hi @vext01 @kero99 @piktor @ahttvy we're reviewing old issues, do yuo still get this one?

[2017-09-25 19:50] ic3d commented on #820
Hi @vext01 @freddyrv we're reviewing old issues, do yuo still get this one? Thanks!

[2017-09-25 19:55] ic3d commented on #844
Hi @sqlsolver we're reviewing old issues, do yuo still get this one?

[2017-09-25 19:57] ic3d commented on #850
Hi @vext01 @Aleksey-Maksimov @sashasaturn we're reviewing old issues, do yuo still get this one? We only support Remmina 1.2.* Thanks!

[2017-09-25 20:01] ic3d commented on #863
Didn't find any open issue in FreeRDP - this issue should reported there.

[2017-09-25 20:03] ic3d commented on #867
Hi @cjscholten we're reviewing old open issues. Did you try @antenore suggestion? Do you still get this one? Thanks!

[2017-09-25 20:04] ic3d commented on #869
Hi @ryantate13  we're reviewing old open issues. Do you still get this one? Thanks!

[2017-09-25 20:08] ic3d commented on #968
Hi @furai @kowash we're reviewing old open issues. Do you still get this one? Thanks!

[2017-09-25 20:09] ic3d commented on #974
Hi @furai @mystica555 we're reviewing old open issues. Do you still get this one? Thanks!

[2017-09-25 20:11] ic3d commented on #981
Hi @dark-penguin we're reviewing old open issues. Do you still get this one? Thanks!

[2017-09-25 20:34] giox069 commented on #1275
I think the same feature has already been requested in issue #6.
Currently making this happens automatically on remmina is very hard because the remmina connection window is created AFTER opening the connection to the server and sending it the desired remote desktop resolution. We should change the order of operation, but it will break almost all plugins.
But there is a couple of good news:
1. You

[2017-09-25 21:12] box293 commented on #981
When I was testing the color_schemes branch recently this was still a problem, needed to restart for it to take effect.

[2017-09-25 22:04] antenore commented on #981
Gosh... I forgot about this :-\

I'll take it.

[2017-09-26 18:42] sqlsolver commented on #844
I deleted that VM, so probably best to close the issue. Great that you're
actively developing though, as there aren't lots of good options for RDP
clients in Linux.

*Please visit www.sqlsolver.com <http://www.sqlsolver.com/>*
* <http://www.sqlsolver.com/>530-237-4SQL*

On Mon, Sep 25, 2017 at 12:55 PM, Dario Cavedon <notifications@github.com>
wrote:

[2017-09-26 19:45] ic3d commented on #844
Thanks for your answer. Feel free to open this issue again if needed.

[2017-09-26 19:45] #844 closed

[2017-09-26 20:20] antenore commented on #815
I've implemented it.

If it's not what you were looking for or if you have issues, let me know.

Within gnome-shell the notifications works in a weird way. We've found that in all desktop environments, but gnome, the notifications works as "the user" expect/want it.

[2017-09-27 04:07] metafarion commented on #807
A related recent discovery: If the RD Gateway credentials are saved in the connection profile but the RDP host credentials are not, then Remmina prompts the user for the password.  So far so good.

HOWEVER, if the user enters an incorrect password in this prompt, the saved RD Gateway credentials are removed from the connection profile, resulting in a de-facto authentication failure on the next att

[2017-09-27 06:50] #1139 closed

[2017-09-27 10:09] mfvescovi opened #1293 ""--connect" parameter needs full path to .remmina file"
On Debian bug report [#835841](https://bugs.debian.org/835841) it was asked for this feature/enhancement.

Please, consider adding this to some release, in the future.

Thanks.

[2017-09-27 20:04] giox069 commented on #1293
Here is the original text of debian bug report [#835841](https://bugs.debian.org/835841):

One problem here is that we can have many different profiles with the same "name=foo" set.
Which one will we choose?

[2017-09-27 21:10] antenore commented on #1293
-connect=group.name
Maybe also making name a unique value.

Honestly I'd even change how we save the files, but in a future release.

So now let's use group.name and the last one added will be chosen.

For the future I'd like to have name.remmina files saved under "group" folders.

This is the best because it'll be easier to manage the remmina_main. It'll like a file manager.

[2017-09-28 18:38] Higuitar99 commented on #442
+1 for this feature, like microsoft's mstsc.

[2017-09-29 13:47] chnusti opened #1295 "RDP Sessions disappear suddenly in Wayland when switching Workspace"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Fedora 26
* Remmina version (remmina --version): 1.2.0-rcgit-20
* Desktop environment (GNOME, Unity, KDE, ..): Gnome-Shell
* Connecting to (OS and version): Windows 7
* Connecting via (RDP, VNC, ...): RDP
* RDP i

[2017-09-29 14:13] antenore commented on #1295
I've already seen this issue, but on Red Hat EL 6.1 and Gnome as DE, but we have never found what is causing it. It looks like the window is outside the screen area and therefore not visible.

 He finally switched to xfce4, bit of course I'm not advising to do the same.

As I cannot reproduce the problem I don't know how to help out.

I'd probably use ```xprop``` to get the window id of remmina be

[2017-09-29 14:37] chnusti commented on #1295
Nope. I've already tried to start remmina from terminal but there is no output at all.
On the other hand if the window would be out of screen I should still see the window somewhere. like in the open programs bar, isn't it?

However, this is pretty annoying.

[2017-09-29 15:14] vpmuhsin opened #1296 "Remmina VNC viewer window become freeze or unresponsive if remote Ubuntu pc connection dropped or shutdown"
Ubuntu 14:- Remmina VNC viewer window become freeze or unresponsive if remote Ubuntu pc  connection dropped or shutdown.. then we have to Kill remmina process then only we can make new connection...Problem is already accessed other remote connections again need to reconnect....any solutions..!!??  thanks

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.boun

[2017-09-29 15:33] antenore commented on #1295
Sure it is, I've the same setup and I'm testing

[code]

The only difference is that I compile freerdp and remmina by myslef

Are you using Wayland? How did you install remmina and freerdp?

[2017-09-29 15:33] giox069 commented on #1296
Which version of remmina are you using?

[2017-09-29 15:57] vpmuhsin commented on #1296
its 0.9.99.1..coming as default one from Ubuntu 14.04.5 version

[2017-09-29 17:19] erichoog commented on #1233
@antenore I'm on Version 1.2.0-rcgit-20 (git rcgit-20) and the issue doesn't seem to be resolved.

Should I reopen it?

[2017-09-29 18:14] giox069 commented on #1296
Please upgrade to the latest version, 1.2.0-rcgit.20.
Use our Ubuntu PPA as explained on our [wiki](https://github.com/FreeRDP/Remmina/wiki).

[2017-09-29 19:32] trondhindenes commented on #1275
Nice, thanks for the feedback! I'll have a look at compiling remmina to test out the feature branch. As this is already tracked, I'm fine to have this issue closed.

[2017-09-29 19:42] giox069 commented on #1275
@trondhindenes: just a small update: the branch dynamicres has already merged on our default branch (called "next"). So the feature will be available on the .21 release of remmina.
In 1-2 days we should be able to have a working daily PPA for ubuntu, called "remmina-next-daily", so you can also avoid to compile remmina if you use it.

[2017-09-30 15:51] ic3d commented on #1194
@david300m do you have any news?

[2017-09-30 15:52] #784 closed

[2017-09-30 15:52] #777 closed

[2017-09-30 15:53] #766 closed

[2017-09-30 15:53] #775 closed

[2017-09-30 18:36] jef-n commented on #937
BTW not only worked in VNC, but also in RDP.

[2017-09-30 20:46] ic3d commented on #1252
Hi @pstez84 we support Remmina 1.2+ versions only. Please give us some details about the systems you are using:

Client (OS name and version):
Remmina version (remmina --version):
Desktop environment (GNOME, Unity, KDE, ..):
Connecting to (OS and version):
Connecting via (RDP, VNC, ...): RDP
RDP issues only, freerdp version (xfreerdp --version):

Thanks!

[2017-09-30 20:59] antenore commented on #1233
Really weird, I'm sure I've tested this ...

[2017-09-30 21:15] erichoog commented on #1233
Is there anything I can try? I was downloading this package from the Arch AUR but I can try building the next branch and see if it is working maybe

[2017-09-30 22:43] antenore commented on #1233
No, because it's really not working, also in the development branch.

I'll fix it in the next minutes hopefully, but you won't be able to test it till the next release.

As you are using Arch the AUR package should be updated, even if the version number often is not correct.

I'll keep updated, thanks for your support!

[2017-09-30 23:00] erichoog commented on #1233
Awesome sounds good, I thought that about the package on the AUR [https://aur.archlinux.org/packages/remmina-git](url) it shows version remmina-git 1.2.0.rcgit.18.r51.g2c0a77e12-1 but when I clone the repo there and check the PKGBUILD it does show that it's getting the next branch of the official remmina repo.

Thanks again for looking at this, hoping to help more as well just still have alot to l

[2017-09-30 23:09] antenore commented on #1233
:-)
It's easier than you think, I'm not a developer (well it's quite obvious that I'm not :-P ), and I keep trying till it works.

Maybe you can help out managing the AUR package? There is very little to do, like keeping the version updated, but I don't know what is needed to do to become a package maintainer

[2017-09-30 23:12] antenore commented on #815
I've implemented this in another way.
Now the floating toolbar pop up everytime you switch profile, to immediately (1 second later) disappear.
This is enough to see the server name.

[2017-09-30 23:12] #815 closed

[2017-09-30 23:39] antenore commented on #1233
I need some more time to fix it.

[2017-09-30 23:54] antenore commented on #1233
Done, it's in next already.
I close this again, but don't hesitate to reopen it.

[2017-09-30 23:54] #1233 closed

[2017-10-01 00:49] nigel33434 opened #1298 "Unsolvable dependencies on Debian 9"
I'm trying to install Remmina 1.2 on Debian 9.1 and getting this issue:

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49921907-unsolvable-dependencies-on-debian-9?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_c

[2017-10-01 08:00] giox069 commented on #1298
As far as I know, there is no Remmina in debian 9/9.X distributions. Maybe you are using an old or wrong /etc/apt/sources.lists ? You cannot install ubuntu's PPA packages on Debian.
Some info in our [blog post](http://www.remmina.org/wp/the-three-1-ways-to-get-remmina-on-debian-9-stretch/).
We are working on it with the maintainers of Debian, and the latest Remmina is already in unstable/sid. Mayb

[2017-10-01 18:25] #485 closed

[2017-10-02 09:39] AlinGabriel commented on #165
this issue still persisting, worked after @quasarj explanation. Thank you!

[2017-10-03 05:07] chnusti commented on #1295
yes, I'm using wayland.
I installed freerdp from fedora repo.
probably I could try to install from source?

[2017-10-03 08:21] vpmuhsin commented on #1296
its worked now in 1.2 version..thanks alot

[2017-10-03 08:47] #1296 closed

[2017-10-03 13:17] david300m commented on #1194
I am trying this morning. So far, it seems very responsive. No flickering
yet. I will use it today and report back. Thanks for being persistent.
Regards
David

David Paul
309.339.1278

On Sat, Sep 30, 2017 at 8:51 AM, Dario Cavedon <notifications@github.com>
wrote:

[2017-10-03 15:47] ComputingFroggy opened #1300 "copy / paste and charset"
* Client (OS name and version): Xubuntu 16.04
* Remmina version (remmina --version): 1.2.0-rcgit-20
* Desktop environment (GNOME, Unity, KDE, ..): XFCE
* Connecting to (OS and version): Windows
* Connecting via (RDP, VNC, ...): RDP (& VNC as well)
* RDP issues only, freerdp version (xfreerdp --version): xfreerdp is not installed

Whe I copy/paste from my Linux program to my RDP (Windows 2012) sess

[2017-10-03 16:30] ColbyC opened #1301 "SFTP identity File"
Please give us some details about the systems you are using:
* Client (OS name and version):  Ubuntu 17.04 64-bit

* Remmina version (remmina --version):

StatusNotifier/Appindicator support: not supported by desktop. libappindicator will try to fallback to GtkStatusIcon/xembed
Remmina - Version 1.2.0-rcgit-20 (git rcgit-20)

* Desktop environment (GNOME, Unity, KDE, ..): GNOME

* Connecting to (O

[2017-10-03 16:48] david300m commented on #1194
I've been using it for a few hours and no issues, no flickering tiles. I am
running 4K at full settings. Response is much better than before. Nice job.
I'll start using this over KRDC.
Many thanks
David

David Paul
309.339.1278

On Tue, Oct 3, 2017 at 6:17 AM, David Paul <dave.paul@gmail.com> wrote:

[2017-10-03 18:33] antenore commented on #1301
As a temporary workaround, does it crash with auto?

[2017-10-03 19:16] ColbyC commented on #1301
Auto meaning? It does not crash and works with password authentication.

[2017-10-03 19:31] antenore commented on #1301
Publick key (auto)

![image](https://user-images.githubusercontent.com/5975/31144829-226bdc2c-a882-11e7-8d1c-7fd992ec706a.png)

[2017-10-03 19:47] antenore commented on #1301
I cannot reproduce it, but I'm testing the branch "next", that will be released in few weeks. It could be that the problem has been already fixed.
It'd be great if you could test as well the branch 'next', so that we can eventually fix this problem if it still persists.
In our wiki there is everything is needed to compile it.

[2017-10-03 20:11] ColbyC commented on #1301
It does not work, It Crashes

[2017-10-03 20:26] ic3d commented on #1194
Hi @david300m you're welcome! Happy to know that everything's fine, closing this issue.

[2017-10-03 20:27] #1194 closed

[2017-10-04 11:31] boistordu opened #1302 "no rdp in the window option and no remmina command available in terminal"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): debian 9 stretch in qubesOS
* Remmina version (remmina --version): 1.2.0-rcgit-20
* Desktop environment (GNOME, Unity, KDE, ..):  don't know, not applicable
* Connecting to (OS and version):
* Connecting via (RDP

[2017-10-04 11:33] boistordu commented on #1302
you shouldnt' put the ln in /usr/local/bin but in /usr/bin
that's more like it to work

still RDP ooption

[2017-10-04 12:03] giox069 commented on #1302
There are no precompiled package for Debian 9. Which ,deb packages are you using?

[2017-10-04 12:06] boistordu commented on #1302
none i've compiled with your wiki

[2017-10-04 12:13] giox069 commented on #1302
Every linux distribution, include Debian, has /usr/local/bin in the PATH, so when you type "remmina" it should work. Try to reboot your PC and see if it changes.
If it does not work after reboot, type the following commands on a terminal and copy&paste the output here
[code]
About the icon: the compilation instructions are for developers/tester. Desktop integration is another matter and should be

[2017-10-04 12:14] boistordu commented on #1302
im under qubesOS
but anyway as I said it s not that the problem anymore isnce i've added another symbolic link to /usr/bin

Heree the problem is the integration between RDP and remina

[2017-10-04 12:23] boistordu commented on #1302
So let's take to the ground level, how the freerdp integration is done in remmina?

[2017-10-04 12:24] boistordu commented on #1302
I guess it's not by a symbolic link? Because if it is it s a really shitty way to do it in place of doing some library in it

[2017-10-04 15:18] antenore commented on #1302
You just cannot install Remmina on top of Qubes OS as you are doing, before of playing with the internals of Qubes OS, that is an amazing OS, you should learn the basics of developing software on a Unix like OS.

I kindly advice you to test Remmina on a supported OS.

I'm closing this because it's not a bug report, if you need help on Qubes OS you can try posting on reddit (r/Qubes) or their Faceb

[2017-10-04 15:31] boistordu commented on #1302
I think you don't understand what I did....
First I've asked you a simple question: how FreeRDP is implemented or linked in Remmina?
Second, I'm not installing remmina on top of QubesOs but in a debian 9 template.
Fact is that /usr/loca/bin/ doesn't proper link in bash to a auto completion command
But that's a marginal problem.
The real problem here is how is FreeRDP is linked to Remmina since I d

[2017-10-04 15:32] boistordu commented on #1302
So Before to interpretate something that's not accurate , please do ask question...
And For your information I've tested the same thing in a totally different debian virtualmachine on another host and I have the same result so .... ?

[2017-10-04 15:35] boistordu commented on #1302
Plus it's totally out of range and you are saying just something absurd, we don't and we never do because we can't besides by tricky things, install something on top of QubesOS

[2017-10-04 15:48] antenore commented on #1302
I've got what you have tried to do, but still we cannot try to help you if you don't provide traces/logs/output of what you have done and the errors you have encountered so far.

The FreeRDP libraries are dynamically linked to Remmina during the compilation time, so if you read the compilation output, you'll probably find that Remmina cannot find the FreeRDP package, why? Because you din't execute

[2017-10-04 16:01] boistordu commented on #1302
Great finally something constructive. So you've based your code on a link during the compilation, finally we go forward.

Okey I've not noticed any error during the compilation which is kinda odd.
I've test it FreeRDP before to compile the remmina source and it worked, kinda, it told me an error when I've tried to auth me on a windows server 2016 so I was guessing it was a problem with my password

[2017-10-04 16:05] antenore commented on #1302
You will see at the end of the cmake phase while compiling remmina.
We don't use directly the xfreerdp binary, but the FreeRDP libraries.

[2017-10-05 16:25] ic3d commented on #515
Closing this issue because it probably affects an old version of Remmina. Feel free to open it again if needed.

[2017-10-05 16:25] #515 closed

[2017-10-05 16:37] ic3d commented on #722
I'm closing this issue, assuming it's fixed. Feel free to open it again if needed.

[2017-10-05 16:37] #722 closed

[2017-10-05 16:41] ic3d commented on #810
I'm closing this issue because it probably affects an old version of Remmina. Feel free to open it again if needed.

[2017-10-05 16:42] ic3d commented on #820
I'm closing this issue because it probably affects an old version of Remmina. Feel free to open it again if needed.

[2017-10-05 16:43] ic3d commented on #850
I'm closing this issue because it probably affects an old version of Remmina. Feel free to open it again if needed.

[2017-10-05 16:47] ic3d commented on #864
Hi @imperimus @fknipp this issue should now be fixed (see issue #124 ). Can you confirm? Thanks!

[2017-10-05 16:48] ic3d commented on #867
I'm closing this issue because it probably affects an old version of Remmina. Feel free to open it again if needed.

[2017-10-05 16:48] ic3d commented on #869
I'm closing this issue because it probably affects an old version of Remmina. Feel free to open it again if needed.

[2017-10-05 16:57] ic3d commented on #914
Since this issue is a packaging one only on Fedora 24, and F24 it reached end of life in 2017-08-08, we can close this issue.

[2017-10-05 18:58] #1266 closed

[2017-10-05 19:08] giox069 commented on #357
@swamp-fish I'm closing this thread because it's too old and refers to the old scaling code which no longer exists in current remmina. If you are still having problem with scaling in the latest released version of remmina (currently 1.2.0-rcgit.20), please open another issue.

[2017-10-05 19:08] #357 closed

[2017-10-05 19:16] giox069 commented on #1300
The problems seems to be only on the VNC plugin: I can confirm that non ascii character are not correctly handled in copy & paste operation from the client to the VNC server. I'm using TightVNC server under Windows 10.

[2017-10-05 19:40] giox069 commented on #1054
@wsgcsysadmin do you still have this issue in remmina 1.2.0-rcgit.20 ?

[2017-10-06 06:57] giox069 commented on #1300
I have just merged a fix. It will be available in the next release of remmina (1.2.0-rcgit.21). If you want to test the fix before the release, you can use our remmina-next-daily PPA (warning: the remmina-next-daily PPA is unstable and may break :)).
Please also note that the VNC clipboard only allows latin-1 (ISO-8859-1 western european) charset characters.

[2017-10-06 06:57] #1300 closed

[2017-10-06 09:33] giox069 commented on #1264
@frankdrum can I close this issue? Did you checked the current authentication type of authentication?

[2017-10-06 10:01] giox069 commented on #1086
An update to track this issue: Wayland protocols for capturing keyboard have been released in [wayland-protocols 1.9](https://lists.freedesktop.org/archives/wayland-devel/2017-July/034459.html) in July 2017.
Now we should wait for an implementation on both GTK+, function gdk_seat_grab(), and the compositor.

[2017-10-06 10:33] frankdrum commented on #1264
Sorry,
Yes. Solved
Thank you

Il 06 Ott 2017 11:33, "Giovanni Panozzo" <notifications@github.com> ha
scritto:

[2017-10-06 13:27] #1264 closed

[2017-10-06 14:39] OliverO2 opened #1304 "Screenshot contains only background color unless Remmina is in fullscreen mode"
With Remmina in window mode, screenshots contain only the background color. In fullscreen mode screenshots work as expected. Remmina correctly displays the screen contents in both cases, it's just the screenshot that doesn't work in window mode.

* Client (OS name and version): Ubuntu 16.04.3 LTS
* Remmina version (remmina --version): 1.2.0-rcgit-20 (git rcgit-20)
* Desktop environment (GNOME, Uni

[2017-10-06 15:37] giox069 commented on #1011
As workaround: set the GTK3 theme under KDE to "Adwaita".
This can be done by editing the file ~/.config/gtk-3.0/settings.ini and change the line
`gtk-icon-theme-name=XXXX`
to
`gtk-icon-theme-name=Adwaita`

[2017-10-06 17:03] ic3d commented on #916
Hi @yuriw @abeidson we're reviewing old open issues, do you still get this issue? Thanks!

[2017-10-06 17:08] yuriw commented on #916
@ic3d no my copy/paste working fine Windows 10/Ubuntu 16.04

[2017-10-06 17:08] ic3d commented on #921
Hi @he-loop we're reviewing old open issues, do you still get this one? Thanks!

[2017-10-06 17:48] giox069 commented on #1301
@ColbyC if you are using the "remmina-next" PPA, you can try to switch to the "remmina-next-daily" PPA to get updated remmin (but in "testing" quality).

[2017-10-06 19:31] giox069 commented on #1224
I have just pushed a [fix](https://github.com/FreeRDP/Remmina/commit/bcdfa2ddf4c241cede66ead961d367e6964ff3fa) on the "next" branch. Please check it, if you can, thank you.

[2017-10-06 20:04] abeidson commented on #916
After I upgraded to Fedora 25 the issues I had disappeared. I recently
upgraded to Fedora 26 and it has been just as stable.

Thank you

On Fri, Oct 6, 2017 at 10:08 AM, Yuri Weinstein <notifications@github.com>
wrote:

[2017-10-06 20:37] giox069 commented on #1278
This is a duplicate of issue #1255, already fixed in commit https://github.com/FreeRDP/Remmina/commit/435f8269aa88a6f4c274f1f43d9e8471d91a88c7
Please wait the release ot remmina 1.2.0-rcgit.21 into the remmina-next PPA, or test it using the remmina-next-daily (only for testing) PPA.

[2017-10-06 21:09] Inglebard commented on #1224
Hi,
I just test and it works as expected.
Thanks.

[2017-10-06 21:13] #1224 closed

[2017-10-06 22:05] ComputingFroggy commented on #1300
Thanks, I will wait for the next version, to be released.

[2017-10-06 22:26] trondhindenes commented on #1275
sweet! Will check that out!

[2017-10-07 10:45] #916 closed

[2017-10-08 16:54] ic3d commented on #923
Hi @MaFreiberger we're reviewing old open issues, do you still get this one? Thanks!

[2017-10-08 16:56] ic3d commented on #927
Closing because it's a duplicate.

[2017-10-08 16:56] #927 closed

[2017-10-08 16:58] ic3d commented on #938
Hi @ringe we're reviewing old open issues, do you still get this one? Thanks!

[2017-10-09 08:50] CS-JS opened #1305 "Tab size - SSH Sessions"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Kubuntu 16.04.3
* Remmina version (remmina --version): Remmina - Version 1.2.0-rcgit-21 (git rcgit-21)
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Windows (RDP) and Debian

[2017-10-09 09:13] giox069 commented on #1305
The problem is with the default theme (breeze) for KDE. As a workaround, read my post on issue #1011.

[2017-10-09 09:17] CS-JS commented on #1305
Works perfectly, thanks :) The Icons even look better!

[2017-10-09 09:17] #1305 closed

[2017-10-09 09:47] ringe commented on #938
Hi @ic3d I don't get this one on Ubuntu 17.04 and Remmina 1.1.2

[2017-10-09 09:47] #938 closed

[2017-10-09 12:59] wsgcsysadmin commented on #1054
I have not had the problem for quite some time now. Thanks.

[2017-10-09 12:59] #1054 closed

[2017-10-10 09:31] boistordu commented on #1302
I think in 2 or 3 days or so I will have the possibility to really test it and give you some results.

[2017-10-10 17:56] erichoog commented on #938
I have a similar issue to what the OP has posted here.

When I use the full screen option the connection will go fullscreen on whatever Monitor that the main Remmina window is located on, rather than going fullscreen on the window which the current Remmina connection window is located.

I am not adding a new screen but what I do is open Remmina and log into two different Windows machines all on my

[2017-10-10 18:50] Lonniebiz opened #1307 "Resolution and Passwords Not Saving in Connection Profiles"
In Ubuntu 16.04.3, recent Remmina Next updates have disabled Remmina's ability to properly save user-prescribed resolution settings in connection profiles.

Saving [these settings](http://neartalk.com/ss/2017-10-10_003_859x640.png), to anything different than default, does not persist. Subsequent connection attempts will connect at 800X600 resolution instead of honoring the settings you've saved.

[2017-10-10 19:05] giox069 commented on #1307
Are you using the ubuntu PPA or the SNAP version?

Resolution: I'm unable to reproduce the problem but please consider the following: if you enabled "dynamic resolution update" by pressing the following button (available only when connecting to win 8.1/server 2012R2 or newer)
![immagine](https://user-images.githubusercontent.com/5477803/31404839-80580ace-adfd-11e7-843d-3ecda09a5cef.png)
then the r

[2017-10-10 19:25] antenore commented on #1307
Hi Lennie! Can you also tell us precisely wich remmina version?

Just to know as we have released yesterday a new version.

Thank you

[2017-10-10 19:35] antenore commented on #1307
My bad!!! You are right.

"Save & Connect" always work, but not "Save". Password are always stored on the other hand.

So, yes, this is a bug, in the meanwhile, can you please use "Save and Connect" till we won't fix it?

Thanks and sorry for this!

[2017-10-10 21:04] Lonniebiz commented on #1307
@giox069 : We are using the PPA in 16.04.3, installed like this:
sudo apt-add-repository ppa:remmina-ppa-team/remmina-next ; sudo apt-get update ; sudo apt-get install remmina remmina-plugin-rdp

The "dynamic resolution update" is not enabled.

Sorry about mentioning two issue in one post, but both "passwords" and "resolution" are located very closely together on the profile form and both seem to

[2017-10-10 23:49] boistordu commented on #1302
It worked.
So I think it's publishing step of the lib directory that went wrong the first time.
And I have made that mistake I think because I've wrongly understood your wiki. the part "for Ubuntu x64" at step 7.... it's the same thing on debian but I thought you were saying that to prevent to use that line but just to give us the example of ubuntu.
thanks for the help anyway.

[2017-10-10 23:49] #1302 closed

[2017-10-11 07:05] ic3d commented on #938
Hi @erichoog please open a new issue, since this one is closed. Thanks!

[2017-10-11 09:15] antenore commented on #1302
Cool! Good to here it.
If you want you're free to improve the wiki.
We're not English mother tongue, so we make mistakes.

[2017-10-11 16:56] joo0ne opened #1310 "Shared file timestamp"
* Client (OS name and version): Debian GNU/Linux buster/sid
* Remmina version (remmina --version): Version 1.2.0-rcgit-20 (git rcgit-20)
* Desktop environment (GNOME, Unity, KDE, ..): xfce
* Connecting to (OS and version): Windows Server 2008 R2
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version): 1.1.0-beta1 (git n/a)

Files and folders timestamps become

[2017-10-11 17:41] giox069 commented on #1310
Confirmed, I can see files with 4-8 minutes of difference. I opened an issue to the freerdp team, see [FreeRDP issue #4173](https://github.com/FreeRDP/FreeRDP/issues/4173).

[2017-10-11 19:16] antenore commented on #1307
Closed via #1308

[2017-10-11 19:16] #1307 closed

[2017-10-11 20:50] NTMan commented on #863
Reminna: 1.2.0-rcgit-20 (git rcgit-20)

bug still not fixed

![screenshot from 2017-10-12 01-39-25](https://user-images.githubusercontent.com/200750/31466168-abe8bccc-aeef-11e7-85f6-8fae15f23b8e.png)

[code]

[2017-10-11 21:09] antenore commented on #863
Thanks @NTMan . Please open a bug to the FreeRDP team with the same BT but with xfreerdp if you can, than link that issue with this one (just add a link to this issue).

Thanks!!!!

[2017-10-11 21:35] NTMan commented on #863
link to xfreerdp bug: https://github.com/FreeRDP/FreeRDP/issues/4174

[2017-10-11 21:36] antenore commented on #863
Thanks @NTMan !

[2017-10-12 01:31] jocutajar commented on #1183
Hi @ic3d , I don't have access to the machines for next few months.

[2017-10-12 08:08] angerangel opened #1312 "libwinpr.so.2 dependcy missing"
Hi,
libfreerdp package changed some names, so insert also to update the package **libfreerdp-plugins-standard** otherwise the last version of remmina will hang or crash immediately.

For example on my distribution I need to upgrade to **libfreerdp-plugins-standard**  to version

     2.0.0~git201710051313-0+remmina201710051517.r73647ad.d0f49046~ubuntu14.04.1

[2017-10-12 12:28] hubutui commented on #1058
I can confirm this issue, too. remmina version 1:1.2.0rcgit.21.

[2017-10-12 12:41] giox069 commented on #1058
Just a copuple of questions:

- The "Grab all keyboard events" icon on the toolbar, is enabled or not?
- Confirm me that you are running under Xorg and not Wayland

thank you

[2017-10-12 12:45] ic3d commented on #1183
Hi @jocutajar thanks for your answer. We can keep opened this issue, we'll review it in the next months. Or till you can send us a feedback (but hopefully it's already fixed).

[2017-10-12 14:27] ppsshh commented on #1058
@giox069
* Grab all keyboard events" is enabled
* I'm using Xorg

I have an unconfirmed report that under Gnome3 there is no such bug, but I didn't have the opportunity to verify this information by myself. So far I can confirm that this bug still appears when Remmina is being used on Openbox or Awesome (and, by information from @notpentadactyl in Xmonad). It would be nice if @hubutui will also pr

[2017-10-12 16:47] giox069 commented on #1310
Issue has been fixed upstream by the FreeRDP team. Can you test with a newer FreeRDP?

[2017-10-12 18:15] joo0ne commented on #1310
fixed

[2017-10-12 18:17] #1310 closed

[2017-10-12 22:32] jpeg729 opened #1313 "Crashes when I try opening Preferences"
Running Remmina rcgit21 on ubuntu 14.04 with unity desktop.
It crashes every time I try to open the preferences dialog.
[code]

[2017-10-12 23:16] antenore commented on #1313
My bad...

[code]

I've modified the glade file directly in "next", our main branch.

Can you temporary apply it by hand in your /usr/share/remmina/ui/remmina_preferences.glade file and see if it works?

@giox069 I'm afraid we must release a new version soon.

[2017-10-12 23:19] #1313 closed

[2017-10-12 23:25] jpeg729 commented on #1313
The fix is incomplete
[code]

[2017-10-12 23:28] jpeg729 commented on #1313
Adding `id="anything"` on line 1685 fixes the crash.

[2017-10-12 23:43] jpeg729 commented on #1208
The keyboard mapping is mostly working great. Accented characters work as expected, except those for which there is a dead key for the accent that you press before pressing the letter that you want to add the accent to.

Also, my custom keyboard layout uses AltGr as a modifier for some symbols. These don't work.

[2017-10-13 07:49] #1298 closed

[2017-10-13 07:53] antenore commented on #1313
Ok, thanks. On modern distributions I don't have any errors. I'll add it

[2017-10-13 13:10] giox069 commented on #1058
It's very hard to understand what is happening and reproduce the problem correctly for me. Events are sent by different window managers in different ways.
I have published a small possible fix, in the branch issue_1058_unfocus.
Could anyone try to compile remmina and test on openbox from the ssue_1058_unfocus branch?

[2017-10-13 15:54] ppsshh commented on #1058
@giox069 thanks for your response.

I've checked out db33495, and yes, remmina now acts better.
When I'm switching to another window/virtual desktop, the remote server also receives 'win release' keycode (after 'win press') resulting in 'Start' menu being opened. And this is much better than when 'win' key stays 'pessed' :)

I think this issue now may be closed. Thank you :)

[2017-10-13 17:26] giox069 commented on #1058
Yes, I guess leaving the menu "start" open is not really comfortable, but is definitely more correct than leaving the Win key pressed at the remote server. Unfortunately I can't see a way to do better.
Almost every change I do in the focus-in focus-out code to fix something under a specific WM has unwanted side effects with other WMs :( I hope this commit will not break something else.
I'm merging

[2017-10-13 17:27] #1058 closed

[2017-10-13 20:23] giox069 commented on #1280
@SergeyDjam is this issue fixed with remmina 1.2.0-rcgit-21 ?

[2017-10-13 20:42] SergeyDjam commented on #1280
I need still time for testing and check

[2017-10-13 22:45] he-loop commented on #921
Hi @ic3d,
I'm actually using Remmina 1.2.0-rcgit-20 on Fedora26 and it works like a charm (even in Gnome Classic session).
I cannot tell you if the bug is still present in Ubuntu-Gnome 16.04 + reminna-next PPA.

Thank you for your work

[2017-10-15 09:08] #1278 closed

[2017-10-15 09:15] giox069 commented on #1178
@QuAzI currently keyboard capture cannot enabled by default. It must be manually enabled by the user after the 1st connection.
Have you solved the Alt+Tab problem so I can close this issue?

[2017-10-15 09:20] QuAzI commented on #1177
SSH tunnel still doesn't work

[2017-10-15 09:27] e-alfred opened #1316 "Remmina only shows black screen without any text after connection to an SSH server"
If I connect to an SSH server, I only get a black screen without any text in Remmina. This seems to be a regression in the latest release, it worked on older 1.2.0 releases. This is what I can see on the console:

[code]

* Client (OS name and version): Kubuntu 14.04.5
* Remmina version (remmina --version): 1.2.0-rcgit-21-0~remmina201710082254.rc3f630d.de61f735~ubuntu14.04.1
* Desktop environment

[2017-10-15 09:34] giox069 commented on #1177
This issue refers to a missing encryption algorithm in libssh. And really this is not a Remmina problem but a libssh problem. We cannot fix it here, because we are not the owner/maintainers of libssh. So I closed this issue.
I have left #1018 issue open, in which you can find the possible workaround for missing functionalities using openssh with precommand and postcommand.
Please complete issue #1

[2017-10-15 09:37] #1201 closed

[2017-10-15 09:41] giox069 commented on #1184
@jbktank Are you using a laptop/notebook with HiDPI display and scaling enabled?
Please also provide a more complete version string of remmina. "1.2.0-rcgit.???" is very importanto for us to know the numbers after rcgit. Thank you.

[2017-10-15 10:09] e-alfred commented on #1316
I reinstalled rcgit-20 from the PPA and it works. This is definitely a regression in rcgit-21.

[2017-10-15 10:15] giox069 commented on #1316
I can confirm this issue for Ubuntu 14.04. The issue is not applicable to newer Ubuntu versions (i.e: 16.04 or 17.10).
Changing the "Terminal color scheme" in the profile settings does not fix the issue.

[2017-10-15 10:39] ic3d commented on #941
Hi @charlessmith499 @Kh4l3tH we're reviewing old open issues. Do you still get this one? Thanks!

[2017-10-15 11:05] ic3d commented on #966
Hi @kovidgoyal @RMCampos this issue should now be fixed. Can you confirm it? Thanks!

[2017-10-15 11:18] QuAzI commented on #1018
I still misunderstood.
Why you can't enumerate all ciphers from libssh to find first supported like SSH does?
I check ciphers lists and see many variants
![default](https://user-images.githubusercontent.com/1897605/31584234-56fa3396-b1b3-11e7-82b2-4278088ad1b4.png)

[2017-10-15 11:19] ic3d commented on #974
I'm closing this issue, because it probably affects only old versions of Remmina. Feel free to open a new one if needed.

[2017-10-15 11:20] #867 closed

[2017-10-15 11:20] #869 closed

[2017-10-15 11:21] #850 closed

[2017-10-15 11:21] #820 closed

[2017-10-15 11:22] #646 closed

[2017-10-15 12:04] giox069 commented on #1177
@QuAzI please leave issue #1018 for tunnel forwarding problems or pre/post commands. Ciphers problems are under issue #1177, this one.
Your question is "Why you can't enumerate all ciphers from libssh to find first supported like SSH does?".
Answer: in the current Remmina code we do not deal with ssh ciphers. All we do is just call libssh ssh_connect() function, which is responsible to choose the

[2017-10-15 19:34] Andrew-Poloni opened #1317 "Remmina removes the desktop application bar when placed in fullscreen mode (Linux Mint v18.2)"
My OS information:

RELEASE=18.2
CODENAME=sonya
EDITION="Cinnamon 64-bit"
DESCRIPTION="Linux Mint 18.2 Sonya"
DESKTOP=Gnome
TOOLKIT=GTK
NEW_FEATURES_URL=http://www.linuxmint.com/rel_sonya_cinnamon_whatsnew.php
RELEASE_NOTES_URL=http://www.linuxmint.com/rel_sonya_cinnamon.php
USER_GUIDE_URL=help:linuxmint
GRUB_TITLE=Linux Mint 18.2 Cinnamon 64-bit

I've noticed that, when I connect to my RDP deskto

[2017-10-15 20:26] giox069 commented on #1317
Hi @Andrew-Poloni, thank you for reporting.
Can you please tell us which remmina version you are using?
If possilble, could you post a couple of screenshots, one with the toolbar missing and scaling disabled, and the other with scaling enabled and the toolbar visible?
Thank you.

[2017-10-15 21:08] antenore commented on #1316
@e-alfred may I ask you to test the PR #1318 ?

Hopefully it should fix your issue, but I don't have an Ubuntu 14 to test

[2017-10-16 18:56] Andrew-Poloni commented on #1317
My apologies: the Remmina version is v1.1.2.

I'm attaching two screenshots of my desktop environment that I captured with Shutter.  The first shows Remmina not in fullscreen mode in the display it's running in and you can see my application toolbar in another display.  The next screenshot shows Remmina in fullscreen mode with the application toolbar gone.

[Workspace1_Remmina_not_fullscreen.png.t

[2017-10-16 19:41] giox069 commented on #1317
@Andrew-Poloni you should upgrade to remmina 1.2.0-rcgit.XX, the latest version. You can find the guide in the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki). With linux Mint I think you can use the "remmina-next" ubuntu's PPA, so I think the only lines you need to enter on a terminal window, one at time, are:
[code]

[2017-10-16 21:42] Andrew-Poloni commented on #1317
You are a gentleman and scholar ... fixed the issue nicely (and remembers login passwords to boot)! :+1:

[2017-10-16 21:42] #1317 closed

[2017-10-17 01:49] Andrew-Poloni opened #1319 "Copy/paste terminate remmina 1.2.0-rcgit-21 (git rcgit-21)"
I notice that if I try to either copy or paste in Remmina that the process terminates.

Client:
--------------------
RELEASE=18.2
CODENAME=sonya
EDITION="Cinnamon 64-bit"
DESCRIPTION="Linux Mint 18.2 Sonya"
DESKTOP=Gnome
TOOLKIT=GTK
NEW_FEATURES_URL=http://www.linuxmint.com/rel_sonya_cinnamon_whatsnew.php
RELEASE_NOTES_URL=http://www.linuxmint.com/rel_sonya_cinnamon.php
USER_GUIDE_URL=help:linuxmi

[2017-10-17 02:53] ks7000 commented on #1217
Great software, Remmina is very good!

I am using Ubuntu 16.04 LTS 64 bits with Remmina 1.2.0-rcgit-21 (git rcgit-21), always with RDP at Windows 7 machines and copy/cut/paste neither works between machines.

[2017-10-17 06:17] antenore commented on #1319
Thanks for the detailed report. Does it happens using xfreerdp?

[2017-10-17 06:18] antenore commented on #1217
Can you test with xfreerdp?

[2017-10-17 13:57] ks7000 commented on #1217
Terrific! Thanks! I am reading
https://github.com/FreeRDP/FreeRDP/wiki/CommandLineInterface
for "New style options", at glance «+clipboard : redirect clipboard»
I am testing it!

[2017-10-17 14:48] antenore commented on #1217
Yes but please don't fall in love with it and come back to Remmina, Remmina is forever. ;-)

[2017-10-17 16:00] kolszak opened #1320 "SSH session log to file"
Hi,

Is possible to log all ssh session to asci text file? Like putty, mobaterm or linux bash script

function _sshlog(){ /usr/bin/ssh $@ | tee -a ~/log/ssh_log_$1-`date +%d%m%Y`;}; _sshlog

[2017-10-17 16:35] antenore commented on #1320
Not yet. I'll work on it.

[2017-10-17 18:56] antenore commented on #1319
[code]

Try with this

[2017-10-17 20:14] Andrew-Poloni opened #1321 "Remmina doesn't remember display location in multi-display setup (enhancement)"
A request for an enhancement: it would be nice if Remmina started in the same location on multi-display configurations as it occupied when it was closed.  I've got a multi-display configuration and Remmina always wants to start in the main display; it'd be nice if it popped back into the display location that it ran in last time.

Client:

RELEASE=18.2
CODENAME=sonya
EDITION="Cinnamon 64-bit"
DESC

[2017-10-17 20:49] Andrew-Poloni commented on #1319
I apologize, I should have specified that I'm running tigervnc on the CentOS workstation:

tigervnc-server-minimal-1.3.1-9.el7.x86_64
tigervnc-server-1.3.1-9.el7.x86_64

[2017-10-17 21:21] antenore commented on #1319
I personally use x11vnc, let me try with tigervnc as soon as I'll fix an issue with ubuntu 14.04

[2017-10-17 21:30] antenore commented on #1316
Finally I've identified and fixed the problem.

![1507500584576 remmina-2017-10-17-21 27 54 066275](https://user-images.githubusercontent.com/5975/31690463-0d20b934-b393-11e7-90e0-c591c3b7654b.png)

I need some more time to clean the code and do some regression tests

[2017-10-17 22:38] #1316 closed

[2017-10-19 07:23] antenore commented on #1320
It shoudl quite easy to be implemented.

I've took a look at the well written vte terminal example from the Gnome team.

https://github.com/GNOME/vte/blob/master/src/app/app.cc#L1339

Their strategy is, if a flag is set, to save the whole buffer at exit time.

As there is not (yet) a vte_terminal_write_contents_async function, I presume that it's not possible to keep a log file opened and save the

[2017-10-19 07:28] antenore commented on #1312
Normally if you do an ```apt-get update``` everything should work out of the box, how do you update remmina/freerdp? By hand, for each package?

[2017-10-19 07:30] antenore commented on #1304
Sorry I cannot reproduce this at the moment.

Would you mind trying to reproduce this problem with other protocols, like SPICE, ssh or RDP?

[2017-10-19 07:58] ssten opened #1322 "Incomplete check and wrong error message"
I use remmina (=net-misc/remmina-1.2.0_rc21) with ssh and rdp plugins on Gentoo GNU/Linux (amd64, up to date system, portage tree synced at Mon Oct 16 00:39:24 UTC 2017).

$ remmina --version
(remmina:6125): Gtk-WARNING **: Theme parsing error: gtk.css:9:22: The :focused pseudo-class is deprecated. Use :focus instead.
StatusNotifier/Appindicator support: not supported by desktop. Remmina will try

[2017-10-19 08:33] giox069 commented on #1322
@ssten, can you try to change the security type in the Advanced tab of the profile settings?

![immagine](https://user-images.githubusercontent.com/5477803/31761592-c0c40ee8-b4b8-11e7-87f4-b1ef2106a80e.png)

Also please, launch remmina from a terminal with ```LANGUAGE=C remmina``, connect and reproduce the error. Copy an paste the output text here. It may contains useful informations.
Thank you.

[2017-10-19 08:58] gmalets opened #1323 "Remmina resets screen resolution settings in RDP shortcut"
Remmina resets screen resolution settings in RDP shortcut to custom (first in the list of custom available resolutions) created with new version of remmina 1.2.0-rcgit-21 (git rcgit-21)
Shortcuts created by old version are okay until (edit -> save)

* Client (OS name and version):    -   Linux Mint 18.2 / Ubuntu 16.04
* Remmina version (remmina --version):   -   1.2.0-rcgit-21 (git rcgit-21)
* Des

[2017-10-19 09:13] giox069 commented on #1322
Ok, thank you for testing. But I think this is a libfreerdp problem.
Can you connect with
```xfreerdp /v:servername /u:username /d:domainname``` test if it works, and paste the output here ?

[2017-10-19 09:16] giox069 commented on #1323
Does it happens when you push the "Save" button in the profile editor? If yes, try to push "Save and Connect", it should save the selected resolution. If "Save and Connect" works, please close this issue as duplicate of issue #1307 (fixed and will be released with next release).

[2017-10-19 09:31] giox069 commented on #1319
It's a bit hard for us to test your specific setup and reproduce the problem.
If remmina is crashing, can you provide a backtrace of the crash? To provide a backtrace, install gdb, open a terminal and type ```gdb remmina```.
Connect to the server, do copy&paste. If remmina crashes, type ```bt``` and then copy & paste the output here. Thank you.

[2017-10-19 09:49] ssten commented on #1322
Direct invocation of xfreerdp also fails:

The Windows server is not in domain and it is not clear, how to handle this case in remmina.
In credentials domain string was «.\», what looks strange for me.

I agree, that it is primarily freerdp issue, but I expect remmina to provide more readable error messages.
Am I to open a separate issue in freerdp tracker to discover connection issue itself?

P.S

[2017-10-19 10:04] gmalets commented on #1323
If push "Save and Connect" I've got full screen and client resolution only for current connect session.
Shortcut resolution still resets to custom (first in the list of available resolutions) even is push "Save and Connect"

[2017-10-19 10:08] OliverO2 commented on #1304
Just tested. When connecting via RDP to a Windows 10 Pro desktop at version 1703, window mode screenshots worked correctly.

Could not test SSH due to #983. SPICE is not available on my client (and I don't have a SPICE server anyway). Hope this helps.

[2017-10-19 10:18] giox069 commented on #1322
When the windows server is not on a domain, just use the windows server name (netbios name) as domain name. In some cases also "." works.
For example if you are connecting to a sever called MYPC:
```xfreerdp /v:mypc_ip_address /u:username /d:MYPC```
The error code: the only error that remmina receives is an error number 0xC000006D, which is quite obscure for us. The poor documentation we have is [

[2017-10-19 10:22] giox069 commented on #1323
I think you should wait for the next release (1.2.0-rcgit.22) and then retest.
If you want to test unstable version, you can use the "remmina-next-daily" PPA, instead of "remmina-next" PPA.

[2017-10-19 10:45] ssten commented on #1322
Yes, of course.

The second window is error message from Windows XP.
Windows 7 RDP client connects, meaning display login window.
It looks like something related with RDP protocol version. *freerdp* seems to support only old ones.

[2017-10-19 11:05] gmalets commented on #1323
Thank you for advice. I'll wait for it because I don't wanna use unstable version and make more than 70 users of our company to get stress and complain

[2017-10-19 11:38] ssten commented on #1322
I've succeed.

The remote server is **Windows Server 2012 R2 Datacenter 64-bit**.

Connetction succeed only with *tls* or *rdp* security types. *ext* fails, *nla* provides core dump.

The issued option on server is:

Connection succeed only after it was disabled.

But freerdp fails to correctly fit stored password, I have to re-type it manually.

[2017-10-19 11:47] giox069 commented on #1322
Thank you for the tests! I will try to reproduce it and open an issue to the FreeRDP team when I will able to get more details.
Please note: xfreerdp does not save passwords. Never. You have to type it manually or put it in the command line with /p:password. But putting password in the commandline is not secure, because your commandline can be observed by other processes and the history is saved i

[2017-10-19 12:03] ssten commented on #1322
I may feel unclear about some details.
But remmina provides an option to save passwords.
I already use some rdp-connections with default security type (*Negotiation*) and stored passwords. They work fine.
But when I try to do the same with *tls* security type, Windows Server login fails.
One more strange detail: when password is interpreted as wrong, failed login resets it. But whet I'm failed to

[2017-10-19 12:21] giox069 commented on #1322
Yes, remmina saves its passwords, usually inside the gnome keyring, so they are protected and not stored cleartext (if gnome keyring o similar service is available).
And then yes, remmina "unsaves" the password when authentication fails, this is a wanted "feature".
Why does remmina not "unsave" the password when you use TLS? I think because when you connected with TLS the error is different: ERRCO

[2017-10-19 12:27] ssten commented on #1322
Recenly used build of *remmina* is configured without *gnome-keyring* support (I don't want to use *systemd* and don't plan to do it).

You aren't right.
The error you quotes belongs failed connection session.

When connection succeed xfreerdp outpus is just:

But autologin with stored password is failed.

[2017-10-19 14:35] ssten opened #1324 "Please add an option to get not only full-screen screenshot, but also window-only"
For now I use *net-misc/remmina (1.2.0_rc21@10/16/17)* in Gentoo GNU/Linux *amd64* arch.

Screenshot button is a useful feature.
But it is incomplete.

Rather often I need not a full-screen screenshot, but just an active window.
At least for *rdp* connections, windows remote host has needed feature (*Alt*-*Prt Scrn* shortcut).

It would be fine, if I'll be able to get the same windon-only screensh

[2017-10-19 15:16] christianmscott opened #1325 "RDP connection profile settings are not used when opening session"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Antergos Linux 17.10 (Minimal ISO Rolling)
* Remmina version (remmina --version): 1.2.0-rcgit-21
* Desktop environment (GNOME, Unity, KDE, ..): GNOME
* Connecting to (OS and version): Windows Server 2008 R2
* Con

[2017-10-19 15:20] christianmscott commented on #1325
Just realized this is a duplicate of #1323  and #1307 . Closing.

[2017-10-19 15:20] #1325 closed

[2017-10-19 17:55] giox069 commented on #1324
I don't think we can have the coordinates of a window via RDP or VNC protocol: they only send us graphical commands or bitmap, so remmina cannot know where windows are placed.
But we could implement a rectangular area capture in the future.
Have you tried to enable keyboard capture (on the remmina toolbar) and just press Alt+PrtScrn when the mouse cursor is inside the connection windo, and then pa

[2017-10-20 09:43] scootergrisen opened #1326 "Missing info on how to translate"
I can't seem to find info on how to translate Remmina.
So perhaps this info could be added to the conbribute page (https://www.remmina.org/wp/contributing-to-remmina/) the Wiki page (https://github.com/FreeRDP/Remmina/wiki) so people can know the correct way.

[2017-10-20 10:16] SergeyDjam commented on #1280
Testing of operation for more than 10 PCs showed that the problem is not solved. It became more rare to be shown, but it is not solved

[2017-10-20 10:21] giox069 commented on #1280
Remmina closes completely (program crash), or only the single connection is closed and the remmina main window remain active?

[2017-10-20 10:40] SergeyDjam commented on #1280
Only the window with the session of RDP is closed

[2017-10-20 11:56] giox069 commented on #1280
Try to launch remmina from a terminal. Look at the text output when remmina disconnects.
If you find errors like **ERRCONNECT_SECURITY_NEGO_CONNECT_FAILED** [**0x2000C**], then the problem is in libfreerdp. It's already reported at their sites with FreeRDP issues [2190](https://github.com/FreeRDP/FreeRDP/issues/2190) and [3528](https://github.com/FreeRDP/FreeRDP/issues/3528).
And we can't do almos

[2017-10-20 12:13] cmcanulty commented on #1047
same issue xubuntu 16.04. I run like 30 computers so is a royal pain, just started today

[2017-10-20 12:16] alex-mashin commented on #1047
Still there under Snap 2.28.1.

[2017-10-20 12:45] giox069 commented on #1047
@antenore: I think our snapcraft.yaml.in is missing the newer "password-manager-service" interface...

[2017-10-20 13:22] erichoog commented on #1047
I also have this issue under Arch Linux, KDE Plasma, Remmina (1.2.0-rcgit-21)

[2017-10-20 15:21] antenore commented on #1323
A new version of Remmina has just been released.
Can you please test?

[2017-10-20 16:38] antenore commented on #1326
Thanks, I'll update it ASAP

[2017-10-20 17:21] benkohler opened #1327 "vte no longer optional"
With the change in commit dfb497f76439a35b6932cebac49cf187977d7800, vte is no longer optional.  I still pass -DWITH_LIBSSH=no but this change adds an unconditional include on vte.h.

Do I need to unconditionally depend on vte now, or should this new include & related code be wrapped in an "if"?

[2017-10-20 17:21] benkohler commented on #1327
/mnt/disk/var-tmp/portage/net-misc/remmina-1.2.0_rc22/work/Remmina-1.2.0-rcgit.22/remmina/src/remmina_pref_dialog.c:41:21: fatal error: vte/vte.h: No such file or directory
 #include <vte/vte.h>

[2017-10-20 17:37] jgyllinsky opened #1328 "Keyboard mapping for RDP wrong on up-to-date ubuntu, when accessed on local machine remotely through remmina."
Issue
---
_**Breaks when:**_
- SSH+VNC tunneled into same remote machine running up-to-date Ubuntu. Then remmina is opened to use RDP for accessing headless VirtualBox VM of Win10. Keyboard mapping is now broken.

**_Works as expected when:_**
- Locally now, physically at previously remote machine's keyboard, remmina is opened to use RDP for same. Keyboard works as expected.
- At local machine, us

[2017-10-20 18:20] antenore commented on #1327
Yes, you're right, I should have wrapped it, sorry.

If you want you can do a PR or I'll work on it ASAP.

[2017-10-20 18:23] benkohler commented on #1327
I don't think I'll be able to write the fix myself but I'd be happy to test any proposed patch

[2017-10-20 19:02] scojopa commented on #1323
Just tested w/ 1.2.0-rcgit-22

Still experiencing the same problem. Everything was fine until 2/3 days ago. Resolution -> Custom (800x600) -> You can change settings via Custom resolution or Use Client Resolution Save, Save as Default.... Nothing Saves.

[2017-10-20 20:41] ZamElek commented on #1323
If I select "Use Client Resolution" it does not save. When I open the profile it always shows Custom...
version 1.2.0-rcgit-22 (git rcgit-22) on Ubuntu 16.04.

[2017-10-20 20:47] giox069 commented on #1323
Ok, @antenore now I think I have found it: when changing from "Client Resolution" to "Custom", the status of the radio button is not saved when pressing "Save" or "Save as default".

[2017-10-21 11:02] probonopd commented on #1123
Looks like AppImage is now being generated, but where can it be downloaded from?

[2017-10-21 13:05] giox069 commented on #1123
Hi @probonopd ... appimage is still not ready. I temporarily aborted the project a couple of months ago due difficulties with GTK compatibility. Now unfortunately I'm very busy to fix other urgent issues.
I remember that I had the best results using my own scripts to build appimage (no Travis, no OBS), but I can't remember more useful info. One of the problem was with GTK and icon cache regenerati

[2017-10-21 19:22] giox069 commented on #1262
@madscientist can you test with the following procedure?
1) Open a new connection window which will open maximized
2) Unmaximize it
3) Move or resize the connection window
4) Close the connection window
In step  3 the new size/status is read by remmina, and in step 4 the new status is saved to the profile file.
5) Now reopen the same connection and see if it's maximized or not.
Thank you

[2017-10-22 16:09] bab5470 commented on #241
I'm seeing this issue in Remmina 1.2.0-rcgit-22 (git rcgit-22) on Ubuntu 17.10 but it ONLY happens when I have rainlendar (http://www.rainlendar.net/cms/index.php) alerts on my display.

Dismiss all the alerts and it maximizes to the correct monitor.

I do have "Fullscreen on the same monitor as the connection window" checked and my connection window is on my second monitor.

Its almost like Remmi

[2017-10-22 16:09] bab5470 commented on #873
I'm seeing this issue in Remmina 1.2.0-rcgit-22 (git rcgit-22) on Ubuntu 17.10 but it ONLY happens when I have rainlendar (http://www.rainlendar.net/cms/index.php) alerts on my display.

Dismiss all the alerts and it maximizes to the correct monitor.

I do have "Fullscreen on the same monitor as the connection window" checked and my connection window is on my second monitor.

Its almost like Remmi

[2017-10-22 21:11] #1320 closed

[2017-10-23 00:52] RichardViskovic commented on #1208
Hey, just wanted to weigh in and say thank you @giox069. This issue has been a problem for me on multiple systems over the years, and I don't had the skill to fix it myself. This will make my life a little easier :)

[2017-10-23 04:20] madscientist commented on #1262
Thanks for the comment.  I've definitely tried that but just tried it again: I have a custom resolution set to 1280x960 (this is RDP to a Windows system).  I double-click the connection in the Remmina main window and the display window opens maximized.  I unmaximize it by grabbing the title bar and moving it down.  It reverts to unmaximuzed and my window then becomes the same size that it was last

[2017-10-23 12:37] erhanvarlik commented on #975
Same problem here, it's very annoying and like @lorenzov83 said, it's preetty dangerous.

[2017-10-23 13:48] antenore commented on #975
We rely on libssh, so we cannot really do anything, or at least this is my opionion, if I'm wrong please help me to fix this.

Can you keep pinging the libssh guys?

https://red.libssh.org/issues/239

@giox069 do you think we can implement the reconnect here? Will it help (I doubt honestly)

[2017-10-23 14:34] itkostya commented on #1323
I have the same problem in Ubuntu 17.04, Remmina 1.2.0-rcgit-22 (git rcgit-22)

[2017-10-23 14:44] lorenzov83 commented on #975
I'm sorry @antenore but because the problem does not come with other ssh clients on the same pc ?
bash and remmina do not use the same ssh libraries?
I'm probably wrong, but I think the problem is due to a lack of management of the ssh library's exceptions by remmina

[2017-10-23 14:52] antenore commented on #975
@lorenzov83 With the other terminals you use a command that is ssh, that comes from OpenSSH. Remmina uses libssh that is a library and not a command.

We cannot use OpenSSH here because we should fork ssh commands and it could make things even worst. The Gnome team, for instance, are willing to migrate to libssh as well for their client Vinagre for the same reason.

https://wiki.gnome.org/Apps/Vin

[2017-10-23 14:53] ssten commented on #1324
Does remmina override freerdp's default to disable clipboard?
Getting image from window's clipboard is a solution.
But for now on initila test I've find pre-set «Send Ctrl-Alt-Del» inoperable. How can I debug it?

[2017-10-23 15:18] lorenzov83 commented on #975
@antenore many thanks for the answer.
It's a shame because this problem makes ssh connections unmanageable with remmina.
For ssh connections I'm are forced to use PAC Manager that using OpenSSH library, it's not as good as Remmina but at least the ssh connections are stable.
Do you just exclude the possibility of using OpenSSH libraries?

[2017-10-23 15:48] antenore commented on #975
At the moment yes, but I don't give up in fixing this issue. Well I need your support (all) to fix it.

@lorenzov83

[2017-10-23 16:01] Lonniebiz commented on #1323
Both me and another user of mine, are still experiencing this on 1.2.0-rcgit-22.

Both "Save" and "Save and Connect" are not able to remembering the "Use Client Resolution" setting.

[2017-10-23 16:07] antenore commented on #1323
We're delivering a new version in a couple of days at worst case. Just to be sure, would you mind building the main branch and validate that it works?

[2017-10-23 16:12] Lonniebiz commented on #1307
Resolution is still an issue, but I've reported that here:
https://github.com/FreeRDP/Remmina/issues/1323

I guess we should let this bug focus on the Password Saving issue?

I'm running 1.2.0-rcgit-22, and the password is saving for me.

However, I've verified that another user of mine is also running 1.2.0-rcgit-22, but it is **not** saving his password via **both** "save" and "save and connect"

[2017-10-23 16:32] antenore commented on #1323
@Lonniebiz can you please compile Remmina and test it?

[2017-10-23 17:01] Lonniebiz commented on #1323
Uhhh, I'm looking into it:
https://github.com/FreeRDP/Remmina/wiki#for-developers-packagers-and-testers

[2017-10-23 17:12] giox069 commented on #1323
if you think compiling it's too complex, you can:

- Use the snap version in the snap "edge" channel, this will preserve your system because snap is totally isolated from the rest (the snap will be unable to see the rest of the system, your remmina config included)
- For ubuntu: use the PPA remmina-next-daily, but remember to switch back to remmina-next PPA after the next release. remmina-next-dai

[2017-10-23 18:22] e-alfred commented on #975
I see this issue mostly on unstable connections over WIFI and high latency. Would it be possible to make connections more stable by having something similar to the Keealive setting in OpenSSH?

[2017-10-23 18:34] antenore commented on #975
@e-alfred Yes supporting the libssh team providing them traces, use cases and so forth. From our side I'll continue to investigate as well.

[2017-10-23 18:36] Lonniebiz commented on #1307
My user, sent this video:
https://youtu.be/KPAS-oQYf2c

[2017-10-23 18:38] Lonniebiz commented on #1323
My user sent this video of the issue:
https://youtu.be/KPAS-oQYf2c

By the way, how can I email you guys privately if I want to discuss something that I don't want to be posted onto the internet? I don't see a feature for doing this under your profiles.

[2017-10-23 18:42] antenore commented on #1323
Look in the Remmina about. You will find all the emails of those who have contributed to Remmina. Also on github in the authors file.

[2017-10-23 18:43] antenore commented on #1323
https://github.com/FreeRDP/Remmina/blob/next/AUTHORS

[2017-10-23 19:35] #974 closed

[2017-10-23 21:21] giox069 commented on #1327
We have just released Remmina 1.2.0-rcgit.23, which contains a fix for the optional LIBSSH and VTE inclusion during compilation.
Can you test it ?
Thank you.

[2017-10-23 21:30] giox069 commented on #1307
@Lonniebiz for this issue: resolution problem is tracked in the other issue and I hope is fixed.
For your user reporting password not saving, it could be an issue specific to your user. Update its remmina to the .23 version. Check if the package "remmina-plugin-gnome" is installed or not and let us know more details by opening a new issues (do not reuse this one).

[2017-10-23 21:34] giox069 commented on #1312
We have just released Remmina 1.2.0-rcgit.23, which should include a fix on the PPA dependencies. Can you test it and close this issue if it's solved?
Thank you.

[2017-10-24 06:16] itkostya commented on #1323
Thank you. It's fixed

On Tue, Oct 24, 2017 at 12:19 AM, Giovanni Panozzo <notifications@github.com

[2017-10-24 06:44] angerangel commented on #1312
Yes, it works now.

[2017-10-24 06:44] #1312 closed

[2017-10-24 07:01] gmalets commented on #1323
It's fixed partial, but standard behavior is broken.
I'll post more info later today

[2017-10-24 07:45] Forage opened #1337 "No way to reopen connection window"
For a while, when you closed the connection/main window all sessions/connections would be closed. Many thanks for fixing this in #785.
Now, however, there is no way to return to the connection window when you've closed it and you still have connections open. In other words, you can't open any additional connections any more unless you close all others first.

Please provide a way to open additiona

[2017-10-24 07:47] sagsm commented on #1323
The "use client resolution" setting is only getting saved until you connect. Afterwards it automatically resets back to the "custom resolution" setting.

Version is 1.2.0-rcgit-23 from the Ubuntu PPA.

[2017-10-24 07:51] giox069 commented on #1323
@sagsm: can you post detailed steps of the buttons your are pressing? Or post a video?
Do you press "Connect" or "Save and Connect" for connecting?

[2017-10-24 07:57] giox069 commented on #1337
You can install [KStatusNotifierItem/AppIndicator](https://extensions.gnome.org/extension/615/appindicator-support/) extension for Gnome Shell, and the remmina systray menu will appear on the top right corner of the screen. One of the last options at the bottom will allow you to reopen the main window.
We could also add an hotkey or a command in the remmina connection window, so I will mark this i

[2017-10-24 08:06] sagsm commented on #1323
- Edit the connection in the remmina main window (right click -> edit)
- Check the "use client resolution" setting
- Press the "save" button
- Doubleclick the connection to connect

Following these steps the "use client resolution" setting is not being saved. The "save as default" and the "save and connect" show the same behaviour.

[2017-10-24 08:34] giox069 commented on #1323
Ok, I think the real bug that I can reproduce is

- Configure a profile with "Use client resolution".
- Save and connect, optionally you can close the connection, but it's not needed.
- Reenter the profile editor: now the resolution is no longer "Use client resolution".

[2017-10-24 09:01] gmalets commented on #1323
For me all resolution settings saved fine.
Also i noticed weird behavior.

For example:
Scenario 1:
- Create new profile with "Use Client resolution" (expect to get fullscreen mode, right?) --> click "save" or "save and connect"
- If before clicked "save" then click "connect" --> result is: "client resolution mode, fullscreen"
- Do disconnect.

Scenario 2:
- (right click -> edit) --> in edit profi

[2017-10-24 09:16] jpeg729 opened #1338 "RDP Use client kbd mapping doesn't pick up AltGr + key combos"
Running v1.2.0-rcgit.23 on Ubuntu 14.04 Unity connecting to Windows Server 2008.

The `Use client keyboard mapping` option is useless to me because it doesn't pick up `AltGr + key` combos. Nothing happens when I use such a combo, nothing gets typed.

This doesn't just affect me with my customised keyboard layout, it affects anyone trying to use a french keyboard layout. To type `#` on a french key

[2017-10-24 09:22] antenore commented on #1338
I've a French and a Swiss French keyboard and it works for me.

The only difference is that I've a quite newer distribution. @giox069 any ideas?

[2017-10-24 09:52] antenore commented on #1338
Ah! One more thing, be sure to have Grab all keys activated (a keyboard icon in the Remmina toolbar)

[2017-10-24 10:12] Forage commented on #1337
Ah, you're right. I've never noticed the status icon in all the time I've been using Remmina.

I do, however, feel that the application should not depend on a status icon to give you additional options so marking this item as enhancement is a good idea.
It's good to have a work-around for the time being though, until I upgrade to GNOME 3.26 that is.

[2017-10-24 11:26] Lonniebiz commented on #1323
In 23, I can confirm sagsm's comment:
The "use client resolution" setting is only getting saved until you connect.

To elaborate, if I set it to "use client resolution" and then click the "save" button. It does save it, but the very next time you connect, that saved setting gets overwritten with a custom resolution setting instead (upon clicking the "connect" button).

[2017-10-24 11:50] jpeg729 commented on #1338
Grab all keys doesn't make the slightest bit of difference.

[2017-10-24 12:04] benkohler commented on #1327
Works great on my end, thanks!

[2017-10-24 12:04] jpeg729 commented on #1338
Another annoying thing is that `Ctrl-key` combos don't use my local keyboard layout.

[2017-10-24 12:17] #1327 closed

[2017-10-24 12:49] antenore commented on #1338
Crap... I don't have any clue at the moment.

Two things can you test with xfreerdp from the command line (see xfreerdp --help for the right options)? Do you hve a more updated Linux dstribution to test?

Merci!

[2017-10-24 13:08] jpeg729 commented on #1338
I don't have a more up-to-date linux distro on hand.

I can test with xfreerdp. I have the version `2.0.0~git201710191115-0+remmina201710192147.r86bb1e0.d0f49046~ubuntu14.04.1` which presumably comes from the remmina ppa.
What options could I usefully test?

[2017-10-24 13:40] antenore commented on #1338
[code]

Try also without the ```/kbd``` option

[2017-10-24 14:43] antenore commented on #1323
I'm testing https://github.com/FreeRDP/Remmina/compare/issue1323_res_settings and it seems to work

[2017-10-24 20:58] giox069 commented on #1338
altgr+key should work, are you using a standard altgr+key or a customized/mapped one?
ctrl+key will never map, read comments here: https://github.com/FreeRDP/Remmina/blob/next/remmina-plugins/rdp/rdp_event.c#L656
Keyboard mapping feature will never work as the users expects. I think we should remove it. Or implement 2 different types of client keyboard mapping (hwcode->hwcode and hwcode->unicode,

[2017-10-24 22:00] matthewsezeller opened #1340 "New connection closes existing window"
It used to be that I could connect to multiple remote desktops simultaneously and have them open on different workspaces. However after the update opening a new connection closes all of the other windows although I think the old connections are staying open. Once the new window is closed the old one pops up again. Is this a bug, setting, expected behaviour? If you need any more info let me know. T

[2017-10-24 22:59] #1340 closed

[2017-10-24 23:03] antenore commented on #1340
See #1337

This is because in Gnome Shell they have removed the systray icon support

[2017-10-24 23:08] matthewsezeller commented on #1340
Thanks, it was actually a different issue. Not duplicate but also not really a bug. Hopefully this might be useful for someone in the future if this is a common problem. Again, thanks for the help, and sorry to bother.

[2017-10-25 13:23] niumarklein commented on #865
Hi

I am passing over the same issue on version 1.2.0-rcgit-23. I have set a custom ssh tunnel address, tested it and it didn't work. On open the configuration again it has returned to the default config.

Thanks

[2017-10-25 20:37] giox069 commented on #1323
Just released 1.2.0-rcgit.24
Please test it, thank you.

[2017-10-25 22:43] Lonniebiz commented on #1323
Resolution is saving fine for me in 1.2.0-rcgit.24. Thanks!

[2017-10-26 06:39] sagsm commented on #1323
Can confirm that it works in 24. Thx!

[2017-10-26 08:17] gmalets commented on #1323
Does anybody has read [my comment](https://github.com/FreeRDP/Remmina/issues/1323#issuecomment-338923429)?

Nothing changed!!! I still can reproduce scenario 3 and scenario 4

[2017-10-26 09:16] giox069 commented on #1323
@gmalets
About scenario 3: "Why we got fullscreen mode and 800x600 resolution with huge black borders?"
This is how remmina worked for years.
Remote desktop resolution is independent from window size and maximization, because a window may contain more than one connection/remote destkop. If you want to rescale the remote desktop according the window size, there are other methods (scaler button, dyn

[2017-10-26 09:20] gmalets commented on #1323
You're right, sir.
Thanks for your work.
I'm appreciate it.
Have a nice day.

[2017-10-26 09:21] #1323 closed

[2017-10-26 09:55] antenore commented on #865
Updated to .2.0-rcgit-24, do you still have the issue? It should be fixed hopefully.

Thanks

[2017-10-26 09:58] antenore commented on #865
Ah, wait. @niumarklein your is a different issue ( related to #1323 ) from the one reported here  and it should be fixed, on the other side, ssh connection over tunnel I don't know if it works, it should as well, please let me know in both cases.

[2017-10-26 10:24] matthiasheyman commented on #1208
Will this fix also be included in the main freerdp project?

[2017-10-26 10:58] giox069 commented on #1208
I don't know if the FreeRDP team will ever implement keyboard mapping in xfreerdp client (or wlfreerdp).
Remmina has this option from years, but really, it's a pain to make it work. RDP protocol wants your hardware keycodes, not mapped character. So many users are complains in other issues that their mapping is not working. Read issue #1338 my last comment for example.
I don't think the FreeRDP te

[2017-10-26 11:01] coolemza opened #1342 "Ubuntu 17.10 Alt not passed"
* Client (OS name and version): Ubuntu 17.10
* Remmina version (remmina --version): 1.2.0-rcgit-24 (git rcgit-24)
* Desktop environment (GNOME, Unity, KDE, ..): Unity
* Connecting to (OS and version): Xubuntu 17.04
* Connecting via (RDP, VNC, ...): RDP

"Alt" stopped passing after upgrading from 17.04 to 17.10, 1.1.2 version have same issue

[2017-10-26 11:56] giox069 commented on #1342
Are you using Unity under Wayland/XWayland? This can be similar to issue #1086 if you are running under wayland.

[2017-10-26 13:12] coolemza commented on #1342
yes, you right, its the same

[2017-10-26 15:59] allywilson commented on #1288
Not sure if I should open a new issue or just add on to this one if there is known issues with the snap version.

Running Ubuntu 17.10.

Remmina refuses to launch with the following error:

[code]

Takes a long time to generate that error if it's the first run, but then is almost immediately returned in subsequent executions. Remmina version showing as 1.2.0-rcgit-24.

Same error after disabling a

[2017-10-26 18:28] antenore commented on #1288
We will test it again later, we didn't get any problems yesterday.
You can use the PPA kb the meanwhile,  but save your profile files before or you will louse them.

[2017-10-26 21:18] antenore opened #1343 "Rename the plugin 'remmina-plugins-gnome' in 'remmina-plugins-secret'"
As the libsecret plugin has almost nothing to do with gnome, we should rename it to 'remmina-plugins-secret'

[2017-10-27 06:47] madscientist commented on #1262
I'm not sure if it's relevant but if I go to Preferences and the Appearance tab, I see that "Fullscreen on the same monitor as the connection window" box is checked.  However, I can't force it to be unchecked: if I uncheck it then click "Close" then open back up the Preferences dialog, it's gone back to being checked again.  I'm not entirely sure what that option is supposed to do but nothing I've

[2017-10-27 06:55] antenore commented on #1262
I don't think it's related,  but it's indeed a good catch.  May I ask you to open a new bug.

I'm trying as well to investigate your issue.

Thank you!

[2017-10-27 07:09] madscientist opened #1344 "Un-check of "Fullscreen on the same monitor as the connection window" won't save"
* Client (OS name and version): **Ubuntu 17.10 (GNOME on Xorg)**
* Remmina version (remmina --version): **1.2.0-rcgit-22 (git rcgit-22)**
* Desktop environment (GNOME, Unity, KDE, ..): **GNOME**
* Connecting to (OS and version): **Windows 10, Linux, MacOS**
* Connecting via (RDP, VNC, ...): **RDP, VNC over SSH**
* RDP issues only, freerdp version (xfreerdp --version): **libfreerdp2 2.0.0~git201**

[2017-10-27 07:10] madscientist commented on #1262
OK bug #1344 Cheers!

[2017-10-27 09:41] mfvescovi commented on #1343
Additionally, s|plugins|plugin| too.

[2017-10-27 10:25] antenore commented on #1343
Yes, right, thanks!

[2017-10-27 11:45] ssten opened #1347 "remmina shows pop-up notification only for first screenshot"
I use remmina (=net-misc/remmina-1.2.0_rc21) with ssh and rdp plugins on Gentoo GNU/Linux (amd64, up to date system, portage tree synced at Mon Oct 16 00:39:24 UTC 2017).

Please note Gtk-Warning.

For now I try to connect to Windows Server via rdp.

remmina is built with support user notification.
Take screenshot button is very useful feature.

But remmina display's notification pop-up only for f

[2017-10-27 12:24] antenore commented on #1347
Very strange indeed, I've never had this problem, can you please check the notification settings on your side? Notifications uses DBus, how is your window manager configured to use DBus (which wm do you have?)?

[2017-10-27 12:49] ssten commented on #1347
I use XFce-4.12.

Could you explain what configuration error in notification settings correctly display first one and skips others?

[2017-10-27 14:13] antenore commented on #1347
For example, did you enable dbus?
[code]
Or from your .xprofile, something like:

[code]

XFCE doesn't have notification support through DBus activated by default, so you should also verify that inside ```/usr/share/dbus-1/services``` (not sure on gentoo about the path) or $XDG_DATA_HOME/dbus-1/services you have something like:

[code]

Again sorry for the path if are wrong.

You must have ```xfce

[2017-10-27 21:11] #1343 closed

[2017-10-27 21:55] #1344 closed

[2017-10-28 18:21] tuxtechno opened #1351 "How to specify printer drivers while connection to RDP"
how can i use xfreerdp /printer:"Printer Name","Printer Drivers" switch in remmina,

[2017-10-29 06:27] thiagomgo commented on #909
It seems remmina doesn't respect the `~/.ssh/config` file and on Ubuntu 16.04, it creates a `know_hosts` file in `~/snap/remmina/common/.ssh/`. Even if I add a `/config` file into this folder, it is ignored. I'm using remmina 1.2.0-rcgit-24,

[2017-10-29 09:47] antenore commented on #909
It's not Remmina but the way snap works as it's isolated from the rest of the operating system.
It's a feature....

[2017-10-29 10:42] cialu commented on #1258
Same issue here, but with VNC connection.

Client - Ubuntu 17.10 - Remmina  1.1.2 - System language English - Keyboard layout Italian
Server - Ubuntu 16.04  - System language English - Keyboard layout Italian

When I use keyboard on client machine, I get wrong characters on the server machine.
If I check under Preferences/RPD/KeyboardLayout<Auto detect>, I get a wrong 00000409 - US.

[2017-10-29 11:21] giox069 commented on #1258
@cialu keyboard layout autodetection under wayland does not work in Remmina. Just go in Preferences->RDP and set it manually to your preferred layout.

[2017-10-29 11:31] giox069 commented on #1351
I'm changing the title of this issue and marking it as ehnancment/feature request. Because there is currently no way to specify printer driver name in temmina.

[2017-10-29 11:42] cialu commented on #1258
@giox069 sorry, I didn't tell above. I did many attempts: manual selection, use client keyboard settings, restart, reboot. Nothing works as expected. Another strange behavior, if I select UK/US keyboard on the server, everything works fine with that layouts; but if I select Italian keyboard on the server, accented vowels not works (show nothing on server) and (for example) if I press ':' key, I ge

[2017-10-29 12:20] giox069 commented on #1258
And... my fault too: you are using VNC. Remmina global settings for RDP does not affect VNC. Please open another issue, I'm renaming this by adding "RDP" on the title, because the 1st post is abuot RDP. When opening the new issue, please let us know which VNC server you are using at the server side.

[2017-10-29 14:34] cialu opened #1352 "Wrong keyboard layout in VNC"
* Ubuntu 17.10 (4.13.0-16-generic # 19-Ubuntu)
* Remmina version 1.2.0-rcgit-24
* Desktop environment default Ubuntu GNOME
* Connecting to Ubuntu 16.04 (4.10.0-37-generic # 41~16.04.1-Ubuntu) headless with standard Unity7 DE
* Connecting via VNC
* Using the default VNC server for Ubuntu - vino 3.8.1-0ubuntu9.2

I'm using Remmina to connect to two Windows 10 machines through RDP without any issue.

[2017-10-29 19:23] byjg commented on #909
My Remmina installation does not run under the snap environment. I installed directly through "apt".

This problem is totally ignored by the remmina developers. Because of this I migrated and now I use  "Guake" + "Guake Indicator".

[2017-10-29 21:22] thiagomgo commented on #909
Thanks @byjg, I didn't know this feature. I'll take a look.

[2017-10-30 00:26] antenore commented on #909
It's not totally ignored by us  @byjg , I don't have solutions at the moment.
Your behavior doesn't help that much in finding the cause and fixing it definitively. This is just trolling.

[2017-10-30 01:17] byjg commented on #909
Sorry, that's not my intention.  Comment edited. There are only the relevant information about "snap" environment.

Unfortunately I am not strong enough in C/Glade to dig into the code.

My contribution is that for some reason Remmina does not honor the config in /etc/ssh/ssh_config. In the past I did some tests. When my /etc/ssh/ssh_config is not set properly (ServerAliveInterval and ServerAliveM

[2017-10-30 07:08] antenore commented on #909
Unlucky to solve the issue I've too few options and none of them are quick to be implemented.

[2017-10-30 11:10] masterviana commented on #931
I know its closed, but have same issue not able to use RDP protocol. So I follow @antenore tip install last freerdp package and its work for me.

[2017-10-30 14:38] ssten commented on #1347
It is **not** a configuration issue, but a some kind of misexplanation.

Suggested test script works as expected, displaying sequence of **temporary** notification pop-ups (which disappears after a time without any user action).
*remmina* by default displays **static** notification pop-up, which is displayed until user push close icon on it.
After this notification window is closed, taking a scree

[2017-10-30 14:50] antenore commented on #1347
Really strange... I'd like to reproduce this, but on my systems the notifications works whatever I do, so I don't know what else to do... PLease keep going the debug.

Would you mind uninstalling Remmina and trying to compile it? We have some different guides in our wiki.

[2017-10-30 16:19] antenore commented on #909
So, there was a misunderstanding from my side of the issue (sorry).
@giox069 have implemented the keepalive in Remmina more than [a year ago](https://github.com/FreeRDP/Remmina/commit/56dc6c729ae06f6f7bd9568d00bc7a3dab4263e4).
It looks like on some distros/versions the connection is kept alive.

Can you please all give me you kernel keep alive parameters?

[code]
These parameters can be overridden

[2017-10-31 02:37] byjg commented on #909
No problem. I confirm that issue persists with me. My installed version is Remmina 1.1.2. I installed from APT package:  `remmina 1.1.2-3ubuntu1 amd64`. My system is:

[code]
and here is what you ask to me:

[code]

[2017-10-31 07:43] giox069 commented on #909
@byjg remmina 1.1.2 is extremely old. To install a newer remmina on ubuntu 16.04 use our PPA as explained in the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki). The last version of remmina is 1.2.0-rcgit.24.
But I can confirm you that the ssh disconnection problem is still here on 1.2.0-rcgit.24: keepalive packets are sent every 5 seconds, but there is a global timeout of 15 minutes of I/

[2017-10-31 10:28] Kh4l3tH commented on #941
yes, this way of starting remmina in fullscreen from command line still works ;)

[2017-10-31 15:16] jpeg729 commented on #1338
Unless I use the `Use client keyboard mapping` option in remmina I always get the US keyboard layout.

I have tried asking Remmina to use a specific layout, and I have tried with and without the `/kbd` option in xfreerdp, but I always get the US layout, which is annoying but I have gotten used to it by now.

[2017-11-01 00:39] antenore commented on #1293
I'm working on it, it's really far from being perfect, but it works.
I'll try to work on the group/profile tuple so that we can deal with duplicated profile names.

Things to consider:

- add --list option to list profiles (names, groups, ect)
- Improve the code in the ongoing phase of refactoring.

[2017-11-01 10:10] larsoyvind opened #1353 "Full-screen RDP session disappears when local system fades to screensaver"
When a full screen session is active and the screensaver "fade" starts, the session disappear, showing the local desktop. The session is still active and connected, but there seems to be no way to access it.
By connecting again, you get a message from the old session that someone else connected to the server forcing the current connection to be disconnected.
The behavior can also be replicated (ki

[2017-11-01 11:11] cialu commented on #1352
Due to an hardware fault on server, I have reinstalled Ubuntu 16.04 LTS on the system.

After that, the problem has disappeared.

[2017-11-01 11:11] #1352 closed

[2017-11-01 12:21] kimdelta opened #1354 "Mapping drives to Windows 2016 server"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version):  Ubuntu 16.04 LTS 64 bit
* Remmina version (remmina --version): 1.2.0-rcgit-24 (git rcgit-24)
* Desktop environment (GNOME, Unity, KDE, ..):  Unity
* Connecting to (OS and version): Windows Server 2016
* Connecti

[2017-11-01 23:47] #714 closed

[2017-11-02 09:28] ElPandaro opened #1357 "clipboard synch not working for second RDP connection"
Please give us some details about the systems you are using:
* Client (OS name and version):  Linux Mint 18.1  64 bit  Kernel Version 4.4.0-98-generic
* Remmina version (remmina --version):  1.2.0-rcgit-24 (git rcgit-24)
* Desktop environment (GNOME, Unity, KDE, ..):  mate-desktop_1.16.2-1+serena
* Connecting to (OS and version): Windows Server 2008 R2
* Connecting via (RDP, VNC, ...): RDP
* RDP i

[2017-11-02 14:55] ssten commented on #1347
I use Gentoo GNU/Linux.
So, I already use locally compilled from sources build. Or you mean the latest git snapshot?

My compiler is gcc-5.4.0-r3.
Possibly CFLAGS may matter. Not only in remmina, but also in dependencies.

As I see, for now notification support is a kind of poorly documented runtime dependency.
Maybe we can make in compile-time dependency? With at least interface selection of noti

[2017-11-03 05:56] ekorneechev opened #1358 "WARNING: the "resolution" setting in .pref files is deprecated"
* Client (OS name and version): Linux Mint 17.2
* Remmina version (remmina --version): 1.2.0-rcgit-24 (git rcgit-24)
* Desktop environment (GNOME, Unity, KDE, ..): MATE
* Connecting via (RDP, VNC, ...): NX

**WARNING: the "resolution" setting in .pref files is deprecated,
but some code in remmina or in a plugin is trying to read it.**

This warning appears every time you connect to any NX server.

[2017-11-03 06:04] alirezaimi opened #1359 "Window 0x555b79d3d650 has not been made visible in GdkSeatGrabPrepareFunc"
Failed to load plugin: /usr/lib/remmina/plugins/remmina-plugin-spice.so.
Error: libspice-client-gtk-3.0.so.5: cannot open shared object file: No such file or directory
Failed to load plugin: /usr/lib/remmina/plugins/remmina-plugin-vnc.so.
Error: libvncclient.so.1: cannot open shared object file: No such file or directory
Failed to load plugin: /usr/lib/remmina/plugins/remmina-plugin-telepathy.so.

[2017-11-03 06:39] antenore commented on #1359
How did you install Remmina?

OS version ? Remmina version?

[2017-11-03 07:39] alirezaimi commented on #1359
@antenore

[root@alireza-pc alireza]# pacman -Qi remmina
Name            : remmina
Version         : 1:1.2.0rcgit.22-1
Description     : remote desktop client written in GTK+
Architecture    : x86_64
URL             : http://www.remmina.org/
Licenses        : GPL
Groups          : None
Provides        : remmina-plugins
Depends On      : gtk3  zlib  libjpeg  libssh  avahi  vte3  libgcrypt  libxdmcp

[2017-11-03 07:46] antenore commented on #1359
Weird, would you mind trying the aur version? By eworm. Should be remmina-next

[2017-11-03 14:31] Ra1da35ma commented on #1316
hi, please what can I do or run in terminal to fix this on Ubuntu 17.10

[2017-11-03 14:38] giox069 commented on #1316
@Ra1da35ma have you upgraded to Remmina 1.2.0-rcgit.24 ? If not, use our PPA as explained on the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki).

[2017-11-03 15:08] crysman commented on #1357
I've been experiencing the same issue for a longer time already. When more than one RDP connection is established, clipboard syncing starts to behave buggy...

[2017-11-03 19:27] alirezaimi commented on #1359
`[alireza@alireza-pc ~]$ remmina
StatusNotifier/Appindicator support: not supported by desktop. Remmina will try to fallback to GtkStatusIcon/xembed
Running under Gnome Shell version 3.26.1

(remmina:24932): Gtk-WARNING **: gtk_menu_attach_to_widget(): menu already attached to GtkMenuItem
Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.
[22:55:11:692] [24932:24938] [I

[2017-11-03 19:34] antenore commented on #1359
Thank you

[2017-11-03 19:43] giox069 commented on #1359
We should try to reproduce the problem, but we are still unable to reproduce it... and we need more data from you :(
Are you using the standard Gnome Shell or some derived desktop (Budgie or others) ?
How many monitors? Resolution for each monitor?
Are you using a profile created with an older version of remmina? Have you tryed to create a new profile?
Thank you.

[2017-11-04 02:18] genepool99 commented on #1358
Client (OS name and version): Ubuntu 16.04
Remmina version (remmina --version): 1.2.0-rcgit-23 (git rcgit-23)
Desktop environment (GNOME, Unity, KDE, ..): Unity
Connecting via (RDP, VNC, ...): RDP

Same problem.

[2017-11-04 09:01] giox069 commented on #1358
I just did a PR #1360 to fix it. But I can't test it, because I have no NX servers. @antenore can you test it? Should also be tested maximization/minimization and fullscreen.

[2017-11-04 09:47] antenore commented on #1358
I'll test ASAP

[2017-11-05 19:42] Hypocritus commented on #708
@antenore

Thank you so much!! You did it!!

[2017-11-05 20:02] metafarion opened #1363 "Option to run Pre Command before ANYTHING else"
Currently, the Pre Command doesn't precede all connection operations.  I don't know everything that happens before it, but at least the destination hostname gets checked for resolvability first.  It would be nice if we could set it to truly run **first**.

In my particular scenario, I'm trying to use a Pre Command to issue wakeonlan before an RDP connection is attempted.  However, Remmina checks m

[2017-11-05 21:20] calaveraInfo commented on #1218
I have the same symptoms with freerdp and remmina compiled from master branch two weeks ago.

[2017-11-06 08:17] antenore commented on #1363
Thanks for the report, I'll take a look at it ASAP.

In the meanwhile I don't have a workaround, I'm sorry.

[2017-11-06 20:49] kofbox opened #1364 "Spacebar button bug with "use client mapping" RDP option enabled"
* Client (OS name and version): KDEneon (User Edition), 4.10.0-38-generic #42~16.04.1-Ubuntu SMP Tue Oct 10 16:32:20 UTC 2017 x86_64
* Remmina version (remmina --version): 1.2.0-rcgit-20 (git rcgit-20)
* Desktop environment: KDE
* Connecting to: Windows Server 2008R2 SP1
* Connecting via: RDP
* RDP issues only, freerdp version (xfreerdp --version): 2.0.0~dev

After upgrade Remmina from 1.2.0-rcgit

[2017-11-07 02:16] jrmrjnck commented on #1082
I can confirm this issue, and it makes Remmina unusable for me. Every time I switch back to the VNC window, the Alt key is stuck and I trigger all sorts of random actions. No wayland on client or server.

[2017-11-07 07:46] antenore commented on #1364
In the Remmina preferences did you set any particular keyboard layout? Can you try with the "use client mapping"?

[2017-11-07 13:14] kofbox commented on #1364
@antenore You right! By defaul checkbox "use client mapping" is checked, and when I turn it off - all working fine! Thanks!

[2017-11-07 13:16] giox069 commented on #1364
I think we should disable the mapping of space, and send it as hardware keycode even if "use client mapping" is enabled. I'm leaving this issue open to fix this.

[2017-11-07 22:05] #1364 closed

[2017-11-09 12:49] jondo opened #1366 "Cannot configure host key to Control_R + Shift_R combination"
The settings only support using a single modifier (default: Control_R) as host key. I am using this key a lot, with the same meaning as Control_L, so I would like to use the combination Control_R + Shift_R as host key instead. I cannot enter this combination, however.

* Client (OS name and version):
Linux Mint 18.2 64-bit
* Remmina version (remmina --version):
1.2.0-rcgit-24
* Desktop environment

[2017-11-09 23:10] #1358 closed

[2017-11-10 06:14] zatricky commented on #1153
I noticed this today running ArchLinux. Never had the issue before. It seems it happens also if you simply press Alt and click on the Window. In case it is a different issue, can you confirm if that same behaviour affects you?

[2017-11-10 07:21] ekorneechev commented on #1358
Thank you, we are waiting for the release!

[2017-11-10 07:45] sliddjur commented on #1153
I upgraded to Ubuntu Budgie 17.10 and my problems are gone.

[2017-11-10 11:23] inkarkat commented on #1288
Same problem here, but somewhat different output:

    $ snap run remmina
            Failed to register: GDBus.Error:org.freedesktop.DBus.Error.AccessDenied: An AppArmor policy prevents this sender from sending this message to this recipient; type="method_call", sender=":1.151" (uid=1000 pid=91647 comm="remmina ") interface="org.gtk.Actions" member="DescribeAll" error name="(unset)" requested_rep

[2017-11-11 08:37] antenore commented on #1358
@ekorneechev I'm afraid it won't happen very soon as we must fix some other bugs before that.
Maybe you can use the daily build, but sometimes it's not enough safe.

[2017-11-11 15:04] jstnlth opened #1369 "Last protocol not remembered - no option to set default protocol for main UI"
Please give us some details about the systems you are using:
* Client (OS name and version): Ubuntu 16.04 and 18.04
* Remmina version (remmina --version): 1.2
* Desktop environment (GNOME, Unity, KDE, ..): Cinnamon
* Connecting to (OS and version): N/A
* Connecting via (RDP, VNC, ...): VNC - but RDP is ALWAYS the automatic protocol (unless I delete the plugin).

Probably most of your users are RDP

[2017-11-11 16:32] antenore commented on #1369
I'll see if we can add a configuration option, it's quite tricky but I think it should be feasible.

[2017-11-11 20:55] antenore commented on #366
https://bugs.freedesktop.org/show_bug.cgi?id=91700
Things are moving on, so maybe soon we will have a working Xephyr.

In the meanwhile @larchunix has created a [remmina flatpak](https://github.com/FreeRDP/Remmina/blob/next/flatpak/README.md) that comes with Xephyr 1.16.

[2017-11-14 03:40] shnplr opened #1370 "Remmina shows separate running icon in gnome shell activities overview favorite toolbar"
Ubuntu 16.04.3 LTS
remmina 1.2.0-rcgit-24
Gnome-Shell 3.18.5
$ dconf read /org/gnome/shell/favorite-apps
[...'org.remmina.Remmina.desktop']
$ locate org.remmina.Remmina.desktop
/usr/share/applications/org.remmina.Remmina.desktop

After adding Remmina to favorites and then clicking to open I notice a new icon is created on favorites toolbar to display the running app - so now there are 2 remmina ic

[2017-11-14 20:47] ndemou commented on #1313
I had the same crash running on i3 window manager. I had to add ids in 3 different objects (remmina 1.2.0-rcgit-21 (git rcgit-21)). Thanks for the tip jpeg729

                 <object class="GtkBox" id="anything1">
     ...
                      <object class="GtkGrid" id="anything2">
     ...
                          <object class="GtkLabel" id="anything3">

[2017-11-14 22:21] antenore commented on #1313
This is fixed in the release rcgit-24

[2017-11-15 09:22] airvb commented on #1370
Ubuntu 17.10
Last remmina installed
Same snag also !
![remmina](https://user-images.githubusercontent.com/18460569/32828173-a92ae612-c9ee-11e7-9743-e394212a1f21.png)

It's easier if there is only one icon in toolbar
thks !

[2017-11-15 10:46] SlimG opened #1371 "Remmina tray icon not visible anymore"
* Client (OS name and version): Ubuntu 17.10
* Remmina version (remmina --version): 1.2.0-rcgit-24 (git rcgit-24) (From remmina-next PPA)PPA
* Desktop environment (GNOME, Unity, KDE, ..): Gnome Shell version 3.26.1

The problem:
Remmina tray icon used to work as expected after I upgraded to Ubuntu 17.10, but sometime ~last week the tray-icon disappeared.
Remmina works as expected in every other re

[2017-11-15 11:02] giox069 commented on #1371
Please also check on remmina global preferences, under "Applet" the tho options:
- Disable tray icon (do not enable it)
- Dark tray icon (try with both dark and not)

[2017-11-15 11:34] SlimG commented on #1371
I have reassured myself that "Disable tray icon" is not enabled.
I have tried both with and without "Dark tray icon", I've killed the remmina process inbetween tests.

Still no visible remmina tray-icon

[2017-11-15 11:45] ssten opened #1372 "Remmina echo wrong or unclear error for failed ssh connection to server with disabled password mechanism"
My settings are:
* Client (OS name and version): Gentoo GNU/Linux amd64 profile
* Remmina version (remmina --version): net-misc/remmina (1.2.0_rc24@07.11.2017)
Remmina - Version 1.2.0-rcgit-24 (git rcgit-24)
* Desktop environment (GNOME, Unity, KDE, ..): XFce 4.12
* Connecting to (OS and version): CentOS Linux release 7.2.1511 (Core)

sshd on server is configured to accept **only** public keys:

T

[2017-11-15 12:00] ssten opened #1373 "Please add hostbased mechanism support for ssh"
Hostbased authentication is historically very useful feature.
Please add it's support.

If needed, I can consult about configuration and testing.

[2017-11-15 12:10] ssten opened #1374 "remmina should use general system-wide settings of obsolete algorythms"
My settings are:

    Client (OS name and version): Gentoo GNU/Linux amd64 profile
    Remmina version (remmina --version): net-misc/remmina (1.2.0_rc24@07.11.2017)
    Remmina - Version 1.2.0-rcgit-24 (git rcgit-24)
    Desktop environment (GNOME, Unity, KDE, ..): XFce 4.12
    Connecting to (OS and version): CentOS Linux release 7.2.1511 (Core)

Together with remmina I use *cli* ssh client from

[2017-11-15 13:50] ssten opened #1375 "RDP connection: no action on sending Ctrl-Alt-Del"
My settings are:

*    Client (OS name and version): Gentoo GNU/Linux amd64 profile
*    Remmina version (remmina --version): net-misc/remmina (1.2.0_rc24)
*    Remmina - Version 1.2.0-rcgit-24 (git rcgit-24)
*    Desktop environment (GNOME, Unity, KDE, ..): XFce 4.12
*    Connecting to (OS and version): Windows Server 2012R2
*    net-misc/freerdp (2.0.0_rc0).

Sending *Ctrl-Alt-Del* shortcut to r

[2017-11-15 15:06] antenore commented on #1375
Are you using the toolbar shortcut?

[2017-11-15 17:26] JMurph2015 opened #1376 "Cannot connect to NoMachine NX on 17.10"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version):
* Remmina version (remmina --version):
* Desktop environment (GNOME, Unity, KDE, ..):
* Connecting to (OS and version):
* Connecting via (RDP, VNC, ...):
* RDP issues only, freerdp version (xfreerdp --version):

[2017-11-15 17:26] JMurph2015 commented on #1376
More details to come as soon as I can post the logs.

[2017-11-15 22:13] antenore commented on #1376
I was able to connect using an ssh agent (I use keychain), would you mind trying?

I rarely use NX and I'm trying to develop an x2go plugin, so I've an hard time debugging NX

[2017-11-15 22:17] antenore commented on #1374
Remmina uses libssh behind the scenes to open an ssh connection, so if libssh support what you need, we should be able to implement it in Remmina.

Can you check the libssh documentation, for the version you have on your distribution, and see if it's a problem on libssh side or more related to Remmina?

http://api.libssh.org/

Thanks in advance for your support!!!!

[2017-11-15 22:27] antenore commented on #1373
Remmina uses libssh and they don't support hostbased authentication (yet).

They are not against it, but it looks like nobody have started to work on it.

See this thread https://www.libssh.org/archive/libssh/2017-02/0000005.html

Has we cannot put any effort on helping out our libssh friends (we are already short in resources in Remmina), we cannot support this request in Remmina, I'm sorry.

If

[2017-11-15 22:27] #1373 closed

[2017-11-15 22:31] antenore commented on #1372
Yes, you are right, but I didn't get your suggestion, can you explain more please?

Errors are not well managed in the SSH part, I'll work on it while refactoring Remmina.

[2017-11-15 22:45] antenore commented on #1371
@SlimG do you have an extention like [KStatusNotifierItem/AppIndicator Support](https://extensions.gnome.org/extension/615/appindicator-support/) ?

Without it, starting from Gnome 3.26, that system tray icons are not supported anymore (blame the Gnome team).

Please, let us know

[2017-11-15 22:50] antenore commented on #1370
This is really weird and it doesn't happen on clean Remmina installation.

Are you sure you have only one version of remmina installed?

Would you mind trying a purge and reinstalling it?

Thanks!!!

[2017-11-15 22:55] antenore commented on #1366
@jondo I'm afraid this is not feasible and in fact I didn't see this implemented in other clients/system, excpet, for example in VSphere, where you press ctrl and then alt (not at the same time).

Let us investigate more on this, in the meanwhile find a different key you don't use often.

[2017-11-15 23:08] antenore commented on #1359
Remmina has been upgraded to rcgit-24 in the main Arch linux community packages

community/remmina 1:1.2.0rcgit.24-1

So I'm closing this.

[2017-11-15 23:08] #1359 closed

[2017-11-15 23:12] antenore commented on #1357
I use different RDP connections every day and I don't have these kind of issues.
The only thing is a little delay, but that is normal/wanted.

Which is the clipboard manager you are using?

[2017-11-15 23:13] antenore commented on #1354
Can you try from the command line with xfreerdp?

Thanks

[2017-11-15 23:16] antenore commented on #1353
I confirm, but I do not have an idea of how to fix it :-\

@giox069 ?

[2017-11-15 23:17] jondo commented on #1366
I am using the capslock key now :-) Fortunately, it works within Remmina although I have disabled it in my Cinnamon settings.

[2017-11-15 23:19] antenore commented on #1328
Sorry we were busy with other things.

Did you try to play with the keyboard remmina preferences?

[2017-11-15 23:21] antenore commented on #1326
@ic3d can you help me write down a translator doc?

[2017-11-15 23:22] antenore commented on #1366
Cool! This is really geeky :-)

[2017-11-15 23:22] antenore commented on #1366
Anyway... I'll take a look ASAP.

[2017-11-16 07:49] ssten commented on #1372
First of all, generally I suggest to add a tab with last connection messages and field to type a debug options like *-v*, *-vv* and *-vvv* in openssh client.

The next suggestion is about algorythm: prior to try selected auth mech, remmina should enshure, this mechanism in supported by server.
If connection is confugured to use unsupported authentication mechsnism it should display proper error me

[2017-11-16 07:52] ssten commented on #1375
Yes, I try to use pre-set shortcut from *Tools* menu item.

[2017-11-16 09:05] SlimG commented on #1371
@antenore That did the trick! Superhappy! :smiley:

[2017-11-16 09:06] #1371 closed

[2017-11-16 09:50] antenore commented on #1375
So this is really weird, it works for me.

@giox069 any ideas on how to debug this?

[2017-11-16 13:32] ElPandaro commented on #1357
I didn't use any Clipboard manager till i read your comment. I tried with "clipit" but still the same behaviour.

[2017-11-16 14:19] ic3d commented on #921
Thanks @he-loop, I'm closing this issue because it's probably solved - I'm not sure about it, because we didn't released a specific fix. Feel free to open it again if still happens.

[2017-11-16 14:19] #921 closed

[2017-11-17 06:37] ralfthewise commented on #937
I just submitted a PR (#1377) that at least allows you to zoom to fit in the existing window, that may be sufficient for most people's use cases.  In the interim, just a heads up that you can get this behavior by manually editing the config file for a connection:

[code]

[2017-11-17 11:00] makemeunsee commented on #966
sorry this does not seem to work.
using "Remmina - Version 1.2.0-rcgit-24 (git rcgit-24)", on arch with xmonad, running "remmina -c [some profile file]"
whether disconnecting from the session, closing the last tab or killing the window, the remmina process lives on and requires being ctrl-c'ed.

[2017-11-20 07:48] ssten commented on #1373
???
According to http://api.libssh.org/stable/ libssh supports hostbased Authentication.
And sometimes it is much more correct solution, than common alternatives.

I agree, it can require some custom and non-trivial setup. Not only on server side, but also on client side.
Somewhere I use hostbased Authentication and can consult about server setup and debugging (this use case looks to be a good exa

[2017-11-20 08:26] antenore commented on #1373
yep, sorry.

I'll find some time to look into it.

[2017-11-20 09:03] CS-JS commented on #1363
If I can help in any way to track this down, I'd be glad. I have a similar scenario, where OpenVPN connections to my remote sites are only established, when the first packet is received for a particular destination network. Sometimes, when I connect to hosts via this mechanism, and the WAN connection on the other side is quite slow, the RDP connection times out, after a retry it works fine. So I t

[2017-11-20 09:13] antenore commented on #1363
Yes, I'll work on this in the next days, because it'll allow also all those having ssh tunnel issues to workaround it, so for me this is high priority.

I want to profit to improve the prior and post commands, so if you have any advises and/or feasible requirements. If you can test while I'm working on it, I'll be very thankful.

[2017-11-20 09:14] antenore commented on #1363
EDIT: updated https://github.com/FreeRDP/Remmina/issues/1363#issuecomment-345634769

[2017-11-20 16:01] antenore commented on #1363
Do you have issues only with RDP?

[2017-11-20 16:13] CS-JS commented on #1363
As far as I can tell for now (as I have it tested), yes, only with RDP sessions - I will test with an SSH connection now.

SSH seems to ping beforehand, at least I get a circling "Please Wait" window from remmina.

[2017-11-20 16:24] antenore commented on #1363
This commit should fix the issue, but I'd like to improve the prior commands even further before to do a PR

[2017-11-21 00:16] antenore commented on #849
Slowly but surely :-)

I've implemented the host niddle (%h), let me know if you think we need anything else.

#1378

[2017-11-21 07:52] ssten commented on #1373
One more hostbased-related improvement:
For security reasons administrator may need te restrict hosts list, where ssh-connections are allowed.
This can be done by compile-time option, which forces usage system-wide configs (i.e */etc/ssh/ssh_known_hosts*) and ingoring user configs (*~/.ssh/known_hosts*).

[2017-11-21 08:04] antenore commented on #849
It's not possible to build it right now because I've forgot to add a new file, it's on my local repository at home, I'll add it later.

[2017-11-21 08:06] antenore commented on #1373
Please update your main request above.

[2017-11-21 08:49] ZAJDAN opened #1379 "Feature request - Option to completely hide the floating toolbar when in fullscreen."
This is not a bug!
I am sorry, but I do not know, where I could ask about such thing.
My question is if is possible somehow disable/lock dashboard.
Thank You

[2017-11-21 09:04] antenore commented on #1379
Do you mean the unity bar on the left on Ubuntu?

[2017-11-21 09:17] ZAJDAN commented on #1379
antenore:
not, I mean the Reminna dashboard which I see on the top of screen when I have full screen mode.
![remmina_dashboard](https://user-images.githubusercontent.com/11646994/33064191-2a4bdd90-cea5-11e7-9e16-1629e4f2b414.png)

[2017-11-21 09:30] antenore commented on #849
Fixed, it'd be possible to test it. Let me know

[2017-11-21 14:10] antenore commented on #1379
Under the preferences (Appearance) you can choose the way the toolbar is shown.

You can also drag and drop it where you want.

[2017-11-21 15:07] ZAJDAN commented on #1379
please, where exactly is it?
![remmina_dashboard1](https://user-images.githubusercontent.com/11646994/33079510-10948632-ced6-11e7-93fe-c2162475f28b.png)

[2017-11-21 15:09] ZAJDAN commented on #1379
now I know....it will be hidden in Tabbed mode.

[2017-11-21 15:46] antenore commented on #1379
![image](https://user-images.githubusercontent.com/5975/33081834-8be9aaba-cedb-11e7-8618-7bf7661275a4.png)

[2017-11-21 15:57] ZAJDAN commented on #1379
Thank for reply antenore...
should the option 'Hidden' hide the toolbar permanently / hard-boiled? or will be displayed when 'mouse over' the area where is hidden?

[2017-11-21 16:17] antenore commented on #1379
You can try, right? ;-)

[2017-11-21 16:24] ZAJDAN commented on #1379
yes it hide the toolbar, but when mouse over the area where it is hidden, it will apper
I would like to hide it permanently, something like a 'children lock'

[2017-11-21 16:27] antenore commented on #1379
I think this is not possible at the moment, you need a "kiosk mode" like?
Interesting feature, I think we could implement it, what do you think @giox069 ?

If I've understood, can you please update the title and the text of your first comment?

[2017-11-21 17:19] ZAJDAN commented on #1379
yes "kiosk mode" we could call this feature

[2017-11-21 20:58] giox069 commented on #1379
- The "Fullscreen toolbar visibility" global preference already has an option to completely hide the **floating toolbar**. No need to implement it. See this image:
![disabledfloatingtoolbar](https://user-images.githubusercontent.com/5477803/33096210-1cb0752a-cefe-11e7-8f54-ffc331f9fd9f.png)

- When not disabled, you can drag the floating toolbar  at the bottom of the screen, if you just need to mo

[2017-11-21 21:17] antenore commented on #1379
Thanks @giox069 , I'm closing this.

[2017-11-21 21:17] #1379 closed

[2017-11-21 21:24] #1363 closed

[2017-11-21 21:24] #849 closed

[2017-11-21 21:30] antenore commented on #1347
@ssten regarding this issue I don't know how to help you. I've Remmina installed on different OS, distros and with different desktop environments and the notifications are working fine.

Also no other users/contributors have reported issues with the notifications. This doesn't mean you are wrong, but just that I really don't know how to replicate your problem and try to eventually fix it.

I'm clo

[2017-11-21 21:30] #1347 closed

[2017-11-22 22:27] joakim-tjernlund opened #1380 "Remmina VNC full sceen is c.a 1 pixel too small"
Using Remmina git and a connection via VNC to my other computer in full screen I notice that
the screen is c.a one pixel to small vertically, the screen moves a tiny bit when moving mouse between
top and bottom.
The monitors in both ends are the same size, 1920x1200

[2017-11-23 08:22] giox069 commented on #1380
I'm unable to reproduce the problem. Can you please tell us which remmina version, desktop environment, version, OS distribution name and version and video card are using?
Also please try to switch from "Viewport fullscreen mode" to "Scrolled fullscreen mode" as shown in the following image (or vice versa).
![schermata da 2017-11-23 09-17-05](https://user-images.githubusercontent.com/5477803/33163

[2017-11-23 08:30] giox069 commented on #1370
Try to close remmina, remove the icon from the launcher and then re-add it. Are you still having 2 icons?

[2017-11-23 10:49] useralexey commented on #1351
I've already built a "https://github.com/FreeRDP/Remmina/issues/1121" for myself with the fixes and it works.But if you need to create a new version under your platform- Then find in my original two files my code marked "/* alex.....
[remmina_dev_custom_drv.zip](https://github.com/FreeRDP/Remmina/files/1498732/remmina_dev_custom_drv.zip)
" and correct - add to those that are loaded from the curren

[2017-11-23 11:02] antenore commented on #1351
@useralexey it's really kind from you to provide us this patch.

The best, also to have your name in the authors list, would be to submit a PR.

If you don't want or cannot, we will merge this manually as soon as possible, but really, if you can send us a pull request, is the easiest way to for us to keep a list of authors, as it's almost generated automatically at each new release.

Thanks a lot!

[2017-11-23 11:50] useralexey commented on #1351
My contribution to this project is very modest and this patch is necessary in my work, since it is very convenient to use "remmina-ppa-team / remmina-next" :)
PS
and really looking forward to the implementation of the multimonitor function

[2017-11-23 13:29] useralexey commented on #1279
HI , I'm joining in, there's this issue with Remmon this version.

    Client (OS name and version):Linux Mint 18.2 (ubuntu 16.04.1) 32 bit
    Remmina version (remmina --version):1.2.0-rcgit-24-0~remmina201710252018.r73bfd1e.ddd444db~ubuntu16.04.1
    Desktop environment ():Cinnamon
    Connecting to (OS and version): 2008 r2
    Connecting via (RDP ):RDP
    RDP issues only, freerdp version (xfr

[2017-11-23 20:29] joakim-tjernlund commented on #1380
Using Viewport fullscreen mode, just as your picture I think.
I forgot to mention that I am connecting to a computer with 2 monitors, side by side.
Remmina is current git, DE is MATE 1.18, OS Gentoo, GPU is Xeon E3-1200 v2/3rd Gen Core processor Graphics Controller

This issue is not new, been there for a long time, more than I can rember

[2017-11-23 20:41] joakim-tjernlund commented on #1380
Ah, after xrandr --output DisplayPort-1 --off I don't see the behaviour anymore

[2017-11-24 07:18] x09 opened #1381 "remmina doesnt share smartcard. Xfreerdp do it"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* OS: AltLinux 8.2
* Remmina version - 1.2.0-rcgit-20 (git rcgit-20)
* KDE5, Cinnamon
* Connecting to (OS and version): 1.2.0-rcgit-20 (git rcgit-20)
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version):

[2017-11-24 15:22] antenore commented on #1374
Sorry, in the beginning I didn't read carefully your post.
Yes, you're right, we should implement an option in the profile editor to select which algorithms to use and offer by default only the strongest, plus informing the user about the not supported/endorsed algorithms.

[2017-11-24 15:25] antenore commented on #1372
Some notes

1) Debug
You have a Debug window accessible from the menu and you can select the debug level in the preferences
2) UI
In the future we will work again on the interface and I'll keep in mind your advice.

[2017-11-24 15:28] antenore commented on #1373
I've verified and the Host based mechanism is not completed in libssh and they are not even sure they will put an effort on it.

One thing you can do is to use an ssh agent or support the libssh team to implement this feature.

[2017-11-24 16:33] joakim-tjernlund commented on #1380
Just to be clear, when I turn on the second monitor I see the behaviour again

[2017-11-24 23:10] boistordu opened #1382 "compatibility of microsoft account"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): debian 9
* Remmina version (remmina --version): 1.2-21

* Connecting to (OS and version): windows 10
* Connecting via (RDP, VNC, ...): RDP

Hi,
is It compatible with microsoft account? or only local and domain ac

[2017-11-25 09:12] anthonybilinski opened #1383 "Remmina immediately closes after connecting to ssh tunneled x11vnc"
Please give us some details about the systems you are using:
* Client (OS name and version): Ubuntu 17.10
* Remmina version: 1.2.0-rcgit-24 (git rcgit-24)
* Desktop environment: GNOME
* Connecting to: Ubuntu 16.04
* Connecting via: VNC

Remmina install from ppa:remmina-ppa-team/remmina-next

Connecting via:
`ssh user@host -L 5900:localhost:5900 "x11vnc -ncache 10 -ncache_cr -display :0 -xdamage"`

[2017-11-25 10:09] antenore commented on #1383
Did you try the ssh tunnel functionality in Remmina?

[2017-11-26 08:56] anthonybilinski commented on #1383
I tried now and I get nothing after I authenticate with ssh. My settings are:
Protocol: VNC
Server: Remote server IP
Then under SSH Tunnel tab:
Enable SSH tunnel: checked
Same server at port 22
user name set, publickey selected.

I then ssh into the machine and run `x11vnc -display :0 -localhost`

When I click connect in Remmina I see a window "Connecting to server..", then asks for SSH private ke

[2017-11-26 23:21] shnplr commented on #1370
Removing/re-adding the icon does not solve the issue.
This problem does NOT occur on my base Ubuntu Gnome 16.04 VM
On closer inspection of my PPA's I find I've added remmina-next along the way...
To reproduce the issue:
[code]
This will remove the current favourite from the dock -after re-adding the issue occurs
To resolve the issue:
```sudo ppa-purge ppa:remmina-ppa-team/remmina-next```

This wil

[2017-11-26 23:21] #1370 closed

[2017-11-27 09:59] heapifyman opened #1384 "Remmina applet disappears after closing last connection"
Please give us some details about the systems you are using:
* Client (OS name and version): Antergos
* Remmina version (remmina --version): 1.2.0-rcgit-24
* Desktop environment (GNOME, Unity, KDE, ..): GNOME 3.26.2 (with Topicons plus)
* Connecting to (OS and version): Windows 7
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version): 2.0.0-dev

I enabled "St

[2017-11-27 10:03] antenore commented on #1384
In Gnome 3.24 they have removed the systray icons support, so you have to install a third party gnome add-ons. Give-me some minutes and I'll tell you one of the 2/3 available that we endorse (busy now).
Or let me know if you find it yourslef, we should have a couple of issues clsed about this

[2017-11-27 10:28] antenore commented on #1384
You need an extension like [KStatusNotifierItem/AppIndicator Support](https://extensions.gnome.org/extension/615/appindicator-support/)

If you have time it could be nice of you if you could remember to the Gnome team that it wasn't a wise decision to remove that functionality in such a hurry.

[2017-11-27 10:29] antenore commented on #1384
https://github.com/FreeRDP/Remmina/issues/1371 as reference

[2017-11-27 22:27] angerangel commented on #1042
I have a similar and related problem:

- remmina  **reads** connection configurations from **~/.local/share/remmina**
- remmina **write** configuration configurations in **~/.remmina**
- moreover remmina write global configuration in **~/.config/remmina**

How to set the correct directory?
I use version 1.2.0-rcgit-22 (git rcgit-22)

[2017-11-27 22:39] angerangel commented on #1042
Ok, I corrected quite all, but it seems remmina doesn't save "use client resolution" option.

[2017-11-28 05:49] antenore commented on #1042
@angerangel this has been fixed in rcgit.24

[2017-11-28 07:01] ssten commented on #1374
Following my experience, *strongest* as default is overhead.
It is enough to warn, if server supports only insufficiently strong algorythms.

[2017-11-28 07:09] ssten opened #1386 "Please add support of keepassxc password storage"
Client (OS name and version): Gentoo GNU/Linux amd64 profile
Remmina version (remmina --version): net-misc/remmina (1.2.0_rc24@07.11.2017)
Remmina - Version 1.2.0-rcgit-24 (git rcgit-24)
Desktop environment (GNOME, Unity, KDE, ..): XFce 4.12

I use remmina on Gentoo GNU/Linux. This means easely available customization.
For now remmina could be built with *gnome-keyring* password storage.
But for n

[2017-11-28 11:21] heapifyman commented on #1384
Hi,

thanks for the reply but unfortunately your suggestion did not help.
I installed KStatusNotifierItem/AppIndicator Support and rebootet.

Remmina tray icon is there and `ps` shows
[code]

I click on the tray icon, open an RDP session and then log out again of the RDP session.

Tray icon disappears, Remmina is apparently killed, `ps` does not show any remmina any more.

Is there anything else I

[2017-11-28 15:48] Baltix opened #1387 "Remmina 1.2 displays lots artifacts when scrolling/zooming in MS Access print preview, but latest xfreerdp and old Remmina 1.1.2 works correctly"
Important regression exists in latest Remmina 1.2.0-rcgit-24 (and older 1.2.x) displays lots artifacts (text is unreadable, see attached screenshot) when scrolling (and sometime when zooming) in MS Access print preview window, but latest xfreerdp and older Remmina 1.1.2 works correctly in same configuration.
I've tested on several computers with Ubuntu 16.04 and 17.10 - same issue exist in all Rem

[2017-11-28 23:29] gh-user-7392 opened #1388 "Remmina not honoring disabled load balancing on RDS Server collection"
Using Remmina version 1.2.0-rcgit-24 (git 72acb10) when connecting to more than one Windows 2K12R2 RDS server defined in a RDS Collection with load balancing disabled, I get the error, "Another user connected to the server (192.X.Y.XYZ), forcing the disconnection of the current connection. I also attached the error message. Remmina disconnects the first server, displays the first server's IP in th

[2017-11-28 23:51] antenore commented on #1388
Thanks for your report.

Can you please test with xfreerdp?

Regarding the second one, I think it's a good idea. Would you mind opening a separate issue?

Thank you!

[2017-11-29 00:00] antenore commented on #1387
Remmina 1.1.2 cannot works with the latest freerdp.
What do you mean with

We don't know this product you are using, so it's quite hard for us to investigate that unexpected graphical issue.

Do you have a server we can access and do some tests? If yes, contact me by email (it's in the Remmina About widget).

[2017-11-29 00:24] gh-user-7392 commented on #1388
Been a long time user of FreeRDP. I tested this with the FreeRDP built for the Remmina plugin. The FreeRDP version is: This is FreeRDP version 2.0.0-dev (8f8ce70) and it works fine launching two instances of FreeRDP to the two servers in question at the same time.

[2017-11-29 00:44] gh-user-7392 opened #1389 "Right click to edit Group Name grayed out in Main Window"
Using Remmina version 1.2.0-rcgit-24 (git 72acb10), in the main application window, when trying to reorganize the group names I tried to right-click the group name assuming I could edit it. Unfortunately, the Edit selector in the context menu was grayed out and unavailable. This required a manual edit of the individual affected remmina connection files located in ~/.local/share/remmina. Needless t

[2017-11-29 00:54] gh-user-7392 opened #1390 "Expand the Debug Log window to include FreeRDP WLog messages"
While running the latest version of Remmina I wanted to capture some running aspects of the FreeRDP plugin by looking at the WLog messages. I thought I could open the Debug Log window and control some aspects of the logging as well as view what was happening in FreeRDP. I did not find a way to do this. If there is a way I apologize but otherwise please allow this. In addition, Remmina provides gen

[2017-11-29 01:10] gh-user-7392 opened #1391 "Allow external commands without protocols in create connection dialog"
Using the latest Remmina - Version 1.2.0-rcgit-24 (git 72acb10) I mostly utilize VPN connections before launching a RDP connection to a Windows server. I have a script that I use in the Pre-command area to check if the VPN is open or not for every connection. If it is not it automates the setup of the connection. If it is already open it silently terminates. However, when I eventually want to shut

[2017-11-29 11:30] antenore commented on #1391
Why not!
I was thinking, previously, to write an exec (protocol) plugin, to just exec something and have the result (whenever possible) in a remmina window.

Writing a protocol plugin for Remmina, it's quite straight forward, but I don't have time now.

If you have a bit of time it could be worth taking a look at the hellp plugin in the remmina-plugins folder in the source tree.

Otherwise I'll ad

[2017-11-29 12:25] Baltix commented on #1387
Thanks for quick reply @antenore :)
I know, that Remmina 1.1.2 cannot work with latest freerdp, so, I've tested by downgrading both - Remmina to 1.1.2 and freerdp libraries to 1.1.0~git20140921.1.440916e+dfsg1-15ubuntu1

I mean, that *latest* xfreerdp  2.0.0-git201710191115-0+remmina201710192147.r86bb1e0.d29dd283 works fine in the same situation where latest Remmina 1.2.0-rcgit-24 (with same libfr

[2017-11-29 12:39] Baltix commented on #1390
I think ability to see freeRDP debug messages could also help in such situations like in issue #1387 , when xfreerdp works fine, but Remmina displays artifacts

[2017-11-29 13:02] antenore commented on #1387
@giox069 ? Do I try to refresh the FreeRDP lib (after the debian patch issue)

[2017-11-29 13:05] antenore commented on #1390
Starting Remmina from the command line give some additional messages. We'll try to to improve the debug window

[2017-11-29 18:28] giox069 commented on #1387
@Baltix Can you try xfreerdp with /gdi:sw ? Remmina does not use the standard acceleration of xfreerdp, but the software rendering of libfreerdp. /gdi:sw makes xfreerdp use the same software renderer that remmina uses.

[2017-11-29 22:33] antenore commented on #1389
This is quite hard to put in place as it's hard to edit by hand.
The Edit shortcut is meant solely to open and modify a Remmina profile.

As you realized, a group (+ subgroups) it's a property inside a remmina profile, so "editing" the group name outside the profile editor, would mean to change one or more profile at the same time.

This is something we don't have yet, .... But....

@giox069 has d

[2017-11-29 22:48] antenore commented on #1386
Remmina can be built with -DWITH_LIBSECRET=OFF to disable the internal password manager.

On the other side, Keepassxc is an application and  doesn't provide any kind of API, so we cannot afford to develop ourself a plugin. I'm really sorry but at the moment we won't do this.

I'm going to leave this issue opened and I'm going to add some labels.

[2017-11-30 08:26] ssten commented on #1374
Host key strength (not only type, but also length) is not the only thing, should be handled.

Just now, trying to connect with *openssh* client to old Unix server (with *ssh2* server) I've got the following error:

Remmina connected to this server successfully (the expected result) and silently (wrong thing).

I suggest, in addition to note in connection list, echo connection warnings somewhere in

[2017-11-30 09:49] Baltix commented on #1387
**Yes, problem is in /gdi:sw - when I run xfreerdp with /gdi:sw then the same artifacts appears in xfreerdp!**
Thanks @giox069 , maybe you can tell me how to reconfigure Remmina to not use software rendering of libfreerdp ?
I think there should be the setting in RDP connection preferences for enabling/disabling software rendering of libfreerdp

[2017-11-30 11:08] giox069 commented on #1387
Remmina does not have hardware rendering support: it's too complex to implement and maintain for us. The correct solution should be opening an issue with the FreeRDP team [here](https://github.com/FreeRDP/FreeRDP/issues), after testing it with the latest xfreerdp compiled from their source. To have it solved, you should also add
- The name/version of the OS you are connecting to
- The version of o

[2017-11-30 14:52] giox069 commented on #1387
Yes, you can. But it's 6 days old, because the build system is currently broken. I will retry to fix it in some hours.

[2017-11-30 15:59] Baltix commented on #1387
latest xfreerdp version 2.0.0~git201711291428-0+remmina201711301433.rd2cb79c.d29dd283 (from https://launchpad.net/~remmina-ppa-team/+archive/ubuntu/freerdp-daily ) still has the same issue when using /gdi:sw option.
I'm connecting to: Windows 7 Pro with ThinStuff Terminal Server (see http://thinstuff.com/products/xpvs-server/ )

It's interesting to say, that that old Remmina 1.1.2 with old freerdp

[2017-11-30 19:31] ChristianSaboia commented on #1353
I've noticed the same behavior when switching between workspaces. When I return to the workspace where Remmina is open, most of the times, Remmina Windows closes but the session is still active. Pretty much the same behavior described by _larsoyvind_.

Client (OS name and version): Ubuntu 17.04
Remmina version (remmina --version): 1.2.0-rcgit-24 (git rcgit-24)
Desktop environment (GNOME, Unity, KD

[2017-11-30 21:36] ben-cohen commented on #854
I've implemented a prototype for this by sending fake mouse movements.  It's currently only implemented for the X11 client and against a Windows server.

See branch [keepalive](https://github.com/ben-cohen/FreeRDP/tree/keepalive) (commit [8e2ae52](https://github.com/ben-cohen/FreeRDP/commit/8e2ae528e1721c8a3616522895eb16344d401cf1)) in my clone of the FreeRDP repo.

[2017-12-01 09:45] ssten opened #1392 "remmina fails to open sftp window, connected to ssh2 server with public key auth"
Sometimes I need to work with old unix servers.
My settings are:

* Client (OS name and version): Gentoo GNU/Linux amd64 profile
* Remmina version (remmina --version): net-misc/remmina (12:23:26 01.12.2017)
* Remmina - Version 1.2.0-rcgit-24 (git rcgit-24)
* Desktop environment (GNOME, Unity, KDE, ..): XFce 4.12
* Connecting to (OS and version): OSF1 unix.domain.tld P5.1 1644 alpha

I don't want t

[2017-12-01 10:08] ssten commented on #1374
One more incompatibility.
*remmina* uses standard

[2017-12-01 10:20] antenore commented on #1392
I'll take a look

[2017-12-01 22:22] antenore commented on #1392
Fixed, it'll be available in the main branch in some days, as soon as I'll merge it.
The sftp plugin suffers from the same issues as the ssh plugin you have reported.

[2017-12-01 22:36] antenore commented on #1392
I've just fixed the SSH tunnel for the sftp as well. It wan't working.
I'm closing this, but if you'll issue don't hesitate to contact me again.

[2017-12-01 22:36] #1392 closed

[2017-12-01 22:41] antenore commented on #1301
This was broken, sorry. I've just fixed this and I'm merging into next. It'll be available ASAP in the next release

[2017-12-01 22:46] antenore commented on #1177
@QuAzI can you please answer to @giox069 questions? I'm working on the libssh issues.
Mainly the one reported by you and @ssten

Thanks

[2017-12-01 22:54] #1301 closed

[2017-12-01 23:23] antenore commented on #1374
I'm reading/studying the libssh documentation. I think it's feasible with the libssh messages and logging functions.
I'll need some time to learn, tests and implement it.

Stay tuned.

[2017-12-02 01:52] gh-user-7392 commented on #1391
After looking into developing a solution to this problem, I found that it had already been done. Fabio Castelli (Muflone) has already created "Remmina Plugin EXEC", and you can find a well documented website at: http://www.muflone.com/jekyll/remmina-plugin-exec/english/, in addition, you can get the latest master git src from: https://github.com/muflone/remmina-plugin-exec. All I had to do was upd

[2017-12-02 08:51] antenore commented on #1391
Yes, he was participating in the Remmina development as well.
We should just integrate it in the Remmina tree.
Are you up to it? Would you like to try and submit a PR?

Just be careful to keep all the copyright information.

Please and thank you!

[2017-12-02 21:59] rounaksingh opened #1394 "Capture Keyboard events turns off when remmina auto-reconnects after system lock due to inactivity"
Hi,
I am using
Remmina version v1.2.0-rcgit.24
on Arch (kernel: 4.13.12-1 LTS) with XFCE desktop
connecting to Windows 7 (via RDP -- FreeRDP version 2.0.0-dev)
connecting via Cisco Anyconnect VPN

The issue is the capture keyboard events. When connecting Remmina to Win7 first time it works fine. However, after system locks itself after a duration of inactivity, and when I unlock the system and Rem

[2017-12-04 10:22] giox069 commented on #1387
I have just setup a test VM with win7+office 2003, without thinstuff. I'm able to reproduce the problem. I opened an issue to the FreeRDP team: https://github.com/FreeRDP/FreeRDP/issues/4299

[2017-12-05 09:34] mbevc1 opened #1395 "Not grabbing all events in Wayland"
When using Wayland on Fedora 27 all keyboard events are not captured in Remmina. It works fine when using Xorg. Is this a known bug or upstream issue that needs to be addressed?

Some details about the systems you are using:
* Client (OS name and version): Fedora 27
* Remmina version (remmina --version): 1.2.0-0.42.20170908git205df66.fc27
* Desktop environment (GNOME, Unity, KDE, ..): Gnome 3.26
*

[2017-12-05 09:59] antenore commented on #1395
@giox069 should have fixed this problem. Can you please try the copr package? See the wiki for the URL. You should have at least rcgit.24

[2017-12-05 10:11] mbevc1 commented on #1395
Do you mean this one? https://copr.fedorainfracloud.org/coprs/hubbitus/remmina-next/packages/

[2017-12-05 10:18] antenore commented on #1395
Yes

[2017-12-05 10:19] antenore commented on #1395
Wait, it looks like it's old...

@Hubbitus

[2017-12-05 10:20] mbevc1 commented on #1395
Yes, seems there is not anything else available at the moment?

[2017-12-05 10:20] berillions opened #1396 "Remmina lock screen when i use it to connect to Win10."
Please give us some details about the systems you are using:
* Client (OS name and version): Debian Stretch
* Remmina version (remmina --version): Remmina - Version 1.2.0-rcgit-24
* Desktop environment (GNOME, Unity, KDE, ..): Mate
* Connecting to (OS and version): Windows 10 - Fall Creator Update
* Connecting via (RDP, VNC, ...): RDP
* RDP issues only, freerdp version (xfreerdp --version):

Hello

[2017-12-05 10:22] antenore commented on #1395
I'll check later for the package, but compiling Remmina on Fedora is quite straightforward if you want

[2017-12-05 10:26] mbevc1 commented on #1395
Yeah, but it'd still be nice if we can get to Fedora package maintainer and get it released via their repo as well ;) Thanks!

[2017-12-05 10:33] antenore commented on #1395
Only (Pavel)  @Hubbitus can help us :-\

I'd also submit a bug report to the Fedora team

[2017-12-05 10:34] antenore commented on #1395
Does the output of ```remmina --version``` show that long version string?

[2017-12-05 10:38] mbevc1 commented on #1395
Sorry, that was package name, version used here is: `1.2.0-rcgit-20 (git rcgit-20)`

[2017-12-05 10:40] antenore commented on #1395
Yep, too old.
I really advice to upgrade from source till the Fedora team will update the package and please urge them as well so that they will do it (I hope)

[2017-12-05 10:46] mbevc1 commented on #1395
So this was supposed to be fixed in `rcgit-24`?

[2017-12-05 10:52] antenore commented on #1396
Ton niveau en anglais est très bon, on a tout bien compris. Je passe à l'anglais pour le reste du monde.

This is a Windows security setting that has nothing to do with Remmina and FreeRDP unlucky.

On Windows 7 there was a key in the registry "HKEY_CURRENT_USER\Control Panel\Desktop\ScreenSaveActive", check if you have on Windows 10 as well.

Check also this thread https://superuser.com/questions

[2017-12-05 11:10] antenore commented on #1395
Well, it should be much better, unlucky there are still a lot of issues with wayland, because they don't support yet most of these grabbing functions. Wayland is way too far to be a stable and complete subsystem. I'm not pushing to don't use it, but keep in mind that there is still a lot of work to do on their side as development and on our (user') side a lot of bug report to fill.

rcgit.20 it's

[2017-12-05 11:11] giox069 commented on #1395
There is no Keyboard capture in Wayland < 1.9. It's not a remmina problem, it's just not in wayland. See issue #1086.
Keyboard capture has been recently implemented by the wayland team in wayland 1.9, see [this](https://lists.freedesktop.org/archives/wayland-devel/2017-July/034459.html).
But it must also be implemented by the GTK+ libraries.
Remmina is already calling the correct GTK+ functions to

[2017-12-05 11:29] antenore commented on #1395
Sorry for the not completely correct answer.

[2017-12-05 11:43] mbevc1 commented on #1395
No worries @antenore :) Thanks @giox069 for extensive answer 👍 . This wouldn't be solved with `rc24`, but probably still good to push it forward, I recon :)

[2017-12-05 11:59] antenore commented on #1395
This, absolutely

[2017-12-06 08:29] ssten commented on #1374
Next miss:
*remmina* **must** check private key permissions, like openssh's ssh cli client does.

For now key:

works fine.

P.S. Proper SELinux context also **must** be checked, when SELinux is enabled.

[2017-12-08 21:19] MagicFab commented on #1105
I can see how this would be useful, perhaps even more to import existing RDP files.

I couldn't find information about how RDP files are formatted, only these two links:

- https://engrmosaic.uncc.edu/mosaic-anywhere/remote-desktop-file-format
- https://msdn.microsoft.com/en-us/library/gg156129(v=winembedded.70).aspx

[2017-12-08 21:32] MagicFab opened #1398 "RFE: support for importing from nRemoteNG - perhaps also use their export code (GPL)"
This is a feature request to support importing from [nRemoteNG (GPLv2)](http://www.remmina.org/). The nRemoteNG export feature can produce both XML and CSV formatted files.

I am using Remmina from Debian Backports and had a situation where I needed to import a bunch of connection profiles (VNC, SSH, RDP...) from mRemoteNG and couldn't.

When importing from XML in mRemoteNG a new folder is created

[2017-12-08 21:41] antenore commented on #1105
@MagicFab , yes are the only sources I've found as well.

Remmina has almost everything is needed except:

1. Register a Mime-type for .remmina files (while we are on it ;-) )
2. Register a Mime-type for .rdp files
3. Use the existing import remmina functions to read and use the .rdp passed as argument.

Hope it helps, unlucky at the moment I'm too busy with other tasks, so I cannot work on it.

[2017-12-08 22:08] MagicFab commented on #1091
#1398

[2017-12-08 22:10] MagicFab commented on #1398
I've also added a bounty on this: https://www.bountysource.com/issues/52498836-rfe-support-for-importing-from-nremoteng-perhaps-also-use-their-export-code-gpl

[2017-12-09 09:27] YoungJuleke opened #1400 "Build fails (rc24), app-indicator.h not found"
Latest Remmina from git: 1.2.0-rcgit-24.

make fails on Remmina, with message:

`..remmina/src/remmina_icon.c:52:27: fatal error: app-indicator.h: No such file or directory`

c includes:
[code]

c++ includes:
[code]

Find of app-indicator.h:
[code]

Changing line 52 of remmina_icon.c from:

`#include <app-indicator.h>`

to:

`#include "/usr/include/libappindicator3-0.1/libappindicator/app-indicato

[2017-12-09 23:37] antenore commented on #1400
Thanks for the report.

The CMake file responsible for finding the appindicator headers is https://github.com/FreeRDP/Remmina/blob/next/cmake/FindAPPINDICATOR.cmake

I'm taking a look to understand why it fails in your case. If you are faster then me, let me know and I'll fix it (or submit a PR).

In case you'll submit a patch, be sure to don't brake other use cases.

Thanks!

[2017-12-09 23:40] antenore commented on #1400
BTW, which distribution are you using?

I've the impression you have installed ayatana-appindicator3-0.1 but it's name just appindicator3-0.1

[2017-12-09 23:41] antenore commented on #1400
Forget my last comment regarding the ayatana-appindicator, but I need the distribution name and version anyway. Thanks!

[2017-12-10 22:51] ptempier commented on #1019
confirmed , please close

[2017-12-11 16:08] kofbox opened #1402 "The password in the connections is not saved after upgrading Remmina"
* Client (OS name and version): KDEneon useredition, Linux 4.10.0-42-generic #46~16.04.1-Ubuntu
* Remmina version: 1.2.0-rcgit-24 (git rcgit-24)
* Desktop environment: KDE
* Connecting to (OS and version): Windows Server 2008R2 SP1
* Connecting via: RDP
* RDP issues only, freerdp version: 2.0.0~dev

After updating Remmina to the latest version, the password from the saved settings of all connectio

[2017-12-11 16:15] #1402 closed

[2017-12-11 16:16] kofbox commented on #1402
Sorry, somthing go wrong... After restart computer all working again.

[2017-12-11 17:59] giox069 commented on #1402
@kofbox I noticed that under very rare circumstances on Ubuntu 16.04 remmina cannot connect to the gnome keyring. Just exiting remmina and reopening it solves the problem. But it happens too rarely to understand why.

[2017-12-12 20:04] giox069 commented on #1400
On my ubuntu 16.04 it works, this is where I develop remmina. But I only have the 1st ```/usr/include/libappindicator3-0.1/libappindicator/app-indicator.h```, not the second one.
Try to find which package owns the second file:
```dpkg --search /usr/include/libappindicator-0.1/libappindicator/app-indicator.h```
and if possile, remove it (and let us know :) :))

[2017-12-12 22:53] YoungJuleke commented on #1400
Running make --trace tells me the command it tries to run is:
`cd /home/jules/dev/remmina/Remmina/remmina && /usr/bin/cc  -DHAVE_LIBAPPINDICATOR -DHAVE_LIBAVAHI_CLIENT -DHAVE_LIBAVAHI_UI -DHAVE_LIBGCRYPT -DHAVE_LIBSSH -DHAVE_LIBVTE -DWITH_MANPAGES -I/home/jules/dev/remmina/Remmina/. -I/home/jules/dev/remmina/Remmina/remmina/include -I/usr/include/gtk-3.0 -I/usr/include/glib-2.0 -I/usr/lib/x86_64-l

[2017-12-12 23:01] YoungJuleke commented on #1400
Offering to remove each libappindicator gives the following results...but I don't really want to actually go ahead and remove one unless you absolutely insist! :-)
[code]
[code]

[2017-12-15 12:09] ssten opened #1403 "Please add host key display somewhere in connection details"
Remmina identifies server by it's key at least for ssh and rdp connections.
For **ssh** connections it use standard user config file *~/.ssh/known_hosts*, so I can easely see host key.
For **rdp** it stores keys somehere in it's profile.

It will be useful, if remmina will display stored host key (or warning, if missed) in connection details.

[2017-12-15 12:14] antenore commented on #1403
It should be already the case if you execute remmina from the command line, isn't it?
The known_host file is managed by FreeRDP and it's usually stored under ```~/.config/freerdp/known_hosts2```

Can you confirm you see the warning/errors in the terminal?

[2017-12-15 12:22] ssten commented on #1403
Maybe it depends on some build options, but just for now I see no warning/error messages in the terminal.
Even when connecting (via **ssh**) to server with new (i.e. unknown) host key.

[2017-12-15 12:37] antenore commented on #1403
Bizarre

Opening the Debug window you should see everything at least. It's possible that you have to change the logging level in the general SSH preferences (in the Remmina main menu -> preferences, under the SSH tab). Anything useful there?

I'll improve the SSH notifications in the next releases.

That said, consider that the Remmina SSH protocol plugin, it's still really rudimentary and it's no

[2017-12-15 13:04] ssten commented on #1403
Is loglevel settings a runtime parametr or I need to restart remmina to take effect?
On connection I see only two warnings:

Thank you for your efforts!
I just want to help you to improve remmina and make it perfect.

[2017-12-15 14:49] antenore commented on #1403
No, you must lunch the debug window, it's in the main Remmina menu and then just re-lunch your ssh connection

[2017-12-15 22:02] Arkem5 commented on #1228
Well... we are in December now, and it is still impossible to use remmina because it ask me for a passphrase each time i try to connect with a key instead of a password, and I always forbid the password connection on my SSH servers. Is it planned to fix this someday?

[2017-12-15 22:05] mattpepin commented on #1228
Still not fixed in Arch Linux either.

[2017-12-15 22:34] 3v1n0 commented on #1047
I think this is fixed as per commit f73b2b79.

[2017-12-15 22:34] #1047 closed

[2017-12-15 23:02] antenore commented on #1228
Please help me to understand the problem, because I'm quite lost

I've just tested the last commit in our main branch (named 'next' https://github.com/FreeRDP/Remmina/commit/202d17f5bec8d8aac386b647bf5f4be3c2ab0ff7 ) and it works.

My config:

Protocol: SSH
Server: barce (my final destination) 192.168.122.167:22
Tunnel: rex (my stepping stone)  192.168.0.28:22
Authentication Type: SSH Agent

I've

[2017-12-15 23:11] antenore commented on #1228
TL;DR
To resume, I've just saw a couple of comments.

This issue is solved, but unlucky, I cannot release a new version right now.

On Arch you can install the remmina-git AUR package, the package name include the version number, but it's worng, the AUR is always built from the last commit, so go ahead with it.

Ubuntu has the remmina-next-daily , follow this https://github.com/FreeRDP/Remmina/wik

[2017-12-16 05:56] mattpepin commented on #1228
Hmmm nope... I just tried the latest GIT, same issue unfortunately!

[2017-12-16 06:44] alex-mashin commented on #1047
Still doesn't save my passwords.

[2017-12-16 08:40] antenore commented on #1047
@alex-mashin which Remmina version

[2017-12-16 11:34] alex-mashin commented on #1047
1.2.0-rcgit-24 (git 202d17f)

[2017-12-16 11:50] giox069 commented on #1047
Pease do not reuse this issue. It contins old and misleading informations, mixing different remmina versions and packaging systems (snap, PPA, compilation by hand).
If you still have problems with passwords savings, reopen a new issue and describe with more details your setup including:

1. The remmina version tou are using (remmina --version from commandline, include the full output)
2. How did y

[2017-12-16 17:14] joakim-tjernlund commented on #1380
I have no idea what changed but for some week my monitors are not aligned in Remmia.
My right screen appears to be placed just short of a centimeter  higher than the left screen
so now it scrolls that much when moving the cursor from top to bottom

[2017-12-16 23:52] mattpepin commented on #1228
Here's my profile, with sensitive info edited. I get the error message I mentioned above. It still does not work if I SSH from the command line before to unlock my key. It works if I use Public key (automatic), but I don't want Remmina to manage my keys.

`[remmina]
sound=off
sharefolder=
microphone=0
name=Test RDP
proxy=
cert_ignore=0
ssh_enabled=1
showcursor=0
exec=
clientname=
console=0
colorde

[2017-12-16 23:59] mattpepin commented on #1228
My profiles are in ~/.remmina, not in ~/.local/share/remmina. I guess it's distro specific? I used the path shown in the status bar.

[2017-12-17 00:14] antenore commented on #1228
It's not distro specific, ~/.remmina comes from an old version of remmina. The new versions of Remmina, new as about year old maximum, copies automatically the profiles from ~/.remmina to ~/.local/share/remmina.
Can you check if you still have an old version installed somehow?
The problem may lie in a melange of remmina versions.

[2017-12-17 09:52] giox069 opened #1404 "Remmina SNAP can't still access keyring to save passwords"
On some distributions, verified on Ubuntu 17.04, 17.10 and 18.04, the remmina SNAP version is unable to access the GNOME keyring. Remmina SNAP also crashes under ubuntu 17.10 and 18.04.
On other distributions, verified on Debian 9 Stretch, remmina SNAP is able to access the gnome keyring and saving passwords without problems.
Snap versions used on all four distributions, working and not working, i

[2017-12-17 09:56] giox069 commented on #1047
For people interesting in current remmina SNAP problems happening with some distributions, please follow issues #1404 and #1288 (@3v1n0 if you can take a look at issue #1404 you are welcome, thank you :))

[2017-12-17 11:14] Arkem5 commented on #1228
Maybe I have a clue...
I can connect to a ssh server on a Mint 18.3 ssh server using RSA key at work.
In the other cases, it doesn't work either with Debian Jessie and Mint 18.3 ssh servers using ed25519 keys. Maybe there is an issue with this one, but I expected the agent to handle it all...
Connections using the ssh shell or vinagre works normally in all cases. I prefer Remmina for VNC with SSH

[2017-12-17 11:28] antenore commented on #1228
@Arkem5 this is cool! Thank you! Something I can work out

[2017-12-17 12:20] giox069 commented on #1288
Can anyone try executing
[code]
rebooting and retesting the snap version of remmina?

[2017-12-17 13:00] mattpepin commented on #1228
You were right, my profiles were also copied to .local/share/remmina, but for some reason, it still used the old ones. I tried removing everything from both locations and start from scratch, but the issue persists. I can also confirm I only have 1 remmina binary (which is in /usr/bin).

[2017-12-17 13:03] giox069 commented on #1404
It seems that executing
[code]
and then rebooting, should be enough to fix it.
Please report here positive or negative results.

[2017-12-17 16:52] alex-mashin commented on #1404
It really helped, thank you very much.

[2017-12-18 02:18] bulletmark commented on #714
I am on Arch with current official version remmina 1:1.2.0rcgit.24-1. Due to this bug Remmina takes about 15 secs to start everytime which is really annoying. I have tried many other VNC clients but prefer Remmina. It seems a fix for this issue was recently committed, is there a new formal release planned with this fix?

[2017-12-18 07:36] antenore commented on #714
@bulletmark Really soon, hopefully before end of this year. It all depends to the last annoying bugs I've to fix in ssh.

[2017-12-18 11:00] antenore commented on #1228
Please TEST. Hopefully I've just pushed a fix for this.
As per libssh documentation we SHOULD not send the username to the ssh_agent.
In some cases, I think, when the local and remote users are the same, or when in the ~/.ssh/config file the user name is set, the ssh_agent was working (I was in these 2 cases).

I'm quite sure I've broken something else, so please test.

Thank you for our patience!

[2017-12-18 14:23] kirreen opened #1405 "Remmina crashes when sharing local printers and connecting through gateway"
Basically what the title says. I'm using FreeRDP. Printers work without a gateway.
Any files you need that'll help you out?

[2017-12-18 14:29] antenore commented on #1405
Can you please provide the FreeRDP and Remmina versions?

Can you also test with xfreerdp?

Thanks

[2017-12-18 17:04] Arkem5 commented on #1228
I just tried the Ubuntu next-daily version, but I still get this message: kex error : no match for method server host key algo: server [ssh-ed25519], client [ecdsa-sha2-nistp256,ssh-rsa,ssh-dss]
Do I have to compile the git to have a more up to date version?

[2017-12-18 17:09] mattpepin commented on #1228
I just recompiled latest git (git 055e33b33), and I still have the issue.

[2017-12-18 17:11] antenore commented on #1228
I'm not sure that the remmina daily already contains my fixes, it'll for sure tomorrow.
On the other side, I think that you have a different issue and I may have a solution.
Would you mind opening a new issue for that?
Thanks!

[2017-12-18 17:13] antenore commented on #1228
Yep, as I was saying, you have a different problem, let's solve it outside of this thread.
Can you test an ssh connection specifying the cypher manually in Remmina?

[2017-12-18 17:16] mattpepin commented on #1228
In my case, I know libssh is parsing my config file (~/.ssh/config), because if I create an alias and use it in Remmina, Remmina connects to the right server. I'm not sure what's causing the error message.

[2017-12-18 17:52] Arkem5 commented on #1228
You are right, this one was different. I didn't notice the error message isn't the same when connecting to a debian ssh server. I will make another issue for it if it persists...
I just tried again with a mint server and I get the error "Access denied. Authentication that can continue: publickey" again. I guess I should compile instead of using the next-daily, tough...

[2017-12-18 18:51] antenore commented on #1228
I'm mixing up the problems @mattpepin , sorry.

[2017-12-18 18:53] mattpepin commented on #1228
No problem, I'm just trying to figure out what's not working. I made some experiments to check if the SSH config file caused issues, but it seems not. I don't know why you can't replicate.

[2017-12-18 18:56] antenore commented on #1228
One thing got me crazy. The private keys must have the same name root, like foobar and foobar.pub

This is very important

[2017-12-18 18:57] mattpepin commented on #1228
Yes, I'm using the default id_rsa and id_rsa.pub in my ~/.ssh folder.

[2017-12-18 19:34] antenore commented on #1228
I'm short of ideas.
https://blog.codefront.net/2007/02/28/debugging-ssh-public-key-authentication-problems/

On Remmina you set the ssh verbosity in the general preferences.

The sshd test may really help out and the authlog as well.

[2017-12-18 19:35] antenore commented on #1228
Ah, I forgot to mention to open the Remmina debug window when you test with a different verbosity.

[2017-12-18 20:53] mattpepin commented on #1228
Here's the end of the debug log:

[SSH] ssh_agent_get_ident_count: Answer type: 12, expected answer: 12
[SSH] ssh_agent_get_ident_count: Agent count: 2
[SSH] pki_import_pubkey_buffer: Invalid public key length
[SSH] ssh_socket_unbuffered_write: Enabling POLLOUT for socket
[SSH] packet_send2: packet: wrote [len=28,padding=11,comp=16,payload=16]

[2017-12-18 20:58] mattpepin commented on #1228
My private key is 4096 bytes long, not 2048. Maybe that's the issue?

[2017-12-18 21:10] Arkem5 commented on #1228
Here's my debug log with the standard Remmina version (I didn't have time to compile for now)

[SSH] ssh_config_parse_file: Reading configuration data from /etc/ssh/ssh_config
[SSH] ssh_config_parse_line: Unsupported option: SendEnv, line: 53
[SSH] ssh_config_parse_line: Unsupported option: HashKnownHosts, line: 54
[SSH] ssh_config_parse_line: Unsupported option: GSSAPIAuthentication, line: 55
[SS

[2017-12-19 10:36] antenore commented on #1228
@mattpepin Looks like to me that you have one of the following issue:

1. An ssh agent running with an old (2048) key loaded
Check you don't have any other ssh-agent (keychain, gnome-keyring, gpg-agent, ???)
2. Your 2048 key is sent as the first key and when it fails libssh doesn't try the second one
libssh, as far as I've understood, should send one key after an other, till it gets a positive ans

[2017-12-19 10:57] antenore commented on #1228
@Arkem5 Is this error related to the SSH debug messages you have shared?

In this case you should be able to workaround it setting the Kex in the ~/.ssh/config file

[code]
Let me know if it helps.

If you have the last remmina-daily, I've added some new feature in the SSH protocol (not in the agent, but in the protocol itself). Would you mind trying it specifying the correct algorithms? If it wor

[2017-12-19 15:14] mattpepin commented on #1228
It turns out it does have a link with my private keys. If I only leave my id_rsa and id_rsa.pub in my ~/.ssh folder, it works! I iterated over the keys I had, and I found out that the culprit was id_ecdsa and id_ecdsa.pub. As soon as I remove this key, it works. I did not even use it anymore, as I moved to ed25519. The issue is resolved, but I still think it's a bug because the login should have s

[2017-12-19 15:43] antenore commented on #1228
@mattpepin this is because of #1187 I don't know how I can make everybody happy :-P
I'll take a look if I can improve this

[2017-12-19 16:00] Arkem5 commented on #1228
Here's what I did on my side
1. I removed everything related to Remmina, then I installed from Git, and got the 1.2.0-rcgit-24 (git 055e33b) version
2. I created a ~/.ssh/config file, and copied the line you sent me inside (I never needed such file for connecting through SSH until now
3. I added the string ed25519 in the Advanced -> KEX (Key Exchange) Algorythm entry for both Mint and Debian SSH s

[2017-12-19 19:26] julian-alarcon commented on #1288
Part of the issue was fixed with the command of @giox069  , but is still crashing with Segmentation fault:

[code]

I removed remmina from PPA before this test just to discard any conflict.

[2017-12-19 20:51] antenore commented on #1228
@Arkem5 sorry, my bad, I've given you the wrong Kex, let me search and I'll give you the right one.

The one supported by your client and your server can be listed with ```ssh -Q kex```

[2017-12-19 21:34] antenore commented on #1228
@Arkem5

I've tested an ed25512 key and it works

1. I've created  and installed the key

[code]

2. Tested by hand (works)

3. Created the Remmina profile
(Here after the relevant options)

[code]
5. Removed unneeded ssh keys:

[code]
6. Test Remmina

Works!

I'm on Arch, so I've only the last version of almost everything.

[2017-12-19 21:46] antenore commented on #1228
@Arkem5 also tested an RDP connection through an SSH tunnel, and it works.

Do you have a distro with an updated libssh version?

[2017-12-19 22:11] giox069 commented on #1288
Have you rebooted? On my ubuntu 17.10, the crash disappeared after reboot.

[2017-12-19 22:32] antenore commented on #1228
@mattpepin I'm going to push a commit that should fix this bad behaviour, tell me what do you think about the logic

1. Remmina first searches for identities in the ~/.ssh folder in this order

[code]
The first identity file (private key) found id the only identity that will be used.
2. Identity file explicitly set in the profile settings.
If the user has set in the profile option an identity file

[2017-12-20 01:32] #1391 closed

[2017-12-20 11:56] eSavior commented on #922
I believe this is a separate issue from #933. #933 wants the ability to provide separate credentials for authenticating into the RD Gateway than will be used to authenticate into the destination machine. This issue is (IMHO) asking for an ability to PROMPT for the RD Gateway credentials if they are not provided, similar to the prompt you get for the destination machine credentials if they are not

[2017-12-20 12:13] eSavior opened #1407 "Prompt for RD Gateway credentials if not provided, but needed, for stored connection"
(Creating a new issue based on the closed issue #922)

Currently if a domain name or an IP address is provided for the RD Gateway server, but the username and/or password field for the gateway is left blank, Remmina connection attempt will fail with the error "Authentication to RDP server <server_name> failed. Check username, password and domain."

Would like the ability for Remmina to prompt for

[2017-12-20 15:35] Arkem5 commented on #1228
I tried the command ssh -Q kex on all (client and servers) machines
- Mint 18.3 client and server replies:
diffie-hellman-group1-sha1
diffie-hellman-group14-sha1
diffie-hellman-group-exchange-sha1
diffie-hellman-group-exchange-sha256
ecdh-sha2-nistp256
ecdh-sha2-nistp384
ecdh-sha2-nistp521
curve25519-sha256@libssh.org
- Debian Jessie replies the same plus:
diffie-hellman-group1-sha1

I tried givin

[2017-12-20 16:21] antenore commented on #1228
It's what I do everyday, but I've the users set in the ~/ssh/config file
I'll try without parsing the config file.

[2017-12-20 17:44] lavdnone commented on #758
Same s..t on Remmina - Version 1.2.0-rcgit-24 (git rcgit-24)
never ending Num Lock issue

[code]

[code]

year 2017 wtf

[2017-12-20 18:05] lavdnone opened #1408 "NumLock in RDP sessions"
Loosing focus on rdp windows screws Num Lock to Off
Just make it always ON!!!

Same s..t on Remmina - Version 1.2.0-rcgit-24 (git rcgit-24)
never ending Num Lock issue

[https://github.com/FreeRDP/Remmina/issues/758](url)

[code]

Reinstall doesn't help
[code]

year 2017 wtf

[2017-12-20 19:17] julian-alarcon commented on #1288
Ok, I didn't restart before, but after restart I got the same issue:

[code]
[code]

The first execution was using Adawaita icon theme on Ubuntu 17.10. The second was using Humanity icon theme.

As you can see, these are just warnings, but the crash happens after the warnings with **Segmentation fault (core dumped)**

[2017-12-20 19:18] julian-alarcon commented on #1288
Using the debug tools of snap https://docs.snapcraft.io/build-snaps/debugging I got this error:
[code]

[2017-12-20 19:29] lavdnone commented on #1408
Even vinagre has no issue with Num Lock

[2017-12-20 21:42] giox069 commented on #1408
We are totally unable to reproduce this problem on our many testing environments. Can you please provide your exact configuration: OS distribution + version + bits, desktop environment and other desktop customizations, so we can try to reproduce the problem? Please also let us know if "keyboard mapping" is enabled under global preferences -> RDP settings.

Also please explain how do you detect tha

[2017-12-21 15:23] scootergrisen commented on #1326
I started https://github.com/FreeRDP/Remmina/wiki/How-to-translate-Remmina
Please add the instructions.
If a pot file could be created that would help. I use it to update po file.
Some projects have a pot file like po/remmina.pot.

[2017-12-21 15:36] antenore commented on #1326
My understanding of gettext it's still quite limited.

We delete the pot file as you can see here:

https://github.com/FreeRDP/Remmina/wiki/Update-gettext-messages

@giox069 do you know why? Can we keep it?

Anybody knows a tool that integrates with gettext and that simplify the job for everybody?

[2017-12-22 06:35] ssten commented on #1228
Accordingly with (#1374 ) **~/.ssh/id_dsa** *may* be used, but in such case user **must** be warned about usage of obsolete algorythm.
**~/.ssh/identity** is the thing I've just *heard*, but don't used and incompletely understand.

Commonly, for my experience, attepmts to guess proper private key may provide uclear to understand and unpleasant surprises.
Documented list of checked private key file

[2017-12-22 11:32] inkarkat commented on #1288
For me (using Ubuntu 16.04 LTS), the command

    sudo snap connect remmina:password-manager-service  :password-manager-service

followed by a reboot fixed the problem. I could successfully start Remmina via `snap run remmina`, or via the _Remmina_ start menu shortcut. Thanks @giox069!

[2017-12-22 11:37] inkarkat commented on #1098
I still have the issue using Remmina 1.2.0-rcgit-24 installed via snap (via _edge_ channel) on Ubuntu 16.04 LTS.

Also, the upstream issue FreeRDP/FreeRDP#3863 is still open. Are you sure it's been fixed there?

[2017-12-22 11:53] ssten commented on #1403
Excuse me long response.
First time I've little bit confused with searching debug output.

But in debug session I see no info about server's key. Just:

This may be a kind of right behaviour.
But it will be good improvement to display stored host key (or it's fingerprints) somewhere in connection details.

P.S. One more strange message in debug session:

Maybe not **client** but **server**?

[2017-12-22 21:56] antenore commented on #1403
This comes from libssh and it should be reported to them.

I'm thinking where to show those information, I'm afraid to make the interface too bloated.

One thing I was thinking of it's something similar to virt-manager, where we can see the status of the connection, how many resources it's using and all the parameters of the connection, like what the user has deliberately have chosen and what has

[2017-12-23 19:01] tamalesrancheros opened #1412 "Trying to open an aplication but it fails all the time"
Using: Remmina 1.2.0-rcgit-24
Details about the system im using:
* OS Used: Xubuntu 16.04
* Connecting to: Windows Server 2008 R2
* Connecting via RDP

I'm using Remmina to connect to a Windows Server and altough has  worked perfectly, i recently started to test the advance option in the  configuration window of the connection of Remmina.
I tryied lots of combinations to make an app work without b

[2017-12-23 19:09] #1412 closed

[2017-12-23 19:10] tamalesrancheros commented on #1412
figured out that i need the whole route to the app

[2017-12-23 22:36] giox069 opened #1413 "Unable to reject new or changed RDP certificate"
When a new/changed RDP server certificate is detected, and you choose to reject it, remmina still connects and save the certificate.
The certificate should be rejected and the connection prevented.

[2017-12-23 23:08] julian-alarcon commented on #1288
OK, I tested in my home laptop, same error that my work station, both are Ubuntu 17.10.
Already made the execution and reboot of:

`sudo snap connect remmina:password-manager-service  :password-manager-service`

Maybe is something related with the snap/apparmor version?

This is my current snap and apparmor version info:

[code]

[2017-12-23 23:16] julian-alarcon commented on #1288
Hi! I guest this bug is fixed with the solution of @giox069 ! BUT It only works on Xorg, not Wayland (that's why it worked on Ubuntu 16.04 but not on 17.10)

I still got this errors in the Xorg session:

[code]

It seems to be a new bug the issue with Wayland. I will search it or report it. Meanwhile I hope that the workaround for this bu can be definitely fixed. Is possible to add a «dependency»

[2017-12-23 23:20] julian-alarcon commented on #1342
This should be closed and marked as duplicated of #1086

[2017-12-23 23:33] antenore commented on #1342
Good point @julian-alarcon

Duplicate of #1086

[2017-12-23 23:33] #1342 closed

[2017-12-23 23:36] julian-alarcon opened #1414 "Snap Remmina in Wayland crash with segfault"
Using version remmina 1.2.0-rcgit-24 on Ubuntu 17.10 in a Wayland session, I'm getting a segfault crash as the jourmaltcl shows. I'm runing Gnome session (new Ubuntu default):

[code]

[code]

I didn't test candidate or edge channel as they are an older version (1.2.0-rcgit.17) of stable channel (1.2.0-rcgit-24):

[code]

Same user session and same version of remmina but on Ubuntu 17.10 Xorg sessi

[2017-12-24 05:00] alex-mashin commented on #1288
It is broken again. The passwords are forgotten, the very password changer is gone from the menu.

`sudo snap connect remmina:password-manager-service  :password-manager-service`
`error: snap "remmina" has no plug named "password-manager-service"`

`snap version`
[code]
Remmina version: 1.2.0-rcgit-17 (git v1.2.0-rcgi.

Even some parametres are missing from an existing RDP session settings (includ

[2017-12-24 09:19] giox069 commented on #1288
@alex-mashin for some strange reason, you are using remmina 1.2.0-rcgit-17 which is very old. Maybe you are using the wrong snap channel for remmina. Try to switch to the "stable" channel. We don't know why, but another user reported today that the edge and candidate channel of remmina snap, have an old version of remmina.

[2017-12-24 12:24] julian-alarcon commented on #1288
Try this @alex-mashin
`
sudo snap install remmina --channel=stable
`
This will install the current latest remmina available version in snap (1.2.0-rcgit-24)

[2017-12-24 14:29] antenore commented on #1288
Thanks @julian-alarcon

[2017-12-24 14:32] alex-mashin commented on #1288
Thank youm this helped:
[code]

[2017-12-27 11:00] #1413 closed

[2017-12-27 15:58] antenore commented on #1228
I'm pushing these changes in next.

ASAP we will do a release.

[2017-12-27 16:09] mattpepin commented on #1228
Just rebuilt my package. Seems fine! One minor thing though, when I connect, the agent asks for my passphrase (normal). If I cancel the prompt, the error message is "out of memory". It's a minor issue and it might have been this way before too...

[2017-12-27 16:48] #1228 closed

[2017-12-27 19:27] adback03 commented on #1404
I have verified that the fix in @giox069's comment solved the issue for me in Ubuntu 16.04.

[2017-12-27 20:18] ic3d commented on #524
I'm closing this issue because it probably afflicts an old version of Remmina. Feel free to open it again if needed.

[2017-12-27 20:19] ic3d commented on #864
I'm closing this issue because it probably afflicts an old version of Remmina. Feel free to open it again if needed.

[2017-12-27 20:19] ic3d commented on #923
I'm closing this issue because it probably afflicts an old version of Remmina. Feel free to open it again if needed.

[2017-12-27 20:21] ic3d commented on #941
Thanks @Kh4l3tH, closing this issue.

[2017-12-27 20:21] #941 closed

[2017-12-27 20:22] ic3d commented on #968
I'm closing this issue because it probably afflicts an old version of Remmina. Feel free to open it again if needed.

[2017-12-27 21:43] giox069 commented on #1414
Hi @julian-alarcon. I can confirm the crash problem on my Ubuntu 17.10 + wayland. But we have no idea how to solve it, and currently we don't have a snap package maintainer.
The only thing we can suggest is: uninstall the snap package and use the Ubuntu remmina-next PPA as described in the wiki :( Save your *.remmina profile files before switching to the PPA.
Thank you for reporting.

[2017-12-28 06:18] antenore commented on #1228
I've released rcgit.25 in the meanwhile

[2017-12-28 06:42] dkrichun opened #1418 "SSH not working"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Linux Mint 18.3 64-bit
* Remmina version (remmina --version): 1.2.0-rcgit-25 (git rcgit-25)
* Desktop environment (GNOME, Unity, KDE, ..): Cinnamon 3.6.7
* Connecting to (OS and version):
* Connecting via (RDP, V

[2017-12-28 07:10] antenore commented on #1418
I would need a gdb back trace to better understand.
Can you try to remove and purge all Remmina packages and reinstall them?

[2017-12-28 10:21] xgorex opened #1419 ""Segmentation fault" during start at Xubuntu 17.10"
System details:
* Client (OS name and version): Xubuntu 17.10
* Remmina version (remmina --version): Remmina - 1.2.0-rcgit-25 (git rcgit-25)
* Desktop environment (GNOME, Unity, KDE, ..): XFCE 4.12
* Connecting to (OS and version):  n/d
* Connecting via (RDP, VNC, ...): n/d
* RDP issues only, freerdp version (xfreerdp --version): n/d

Problem description / screenlog:
1. just updated remmina from:

[2017-12-28 10:39] antenore commented on #1419
Can you remove and purge all the remmina packages and reinstall it?

If it doesn't work can you provide a gdb backtrace?

[2017-12-28 12:40] dkrichun commented on #1418
I remove and purge all Remmina packages and reinstall them. Not help (

Some error

StatusNotifier/Appindicator support: not supported by desktop.
libappindicator will try to fallback to GtkStatusIcon/xembed

(remmina:26001): Gtk-WARNING **: gtk_menu_attach_to_widget(): menu already
attached to GtkMenuItem

(remmina:26001): Gdk-CRITICAL **: gdk_window_thaw_toplevel_updates:
assertion 'window->upda

[2017-12-28 12:41] dkrichun commented on #1418
I remove and purge all Remmina packages and reinstall them.

StatusNotifier/Appindicator support: not supported by desktop. libappindicator will try to fallback to GtkStatusIcon/xembed

(remmina:26001): Gtk-WARNING **: gtk_menu_attach_to_widget(): menu already attached to GtkMenuItem

(remmina:26001): Gdk-CRITICAL **: gdk_window_thaw_toplevel_updates: assertion 'window->update_and_descendants_free

[2017-12-28 12:50] dkrichun commented on #1418
Mayby problem -  http://ppa.launchpad.net/pool/main/r/remmina/remmina-plugin-gnome_1.2.0-rcgit-24-0~remmina201710252018.r73bfd1e.ddd444db~ubuntu16.04.1_amd64.changelog

[2017-12-28 12:51] dkrichun commented on #1418
1.2xxxx 24???
1.2xxxx 25 need?

[2017-12-28 12:56] dkrichun commented on #1418
![remmina-gnome24](https://user-images.githubusercontent.com/28738962/34411439-9d47b8fa-ebe7-11e7-8db2-20bcd7f72666.jpg)

[2017-12-28 13:16] antenore commented on #1418
remove that one

[2017-12-28 13:17] antenore commented on #1418
all the *24* have to be deleted

[2017-12-28 13:17] FBobbioC opened #1420 "Remmina The Digger Edition On Slackware-current"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Slackware-current
* Remmina version (remmina --version): The Digger Edition (v1.2.0-rcgit.25 (2017-12-27))
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): CentOS 7
* Connectin

[2017-12-28 13:18] antenore commented on #1420
Can you check if you have any old versions of remmina still installed?

[2017-12-28 13:21] antenore commented on #1420
can you also run remmina with gdb
[code]

[2017-12-28 13:23] dkrichun commented on #1418
I delete all. But remmina-plugin-gnome has 1.2.0xxxx24 version!!!

[2017-12-28 13:25] antenore commented on #1418
ah! I think I've understood!!

[2017-12-28 13:31] antenore commented on #1418
Which ppa are you using?

[2017-12-28 13:32] FBobbioC commented on #1420
Antenore,

There is only rcgit.25 installed at the time of running Remmina (I always removepkg to uninstall the old version before installing the new version)

Below is the output of gdb remmina:

bash-4.4$ gdb remmina
GNU gdb (GDB) 8.0.1
Copyright (C) 2017 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are fr

[2017-12-28 13:36] dkrichun commented on #1418
deb http://ppa.launchpad.net/remmina-ppa-team/remmina-next/ubuntu xenial main
deb-src http://ppa.launchpad.net/remmina-ppa-team/remmina-next/ubuntu xenial main

[2017-12-28 13:39] antenore commented on #1418
I think I've found, I'm going to submit a commit to fixit, please stay online I need you to test it.

[2017-12-28 13:42] dkrichun commented on #1418
Ok, thanx! I online )

[2017-12-28 13:46] antenore commented on #1418
in the meanwhile can you try to remove the *24* package, just that one and test again remmina (kill remmina and start again)

[2017-12-28 13:50] antenore commented on #1420
do you have a remmina debug or dbg package? If yes can you install it and run it again under gdb?

I'm building a new version of remmina for the PPA. I don't know if it'll solve the problem, nor if it'll be available immediately.

[2017-12-28 13:53] dkrichun commented on #1418
apt-get purge remmina*
apt-get autoremove
apt-get install remmina remmina-plugin-rdp
![image](https://user-images.githubusercontent.com/28738962/34412668-8c66fa34-ebef-11e7-9d68-0967039f7602.png)
And not working SSH
(RDP work fine)

[2017-12-28 13:54] antenore commented on #1418
As you have the debug package installed, you can do the following

1. Close all the remmina sessions you have
2. Run remmina under gdb

[code]
Copy and paste here the result

[2017-12-28 13:56] antenore commented on #1419
I've just submitted a new version. It should appear very soon.

Can you install it?

[2017-12-28 13:56] antenore commented on #1420
The build is done

[2017-12-28 13:58] antenore commented on #1418
Soon a new package should be available

[2017-12-28 13:59] antenore commented on #1418
you need the remmina-secret-plugin

[2017-12-28 14:32] dkrichun commented on #1418
maximus dimas # gdb remmina
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured

[2017-12-28 14:49] antenore commented on #1418
at the end you must run bt

[code]

[2017-12-28 15:01] dkrichun commented on #1418
Starting program: /usr/bin/remmina
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7fffe9867700 (LWP 21828)]
[New Thread 0x7fffe9066700 (LWP 21829)]
Plugin entry returned false: /usr/lib/x86_64-linux-gnu/remmina/plugins/remmina-plugin-secret.so.
StatusNotifier/Appindicator support: not supported by desktop. liba

[2017-12-28 15:04] Termalator commented on #1418
Exactly the same here. Linux mint 18.3.

[2017-12-28 15:08] antenore commented on #1418
@dkrichun one more thing please

[code]

[2017-12-28 15:10] Termalator commented on #1418
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as "x86_64-linux-gnu".
Type

[2017-12-28 15:10] antenore commented on #1418
nothing else??

[2017-12-28 15:11] Termalator commented on #1418
nope

[2017-12-28 15:11] antenore commented on #1418
do you have remmina-plugin-secret?

[2017-12-28 15:12] Termalator commented on #1418
oops sorry sec please :)

[2017-12-28 15:14] Termalator commented on #1418
thats with the plugin:

GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as "

[2017-12-28 15:17] Termalator commented on #1418
(gdb) step
Single stepping until exit from function remmina_ssh_init_session,
which has no line number information.
[Thread 0x7fffe8e9a700 (LWP 1644) exited]
[Thread 0x7fffe969b700 (LWP 1643) exited]
[Thread 0x7ffff7f18a80 (LWP 1639) exited]

Program terminated with signal SIGSEGV, Segmentation fault.
The program no longer exists.

[2017-12-28 15:22] antenore commented on #1418
@termalator do you have the remmina-dbg package? Is needed to have a full trace in gdb

[2017-12-28 15:27] Termalator commented on #1418
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as "x86_64-linux-gnu".
Type

[2017-12-28 15:27] antenore commented on #1418
Ah better!

[2017-12-28 15:28] Termalator commented on #1418
"Datei oder Verzeichnis nicht gefunden."  means "file or folder not found"

[2017-12-28 15:31] antenore commented on #1418
Danke

Can you set a private key path in the remmina profile you are using?

[2017-12-28 15:36] antenore commented on #1418
if you could share your profile obfuscating the sensitive informations with some rndom character I could probably replicate the problem

[2017-12-28 15:37] Termalator commented on #1418
sorry just restarted the system, but a little help where to set it would be nice :)

[2017-12-28 15:40] Termalator commented on #1418
but i see that there are two config files one in ~/.remmina and the second in ~/.config/remmina

[2017-12-28 15:41] Termalator commented on #1418
oops 3 files ~/.local/share/remmina

[2017-12-28 15:42] antenore commented on #1418
in the ssh profile, the firt tab you have "Identity file", it should point to you home/.ssh/id_rsa ssh file if you have any

For me it is /home/antenore/.ssh/id_rsa

If the there is not one, you can generate one with

[code]

[2017-12-28 15:43] antenore commented on #1418
I think the problem comes from this file missing

[2017-12-28 15:44] FBobbioC commented on #1420
Antenore,

I am sorry I am so illiterate in this regards.  Would you have any hint or could you point me to a page to install the remmina debug?  I would gladly do that, but could only find the one for Ubuntu (https://packages.ubuntu.com/xenial/debug/remmina-dbg) and upon decompressing the package, and the files within, I only see some empty folders for usr

Where could I download the new build, i

[2017-12-28 15:46] Termalator commented on #1418
Aye that helped, now i can connect, thanks a lot :)

[2017-12-28 15:51] Termalator commented on #1418
The key was not existing by default in Linux Mint and ssh-keygen -b 4096 just created it. That fixed the issue.

[2017-12-28 15:51] antenore commented on #1418
@Jesus help me
Ok, I'll take a look to fix this

[2017-12-28 15:51] dkrichun commented on #1418
Thanx! Its help me too!

[2017-12-28 15:51] antenore commented on #1418
Ouch! Justreleased that the user @Jesus exists, sorry!

[2017-12-28 15:52] Termalator commented on #1418
:D

[2017-12-28 15:53] antenore commented on #1419
Looks like this is a bug I've to fix
#1418

You can workaround it with

[code]

I'll submit a new version as soon as I'll fix it, sorry

[2017-12-28 15:54] antenore commented on #1420
Looks like this is a bug I've to fix
#1418

You can workaround it with

[code]

I'll submit a new version as soon as I'll fix it, sorry

Can you confirm please?

[2017-12-28 16:02] antenore commented on #1418
BTW, it's good you didn't use an SSH identity because thanks to this we found a bug, but I kindly advice you to use always ssh public key authentication.

[2017-12-28 16:05] Termalator commented on #1418
true, by the way i cleaned up my config files ;)

[2017-12-28 16:10] FBobbioC commented on #1420
Antenore,

You, sir, are a genius!  That worked perfectly for all ssh connections (screenshot attached).  Thank you again for your prompt response.

By the way, what package does XDMCP use in Remmina?  I can use Xnest -query thincentre -geometry 1280x1024 :1  and am able to connect.  This I can get around, but would like to use Remmina, since it would centralize all connections in one place.

![re

[2017-12-28 16:20] #1418 closed

[2017-12-28 16:21] antenore commented on #1419
closed via 30df7840a167620319ac43ca1eba62aaecfd0c46

[2017-12-28 16:21] #1419 closed

[2017-12-28 16:22] antenore commented on #1420
closed via 30df7840a167620319ac43ca1eba62aaecfd0c46

[2017-12-28 16:22] antenore commented on #1420
Thanks :-)
Open a new issue for xdmcp please

[2017-12-28 16:22] #1420 closed

[2017-12-28 16:34] FBobbioC opened #1421 "XDMCP Protocol"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Slackware-current
* Remmina version (remmina --version):  The Digger Edition (v1.2.0-rcgit.25 (2017-12-27))
* Desktop environment (GNOME, Unity, KDE, ..):  KDE
* Connecting to (OS and version):  CentOS 7
* Connec

[2017-12-28 16:49] julian-alarcon commented on #1414
Maybe @3v1n0 can help to detect the error.

[2017-12-28 16:58] julian-alarcon commented on #1414
I maybe found a solution/workaround:
https://github.com/lapisdecor/bzoing/issues/14

They have the same issue, and is not in the bzoing code but in the snap crafting.

[2017-12-28 17:01] julian-alarcon commented on #1414
More information about this: https://forum.snapcraft.io/t/snap-to-test-gtk3-glibc-2-25-not-found/3073/11

[2017-12-28 17:05] antenore commented on #1414
This is a piece of really useful information!
I even think we can fix ourselves. Be patient some more hours please

[2017-12-28 17:06] antenore commented on #1414
Thank you @julian-alarcon

[2017-12-28 17:11] prensing commented on #922
+1.

[2017-12-28 18:20] antenore commented on #922
@eSavior can you please share with me and Giovanni an rdp gateway?

We will work on it starting from the second week of January. The emails are in the Remmina about widget

[2017-12-28 21:18] DareDevil73 opened #1422 "Remmina 1.2.0-rcgit-25 segfault"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Linux Mint 18.3 64 bit (Ubuntu 16.04)
* Remmina version (remmina --version): 1.2.0-rcgit-25
* Desktop environment (GNOME, Unity, KDE, ..): Mate
* Connecting to (OS and version): Any
* Connecting via (RDP, VNC, ..

[2017-12-28 21:38] antenore commented on #1422
Are you sure with Any protocol? We have a bug related to SSH, that has been fixed, see #1418 on how to workaround it.
In the next day we will release a new patched version.

[2017-12-28 21:40] antenore commented on #1422
for info

If you don't have any SSH private keys under ``` $HOME/.ssh ``` do the following from the command line

[code]

[2017-12-28 21:41] antenore commented on #1420
duplicate of #1418

[2017-12-28 21:42] antenore commented on #1419
duplicate of #1418

[2017-12-28 22:23] antenore commented on #1422
Closing as I'm releasing a new version

[2017-12-28 22:23] #1422 closed

[2017-12-29 00:03] antenore commented on #1421
You should install Xephyr.

[2017-12-29 08:10] xgorex commented on #1419
Works. Thank you.

[2017-12-29 08:15] antenore commented on #1419
cool, did you upgrade from the last rcgit.26 or did you create the file?