[2016-05-06 08:49] gnumdk commented on #833
This break Ctrl + C in ssh sessions...

[2016-05-06 08:57] gnumdk commented on #847
Here my host key is Alt and Ctrl + C doesn't work...

[2016-05-07 09:46] Chugajstyr commented on #783
Here again I`am with byobu+screen VS Remmina contest :))).

After latest Remmina update (1.2.0~rcgit-11+896+next+201605022146~ubuntu14.04.1) there are appears new collisions in remote SSH-sessions -
some text strings is offset (both on Debian 7.10 and Debian 8.4 machines):
![1368265051260 remmina-2016-5-7-8 18 33 173388](https://cloud.githubusercontent.com/assets/16296772/15091379/47a36f90-1450-11

[2016-05-07 13:24] amitbha opened #856 "vim doesn't look well in fullscreen mode"
![loading full-screen.jpeg...](http://i4.buimg.com/8067da9cda9df5fe.jpg)

Please give us some details about the systems you are using:
* Client: ubuntu-gnome 16.04
* Remmina version: 1.2.0-rcgit.11
* Desktop environment: gnome-shell 3.18.4
* Connecting to: centos 6.7
* Connecting via: ssh

[2016-05-08 22:46] rgayler opened #857 "Continual flicker due to redraw (VNC from Windows to Ubuntu)"
This is probably a configuration problem rather than an issue. Please accept my apologies for raising it here but I couldn't find help anywhere else online.

* Client OS: Ubuntu 14.04 64-bit
* Remmina: 1.2.0-rcgit.11 (git n/a) - installed from PPA
* Desktop environment: Unity
* Connecting to: Windows 8.1 Basic
* Connecting via: VNC (tightVNC Server 2.7.10 & DFmirage driver 2.0.301):

I installed R

[2016-05-09 14:57] munsta0 opened #858 "Ctrl + c will not stop processes anymore (SSH)"
Since my last update, remmina has been eating my ctrl+c, it is now impossible to stop any running process while inside a ssh terminal.

If I start a ping on a server, it'll run forever until I disconnect and reconnect... :(

* Client (OS name and version): Ubuntu 14.04
* Remmina version (remmina --version): remmina - Version 1.2.0-rcgit.11 (git n/a)
* Desktop environment (GNOME, Unity, KDE, ..):

[2016-05-09 15:00] weberhofer commented on #858
Thanks for reporting. This issue is a duplicate of #847.

[2016-05-09 15:00] #858 closed

[2016-05-09 18:24] giox069 commented on #847
Also CTRL+Z (susp) is not working in my ubuntu 16.04.

[2016-05-09 19:21] giox069 commented on #847
I have just pushed a fix (also for #858 @munsta0). If you are using the PPA, please wait for an automatic update tomorrow and let me know if it works.

[2016-05-09 19:23] munsta0 commented on #847
Thanks! I'll definitely check it tommorow.

[2016-05-09 23:10] box293 commented on #847
Just updated and issue is fixed, Thanks very much.

[2016-05-09 23:10] #847 closed

[2016-05-10 11:22] YoungJuleke commented on #751
Finally, this is what got RDP working for me (thanks @a-war-of-gifts)!

Perhaps the guide needs updating, as others may be hit by the same problem...

[2016-05-10 13:26] munsta0 commented on #847
ppa also updated and somewhat fixed the issue. I had to change the host key back to left alt because if it's binded to left control, break is not called, copy is.

While this is not an issue for me, it could be an issue in the future.

Thanks for the fix!

[2016-05-10 19:33] antenore commented on #857
Which GPU do you have (and which kernel module)?

Your environment it's quite unusual for me, can you also try with other**s** vnc client**s** (just to confine the problem) ?

[2016-05-10 19:36] antenore commented on #847
@munsta0 why don't you use right ctrl?

[2016-05-10 20:48] antenore commented on #852
Calling this function was needed to refresh the list of profiles while typing in the search box.

Not sure how to deal with this issue, if reopening it, creating a new one or just forget about the refresh.

What do you think?

[2016-05-10 21:01] antenore commented on #856
before to open vim can you please execute

[code]

![remmina_freebsd-ssh_term](https://cloud.githubusercontent.com/assets/5975/15162418/12077c54-1703-11e6-8fc6-c6b03097f5f2.png)

[2016-05-10 21:24] antenore commented on #855
Are you using the PPA of both remmina and FreeRDP?

If yes, can you please submit this to the FreeRDP guys?

@FreeRDP/FreeRDP

[2016-05-10 21:35] antenore commented on #854
Isn't the "autoreconnect" feature enough for this?

https://github.com/FreeRDP/Remmina/pull/776

Implementing a keepalive feature can be tricky, but I was thinking to improve the keystroke functionality #508 to record macros and re execute them.

Also... did you already discussed this with the FreeRDP guys, because it xould be that it's possible to implement this on a protocol level.

BTW. which v

[2016-05-10 21:50] antenore commented on #853
Currently libbssh, doesn't support two factor authentication, so we should develop a specific plugin for this specific case.

I'm not sure when we'll have time to develop this as we are already quite busy on several fronts:

https://github.com/FreeRDP/Remmina/issues/assigned/antenore
https://github.com/FreeRDP/Remmina/issues/assigned/giox069

And a lot of experiments (see other branches and person

[2016-05-10 21:56] antenore commented on #849
I'll profit to improve also other limits of the pre/post commands.

As the "host" variable, do you mean the server name in the remmina profile (sorry if it's a stupid question)? So do you need something like the ssh %h %p (what else?)?

Regarding your specific case, did you try to use a script as a pre/post command?

[2016-05-10 21:58] rgayler commented on #857
Thanks for the suggestion to try another VNC client - I will do that.

It got stranger after I posted the issue - after a while the problem went
away, then later on it came back again. I didn't make any software or
configuration changes during that period. So, I think it's less likely to
be an issue with the GPU on the Ubuntu (client) machine. I wonder whether
there is some intermittent process on

[2016-05-11 03:28] #857 closed

[2016-05-11 03:29] rgayler commented on #857
I also get the flashing with the vinagre client - so I think it's either the TightVNC server, something that Windows or the LAN is doing to TightVNC server, or something about the graphics on Ubuntu.  I'll keep looking elsewhere.

[2016-05-11 05:16] giox069 commented on #852
The refresh for every keystroke is still working now, but it takes data from the local remmina cache and not from the disk. And it's very fast.
I think it's ok. It's not needed to re-read data from the disk for every keystroke: there are no other processes that can modify remmina config files during remmina usage. Only one session of remmina can exists. Yes, the user can still modify these files w

[2016-05-11 10:35] CS-JS commented on #849
There are no stupid questions, only stupid answers :)

Maybe I can clarify the enhancement a little more, if I tell something about my background - I migrated from Windows to Ubuntu on my laptop at work and we have to manage lots of servers via RDP. On Windows I used mRemoteNG as RDP management software, which had a neat little feature called external programs. You can run scripts, start other pro

[2016-05-11 19:03] SillonBono commented on #854
Hi,

I'm testing the Auto-reconnect in xfreerdp as I write this, (I could not find the option in Remmina) I do not know how this will work, I was not aware of the +auto-reconnect feature in xfreerdp

The keystroke with a configurable timer would be fantastic, this would be very similar to my current solution using xdotool, I send win+down, win+up keystrokes, wait 10 mins and loop.

Apologies for d

[2016-05-11 20:02] Vladimir-csp opened #859 "VNC over SSH disconnects on non-existent timeout"
Remmina version 1.2.0~rcgit-11+896+next+20160 rebuilt on Debian testing from remmina-next ppa.

VNC over SSH randomly disconnects, debug window shows this:

[code]

This happens with no apparent hang or waiting, sometimes right in process of visibly active session, so there were no time for any timeout to occur.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https

[2016-05-12 06:35] Progit634 opened #860 "Microphone redirection"
Sorry for double posting.
I'm install Remmina from repository to ubuntu 16.04.
I allow in gpedit.msc group policy.
And i'm trying to redirection microphone for a week with different manipulation which i found in google.
But microphone device is empty. I don't know what else can i make.
Client : Ubuntu 16.04
remmina - Version 1.2.0-rcgit.11 (git n/a)
connection to win server 2012 R2
connecting via

[2016-05-12 08:54] SillonBono commented on #854
No, auto-reconnect does not work for my use case.

When the idle time-out is reached on the TS server the session is disconnected by a forced log-off.

What auto-reconnect seems to do is to keep trying to re-connect if the network has issues.

The only way to prevent a session from a forced server log-off upon exceeding the idle period is to keep sending some activity at intervals, like moving the

[2016-05-12 09:07] antenore commented on #854
OK, we will see what we can do in the meanwhile, if it's fine for you, you can disable tabs and use xdotool.

[2016-05-12 09:08] antenore commented on #854
@giox069 fyi and if you have any better ideas.

[2016-05-12 09:42] mtangoo commented on #775
Same Problem here with 1.12 in Ubuntu.
I would like to avoid ppa if there is other work around!

[2016-05-12 10:11] SillonBono commented on #854
@antenore

Thanks for both the suggestions and for taking the time to look into this.

For the use case where I can not lose the session I will keep using xfreerdp and xdotool for the time being.

I will keep using Remmina for everything else, the tab feature is great (you guys are doing an awesome work), I do not want to disable it :-)

[2016-05-12 10:23] gnumdk opened #861 "Can't move tabs between windows"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version):  Archlinux
* Remmina version (remmina --version): 1.2.0-rcgit.11 (git f3307c8)
* Desktop environment (GNOME, Unity, KDE, ..): GNOME
* Connecting to (OS and version): Any
* Connecting via (RDP, VNC, ...): Any
* RD

[2016-05-12 14:41] CS-JS opened #862 ""Connection failed"-Message Windows get opened behind other Windows but are modal to remmina"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Kubuntu 16.04 LTS
* Remmina version (remmina --version): remmina - Version 1.2.0-rcgit.11 (git n/a)
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): doesn't matter, but mostly

[2016-05-12 15:36] giox069 commented on #862
In remmina you can start an application from 2 different places: from the remmina main window and from the systray menu. Where do you see this problem ?

If you see the problem in the systray menu: there is NO WAY to raise an application window or a dialog box which is not already on top. It's called "focus stealing prevention" and is a feaure of almost any new desktop environment.
See issue #542

[2016-05-12 16:23] CS-JS commented on #862
I noticed it from the main window right now, the other times it could be that I used the tray icon :)
I fully understand what you are saying about focus stealing prevention. It would help a LOT if the messagebox would be at least displayed in the taskbar. Right now I open a connection (fire and forget), get to my browser or another window, the connection itself fails and I dont get a visible error

[2016-05-12 18:04] giox069 commented on #862
We could also use desktop notifications instead of all of these warning/error dialog boxes. In this way, no remmina blocking hidden dialogs should appear.
But notifications are not guaranted to not work across ALL desktop environments (read [g_application_send_notification ()](https://developer.gnome.org/gio/stable/GApplication.html#g-application-send-notification) manual).
@CS-JS, @antenore and @

[2016-05-12 19:11] colonelchlorine commented on #638
Hi, I can see a commit was made back in Oct 2015 that seems to resolve this case. Is there a reason it hasn't been published to a release of Remmina? I'm running remmina-next ppa on Ubuntu and it still doesn't work.

[2016-05-12 19:44] NTMan opened #863 "remmina start consume 100% CPU if trying connect to disabled RDP (bug reproduced usually when Window server is rebooted)"
Description of problem:
remmina start consume 100% CPU if trying connect to disabled RDP (bug reproduced usually when Window server is rebooted)

Version-Release num
[remmina.backtrace.txt](https://github.com/FreeRDP/Remmina/files/262128/remmina.backtrace.txt)

ber of selected component (if applicable):
$ rpm -qa | grep remmina
remmina-plugins-gnome-1.2.0-0.13.rcgit.7.fc24.x86_64
remmina-plugins-t

[2016-05-12 19:45] NTMan commented on #863
![htop screenshot](https://cloud.githubusercontent.com/assets/200750/15228121/665bf3de-18ac-11e6-8c4a-851245a44dbb.png)

[2016-05-12 19:48] giox069 commented on #863
Can you install xfreerdp and test with the commandline xfreerdp (test its version, it should be 2.0.0)?
Does it happens during windows reboot or just after reboot ?

[2016-05-12 19:52] NTMan commented on #863
1) Install Windows update
2) Reboot
--- here client is disconnected ---
3) Try connect (get this bug)

[2016-05-12 20:02] antenore commented on #862
For me it's fine and we could have as a fall back:

1. Using the debug window
2. Improve the messages logging (to screen, logs, whatever), partly like it is for freerdp.

I'm busy till the second half of June, than, maybe, we can finish the new remmina main and migrate to the g_application_send_notification.

[2016-05-12 20:04] antenore commented on #638
Because I forgot it :-\

[2016-05-12 20:14] antenore commented on #638
BTW, are you sure is it fixed? It shouldn't.

Are you able to test it? The commit you should checkout is  5679b57

[2016-05-12 20:15] antenore commented on #638
@giox069 any clue?

[2016-05-12 20:21] giox069 commented on #638
Unfortunately I have no 4-5 buttons mouse now at home. I will try to find one tomorrow at work.

[2016-05-13 08:40] imperimus opened #864 "Toggle Fullscreen Multiple Monitors returns to Primary"
I primarily use RDP but have the same with SSH windows too. I use tabbed mode but normally move the window to my second monitor and toggle full screen. Up until about a month ago it use to work faultlessly but now this almost every time I press the toggle full screen or control_r+f this makes it full screen on the primary monitor. Very rarely it works as expected.

Kernel: 3.19.0-32-generic x86_64

[2016-05-13 11:35] kokosowy commented on #853
Hi antenore,

Thank you for your reply. I've asked libssh team and it seems this functionality is already implemented. Could you please double-check?

-> https://red.libssh.org/issues/233#note-1

Thank you.

Kind regards,
Konrad

[2016-05-13 12:14] amitbha commented on #856
![term](http://i2.buimg.com/c542da24f692b9c2.png)

[2016-05-13 12:26] antenore commented on #856
Your remote terminal detected only 79 columns

Try this:

[code]
If it doesn't work set manually a greater number of columns (ie **stty cols 180** ) and than try again with the resize (if you have it).

This is not a remmina neither a vte issue, but as I'm trying to improve the ssh support I'll see if there is a way to force rows and columns.

I'll close this issue as it's not a bug.

[2016-05-13 12:27] #856 closed

[2016-05-13 12:27] antenore commented on #853
Thanks, I'll

[2016-05-13 16:08] amitbha commented on #856
[root@dns1 ~]# which resize
/usr/bin/which: no resize in (/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin)

There was no 'resize' in remote centos and 'stty cols 180' made things worse.
I purge the Remmina 1.2.0 and back to 1.1.2 in ubuntu repository, no problem in the same circumstance. The stty cols detected correctly(140 in fullscreen).

[2016-05-14 09:46] giox069 commented on #861
I did some testing on arch.
It seems it happens after the upgrade of GTK from 3.20.3-4 to 3.20.4-2: dragging a GtkNotebook tab seems to be in some cases constrained to the source window.
If you revert back to GTK 3.20.3-4 it works again.
To downgrade:
[code]

[2016-05-14 13:09] giox069 commented on #861
Ok. It seems that in arch GTK 3.20.4-2 if a GtkNotebook tab is both detachable and reorderable, it cannot be detached.
Here is a python script to reproduce it. Just remove the "reorderable" lines and DnD will work again:
[code]

[2016-05-14 14:16] gnumdk commented on #861
Can reproduce with Gnome Terminal... Closing and reporting on GTK side...

[2016-05-14 14:16] #861 closed

[2016-05-14 16:24] giox069 commented on #861
Thank you. If you can also post a link to your GTK report (just to track it), we will be happy. Thank you.

[2016-05-15 08:24] gnumdk commented on #861
https://bugzilla.gnome.org/show_bug.cgi?id=766442

[2016-05-15 08:35] giox069 commented on #861
:+1:

[2016-05-15 18:49] Progit634 commented on #860
user@user-VirtualBox:~$ remmina
Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.
[14:46:41:943] [3244:3254] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[14:46:41:943] [3244:3254] [INFO][com.freerdp.client.common.cmdline] - loading channel rdpsnd
[14:46:41:943] [3244:3254] [INFO][com.freerdp.client.common.cmdline] - loading channel cliprdr
[14:46:

[2016-05-17 22:04] dexx086 commented on #638
@giox069 did you manage to get a 5 button mouse? :) Would be great to have @antenore's mentioned commit to be released if it solves the issue. Do you have any plan when it could happen? We really miss this button from the remote session when navigating. Thx.

[2016-05-17 22:53] antenore commented on #638
@dexx086 the easier is that you test it ;-)

I personally don't have, don't need and don't want a 5 buttons mouse (I rarely use a mouse), so I really cannot test this patch and I think Giox069 has similar arguments.

If my patch works, it is easy to integrate it in the "next" branch, if it doesn't you can maybe help me/us to debug it.

Please don't forget that behind Remmina, today, there only vol

[2016-05-18 09:46] hansa7 commented on #848
I uninstalled all remmina an freerdp packages.
I get the error again.

[2016-05-18 14:53] zagr0 opened #865 "SSH tunnels in the Remmina SSH connection profile (feature request)"
Hello and thank you for the really great software!

I think that I'm not the first who asks regarding possibility to configure local/remote/dynamic ssh tunnels for SSH connections. In the Remmina GUI, like additional tab "tunnels" for SSH connection, where the tunnels can be defined with parameters: type, local port, remote ip, remote port. To store the tunnels in the SSH connection profile and ma

[2016-05-18 20:23] iamnotzerocool opened #866 "Location of saved connections is wrong in Wiki"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version):
* Remmina version (remmina --version):
* Desktop environment (GNOME, Unity, KDE, ..):
* Connecting to (OS and version):
* Connecting via (RDP, VNC, ...):
* RDP issues only, freerdp version (xfreerdp --version):

[2016-05-18 20:25] iamnotzerocool commented on #866
Ubuntu 16.04
Remmina 1.2.0
GNOME

Information on https://github.com/FreeRDP/Remmina/wiki is incorrect.  The new location for saved connections is located at /home/.local/share/remmina

[2016-05-18 23:56] dexx086 commented on #638
@antenore about volunteerness: I'm absolutely aware of it and I didn't mean to demand anything, I was just curious if this patch is about to be tested/released by anyone.

But to contribute myself too, I started to test it (checkouted last master commit and applied your modifications to them). The first thing that made problems is with the following changes (for all 1-3 buttons):
[code]
In the com

[2016-05-19 07:26] antenore commented on #638
Thanks for your tests and comprehension.

I've to review completely the code and I've finally decided to buy a 5 buttons mouse, so I'll be able to test it.

Now, personally I will be busy till the beginning of June and and than I'll have quite long TODO list ( #708 #647 #853 #849 #818 #733 ), @giox069 is quite busy as well, so it's hard to say when we will take a look at this (and each of all open

[2016-05-19 07:29] giox069 commented on #638
@dexx086 5 buttons mouse not found, I will try again tomorrow and next week when I will be at another customer facility, but I don't think I will be so lucky.
In the meanwhile @antenore  wrote that he will be a 5 buttons mouse, and I'm happy :)
If you need to take inspiration for your contribution, look at the xfreerdp working mouse code here:

[2016-05-19 07:29] giox069 commented on #638
Previous comment updated with URL:
https://github.com/FreeRDP/FreeRDP/blob/master/client/X11/xf_event.c

[2016-05-19 11:32] cjscholten opened #867 "Remmina hangs after clicking minimize"
Whenever I have an open session in a maximized window that I want to minimize, the session hangs and won't respond anymore.
I have three monitors and changing focus to another monitor causes the session to minimize.
If I activate it again the session works fine again, so just minimizing doesn't work.

I'm using:

Remmina 1.2.0-rcgit.3
Fedora 23 - Gnome
Connecting to RDP (Windows 2012) or SSH (Vari

[2016-05-19 14:33] xnandersson commented on #747
Thread 1 "remmina" received signal SIGSEGV, Segmentation fault.
_int_malloc (av=av@entry=0x7ffff2ab8b20 <main_arena>, bytes=bytes@entry=888) at malloc.c:3728
3728	malloc.c: No such file or directory.
(gdb) bt full
#0  _int_malloc (av=av@entry=0x7ffff2ab8b20 <main_arena>, bytes=bytes@entry=888) at malloc.c:3728
        p = <optimized out>
        iters = <optimized out>
        nb = 896
        idx

[2016-05-19 15:22] xhaakon commented on #747
I think we have encountered the same problem in `1.2.0~rcgit-11+898+next+201605180346~ubuntu16.04.1` version of `remmina-next`:

[code]

`rdp_plugin.c:192` is:

[code]

`host` variable appears to be a valid string, but `rfi = 0x97f800` seems like some garbage value instead of a pointer to me.

I can confirm this isn't reproducible everywhere. From three different machines on which we tested, the c

[2016-05-19 19:45] cb4github opened #868 "rdp attempt from ubuntu xenial to win 10"
The dialog box "Connecting to 'My Windows VDI'... never completes and never goes away after several minutes.  Only the CANCEL option is available.

Please see below my info (requested, connection file, gdb output), and please let me know if you need more info.

Best,
CB

Requested info:
* Client (OS name and version): Ubuntu 16.04
* Remmina version (remmina --version):  remmina - Version 1.2.0-rcg

[2016-05-20 00:09] dexx086 commented on #638
Thanks for your support guys.
Meanwhile I tried to analyze what could be the problem. I used to code in C a very long time ago, so it's a bit hard for me to dive into the code, especially as it's a fully new project for me.

But what I've figured out is that there's a difference in handling the 'normal' and 'extended' mouse events int freerdp. For extended mouse event (like what we want) the follo

[2016-05-20 06:37] giox069 commented on #868
You are using an old version of libfreerdp/xfreerdp. It should report 2.0.0.
Please remove all previous installations of libfreerdp/libwinpr/xfreerdp.

[2016-05-20 08:37] amasz3gr commented on #832
There is tiny light gray stripe always visible to pull out the toolbar in fullscreen mode (Control_R+F). It's my main working mode, so window title is not so useful for me. Maybe change color of bottom toolbar when keyboard grabbed?

It was my first thought when I started use remmina a month ago (on tilling wm, many keyboard shortcuts firmly in use). But an opaque overlay as requested in #815 coul

[2016-05-20 10:53] xhaakon commented on #747
Another observation: Sometimes remmina spews these messages before segfaulting:

[code]

The kind and order of the warnings would indicate they come from `remmina_rdp_event_init()`, which further confirms `rdf`, or `rdf->drawing_area`, contains an invalid pointer.

[2016-05-20 10:56] xhaakon commented on #747
[remmina.pref.txt](https://github.com/FreeRDP/Remmina/files/274415/remmina.pref.txt) from the failing machine.

[2016-05-20 17:28] cb4github commented on #868
Thanks for your reply.  (I believe) I've upgraded xfreerdp per your reply, but my privilege error persists.

Please see my current version info and gdb output below, and please let me know how to provide more info if needed.

Also, I've verified the connection to the target Win 10 VDI from a separate Win 8 client.

Best,
CB

re versions:
myuser@myuser-mobile:~$ remmina --version
remmina - Version

[2016-05-20 18:53] giox069 commented on #866
Fixed FAQ#1. Can you check
https://github.com/FreeRDP/Remmina/wiki/Remmina-Usage-FAQ
and then close this issue ?
Thank you very much.

[2016-05-20 19:40] #866 closed

[2016-05-20 20:29] giox069 commented on #638
5 buttons mouse found. I'm working on it. Do you know a windows application I can use to test buttons 4 and 5 ?

[2016-05-20 20:31] giox069 commented on #638
and yes... it seems an ExtendedMouseEvent is needed instead of a MouseEvent. So the modifications are not so simple.

[2016-05-20 20:51] #638 closed

[2016-05-20 20:53] antenore commented on #638
Thanks @giox069 !!!!!!!!!!!!!!!!

[2016-05-20 20:54] giox069 commented on #638
It seems to be fixed. I tested it under windows with [ShowOff](http://www.donationcoder.com/Software/Skrommel/index.html#ShowOff) tool. If you find any problem, open another issue :-)

[2016-05-21 02:54] ryantate13 opened #869 "remmina: error while loading shared libraries: libvte2_90.so.9: cannot open shared object file: No such file or directory"
Tried to fix by installing libvte-2.90-dev. [Appears to have been superseded by a newer version?](https://launchpad.net/ubuntu/xenial/amd64/libvte-2.90-dev) Using Ubuntu Gnome 16.04.

[code]

Package available in repos, libvte-dev doesn't appear to supply the dependency.

[code]
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/344

[2016-05-21 07:36] giox069 commented on #869
Did you use our PPA or did you follow our compilation guide ?

[2016-05-21 07:36] ryantate13 commented on #869
I used the remmina-next ppa

[2016-05-21 09:33] giox069 commented on #869
On my Ubuntu 16.04 using remmina-next PPA, remmina looks for libvte-2.91.so.0
[code]
Check that you are pointing to the correct version (xenial) for the PPA: look into `/etc/apt/source.list.d/`, you should have a file named `remmina-ppa-team-ubuntu-remmina-next-xenial.list` with a single line:
`deb http://ppa.launchpad.net/remmina-ppa-team/remmina-next/ubuntu xenial main`

[2016-05-21 10:45] llsousa commented on #524
Just had the same problem and the tip from @rwap2015 worked like a charm :-)

[2016-05-21 17:56] ryantate13 commented on #869
That appears to be what I'm seeing.

[code]

I upgraded from 15.10 a couple of weeks ago but Remmina broke only last night for me. I will try a complete uninstall/reinstall to see if that fixes it.

[2016-05-22 06:28] Stolb27 commented on #848
@hansa7 I have the same error. I had resolve it by add package libwebkit2gtk-4.0-dev

[2016-05-22 22:41] dexx086 commented on #638
@giox069: Thank you !!!!
I tested it too, it works! I'm glad you could allocate time so shortly to figure out the solution. Thanks again!

[2016-05-23 08:22] lnicola opened #873 "Full screen switches to the monitor on the left (regression)"
This sounds similar to #241, but for me it regressed when upgrading from 1:1.2.0rcgit.11-2 to 1:1.2.0rcgit.12-1 and the session moves to the monitor on the left, regardless of which is the primary one.

Please give us some details about the systems you are using:
* Client (OS name and version): Arch Linux x64
* Remmina version (remmina --version): 1.2.0-rcgit.11 (git n/a)
* Desktop environment (GN

[2016-05-23 08:31] lnicola commented on #873
Actually, it doesn't seem to matter which monitor is the primary one. It moves to the one on the left.

[2016-05-24 07:07] myself42 commented on #439
@giox069: Thank you!
The same problem is with Linux Mint 17.x MATE.
But the workaround work like a charm here too.

[2016-05-24 08:04] antenore opened #876 "Segmentation Fault on FreeBSD using SPICE"
See PR #874

* Client (OS name and version):  FreeBSD 10.3
* Remmina version (remmina --version): Last git commit
* Desktop environment (GNOME, Unity, KDE, ..): i3wm
* Connecting to (OS and version): Ubuntu 16.04 LTS
* Connecting via (RDP, VNC, ...): SPICE

https://github.com/FreeRDP/Remmina/files/278402/gdb.txt

[2016-05-24 21:20] antenore opened #878 "[remmina_main] Quick connect bar not visible"
If (should be the default) the quick search and quick connect bar are not enable, the new quick connect bar is not visible and cannot be activated.

As it doesn't make sense with the new setup to disable both bar, it's preferable to remove the old code and the menu entries.

Reported by @giox069

[2016-05-25 09:08] antenore commented on #837
I start to work on this in the remmina_main #875 , but weirdly it dosn't work.

In the meanwhile, would you like to cast your vote regarding the new interface?

https://plus.google.com/113261751308618587686/posts/98PazVJ82ZG

[2016-05-25 09:08] #878 closed

[2016-05-25 10:24] GR0SZ-ek commented on #837
It can combine the functionality window "quick search" and "fast connect"? When entering an address would be searchable database connections.

[2016-05-25 10:46] giox069 commented on #837
@GR0SZ-ek: yes, the new textbox on the new remmina main toolbar already works as both "quick search" and "fast connect".

[2016-05-25 10:47] giox069 commented on #837
You can follow the discussion on the new remmina_main here:
https://github.com/FreeRDP/Remmina/pull/875

[2016-05-25 14:58] Ronaldho80 commented on #873
I have exactly the same issue. Remmina switches to the left monitor. Sometimes, it goes to the right one, but this seems randomly.

My system is:
 * Ubuntu 16.04
 * Remmina version 1.2.0-rcgit.12 (git n/a)
 * Desktop GNOME
 * Connecting via VNC and RDP to Windows and Linux clients.

[2016-05-26 07:52] orngreen commented on #873
Same Issue - Jumps to the monitor CONFIGURED as being the left one. Moving them around in display settings, Remmina will follow... But now I need to drag mouse over the "wrong" edge to change screen.

Remmina: 1.2.0-rcgit.12 (git n/a)
System: Linux Mint 17.3 Cinnamon 64-bit (Cinnamon version: 2.8.8)
Kernel: 3.19.0-32-generic
Graphic: Broadwell-U Integrated

[2016-05-26 10:23] jobv8x opened #880 "Only access via Administrator account (Raspbian -> Windows 10)"
Hi,

I'm trying to connect a Windows 10 PC via Remmina (installed on Raspberry PI 3). I can only set-up a connection via the Administrator account of the Windows 10 pc. For each other user we get an error.

Unable to connect to RDP server 192.xxx.xxx.xxx

What are we doing wrong?

[2016-05-26 17:29] larchunix commented on #609
According to git history, this plugin has been removed in 508fb00. Although the reason is not mentionned, I guess it is because the systray icon makes it obsolete.

[2016-05-27 08:32] antenore commented on #880
Hi @jobv8x ,

this is because your windows policy allow remote connections only from the administrator account.

I'm not an expert in windows administration any more so I cannot guide you that much, sorry.

So, this is not a Remmina development issue (I close this).

You can post in our G+ community and ask for support there, we have some really strong windows experts over there.

https://plus.goo

[2016-05-27 08:32] #880 closed

[2016-05-27 08:34] antenore commented on #867
Can you please upgrade remmina and FreeRDP and test it again?

[2016-05-27 09:43] larchunix commented on #848
@hansa7  Please provide the options given to `cmake` and the output of its execution.

[2016-05-28 00:26] #488 closed

[2016-05-28 00:27] antenore commented on #467
This will be superseded by #875

[2016-05-28 00:27] #467 closed

[2016-05-28 00:36] antenore commented on #647
@n-st I close this as I'm well aware of the libssh limitations and in the future I'll look for a better solution.

[2016-05-28 00:36] #647 closed

[2016-05-29 16:12] maramon commented on #848
remmina_pref is defined in remmina_survey.c.  If Webkit2 is not found, remmina_survey.c is not compiled.  Maybe cmake processing should be stopped if Webkit2 is not found?  See attached diff.

[diff.txt](https://github.com/FreeRDP/Remmina/files/288421/diff.txt)

[2016-05-30 08:19] antenore commented on #837
closed by  #875

[2016-05-30 19:30] larchunix commented on #848
@maramon You're right, applied in 1901fc6. Thanks

@hansa7 Could you retry to build Remmina from git and close this issue if it works fine ?

[2016-05-30 20:06] larchunix commented on #771
@zuriy Ping.

[2016-05-30 20:12] zuriy commented on #771
Sorry, but now i'm use 1.2.0-rcgit.11(git n/a) and all work fine.

[2016-05-30 20:15] #771 closed

[2016-05-30 20:22] husisusi opened #883 "Tray icon does not have funktion in Plasma (KDE) and has very poor quality"
- Client: Arch Linux (Up to date)
- Remmina version : 1.2 rcgit11
- Desktop environment: KDE 5.22.0

Tray icon does not have  funktion in Plasma (KDE) and very poor quality
![screenshot_20160530_222025](https://cloud.githubusercontent.com/assets/8606735/15657807/d6731060-26b4-11e6-8c1d-519f7e44193c.png)
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bou

[2016-05-30 20:31] larchunix commented on #421
@giox069 @antenore  I guess this issue can be closed with the new design from #875.

[2016-05-30 21:17] antenore commented on #421
Yes! Thanks @larchunix

[2016-05-30 21:17] #421 closed

[2016-05-31 09:32] antenore commented on #220
Closing as outdate. @mike-pt we have adapted the Remmina to compile on FreeBSD, but port is not using the last code base. If you know someone who can help with port I'm willing to support them

[2016-05-31 09:32] #220 closed

[2016-05-31 12:09] snaumov opened #885 "Remmina SPICE doesn't show the connections anymore"
Hi,

after the last update 1.2.0-rcgit.12 the connections list is empty

![selection_018](https://cloud.githubusercontent.com/assets/5119578/15673743/b6548f6c-2749-11e6-9794-532ea1e695b6.png)

It remains empty when I add new connection item (the amount of connections increments however).

Please give us some details about the systems you are using:
* Client (OS name and version): Linux sup-a1107 3

[2016-05-31 12:29] giox069 commented on #885
The last update from the Ubuntu PPA should report 1.2.0-rcgit.13, not 12. Or we have a problem on the PPA, but I cannot test on a ubuntu 14.04 today.
Have you tryed to reboot your PC ?

[2016-05-31 12:31] antenore commented on #885
I was answering as well but @giox069 is faster :-)

I don't have as well an Ubuntu 14.04 to test.

Can you also execute Remmina from the command line and copy&paste the output?

[2016-05-31 12:50] antenore commented on #883
@husisusi we are discussing this between us.

The tray icon needs a complete review but doing it the right way, respecting all the Desktop Environments guidelines out there it's a puzzle.

 IMHO we should even remove this icon (completely), obviously, if you want to participate in the discussion and/or you have ideas, you are more than welcome.

Thanks for the report.

[2016-05-31 12:54] antenore commented on #883
https://github.com/FreeRDP/Remmina/wiki/Systray-menu as reference

[2016-05-31 13:02] snaumov commented on #885
@giox069 That was quick, thank you! On reboot the issue is resolved!
Have a good day!

[2016-05-31 13:02] #885 closed

[2016-05-31 15:06] satelliteoflove commented on #747
I'm getting these same errors.  The GUI launches, but trying to open an RDP session on any of my pre-configured connections results in a segfault.  The messages (GLib-GObject stuff) xhaakon posted is exactly what I see as well.  The crash happens after Remmina connects to the server (right as it would be opening the connection window).

[2016-05-31 16:15] giox069 commented on #747
@satelliteoflove can you execute remmina with gdb and post a backtrace of the crash ? If you are using a precompiled remmina, like the ubuntu PPA, please install also debug symbols. See previous posts for debug symbols and gdb.

[2016-05-31 16:37] satelliteoflove commented on #747
@giox069 I found that I was using a package meant for a different version of OpenSUSE than I was running (package was for Leap 42.1, I am running Tumbleweed).  I switched repositories and it is now working perfectly.  Sorry for the trouble.

[2016-06-01 01:21] iamnotzerocool opened #886 "Remmina crashes if using a restored session config with a bad password."
Ubuntu 16.04 LTS
Remmina 1.2.0-rcgit.13
MATE
Connecting to Windows Server 2012 R2
RDP

Session is saved with correct server, user, domain, and password.  Copied session files over to Dropbox for backup.  Later on, on a new install, copied sessions back to ~/.local/share/remmina.  Open Remmina and see sessions.  Edit session and see password, hidden with dots.  Connect to session and warned the log

[2016-06-01 06:23] weberhofer commented on #868
@cb4github, are you sure the user is allowed to connect to windows? With this protocol version?

[2016-06-01 06:24] weberhofer commented on #747
@blahule is this issue still open? Carefully reading your stack-traces I guess you might not have correct versions installed. Please ensure, that all packages remmina related versions are 1.2.0-rcgit.XXX (currently 13) and the freerdp libraries are version 2.0.0.

[2016-06-01 07:24] tsez opened #887 "No more keyboard shortcuts for quick search"
Hello,
Ctrl+F and TAB keyboard shortcuts were disabled in the new version. I cannot search and connect with keyboard only. May be related to #875.

- Ctrl+F: give focus to search bar.
- TAB: give focus to filtered connections list.
- Enter: connect to selected connection.

Xubuntu 16.04
Remmina 1.2.0-rcgit.13

[2016-06-01 10:10] antenore commented on #887
It's related, yes.

We completely changed the main window interface to make it a bit cleaner (I hope you like).

I've tried in a first instance to keep the shortcuts but it wasn't working.

I'll take a look asap.

BTW, when you open the remmina main window, the focus should be already in the search bar and if you hit TAB it should move the tree list. If it's not the case there is a problem (it wor

[2016-06-01 15:06] tsez commented on #887
Yes I like the merge of Quick Connect and Search, it is a good idea :)

When I start Remmina I don't have the focus on Search but its ok for me. I just need a shortcut to give the focus on Search.
I give the focus on the list when I press TABx2.

Thank you.

[2016-06-01 15:06] cb4github commented on #868
@weberhofer The connection is now working after the sysadmin has changed privileges on the VDI server.  Thanks to all who responded.

[2016-06-01 15:06] #868 closed

[2016-06-01 18:11] colemickens opened #888 "Remmina closes even if I press "No" when it asks if I'm sure"
* Client (OS name and version): `Arch Linux -- community/remmina 1:1.2.0rcgit.12-1`
* Remmina version (remmina --version): `remmina - Version 1.2.0-rcgit.11 (git n/a)`
* Desktop environment (GNOME, Unity, KDE, ..): `GNOME 3`
* Connecting to (OS and version): `Windows boxes`
* Connecting via (RDP, VNC, ...): `RDP`
* RDP issues only, freerdp version (xfreerdp --version): `This is FreeRDP version 2.0

[2016-06-02 14:27] antenore commented on #887
Would you mind testing the branch remmina_main_fixes?

Otherwise, to make it short, now, the first time you open Remmina, the cursor is inside the search entry bar, waiting for your input.
When you hit ctrl+f inside the remmina main window, the cursor is placed again inside the search bar.
To pass from the search bar to the tree view, you still have to hit TABx2

To change the Tab behaviour is qui

[2016-06-02 14:27] antenore commented on #887
@giox069 if you have time to test as well...

[2016-06-02 15:36] antenore commented on #47
Here we are  ``` \(^o^)/  ```

I'll merge this and release a new remmina version ASAP. In the mean while you want to test it, after compiling the remmina_main_fixes branch, just drag&drop rdp or remmina files inside the remmina main window.

FYI: @giox069 @larchunix

[2016-06-02 21:32] #47 closed

[2016-06-03 08:07] antenore commented on #888
Hi @colemickens

Thanks for the report.

I can reproduce it, I'll take a look.

In the meanwhile, if you like, we released a new version with several new features and fixes (rcgit.13).

[2016-06-03 09:34] Chugajstyr commented on #887
Hi! When I open Remmina main window, focus doesn`t in search bar, only after double TAB focus moved to. Ctrl+F still doesn`t work. Linux Mint 17.3 (MATE Desktop 1.12), Remmina 1.2.0-rcgit.13

[2016-06-03 12:01] antenore commented on #887
I think your remmina it's not really updated.

Find a the file remmina_main.glade ( i.e. whit ```locate remmina_main.glade``` ) and open it with an editor.

Can you check if you have this code inside it?

[code]

If you don't have all the **focus** properties it means you have still a previous version.

[2016-06-03 14:18] tsez commented on #887
Hello, I just upgraded Remmina and did a test:
- default focus to quick search: ok
- ctrl+f shortcut: ok

All is fine for me, thank you.

[2016-06-03 17:39] Lonniebiz commented on #544
Previously, Remmina would at least auto-focus to the search box after launch. Version 1.2.0-rcgit.13 (git n/a) doesn't do this anymore.

Can you take a look at this, and please consider my auto-highlighted request above. This enhancement saves a lot of steps for heavy Remmina users.

[2016-06-03 19:41] antenore commented on #544
Indeed it does! Since commit https://github.com/FreeRDP/Remmina/commit/e105d15199314fe3efb1e468ffd28811a991dd23#diff-2cf953142f31bdda4aed5ca8e0cba1bbR286

It's duplicated of #887 and it's already solved.

Can you update and test?

There is not an easy way to do this without messing up the code. I keep a note of this and as soon as will be feasible I will do it.

[2016-06-03 19:42] antenore commented on #887
Thanks @tsez

[2016-06-03 19:42] #887 closed

[2016-06-05 13:12] antenore commented on #883
Andreas just made a change (#894) that should fix this issue, but I'm not sure that you will see it till the next remmina release, except if you compile yourself.

[2016-06-05 19:23] #888 closed

[2016-06-05 20:59] Chugajstyr commented on #887
I can confirm - after Remmina update default focus in search bar and Ctrl+F shortcut works.

[2016-06-06 21:42] husisusi commented on #883
I just compiled it and did a test.Change 894 did not fix this issue.

[2016-06-06 21:53] antenore commented on #883
OK, it's a pity. I think you should have a remmina icon in your theme. At least, it's how the patch is supposed to work. If you have a remmina icon in your theme it will use it, otherwise it'll fallback to the standard one that comes with remmina

@wa4557 do you agree about this?

If I'm right we cannot do that match.

[2016-06-06 22:00] wa4557 commented on #883
Yes exactly that's how it supposed to work. You need your icon theme to provide a panel icon named remmina-panel then it should change.

Thinking of it: what do you guys think about a different icon for the panel (I would argue that a monochrome icon would be best). I could give it a try if you wish

[2016-06-06 22:07] antenore commented on #883
Yes, why not! Some time ago I asked to a professional designer some new icons, but the result wasn't impressive (  #608 )

@giox069 @larchunix @weberhofer what do you think?

[2016-06-07 06:25] giox069 commented on #883
Yes, @wa4557 a new monochrome icon to try for the system tray would be very appreciated, thank you.

[2016-06-07 08:55] weberhofer commented on #883
A freshup would be good, so: yes.

[2016-06-07 12:53] CS-JS opened #896 "VNC / SSL Encryption"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Kubuntu 16.04
* Remmina version (remmina --version): remmina - Version 1.2.0-rcgit.13 (git n/a)
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): DELL iDRAC 8 Enterprise
* Conne

[2016-06-07 16:05] CS-JS commented on #896
For Reference, DELLs Whitepaper for VNC Connections to their iDRACs:
https://www.google.de/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0ahUKEwjZ1NnDpZbNAhVMSRoKHTM4DEIQFgglMAE&url=http%3A%2F%2Fen.community.dell.com%2Fcfs-file%2F__key%2Ftelligent-evolution-components-attachments%2F13-4491-00-00-20-44-10-34%2FAccessingRemoteDesktop_5F00_using_5F00_VNC_5F00_on_5F00_iDRAC.pdf%3Fforcedo

[2016-06-07 18:53] antenore commented on #896
You are right, we will see what we can do asap.

[2016-06-07 21:11] SpoolerX opened #897 "I do not see the button "Creane a new connection profile""
* Client (OS name and version):
Arch linux 4.5.4-1-ARCH
* Remmina version (remmina --version):
remmina - Version 1.2.0-rcgit.13 (git n/a)
* Desktop environment (GNOME, Unity, KDE, ..):
Qt: 5.6.0
KDE Frameworks: 5.22.0 with default theme

Problem:
I dont see create a new connection in left corner.
https://zapodaj.net/241bbd0779733.png.html

[2016-06-07 21:17] antenore commented on #897
This is weird :-(

Out of curiosity, does it work with another desktop environment (the rest all the same)?

Can you execute remmina from the command line and cut&paste here any message you have?

[2016-06-08 06:44] SpoolerX commented on #897
_[wojtek@Archi ~]$ remmina
Failed to load plugin: /usr/lib/remmina/plugins/remmina-plugin-vnc.so.
Error: libvncclient.so.0: nie można otworzyć pliku obiektu dzielonego: Nie ma takiego pliku ani katalogu

** (remmina:2996): CRITICAL **: secret_service_load_collections_sync: assertion 'paths != NULL' failed

** (remmina:2996): CRITICAL **: secret_service_read_alias_dbus_path_sync: assertion 'SECRET_

[2016-06-08 07:01] antenore commented on #897
Unlucky it's clearly a theme issue I can't do anything but advising you to use another theme.
Check also if you can tune the interoperability between KDE and GTK+ , it was possible in previous releases.

I'm closing this because it's out of scope (not a development issue)... You can still ask support in our Remmina Google Plus community.

https://plus.google.com/communities/106276095923371962010

[2016-06-08 07:01] #897 closed

[2016-06-08 07:18] SpoolerX commented on #897
Thanks a lot!

[2016-06-08 07:51] CS-JS commented on #896
Thank you :+1:

I tried some VNC clients as suggested by Kubuntus standard repositories, the explicit package "vncviewer" is not found by apt-get install and it suggests xtightvncviewer instead:
[code]
Unfortunatly they all had the same behaviour when connecting to the iDRAC.

SSH Tunnels would be an option for the connection from our office, but the problem is, that in our customers network there

[2016-06-08 08:13] antenore commented on #896
MAybe you can ask directhly to the libvnc guys? If they support it, we can support it as well..

Would you do it this for me?

Thanks in advance.

I keep the issue opened.

[2016-06-08 08:44] CS-JS commented on #896
Hope I hit the right spot :)

https://github.com/LibVNC/libvncserver/issues/124

[2016-06-08 09:01] antenore commented on #896
Thanks :-)

[2016-06-08 09:07] SpoolerX opened #898 "RemoteApp support"
Hi!
In Microsoft Server 08-12r2 have option "RemoteApp", this function can generate .rdp file. After running I have the ability to run specific applications without the entire Windows desktop environment. Application look like local installed application.

RDP File look like this:

redirectclipboard:i:1
redirectposdevices:i:0
redirectprinters:i:1
redirectcomports:i:1
redirectsmartcards:i:1
devices

[2016-06-08 09:25] antenore commented on #898
Isn't the the Startup Program in Remmina?

![selection_155](https://cloud.githubusercontent.com/assets/5975/15889487/a8c7097e-2d6b-11e6-940f-772b950a1173.png)

[2016-06-08 20:57] SpoolerX commented on #898
Yes, sorry is same function! Sorry!

[2016-06-08 20:59] antenore commented on #898
No worries

[2016-06-08 20:59] #898 closed

[2016-06-09 22:32] jhaar opened #899 "remmina-1.2 SSH support in Fedora-24beta totally broken"
Please give us some details about the systems you are using:
* Client (OS name and version): Fedora-24beta
* Remmina version (remmina --version): remmina-1.2.0-0.13.rcgit.7.fc24.x86_64
* Desktop environment (GNOME, Unity, KDE, ..): gnome-shell-3.20.2-1.fc24.x86_64
* Connecting to (OS and version): any SSH
* Connecting via (RDP, VNC, ...): SSH

Hi there, I have already reported this to Redhat (#134

[2016-06-09 22:36] antenore commented on #899
Thanks for the report.

This is something that we fixed when VTE has been upgraded, so it's weird that it doesn't work with Fedora 24...

Can you please provide the vte library version?

I wont be able to look at it very soon.

[2016-06-10 03:28] jhaar commented on #899
I have the following "vte" packages installed

vte3-0.36.5-2.fc24.x86_64
vte291-0.44.2-1.fc24.x86_64

I can also see there is a "vte-0.28.2-17.fc24" available to install, remmina itself appears linked to /lib64/libvte-2.91.so.0

[2016-06-10 12:53] kvaps opened #900 "Not work Copy&paste between Keepass2 and Remmina"
**This bug is crossposted on**
Remmina bug tracker: https://github.com/FreeRDP/Remmina/issues/900
Keepass bug tracker: https://sourceforge.net/p/keepass/bugs/1530/

Can not copy&paste from Keepass a field to RDP session, and back it from RDP session. (namely from the field, select and copy, not press Ctrl+C for copy password from entry list)

Example try to copy text from `URL:` or `Notes:` field

[2016-06-11 10:35] wa4557 commented on #883
How about something like this, taken from your logo
![remmina-panel2](https://cloud.githubusercontent.com/assets/6475757/15984568/eae72160-2fd0-11e6-907d-36b201ef4db1.png)

[2016-06-11 10:53] antenore commented on #883
Personally I love that logo, so for me it's a GO. Good idea :-)

Can we see it in the notification area ?

The best is to create a new branch, so that we can build, tests and send some screenshoots.

If you need support let me know.

[2016-06-13 07:51] wa4557 commented on #883
Alright. I opened a new pull request :+1:

[2016-06-13 08:26] antenore commented on #883
#901 as reference

[2016-06-13 16:01] CS-JS commented on #896
It appears, the implementation of DELLs iDRAC VNC server is at least behaving pretty strange here.
Maybe its the best way to support DELLs support team about this.

I dont think, response times to this issue will be as fast as here on GitHub :(

But nevertheless, thank you all for the support this far! If you want, I will keep you informed about anything I get from DELLs side.

[2016-06-13 16:28] CS-JS commented on #896
http://en.community.dell.com/support-forums/servers/f/177/t/19982783?rfsh=1465835222250

Just to keep you posted.

[2016-06-13 16:32] antenore commented on #896
Sure, keep us in the loop and good luck

[2016-06-14 06:21] #848 closed

[2016-06-14 09:06] Lonniebiz commented on #544
Thanks for #887. Please continue to keep #544 in mind.

What programming language is the UI written in? In some languages is wouldn't be too hard to change the focus to a textbox and highlight its contents each time the user launches a remote session. You could do this before or after the remote session is launched; the user wouldn't notice or care about the order of events, just as long as it is

[2016-06-14 12:06] antenore commented on #544
If you have time maybe you can take a look at the code and propose a patch?

[2016-06-14 13:08] Lonniebiz commented on #544
My main programming language is JavaScript and node.js. My desktop programming experience is in c#, windows forms, and WPF. I've always wanted to contribute to linux and open source, but I'd probably need a little help getting the development environment  set up. Believe it or not, I don't know git and I've rarely used **make** other than building stuff that's outdated in the repos (via a tutorial

[2016-06-14 14:00] pc-wurm commented on #556
+1 @mallxs Thanks!

[2016-06-16 09:09] fknipp commented on #864
I observe the same problem here:

Linux Mint 17.2 Rafaela
Kernel 3.16.0-38-generic #52~14.04.1-Ubuntu SMP x86_64
Remmina 1.2.0-rcgit.13
Cinnamon 2.6.13

I found the following workaround: After toggling to full screen, when the remote desktop is shown on the primary display, I can move the application to the other monitor using the Cinnamon task bar:

 1. Right click on the desktop name in the task

[2016-06-16 18:36] thisSIDEofRANDOM commented on #347
Confirm need separate credentials for the RD Gateway

[2016-06-17 08:01] antenore commented on #876
It's seems it's a confélict between OpenSSL and LibreSSL, here some addtitional logs:

[code]

Valgrind:
[code]

[2016-06-17 08:24] aseques commented on #821
With current versions of remmina this issue only happens on the first connection to a host after some long period (I'd guess more than a month), if I close the connection and open it again, it connects just fine.
I'd close the issue.

[2016-06-17 08:24] #821 closed

[2016-06-17 08:35] lnicola commented on #821
@aseques Does clipboard sync work for you now? Remmina used to crash when hitting Ctrl-C.

[2016-06-17 08:35] saiballo opened #902 "missing settings icon"
Hi,

when UI of remmina interface changed with new version, I can't see the settings icon on the right.

see the screenshot

![test](https://cloud.githubusercontent.com/assets/3473910/16145035/1ebc45a6-3477-11e6-81c8-eec426b70374.jpg)
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client

[2016-06-17 09:45] aseques commented on #821
I am on 1.2.0-rcgit.13, everything related to clipboard has been working without issues for quite a long time (from time to time one of the tabs disappears and I have to reconnect, but I can't correlate it to a cause)
BTW I really like the new look with the search bar on top

[2016-06-17 09:49] lnicola commented on #821
I'll try after a dual-screen regression is fixed. I have to use `1.2.0rcgit.11` and that one crashes when copying text.

[2016-06-17 11:41] aseques commented on #873
I'm on kde and this doens't seem to affect me (under 1.2.0-rcgit.13)

[2016-06-17 12:27] antenore commented on #873
I've probably an idea on the reason why we have this issue, but I'm quite busy with my job and I wont be able to investigate it further till the next week.

Really sorry :-(

It'd be cool if you take a look at the git history (CAUTION: sometime it's quite chaotic) and try to identify what could cause such behaviour, usually are properties set at a window level.

The file that you should investigat

[2016-06-17 15:44] lnicola commented on #873
@antenore If I didn't do anything wrong, this broke in b8dd3910083f944d1545d860e8387c968cb208da .

[2016-06-17 15:56] antenore commented on #873
Thanks for the help :-) This is a great community :-)

I see and [this](https://github.com/FreeRDP/Remmina/commit/b8dd3910083f944d1545d860e8387c968cb208da#diff-747cb94de21a01ac3da89dd6b89443b2L2361) is exactly the line I should modify, but doing it, I risk to have a regression on #817

Where @Vladimir-csp asks to don't force GTK in placing the remmina window, because it should be the job of the wi

[2016-06-17 16:05] lnicola commented on #873
I should have looked into it earlier, but I had never tried git-bisect until now. By the way, Remmina builds quickly and it only took a couple of minutes to find the problem.

I'm more of a Windows guy and I know nothing about X11, GTK+ or multi-mon, but I noticed that applications run from a terminal tend to show up on the same display. I'm using GNOME. Is there a way to set windows as related to

[2016-06-17 16:41] ensisnoctis opened #903 "apt-get fresh install error on Ubuntu MATE 15.10"
While trying to install remmina for the first time on my Rapsberry Pi 2 (Ubuntu MATE 15.10) with
`sudo apt-get install remmina remmina-plugin-rdp libfreerdp-plugins-standard`
(copied from main git page) I get:
[code]

[2016-06-17 20:54] antenore commented on #873
Yep. That's probably the best solution to make everybody happy.

I'm opening a PR, unlucky I don't have your setup, so I cannot test it.

[2016-06-17 20:56] lnicola commented on #873
Oh, that seems easy, thanks. However, I'll only be able to test it on Tuesday.

[2016-06-17 21:08] antenore commented on #873
No rush. I'll keep the PR till needed.

[2016-06-17 21:12] antenore commented on #903
You still have an old remmina version on you Pi2, you have to purge it.

    - Update your ubuntu, if you have limited bandwidth, you can ignore this.

	apt-get update.

    - Remove all remmina and freerdp packages

	sudo apt-get --purge remove freerdp-x11 remmina remmina-common remmina-plugin-rdp remmina-plugin-vnc remmina-plugin-gnome remmina-plugin-nx remmina-plugin-telepathy remmina-plugin-xd

[2016-06-17 21:15] antenore commented on #902
Can you please fill the OS/remmina questions please (OS, version, etc)? Without that info I cannot really help you.

[2016-06-17 21:23] antenore commented on #900
As reported by #821 , this issue should be fixed.

Can you upgrade remmina and test again please? Double check you didn't set "disable clipboard sync" (just in case)

[2016-06-17 21:32] antenore commented on #899
It'd be the right version. I need a test environment and it won't happen very soon. :-\

[2016-06-17 21:38] antenore commented on #903
@giox069 is telling me that it won't probably work.

The best solution is to compile Remmina, using the Ubuntu 14.04 and 16.04 guides in our wiki, but there are some modifications for the ARM platform compared to the standard way to go.

Try to follow the guides removing the -DSSE2=on options. It should be a good start. Let me know and blocking errors, I'll try to help you.

[2016-06-17 22:00] larchunix commented on #902
@saiballo I guess it's not a remmina issue but more likely a problem with your icon theme.

[2016-06-17 22:03] larchunix commented on #876
Hmm, I don't have any clue to fix this.

[2016-06-17 22:13] antenore commented on #876
Yeah don't worry. It's more like I'm keeping a log.

[2016-06-18 06:24] Schattenjager-RC opened #905 "No dark tray icon"
I am using Ubuntu's Radiance light theme, but Remmina's tray icon is always light too. It merges with the background and difficult to see.
![unity-panel_001](https://cloud.githubusercontent.com/assets/6198836/16169430/c20cdf8c-353e-11e6-8f90-35ded587c357.png)
Please add dark inverted icon and the ability to automatically select dark or light icon depending on the system theme. Or maybe just the ab

[2016-06-18 19:52] specialist-ilya commented on #902
Hi! im using remmina 1.2 on ubuntu 14.04, missing settings menu icon
icons theme: ubuntu-mono-dark, gtk theme: Ambiance

screenshot
![2016-06-18 22 51 49](https://cloud.githubusercontent.com/assets/20018142/16173343/bfdc1fa4-35af-11e6-8941-3b3cf1a3808a.png)

sorry for my bad english)

[2016-06-19 07:11] specialist-ilya opened #906 "missing remmina settings icon ubuntu 14.04"
Hi! im using remmina 1.2.0~rcgit-11+936+next+201606162233~ubuntu14.04.1 on ubuntu 14.04, missing settings menu icon
icons theme: ubuntu-mono-dark, gtk theme: Ambiance

screenshot
![2016-06-18 22 51 49](https://cloud.githubusercontent.com/assets/20018142/16173343/bfdc1fa4-35af-11e6-8941-3b3cf1a3808a.png)

sorry for my bad english)

[2016-06-19 07:17] larchunix commented on #902
Remmina uses the icon named `open-menu-symbolic`.

Does the `ubuntu-mono-dark` theme provides one ?

    ls -l /usr/share/icons/ubuntu-mono-dark/*/actions/open-menu-symbolic.*

[2016-06-19 08:56] specialist-ilya commented on #902
missing open-menu-symbolic

[2016-06-19 08:59] specialist-ilya commented on #902
ubuntu 16.04 open-menu-symbolic.svg
/usr/share/icons/Adwaita/scalable/actions/open-menu-symbolic.svg

ubuntu 14.04 missing adwaita-icon-theme

[2016-06-19 13:13] cmcanulty commented on #556
It won't work for me since upgrade to xubuntu 16.04, very annoying. I have all pkgs updated on all machines

[2016-06-19 15:10] NTMan commented on #863
Yes, problem also reproducible with xfreerdp

[code]

![screenshot from 2016-06-19 20-05-12](https://cloud.githubusercontent.com/assets/200750/16178136/dbe5aa80-3659-11e6-9f47-b18b27a6870c.png)

[2016-06-20 06:56] saiballo commented on #902
my os is Linux Mint 17.3 (based on ubuntu 14.04)

[2016-06-20 07:02] saiballo commented on #902
so, any suggestion to solve the problem?

[2016-06-20 07:39] antenore commented on #902
From a development point of view Ubuntu 14.04 it's quite an old distribution, so we cannot really do anything on our side except giving some advices:

1) Search for an Ubuntu 14.04 theme with the icon "open-menu-symbolic"
2) Try to take the icon from another theme and add it to the one you are using, here mine:

[open-menu-symbolic.tar.gz](https://github.com/FreeRDP/Remmina/files/322910/open-menu-

[2016-06-20 07:40] antenore commented on #906
Duplicated of #902

[2016-06-20 07:41] #906 closed

[2016-06-20 07:41] saiballo commented on #902
ok, I'll try. thank you

[2016-06-20 07:43] antenore commented on #905
Thanks for the report.

@wa4557 would you mind providing a dark icon? I'll work on the rest. Thanks in advance.

[2016-06-20 08:24] antenore commented on #886
Do you confirm this happens only the first time you try to connect with the wrong password?
Can you try to replicate the issue a couple of times?

If it's the same bug, it can be reproduced the first time (in a day) you connect to any server with a wrong password.

Can you provide a gdb full backtrace ?

[code]

Between run and "bt full" do whatever is required to crash remmina, you will probably

[2016-06-20 08:26] kvaps commented on #900
Hi, thanks for answer!

I update packages to new versions:
* **Freerdp version:** 2.0.0-dev (git c3ce0c3)
* **Remmina version:** 1.2.0-rcgit.11 (git n/a)

The problem is not solved:

* Copy from Keepass to Remmina: **not work**
* Copy from Remmina to Keepass: **not work**
* Copy from Keepass to xfreerdp: **not work**
* Copy from xfreerdp to Keepass: **work**

Copy from other apps to remmina or fre

[2016-06-20 08:44] weberhofer commented on #900
Do you have TeamViewer running? There were similar issues reported with a running TeamViewer.

[2016-06-20 08:55] antenore commented on #900
Thanks Johannes, I forgot about this.

In the meanwhile I've took a look at the KeePass code, and I see they use "Clipboard Selection", as Remmina where we use "GDK_SELECTION_CLIPBOARD"

https://github.com/keepassx/keepassx/blob/4eea7c829754b263be142e09993147763c8a8585/src/gui/Clipboard.cpp#L42

https://github.com/FreeRDP/Remmina/blob/next/remmina-plugins/rdp/rdp_cliprdr.c#L703

So it should work,

[2016-06-20 10:35] giox069 commented on #903
@ensisnoctis we just added the armhf architecture to the ubuntu PPA. You can retry to install remmina from the PPA as you did in your first post. I tested it on my Rapsberry PI2 with ubuntu mate 16.04. I hope it will work with 15.10 also.

[2016-06-20 10:55] Schattenjager-RC commented on #905
@antenore
I've just inverted the 24x24 icon with XnViewMP.
You can use it)

[2016-06-20 11:46] antenore commented on #905
Thanks :-)
Let me investigate  which options we have to switch between icons.

[2016-06-20 11:54] Schattenjager-RC commented on #905
You are welcome)

[2016-06-20 12:06] Schattenjager-RC commented on #905
Maybe you should look how it's implemented in applications like Shutter or Redshift.

[2016-06-20 12:17] antenore commented on #905
Good idea, in the meanwhile I've found this

http://lzone.de/blog/Detecting%20a%20Dark%20Theme%20in%20GTK

[2016-06-20 12:46] Schattenjager-RC commented on #905
It looks Interesting) A lot of applications automatically change icon colour, even very simple indicators can do it. Not sure if it's the same implementation.

[2016-06-20 13:17] Schattenjager-RC commented on #905
But I think it may be much easier to add the ability to select the icon in the settings.

[2016-06-20 16:06] antenore commented on #905
I've wrote down some few lines of code... It's not perfect but it should work.

[2016-06-20 16:15] antenore commented on #905
@Schattenjager-RC If you want we add your name in the Remmina ABout Dialog (and in the AUTHORS file) contact me by email (my email is in the about dialog as well)

[2016-06-20 16:29] specialist-ilya commented on #902
thank you very much!

[2016-06-20 16:48] RubenKelevra opened #908 "Very long lags on filetransfers"
We use a OpenVPN tunnel over a 10/1 mbit/s dsl connection. Over this connection we establish some rdp connections with Remmina.

First of all, this isn't a network issue, we use cake with traffic shaping on the router and fq_codel on the client, so there is no bufferbloat on the network-side.

The rtt to the rdp server is min/avg/max/mdev = 44/55/170/16 msec.

Everything works fine with around one

[2016-06-20 17:31] Chugajstyr commented on #905
Possibly same trouble with tray icon (Mint 17.3, MATE Desktop, standart Mint-X desktop theme, Remmina 1.2.0-rcgit.14)
![remmina screenshot at 2016-06-20 20 21 37](https://cloud.githubusercontent.com/assets/16296772/16204024/a3f84e08-3725-11e6-86b0-613d7cd75112.png)
And menu button strange looks:
![remmina screenshot at 2016-06-20 20 22 41](https://cloud.githubusercontent.com/assets/16296772/162040

[2016-06-20 18:40] antenore commented on #905
See #902 about menu button.

The panel icon fix will be merged as soon as possible

[2016-06-20 18:42] antenore commented on #908
Can you please test with xfreerdp and report back the results? Thanks.

[2016-06-20 19:01] munsta0 opened #909 "Frequent disconnection during ssh connection"
Hey all,

Me and a coworker have been experiencing a lot of disconnect recently, mostly in waves. We can go days without incident, then suddenly we disconnect every few minutes, which is _very_ annoying.

We suspect it could be related to poor internet quality. Is there a way to make the program less sensitive to packet loss? Attempt a reconnect instead of just closing?

Thanks
- Client (OS name a

[2016-06-20 19:25] antenore commented on #909
The SSH connection is handled through libssh, I'll check if they support a reconnect mechanism  .

[2016-06-20 20:10] antenore commented on #909
So it seems there is not a solution for this issue, but just some work around and settings that may help you.

1) Server Side in the /etc/ssh/sshd.conf

Increase the ClientAliveInterval to 60 seconds and set TCPKeepAlive to yes.

2) On the client (server) side

On the server run a _screen_ or _tmux_ session so even if you loose your ssh session, you'll be able to _attach_ to it.

I doubt we can do

[2016-06-20 20:21] munsta0 commented on #909
Thanks for the quick reply. I'll check those settings and thanks for the screen program.

[2016-06-20 20:35] antenore commented on #909
OK, let me know

[2016-06-20 23:32] box293 commented on #905
I have the same issue with Mint MATE just as @Chugajstyr reported.

[2016-06-21 05:33] Schattenjager-RC commented on #905
@antenore
Great, thanks a lot.
Regarding your proposal - for now I prefer to stay just anonymous "contributor")

[2016-06-21 06:24] box293 opened #910 "Idea - Commands list for terminal sessions"
[code]

I use SSH terminals quite a bit, I'm frequently testing apps from the CLI so I do a lot of copy and paste to execute commands. One third of my commands are ones that I use all the time.

It would be great to have as part of the right click menu the ability to select commands that would be pasted into the terminal window. Sometimes you want the command pasted so you can alter it, other time

[2016-06-21 06:57] lnicola commented on #873
Hmm.. Nope, I have the same issue on branch `issue873_fullscreen`.

[2016-06-21 07:26] antenore commented on #873
This is bad... I'll investigate further.
I'll merge the PR because that setting is good anyway.

[2016-06-21 07:31] antenore commented on #873
@lnicola Regarding #241 what happen if you disable the workspaces (if it is even possible)?

Can you please test in different desktop environment (xfce4, cinnamon, lxde, kde, etc) ?

[2016-06-21 08:07] antenore commented on #910
We already have a similar feature that needs be improved, but at the moment is not active for SSH sessions.

In the Remmina preferences, at a global level, you can configure some keystrokes that than you can "replay" from the tools icon in the main Remmina connection window.

As each shell has some extremely powerful history tool, this is something is not useful for most users.

In the future, whe

[2016-06-21 08:23] box293 commented on #910
Macro system sounds good. I'm in no rush, just throwing ideas out there :)

[2016-06-21 08:42] lnicola commented on #873
I don't know what disabling the workspaces would mean in GNOME. I tested with Cinnamon and it behaves in the same way.

[2016-06-21 08:57] antenore commented on #873
I'm checking again that commit. It's frustrating the fact I don't have a Windows multi monitor setup I can test :-\

[2016-06-21 08:59] lnicola commented on #873
Do you have a Linux one? :grin:

[2016-06-21 09:03] lnicola commented on #873
Are you sure you're not missing a `gtk_window_set_transient_for()` call?

[2016-06-21 14:03] munsta0 commented on #909
Alright changed the settings, in a few days I'll update with the results.

Also, for anyone else having this issue, the file is actually /etc/ssh/sshd_config on Centos 5.0

[2016-06-21 14:48] antenore commented on #909
My bad, it should be that name everywhere :-P sorry. Except in most *BSD like OS where it's under /usr/local/etc/ssh

[2016-06-21 20:35] Chugajstyr commented on #902
Thanks, I added icons from file to "gnome" theme (inherited by Mint-X), then updated icon cache - it`s works, now Remmina have menu icon.

[2016-06-21 21:25] antenore commented on #873
If you are referring to to the warning:

No, this is caused by the authentication dialog.

The remmina connection window is more like a main window, it doesn't really need a transient parent (or I didn't understand what is a transient parent :-P everything is possible )

The old nerds like me uses [Twisted nematic field effect LCD](https://en.wikipedia.org/wiki/Twisted_nematic_field_effect) :neckb

[2016-06-21 22:00] box293 commented on #902
@Chugajstyr what steps did you follow to do this?

[2016-06-21 22:04] antenore commented on #902
@Chugajstyr maybe we can write a wiki HowTo :-)

[2016-06-21 22:27] antenore commented on #873
Done. I'm evaluating also if it's the case to use gdk_window_set_fullscreen_mode, with  GDK_FULLSCREEN_ON_ALL_MONITORS

[2016-06-22 04:35] lnicola commented on #873
No, I was referring to your usage of `GTK_WIN_POS_CENTER_ON_PARENT` in bdca639b33dea5db1b895fa6f757095366d9a360. According to the [documentation](https://developer.gnome.org/gtk3/stable/GtkWindow.html#GtkWindowPosition), it means

Now that I've read about them, transient windows seem to be the solution for this:

Note that transient windows don't have to be dialogs.

I'll try it a bit later, but I

[2016-06-22 06:32] piotrantosik commented on #899
same problem but update to latest build (http://koji.fedoraproject.org/koji/packageinfo?packageID=10031 remmina-1.2.0-0.18.rcgit.14.fc25) fix this.

[2016-06-22 06:48] lnicola commented on #873
Sorry, my bad, I somehow misread that commit. It fixes this issue, of course, but presumably regresses #817.

I still think setting the connection window as transient should work. I'd try it myself, but I didn't see a way to get a handle to the main one. Actually, I don't even see how `remmina_connection_window_init()` gets called, since it's `static` and doesn't seem to be used. Might be a GTK th

[2016-06-22 08:28] antenore commented on #873
@Vladimir-csp please I really need your feedback, see at the end of the psot.

Well, let me try to explain what I see myself

remmina main call remmina_connection_window_open_from_filename and than (just filtering per remmina_connection_window), the function flow is:

Both functions known nothing about the transient parent, so it should be GTK that deal with it.
So, centring the window in relation

[2016-06-22 08:44] lnicola commented on #873
So, centring the window in relation to its parent (set by GTK) should work [...]

I don't think I understand what you meant (or how GTK could know about the relationship between the two windows). The fix I tried now is something like:

[code]

And works as intended as far as I can see, but is kind of ugly. If you think it's worth it, I can submit a PR with this change for @Vladimir-csp to try.

[2016-06-22 08:50] antenore commented on #873
Cool! We will have time and room for improvements in the future, as far as it fixes an issue it's never ugly IMHO.

Thanks! :-)

I'll close my PR, if you want update also the AUTHORS and remmina/ui/remmina_about.glade files with your details if you want, or I can do my self creating a new release (or nothing at all if you don't want)

[2016-06-22 08:54] lnicola commented on #873
For the record, I also tried

[code]

, but it had no effect.

[2016-06-22 08:56] Vladimir-csp commented on #873
Logic tells me that main window (connection list) and connection window (actual remote session(s)) should be common independent windows without any special hints. Only smaller dialog windows like password prompts or connection editor should be children to those windows from where the action was called.

With fullscreen... I do not know. Both behavior can be valid - fullscreen on one monitor or on

[2016-06-22 09:01] antenore commented on #873
Thanks for your (both) support.
I must definitively find some time to understand better the doc and to ask some questions to some GTK+ gurus.

[2016-06-22 09:10] Vladimir-csp commented on #873
Unfortunately, I do not know first thing about developing GTK interfaces, but I can point to a reference: Pidgin, it's general window architecture seems right. It has tabbed conversation windows and buddy list, with various child dialogs. Conceptually this is exactly what Remmina needs. May be Pidgin developers could give some advice.

[2016-06-22 09:16] lnicola commented on #873
Oh wait. My proposed fix doesn't seem to work anymore after a full rebuild and it didn't really make sense.

My idea was to keep the connection window on the same monitor when going full-screen, but I confused the main window with the non-fullscreen connection window, if that makes sense.

[2016-06-22 09:21] lnicola commented on #873
Using `gtk_window_fullscreen_on_monitor` doesn't seem to have any effect, but setting the window as transient does, kind of.

It depends on the position of the main window on my main monitor: if it's around the left or right side, going full-screen uses the current monitor. If it's near the center, going full-screen makes it move to the other one.

This makes no sense.

[2016-06-22 09:55] Chugajstyr commented on #902
Ok then ;). I'am away now from my Mint notebook, but I try to recover the sequence of my actions))).
 In usual Linux Mint MATE has standard desktop themes: "Mint-X" (and derivatives - "Mint-X-Orange", "Mint-X-Blue", etc). I personally likes "Mint-X-Blue", that inherits parent "Mint-X", that, in its turn, inherits "gnome" theme. As I understand, inheritance means including some icons, not available

[2016-06-22 10:57] Chugajstyr commented on #783
Here I again).
I switched to tmux byobu backend, then former screen distortions seems gone. But scrolling status bar steel there.
I found blog with similar problem:
[http://www.naturalborncoder.com/linux/2014/10/28/getting-started-with-byobu/](url)
There are 2 solution, second doesn't helps to me, yet first talking about PuTTY & remote character set,  maybe it can be somehow useful to clarify prob

[2016-06-22 11:46] antenore commented on #783
Thanks for the link (I fixed the url in your post), and yes it's helpful, I'll take a look asap.

[2016-06-22 22:07] antenore commented on #902
Thanks @Chugajstyr !

[2016-06-22 22:40] #905 closed

[2016-06-22 23:42] box293 commented on #902
Thanks @Chugajstyr, saved me working it out for myself ;) Works fine after following your steps.

[2016-06-23 00:01] box293 commented on #905
This fixed it for me on Linux Mint 17.3

[code]

[2016-06-23 11:41] ag108 opened #911 "Don't compile on FreeBSD"
Can't compile remmina. I tryed it on PC-BSD 10.3 x64 and FreeBSD 10.2 i386. Used this instruction https://github.com/FreeRDP/Remmina/wiki/How-to-compile-Remmina-on-FreeBSD
Desktop environment - mate.

**On  PC-BSD I have:**

[code]

**On FreeBSD:**

[code]

[2016-06-23 12:39] antenore commented on #911
Can you provide a full log of you have done?

I think you are missing some dependencies, for that I'm sorry but as I already had a dev environment I didn't need to install that much on my FreeBSD.

Try to follow the other compilations guides (fedora, ubuntu, ...) and install the same (equivalent) packages.

Keep a log of what you install so than we will update the wiki.

[2016-06-23 12:43] ag108 commented on #911
I strictly followed the instructions on the items . It installs all specified. Excuse me, where can I see the full log ?

[2016-06-23 12:58] antenore commented on #911
The first error oyu have on PC-BSD means that freerdp is not installed or it's not in the path.

Did you test xfreerdp?

[code]

or

[code]

For the problem you have on FreeBSD it looks like FreeBSD 10-2 doesn't have utimnsat function, see https://reviews.freebsd.org/D1426

I'll see if it make sense to use another function in Remmina.

Later I can help you more.

[2016-06-23 13:06] ag108 commented on #911
I am very sorry! I found what my mistake! I was has installed xfreerdp through pkg!!! Remove it and remmina installed without problems! I'm very happy!!! Thanks for you help. :)

[2016-06-23 13:08] ag108 commented on #911
But... After try connecting RDP, I have this(((

[code]

[2016-06-23 13:13] antenore commented on #911
[code]

[code]
copy and paste here the result of _bt full_

[2016-06-23 13:17] ag108 commented on #911
[code]

[2016-06-23 13:30] kvaps commented on #900
I thought that the problem in this, and I tryed to install clipit for syncronise `primary` selection with `clipboard` but it is not helps :(
Also I have teamviewerd service runned, not client in my host.
Remote host have no TeamViewer.
Now I stoped teamviewed service and clipit and retest copy&pase:

#### RDP
* Copy from Keepass to Remmina: **not work**
* Copy from Remmina to Keepass: **not work**

[2016-06-23 13:34] antenore commented on #911
No, this is not correct, did you have the segmentation fault error before to run "bt full"?

1) Open a terminal
2) Execute "pkill remmina" . Be sure remmina is not running (for example with "ps auxwww | grep remmina")
3) Execute "gdb remmina"
4) Work with remmina till you have the error (segmentation fault) and Remmina is blocked
5) Execute "bt full" inside the gdb shell

[2016-06-23 13:37] giox069 commented on #911
@antenore: you are missing to enter "run" as the first command inside gdb (step 3.5).

[2016-06-23 13:38] antenore commented on #911
Thanks @giox069 !! :-P

Sorry @ag108

1) Open a terminal
2) Execute "pkill remmina" . Be sure remmina is not running (for example with "ps auxwww | grep remmina")
3) Execute "gdb remmina"
4) "run"
5) Work with remmina till you have the error (segmentation fault) and Remmina is blocked
6) Execute "bt full" inside the gdb shell

[2016-06-23 13:39] ag108 commented on #911
aha :)

[code]

[2016-06-23 13:45] antenore commented on #911
This is bad... I don't know hot to fix this, I've the same issue using spice protocol.

I think it's due to LibreSSL and OpenSSL installed at the same time. We should try to link Remmina to OpenSSL (I don't have a FreeBSD available at the moment and I cannot verify).

So this is potentially duplicated of #876

@giox069 do you have an idea?

[2016-06-23 13:55] giox069 commented on #911
No ideas. I will test it later this night.

[2016-06-23 13:57] kvaps commented on #900
I must remind the problem when copying from keepass occurs namely when copying plain text (select and copy), but not when copying username or password using Ctrl-B, Ctrl-C shortcuts or from context menu for entry list.

[2016-06-23 14:04] antenore commented on #900
Ok, we will take a look. I should be able to reproduce it, but I don't know when I'll have time to investigate it deeply.

:-\

is there something you can do, temporary, to be able to work? Like copy&paste in a text file and then back to Remmina? Or another password manager? Just for the time needed to at least discover where the problem is laying.

[2016-06-23 14:38] kvaps commented on #900
OK! I've seen this bug on many systems, so I think you will not be difficult to reproduce this bug.

Thank you for your concern. This problem continues from the moment as we switched to linux as main os. We are now use this workaround: copy from KeePass to text editor and from text editor to Remmina and back likewise.

[2016-06-23 16:51] derjur opened #912 ""Unable to connect to RDP server $HOST" More verbose error request"
Ubuntu 16, using gnome-shell.
Connecting over RDP to a Windows server host.

"Unable to connect to RDP server $HOST" error message could be more verbose, to assist in troubleshooting.  An incorrect password appears the same as a down host, which unfortunately lead me into a multi-hour troubleshooting session.

[2016-06-23 20:04] Dolphykins opened #913 "SSH - Blank Window After Upgrading Fedora 23 to 24"
After upgrading a fairly fresh install of Fedora 23 Workstation to Fedora 24, SSH sessions (saved and new) are launching a blank window with a blinking cursor for me. This procedure was followed for the OS upgrade: https://fedoramagazine.org/upgrading-fedora-23-workstation-to-fedora-24/

Client: Fedora 24, Kernel 4.5.7-300.fc24.x86_64
Remmina Version 1.2.0, Release 0.13.rcgit.7.fc24
Gnome Shell 3.

[2016-06-23 20:10] antenore commented on #913
Hi and thanks for this report, but this is duplicated of #899

As soon as possible I'll test myself and let you know.

I'm going to copy&paste your post and close this one.

[2016-06-23 20:10] #913 closed

[2016-06-23 20:15] antenore commented on #899
Reported by @Dolphykins (please update to last version)

[2016-06-23 20:17] antenore commented on #899
@jhaar @Dolphykins Upgrade to last remmina version and let me know.

[2016-06-23 20:30] Dolphykins commented on #899
@antenore Thanks for the fix, guys. Did an in-place install of the x86_64 rpm for remmina-1.2.0-0.19.rcgit.14.fc25 and SSH connections are working again.

[2016-06-23 20:32] antenore commented on #899
I love when I do nothing and problems goes away :-)
I close this.

[2016-06-23 20:32] #899 closed

[2016-06-23 21:07] Dolphykins opened #914 "RDP Plugin - "Nothing provides libfreerdp-client.so.2()(64bit)"
Client: Fedora 24, Kernel 4.5.7-300.fc24.x86_64
Remmina Version 1.2.0, Release 0.19.rcgit.14.fc25
Gnome Shell 3.20.2

Follow-up with a different issue from this thread:
https://github.com/FreeRDP/Remmina/issues/899

After manually installing the latest release of Remmina from RPM (remmina-1.2.0-0.19.rcgit.14.fc25), and trying to install the x86_64 RPM for the RDP plugin (remmina-plugins-rdp-1.2.0-

[2016-06-23 21:22] antenore commented on #914
This is more a packaging issue and not a FreeRDP/Remmina problem.

@hubbitus can you please help?

[2016-06-23 21:26] giox069 commented on #914
[giovanni@mybsd ~/remmina_devel/Remmina]$ make
Scanning dependencies of target remmina
[  1%] Building C object remmina/CMakeFiles/remmina.dir/src/remmina_file.c.o
/home/giovanni/remmina_devel/Remmina/remmina/src/remmina_file.c:644:7:
warning: implicit declaration of function
       'utimensat' is invalid in C99 [-Wimplicit-function-declaration]
                 if (utimensat(AT_FDCWD, remminafile

[2016-06-23 21:26] giox069 commented on #914
Ah, ecco... non esiste utimensat() nella 10.2.

Come si fa l'upgrade alla 10.3 ?

On 23.06.2016 23:22, Antenore Gatta wrote:

[2016-06-23 21:30] antenore commented on #914
On 06/23/2016 23:26, Giovanni Panozzo
      wrote:

      Ah, ecco... non esiste utimensat() nella 10.2.

      Come si fa l'upgrade alla 10.3 ?

    sudo freebsd-update fetch
    sudo freebsd-update install -r 10.3-RELEASE

    Con riserva perché vado di memoria... Cerco, intanto fai il fetch

      On 23.06.2016 23:22, Antenore Gatta wrote:

      problem.

      help?

      thread.

<https://g

[2016-06-23 21:33] giox069 commented on #914
Ok, questo fatto e sembra corretto.

Questo invece no.

[2016-06-23 21:35] antenore commented on #914
On 06/23/2016 23:26, Giovanni Panozzo
      wrote:

      Ah, ecco... non esiste utimensat() nella 10.2.

      Come si fa l'upgrade alla 10.3 ?

    freebsd-update fetch
    freebsd-update -r 10.3-RELEASE upgrade
    freebsd-update install
shutdown -r now
# Se hai tempo i seguenti
pkg-static upgrade -f
portmaster -af
# e ancora

freebsd-update install

      On 23.06.2016 23:22, Antenore Gatta wr

[2016-06-23 21:48] antenore commented on #914
Sorry, I've answered to the wrong threads.
I deleted the bad ones .

[2016-06-23 21:58] Dolphykins commented on #914
I removed Remmina and all of its plugins, downloaded 1.2.0-0.18.rcgit.14.fc25.x86_64 and its respective RDP plugin, and I'm getting the same error for the same library.

[2016-06-24 03:21] ag108 commented on #911
When I compile remmina, have this. Maybe it's useful information...

[code]

[2016-06-24 09:12] ag108 commented on #911
Hm... It working on FreeBSD 11 alpha. But on pcbsd no.

[2016-06-24 11:24] antenore commented on #911
This is interesting.

Are you able to test the Spice protocol?
It's enough to test a connection to a KVM virtual machine.

[2016-06-26 18:19] giox069 commented on #911
I'm sorry but I'm unable to reproduce it with RDP under FreeBSD 10.3 i386 and x64 :(

[2016-06-26 20:41] ag108 commented on #911
I havn't kvm and cant'n test spice.

It's a pity. So I already install freebsd 11 alfa 4 and looking forward release version :) thanks for help everybody!

[2016-06-27 07:14] kevin-olbrich commented on #908
What do you mean by test with xfreerdp? We are using Remmina with xfreerdp.

[2016-06-27 08:16] antenore commented on #908
Hi Kevin,

Remmina uses FreeRDP library as xfreerdp does, but both are two different FreeRDP clients, so Remmina doesn't use xfreerdp.

As xfreerdp is developed by the FreeRDP team, testing it'll confirm (or not) that is a Remmina issue, or at least will help me more to address your issue.

From the command line can you test something like the following?

[code]

See xfreerdp --help for more usefu

[2016-06-27 09:26] RubenKelevra commented on #908
@antenore it's in xfreerdp broken like in Remmina:

I've tried:
`xfreerdp /v:1.2.3.4 /u:JohnDoe /d:CONTOSO /bpp:15 +auto-reconnect +heartbeat +multitransport +async-transport +async-channels +async-input +async-update +gfx-progressive /gfx:RFX /rfx-mode:video +fonts +clipboard +home-drive `

And I've tried:

`xfreerdp /v:1.2.3.4 /u:JohnDoe /d:CONTOSO +home-drive`

When you select an 80 MByte file

[2016-06-27 09:50] antenore commented on #908
Can you kindly open a new issue to the FreeRDP project?

Thanks in advance!

[2016-06-27 14:48] gbolo commented on #785
This should be fixed

[2016-06-28 01:58] box293 opened #915 "Idea - Connect to multiple targets"
[code]

Sometimes when testing I would like to open several SSH sessions to 5-10 servers in one go.

From the "Main Window" it would be good if you could select multiple entries using either SHIFT to select a range or CTRL to select specific ones. Then you could right click and select Connect and it would open all those connections.

Just a way to save me some mouse clicks :)

[2016-06-29 16:16] yuriw opened #916 "Copy/paste between Windows 10 guest and Remmina 1.2.0-rcgit.14 (git n/a) host"
I don't see that this copy/past is actually working on this configuration.
Not sure if this is a bug or there is some documentation on how to enable it?
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35605230-copy-paste-between-windows-10-guest-and-remmina-1-2-0-rcgit-14-git-n-a-host?utm_campaign=plugin&utm_content=tracker%2F431

[2016-06-29 16:58] abeidson commented on #916
I am having a similar problem trying to copy from a Windows 2012 R2 remote session to my Fedora box.

[2016-06-29 17:30] Dolphykins commented on #914
Bump, checking to see if this has been fixed yet. I've reverted my laptop to Remmina from repos (0.13.rcgit.7.fc24 as of writing) in order to get atleast RDP working, just using Gnome-Terminal for SSH until a new build is pushed to resolve the issue from the previous case.

[2016-06-29 18:58] antenore commented on #914
We don't have control over the fedora packages.

I advice you to follow our wiki to build freerdp and remmina from the sources, it's quite easy and fast.

In the meanwhile we'll wait an answer from the Fedora team.

Later I'll add some more details.

[2016-06-29 19:52] waynewinchjr commented on #914
I agree it's a packaging issue.  These steps can give you an F25 remmina with RDP, VNC and SSH working; however, be advised that performing these steps can lead to instability in remmina, potentially even induce crashes, though I have yet to see one with light use.  **Thus, you should not execute these steps on any Production systems.  YOU HAVE BEEN WARNED!!!**

BTW, @antenore has the proper sugge

[2016-06-29 20:03] antenore commented on #914
Thanks a lot @waynewinchjr , this is much appreciated.

These steps are more than correct and it's less slickly to give troubles than the standard package provided by default.

I'm 100% agree, but I'm not a regular Fedora 24/25 user, so I'd not be able to answer questions to the FreeRDP supporters.

The second issue is that they won't probably support you because the least FreeRDP (and so Remmina)

[2016-06-29 20:06] antenore commented on #916
Can you provide also the FreeRDP version?

[code]

Do you have TeamViewer running? Has been reported that steal the clipboard...

[2016-06-29 20:09] yuriw commented on #916
@abeidson No TeamViewer running
 xfreerdp --version
This is FreeRDP version 2.0.0-dev (git n/a)

[2016-06-29 20:13] antenore commented on #912
Can you provide remmina and freerdp version?

For more debug run remmina from the command line, if you need even more you can activate traces at compile time and you have a debug window in the Remmina menu.

I close the issue, if you need more let me know.,

[2016-06-29 20:13] #912 closed

[2016-06-29 20:18] antenore commented on #916
I cannot reproduce any clipboard issues unlucky :-\

I actually work on FreeBSD 10.3, Fedora 23, Arch Linux and Ubuntu 16.04.

There must be something that "steal" your clipboard content or the clipboard manager used by your distro that doesn't detect the call remmina does to the clipboard (through GDK).

May be unrelated but are you using wayland or X?
If you are using wayland, do you mind trying

[2016-06-29 20:21] yuriw commented on #916
i am using x11vnc
Pls let me know how to test that "steal" issue.  I'd be happy to find a root for this issue as it annoys many people :/

[2016-06-29 20:23] abeidson commented on #916
Antenore,

 I am running the same version of xFreeRDP on Fedora 24 and no TeamViewer
running either.

After running it in a Terminal I did find this

(remmina:12326): Gdk-CRITICAL **: gdk_window_thaw_toplevel_updates:
assertion 'window->update_and_descendants_freeze_count > 0' failed
Gtk-Message: GtkDialog mapped without a transient parent. This is
discouraged.
[13:20:03:598] [12326:12330] [INFO][

[2016-06-29 20:26] antenore commented on #916
@abeidson thx , nothing (so) bad there.
@yuriw I'll test with VNC ASAP, I thought you had the issue with RDP :-P

[2016-06-29 20:28] yuriw commented on #916
and I see:

  yuriw@yuriw-RH ~/sources/ceph [13:25:51]>
(remmina:8221): Gtk-WARNING **: gtk_menu_attach_to_widget(): menu already attached to GtkMenuItem
Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.
[13:26:04:996] [8221:8232] [INFO][com.freerdp.client.common.cmdline] - loading channel cliprdr

I run both :)

[2016-06-29 20:28] antenore commented on #916
Meanwhile Giovanni is saying to check which is your running clipboard manager and try another one.

I'm using gpaste and I don't have these kind of issues.

*Careful* don't install and run 2 different clipboard managers at the same time.

[2016-06-29 20:30] yuriw commented on #916
@abeidson unclaer on gpaste, pls elaborate

[2016-06-29 20:33] abeidson commented on #916
Looks like Fedora uses Parcellite for the clipboard manager. Will give gpaste a try.

[2016-06-29 20:51] waynewinchjr commented on #914
Why @antenore, you are quite welcome!  I did not install the koji packages directly, just those I found on the Fedora Package DB.

I'd like to personally thank you and other developers, testers, documentarians, etc., for the tireless and sometimes thankless work you do to bring FreeRDP and Remmina to the world.  These tools truly are best-of-breed and open to boot.  Bravo!

I've included a shout o

[2016-06-29 20:56] antenore commented on #914
Thanks :-)

[2016-06-29 21:03] Hubbitus commented on #914
I'm very sorry for the late reply. Does this issue still happened for you in Fedora 24?

[2016-06-29 22:00] coreburner commented on #855
Had the same issue going from Ubuntu 16..04 to a server 2008r2 box. I went to the ~/.freerdp directory and deleted everything in the known_host file. works fine now.

[2016-06-29 22:37] yuriw commented on #916
@abeidson how can I check "check which is your running clipboard manager" ?
I'd install gpaste and see if that helps.

[2016-06-29 22:47] abeidson commented on #916
@yuriw I found it in some documentation for Fedora.. You can also go to distrowatch.com and find the version of Linux your running, there is a link for full package list to show what is installed by default.

Though after installing Gpaste I am still not able to copy/paste. Parcellite is no longer running on my system. Still trying to determine if another clipboard manager may be running.

[2016-06-30 00:09] yuriw commented on #916
@abeidson tried `diodon`, works fine between ubuntu-host<=>ubuntu-guest and does not work for ubuntu-host<=>winodws10-guest

[2016-06-30 11:38] ag108 commented on #911
Yes, there is a problem connecting to the vnc for kvm on FreeBSD 11. When I close connection remmina are crached (closed all established connections)...  I have this:

`(gdb) run
Starting program: /usr/local/bin/remmina
[New LWP 101125]
[New Thread 818816000 (LWP 101125/remmina)]

(remmina:13521): Gtk-WARNING **: gtk_menu_attach_to_widget(): menu already attached to GtkMenuItem
[New Thread 821a55d

[2016-06-30 11:45] ag108 commented on #911
Some time remmina crashed when I try connect to kvm...

[2016-07-01 09:34] kvaps commented on #900
Hi. Still it seems that it is the Keepass bug.
Via [remote-viewer](https://virt-manager.org/) ([spice](http://www.spice-space.org/) protocol) same problem, with similar behavior:

#### SPICE
* Copy from Keepass to remote-viewer: **not work**
* Copy from remote-viewer to Keepass: **work**

[2016-07-01 12:18] antenore commented on #900
Yes, I can systematically reproduce it as well.
By me it's keepass issue. Well for what I understand it's somehow a feature, I think they try to avoid that the password stay in the clipboard.
I really don't know how to help. Please push with them to have an answer.

[2016-07-01 13:15] CS-JS opened #917 "Make remmina use freerdp nightly builds"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Kubuntu 16.04
* Remmina version (remmina --version): remmina - Version 1.2.0-rcgit.14 (git n/a)
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Win7, 2008
* Connecting via (RD

[2016-07-01 13:26] giox069 commented on #917
As I can see from the remmina version, it seems you are using the prepackaged version in the "remmina-next" PPA.
One possible solution could be building a different PPA which depends on freerdp nightly builds.
But burrently we are unable to do what you require both for lack of time and very low knowledge of the PPA/deb packaging process.
If you are able to do something and contribute to implement

[2016-07-01 13:27] antenore commented on #917
@giox069 :-) :+1:

[2016-07-01 15:06] kvaps commented on #900
I wrote a post in the Keepass tracker about my research.

But there is something no move :(
Apparently rescue of drowning, the case of drowning. (I'm talk about linux-users)

No, this problem certainly is not here, the text is not copied, even out of the window "Save as ..."
While secure copying of username or password with clipboard flushing by timeout is working properly.

[2016-07-01 16:03] antenore commented on #900
I've also provided my feedback... Let's see

[2016-07-01 17:44] waynewinchjr commented on #914
Sorry, @Hubbitus, for the AFK.  Yes, this particular issue happens in F24.  The core issue of Remmina appearing to hang on SSH (which seems to perhaps be a VTE issue as Wireshark shows the SSH connection completing successful, AFAICT), I believe, is fixed in the FC25 (Rawhide) version of Remmina and the Remmina RDP plugin.

When performing my kludgy workaround above with the Rawhide Remmina, the l

[2016-07-01 21:00] antenore commented on #900
As for last comments at [[bugs:#1530]](https://sourceforge.net/p/keepass/bugs/1530/) there is not a feasable solution.

I keep this opened for reference.

[2016-07-02 12:49] ensisnoctis commented on #903
It installs fine now :)
It's a shame I was mistaken Remmina is an RDP server. I need to connect TO Ubuntu, not FROM it ;) Thanks for fixing this package for future generations, though!

[2016-07-02 12:51] #903 closed

[2016-07-04 04:11] rahulkane opened #918 "Connect windows PC using windows PC name in Linux Mint 18"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Linux Mint 18
* Remmina version (remmina --version): latest
* Desktop environment (GNOME, Unity, KDE, ..): Mate or Cinnamon
* Connecting to (OS and version): Windows 10 Pro
* Connecting via (RDP, VNC, ...): RDP
*

[2016-07-04 04:31] box293 commented on #918
Can your Linux Mint machine resolve the PC name?
[code]
If it doesn't then you'll need to add it to your DNS server.

[2016-07-04 08:40] antenore commented on #918
Hi @rahulkane,

This is not a remmina bug.

You can get more support on our [Remmina G+ community](https://plus.google.com/communities/106276095923371962010) or through some of the following generic communities (these are only some examples I know and not recommendations)

* Reddit

https://www.reddit.com/r/linuxquestions
https://www.reddit.com/r/linux4noobs

* Stack Exchange

http://serverfault.c

[2016-07-04 08:40] #918 closed

[2016-07-06 21:27] slatorre opened #919 "FIDO U2F Security Key to create SSH Tunnel for RDP"
Is this a possible feature request to add the FIDO U2F Security Key as an SSH Option to create a SSH Tunnel so the remote device can be accessed using RDP?

FIDO U2F Security Key
https://www.yubico.com/products/yubikey-hardware/fido-u2f-security-key/

Thanks!

[2016-07-06 22:15] antenore commented on #237
@e7k8v12 this is look more like a freerdp problem, can you please cross post the question to them as well?

Thanks in advance!!!

[2016-07-07 08:42] sxc731 commented on #556
**First off, thank you so much for an amazing piece of software!** (and apologies for posting on a closed bug but maybe this helps someone else or even narrowing down the bug).

In my case, the "Always show tabs" option is what broke clipboard sync.  I ticked it back on and everything is honky-dory again!

Version info: "about" says 1.1.2; apt says 1.1.1-ppa1+484+201508180831~ubuntu14.04.1.  This

[2016-07-07 12:29] cmcanulty commented on #556
nice, unfortunately didn't do a thing to fix it for me

[2016-07-07 18:10] zuriy opened #920 "View bug"
I'm use 1.2.0-rcgit.14 (git n/a) and ubuntu 16.04(x86)  FreeRDP version 2.0.0-dev (git n/a)

When i'm working on windows 2008 r2  on RDP I have visualuzation problem:
http://storage1.static.itmages.com/i/16/0707/h_1467914793_1005195_25b72a7ef8.png
This is not very big problem, but when insert end line. On video
https://yadi.sk/i/vLEI6mZEt6apw
and
https://yadi.sk/i/Ys5ROpxXt6aqA
When I connect to t

[2016-07-08 01:34] RangerGH commented on #235
I'm adding to this as I'm running 1.2.0-0.8.git.b3237e8.fc23 on Fedora 23.  I created an ssh connection to myserver which uses port 2222 and an identity file which is setup in my ssh config file but if I do not enter the server as myserver:2222 in Remmina it will not connect.  It appears it's not using the ssh config file.  I can connect via command line ssh just fine.

I found Remmina while looki

[2016-07-08 10:42] blahule commented on #747
Hello, I can't test it now, because I don't have computer with linux here.

[2016-07-12 10:16] dimonf commented on #556
ubuntu 16.04 / remmina 1.2.0-rcgit.14 (git n/a):

no clipboard sync. neither of the above methods works.

[2016-07-12 16:51] yanickrochon commented on #556
Ubuntu 16.04 / Remmina 1.1.2 (APT install) does not work either. No solutions were able to solve it. This issue is closed, but the problem is still occurring. If the fix is confirmed, why isn't it pushed to the repositories? This is not a trivial issue....

[2016-07-12 17:37] sxc731 commented on #556
Perhaps a couple more things in addition to my above post might help it work?

1. Ensure the 'Grab all keyboard events' option is enabled in the toolbar (if the toolbar is hidden, make it appear with right-CTRL+T).  I think this is a per-session setting so if you have several open, you may need to enable this for each.
2. After you have "Always show tabs" (per previous comment) and "grab all keybo

[2016-07-12 17:48] yanickrochon commented on #556
@sxc731 doesn't work for me.

[2016-07-12 17:54] giox069 commented on #556
@yanickrochon why remmina 1.1.2 ? Have you tried the current version 1.2.X of remmina ?
Follow the instruction on the [remmina wiki main page](https://github.com/FreeRDP/Remmina/wiki) to install it from the ubuntu's PPA.

[2016-07-12 18:00] cmcanulty commented on #556
that worked for me from my ubuntu client  to a windows server but not ubuntu to ubuntu. However thank you so much for the toolbar hint, I thought it was gone forever. I still have no main toolbar in the remmina interface but now do in the remote  connections. I absolutely hate the disappearance of toolbars etc in the "modern" interfaces. I am running 1.2.0-rcgit.14 (git n/a). Is there a way to get

[2016-07-12 18:13] sxc731 commented on #556
@cmcanulty: Main menu -> View -> Toolbar ?  Also the toolbar on the connections window can be controlled from Edit -> Preferences -> Options ("Hide toolbar in the tabbed interface").  I'm still on 1.1.2 so YMMV ;-)

[2016-07-12 18:17] yanickrochon commented on #556
@giox069 this is from Ubuntu MATE's official repository (v.1.1.2), from a fresh install of 16.04. If the repository is outdated, my point still stands; why wasn't the official repository updated?

[2016-07-12 18:21] cmcanulty commented on #556
the new version I have only has a top panel with a + sign for adding a new connection , the quick connect box, and a three line thing on the right you can click to reach options. No main menu, that is what I want back. I can get the other toolbar from a remote connection with the rt ctrl+T but no toolbar before I open a connection

[2016-07-12 18:24] giox069 commented on #556
@yanickrochon: remmina 1.2 depends on FreeRDP's libfreerdp 2.0, which cannot be included in current standard distributions because it's considered to be unstable by the developer.  We can't do anything for this. And this is because we created the PPA for remmina 1.2 and freerdp 2.0.

[2016-07-12 18:30] giox069 commented on #556
@cmcanulty: the menu is the menu on the right: https://github.com/FreeRDP/Remmina/pull/875

https://plus.google.com/communities/106276095923371962010

![selezione_012](https://cloud.githubusercontent.com/assets/5477803/16778699/7157439a-486f-11e6-967b-23841d1139a3.png)

[2016-07-12 19:17] dimonf commented on #556
Didn't help. I connect from Ubuntu 16.04 to Windows7 VM, both versions,
1.1.2 and 1.2 (version from PPA), lack clipboard sync. This problem was
unknown to me when before I upgraded from 14.04 to 16.04

Anyway, thank you for reply.

On 12 July 2016 at 20:38, sxc731 <notifications@github.com> wrote:

[2016-07-12 19:22] antenore commented on #556
@dimonf if you have both versions installed, it won't ever never work. Remove, plus purge the old remmina and freerdp packages, than be sure you don't have a team viewer instance running.

[2016-07-12 19:23] giox069 commented on #556
and don't forget to reboot the PC.

[2016-07-12 20:56] he-loop opened #921 "minimize button does not function well"
When in remote session in full-screen mode, using the minimize button of the Remmina toolbar seems to have no effect.

After pressing the button, if I immediately right-click, it produces some effect : the remote desktop window disappears showing the local desktop and its right-click menu.
That seems to indicate the window was already minimized and the screen did not refresh properly.

edit : This

[2016-07-13 08:10] MaFreiberger commented on #902
I have a similar problem on Kubuntu 16.04. The "Add" Button seems missing, but in fact it is just invisible because it has he same color then the remmina windows background ;-)

I  really got crazy while searching for a way to add connection till i checked screenshots from the Inet and just clicked in the same area where the "Add" Button should be. And voila, there it was :-)

[2016-07-13 08:16] MaFreiberger opened #922 "Only stored passwords when connecting via RD-Gateway"
Kubuntu 16.04
remmina 1.2.0-rcgit.14 (git n/a)
connecting to Windows PCs (W7, W10, Server 2012R2, Server 2008 R2) via RD-Gateway (SBS 2011 / Server 2008R2)

Till the actual 1.2 version it was only possible to connect via a dedicated ssh-Gateway into our LAN. Now remmina supports RD-Gateway and it seems to work after you got tested different authentication protocolls.

BUT
connecting via RD-Gateway

[2016-07-13 09:18] MaFreiberger opened #923 "Sudden crashes of RDP remote windows"
Kubuntu 16.04
remmina 1.2.0-rcgit.14 (git n/a)
connecting to Windows PCs (W7, W10, Server 2012R2, Server 2008 R2) via RD-Gateway (SBS 2011 / Server 2008R2)
--------------

Sudden crashes of RDP remote windows mostly when multiple RDP connections are used.

Seems to happen with connections over SSH as also over RD-Gateway.

I will post the terminal output of the crashes and update this ticket with

[2016-07-13 09:49] antenore commented on #923
Thanks for this report.

Can you provide a gdb back trace (with debug symbols)?

[2016-07-13 09:53] antenore commented on #921
I also notified some weird behaviour with that control in the past, but I never investigate it further.

Before I take a look, @giox069 do you know why is like this?

[2016-07-13 09:56] antenore commented on #920
Can you please test using xfreerdp from the command line?

Do you have the same problem?

[2016-07-13 10:02] zuriy commented on #920
Yes. I have. --С уважением Задачин ЮрийОтдел разработки дистрибуторских решенийКомпания "Украинские интеллектуальные технологии"www.uit.kiev.uayuriy.b.z@uit.kiev.uaskype: yuriy.b.z   13.07.2016, 12:56, "Antenore Gatta" <notifications@github.com>:Can you please test using xfreerdp from the command line?Do you have the same problem?—You are receiving this because you authored the thread.Reply to thi

[2016-07-13 10:27] MaFreiberger commented on #923
@antenore  I would like to help you. Just tell me exactly how to do this and i give you tons of logs. I really work massively via RDP the whole day and i would like to support you as much as i can.  Just tell how to create those logs. Those crashes really goes on my nerves. It seems they have increaced since i changed the security to "Aushandeln" instead of "RDP". Which was something i need to do

[2016-07-13 10:31] MaFreiberger opened #924 "Invisible Add-Button due to color"
Kubuntu 16.04
remmina 1.2.0-rcgit.14 (git n/a)

![remmina-no-add-button](https://cloud.githubusercontent.com/assets/20354079/16800468/c0c382b4-48f5-11e6-9602-5eabe13ebd3c.png)

![Uploading Remmina-No-Add-Button.png…]()

[2016-07-13 11:25] MaFreiberger commented on #923
did you mean this?

[New Thread 0x7fffb9d66700 (LWP 5199)]
[New Thread 0x7fffaf7fd700 (LWP 5200)]
[New Thread 0x7fffaeffc700 (LWP 5201)]
[New Thread 0x7fffaa7fa700 (LWP 5202)]
[12:58:48:882] [5155:5200] [INFO][com.freerdp.channels.rdpsnd.client] - Loaded pulse backend for rdpsnd
[New Thread 0x7fffa9ff9700 (LWP 5203)]
[Thread 0x7fffb9565700 (LWP 5196) exited]
[13:19:28:621] [5155:5197] [ERROR][com.

[2016-07-13 12:48] antenore commented on #923
Execute remmina from the command line with gdb

[code]

As soon as you have a segmentation fault type "bt" and post here the result.

If executing gdb it'll advice to install a certain number of * debug * packages do it (mainly gtk, glib, freerdp and remmna symbols)

I suspect you have a mix of old and new freerdp and remmina packages, can you do a purge and reinstall only the PPA versions?

[2016-07-13 12:52] antenore commented on #920
:-( so this is a FreeRDP issue and I cannot help you.

Please open a new issue here  https://github.com/FreeRDP/FreeRDP/issues reference this (remmina) issue, so that thgey have a bit more background.

I'll close this as "out of scope"

Spasibo.

[2016-07-13 12:52] #920 closed

[2016-07-13 13:01] giox069 commented on #920
Plase note: the FREERDP package contained in our PPA is a bit outdated if compared with the latest version of FreeRDP. The FreeRDP team provides more updated .deb packages fro ubuntu.

[2016-07-13 13:21] zuriy commented on #920
Thanks. How can I check my version?
➜  ~ xfreerdp --version
This is FreeRDP version 2.0.0-dev (git n/a)
➜  bin ls xfreerdp --format=long
-rwxr-xr-x 1 root root 5640 Июн 20 11:49 xfreerdp

[2016-07-13 13:25] giox069 commented on #920
this is fery difficult, beacuse all are reporting 2.0.0.
The correct thing to do is to uninstall all freerdp and remmina packages, remove the PPA and then install freerdp ones. But... It's a bit complex to explain in detail.

[2016-07-13 13:28] antenore commented on #923
I forgot (thanks @giox069 ) to tell you to type "run" just after the execution of "gdb remmina"

[2016-07-13 13:38] Vladimir-csp commented on #259
I have similar problem with freerdp versions:
1.1.0~git20140921.1.440916e+dfsg1-4
2.0.0~dev~git20160331
And in remmina too.
xfreerdp with slave session hangs when remote administration ends.
xfreerdp with master session may hang when RA starts, and always hangs when RA ends.

This is the output of xfreerdp with /log-level:trace from connected to master session after I press ctrl+tab (to end remote

[2016-07-13 14:09] antenore commented on #259
This is quite interesting, can you duplicate this report to the FreeRDP project?

https://github.com/FreeRDP/FreeRDP/issues/new

Thanks in advance

[2016-07-13 15:26] MaFreiberger commented on #923
ok, from 2 windows now 2 have closed sudenly. It seems to be no "crash" at all, even this makes it not better for the user :-(

chris@mainwork ~> gdb remmina
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.04) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
T

[2016-07-13 15:32] antenore commented on #923
In fact there is no crash at all. The remmina window is hidden somewhere.

On the other side there are some bad/strange freerdp errors.

Can you close Remmina and test the connection using the command xfreerdp ?

[2016-07-13 17:28] karlsebal opened #925 "windows key always captured"
Thank you for Remmina. I am on an ubuntu 16.04 running Remmina 1.2.0-rcgit.14 (git n/a) installed via ppa. I have Unity installed but am using i3. I am connecting to a windows7 virtual machine.

The windows-key is always captured no matter if capturing is on or off (toggling by strg_r)

[2016-07-13 17:30] karlsebal opened #926 "main window won't hide in i3"
Thank you for Remmina. I am on an ubuntu 16.04 running Remmina 1.2.0-rcgit.14 (git n/a) installed via ppa. I have Unity installed but am using i3.

It is not possible to close the main window. In the tray I only can "show main window" but not hide it. In the Menu there is no such action as well. Since there are no window decorations there is no possibility to hide the main window.

[2016-07-13 19:39] antenore commented on #926
If you are using i3 you should close the main remmina window with your i3 shortcut, for me it's mod4+c

[2016-07-13 19:42] antenore commented on #925
That happens also to me and it's normal.

Every time I'm in the Windows window and I switch to another i3 workspace,  I use Mod4+number , Windows steal the windows key and you hand up with the Start Menu opened.

You can:

1) Change or Mod key in i3
or
2) Change the windows key on window.

[2016-07-13 19:42] #925 closed

[2016-07-13 19:45] antenore commented on #924
This is a theme issue. You should ask to the theme maintainer to add the icon you need, or you can modify it by hand.

See #902 for reference on how to work around it.

Closed as duplicated of #902

[2016-07-13 19:46] #924 closed

[2016-07-13 20:38] karlsebal commented on #926
if you are referring to the shortcut "close window" defaulting to Shift+$mod+q then remmina will close not only the main window.

[2016-07-13 20:41] antenore commented on #926
c , not q , q is used to quit i3, not?

[code]

[2016-07-13 20:49] antenore commented on #926
Yes, I confirm

1) I start Remmina
2) I focus the Remmina file editor (the Remmina main window)
3) I hit Mod4+Shift+c
4) Remmina is still running and I can see the tray icon

Now, the issue, for me, it's that I don't have setup a shortcut to (re)open Remmina

5) I execute remmina (that is already running) and the remmina main window show up again.

[2016-07-13 20:50] antenore commented on #926
I'll keep this opened for now. Let me know.

[2016-07-13 21:22] karlsebal commented on #926
This behaviour is true for 1.1.2 where Shift+$mod+q (default) will close the main window as well as the remmina-shortcut Ctrl-X. But this is gone in 1.2 where is no menu bar but a button and it says "quit" not close and shortcut is Ctrl-Q.

[2016-07-13 21:25] antenore commented on #926
[code]
I think I know what I'm testing :-) don't you?

[2016-07-13 21:29] karlsebal commented on #926
What is the line in i3-config? Mine says

`bindcode $mod+Shift+24 kill`

as told in the i3-doku. Am I missing something? What is happening when you hit Ctrl-q? Are there any differences with your version and the ppa?

[2016-07-13 21:32] antenore commented on #926
Bingo!

I think that  **bindcode $mod+Shift+24 kill** cannot work at all

Mine is https://github.com/antenore/dotfiles/blob/master/i3/.i3/config#L29

I was answering before your reply, here after the original message

I'd like to help but I don't get where is the issue.

I'm a long time i3 and dwm user on Fedora, FreeBSD, Arch Linux and Ubuntu, but I really cannot reproduce your issue.

Are you su

[2016-07-13 21:35] karlsebal commented on #926
`28 # kill focused window`
`29 bindsym Mod4+Shift+c kill`

[2016-07-13 21:45] karlsebal commented on #926
I did not purge but after the dist-upgrade running in background finnished I now have the expected behavior: ctrl-q will quit, shift+$mod+q will close only main window. It was a pretty large upgrade and I cannot imagine what should have fixed that but, well, ..

I have a second machine I had this issue some hours ago if you are interested I can have a closer look at that but for me the issue is cl

[2016-07-13 21:47] antenore commented on #926
Cool! :-)

I close this, but, for reference, if you find anything useful just add comments here.

Thanks!

[2016-07-13 21:47] #926 closed

[2016-07-14 07:30] dimonf commented on #556
Doesn't seem working. I purged all dependencies before fresh installation
from ppa with no improvement.

On 12 July 2016 at 22:22, Antenore Gatta <notifications@github.com> wrote:

[2016-07-14 23:40] cmcanulty commented on #556
it seems so weird that linux-windows clipboard works but linux-linux it doesn't

[2016-07-15 04:58] dimonf commented on #556
I connect from Ubuntu 16.04 to Windows7 via RDP. For Linux-Linux I don't
need RDP at all )

On 15 July 2016 at 02:40, cmcanulty <notifications@github.com> wrote:

[2016-07-15 13:37] rj11 opened #927 "how do I do dual-monitor RDP sessions?"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
- Client (OS name and version):
- Remmina version (remmina --version):
- Desktop environment (GNOME, Unity, KDE, ..):
- Connecting to (OS and version):
- Connecting via (RDP, VNC, ...):
- RDP issues only, freerdp version (xfreerdp --version):
#

[2016-07-15 13:43] antenore commented on #927
Is it the same question as #376

If it's that the case, it's hard to implement it and we are thinking about it.

[2016-07-17 07:08] nike38rus commented on #922
+1, we're experiencing the same problem with RD Gateway.
If password isn't stored, authentification window is popping out, but after I enter my credentials and click OK I get this error: "Authentication to RDP server <servername> failed. Check username, password and domain."

Console log:
[code]

Ubuntu 16.04, Remmina 1.2.0-rcgit.14 (git n/a)

[2016-07-17 07:46] giox069 opened #929 "RDP reconnect extra warning at the end"
When you end a RDP session which used the RDP reconnect mechanism, you can get a false error like "host not found".

[2016-07-17 08:10] #929 closed

[2016-07-19 04:22] jhaar commented on #923
Hi there

I've had a similar issue in remmina for literally years where I could have a dozen SSH sessions running and one RDP session, and then suddenly find myself unable to get out of the current window (which could be any of them). As a gnome user I also couldn't "swoop" out to get to another virtual desktop, etc. It's a terrible bug because there's no getting out of it - you're stuck. The only

[2016-07-19 07:22] antenore commented on #923
Thanks @jhaar this is indeed useful.

@giox069 as just pushed a couple of fixes that may help. On the other side, if it happens also with xfreerdp (and this is the really good piece of information), it's probably a libfreerdp library issue.

Can you guys search and eventually open a ne ticket to the FreeRDP project?

https://github.com/FreeRDP/FreeRDP/issues

Thanks in advance

[2016-07-19 13:44] cpence opened #930 "Autostart file still created when tray icon disabled"
* Remmina 1.2.0-rcgit.13 (git n/a), Arch Linux
* DE: XFCE

Even if the tray icon is entirely disabled (Preferences -> Applet -> Disable Tray Icon), the "remmina-applet.desktop" autostart file is still created every time the application is started. If the user disabled the icon, they don't need this autostart.

Fix: Add a check for `reminna_pref.disable_tray_icon` to (this line)[https://github.com/

[2016-07-20 22:46] antenore commented on #930
Thanks for the report.

I'm not sure I understood exactly what you mean, let me try to resume.

In the remmina preferences we have 2 settings, one to enable/disable the remmina system tray icon and one to enable/disable the remmina auto start at user logon.

Disabling the remmina system tray icon but enabling the remmina auto start, it doesn't make sense, because remmina will be running but there'

[2016-07-21 09:41] christian-raedel opened #931 "Arch Linux: Unable to load RDP plugin"
* Client (OS name and version): **Arch Linux (x86_64) 4.6.4**
* Remmina version (remmina --version): **1.2.0-rcgit.14 (git 10f7f9f)**
* Desktop environment (GNOME, Unity, KDE, ..): **i3wm**
* Connecting to (OS and version): **Windows 10**
* Connecting via (RDP, VNC, ...): **RDP**
* RDP issues only, freerdp version (xfreerdp --version): **2.0.0-dev (git 50649ac)**

Hi,

since an update of the ```op

[2016-07-21 09:55] antenore commented on #931
Thanks for the report. I'll take a look at the make files.

[2016-07-21 19:25] antenore commented on #931
This is more a FreeRDP issue. Did you install the last available freerdp package? The git commit you are referring to is more than one month old.

I would remove/clean FreeRDP and reinstall it and remmina as well.

It could also a build issue, so you should ask the guys managing the FreeRDP AUR to update it.

[2016-07-25 12:51] LetArch opened #932 "Support rdesktop plugin"
Why don't have support rdesktop?
https://github.com/muflone/remmina-plugin-rdesktop
* Calculate Linux Desktop 15.17 MATE
* Remmina version (remmina --version): 1.2.0_rc3-r1
* MATE
* WinServer 2008
* Connecting via (RDP):
* RDP issues only, freerdp version (xfreerdp --version): 1.2.1-dev

[2016-07-25 14:03] thisSIDEofRANDOM opened #933 "RD Gateway Doesn't Support different username/password"
xfreerdp has support for different user/pass for rdgateway connections however there is no way in remmina to specify a different username/password at this time.

A field or even just a check box for a prompt for this would go a long ways.
`
Options:

[code]

`
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36327001-rd-gateway-do

[2016-07-26 12:56] markohrastovec opened #934 "Share folder date & time"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
- Client (OS name and version): Ubuntu 16.0.4.1
- Remmina version (remmina --version): 1.2.0-rcgit.14
- Desktop environment (GNOME, Unity, KDE, ..): Gnome
- Connecting to (OS and version): Windows 8
- Connecting via (RDP, VNC, ...): RDP
- RDP i

[2016-07-26 12:59] markohrastovec commented on #693
This problem occurs for me only if I have clipboard sync enabled. That is why I have it disabled all the time. The consequence is that I cannot copy between remote and local system.

[2016-07-26 19:43] pboserup opened #935 "Where is Remmina default quality setting for Quick Connect?"
* Fedora 23
* Remmina version (remmina --version): 1.2.0-rcgit.3
* Desktop environment (GNOME, Unity, KDE, ..): Gnome
* Connecting to (OS and version): Windows 7/2008/20012
* Connecting via (RDP, VNC, ...):  RDP
* RDP issues only, freerdp version (xfreerdp --version):

I have not been able to discover the default setting for remmina to set the quality.
I am always on an internal lan and need Best

[2016-07-27 14:39] TamiasSibiricus commented on #708
Is it any chance to see merge from branch issue-708_save-ssh-password to next soon? And update in PPA of course. Thanks.

[2016-07-27 21:54] zeronug opened #936 "SSH - Secure Shell Issue"
Fedora 24
Latest Remmina version.
GNOME
CentOS 7
SSH - Secure Shell

I setup a SSH connection, it connects, I enter my password.

On the Remmina terminal screen the cursor just flashes and doesn't allow me to do anything.  I know it's connecting because the server I'm trying to connect to sends me an email whenever someone connects.

Not sure what is happening.  But I don't have any access to the

[2016-07-28 07:40] ReddingZH commented on #873
I'm experiencing the same bug. Mostly Fullscreen opens on the left display. Is there any workaround we can use to make sure it opens on the desired display?

Client (OS name and version): Linux Mint 18 x64
Remmina version (remmina --version): 1.2.0-rcgit.14 (git n/a)
Desktop environment (GNOME, Unity, KDE, ..): Cinnamon
Connecting to (OS and version): Windows Server 2012 R2
Connecting via (RDP, VN

[2016-07-28 07:50] lnicola commented on #873
@ReddingZH Well, I tried a couple of things, but they either introduce a regression for tiling WM users or only work some of the time, depending on the window position when you click full-screen. I didn't try anything else since my last post on this thread.

[2016-07-28 08:54] psit opened #937 "Bring back adjustable Zoom/Aspect Ratio"
Hi there!

Old versions of Remmina allowed to set a variable zoom-factor and optionally fixed aspect ratios when zooming (scaling x-/y-axis independently or locked). This feature was extremely helpful when working via VNC on big screens or even dual/triple monitors (while e.g. using a small laptop screen).
Sometimes neither scale-to-fit, nor unscaled are viable options and "something in between" w

[2016-07-29 08:31] ringe opened #938 "Remmina is not aware of additional screen added"
I move the Remmina main window to the newly connected display on my laptop:
- I open an RDP connection and enable fullscreen.
- The fullscreen connection jumps back to the laptop's main display.

If I close Remmina and open it after the the new display is connected and then move the main window to the new dusplay:
- I open an RDP connection and enable fullscreen.
- The connection goes fullscreen o

[2016-07-29 09:13] ComputingFroggy opened #939 "Record Survey answer"
I am running Remmina on Ubuntu Gnome 16.04 (and also on Bodhi 3.2.1).
I am more than happy to send information to help you improve Remmina, but it's a pain to have to type in the name, email and desktop every day ... so much so, I have disabled the survey on my main computer (Bodhi) ! !
Why don't you record the information (adding a check box to allow to record the information or not) and display

[2016-08-02 08:33] piktor commented on #810
Any progress here? I have the same problem with connecting to the latest VMware Workstations 12 Player on my Ubuntu 16.04 LTS. Everything works with Vinagre, but I prefer Remmina. Thanks.

[2016-08-02 15:23] charlessmith499 opened #941 "Starting the Remmina connection from commandline in full screen"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
- Client (OS name and version):
- Remmina version (remmina --version):
- Desktop environment (GNOME, Unity, KDE, ..):
- Connecting to (OS and version):
- Connecting via (RDP, VNC, ...):
- RDP issues only, freerdp version (xfreerdp --version):

[2016-08-03 13:41] kevingarman opened #943 "Closing Main Window Kills all Others"
Hi,

First this app is awesome...THANKS!

I'm not sure if this is a bug or not but I find it annoying.  I have the tray icon starting at gnome startup.  The problem is if I open the remmina main window to manage connections and then close the main window, the entire app is kill.  Meaning...the tray icon goes away and if I had open connections they are closed.  Ideally, it seems like opening/closin

[2016-08-03 13:57] ComputingFroggy commented on #938
This is weird: I am also running Ubuntu Gnome 16.04 (although I've upgraded to the latest Gnome 3.20 version) and I don't have the same behaviour.

No matter what I do the full screen goes to the laptop screen, even if the external screen is already connected, set as primary screen and Remmina is started from that screen. I do get a Remmina session with the external screen resolution (I've chosen

[2016-08-03 16:48] ringe commented on #938
Did you shut down Remmina? I ask because it took me a while to discover that remmina sits in the system tray after closing it with the cross in the corner.

Try killing all remmina processes and open it again while the external display is plugged in.

Den 3. august 2016 16.27.16 CEST, skrev ComputingFroggy <notifications@github.com>:

--
Sent from my Android device with K-9 Mail. Please excuse my

[2016-08-03 19:51] antenore commented on #932
Thanks for asking.

The main reason is that the rdesktop plugin uses gtksocket that it'll be deprecated by the Gtk team very soon.

Than we already have enough job working on FreeRDP, VNC and SSH, to add another plugin, we need more supporters (read developers)

[2016-08-03 19:54] antenore commented on #934
@giox069 can you confirm? I cannot reproduce it.

I think we already had a report like this.

[2016-08-03 19:55] antenore commented on #936
It's surely due to the vte library you are using. Check which version you have installed and which version are available and try to switch between them and let me know.

[2016-08-03 19:59] antenore commented on #935
I'm afraid it's defined only at compile time. So we need to enhance Remmina to a general option for this.

It's not hard to implement it, I won't be able to do it very soon.

[2016-08-03 20:00] antenore commented on #933
Let us check internally how much work it is and when we will be able to do it.

FYI @giox069

[2016-08-03 20:02] antenore commented on #930
@cpence any news? Is my question not clear?

[2016-08-03 20:07] cpence commented on #930
Sorry about that! Have been out of town.

No, I should have been clearer, I'm sorry for the confusion. Let me explain my concern a little differently. Right now, Remmina does autostart in the following way:

-   Always create the `~/.config/autostart/remmina-applet.desktop` autostart file.
-   If autostart is disabled, set "Disabled" property in the desktop file so that Remmina won't start.

This

[2016-08-03 20:08] antenore commented on #919
If it exists any SSH implementation using U2F through libssh, it should be possible.

Now, personally, I don't use U2F, so I cannot even test it.

I think you should either try to implement it yourself, find someone that can do it for you or if you are a FIDO customer asking them support.

I leave this opened just in case someone else want help out.

[2016-08-03 20:11] antenore commented on #943
Thanks for the report. We already have other issues opened about this issue.

We'll discuss it between us and don't be afraid to bump this from time to time.

[2016-08-03 20:32] antenore commented on #930
Thanks a lot and don't worry, I was away as well and I'm trying to clean my todo list.

Now it's perfectly clear. I'll take a look.

[2016-08-04 01:49] pboserup commented on #935
Thanks for your reply.

That would be a terrific enhancement.

pb

On Wed, Aug 3, 2016 at 3:59 PM, Antenore Gatta <notifications@github.com>
wrote:

[2016-08-04 07:15] giox069 commented on #934
I tested the latest remmina/freerdp with windows 10, but I cannot reproduce.
To save the file at the linux side I did "touch filename.txt", and under windows I can see the correct date/time.
Could you please check the timezone settings of both client and server ? Maybe they are in different timezones. I did not test with PCs in different timezones.

[2016-08-04 07:17] giox069 commented on #933
I think somewhere we already have another open issue for this ehnancement...

[2016-08-04 07:17] giox069 commented on #933
... but we do not have a RD gateway to test on :(

[2016-08-04 08:16] markohrastovec commented on #934
I have tried it with another Windows computer and the result is the same. However, the error is not what you tested. I have a Linux computer with installed Remmina. Then I connect to Windows host. I have share folder enabled in Remmina and I save a file from Windows to Linux disk via shared folder. In Linux I see the wrong date.

I have tried with Windows, which have different timezone and with on

[2016-08-04 08:48] giox069 commented on #934
Unfortunately I can't reproduce it. Remoting of folders is mostly managed by libfreerdp, can you help us doing some test with
[code]
How did you obtain remmina and freerdp ? Via our PPA or using the compilation instructions ?

[2016-08-04 13:00] markohrastovec commented on #934
If I use xfreerdp I get the same error. I got Remmina from Remmina PPA.

[2016-08-04 15:28] ComputingFroggy commented on #938
Yes, I did shut down Remmina,as I can see it in the system tray.
And the external monitor is always connected !

[2016-08-04 18:48] thisSIDEofRANDOM commented on #933
I would love to help here, but unfortunately this is at my place of work and the RD gateway is a proprietary vendor appliance. I can't offer out a testing environment for this enhancement. :(

[2016-08-04 22:49] antenore commented on #911
Well... I finally decided to use a FreeBSD vanilla and Remmina works fine, so I definitively think is a PC-BSD issue.

I won't opened an bug to them because they are surely busy with more important things right now. In case some needs support we can reopen this and re-discus.

[2016-08-04 22:49] #911 closed

[2016-08-04 22:49] antenore commented on #876
Fixed moving back to vanilla FreeBSD. It's something with PC-BSD

[2016-08-04 22:49] #876 closed

[2016-08-04 22:51] antenore commented on #431
Any news about this? It's quite old so I'm closing it.

Just reopen it if you still have the issue (I'm just cleaning up issues)

[2016-08-04 22:51] #431 closed

[2016-08-05 23:00] ShamimIslam opened #944 "Systray does not show the remmina applet icon in Plasma 5.7 - therefore no connect menu"
Please give us some details about the systems you are using:
* Client (OS name and version): Gnu/Linux 4.6.4-301.fc24.x86_64
* Remmina version (remmina --version): 1.2.0 (remmina-1.2.0-0.13.rcgit.7.fc24.src.rpm)
* Desktop environment (GNOME, Unity, KDE, ..): 4.14.10-13 (KDE) Plasma (5.7.3-1)
* Connecting to (OS and version): Windows 7
* Connecting via (RDP, VNC, ...): VNC
* RDP issues only, freerd

[2016-08-06 11:53] markohrastovec commented on #934
I have tried it on another computer with Ubuntu 16.04. At first there was default Remmina installed which comes with Ubuntu. I think it was 1.1.2. With that version it works just fine. Then I added PPA according to instructions from https://github.com/FreeRDP/Remmina/wiki:

sudo apt-add-repository ppa:remmina-ppa-team/remmina-next
sudo apt-get update
sudo apt-get install remmina remmina-plugin-rdp

[2016-08-06 12:02] giox069 commented on #934
@markohrastovec: we are trying to update the freerdp packages included in the remmina-next PPA. They are currently a bit outdated (end of March). But it will take us some day. After the update, you could re-test it.
For the clipboard problems: have you opened another issue ?

[2016-08-06 12:17] markohrastovec commented on #934
OK. I will test, when nre freerdp will be available. Shall I download newer freerdp myself from some other source?

Regarding clipboard. I have reported it: https://github.com/FreeRDP/Remmina/issues/693

[2016-08-06 12:23] giox069 commented on #934
Mixing our remmina packages with FreeRDP packages from other sources is not a good idea.
As an alternative, if you can, you can remove the packages installed from the PPA and compile both Remmina and FreeRDP from their sources. Instructions are on our wiki: https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-16.04

[2016-08-06 17:00] ComputingFroggy commented on #938
Just for information, I have no problems when using 2 screens on my desktop PC (still running Ubuntu Gnome 16.04 and latest Remmina).
So this is a problem related to the Thinkpad T420 ... still any indications on how to solve this would be helpful as I am using the laptop on a regular basis.

[2016-08-06 17:03] ComputingFroggy commented on #754
The bug is related to Bodhi. On a fresh Ubuntu Gnome 16.04, I do not have this bug any more.
Thanks for your help anyway.

[2016-08-06 17:10] ComputingFroggy commented on #575
Just for information: if the remote client is Linux, it seems to work. I've connected to a remote client on Ubuntu (standard with Unity) and I could see both screens, like a single giant screen.
On a Windows remote client I can only see the main screen.

[2016-08-07 12:12] ComputingFroggy commented on #938
I have found the culprit: it is a Gnome extension, Clipboard indicator.
I have logged a bug : https://github.com/Tudmotu/gnome-shell-extension-clipboard-indicator/issues/44.

a strange bug: when using Remmina (RDP client) to connect to a terminal server from a secondary monitor, the full screen session is opened on the primary monitor (instead of the secondary).
If I disable Clipboard indicator ex

[2016-08-07 12:32] antenore commented on #938
I'm impressed! Well done!

[2016-08-07 13:39] Hubbitus commented on #914
As we always wait freerdp ABI stability I think we can't just build so new version for Fedora 24. Just because there no freeze and backward capability just not maintained. For the long time in the past I've maintain COPR repository https://copr.fedorainfracloud.org/coprs/hubbitus/remmina-next/ . Does it helpful for you?

[2016-08-08 01:32] box293 commented on #944
Can you check this issue to see if it's your problem:

https://github.com/FreeRDP/Remmina/issues/905

It confused me for a while, the icon is there it's just hard to see because of the colours.

[2016-08-08 06:15] ringe commented on #938
I don't have that extension. And this only happens if Remmina is open when I add a display.

Den 7. august 2016 14.12.03 CEST, skrev ComputingFroggy <notifications@github.com>:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-08-08 08:13] vampik commented on #809
I'm having the same issue. Fresh ArchLinux x86_64 install, remmina 1.2.0rcgit.14-1, freerdp 1.2.0_20160606-1.
RDP to Windows 7: clipboard works fine in any direction.
RDP to Windows XP: clipboard works only one-way. I can copy only from Linux to Windows. I can't copy from Windows to Linux.

I also have an ancient Xubuntu 13.04 with remmina 0.9.99.1 - here everything works fine.

[2016-08-08 08:29] ShamimIslam commented on #944
In KDE 4.14/Plasma 5.7 - I do not see an entry for Remmina at all in the
system tray - as an icon or an entry. There was a deprecation of a previous
method of attaching to the system tray. I don't recall the details. I just
remember that since I started using Fedora 24, I had this problem. On
Fedora 23, I used to see the Remmina icon and Remmina entry in the system
tray. I think Fedora 23 was a pr

[2016-08-08 08:58] antenore commented on #809
@vampik do you have the same issue with xfreerdp?

[2016-08-08 09:55] vampik commented on #809
xfreerdp works fine, I can copy a text in both directions. I have the issue with remmina only.

[2016-08-08 10:05] vampik commented on #809
A small clarification - when I try to copy a text from XP to Linux with remmina, it overwrites the old clipboard content in Linux with an empty string. I.e. it certainly tries to copy something but it fails.

[2016-08-08 10:19] HenryRc0 commented on #944
Same here on fully updated Fedora 24.
Starting Remmina doesn´t create an icon in the system tray.
An entry in the "system tray settings" is created and I can choose
between the display modes within the system tray (Auto, Hidden and Always Visible),
but whatever I choose there is no icon in the system tray.

[2016-08-08 12:05] antenore commented on #809
I don't have a windows XP anymore :-\

@giox069 If you can share an XP VM I can try to help out maybe, but I'm not really happy for trying to fix an issue with a product that is out of support since 8th April 2014.

[2016-08-08 12:27] antenore commented on #944
System tray is something we must address as soon as possible, unlucky we don't have too many ideas and options as system trays are less and less supported by "modern" desktop environments.

Soon, also in Gtk+, we won't have anymore support for system tray (as it is today).

The biggest mess is that between Gnome, KDE, QT, Unity there is nobody able to find a common implementation. Everybody keep g

[2016-08-08 14:44] ShamimIslam commented on #944
The system calls for the system tray have been updated. Shouldn't this be a change in the functions you are calling to reactivate the display of Remmina? If you can point me to the files where the calls are made for plasma, I can look for the replacement functions.

On August 8, 2016 8:27:34 AM EDT, Antenore Gatta <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Ple

[2016-08-08 15:05] antenore commented on #944
If you could help it'd be great, all the code of the system tray icon is in this file:

https://github.com/FreeRDP/Remmina/blob/next/remmina/src/remmina_icon.c

But we have only the appindicator and Gtk code.

[2016-08-08 17:12] ShamimIslam commented on #944
Which version of the development change is for Remmina?

http://blog.martin-graesslin.com/blog/2014/06/where-are-my-systray-icons/

There are a number of new libraries that need to be compiled in order to
work for Plasma 5.

On Mon, Aug 8, 2016 at 11:05 AM, Antenore Gatta <notifications@github.com>
wrote:

[2016-08-08 17:25] giox069 commented on #944
As I can see, Plasma 5 has removed the old, already deprecated by GTK3 "GtkStatusIcon" (I think it's xembed based). Remmina can work with libappindicator3, which is suppported by Plasma 5 according your blog post. But you should recompile remmina with libappindicator3 installed. Remmina should be able to find it automatically.

[2016-08-08 17:47] ShamimIslam commented on #944
Does Remmina use libappindicator3 as a shared library? Or a static library?

I already have the following installed from
libappindicator-gtk3-12.10.0-11.fc24.x86_64

usr/lib64/girepository-1.0/AppIndicator3-0.1.typelib
/usr/lib64/libappindicator3.so.1
/usr/lib64/libappindicator3.so.1.0.0
/usr/share/doc/libappindicator-gtk3
/usr/share/doc/libappindicator-gtk3/AUTHORS
/usr/share/doc/libappindicator-

[2016-08-08 18:01] giox069 commented on #944
Shared. You need the appropriate -devel packages (in Fedora 20 they were libappindicator-devel libappindicator-gtk3 libappindicator-gtk3-devel). And ensure that during the cmake phase there is no WITH_LIBAPPINDICATOR=no (or off) in the cmake commandline.
Take a look also at the old Fedora20 compilation guide: https://github.com/FreeRDP/Remmina/wiki/Compile-on-Fedora-20

[2016-08-08 19:18] ShamimIslam commented on #944
OK - I will test it out. If it works, will you be updating the src.rpm in
order to make futurte Remmina builds work for Fedora 24 for the Fedora 24
packages then?

On Mon, Aug 8, 2016 at 2:01 PM, Giovanni Panozzo <notifications@github.com>
wrote:

[2016-08-08 19:29] giox069 commented on #944
We are not the maintainer of the packages that you can find in various linux distributions (in this case Fedora). You should ask to the maintainer of the package.

[2016-08-08 19:53] antenore commented on #944
@hubbitus can you please check the fedora 24 packages?
Thanks Pavel

[2016-08-08 19:55] antenore commented on #914
@Hubbitus yes, it is, I've used it sometimes. We must update our wiki.

[2016-08-08 19:56] antenore commented on #944
While we are waiting the Pavel answer, test his COPR https://copr.fedorainfracloud.org/coprs/hubbitus/remmina-next/

[2016-08-08 20:21] ShamimIslam commented on #944
Ok - so COPR shows that the race condition on the Gnome Keyring has been
fixed. So that part now works - it correctly asks to open the keyring
BEFORE attempting to ask me for a password when a password has been saved.
This is a good thing. This is progress.

However, the system tray issue remains.

On Mon, Aug 8, 2016 at 3:56 PM, Antenore Gatta <notifications@github.com>
wrote:

[2016-08-08 20:26] antenore commented on #944
Please contact Pavel directhly, in COPR you should have his contact otherwise check in the AUTHORS file, he should be there as well (Hubbitus)

[2016-08-08 22:39] Hubbitus commented on #899
Hi @antenore. If I understand correctly you fix this issue? I do not see any linked commit to try backport it. Is fix simple to escalate?

[2016-08-08 22:41] antenore commented on #899
I did nothing, but it seems it works.

[2016-08-09 10:25] AdamFonagy opened #946 "Cannot connect after upgrading Ubuntu to 16.04"
After upgrading to Ubuntu 16.04 I cannot connect to the RDP server earlier I could.

In the terminal I get this message when I connect with Remmina:
Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.
[12:25:10:521] [16161:16204] [INFO][com.freerdp.client.common.cmdline] - loading channel cliprdr
[12:25:10:577] [16161:16204] [ERROR][com.freerdp.core] - freerdp_set_last_e

[2016-08-09 17:54] larchunix commented on #876
Good news !

[2016-08-10 07:42] giox069 commented on #934
The PPA has been updated. Could you do ``apt-get update && apt-get upgrade``, reboot and retest ?

[2016-08-10 15:15] antenore opened #951 "Synchronize wiki and remmina/docs file"
This is to complete the PR #945 so that wikis and doc are always in sync.

[2016-08-10 15:21] antenore opened #952 "Please add man pages for remmina."
Create the following man pages

* remmina
* remmina-PLUGINNAME

For each plugin we can have just a quick explanation of what it does at the moment and later add more information.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36821147-please-add-man-pages-for-remmina?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues

[2016-08-10 15:52] #809 closed

[2016-08-10 22:11] antenore commented on #873
Back to business.

This issue happens only on Gnome (or gnome based/forked, like cinnamon).

I've tried XFCE, LXDE, KDE, some different tiling WM, Lumina and Unity.
To me this sounds more a Gnome issue, so I'm going to drop the PR.

Anybody is willing to open a Gnome bug? I'll give all the needed support.

Thanks!

[2016-08-11 05:10] ryankpaul commented on #936
Debug looks like it is a switch passed to the command line for GSSAPI Auth?

Debug Window Output:
[SSH] ssh_config_parse_line: Unsupported option: GSSAPIAuthentication, line: 59

[SSH] ssh_config_parse_line: Unsupported option: ForwardX11Trusted, line: 63

[SSH] ssh_config_parse_line: Unsupported option: SendEnv, line: 65

[SSH] ssh_config_parse_line: Unsupported option: SendEnv, line: 66

[SSH] s

[2016-08-11 06:09] markohrastovec commented on #934
I just got a new computer. I installed ubuntu 16.04 and remmina from scratch and tried it. The problem still resists.

[2016-08-11 06:23] box293 opened #953 "SSH does not try IPv4 after IPv6 fails (when DNS has addresses for both)"
[code]

I've noticed an unusual behaviour which I can reproduce.

If Remmina cannot connect to the DNS destination using IPv6, it doesn't try IPv4.

I've been setting up some servers to do some application testing.
I already have entries in my DNS server for IPv4 and IPv6 for the new server.
[code]
After deploying the servers from a template, they initially have their IPv4 address defined and acti

[2016-08-11 06:46] antenore commented on #953
True, there is not a fallback mechanism at all in Remmina.

I'll investigate furthermore but I suspect that is a client name resolution issue on your mint.

[2016-08-11 07:14] antenore commented on #953
Remmina uses libssh, take a look at this thread:

https://red.libssh.org/issues/101

Which version of libssh do you have, I cannot find at http://distrowatch.com/table.php?distribution=mint&pkglist=true&version=17.3#pkglist (there is only libssh2)

I'm checking if it's solved in libssh 0.7 but I doubt.

[2016-08-11 07:27] box293 commented on #953
Yep that seems to be the issue I'm having.
[code]

It's not a major issue, once I activate the IPv6 address it works fine because it can connect. Just need to wait for it to be resolved in libssh.

Thanks for looking.

[2016-08-11 07:27] #953 closed

[2016-08-11 16:52] giox069 commented on #809
This issue has been automatically closed by a PR. Can anyone test the latest patch and see if it works ? Ubuntu's PPA user can just update the PPA package in the usual way ```apt-get update && apt-get upgrate```, reboot and retest.
If the issue persists after testing, please reopen this issue.
Thank you.

[2016-08-11 20:30] Hubbitus commented on #944
I'm very sorry for the late response.

@ShamimIslam, remmina already built with appindicator support in Fedora. Could you please test fresh versions from my copr repo?

[2016-08-11 20:31] Hubbitus commented on #944
And I also advise you test Fedora 25 versions from official repos too.

[2016-08-11 20:50] ShamimIslam commented on #944
I redownloaded from

[hubbitus-remmina-next]
name=Copr repo for remmina-next owned by hubbitus
baseurl=
https://copr-be.cloud.fedoraproject.org/results/hubbitus/remmina-next/fedora-$releasever-$basearch/
skip_if_unavailable=True
gpgcheck=1
gpgkey=
https://copr-be.cloud.fedoraproject.org/results/hubbitus/remmina-next/pubkey.gpg
enabled=1
enabled_metadata=1

Uninstalled and re-installed Remmina - no

[2016-08-11 20:56] Hubbitus commented on #944
Reboot is not required.
Just give a try:
[code]

[2016-08-12 05:53] ShamimIslam commented on #944
Tried it again your way.

Dependencies resolved.
Nothing to do.
Complete!

On Thu, Aug 11, 2016 at 4:56 PM, Pavel Alexeev aka Pahan-Hubbitus <
notifications@github.com> wrote:

[2016-08-12 08:05] Hubbitus commented on #944
What version of remmina do you have now installed?

[2016-08-12 09:10] Justinzobel opened #954 "Import Plugin Dialog"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Ubuntu 16.04
* Remmina version (remmina --version): 1.2
* Desktop environment (GNOME, Unity, KDE, ..): GNOME
* Connecting to (OS and version): N/A
* Connecting via (RDP, VNC, ...): N/A

When opening the import pl

[2016-08-12 09:14] Justinzobel opened #955 "[Feature Request] Collapse all Groups"
An option in the right click menu to collapse all groups, a keyboard option ie Ctrl - would also be great.

[2016-08-12 09:16] Justinzobel opened #956 "[Feature Request] Drag and Drop in/out of groups"
Drag and Drop in/out of groups.

[2016-08-12 09:27] antenore commented on #956
Honestly I was thinking to remove completely groups and introduce labels (like gmail labels to make it simple clear).

What do you think? If you like we can change the title and keep the thread.

[2016-08-12 09:29] antenore commented on #954
Found :

https://github.com/FreeRDP/Remmina/blob/d2f6ebe484a2caf997398c789e2b848c84e77f11/remmina/src/remmina_main.c#L835

Let's call it "Import" ?

[2016-08-12 09:35] Justinzobel commented on #954
Sounds good to me!

On Fri, 12 Aug 2016 at 18:59 Antenore Gatta <notifications@github.com>
wrote:

[2016-08-12 09:37] Justinzobel commented on #956
I like the idea of folder but tags could be helpful also.
I manage both internal servers and external clients so I have:

External
-Client 1
--Domain Controller
--Terminal Server
Internal
-Domain Controller
-File Server

This is my structure and it works well but tags could also be helpful for
searching perhaps.

On Fri, 12 Aug 2016 at 18:57 Antenore Gatta <notifications@github.com>
wrote:

[2016-08-12 10:02] antenore commented on #956
Yes, tags! Thank you for pointing out :-P

How I'd like to do will reassemble a lot to a folder view, with tags on the left, that you can turn on or off, and profiles on the main pane that you can view as list, details (table), grid, preview (tumbnail/screenshot of current VM).

I'll do a quick sketch later.

[2016-08-12 10:04] antenore commented on #954
Would you like to try it yourself (I can guide if you don't have git experience)?

[2016-08-12 10:09] Justinzobel commented on #956
Sounds interesting. Keen to see what the mockup looks like.

On Fri, 12 Aug 2016 at 19:32 Antenore Gatta <notifications@github.com>
wrote:

[2016-08-12 10:14] Justinzobel commented on #954
Done :D

[2016-08-12 10:27] facboy opened #958 "spice plugin missing on Ubuntu PPA"
I can't seem to find the spice plugin on the Ubuntu PPA, am I doing something wrong?

* Client (OS name and version): Ubuntu 16.0.4.1
* Remmina version (remmina --version): remmina - Version 1.2.0-rcgit.14 (git n/a)
* Desktop environment (GNOME, Unity, KDE, ..): MATE
* Connecting to (OS and version): CentOS 7.2
* Connecting via (RDP, VNC, ...): SPICE

[2016-08-12 11:50] #954 closed

[2016-08-12 11:50] antenore commented on #954
:-) thank you

[2016-08-12 11:54] antenore commented on #958
No, you are right, Matteo is working on it.

You can test it if you want (it's not official and will be removed as will be merge with the official PPA)

[code]

[2016-08-12 20:37] ShamimIslam commented on #944
remmina-1.2.0-0.19.rcgit.14.fc24.x86_64

On Fri, Aug 12, 2016 at 4:05 AM, Pavel Alexeev aka Pahan-Hubbitus <
notifications@github.com> wrote:

[2016-08-12 20:51] antenore commented on #939
Good idea.
It's not on our priority list now, but I'll definitively think about it.
I'm also considering to make it more lightweight.

Thanks!

[2016-08-12 20:52] antenore commented on #927
Duplicated of #376

[2016-08-12 21:21] giox069 opened #960 "Remmina can no longer detect bad RDP credentials"
After some updates in NTLM/NLA FreeRDP code (end of july 2016 ?), remmina is no longer able to detect when a RDP connection fails due to bad RDP credentials.
This happens because freerdp_get_last_error() can now can return STATUS_LOGON_FAILURE code too.

[2016-08-12 21:23] #960 closed

[2016-08-12 21:24] antenore commented on #960
:+1:

[2016-08-14 18:18] Hubbitus commented on #899
@RangerGH, which plugin you can't install? What version of remmina you are use and from what source? Did you try version from copr repo remmina-next?

[2016-08-14 19:03] Hubbitus commented on #944
@antenore, that version built with appindicator support enabled:
[code]
and according to log it was already found and used:
[code]

You may find full log at https://copr-be.cloud.fedoraproject.org/results/hubbitus/remmina-next/fedora-24-x86_64/00439062-remmina/build.log.gz

[2016-08-14 19:15] RangerGH commented on #899
Once I installed the newer remmina can't install any plugin because they are 1.13 versions so that's understandable.

As I recall I found a link on an rpmfind site and downloaded from there.  I then did a dnf install ./rpmfile.

I was not aware you had a copr repo at all.  I saw the Ubuntu instructions on the site and instructions for compiling for Fedora 20 but at this point I'd rather not have t

[2016-08-14 20:48] RangerGH commented on #899
I installed from copr after installing the corp repo and it all works now.  The plugins were installed, it saves the connections, and does not give a blank screen.

[2016-08-14 23:41] ShamimIslam commented on #944
Ok - so is there a setting I have to toggle to make the indicator visible
at run-time?

Thanks.

On Sun, Aug 14, 2016 at 3:03 PM, Pavel Alexeev aka Pahan-Hubbitus <
notifications@github.com> wrote:

[2016-08-15 04:46] kovidgoyal opened #965 "Allow reading password from STDIN"
It would be nice if remmina had an option to r4ead password from STDIN. So then one could do:

[code]

This way for people (like me) that do not use keyrings, one can easily automate password entry using whatever scheme we like.

[2016-08-15 05:52] kovidgoyal opened #966 "remmina does not exit after last window is closed"
Run remmina with a connection, like this:

remmina -c profile.remmina

After you are done, close the session window or click disconnect

The remmina process does not exit. One has to send it SIGINT (Ctrl-C) to force it to exit.

The system tray icon is disabled.

[2016-08-15 20:07] antenore commented on #944
thanks @hubbitus I've added the info in the main README file and I'll update the doc.

@ShamimIslam yes Preferences->Applet

I close this, it looks like is solved (thanks to Pavel)

[2016-08-15 20:40] ShamimIslam commented on #944
Are my settings incorrect? I still see no tray icon.

[image: Inline image 1]

When I activate Remmina, the tray icon still does not appear.

On Mon, Aug 15, 2016 at 4:07 PM, Antenore Gatta <notifications@github.com>
wrote:

[2016-08-15 20:42] ShamimIslam commented on #944
Can we please re-open so we can figure out what I need to do to make this
work? Should I reboot or something? Is there a way to debug what's not
working? Happy to help but I'm a little lost.

On Mon, Aug 15, 2016 at 4:40 PM, Shamim Islam <shamim.islam@gmail.com>
wrote:

[2016-08-15 20:44] antenore commented on #944
Sorry, I misunderstood.

I cannot see images when you answer by mail.

@Hubbitus do you have the remmina icon applet on Plasma?

[2016-08-15 20:45] Hubbitus commented on #944
@ShamimIslam I also want report does not see it 5 seconds ago. But It just have now so icon which I expect you may do not see depends on monitor bright settings. In my xfce session it looks like:
![image](https://cloud.githubusercontent.com/assets/720349/17679049/65fee244-6342-11e6-97cb-f98f751757d8.png)

[2016-08-15 20:46] ShamimIslam commented on #944
![settings-for-remmina-no-applet-visible](https://cloud.githubusercontent.com/assets/3057742/17679076/dcff8a78-6307-11e6-9399-1640c12e6031.png)

[2016-08-15 20:47] antenore commented on #944
Pavel, for this just select "Dark Icon" in the Preferences->Applet window

[2016-08-15 20:47] ShamimIslam commented on #944
I don't see it in plasma. I am not using XFCE.  I am using KDE. That's where my problem originated.

[2016-08-15 20:49] ShamimIslam commented on #944
![settings-for-remmina-no-applet-visible](https://cloud.githubusercontent.com/assets/3057742/17679144/2a7b63c6-6308-11e6-94f6-55a7139842cf.png)
![system-tray-1](https://cloud.githubusercontent.com/assets/3057742/17679146/2a7f78c6-6308-11e6-980b-34a67479f711.png)
![system-tray-2](https://cloud.githubusercontent.com/assets/3057742/17679145/2a7cdff8-6308-11e6-96e5-a7bb5cdbdcb2.png)

[2016-08-15 20:49] ShamimIslam commented on #944
![plasma-taskbar](https://cloud.githubusercontent.com/assets/3057742/17679161/3ad5b2da-6308-11e6-9a13-f6158a19b965.png)

[2016-08-15 20:50] ShamimIslam commented on #944
Nothing to right click, no dark view or anything. When I right click, I only get the system tray settings in that blank spot next to the triangle.

[2016-08-15 20:51] antenore commented on #944
This is still a a very old version of remmina @ShamimIslam , Pavel can you help him clean his installation?

![2016-08-15-225018_759x437_scrot](https://cloud.githubusercontent.com/assets/5975/17679215/bc2520e6-633a-11e6-9128-73244109a197.png)

[2016-08-15 20:51] antenore commented on #944
$ remmina --version
remmina - Version 1.2.0-rcgit.14 (git 9bf3ef6)

[2016-08-15 20:52] Hubbitus commented on #944
@antenore are you suggesting build just last commit from `next` branch or something particular?

[2016-08-15 20:52] ShamimIslam commented on #944
$ remmina --version
remmina - Version 1.2.0-rcgit.14 (git n/a)

[2016-08-15 20:54] ShamimIslam commented on #944
If you need me to install a different RPM, just let me know where to get it
from. I have the Remmina repo that was on hubbitus

On Mon, Aug 15, 2016 at 4:52 PM, Pavel Alexeev aka Pahan-Hubbitus <
notifications@github.com> wrote:

[2016-08-15 20:58] Hubbitus commented on #944
I believe we have you pre-release `1.2.0.rcgit.14` (which leads me surprisingly to 404 error https://github.com/FreeRDP/Remmina/tree/1.2.0.rcgit.14 from you releases tab. But tarballs loadable.).

[2016-08-15 21:01] antenore commented on #944
@Hubbitus the last commit is too much.

Use the last release https://github.com/FreeRDP/Remmina/tree/1.2.0.rcgit.14

[2016-08-15 21:05] Hubbitus commented on #944
That is. And exactly this URL leads to 404 error:
[code]

[2016-08-15 21:07] ShamimIslam commented on #944
I have not been compiling items. Is there a SPEC file in github for FC24?
Is there a SRPM somewhere?

I don't want to end up with a mix-n-match of files leading to
unreproducible scenarios.

On Mon, Aug 15, 2016 at 5:01 PM, Antenore Gatta <notifications@github.com>
wrote:

[2016-08-15 21:13] Hubbitus commented on #944
Sure. All sources you could find in repo from what you install binaries: https://copr.fedorainfracloud.org/coprs/hubbitus/remmina-next/build/439062/
Off course you may get all Fedora packages sources also: http://pkgs.fedoraproject.org/cgit/rpms/remmina.git/commit/

[2016-08-15 21:19] ShamimIslam commented on #944
Sorry - I'm a little lost. So using the hubbitus repo does not get me this version? That's what I used.

[hubbitus-remmina-next]
name=Copr repo for remmina-next owned by hubbitus
baseurl=https://copr-be.cloud.fedoraproject.org/results/hubbitus/remmina-next/fedora-$releasever-$basearch/
skip_if_unavailable=True
gpgcheck=1
gpgkey=https://copr-be.cloud.fedoraproject.org/results/hubbitus/remmina-next/

[2016-08-15 21:19] ShamimIslam commented on #944
I'm asking because it sounds like you are asking me to download items I may have already used. Should I re-install? Could the FC24 versions in that repo be a bad build or something?

[2016-08-15 21:21] Hubbitus commented on #944
No, as I provide infor before there exact that version of remmina.
If @antenore said what we need build another commit I'll try to do so for you.

[2016-08-16 00:08] giox069 commented on #944
I have installed Fedora24+Plasma and compiled the latest version of FreeRDP and Remmina.
I can confirm that the statusindicator icon does not appear.
I have been able to make it appear making 2 changes
1. `APP_INDICATOR_CATEGORY_OTHER` should be changed to `APP_INDICATOR_CATEGORY_APPLICATION_STATUS` in remmina_icon.c (why ???)
2. The png format icon `remmina-panel.png` we provide with remmina is n

[2016-08-16 01:56] ShamimIslam commented on #944
Awsome. Sounds like a minor idiosyncrasy. The #define may have changed in
the newest plasma due to updates in the library - I know there was a
CHANGELOG but I had not had a chance to read it. Surprised the PNG format
is not working but oh well. Thanks for finding these.

Please let me know when I can re-run the DNF REFRESH here for testing.

Thanks.

On Mon, Aug 15, 2016 at 8:08 PM, Giovanni Panoz

[2016-08-16 06:27] antenore commented on #944
@hubbitus There is something wrong with the release URL, here the right one https://github.com/FreeRDP/Remmina/tree/v1.2.0-rcgit.14

This url doesn't have the fix (we don't have a fix yet )

I wasn't expecting a problem like this at all.....

[2016-08-16 07:35] giox069 commented on #944
Fixed. There are no prolem in the use of the current .png. I have been confused by the remmina-panel.png having the same color as the KDE taskbar. But this is already addressed enabling the "Dark Tray Icon" in the global preference -> Applet menu.
So, to summarize
1. Changed in the code `APP_INDICATOR_CATEGORY_OTHER` to `APP_INDICATOR_CATEGORY_APPLICATION_STATUS`. Read a note [here](http://people.

[2016-08-16 09:43] david-geiger commented on #944
Hi,

We have the same systray icon issue on Mageia Cauldron with plasma 5.7.x, so I confirm that using the latest git snapshot from commit 679bb8eee78765252b62aa56078a9fabe50563f8 and rebuild remmina with "-DWITH_APPINDICATOR=ON" fixes properly this systray icon issue.
N

[2016-08-16 10:26] david-geiger commented on #944
Is it possible to release a new version "rcgit.15", please?

[2016-08-16 10:35] Hubbitus commented on #944
679bb8eee78765252b62aa56078a9fabe50563f8 built in Fedora rawhide official repo and remmina-next copr repo for Fedora 24.
Please test.

[2016-08-16 10:43] dd-jacks commented on #944
@Hubbitus the icon is came back)))

[2016-08-16 12:29] antenore commented on #944
I'm going to release a new version. Thanks to everybody

[2016-08-16 12:33] antenore commented on #944
I close this, because it'll be referenced in the changelog

[2016-08-16 12:33] #944 closed

[2016-08-16 12:53] antenore commented on #944
Released https://github.com/FreeRDP/Remmina/releases/tag/v1.2.0-rcgit.15

[2016-08-16 19:34] ShamimIslam commented on #944
I think there is a labelling problem in the FC SPEC and/or version file. But the systray icon is now visible. "rpm -q -i remmina" shows "0.21.git.679bb8e.fc24" while the "remmina --version" reports "remmina - Version 1.2.0-rcgit-14 (git n/a)".

I am seeing the systray icon though.

![remmina-systray-1](https://cloud.githubusercontent.com/assets/3057742/17713027/cc9f9424-63c6-11e6-9aa5-a71c7e09bc6a

[2016-08-16 19:35] ShamimIslam commented on #944
I think there is a labelling problem in the FC SPEC and/or version file. But the systray icon is now visible. "rpm -q -i remmina" shows "0.21.git.679bb8e.fc24" while the "remmina --version" reports "remmina - Version 1.2.0-rcgit-14 (git n/a)".

I am seeing the systray icon though.
![remmina-systray-1](https://cloud.githubusercontent.com/assets/3057742/17713074/0ba6c110-63c7-11e6-8d00-c6e6f8c77696.

[2016-08-16 19:49] Hubbitus opened #967 "Unicode copy leads to crash"
Hi.

Description of problem:
Used Ctrl-C to copy a selection from a Windows app on the remote machine. Doing so consistently crashes Remmina.

Version-Release number of selected component:
remmina-1.2.0-0.4.git.b3e339e.fc22

Truncated backtrace:
Thread no. 1 (5 frames)
 #0 _wcslen at /usr/src/debug/FreeRDP-24a752a70840f3e4b027ba7c020af71f2bcfd94a/winpr/libwinpr/crt/string.c:110
 #1 cliprdr_process

[2016-08-16 19:54] antenore commented on #967
Pavel this is old. The rcgit.5 has been released almost one year ago  and since then we solved these kind of issues.

Can you try with the rcgit.15 (and also a new version of freerdp)?

[2016-08-16 19:56] Hubbitus commented on #863
From https://bugzilla.redhat.com/show_bug.cgi?id=1335645 as I understand

[2016-08-16 20:01] Hubbitus commented on #700
We have several similar bugs:
https://bugzilla.redhat.com/show_bug.cgi?id=1356373
https://bugzilla.redhat.com/show_bug.cgi?id=1272135
https://bugzilla.redhat.com/show_bug.cgi?id=1360423
https://bugzilla.redhat.com/show_bug.cgi?id=1361774
https://bugzilla.redhat.com/show_bug.cgi?id=1290149
Is they all related to that fix?

[2016-08-16 20:09] giox069 commented on #700
@Hubbitus: unfortunately it will take hours of investigation to understand every single bug with an old version of remmina in a specific distribution, and we cannot afford to spend time in testing old remmina versions already patched. I think the right way to solve it, is to direct users to COPR to update both remmina and libfreerdp (does COPR also provide updated freerdp ?).

[2016-08-16 20:19] Hubbitus commented on #700
Problem what issues happened again and again, but by your comment it was fixed in December 2015.

And I try provide fresh versions of freerdp and remmina in my COPR, but problem there it is not official repository. And much more users in Fedora experience problems according by similar reports continue arrival by that problem.

[2016-08-16 20:19] Hubbitus commented on #967
Yeh, this is indeed very old. Sorry. I go to close it.

[2016-08-16 20:19] #967 closed

[2016-08-16 20:49] furai opened #968 "VNC server/client not working"
Hello,

As requested during our chat on IRC I'm opening an issue for not working VNC Client/Server in remmina.
- Client: GNOME Ubuntu 16.04.1 LTS
- Remmina version: remmina - Version 1.2.0-rcgit.14 (git n/a)
- Desktop environment: GNOME
- Connecting to: GNOME Ubuntu 16.04.1 LTS
- Connecting via: Remmina's VNC Server, same version of remmina

If you need any additional information let me know.

Reg

[2016-08-16 20:55] antenore commented on #700
Regarding FreeRDP we have the same problem in the PPA.

We discussed a bit the issue via IRC but I still have to inform and discuss with Giovanni.

In the meanwhile, till I'll inform you, use the FreeRDP `5b2455f`  commit.

We will provide a link to the version of freerdp that we support at each release,  but I don't know yet how.

[2016-08-17 02:11] rubin110 commented on #654
Is there a way to have Remmina specify a scaling factor back to the host machine (Windows)?

I recently got a new laptop with an HDPI display. When I try to connect to my host machine (which runs some photo editing software I can't get for Linux), I get a very large native 1:1 screen making most of the UI in Windows too tiny to use. I can specify a smaller resolution in Remmina and scale on the cl

[2016-08-17 08:28] antenore opened #969 "Add RDP scaling factor as implemented by FreeRDP"
Copied from #654 comment posted by @rubin110

[2016-08-17 08:29] antenore commented on #654
@rubin110 I opened a new issue for you.

[2016-08-17 08:33] giox069 commented on #969
Hi @rubin110, yes, I think we can do it. Do you mean the option "/scale:X" of xfreerdp ? It seems to request the server to draw all objects scaled, but server pixels still have 1:1 mapping to your screen pixels. Do you know why FreeRDP only accepts 100, 140, 180 as scaling factors and no other factors ?

[2016-08-17 09:37] antenore commented on #969
It seems the scaling factor is (let's say) imposed by Windows, as are the only scaling factor they were using (checked some docs on internet)

For example:

http://www.anandtech.com/show/7939/scaling-windows-the-dpi-arms-race/5

Probably with these factors the image keep its properties without being deformed?

Some useful information on how is documented/managed today my M$

https://msdn.microsoft

[2016-08-17 09:43] antenore commented on #969
OK, found some cool information:

https://msdn.microsoft.com/en-us/library/windows/apps/windows.graphics.display.resolutionscale.aspx

So the default are the one used by FreeRDP, I think we can implement all of them (must be changed in freerdp aswell?)

https://code.msdn.microsoft.com/windowsapps/Scaling-sample-cf072f4f

[2016-08-17 12:04] zchef2k opened #970 "Request - open multiple tabs at once via CLI"
Perhaps it is already possible but I can't find it documented, but the ability to open multiple connections (tabs) at once in a single window via the command line would be nice.

[2016-08-17 12:54] antenore commented on #970
at the moment you can just start one connection at a time with the ```-c``` option

[2016-08-17 18:56] ryankpaul commented on #936
remmina-1.2.0-0.21.git.679bb8e.fc25 http://koji.fedoraproject.org/koji/packageinfo?packageID=10031 resolves this issue for me, as reported in #899

Thanks!!

[2016-08-17 18:59] rubin110 commented on #969
This is the current command I use with a recent nightly of freerdp to achieve approximately something useful...

`/opt/freerdp-nightly/bin/xfreerdp /u:xxx /p:xxx /v:1.2.3.4 /w:2560 /h:1440 /scale-desktop:150 /scale-device:140 +fonts /compression:off /bpp:32`

I believe scale-device is specific for a different class of apps in Windows 10 and don't quite understand it, additionally it only accepts v

[2016-08-17 19:05] #936 closed

[2016-08-19 18:31] luzemario opened #973 "Please add support for choosing IPv4 / IPv6 connection"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Fedora 24
* Remmina version (remmina --version): 1.2.0-rcgit-14
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Ubuntu Server 12.10
* Connecting via (RDP, VNC, ...): SSH
* RDP

[2016-08-19 18:41] luzemario commented on #973
[SSH] ssh_config_parse_line: Unsupported option: GSSAPIAuthentication, line: 59

[SSH] ssh_config_parse_line: Unsupported option: ForwardX11Trusted, line: 63

[SSH] ssh_config_parse_line: Unsupported option: SendEnv, line: 65
The network is unreachable because it is attempted by IPv6 stack. There is no way to specify additional SSH parameters (i.e. -4 option).

Output log:

[SSH] ssh_config_parse_

[2016-08-20 19:12] mystica555 commented on #863
I've seen this behavior for years... Perhaps instead of a poll loop, a sleep loop could be used.

[2016-08-20 19:19] mystica555 commented on #263
This is actually a bug, because I should not need to continually open a new connection window, and then be forced to go back into my clipboard manager simply because OPENING THE WINDOW causes my copied IP:port combination to disappear.

This should be fixable by one of the following:
DISABLE THE "Quick Connect" text in the Name box
DO NOT AUTO-SELECT the "Quick Connect" text in the Name box
Instea

[2016-08-20 19:21] mystica555 commented on #263
Oh and I just read now in the text i copied "this can be problematic if the if the entry is given initial focus"

SIMPLY STOPPING THE INITIAL FOCUS IN THIS FIELD WOULD FIX THE BUG

[2016-08-20 19:26] mystica555 opened #974 "Remmina deletes password, even if correct, and yet some other connection bug prevented connecting."
Please give us some details about the systems you are using:
- Client (OS name and version):
  sabayon, current (*is this really the definition of "client?" my grammar indicates that "remmina" is the "client" adjective here)
- Remmina version (remmina --version):
  Remmina - Version 1.2.0-rcgit.11 (git fd7bdc6)
- Desktop environment (GNOME, Unity, KDE, ..):
  kde plasma 5.6.5
- Connecting to (OS a

[2016-08-20 20:10] NTMan commented on #863
I also found similar problem in gvfsd-sftp which already resolved.
https://bugzilla.gnome.org/show_bug.cgi?id=724780

[2016-08-20 20:12] antenore commented on #263
Reopened.

I had the same issue sometime, I'll take a look, but be patient some more time.

[2016-08-20 20:15] antenore commented on #863
The problem is mainly in the FreeRDP library, can you guys, please, open a bug to them?

[2016-08-22 02:35] jhaar commented on #923
Actually, I've learnt more about my situation and just changed my mind :-(

I've had a couple of experiences in the past month where I didn't have any RDP sessions - just SSH - and the desktop would freeze - but only when I went  to access my clipboard applet (gnome-shell extension). I'd be working, click on the clipboard icon to drop down my previously selected strings, and discover I couldn't ch

[2016-08-22 14:18] mreichardt95 opened #975 "SSH windows closes without message"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
- Client (OS name and version): Arch Linux x64
- Remmina version (remmina --version): 1.2-rcgit-15
- Desktop environment (GNOME, Unity, KDE, ..): GNOME
- Connecting to (OS and version): Windows 2012R2 (cygwin)
- Connecting via (RDP, VNC, ...):

[2016-08-22 19:56] antenore commented on #263
@mystica555 I'm working on this issue, but honestly reading your posts doesn't help, if you'd be just a bit more polite it'd be more pleasant. Just to remember you that this is a volunteer project. Nobody between us earn money for this (and we don't want to), or maybe you nothing about netiquette and in the case RTFM!

BTW, I think I've found a solution and I'm testing it.  Can you please tell me

[2016-08-22 20:41] antenore commented on #975
Did you execute Remmina from the command line (before be sure that remmina is not already running)? Can you eventually try and check the output to see what happens?

From Gnome terminal I guess you are using openssh, while remmina uses libssh (both uses VTE).
If it's that the case I'd ask help, also, to the libssh team to see if they are aware of a similar issue and they know a work around (or if

[2016-08-22 20:45] antenore commented on #973
We are quite busy in this period, so we won't work on this very soon, are you not able to manage this on client side with a DNS record or thorough the /etc/hosts?

On the other side if you know anybody who could work on this we will be happy to guide him/her.

Thanks for your patience!!!

[2016-08-22 20:47] antenore commented on #958
Did has been fixed in the last release.

[2016-08-22 20:47] #958 closed

[2016-08-22 21:33] crhy opened #977 "Need repos for Devuan/Debian!"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version):
* Remmina version (remmina --version):
* Desktop environment (GNOME, Unity, KDE, ..):
* Connecting to (OS and version):
* Connecting via (RDP, VNC, ...):
* RDP issues only, freerdp version (xfreerdp --version):

[2016-08-22 21:34] crhy commented on #977
Big remmina fan, use it all day, almost every day.  But I'm migrating everything to devuan, and currently devuan is on version 1.1.0.  I'd love to be able to point to repos and get something newer, so long as it doesn't bring systemd along.

[2016-08-22 21:46] antenore commented on #977
@giox069 @nastasi we were chatting about this on IRC and so I asked @crhy to open an issue, so that we can track the email we have got.

[2016-08-23 07:56] mreichardt95 commented on #975
Hey,
I Started remmina over the Terminal this is the Output:
[code]

Also the Output of the Debug Window (it doesnt even say something about the disconnect):
[code]

Yes I'll get in contact with them and link this Issue here.

Regards

[2016-08-23 14:32] giox069 commented on #969
Official RDP doc here: https://msdn.microsoft.com/en-us/library/cc240510.aspx
There are 2 parameters involved: **desktopScaleFactor** (_/scale-desktop:_ on xfreerdp) and **deviceScaleFactor** (_/scale-device:_ on xfreerdp). When you use _/scale:_ on xfreerdp, you set both with the same value (see FreeRDP's ./client/common/cmdline.c).
I'm working on an implementation with global RDP settings. Scali

[2016-08-23 16:08] giox069 commented on #969
@antenore: branch issue969 is ready for testing, if you can :)

[2016-08-23 16:40] antenore commented on #969
Cool! In 5 hours I'll have the opportunity to test this.

Thanks!

[2016-08-23 19:42] antenore commented on #969
I'm testing it.
Do you think it's too hard to have these settings on a per profile basis instead of being global?

So far I've got just an issue with something that should not be related, but I cannot check if it's a regression till tomorrow. Going full screen mode, and switching between "keep aspect ratio when scaled" and "Fill client window when scaled" was giving me a black screen in "keep aspe

[2016-08-24 06:22] giox069 commented on #969
1. Per profile scaling settings: can be done per profile. But I think it's quite confusing, because scaling is something related to your local monitor(s), not the remote profile. And if we implement it now, we will never be able to remove it in the future (users of the feature will complain a lot). So... let's wait user comments and decide later.
2. I investigated on an automatic mode: gtk has [gd

[2016-08-24 10:24] Vatten commented on #434
Same problem here on RHEL7.

remmina-1.2.0-0.12.rcgit.11
freerdp2-libs-2.0.0-4.4.git.b02943a

It is Finnish keyboard and AltGr not working as described above.

[2016-08-24 12:26] dannysuls commented on #382
I'm having the exact same issue as the OP described: even though font smoothing is on (checked in quality settings), some fonts are smoothed and some aren't.

With rdesktop, all fonts are properly smoothed (using -x 0x80).

Remmina version: 1.2.0-rcgit-15
Ubuntu 14.04 LTS amd64

[2016-08-24 12:28] antenore commented on #434
I've lost this but issue.

I've a Swiss keyboard and I have issues only with VNC, do you guys have this issue with any protocol or just VNC?

If it's VNC, the plugin needs some refactoring and improvement, but we miss developers...

[2016-08-24 12:40] Vatten commented on #434
I have the issue with rdp.

[2016-08-24 12:52] antenore commented on #434
In the remmina global settings (not the one of your remote server profile) did you set the keyboard in the RDP TAB?

[2016-08-24 13:03] Vatten commented on #434
Yes, it says 0000040B - Finnish
and "use client keyboard" is checked.

And now when I unchecked "use client keyboard", Finnish keyboard still selected, Alt Gr is working :-)

So looks like it is a problem with that setting.

[2016-08-24 13:06] antenore commented on #434
Well... I don't remember why we have that setting but I don't use it as well.
In the FreeRDP documentation is written that is not a good idea to force a keyboard, so....

[2016-08-24 13:06] antenore commented on #434
@McRob can you check as well please?

[2016-08-24 13:07] antenore commented on #382
By me the font smoothing is correctly implemented in Remmina. So it's more a GTK issue, in fact on my main PC everything works correctly, but I've put in place some different hacks to have some good fonts anti aliasing.

Unlucky I don't remember exactly what I have done.

With xfreerdp works out of the box, because you have anti aliasing correctly set in X, and  because the anti aliasing in X work

[2016-08-24 13:13] Vatten commented on #434
I tested and rdp works with autodetect and "use client keyboard" unchecked too. But not with autodetect and "use client keyboard" checked.

[2016-08-24 15:18] CS-JS opened #978 "Random remmina exits (no crash, just plain close)"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version): Kubuntu 16.04
* Remmina version (remmina --version): remmina - Version 1.2.0-rcgit-15 (git n/a)
* Desktop environment (GNOME, Unity, KDE, ..): KDE
* Connecting to (OS and version): Windows 2008 (R2)
* Connecting

[2016-08-24 15:37] antenore commented on #978
The reason why there is not a bt available is this

As you have used the PPA package, you should have also a dbg or debug package available (maybe you have to enable the repository? I don't know).

Can you please install the debug package and try to reproduce again the problem?

[2016-08-24 15:39] CS-JS commented on #978
My bad, sorry! gdb worked a few weeks ago, I didnt know there is a dbg-package!
I'll reproduce with the package installed!

[2016-08-24 16:58] #969 closed

[2016-08-24 21:22] #263 closed

[2016-08-24 23:25] antenore commented on #931
Closed as no answer

[2016-08-24 23:25] #931 closed

[2016-08-24 23:26] antenore commented on #900
Add new comments only if can resolve the issue, otherwise read carefully the full thread.

[2016-08-24 23:26] #900 closed

[2016-08-24 23:27] #855 closed

[2016-08-24 23:30] #745 closed

[2016-08-24 23:31] antenore commented on #185
Too old, closing.

[2016-08-24 23:31] #185 closed

[2016-08-24 23:32] antenore commented on #174
Too old, closing

[2016-08-24 23:32] #174 closed

[2016-08-24 23:50] antenore commented on #18
This should be implemented and working correctly. Don't hesitate to reopen i needed (with more details).

[2016-08-24 23:50] #18 closed

[2016-08-24 23:52] antenore commented on #61
no answer, closing

[2016-08-24 23:52] #61 closed

[2016-08-24 23:55] antenore commented on #81
I'm closing this because this problem has been fixed since almost two years.

Be sure you have the last remmina installed. thx.

[2016-08-24 23:55] #81 closed

[2016-08-24 23:57] antenore commented on #770
Duplicate of #82

[2016-08-24 23:57] #770 closed

[2016-08-25 00:12] antenore commented on #106
no answers. Closing

[2016-08-25 00:12] #106 closed

[2016-08-25 00:14] antenore commented on #117
Implemented. PLease open new feature requests or bugs report if needed.

[2016-08-25 00:14] #117 closed

[2016-08-25 00:18] antenore commented on #124
We still have some problems with fullscreen support that we need to address.
I'm going to link the last discussions .

[2016-08-25 00:20] antenore commented on #124
For reference:

#864 #873 #241 #376

[2016-08-25 00:30] antenore commented on #136
This has been implemented in freerdp https://github.com/FreeRDP/FreeRDP/pull/2779/files

Can you check if you still have the problem (surely yes...).

[2016-08-25 03:22] ivansabik commented on #124
I would love to contribute to fixing this, but falls out of my expertise area by far sadly. Also stopped using Remmina since I switched from Mint to OSX for work. I loved it in general except for Copy/Paste capabilities and that full screen thing, great that it exists though and that it's open source 👍 👍

[2016-08-25 06:45] coldserenity commented on #136
Looks like the problem is solved
 * Remmina 1.2.0-rcgit.7
 * Fedora 24 x64

2016-08-25 3:30 GMT+03:00 Antenore Gatta <notifications@github.com>:

[2016-08-25 07:03] antenore commented on #136
Cool!

[2016-08-25 07:03] #136 closed

[2016-08-25 07:43] kvaps commented on #900
I partially resolve this issue by running KeePass using dotnet under wine.
Here is my package for Arch Linux: [keepass-wine](https://aur.archlinux.org/packages/keepass-wine/)<sup>(aur)</sup>

[2016-08-25 17:21] Shuric1C opened #980 "Print problem through Remmina"
We support Remmina 1.2+ versions only.
Please do not report bugs occurring on older versions!

Please give us some details about the systems you are using:
* Client (OS name and version):
* Remmina version (remmina --version):
* Desktop environment (GNOME, Unity, KDE, ..):
* Connecting to (OS and version):
* Connecting via (RDP, VNC, ...):
* RDP issues only, freerdp version (xfreerdp --version):

[2016-08-25 20:54] antenore commented on #980
From a terminal, can you please test the printer using xfreerdp (with option /printer)?

Before to test execute these commands

[code]

[2016-08-26 03:24] Shuric1C commented on #980
remmina - version 1.2.0-rcgit-15
FreeRDP - version 2.0.0-dev

From a terminal - xfreerdp (with option /printer):
[ERROR][com.freerdp.client.x11] - error: server hostname was not specified with /v:<server>[:port]
[ERROR][com.winpr.sync.wait] - invalid hHandle.

[2016-08-27 07:23] Shuric1C commented on #980
Connect and so from a terminal:
xfreerdp /u:user /printer /v:10.10.10.1

terminal:
[INFO][com.freerdp.client.common.cmdline] - loading channel rdpdr
[INFO][com.freerdp.client.common.cmdline] - loading channel rdpsnd
Password: XXXX
[INFO][com.freerdp.channels.rdpdr.client] - Loading device service printer (static)
[INFO][com.freerdp.channels.rdpdr.client] - registered device #1: PRN1 (type=4 id=1)

[2016-08-27 19:10] antenore commented on #980
So this is a FreeRDP issue.

Can you report this problem to them? https://github.com/FreeRDP/FreeRDP/issues/new

As soon as they will fix it, let us know.

Thanks a lot!

[2016-08-27 20:05] dark-penguin opened #981 "tray icon does not change without a restart"
When you enable "Dark tray icon" in Preferences, the icon does not change until you restart Remmina. There is no mention of this in the option description. It would probably be nice to either reload the icon immediately, or mention "(requires restart)" near that option.

[2016-08-27 21:42] antenore commented on #981
Good point! I doubt we can reload the icon, if it's not possible we will add the description.

Thanks!

[2016-08-28 02:17] mhalano opened #982 "Mosh support"
Hello,

I want to use Mosh (http://mosh.org) with Remmina, but there is no field or option to define what SSH client I want. May be a mode to use Mosh?

BTW: Great job on Remmina 1.2!

[2016-08-28 17:09] Hubbitus commented on #944
Last version of remmina from reemina-nex t repository should return git-revision in --version request.

[2016-08-28 18:22] ShamimIslam commented on #944
Do you know when this version will make it to the standard repositories? I
currently have the hubbitus repo added but I'd rather not be in the test
group unless something else goes crazy. Thanks.

On Sun, Aug 28, 2016 at 1:09 PM, Pavel Alexeev aka Pahan-Hubbitus <
notifications@github.com> wrote:

[2016-08-29 12:17] e-alfred opened #983 "Remmina can't connect to system that has only modern KEX algorithms enabled using SSH"
Hello,

I am getting the following error if I try to connect to a pfSense 2.3.2 instance:

`Error while starting the SSH connection: kex error : no match for method mac algo client->server: server [hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com], client [hmac-sha1]`

[2016-08-30 16:46] affinityv commented on #806
Linux Mint 18 -- Cinnamon (LiveDVD)

Copy and Paste is not working with Win7 desktop.
Also, sound doesn't work.

I thought that copy and paste worked.... perhaps once it did?

[2016-08-30 19:22] antenore commented on #983
Thanks for the report. I'll take a look ASAP

[2016-08-30 19:42] antenore commented on #983
We use libssh and the KeX + ciphers supported are:

* **Key Exchange Methods**: curve25519-sha256@libssh.org, ecdh-sha2-nistp256, diffie-hellman-group1-sha1, diffie-hellman-group14-sha1
* **Hostkey Types**: ecdsa-sha2-nistp256, ssh-dss, ssh-rsa
* **Ciphers**: aes256-ctr, aes192-ctr, aes128-ctr, aes256-cbc (rijndael-cbc@lysator.liu.se), aes192-cbc, aes128-cbc, 3des-cbc, des-cbc-ssh1, blowfish-cbc,

[2016-08-30 19:51] antenore commented on #983
No more, no less than what I've listed.
Unlucky I cannot help that much now, can you also open a bug to the libssh team ?

https://red.libssh.org/projects/libssh/issues

In the future I'm planning to evaluate also libssh2 and to use openssh directly, but it won't be done very soon.

[2016-08-30 20:18] antenore commented on #982
Hello,

Thanks for your support!

Unlucky, at the moment, it's not possible, because we use libssh behind the scenes.

I'm considering a new terminal/ssh implementation in the future, but I'm not yet sure it's something I can deal with in a short time.

In the meanwhile, but it's a really dirty solution, you can connect locally (127.0.0.1) and than run mosh :-\

If you know anyone who could try to

[2016-08-31 09:49] e-alfred opened #984 "Remmina can't connect to key based SSH server running on non-standard port"
Hello,

I am trying to connect to a server using my ssh key running on a non-standard port. Using password-based authentication works well. but trying to connect using the key I get the following error:

Connecting to a similar system running on port 22 works well.

Thank you

[2016-08-31 09:52] e-alfred commented on #983
Well, it only supports hmac-sha1 for MAC hashes, and pfsense now wants more modern SHA2 or ripemd160 based ones.

Here is the upstream bug report:

https://red.libssh.org/issues/240

[2016-08-31 10:09] e-alfred opened #985 "Connection not kept alive using SSH in Remmina 1.2"
Hello,

I am running around 20 SSH sessions in Remmina 1.2 but most of them get closed after some time. In older versions, this problem did not exist, connections were kept alive for as long as the client run. I tried to set the "ServerAliveInterval" to 60 but it won't get parsed by Remmina claiming it is an unsupported option. How can I keep connections alive in Remmina 1.2?

My system specs:

[c

[2016-08-31 10:57] e-alfred commented on #975
This is probably related to https://github.com/FreeRDP/Remmina/issues/985. The tabs close without a message after some time.

[2016-08-31 20:42] antenore commented on #984
How did you have specified the ssh port?

You should set **Server** to IP:port

It works for me.

[2016-08-31 21:00] antenore commented on #985
Can you check if you have any TMOUT or TIMEOUT environment variable set on your remote host?

In the meanwhile I've linked this issue with one opened by @mreichardt95 on libssh https://red.libssh.org/issues/239

This is duplicate of #975

[2016-09-01 02:26] penalvch opened #986 "Remmina not showing entire desktop, Windows Remote Desktop Connection does."
While this is understood, Ubuntu is still using 1.1.2 in their latest supported repository (i.e. not PPA). Hence, courtesy support is requested, and greatly appreciated.

The issue seems a regression from https://github.com/FreeRDP/Remmina/issues/534 .
Please give us some details about the systems you are using:
* Client (OS name and version): lsb_release -rd
Description:	Ubuntu 16.04.1 LTS
Releas

[2016-09-01 20:52] antenore commented on #983
Have to go back to my initial statement...

According to the source code, the hmac-sha2 methods have been added one year ago
[code]
If you have the libssh 0.6 these algorithms are not yet available, can you please try this PPA?

https://launchpad.net/ubuntu/+source/libssh

In the meanwhile we are considering other possibilities.

[2016-09-01 22:57] antenore commented on #983
Regarding the PPA forget it, that one is the official package, so you will have the same issue.

[2016-09-02 07:37] e-alfred commented on #983
Libssh is version 0.6.1 on Ubuntu 14.04. On 16.04 it is not much newer at version 0.6.3. I think the best way would be to include a recent version in the Remmina PPA?

[2016-09-02 07:39] e-alfred commented on #984
Yes, it is. Otherwise I wouldn't be able to connect to the server by simply changing to password authentification.

[2016-09-02 07:41] e-alfred commented on #985
I have no timeout values set. It worked well with an older version of Remmina before I upgraded with the PPA to 1.2. There were no changes to the different SSH servers.

[2016-09-02 07:48] antenore commented on #983
Yes, true, this is something should answer @nastas , if he has time to have a look to this, he is our packaging, and other arcane subjects, wizard.

[2016-09-02 07:50] antenore commented on #986
This is an old version we really cannot support anymore.

Please install the PPA as described in our wiki home page.

Thanks

[2016-09-02 08:13] penalvch commented on #986
antenore, thanks for the quick response.

As per https://github.com/FreeRDP/Remmina/wiki the 1.1.2 stable branch is eligible for bug fixes. Hence, could you please either:
1) Reopen this bug.
2) Both fix the wiki to note 1.1.2 is not eligible for bug fixes, and have the 1.2 branch backported to Xenial+ in Ubuntu via https://wiki.ubuntu.com/StableReleaseUpdates.

I'm fine with either way really, as

[2016-09-02 08:34] antenore commented on #986
That is a mistake indeed because there is a package naming issue (that we are fixing), I'll clarify the wiki asap.

This is the last available version (1.2.0-rcgit-15)

[code]

I really push you to update it because we have fixed tons of issues and added several new features.
I cannot bet you will be happy with it, but I hope so and in the case you will need support, we will have everything we nee

[2016-09-02 08:36] antenore commented on #986
@nastasi can you please answer the Debian/Ubuntu way about this issue?
Thanks!!!

[2016-09-02 12:13] giox069 commented on #986
No, I don't think we have versioning problems now.
The full story is
- Remmina 1.1.X is our current master branch, and is considered stable. It's used by both Debian and Ubuntu as main stable source for remmina.
- Remmina 1.2.X is our current "next" branch. Its quite-stable, we could mark it as "stable", but it will not help you to have remmina 1.2.X into Ubuntu/Debian, because... (continue readin

[2016-09-02 13:17] rterekhov opened #987 "Multiple keys for Host key/Grab keyboard actions"
It could be nice to use multiple keys (for example Control_R + Shift_R) for Host key/Grab keyboard actions.

[2016-09-02 13:43] antenore commented on #986
So we won't fix this except someone else will have:

1) The time to do it
2) The competencies and "power" to make it happens.

[2016-09-02 13:48] giox069 commented on #986
@antenore: I will write something on the wiki later :)

[2016-09-02 19:50] penalvch commented on #986
@antenore / @giox069, thanks for the continued discussion towards this. It is greatly appreciated.

With this in mind, I do want to clear up a few misconceptions regarding Ubuntu:

IMHO, given the PPA is considered stable upstream due to how:
1) It is a source for new upstream patches to be included quickly for testing and for use for Ubuntu users.
2) Where all development resources are going.
3)

[2016-09-02 20:24] antenore commented on #986
Thanks for the great explanation...
I'll never grasp completely these arcane Ubuntu/Debian concepts honestly, I'm waiting the comments from Matteo (@nastasi) .

Regarding remmina usage statistics we are quite sure of what we are speaking about.

The rest if you prefer we can discuss also on IRC, as I'm not English mother tongue, it may be wrongly understood/interpreted (my bad).

Now the main issu

[2016-09-02 21:39] e-alfred commented on #915
This would be awesome because it would making connections quite a bit faster.

[2016-09-02 22:18] antenore commented on #915
yes, it's something we want to put in place.

[2016-09-03 04:24] penalvch commented on #986
@antenore, thanks for the quick follow up. Your English is excellent, and the support rationale makes complete sense (happy to IRC if you would prefer).

The SRU process may seem different, but it is how fixes get backported in Ubuntu.

Despite this, the issue is confirmed fixed in the PPA:
1.2.0~rcgit-15+979+next+201608300914~ubuntu16.04.1

Given this, I'll start documenting the SRU action items

[2016-09-03 07:42] antenore commented on #986
This change everything, I'll take a look asap.

[2016-09-04 09:22] ComputingFroggy opened #988 "remmina.org down"
Hi,
remmina.org is down !
The page http://www.remmina.org/wp/ keeps loading for ever.
Hopefully, it is just a hosting problem ... but I thought I would let you know, in case you can do something about it !

[2016-09-04 10:05] antenore commented on #988
Thanks for your vigilance!

It seems sn hosting issue, where I live is accessible.

[2016-09-05 08:05] Fry-kun commented on #983
Had this issue as of upgrading Fedora 23->24.. older version of Remmina didn't choke on this

[2016-09-05 08:31] antenore commented on #983
@Fry-kun can you please execute the following command?

[code]

[2016-09-05 16:34] Fry-kun commented on #983
Of course
[code]

[2016-09-06 01:05] mhalano commented on #982
I think Mosh is perfectly compatible with libssh. The trick behind Mosh is 'mosh' command starts a SSH connection using mosh-client and execute remotely the mosh-server. The trick is manage the execution of local client independent of using libssh. But may be you could take a look on Mosh Chrome project which uses libssh for support Mosh on Chrome.

[2016-09-06 03:48] ElectricRCAircraftGuy commented on #699
just installed the latest Remmina version (1.2.0-rcgit-15) and the default for VNC is still not 15-bit color. It is 8-bit color, and still has the bug where it crashes. I thought you were going to change the default to 15-bit color?

[2016-09-06 03:50] ElectricRCAircraftGuy commented on #699
Also, side question: when I connect to a VNC server my Remmina menus used to be horizontal across the top, but now they are default vertical on the left side. I was able to drag them to be horizontal across the bottom, but I really want them horizontal across the top of the screen again. How can I change it to be like this?

[2016-09-06 05:47] ShamimIslam commented on #944
Ok - I have an issue.

I have the hubbitus repo on 2 identical machines (both F24 - S55T-C5222 and
P55W-C5314) the only difference between the two machines is the CPU in use.

On the one machine (S55T), I see the remmina tray applet. On the other,
(P55W),  I do not.

I have copied the remmina profile (.remmina) from the one machine to the
other so the setups are identical.

Please advise where I s

[2016-09-06 05:53] ShamimIslam commented on #944
Nevermind. I have figured it out. It was my plasma - it had crashed and
needed to be restarted. I can see the icon now on both machines. Thank you.

On Tue, Sep 6, 2016 at 1:47 AM, Shamim Islam <shamim.islam@gmail.com> wrote:

[2016-09-06 05:55] antenore commented on #944
Thank you.

[2016-09-06 08:40] CS-JS commented on #978
Sorry for the delay, since it happens sporadically and I just start via gdb when I'm not in a hurry, here is the output:

[code]

Again, remmina closed without an error or any kind of message, and as I wanted to show the stack it says no stack.
Any other logs or debugging tools I can use to provide more info?