[2015-04-10 20:11] Lonniebiz opened #547 "Quick Search Textbox is Only 8 Characters Wide"
Using the Remmina-Next PPA, on Ubuntu 14.04 and Ubuntu 15.04, the Quick Search textbox is now only 8 characters wide:
http://neartalk.com/ss/2015-04-10_008_1110x338.png

Since there is plenty of Horizontal Space available, this text box's width should be expanded so that it can hold and display even the longest queries a user might type into it.

Ideally, this text-box's width should scale to take

[2015-04-10 20:28] Lonniebiz commented on #537
Do you have a pay pal account? How can I send you a donation? Also, I how do I donate to the Remmina project in General? I saw no paypal account on the project page.

[2015-04-10 20:40] giox069 commented on #537
Thank you for offering a donation, we appreciate it, but currently we don't accept donations, and I think we will not accept donations for the next months. There is an old donation page on the old sourceforge remmina site which points to the old remmina author and copyright holder paypal account. But a donation to him will not be useful for the current project maintainers (only 2 peoples, unfortun

[2015-04-10 20:45] #543 closed

[2015-04-11 19:55] repzilon commented on #545
Time to file a Gentoo bug so that the live ebuild track the "next" branch instead of the "master" branch.

[2015-04-13 07:33] mihaig11 opened #548 "Tab all connections"
Tab interface -> "Tab all connections" does not work, the connections open all in different windows.
Tab interface -> "Tab by protocol" works just fine.

I am using remmina 1.2.0-rcgit.2 (compiled on fedora 20 64 according to instructions found on remmina wiki).

PS: In the remmina rpm from fedora 20 repo (I think version 0.99) "tab all connections" worked just fine.

[2015-04-13 07:35] giox069 commented on #548
I can confirm it. I will fix in the next days. Thank you for reporting.

[2015-04-13 11:26] #548 closed

[2015-04-13 11:41] mihaig11 commented on #548
Works OK, thank you for fixing.

[2015-04-13 12:27] HalisCz commented on #444
Happens to me too

[2015-04-14 08:04] giox069 commented on #548
You are welcome :smile:

[2015-04-14 17:36] MightyCreak commented on #525
I do have the same bug on Manjaro (Arch based, Remmina 1.1.2, FreeRDP 1.2.0 beta1+android9).
The bug I installed the AUR package (remmina-git 1.2.0.rcgit.1.r24.g5cda13b-1) but it's not fixed, but I'm not sure that this version is not outdated too since the about window still shows "1.1.2".

[2015-04-14 17:44] giox069 commented on #525
Only Remmina 1.2.0-rcgit.3 has this bug fixed.
The AUR package is currently too old.
Possible solutions:
1. Compile remmina by yourself (I can write a guide for Arch and put it on the wiki)
2. Wait until someone will update the AUR package.

[2015-04-14 19:51] vcordes79 opened #550 "SSH over SSH Tunnel label:newfeature"
I'd like a possibility to connect to an SSH host through a SSH tunnel

[2015-04-14 19:53] vcordes79 opened #551 "webbrowser support"
I'd like a possibility to connect to a webserver (directly or tunneled through ssh).

[2015-04-14 20:05] mcornella commented on #525
I can confirm the `next` branch (f9e620b8baeed931c7d6a5b20e45d6def2f7c2b3) works too here on **Debian 8**.

I had some trouble following the [wiki page](https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-14.04-and-14.10) instructions though. Installing the packages like the wiki says I got this conflict:
[code]
so I removed the `libgcrypt11-dev` and `libgnutls-dev` packages from the command

[2015-04-14 20:33] giox069 commented on #525
@mcornella: thank you for the hints for Debian 8, I think I should write another wiki page for compiling on Debian in the next days.
@MightyCreak: we are working with the AUR arch package maintainer to make an updated remmina 1.2.0-rcgit.3 appear on AUR, I hope to have good news for you in the next days.

[2015-04-14 20:40] antenore commented on #520
@BrainwreckedTech hope you are going fine.

Can you test and let me know? It's still a preview and has some minor bugs, but can be used.

[2015-04-14 22:21] BrainwreckedTech commented on #520
A little better every day.  Getting around without a walker.  Able to stand up and sit down more smoothly.  Still have the same partial feeling in my legs, though.  And I can't be in the standard using-computer position for more than an hour.

The only problem is that VNC connection is attempted immediately after *and* is given no timeout.  This results in an immediately failure for the VNC connec

[2015-04-14 22:40] antenore commented on #520
Yes, this is annoying, I've to improve the code so that it waits before to open the connection.

There are different possibilities:

1. An "in progress" dialog box  (suggested by @giox069 )

This is maybe the cleanest. The command can be canceled if needed, plus, eventually a timeout

2. A global timeout

The command is interrupted after a fixed, global timeout.
This solution should be implemented

[2015-04-14 22:45] antenore opened #553 "Prior connections commands are executed in background"
Reported in the #520 issue by @BrainwreckedTech

The command should be executed in foreground with eventually a timeout

[2015-04-14 23:11] vanvugt opened #554 "Remmina crashes using the Mir GTK backend"
Remmina crashes using the Mir GTK backend.

Initially I would have blamed the gtk/gdk libraries, but it appears Remmina itself is making an X11-only call directly that's the problem:

(gdb) bt
#0 0x00007f74ddb41bd9 in raise (sig=11)
    at ../sysdeps/unix/sysv/linux/pt-raise.c:36
#1 0x00007f74cbdfb555 in ?? ()
   from /usr/lib/x86_64-linux-gnu/libfreerdp-utils.so.1.1
#2 <signal handler called>
#3

[2015-04-15 05:53] giox069 commented on #554
Yes, Remmina has some legacy X11 code, and I was expecting for months problems under Mir/Wayland. Now they start coming :smile:
I will be happy to merge your pull requests after testing them and/or helping you in fixing this.
Which distro/setup are you using ? Ubuntu vivid or vivid-next or something else ?

[2015-04-15 07:10] BrainwreckedTech commented on #520
Is executing the command in the foreground a good idea, or am I getting the wrong impression?  My interpretation of "foreground execution" is that the command must finish execution before attempting the VNC connection.  This won't work for `qcl` nor for `qemu` itself, unless the command line can be something like

[code]

which would (hopefully) allow `mate-terminal` to execute in the background w

[2015-04-15 07:24] antenore commented on #520
It depends by the scenario.

In general I would say yes and it's the main reason of this new feature.

In my case, having the script/program finished and executed successfully, it's a need and the same it's for you.

Some users may need to execute a command before the connection but in background, therefore we should implement also a foreground/background flag.

Now, my code miss completely the fo

[2015-04-15 07:31] giox069 commented on #520
The backgroud execution can just be solved externally running a script which launches a backgorund process, for example:
[code]
So remmina should only take care to wait for script termination before proceeding with the connection.
We can also agree in a kind of return code from the script: if the script/command returns 0, then remmina can proceed to connection. Otherwise Remmina will not connect a

[2015-04-15 07:38] giox069 commented on #520
Or better
[code]

[2015-04-15 07:42] antenore commented on #520
g_app_info_create_from_commandline execute a specified command in foreground, therefore we cannot just check the exit status of the script (or of a program), because just before executing the connection the foreground process could be still running (so no exit status at all).

Your initial proposal, of developing a dialog waiting for the end of the execution, seems to me the most efficient one.

g

[2015-04-15 08:31] #537 closed

[2015-04-15 08:34] giox069 commented on #525
To @MightyCreak @xhpohanka and other arch users: the AUR "remmina-git" package has been updated with remmina 1.2.0-rcgit.3 and fullscreen mode is now working.
I'm closing this issue now.

[2015-04-15 08:34] #525 closed

[2015-04-15 09:32] MightyCreak commented on #525
@giox069 Excellent! Thanks!

[2015-04-15 10:29] jkldgoefgkljefogeg opened #556 "clipboard not synchonizing between RDP sessions and host"
host: Ubuntu 14.04.2 LTS
Remmina 1.1.1-1+739+next+201504141816~ubuntu14.04.1
RDP Windows 7 x64

Neither copy from host to RDP nor copy from RDP to host is working in the last few builds

[2015-04-15 11:08] giox069 commented on #556
Which kind of data are you copying ? Text or images or other data ?
Please check on the connection profile settings, advanced tab, you have not checked "Disable clipboard sync".

[2015-04-15 11:09] #546 closed

[2015-04-15 11:13] realdreams commented on #556
I was copying text. "Disable clipboard sync" is not checked. Clipboard worked before but sometimes it caused the RDP session to be unresponsive for several seconds (a few builds back). Now it stopped working completely.

[2015-04-15 11:49] mcornella commented on #525
Thank you @giox069 :smile:

[2015-04-15 12:56] giox069 commented on #556
Did you copy a big amount of data (ie: an image) over a slow network connection before copying the text ? Please try to close and reopen the RDP connection to the server and see if clipboard transfer starts working again.

[2015-04-15 13:06] realdreams commented on #556
It's copied over LAN, just text. I restarted remmina and the clipboard started working, but still there were times when I tried to copy some text into the RDP session, the paste inside RDP wasn't greyed out but nothing showed up after pasting.

Copying image from browser (copy image) into RDP session does not work. I will report back with more testings.

[2015-04-15 13:18] giox069 commented on #556
Thank you for testing and reporting.
Your testing results will be appreciated.

[2015-04-15 14:39] vanvugt commented on #554
I'm using plain vivid.

[2015-04-15 14:44] Lonniebiz opened #557 "Can't Sustain "Scale and Fill client window" Preference"
giox069 recently, and graciously, added a feature where you can scale a remote session to "[Fill client window when scaled](https://github.com/FreeRDP/Remmina/issues/537)". This feature allows you to scale a remote session without strictly respecting the native resolution's aspect ratio. This is my preferred way to see each remote session I launch.

The feature works great!

However, there is one

[2015-04-15 14:47] giox069 commented on #554
Just some thoughts: remmina is X depenent in two different areas
1. Some X code left around, and this can be migrated to 100%GTK
2. Use of GtkSocket: many secondary plugins (NX, XDMCP...) are just external X programs called by Remmina via GtkSocket. But GtkSocket works only on X.

[2015-04-15 15:21] giox069 commented on #557
Are you using "Quick connect" or a "Saved profile" ? See the image here:
![remmina remote desktop client_001](https://cloud.githubusercontent.com/assets/5477803/7162080/de08fd28-e392-11e4-94dc-e7967cffe8df.png)

Connection in **saved profiles** store their settings every time you close a connection. Also please check to have the following option enabled in the remmina global preferences:

![remmin

[2015-04-15 16:24] Lonniebiz commented on #557
Wow! That works now. I had disabled that option at one point due to [a bug](https://bugs.launchpad.net/ubuntu/+source/remmina/+bug/1370014) in a previous version.

I have over 200 saved profiles. Doing this only one time for each isn't so bad. Now, I'm fine with upgrading to Ubuntu 15.04. If not for Remmina-Next, I would have to stay on 14.04.

Ideally, when that option is NOT selected, you'd thin

[2015-04-15 18:30] BrainwreckedTech commented on #520
In preparation for this, I've added an option (`-t`) to `qcl` to allow the user to specify an X terminal to execute `qemu` inside of and in the background.  The -t option adds a 2-second pause (`sleep 2`) to allow `qemu` to get up and running before allowing `qcl` to exit.

Without `-t`, `qcl` will execute `qemu` in the current terminal in the foreground, and thus not exit until QEMU is finished.

[2015-04-18 05:00] ekoleszar opened #558 "undefined symbol: freerdp_channels_pop_event in remmina-plugin-rdp.so"
On Archlinux 3.19.3-3-ARCH I installed Remmina 1.1.2-1, remmina-plugin-rdesktop 1.1.1.0-2 and compiled freerdp-git 1.2.0.beta1.android7-1 from source. RDP isn't working, when I launch Remmina from the terminal i'm getting the below error

remmina: symbol lookup error: /usr/lib/remmina/plugins/remmina-plugin-rdp.so: undefined symbol: freerdp_channels_pop_event

[2015-04-18 07:21] giox069 commented on #558
As explained in the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki) under "CURRENT STATUS", remmina 1.1 works with freerdp 1.1. Remmina 1.2 works with freerdp 1.2. You cannot exchange the versions.
So: go to AUR and compile also remmina-git, it will bring you remmina 1.2.

[2015-04-18 07:32] giox069 commented on #557
I'm happy you find a way to make it work. We could also put a global preference to be used "by default" when using quick connect and when creating a new connection profile. But this will further make confusion to the user: too many options which do the same thing in different places are just confusing, as you could see. Adding a "override" as you propose, will give a third choiche on every visuali

[2015-04-18 07:32] #557 closed

[2015-04-18 07:36] giox069 commented on #551
What do you mean with "connect to a webserver" ? Remmina is not a browser, nor a telnet client.

[2015-04-18 10:01] muflone commented on #551
@vcordes79
I've deloped a separated plugin to browse web pages using an integrated WebKit browser for Remmina 1.1.
You can find it here
http://www.muflone.com/remmina-plugin-webkit/english/
I'm not sure if it works with the latest Remmina, in the case please file an issue in GitHub.

[2015-04-19 18:39] vcordes79 commented on #551
Hello, that's exactly what I mean. Any Chance this could be officially added to remmina? I would like to use remmina as a central cockpit to connect to my servers (this works via rdp / ssh / vnc) and devices. For devices an integrated browser plugin would be nice (printers / smart switches / nas, ...). Mostly the connections need to be tunneled, so I cannot use a plain webbrowser.

[2015-04-20 01:09] ekoleszar commented on #558
Oh my mistake! Thanks for your quick response.

[2015-04-20 01:09] #558 closed

[2015-04-23 21:00] csallen1204 opened #559 "Getting message that VNC plugin is not installed even though it is"
I use the remmina-next ppa on Ubuntu 14.04

Using the lastest VNC plugin (1.1.1-1+742+next+201504151816~ubuntu14.04.1) I am getting an error message that the Protocol VNC plugin is not installed.

[2015-04-24 06:19] giox069 commented on #559
can you paste the output of
[code]
? Thank you.

[2015-04-24 06:28] ozbek opened #560 "Uzbek language support"
Hello

I am using 64-bit Ubuntu 14.04 and Remmina is installed from official PPA (currently installed **1.1.1-1+742+next+2015041518**).
However, I don't see `remmina.mo` at `/usr/share/locale-langpack/uz@cyrillic/LC_MESSAGES/`.

Is this intentional? If yes, is there anything that I may help to include Uzbek locale in official build?

Thanks.
##

[2015-04-24 14:04] csallen1204 commented on #559
Sure, here you go:

user@laptop:~$ dpkg --list "remm*"
Desired=Unknown/Install/Remove/Purge/Hold
|
Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name                               Version Architecture
Description
+++-==================================-======================-======================-========

[2015-04-24 14:56] giox069 commented on #560
I have not deep knowledge of ubuntu packaging system. I can see that remmina files in ``/usr/share/locale-langpack/`` comes from a package called ``language-pack-gnome-XX-base``, and not from the remmina-next PPA.
**uz@cyrillic** language is a new (renamed) language that you put in remmina 1.2 recently, so it can't be found on ``language-pack-gnome-XX-base``.
I'm asking more info on this to @dktrk

[2015-04-24 15:10] giox069 commented on #559
Packages seems to be installed correctly. And the PPA works on my PC.
Can you launch remmina from a terminal and paste here the text output of the error you should see printed on the terminal ?

Have you previously compiled remmina+freerdp by yourself or following the wiki guide ?

If you want, you can also try to remove packages and reinstall the PPA:

1. Look into directory ``/etc/apt/soruces.li

[2015-04-26 00:31] #553 closed

[2015-04-26 00:37] MoonSweep commented on #481
Same problem with v1.1.1 (Debian Jessie) on MATE desktop. I retitled the Debian bug mentioned by OP and added this info.

[2015-04-26 08:04] giox069 commented on #481
Just to update this issue:
The "fullscreen toolbar" has been completly changed in Remmina 1.2.0-rcgit3 ("next" branch), changing from a popup window to a GtkOverlay+GtkRevealer widget, available since GTK3.10.
The main pull request for the new toolbar is here: ttps://github.com/FreeRDP/Remmina/commit/726acdb7daa9c1e5b614a7ed6b3c2aa8b889169c and some subsequent minor fixes.
I could also backport th

[2015-04-26 10:18] Hubbitus commented on #481
Thank you Giovanni. If it is not trivial to backport, I think it have no worth doing so for Fedora.

[2015-04-26 16:40] MoonSweep commented on #481
More info : it seems to happen only when the display is scaled. I managed to find a temporary workaround to make the bar appear: switch to non-scaled (Ctrl_R+S) and the bar will appear, and it will stay even after switching back to scaled display; but the trick must be re-done after each connection. So maybe the fix won't need a full backport of the new widget, you only need to find why the bar do

[2015-04-27 12:43] Spojler commented on #510
When I can expect Remmina any new version with this feature?
If you don't have hardware for testing, then i'll volunteer :)
I use most Debian/Ubuntu/CentOS.

[2015-04-27 13:11] ozbek commented on #560
For reference I renamed the language file to **uz@cyrillic** because my local build is correctly working with that naming convention.

Although, there are large Uzbek speaking communities in neighboring countries (Afghanistan, Kazakhstan, Kyrgyzstan, etc), Uzbekistan is the only country where Uzbek is officially . So, having the country code is somewhat redundant anyway.

That said, imho having le

[2015-04-29 01:39] clsv opened #563 "Missing connection icons in tray menu"
The problem is that the icons in tray menu are not displayed. In version 1.0 all good. I was testing in debian, ubuntu and xubuntu, in all systems same problem.
Thanks for the good program, and sorry for the poor english.

![ubuntu_0 9](https://cloud.githubusercontent.com/assets/5821199/7383524/8e810024-ee29-11e4-904e-72aa3d34e4b3.png)
![ubuntu_1 2](https://cloud.githubusercontent.com/assets/58211

[2015-04-29 03:24] ozbek commented on #504
This feature is not working on Ubuntu (1.1.1-1+745+next+201504260616~ubuntu14.04.1):

Regardless of the user setting, button icons are always shown, menu icons are never shown.

[2015-04-29 03:30] hoyang commented on #421
yes, very useless and ugly.

[2015-05-01 00:09] ryantate13 opened #564 "Full screen toolbar missing in Gnome 3 Ubuntu 15.04"
Worked fine in 14.10. No RDP connection has the toolbar in full screen mode in 15.04 however. I tried deleting ~/.remmina but that didn't help.

[2015-05-01 07:12] giox069 commented on #564
Please read FAQ 3 here [Remmina Usage FAQ](https://github.com/FreeRDP/Remmina/wiki/Remmina-Usage-FAQ)

[2015-05-01 07:23] ryantate13 commented on #564
I see, per the FAQ:
This has been fixed under remmina 1.2.0-rcgit.3 compiled with GTK+ 3.10 or newer.

Is it possible to get version 1.2 through the PPA?

[2015-05-01 07:29] giox069 commented on #564
At the begining of the [Remmina Wiki Home Page](https://github.com/FreeRDP/Remmina/wiki), you can find the three lines needed to install the "remmina-next" PPA for ubuntu.

[2015-05-02 20:01] antenore commented on #563
Under GTK3, icons in the system tray are not supported anymore.

[2015-05-02 20:01] #563 closed

[2015-05-02 20:07] antenore commented on #554
@giox069
IMHO NX and XDMCP should be kept out of the building process (let's say disabled by default) till someone will rewrite them. Do you think we have several users using these plugins?
Which other code is still using X11? I saw only the plugin related ones.

[2015-05-02 20:12] antenore commented on #545
@Faraclas can we close this or is still a Remmina issue?
@repzilon thanks for your help

[2015-05-02 20:29] antenore commented on #547
@Lonniebiz
Making the search box "expandable" doesn't look nice, in the future I'll move it somewhere else.

In the meanwhile I've made it bigger, I'm going to commit, let me know what do you think.

[2015-05-02 20:32] #547 closed

[2015-05-02 20:38] antenore commented on #551
@vcordes79
Beside we don't have control and ownership on external plugins, adding or rewriting a new one makes sense only if when we have enough users using or asking for it.

What we can do for you is trying to support in case you have some specific issue. What I recommend you is to advertise this feature or to try to implement it yourself and join us.

I close this, but you can reopen it in the

[2015-05-02 20:38] #551 closed

[2015-05-02 20:42] antenore commented on #544
@Lonniebiz
I'll take  a look as soon as I have free time.
Thanks for the report

[2015-05-02 20:43] antenore commented on #542
@giox069
Are you working on this? Thx

[2015-05-02 20:50] Faraclas commented on #545
Well, if it is a Gentoo bug, the bug has been filed with Gentoo.  There was
an update to Remmina in the Gentoo repositories, but it failed during
compile.  So while the issue is not closed for me, it may or may not be
closable for your criteria.  Thanks for you help.

On Sat, May 2, 2015 at 2:12 PM Antenore Gatta <notifications@github.com>
wrote:

[2015-05-02 20:52] giox069 commented on #554
Xorg code or GtkSockets calls seems to be in the following files:
[code]
**For Xorg calls:** the work to do to remove them is not very big, so it can be done without big effort.
**For GtkSockets use:** if we disable NX and XDMCP plugin during the build process, linux distributions will never have it available. I have not full usage statistics, but it seems that 10% of the Ubuntu PPA users also ins

[2015-05-02 20:53] antenore commented on #541
Closed because not supported version.

[2015-05-02 20:53] #541 closed

[2015-05-02 20:58] antenore commented on #535
@Siedlerchr I'm not a good developer, but that code looks really crap to me.

Do you have a .vnc to share? Maybe we can implement some import/export tool?

[2015-05-02 21:02] giox069 commented on #542
I stopped working on it some days ago. The main problem here is that the user can open more than one dialog box at a time via the appindicator/systemtray menu. Normally a user cannot open more than one dialog box from the main window.
We should avoid multiple dialog box opening using the appindicator/systemtray menu.

[2015-05-02 21:02] antenore commented on #513
@rathboma
I close this. Just reopen it if you need support.

[2015-05-02 21:02] #513 closed

[2015-05-02 21:28] antenore commented on #530
@flickerfly We close this as we didn't get any answer. Thanks for your comprehension.

[2015-05-02 21:28] #530 closed

[2015-05-02 22:05] Siedlerchr commented on #535
@antenore  Thanks for asking, I provied you a sample .vnc file.
In short, a .vnc file just contains all connection information and other settings.
You can download it here:
https://siedlerchr.owncube.com/index.php/s/VckrBq4aliuAPkF
For the settings name, you maybe could look here.
http://www.uvnc.com/install/viewerconfig.html

I xx-ed the password, it is usually stored/encrypted in (3)DES.
The pas

[2015-05-02 22:12] antenore commented on #520
@BrainwreckedTech
Can we close this? Did I forget anything else?

[2015-05-02 22:15] antenore commented on #251
@giox069
Seems fixed now, I don't see this issue since a long time now. :-)

[2015-05-02 22:19] antenore commented on #208
Since one year we have modified a lot remmina, try to build it following the wiki documentation. Use the next branch if possible.

[2015-05-02 22:19] #208 closed

[2015-05-03 11:17] BrainwreckedTech commented on #520
There's only one minor problem in the implementation.  If the Pre Command executes, forks, and exits, everything works as expected.  If the Pre Command executes in the foreground, Remmina hangs if the VNC connection is used to shut down the remote.

Everything works as expected with this line as the Pre Command:
sudo qcl -w -x 50 -m 512 -p /mnt/qvm/clib-arch.img -t /usr/bin/konsole

Omitting -t ca

[2015-05-03 11:31] giox069 commented on #520
Can you try to put your command in a script file like the following, and ask remmina to execute the script:

[code]
In this way, the qcl command will go in the backtround ('&' at the end of the line) and the sleep 2 will give 2 seconds to your VM to power on before the script terminate and Remmina will take control...

[2015-05-03 12:59] giox069 commented on #251
This is my first patched issue :) I'm closing it now.

[2015-05-03 12:59] #251 closed

[2015-05-03 13:23] BrainwreckedTech commented on #520
Of course, doing exactly as giox069 pointed out would have the same result as just using QCL with the -t option.  But that gave me an interesting idea.  I used this as the Pre Command:

sudo qcl -w -x 50 -m 512 -p /mnt/qvm/clib-arch.img & sleep 2

The PLEASE WAIT dialog remained indefinitely until Cancel was clicked, but Remmina did not hang when its VNC connection was used to shut down the remote

[2015-05-03 13:24] BrainwreckedTech commented on #520
Also, if there's improperly-quoted text in the Pre Command, Remmina bombs.

** (remmina:24019): WARNING **: Text ended before matching quote was found for '. (The text was '/usr/bin/sudo /scr/qcl -w -x 50 -m 512 -p /mnt/qvm/clib-arch.img'')

** (remmina:24019): WARNING **: (null)

zsh: segmentation fault (core dumped)  remmina

[2015-05-04 06:39] Lonniebiz commented on #547
Yes, that looks much better. Now there's plenty of room. Thank you.

[2015-05-04 19:03] giox069 commented on #564
@ryantate13: can I close this issue ?

[2015-05-05 02:12] ryantate13 commented on #564
Yes please, I'm sure the PPA issue is not related.

Ryan Tate

On 05/04/2015 12:03 PM, Giovanni Panozzo wrote:

[2015-05-05 12:04] cxxxx commented on #550
I'd also love that feature.

A workaround I'm currently using is to setup an SSH-connection to the jump-host I'd use as tunnel and enter "ssh user@real-target" as startcommand. Using keyfiles and an ssh-agent, there is no notable difference to a real tunnel.

[2015-05-06 01:16] ozbek commented on #560
Also, this [URL](http://ppa.launchpad.net/remmina-ppa-team/remmina-next/ubuntu/dists/trusty/main/i18n/) is returning 404. Could that be related?

[2015-05-06 19:50] antenore commented on #550
@vcordes79 @cxxxx If I correctly understood your requirement, In general you should be able to achieve it, just configuring your ssh client, using the ProxyCommand option.

http://www.linuxsysadmintutorials.com/configure-openssh-to-tunnel-through-another-server-using-ssh/

Search for "ssh ProxyCommand" with your favorite search engine and let me know if it's enough for you.

[2015-05-06 20:33] antenore commented on #535
OK, we will think about the best implementation, but I cannot provide an end date (well even not a start date) as we have a quite big backlog :-p and just 4 busy hands.

If you want to help out you are welcome.

[2015-05-06 20:57] vcordes79 commented on #550
Hello,
of course there are other ways to achieve this (like port redirection, etc.), but I'd like to have this feature for the same reason I proposed the webbrowser plugin. I want to be able to connect to all my managed machines by using onle one program. I like remmina and the way it manages connections to rdp / vnc (especially the automated ssh tunnel). So I would like to connect to my ssh machi

[2015-05-06 21:04] antenore commented on #550
I understand your point as it happens also to me to have this kind of environments.

Let us think and discuss about its feasibility and complexity.

[2015-05-07 07:38] vcordes79 commented on #550
I didn't look at the code yet but every other plugin has this feature already. So there should be some code that could be used for this.

[2015-05-07 10:56] nathangoing opened #566 "Cursor box"
I get a box around my cursor during RDP sessions. Appears to be mostly the I-beam pointer. Please see the video: http://1drv.ms/1F0cTQa sorry to use my phone, but screenshot software appears to force an invalidation to the layer showing the cursor.

Remmina 1.2.0-rcgit.3
Ubuntu 14.04.1

Thanks
##

[2015-05-07 11:08] giox069 commented on #566
Which version of remmina and which operating system are you using ?
(please, **never** open an issue without providing such data, thank you).

[2015-05-07 11:12] nathangoing commented on #566
Sorry about that! somebody interrupted me while I was typing and completly forgot...

Date: Thu, 7 May 2015 04:08:15 -0700
From: notifications@github.com
To: Remmina@noreply.github.com
CC: nathangoing@gmail.com
Subject: Re: [Remmina] Cursor box (#566)

Which version of remmina and which operating system are you using ?

(please, never open an issue without providing such data, thank you).

—
Reply

[2015-05-07 11:48] giox069 commented on #566
it seems to be something related to the video driver. Which graphic card are you using ?
Can you provide the output of
[code]
Thank you.

[2015-05-07 11:56] nathangoing commented on #566
[code]

[2015-05-07 17:46] giox069 commented on #566
Unfortunately I cannot reproduce it. As explained before, it seems to be a video driver problem. The video driver here is "radeon", the opensource driver included with the linux kernel.
You can try yo update the kernel to 3.19 as explained here: [how-can-i-use-kernel-3-19-in-14-04-now](http://askubuntu.com/questions/598483/how-can-i-use-kernel-3-19-in-14-04-now), it should bring you a newer radeon

[2015-05-07 19:21] nathangoing commented on #566
Thank you, I'll look into that tonight.

[2015-05-07 21:04] 4nanook opened #567 "Remmina nx won't connect with Ubuntu 15.04"
Previously Remmina was working fine with nx plugin on Ubuntu 14.04 and 14.10.  Today I upgraded to 15.04 and it will no longer connect using NX protocol.  It starts up the display like it's going to and then just disappears.  I tried uninstalling and reinstalling, no help.  I then built Remmina 1.1.2 with plugins from source and I am getting exactly the same behavior.

[2015-05-08 13:18] mfuhrmann opened #568 "Provide drap&drop feature"
Hey!

I'm using the tree view in v1.1.0 (Ubuntu 15.04 repository) and it's really annoying, that I can't use drag&drop to switch connections into exisiting groups.
I have about 200 connections and it's not fun to edit each single one.

--
 Marcel

[2015-05-08 13:36] mfuhrmann commented on #568
Another approach: Maybe it's easier to create an option to do a multiple edit on various profiles.

[2015-05-08 13:55] mfuhrmann opened #569 "New grouping mode: All-In-One"
I use Ubuntu Gnome (Shell) and work with some virtual workspaces. Remmina can't handle it, to open new connections in already opened windows (which maybe contains some other open sessions; in register view), if the main window and the session window is seperated on different screens. I hope that was unterstandable...

Here an example:
* Remmina main window is opened on screen 1
* connect to RDP se

[2015-05-08 14:05] giox069 commented on #569
I should investigate a bit deeper on this. In the meanwhile please note the following
1. Please upgrade remmina to the latest devel version 1.2.X. See the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki) for Ubuntu 15.04.
2. Remmina should group new windows with the same group name by default. There is also a setting into Remmina Preferences -> Appearante->Tab interface which changes the gr

[2015-05-08 14:06] mfuhrmann opened #570 "provide Gnome 3 indicator"
Remmina systray feature is placed in the notification area. It's a really nice feature, but in my humble opinion a Gnome indicator should be more practicable.

Just an idea...

[2015-05-08 14:09] giox069 commented on #570
We know that. In the meanwhile, for Gnome Shell under ubuntu and other distributions with canonical's libappindicator support (Fedora), you can install this Gnome Shell extension:
[Gnome Shell appindicator support](https://extensions.gnome.org/extension/615/appindicator-support/)

[2015-05-08 14:38] mfuhrmann commented on #570
Thanks. The app indicator works fine!

[2015-05-08 14:50] #570 closed

[2015-05-08 14:50] giox069 commented on #570
Issue closed, and question added to the FAQs.

[2015-05-08 15:25] mfuhrmann commented on #569
Hey Giovanni,

I did the upgrade. It doesn't matter which grouping mode I use.

Please take a look. I did a screencast: https://drive.google.com/file/d/0ByBnlB0HZwD0MFMtUmxMUksxQ3M/view?usp=sharing

[2015-05-08 16:03] giox069 commented on #569
It's by design, into remmina_widget_pool_find() function of remmina_widget_pool.c: windows are grouped only if they belong to the same screen (monitor), the same workspace and the same group.
Changing the code seems to be quite simple, but it can result in a confusing user experience: when a user opens a new window, he/she expect to see it in the current screen and workspace.

The first solution I

[2015-05-08 16:58] mfuhrmann commented on #569
Some kind of "lost in translation" I guess.
Alle Verbindungen in Reitern = All connections in registers
It sounded like the option I needed.

A new grouping mode/feature should do the job. The definition should be:
* open all sessions in one window
* regardless on which screen this window is open
* for each session one register

I would like to explain my workflow. Just to bring light into the dar

[2015-05-08 18:54] giox069 commented on #567
Unfortunately I have no NX server to test. Can you launch remmina from a terminal windows, connect to the NX server and look if there is some interesting message in the terminal windows when the connection fails ? You can also copy&paste here the text you have in your terminal window after the failure.

[2015-05-08 19:02] #529 closed

[2015-05-08 19:11] 4nanook commented on #567
You can go ahead and kill this bug report, though if you need a machine
to test let me know and I'll be glad to help.  But as it turns out a reboot
made it work with the Ubuntu 15.04 distribution version.  I'm used to having
to reboot to make things work on Windows but not on Linux, so sorry didn't try
that first.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  E

[2015-05-08 20:13] giox069 commented on #567
Thank you @4nanook.

[2015-05-08 20:13] #567 closed

[2015-05-08 20:14] #564 closed

[2015-05-08 21:32] 4nanook commented on #567
You're welcome and sorry for the trouble submission without really having
done adquate troubleshooting on my end first.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable human assistance, not telephone trees or script readers.
  See our web site: http://www.eskimo.com/ (206)

[2015-05-10 12:41] giox069 commented on #542
I investigated a bit more: it's currently impossible to bring on top a window from the systray menu. In our case, the remmina main window. Remmina uses a GTK function called [gtk_window_present()](https://developer.gnome.org/gtk3/stable/GtkWindow.html#gtk-window-present), but that function is usually "filtered" by the window manager, which in many cases converts the window raise request to a simpl

[2015-05-11 11:19] mfuhrmann opened #571 "Workflow for batch import?"
Hello!
Is there a solution to import many profiles from (eg.) a csv file?

Thanks for feedback!

[2015-05-11 11:23] giox069 commented on #571
Usually you can just copy all "*.remmina" files in ~/.remmina/ folder (the .remmina hidden subfolder of your home directory). All settings will be preserved, but passwords will not be included, because they are safely stored under gnome keyring and not into .remmina files.

[2015-05-11 11:28] giox069 commented on #571
Also please note that remmina configuration files will not stay there (into ~/.remmina) for a long time. We have two issues open https://github.com/FreeRDP/Remmina/issues/129 and https://github.com/FreeRDP/Remmina/issues/197 to move configuration files in a more XDG compliant place.

[2015-05-11 11:34] mfuhrmann commented on #571
Hey Giovanni,
thanks for your fast response. But I don't have the remmina files yet. I am searching for a solution to import ~100 new profiles. All should get the same configurations (logins, display etc.). The only difference is the hostname/ip.

[2015-05-11 15:48] jtmoree-kahalamgmt-com commented on #84
BTW.  on our network the firewalls drop connections between me and servers after a few minutes of inactivity.  This makes it look like ssh sessions have frozen.   Might be what's happening to you.

[2015-05-12 13:51] rsyring opened #572 "help-all & help-gtk options not recognized"
[code]
##

[2015-05-12 14:23] giox069 commented on #572
Which version of remmina and under which OS are you running ? The "--help" switch has been fixed a long time ago...

[2015-05-12 14:57] rsyring commented on #572
Is it possible to get the version of Remmina from the command line?  That's actually what started this whole search for me.

I'm running the latest release (1.2.0-rcgit.3) on Ubuntu 14.04.

[2015-05-12 16:35] giox069 commented on #572
Thank you for reporting. I'm investigating on "--help-gtk".
No, there is currently no way to have the version printed on the command line. I could fix it in the next commit, together with the --help-gtk fix.
``-V  --version`` is ok ?

[2015-05-12 16:43] rsyring commented on #572
Just my opinion, but `-v --version` seems better if `-v` isn't already used for something.  Thanks.  :)

[2015-05-12 18:36] giox069 commented on #572
I have just pushed a couple of patches to print version and make `--help-gtk` and `--help-all` work.
The PPA should update in 24 hours.

[2015-05-13 08:59] Bebef opened #573 "How to add custom keyboard layouts to RDP?"
Hi everyone!

In the mailinglist I was told to raise this issue here, so here it is:

How can I add keyboard layouts to the RDP plugin? I can't seem to find ANY references to the keyboard layout section in the preferences dialouge.

I also had a quick look at the github repo but couldn't find anything either.

Sooo... where do the layouts come from?

Regards
  Steffen

[2015-05-13 09:08] giox069 commented on #573
Dear @Bebef , currently Remmina has only two (partly) active developers. None of us developed the keyboard mapping section for Remmina or the RDP plugin. The original developers can no longer be found.
So the only thing I can suggest to you, is to have a look at the [source code of the rdp plugin of the "next" branch in this repo](https://github.com/FreeRDP/Remmina/tree/next/remmina-plugins/rdp).

[2015-05-15 21:24] naisanza commented on #207
I'm using version 1.1.0 and it the clipboard does not sync for me. It did, once, unidirectionally, but then, not again.

[2015-05-18 14:05] rsyring commented on #572
I see the version switches now, but nothing is output.  `--help-gtk` works but:

[code]

[2015-05-18 14:08] rsyring opened #574 "Sorting of hosts in notification pop-up area should not be case sensitive"
The sorting of hosts in the notification pop-up area is case sensitive.  So visually scanning for a host by name is hard b/c it's location depends on whether or not I capitalized the name, which isn't consistent.

The main window sorts host names regardless of capitalization, which i believe is the better approach.

I'd like to see the pop-up listing of host names sort be case insensitive.

Thanks

[2015-05-18 16:28] ComputingFroggy opened #575 "multiple screens in Remmina"
Hi,

I'm using Remmina to connect to remote PC through VNC.
Some times the remote PC has 2 screens, however with Remmina I see only
one screen:
  - is there a way to get the two screens in Remmina (for instance in
tabs, like Anydesk does) ?
  - if it's not possible now, could it be added in a future version ?

Cheers,
L@u

[2015-05-18 18:22] giox069 commented on #572
It seems that remmina cannot communicate with DBus.
I will try to avoid DBus requests during remmina startup, but I'm unable to reproduce your error.  Which desktop environment/window manager are you using ?

[2015-05-18 18:35] rsyring commented on #572
I'm using xubuntu 14.04, so xfce 4.10.

[2015-05-18 19:13] giox069 commented on #574
Fix pushed, let us know if the problem is solved.
Thank you.

[2015-05-18 19:15] giox069 commented on #573
Can I close this issue ?

[2015-05-18 20:51] giox069 commented on #575
Remmina uses libvncclient to connect to VNC servers (http://libvnc.github.io/). It seems that libvnccliena has no multimonitor support. We could try to search an alternative VNC library with multimonitor support, if it ever existed, and make a new vnc plugin for it. But a lot of coding will be needed, and we currently do not have enough development resources.

[2015-05-19 06:47] Bebef commented on #573
Well, I still can't figure out where the list of keyboard layouts comes from or how they seem to magically appear out of thin air, but when even the guys who develop the tool have no idea I guess all hope is lost. :expressionless:

Well, that may have sounded a little more desperate than I really meant it, but still I'm left scratching my head... :confused:

Anyway, I'll close this...

[2015-05-19 06:47] #573 closed

[2015-05-19 09:46] giox069 commented on #573
As far as I can understand, **un**-mapping is done in rdp_event.c here (look at the first part of the "if", when use_client_keymap is false):
[code]
And un-mapping means: reconverting the X11 keycode to the original hardware keyboard scancode.
Unmapping is done by `freerdp_keyboard_get_rdp_scancode_from_x11_keycode()`
Then, after un-mapping, the hardware keyboard scancode is pushed to the remote R

[2015-05-21 13:41] rsyring commented on #574
Looks great!  Thanks for being so responsive!

[2015-05-21 13:41] #574 closed

[2015-05-21 14:59] vanvugt commented on #554
Sorry, I have no need for Remmina any more. The goal was to only make RDP work on the Mir GTK platform. Other protocols way well need fixing but I never cared about those.

If testing with Mir, firstly you need to know "Xmir" is deprecated. Ignore any instructions that mention "Xmir". What you should do is (using regular vivid) install package mir-demos and then run:
    sudo mir_proving_server --

[2015-05-21 23:43] JRGNVZLA commented on #347
Thanks for this wonderful program. I got a problem that cannot log on my office RDS (Windows Server 2008), from Microsoft Remote Desktop (Windows and OSX versions) I can log perfectly on it, but using Remmina I cannot log.

The only difference between both sessions is that on the Microsoft Remote Desktop program my username use this format (SERVER\USERNAME.ZZZ) and server domain format (SERVER\),

[2015-05-26 16:12] realdreams commented on #556
With 1.1.1-1+749+next+201505190046~ubuntu14.04.1, using clipboard or contect menu (right click) in remmina RDP often causes remmina to become unresponsive for a few seconds. And I am unable to copy/paste even inside the same RDP session. Only text was copied into clipboard.

[2015-05-27 20:56] audricd opened #577 "fullscreen multiple screens"
hello,
using remmina 0.9.99.1 on debian wheezy

When I go fullscreen it always goes fullscreen on the same desktop host screen, not the one the window is originally from.

using fglrx

Could that be looked into please?

thanks.

[2015-05-27 21:10] giox069 commented on #577
Currently we maintain Remmina version 1.2 only. You can find compilation instructions on the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki). We do not provide precompiled packages for Debian. After re-testing, you can report here if the problem is still here or not.

[2015-05-27 22:03] jubaronfl opened #578 "no puedo ver la impresora por remmnia"
Tengo instalado linux mint, ingreso por remmina a la plataforma de Windows Server 2008 R2, pero cuando deseo imprimir, la impresora no me sale reflejada, y ya esta instalada y probada en Linux Mint
##

[2015-05-28 07:59] giox069 commented on #571
@mfuhrmann I apologize for the big delay in the answer. There is no direct support in remmina for importing profiles. You can write a script in the language you want which creates .remmina files. Just take a file as a template. The only thing you cannot write in this way, is the user password: when remmina finds gnome keyring in your system, passwords are not stored in .remmina files but inside gn

[2015-05-28 10:48] mfuhrmann commented on #571
Thanks for your help.
Are there any plans to create a mass-import-function like this? If not, feel free to set the *newfeature* tag :-)

Have a nice day!

[2015-06-03 13:53] boeckmann opened #579 "Remmina 1.1.2 does not compile against FreeRDP 1.0.2"
FindFREERDP.cmake checks for FreeRDP >= 1.0. But Remmina does not compile with FreeRDP 1.0.2. Can it be that Remmina requires at least FreeRDP 1.1?!?

Library dependencies for  freerdp-client were introduced in https://github.com/FreeRDP/Remmina/commit/0ea7182893418b855ef5b271fbd39e1e50dd8b98

[code]

[2015-06-03 14:06] giox069 commented on #579
Yes. Read [the wiki](https://github.com/FreeRDP/Remmina/wiki)

[2015-06-06 20:19] wrouesnel opened #580 "Fullscreen windows open on the monitor next to them"
Minor but slightly irritating problem: when clicking fullscreen on an open Window, Remmina always opens the fullscreen window on the monitor to the right of it rather then the monitor it is sitting on.

Wondering if there's an off-by-1 problem with the code - if I put it on the highest numbered monitored it does successfully open on that window.

[2015-06-07 07:23] giox069 commented on #580
Which verson of remmina are you using and uder which OS ?

[2015-06-13 13:14] #579 closed

[2015-06-13 13:19] giox069 commented on #579
We are working to integrate full RDP sourcecode into remmina 1.2, this will hopefully solve a lot of freerdp dependencies problem. I hope we come to a solution in 15-20 days.

[2015-06-14 01:55] mvonthron opened #582 "Crash when using TortoiseGit over a remote Windows through Remmina"
Looks crazy but I repeated it over and over :)

I am connecting from Linux (Xubuntu 15.04, same thing in previous version) to a Windows 7 machine through a VPN. AKA "I work from home on the week-ends".

Remmina's connection is a regular RDP configuration.
Each time I try to use TortoiseGit on the remote machine, the connection closes and I get the "Remmina has closed unexpectedly" message with "do

[2015-06-14 07:22] giox069 commented on #582
Can you try to use our Ubuntu PPA `ppa:remmina-ppa-team/remmina-next` as explained in the [Wiki](https://github.com/FreeRDP/Remmina/wiki) ?

[2015-06-14 13:43] mvonthron commented on #582
I works perfectly! Thanks a lot!

[2015-06-14 13:44] #582 closed

[2015-06-15 15:23] white-gecko commented on #564
Is there also some keyboard shortcut to close the full screen as a workaround?
The [PPA](https://launchpad.net/~remmina-ppa-team/+archive/ubuntu/remmina-next) only seams to have 1.1.1 not 1.1.2 as announced on the blog. And the bug still exists in [1.1.2 as in the debian stretch](https://packages.debian.org/stretch/remmina) repos.

[2015-06-15 16:39] ssieb commented on #564
You should be able to use right-ctrl and f to get out of full screen, then you can use the toolbar.

[2015-06-15 16:40] white-gecko commented on #564
Ah cool, thank you.

[2015-06-16 14:04] giox069 commented on #564
The PPA shows 1.1.1 in the package name, because we have not yet release an official 1.2 release.
But when you install the remmina-next PPA, you will get a remmina 1.2.0-rcgit.X, the same as the current devel branch (the "next" branch), which includes a newer floating toolbar.
And yes: HostKey+F (by default HostKey is right control), lets you to switch between fullscreen and non fullscreen mode.

[2015-06-16 20:12] lestevam opened #583 "Clipboard + Windows 2008 Server R2 SP1 + Google Chrome"
HOST: Elementary OS Freya
RDP: Windows Server 2008 R2 SP1
Last compilation: 06/09/2015

If I try to copy any text of the google Chrome's address bar the Remmina clears the clipboard, enabling the debug window appeared the following messages:

[RDP] Cannot paste now, I'm transferring clipboard data from server. Try again later

The text to be copied is a URL and not think it's big enough to deliver

[2015-06-16 20:38] thecrazy opened #584 "External tools broken?"
None of the built in scripts work properly, they do run commands but the variables used in the examples: $ssh_username $password and $password are not set.

I could be wrong but it seems the code tries to source the .remmina file associated with the selected entry before running the script, unfortunatly the values dont seem to make it to the subshell.

Maybe I just have the wrong variables. I trie

[2015-06-16 21:17] antenore commented on #584
Thanks for the report. I'm looking into it
@thecrazy

[2015-06-16 21:43] antenore commented on #584
How do you use them?

Normally you should execute the external tools from the File Menu in the Main Remmina window, that is the one where you can change the settings for each connection.

So you should first initiate a connection and then use the external tools.
A requirement of the external tools is that you should have gnome terminal installed, this is gonna change because it really sucks :-P

T

[2015-06-17 02:22] wrouesnel commented on #580
0.9.99.1 from the Ubuntu Trusty packages.

[2015-06-17 07:03] giox069 commented on #580
Try to upgrade to the latest 1.2.X version. For ubuntu 14.04 and above use the PPA "remmina-next" as explained in the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki)

[2015-06-17 20:17] giox069 commented on #583
Thank you for reporting. I have been able to reproduce the bug. The clipboard support has currently some problems and needs to be fixed. See also issue #556.
I'm marking this issue as a bug and I hope I will be able to fix in the next weeks.

[2015-06-18 01:08] thecrazy commented on #584
External tools are accessible from the contextual menu when right clicking on an entry in the Main Window ( the list of remote servers ). I have not tested launching them from the tools above when a connection is already established but I will test. I would expect them to also work from the main window if they are accessible there.

Another detail, for SSH connections we cant save the password in

[2015-06-18 15:44] thecrazy commented on #584
I took another look at remmina's main window (were you manage all the connections) and there is no "File" menu. What I have is Connection, Edit, View, Tools and Help.

I'm assuming you meant "external tool"  under "Connection". I tried it but scripts launched from there also encounter the same problem with unset variables.

The same icon used for the "external tools" can also be found in the toolb

[2015-06-18 16:06] thecrazy commented on #584
Here is the stdout from the terminal running remmina:

(remmina:13401): Gtk-WARNING **: Theme parsing error: gtk.css:27:35: Junk at end of value

(remmina:13401): Gtk-WARNING **: Theme parsing error: gtk.css:40:48: Junk at end of value

(remmina:13401): Gtk-WARNING **: Theme parsing error: gtk.css:48:46: Junk at end of value

(remmina:13401): Gtk-WARNING **: Theme parsing error: gtk.css:59:58: Jun

[2015-06-18 19:50] antenore commented on #584
Really strange, I cannot reproduce your issue.

Which distribution (or OS) are you using? Which version?

[2015-06-18 19:52] thecrazy commented on #584
Xubuntu 15.04

[2015-06-18 20:09] antenore commented on #584
Can you confirm that ping, nslooukp and traceroute are not working?

Regarding filezilla you are right, using a password doesn't work.

If you need to transfer files via ssh, did you try the simple file transfer client included with remmina?

Open an SSH connection and click on the Tools icon, you should have "Open Secure File Transfer..."

We will see what we can do to fix the external tools, but

[2015-06-19 16:01] ivansabik commented on #124
Really annoying, I'm using two monitors with different resolutions and this is always happening. As workaround I change the small monitor's resolution to be smaller in width than the one I want the full screen on.  Then make Remmina full screen after that setting back original width resolution.
I found somewhere in other bug report that Remmina always makes the full screen on the monitor with the

[2015-06-19 16:11] Jean-Dom commented on #124
Nearly 3 years to solve such a problem.
Maybe a bit long, doesn't it?

[2015-06-19 16:12] Jean-Dom commented on #124
For "dkruyt commented on 21 Oct 2012": Yes, it was Remmina TABs.

[2015-06-20 23:24] antenore commented on #331
In your ssh_config file, you should have an option like:

[code]
So this is a duplicate of #235
I'll take a look on this

[2015-06-21 01:03] antenore commented on #235
I've added the support for ~/.ssh/config, but keep in mind that most of the ssh options are not supported by libssh , so I'm not sure it will works as you like, please test it.

I'm going to merge this in 'next'

[2015-06-21 01:07] antenore commented on #302
look at #235 , I'm not sure it'll work because libssh does not support all the ssh options.

Duplicated of #235

[2015-06-21 01:10] antenore commented on #271
Closed as no feedback given, please reopen if you still have the issue.

[2015-06-21 01:10] #271 closed

[2015-06-21 04:48] bartanxas commented on #395
+1

[2015-06-21 04:49] eovolkov commented on #395
+1

[2015-06-21 08:34] antenore commented on #395
Please test the last commit on next, you have to configure it on the ~/.ssh/config file.

[2015-06-21 20:40] antenore commented on #578
Mi español no es bueno @jubaronfl

[2015-06-21 21:13] #520 closed

[2015-06-21 21:14] antenore commented on #520
I've closed this, solving the segfault, please open new issues for enhancements, bugs, and so forth.

[2015-06-21 22:09] antenore commented on #569
Hi @mfuhrmann

First of all a bit of background without entering into details.

As a dumb rule, it's not the job of GUI to decide where to place its own windows. A GUI should only respect the standards, so that the window manager can interact with it seamlessly.

One quick tip.

I'm a tiling window manager user and I often deal with these kind of issues because I don't use the mouse, so I need qui

[2015-06-21 22:09] #569 closed

[2015-06-21 22:28] antenore commented on #47
https://github.com/FreeRDP/FreeRDP/blob/ca274b6b49583c203afebba50d48303dc103110c/client/common/file.c

This is the parser under FreeRDP and we can even use the API:

https://github.com/FreeRDP/FreeRDP/blob/ca274b6b49583c203afebba50d48303dc103110c/include/freerdp/client/file.h

[2015-06-21 22:33] antenore commented on #61
Let me know if still have the problem with the last versions. Thx.

[2015-06-21 22:39] antenore commented on #96
Can you test https://github.com/FreeRDP/Remmina/commit/6bd5bb59b6bdd60318ac2b17bf86302e89b2c682 ?

It adds support to ~/.ssh/config, but not all the options are supported.

[2015-06-21 22:39] antenore commented on #83
Can you test 6bd5bb5 ?

[2015-06-21 22:45] antenore commented on #94
Sorry for the huge late

Does #520 can solve your issue?

Otherwise I'll look into it.

[2015-06-21 22:53] antenore commented on #121
Closed as no feedback.

[2015-06-21 22:53] #121 closed

[2015-06-22 07:43] hasues commented on #94
I'm not sure.  Does this allow one to set up a VNC session by executing a command to a remote server to spawn the VNC service and then activate the listener or some such?  I'm sure I'm not using the version of Remmina that is being referenced in #520.  Nicolas01's description is adequate in how this is achieved, but it Remmina had no configuration for such in the past.  I provided the the document

[2015-06-22 20:09] antenore commented on #94
Prior commands is a feature I've implemented, that let you execute any commands or scripts before to connect to the server.

In this case, you could execute

[code]
Before to initiate the connection.

Otherwise I didn't get what is your requirement :-P

[2015-06-22 21:18] hasues commented on #94
Looks like this is simply an issue of verbiage.  If the feature allows you to execute remmina VNC connection with a command that you listed, that is what we are needing.  The confusion is the term "prior", as I thought you were discussing prior the the SSH session being established.  Yes, I think this should work.  Apologies for the confusion.

[2015-06-22 21:21] antenore commented on #94
No needs to ask sorry :-) , the important thing is the result.

I close this, but don't hesitate to reopen it in the case you will have an issue.

[2015-06-22 21:21] #94 closed

[2015-06-22 21:41] antenore commented on #129
I've done the migration

https://github.com/FreeRDP/Remmina/tree/xdg-folders

Some thoughts:

1) Code

The code can be improved, at the moment I used the original one just to avoid to break what it's working. Is it acceptable in your opinion?

2) Data, config locations and migration

The .remmina files are saved in the $XDG_DATA_HOME, the remmina preferences in the XDG_CONFIG_HOME

Now, in my opin

[2015-06-23 07:45] rwap2015 commented on #524
I got a similar behavior remmina after updating to  Fedora  21. This disappears if focus mode for gnome windows choosed for "Click" (alternative for "Sloppy"/"Mouse")  in Tweak Tool utility.
![Uploading Screenshot from 2015-06-23 10:37:24.png…]()

[2015-06-23 11:18] giox069 commented on #129
1.  Code: seems to be ok. Please also check the code for locating the external tools scripts in the user home dir. I can't remember how it works.
 2. Remmina is a GUI applications and some users are unable to migrate correctly the configuration files or executing scripts. I think we should do the migration in the GUID. But I'm a bit afraid of it. We should be very paranoid in doing many checks bef

[2015-06-23 18:51] codeocelot commented on #556
I can confirm the bug is happening to me on my ubuntu 15.04 host w/ Win Server 2012 R2 Datacenter (Azure VM).  Toggling 'Disable sync' under 'Advanced Settings'  didn't help.

I don't recall this always being an issue.  I'll keep an eye out for what variable might be causing this.

[2015-06-23 18:52] codeocelot commented on #583
I can confirm the bug is happening to me on my ubuntu 15.04 host w/ Win Server 2012 R2 Datacenter (Azure VM).  Toggling 'Disable sync' under 'Advanced Settings'  didn't help.

I don't recall this always being an issue.  I'll keep an eye out for what variable might be causing this.

[2015-06-23 23:27] antenore commented on #129
I've used a quite safe workflow:

1. If the XDG directories exist, use them.
2. If the old .remmina exists, use it.
3. If none exist, use/create the XDG ones.

[2015-06-23 23:33] antenore commented on #129
Please review #590

[2015-06-24 13:09] sfesfizh opened #591 "Problem with RDP graphics"
Compiled on my openSUSE 13.2, when I connected to RDP host I get following errror:

`(remmina:14771): GLib-CRITICAL **: g_shell_quote: assertion 'unquoted_string != NULL' failed
Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.`

I see desktop but can't see text under desktop icons or  text in skype, for example.
![snapshot1](https://cloud.githubusercontent.com/assets/

[2015-06-24 14:42] giox069 commented on #591
Did you compile the latest (1.2.X) version of remmina found on the next branch ?
Which version of freerdp libraries are you using ?

[2015-06-24 15:25] sfesfizh commented on #591
I have compiled from git by "compile guide in fedora".
freerdp compile from git too.

git clone https://github.com/FreeRDP/FreeRDP.git
git clone https://github.com/FreeRDP/Remmina.git -b next

:~> xfreerdp --version
This is FreeRDP version 1.0.2

:~> /opt/remmina_devel/remmina/bin/remmina --version
Remmina - Version 1.2.0-rcgit.3

[2015-06-24 15:55] sfesfizh commented on #591
Here warnings while 'make' remmina:

user@note:~/remmina_devel/Remmina> make
Scanning dependencies of target remmina
[  0%] Building C object remmina/CMakeFiles/remmina.dir/src/remmina_about.c.o
[  1%] Building C object remmina/CMakeFiles/remmina.dir/src/remmina_applet_menu.c.o
[  2%] Building C object remmina/CMakeFiles/remmina.dir/src/remmina_applet_menu_item.c.o
[  3%] Building C object remmina

[2015-06-24 18:35] giox069 commented on #591
Makefile warnings are ok, they are mostly due to gtk developers that continously deprecate some funcions.
xfreerdp reports an old version 1.0.2, and the version you compiled by following the guide is 1.2.X. (in /opt). So you have two version of freerdp libs installed on your system, and it may be a bit confusing for remmina.
Try the following command to see which freerdp library will be loaded
```

[2015-06-24 18:51] sfesfizh commented on #591
I will try it tomorrow because it is on my work notebook :)

by the way, when I connect through xfreerdp (as described in guide):
xfreerdp +clipboard /sound:rate:44100,channel:2 /v:hostname /u:username

it all ok with my graphics

[2015-06-24 20:59] antenore commented on #591
This is interesting, thanks, but it's related with the preexec commands, not with rdp.
I'll fix this anyway

[2015-06-25 07:41] sfesfizh commented on #591
Thanks for the patch. I have recompiled remmina from branch and now no error with GLib but still having problems with graphics. Almost good in RemoteFX 32 bit and Best quality combination but there are some problems:
![snapshot2](https://cloud.githubusercontent.com/assets/13018569/8349552/91813648-1b26-11e5-892e-e1984ffe6795.png)

In lower quality variations same problems occurred like on screensh

[2015-06-25 09:38] giox069 commented on #591
Can you try to disable RemoteFX and use some other color depth ?

[2015-06-25 09:40] giox069 commented on #591
Ok, sorry, I think you already tried with non remotefx color depths. Unfortunately I cannot reproduce it now. Which graphics card are you using ?

[2015-06-25 09:44] giox069 commented on #591
If possible, could you also restart/reboot the RDP server ? I remember some weeks ago when I had a similar problem when using both remmina and microsoft rdp client, but after the reboot of Windows 7 all was ok.

[2015-06-25 09:58] sfesfizh commented on #591
RDP server rebooted but problem still exists.

I use HP EliteBook 6930p and GPU is ATI Mobility Radeon HD 3450 - 256 MB
http://www.cnet.com/products/hp-elitebook-6930p-14-1-core-2-duo-p8700-windows-7-pro-xp-pro-downgrade-2-gb-ram-250-gb-hdd-series/specs/

[2015-06-25 10:06] giox069 commented on #591
Ok. I think I have found it. It's a bug in the most recent version of FreeRDP.
Try to connect again with xfreerdp as you tried before, but add the switch `/gdi:sw` to the xfreerdp commandline. And confirm me that you have the same problem... I hope so :)

[2015-06-25 10:10] sfesfizh commented on #591
Oh, yes, you got it! :)
![snapshot3](https://cloud.githubusercontent.com/assets/13018569/8352144/90f74e96-1b3b-11e5-8b30-a79f09f1e0e4.png)

[2015-06-25 10:21] giox069 commented on #591
Ok, they broke the software renderer again :(
Two alternatives for you now:
  1. I'm now looking back in the freerdp commit history to find where the bug appeared, just wait some hours and I will give you the correct commit number for recompiling FreeRDP.
  2. We are currently working on integrating a specific working FreeRDP version into remmina. We are almost ready for this, and the work is in t

[2015-06-25 10:43] sfesfizh commented on #591
Thanks a lot, good man !! :) Now all works great!
Issue has been resolved

[2015-06-25 13:13] giox069 commented on #591
Thank you for reporting. I'm happy that now all works.
I opened an issue with FreeRDP here: https://github.com/FreeRDP/FreeRDP/issues/2732
and I'm closing this issue.

[2015-06-25 13:13] #591 closed

[2015-06-25 14:58] giox069 commented on #345
I have just submitted a pull request for freerdp
https://github.com/FreeRDP/FreeRDP/pull/2734

[2015-06-25 19:53] #129 closed

[2015-06-25 20:29] antenore commented on #571
@mfuhrmann

At the moment, we are really busy with other issues, we work on Remmina in the free time, it would be great if you'd like to implement them yourself.

We will be more than happy to evaluate your pull request and eventually merge it in our main development branch.

In the meanwhile, sorry for this, we will close this as it's not an issue nor a feature request we can support.

[2015-06-25 20:29] #571 closed

[2015-06-25 20:36] antenore commented on #578
@jubaronfl
You're probably using an old version of Remmina, try to follow the wiki and compile an updated version.

I'll close this issue in the next days, except you will have some news for us.

[2015-06-25 20:52] antenore commented on #560
@ozbek could you kindly see if someone else can help with the Remmina PPA (maybe you? can you obtain the rights?)

[2015-06-25 21:00] antenore commented on #528
Thanks for this report and sorry for the late answer.

This is more likely an issue with FreeRDP, but to confirm it I need as well an IPV6 setup.

@giox069  can you help out on this? And you Pavel can you ask to have reported the issue to obtain a back trace?

Thanks in advance

[2015-06-25 21:02] antenore commented on #528
also...
https://github.com/FreeRDP/FreeRDP/issues/1949

So the user should test as well with xfreerdp /v:[ipv6_adress] or /v:dnsnamethatresolvestov6

If it works it's our issue, otherwise a FreeRDP problem

Thanks!

[2015-06-25 21:20] antenore commented on #73
@mpieuchot
Is it too late to ask your support? The first link is not available anymore.

We have implemented tons of new features and fixed tons of bugs and we would love to have Remmina working also on OpenBSD

[2015-06-25 21:23] antenore commented on #527
Hi Pavel, I cannot replicate this issue with the last Remmina version, I'm afraid we can't do anything.

I keep the issue opened because it's a potential bug.

[2015-06-25 21:28] antenore commented on #167
Do you still have the issue with the last Remmina version?

[2015-06-25 21:29] antenore commented on #174
Do you still have the issue with the last Remmina version?

[2015-06-25 21:30] antenore commented on #147
Do you still have the issue with the last Remmina version?

[2015-06-25 21:31] antenore commented on #176
We have to review the SSH plugin

[2015-06-25 21:33] antenore commented on #177
Do you still have the issue with the last Remmina version?

Can you also please try with the xfreerdp command line?

[2015-06-25 21:34] antenore commented on #185
Is this still an opened issue?

[2015-06-25 21:36] antenore commented on #186
I think this should be fixed. Please ask for confirmation and let's close it if we don't have answers,

[2015-06-26 03:32] nfreeze commented on #167
It closes faster now, around 5 seconds.

[2015-06-26 03:32] #167 closed

[2015-06-26 06:28] ajacoutot commented on #73
Actually we do not need this patch anymore. OpenBSD has support for grantpt, ptsname, unlockpt... now.

[2015-06-26 06:33] PhilippHomann commented on #147
I guess this one could be closed.

2015-06-25 23:30 GMT+02:00 Antenore Gatta <notifications@github.com>:

[2015-06-26 07:46] #147 closed

[2015-06-26 15:22] mikioma commented on #177
Hi!!

xfreerdp worked when remmina didn't (by the time I issued this problem).

Now, I've just tried it with Remmina's latest version... and it works!!!!

Should I mark this issue as "solved"

Thanks so much. Kind regards,

2015-06-25 23:33 GMT+02:00 Antenore Gatta <notifications@github.com>:

[2015-06-26 17:11] uzbadmin commented on #560
I hope, I can help to translate into Uzbek language.

[2015-06-26 21:39] antenore commented on #73
Thanks @ajacoutot , if you want to see any OpenBSD patch included in the Remmina development branch, just let me know, I'll be happy to support you.

[2015-06-26 21:40] antenore commented on #147
Thanks @PhilippHomann

[2015-06-26 21:43] antenore commented on #560
Welcome @uzbadmin , can you see with @ozbek ?
Rahmat :-)

[2015-06-26 21:46] antenore commented on #177
@mikioma this is a really good news :-)

[2015-06-26 21:46] #177 closed

[2015-06-26 22:14] antenore commented on #550
The SSH plugin needs some refactoring and I'm working on it, in the meanwhile you can use a new Remmina feature, the preexec ( or prior commands, it's hard to name it :-) ).

Before to establish any connection, with this feature, you can execute a command or a script

![2015-06-26-235647_446x511_scrot](https://cloud.githubusercontent.com/assets/5975/8388300/b72c9992-1c60-11e5-8f13-02e09c17cf15.png

[2015-06-26 22:19] ajacoutot commented on #73
Thank you. I'll have a look whether there's anything we use locally and open a pull request if anything warrants it.

[2015-06-30 08:22] laurentmartelli opened #594 "Configure location of RDP shared folder"
Shared folder does not work for me when connecting on Windows 2003 with RDP. But it looks like the reason is I can't access the shared folder on the windows remote because of restrictions on the account I use. I've read that Remmina creates the shared folder somewhere under \Network, which I can't access.

It would be nice to be able to configure the location of the share folder on the remote Wind

[2015-07-02 15:17] calestyo opened #596 "support VNC on UNIX sockets"
Hey.

It would be nice if VNC connections could be made on UNIX sockets.

Cheers,
Chris,

[2015-07-02 15:19] calestyo opened #597 "support VNC via a proxy command"
Hey.

Similarly to #596, it would be nice if VNC connections could be made directly via a proxy command (i.e. no TCP, no socket, but rather stdin/out).
This would facilitate what's discussed here: https://github.com/TigerVNC/tigervnc/issues/160 i.e. making connections (possibly tunnelled via ssh) to an Xvnc that runs in -inet -nolisten tcp mode.

Cheers,
Chris,

[2015-07-03 10:00] opensamba opened #598 "Cursor disappear and doesn't refresh in RDP"
Hi,
using remmina in RDP mode to a windows server.
when I'm connecting the mouse cursor works fine, then if I change the focus from Remmina to another application and back to remmina the cursor disappear but exists (I can see the hover of the mouse on some apps).
Similar issue happen if during the same RDP connection the cursor change,
example: I move the mouse to resize a window or edit an input

[2015-07-03 10:47] jeremyvisser commented on #598
Some more info: https://github.com/FreeRDP/FreeRDP/issues/2755

[2015-07-03 12:23] giox069 commented on #598
@jeremyvisser: FreeRDP issue 2755 is a regression introduced recently and fixed. opensamba is using an old version of both remmina and freerdp.
@jeremyvisser which version of remmina are you using ? Under which OS ?

[2015-07-03 13:02] opensamba commented on #598
@giox069 1.2.0 is an old version? which version should I use to avoid this bug?

[2015-07-03 13:18] giox069 commented on #598
@opensamba: I just need more specific version from @jeremyvisser to compare with the version you reported at the beginning of this thread. The -rcgit.X part is also useful. Currently we are working on Remmina 1.2.0-rcgit.3 and we hope to switch to 1.2.0-rcgit.4 in a couple of weeks.
I have NEVER seen this bug before, so I'm just trying to reproduce your environment to see this bug.

[2015-07-03 13:19] jeremyvisser commented on #598
@giox069 I will try to get back to you with more detail next week some time.

[2015-07-05 14:11] penalvch commented on #534
giox069, just to advise, I updated to Wily and the issue persists.

Despite this, given Wily is the latest version of Ubuntu and still in development, could the stable 1.2 branch fixes be backported to Wily's 1.1.2? Or, if this is too much effort, would 1.2 be backported in whole to Wily?

apt-cache policy remmina
remmina:
  Installed: 1.1.2-2ubuntu2
  Candidate: 1.1.2-2ubuntu2
  Version table:
 *

[2015-07-05 14:44] giox069 commented on #534
The remmina-next PPA is currently not available for wily.
@dktrkranz is it possible to update it ? Also @dktrkranz please note: we have a branch of remmina  which does not depends on freerdp, but it brings its own copy of freerdp inside. It will be merged in the "next" branch in 4-5 days. Could it be used into the remmina-next PPA ?

[2015-07-05 18:27] penalvch commented on #534
glox069, problem confirmed resolved via https://launchpad.net/~remmina-ppa-team/+archive/ubuntu/remmina-next :
remmina 1.1.1-1+761+next+201506260301~ubuntu15.04.1

[2015-07-05 23:35] jeremyvisser commented on #598
@giox069 The revision of Remmina I was using to test was e2f7db8390c7fde98671c1970254e6fb8e5ebc16. I have tested once again with revision 3ccb33ed77a7729fd44e64120fcdbe0855b09d27 and the behaviour has not improved.

I can reproduce the issue with FreeRDP 358289fb5130fe46cc2f3cbd93c5e2255c890415 but not 16d36e30838b2aa0280cb043d6a8f12aaeaec994.

[2015-07-06 06:39] dktrkranz commented on #534
Sure @giox069, I just scheduled the builds.

For the embedded freerdp, are you going to release a 1.2 version with it? Normally this is discouraged for security and maintenance implications. Are there specific reasons to do so (e.g. too frequent ABI breakages) ?

[2015-07-06 07:37] giox069 commented on #534
@dktrkranz thank you for scheduling the wily build on the remmina-next PPA.
About embedded FreeRDP: I'm opening a new issue now explaining all the things we did and we would like to do. You will receive a new notification later.

[2015-07-06 08:09] giox069 opened #599 "Moving to an embedded version of FreeRDP"
To distribution maintainers @dktrkranz @Hubbitus (maybe @weberhofer ?). Please @antenore add as many people as you like to the list.

After some internal discussion, discussions with other senior programmers, we decided to embed a specific version of FreeRDP into the code of remmina.
Currently you can find this version in the "remmina_freerdp" branch, and it's working. We hope that we will be able

[2015-07-06 09:18] dktrkranz commented on #599
Personally, I think this could cause more issues on the long term. Maintaining a private copy of the library could allow for stability of Remmina code now, but more problems will come when integrating code with latest version of FreeRDP.

Speaking for Debian/Ubuntu (but I guess other distributions have similar concerns), we try to avoid embedded libraries as much as we can to avoid security issues

[2015-07-07 23:37] eburkitt opened #600 "Remmina crashes connecting to one remote desktop"
Remmina v1.1.1-1ubuntu1 on Ubuntu 15.04, though the About dialog IDs it as 1.1.0.

This particular connection was working fine until Remmina crashed while I was interacting with it. Now connecting to the remote Win7 computer crashes Remmina every time. If I connect without password the connection remains open until I select my locked session and log in. Other connections continue to work fine. I'v

[2015-07-07 23:54] eburkitt commented on #600
That gdb session is missing a couple of crucial lines. Here's a copy of another one:
$ gdb remmina
GNU gdb (Ubuntu 7.9-1ubuntu1) 7.9
Copyright (C) 2015 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copyin

[2015-07-08 06:17] giox069 commented on #600
You can try to install Remmina 1.2.0.x on Ubuntu via the "remmina-next" PPA, by following the guide at the beginning of the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki).

[2015-07-08 11:23] micsutka commented on #556
host    Ubuntu 14.04.2 LTS
Remmina 1.1.1-1+761+next+201506260301~ubuntu14.04.1
RDP to  Windows XP SP3 32bit
"Disable clipboard sync" is not checked.

Coping any text from host to RDP works, but coping any text from RDP to host does not work.
I've restarted everything (host, client, rdpclip.exe, reconnect, logoff), but no luck.

Previously I used remmina without ppa: clipboard sync in version 1.0.0

[2015-07-08 18:19] eburkitt commented on #600
giox069, thanks for your quick response. After I posted I was able to reestablish a connection to the remote computer by having an on-site co-worker log me off, then logging in fresh remotely. Then, this morning Remmina crashed again with that connection open, though I was able to reconnect. I'm installing from the PPA and will see how that goes today.

[2015-07-08 18:22] eburkitt commented on #600
What I presume is the PPA version also IDs itself as 1.1.0. How can I tell for sure what version is running?

[2015-07-08 19:11] giox069 commented on #600
The PPA "remmina-next" has packages named "remmina 1.1.1", but it's currently following out latest remmina developement, so it contains remmina 1.2.0-rcgit.3, updated at every commit on the "next" github branch. I think the packager used 1.1.1 version because we didn't yet release an official 1.2.0 release.

You can see the real remmina version, after installing it, in two ways:
 1. From the the H

[2015-07-08 20:26] Hubbitus commented on #235
Thank you very much!

[2015-07-08 20:29] Hubbitus commented on #528
User asked.

[2015-07-08 20:34] Hubbitus commented on #186
Thank you. It is very old bug and reported against Fedora 17 which does not supported long time. I think it may be closed.

[2015-07-08 20:39] antenore commented on #186
Thanks Pavel

[2015-07-08 20:39] #186 closed

[2015-07-08 20:40] antenore commented on #235
^_^

[2015-07-08 20:41] Hubbitus commented on #599
Hello @giox069, @antenore.
It is bad Idea.
Fedora strict prohibid bunle libraries: https://fedoraproject.org/wiki/Packaging:No_Bundled_Libraries
As far as I known Debian have siilar policy: http://www.debian.org/doc/debian-policy/ch-source.html#s-embeddedfiles

So it sill be a big problem for us.

In many time we do opposite work - ask autors and work tgethe to unbundle libraries from project.

[2015-07-08 20:50] antenore commented on #599
Thanks Pavel, we suspected this. Still, we are in a hurry to have a working and stable FreeRDP library, that's why we took this (not final) decision. @dktrkranz asked to our "colleagues" on the other side of the mother Project, https://github.com/FreeRDP/FreeRDP/issues/2678#issuecomment-118784535

I add you to the discussion, so that you will be aware of new replies.

@dktrkranz Thanks for your su

[2015-07-10 07:00] antenore commented on #161
Please open a new issue if you still have problems with the last (branch next) remmina version

[2015-07-10 07:00] #161 closed

[2015-07-10 08:31] #365 closed

[2015-07-10 08:31] #391 closed

[2015-07-10 11:46] weberhofer commented on #599
Also for (open)SUSE it's problematic to have bundled libraries. There are some exceptions, but its hard to convince reviewers to check in such projects.

[2015-07-10 12:45] #223 closed

[2015-07-10 12:45] #534 closed

[2015-07-10 15:25] antenore commented on #597
libvnc, that it's used by the vnc plugin, already support unix sockets, I'll see if we can easily add it to remmina.

https://libvnc.github.io/doc/html/group__libvncclient__api.html#gafbcc99a23b84be80e703171e39dcc36d
https://libvnc.github.io/doc/html/libvncclient_2sockets_8c_source.html

If you like to hack and have a bit of time, maybe you can try to implement it?

[2015-07-10 15:35] antenore commented on #596
This issue is duplicate of #597

[2015-07-10 15:36] #596 closed

[2015-07-10 15:39] #73 closed

[2015-07-11 15:04] zajc commented on #556
I have the same issue no matter which version I'm using (Xubuntu 15.04 or remmina-next ppa). Clipboard is not working no maatter what I do and this is very annoying.
I must use xfreerdp 1.1.0 from commandline instead remmina.

[2015-07-11 16:41] hugosthlm opened #601 "Remmina hangs when using xdmcp"
Remmina hangs when I try to use xdmcp. It works with vnc. Xephyr works when I use it separately. I get the same problem on a different user on the same machine. I use Arch linux. I recently updated xorg server and Xephyr to 1.17.2-2. I also updated the catalyst drivers to 15.7-1. I did not manage to find any information whatsoever about why this application hangs. Nothing in any logs, debug window

[2015-07-11 17:51] micsutka commented on #556
Why is this issue still in unconfirmed state?
Because we are waiting to a new stable freerdp (https://github.com/FreeRDP/FreeRDP/issues/2678#issuecomment-118784535)?

[2015-07-11 18:07] giox069 commented on #556
@micsutka: its' unconfirmed because it's a bit hard to reproduce and we had no time to test it a lot. It seems that for some people (me included) the clipboard stops working after some time we use remmina, and it's impossible to understand when it happens. For other people, the clipboard never works.
I think I will take a look at the code during the next week.

[2015-07-11 22:06] antenore commented on #601
Thanks for the report.
The xdmcp plugin is quite old, hopefully, we'll work on it in the future as we  are extremely busy with other (Remmina's) tasks.

In the meanwhile, you can try to provide a backtrace with gdb.

Which remmina version are you using (AUR or community)?

[2015-07-13 10:11] giox069 opened #604 "Bad port stored into known_hosts2"
Newer versions of freerdp also store the TCP port number into the known_hosts2 file. This has two unwanted side effects for remmina:
**1.** Remmina stored the TCP port within the hostname field when port is different from 3389, for example, so we end up with two different syntaxes for freerdp and remmina when connecting to ports which are not 3389

[code]

We can fix at the remmina side just remov

[2015-07-13 12:55] sfesfizh opened #605 "Reverse layout switching doesn't work"
Hi!

I'm using Remmina for connect via RDP to windows 7 terminal.
When I used KRDC on the same host it was no problem with layout switching on both directions (Left Ctrl+Shift from 1st to last layout and Right Ctrl+Shift from last to 1st layout) but in Remmina I can switch only in one direction (Left Ctrl+Shift).
Problem is on Ubuntu and OpenSUSE (tested with)
Please help

[2015-07-13 14:10] giox069 commented on #605
Hi.
In remmina, the "Right Ctrl" key is reserved as "host key". You can change it in the global remmina preferences.

[2015-07-13 14:14] sfesfizh commented on #605
It works, thanks!

Sorry for bothering with simple local problem ;-)

[2015-07-13 14:38] giox069 commented on #605
No problem :)

[2015-07-13 14:38] #605 closed

[2015-07-14 10:22] opensamba commented on #598
any luck with this issue?

[2015-07-14 10:27] giox069 commented on #598
Totally unable to reprocude. I have 2 arch installation of remmina and 4 ubuntus. None of them has cursor problems :(

[2015-07-14 14:45] yorrd opened #609 "xfce4 applet gone?"
Does the xfce4 panel plugin not exist anymore? Cannot find it since remmina has been moved to its own domain.
##

[2015-07-14 17:50] opensamba commented on #598
I can reproduce it! just let me know what you may need and I'll try to send it to you

[2015-07-14 18:17] giox069 commented on #598
It seems to me that @opensamba and @jeremyvisser are running different versions of remmina and freerdp, so I'm making a lot o confusion.
What I did not understand is:
1. @jeremyvisser: which OS are you running on ?
2. @opensamba and @jeremyvisser: have you tried to recompile freerdp+remmina from the latest sources in ghthub ? I have almost finished a small guide for arch. If you need it, just ask

[2015-07-14 21:49] sronsiek opened #610 "Exit on disconenct option"
Hi,

Nice tool - credeit where credit is due!

I've created a profile for a particular remote desktop & created a desktop icon
to open it via a call to:

remmina -c <remmina profile file>

Works great - but when I disconnect, the interface closes (as expected) but a remmina process is
still running. This is also very apparent when issuing the cmd from a terminal.

Is there a way / option to exit r

[2015-07-14 23:16] Hubbitus commented on #599
@antenore thank you for information and effort. I leave comment on linked issue and very hope FreeRDP will freeze some API as it is great project together with remmina.

[2015-07-15 08:23] bmiklautz commented on #604
@giox069 best is you make an suggestion on what extra parameter you need where and we'll try to get it to master.

[2015-07-15 17:20] opensamba commented on #598
Hi @giox069 thanks for your reply.

I upgraded, but nothing changes
2.  I'm using version:   remmina-git version : 1.2.0.rcgit.3.r40.g3ccb33e-1
build from the AUR package directly from the git repo: [1]
3. In freerdp the problem doesn't exist, is remmina-only
4. I builded from the AUR  [1] the tar file is here [2]

5. I'm running remmina under Xorg-server Version : 1.17.2-2

[1] https://aur.archli

[2015-07-15 18:18] giox069 commented on #598
@opensamba: are you using freerdp 1.2.0.beta1.android9.r1654.g5f2fa8a-1 from AUR ? Unfortunately it's quite old, and not 100% compatible with remmina 1.2.0.rcgit.3.r40.g3ccb33e-1 from AUR.

[2015-07-16 07:11] glixx opened #613 "Old POT file for launchpad"
It is old POT file with 220 strings, but now must be 344 strings for remmina
https://translations.launchpad.net/remmina/trunk
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24423337-old-pot-file-for-launchpad?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysou

[2015-07-16 07:53] opensamba commented on #598
@giox069 ok, so which version of freerdp works fine with remmina?

[2015-07-16 09:12] giox069 commented on #598
@opensamba: there is no perfect version of FreeRDP to use with our latest remmina (our "next" branch here on github). We suggest to use the latest devel FreeRDP (their "master" branch), because we keep our "next" synchronized with their "master".
I have just finished the guide for compiling the latest FreeRDP and Remmina here:
[Compile Remmina on Arch](https://github.com/FreeRDP/Remmina/wiki/Compi

[2015-07-16 09:15] dove-young commented on #583
The clipboard issue is happening in my environment.  Here is the environment info

* remmina.x86_64 1.2.0-0.5.git.b3237e8.fc22
* Fedora 22 KDE , 4.0.6-300.fc22.x86_64
* Windows 2008 R2

[2015-07-16 09:19] nakic opened #614 "screen won't refresh when connecting to a Windows 7 machine"
Observed behaviour:
- connect to a Win 7 machine
- remmina screen completely blank (grey)
- resizing the window triggers a screen refresh and from then on, I can interact with the remote computer

Expected behaviour: the remote screen should be shown immediately, without having to resize the window to trigger a refresh

Repeatability: 100%

Note that sometimes the resize workaround doesn't help: I

[2015-07-16 09:23] giox069 commented on #598
@opensamba problem reproduced ! In this arch installation (32bit with openbox window manager), the cursor is not appearing ! Which window manager are you using ?

[2015-07-16 09:44] opensamba commented on #598
nice to know is possible to reproduce the problem :)
I'm using gnome 3.16

thanks for the howto, I will try and let you know !

2015-07-16 11:23 GMT+02:00 Giovanni Panozzo <notifications@github.com>:

[2015-07-16 16:29] cristianobertolini opened #615 "Remmina crashes on Ubuntu 15.04"
When i try to use remmina on Ubuntu I connected to a server and then the remmina closes and it is not possible to open anymore. I will be able to open remmina again when my remote section expires.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24448971-remmina-crashes-on-ubuntu-15-04?utm_campaign=plugin&utm_content=tracker%2F431

[2015-07-16 21:25] antenore commented on #613
Hi @glixx , can you please enlighten more what's the issue,

[2015-07-17 08:07] glixx commented on #613
Current POT file for remmina should contents 344 strings, but there is 220 strings only on launchpad.
So, translators think remmina is translated, but translations are out dated.
Does launchpad work for remmina translations or not? If yes, please submit there new POT file for translators. If not, then what is instead of launchpad?

[2015-07-17 08:13] glixx commented on #613
For example, for Russian:

https://translations.launchpad.net/remmina/trunk/+lang/ru
Length - 220 strings, 100% translated.

in git here:
Length - 344 strings, 89% translated.

[2015-07-17 08:48] antenore commented on #613
Yes, sorry now it is clear I'll discuss this with @giox069

[2015-07-17 10:35] giox069 commented on #613
I'm not an expert of launchpad translation service. But the current version of remmina included in ubuntu is 1.1.1, fully translated. Here on github we are developing remmina 1.2.X (not yet stable). Will launchpad accept to translate a software which is not yet stabled, releases and included in ubuntu ?

[2015-07-17 12:32] zfil opened #616 "Wrong path in /usr/share/applications/remmina.desktop since version 1.1.1-1+766+next+201507170316~ubuntu14.04.1"
Installation path is missing in /usr/share/applications/remmina.desktop file:

$ grep remmina /usr/share/applications/remmina.desktop
TryExec=/remmina
Exec=/remmina
Icon=/remmina
Exec=/remmina --new
Exec=/remmina --icon

Moreover for Icon you shouldn't add the path anyway ...

Seen on version 1.1.1-1+766+next+201507170316~ubuntu14.04.1 from ppa:remmina-ppa-team/remmina-next.

It is related to comm

[2015-07-17 13:35] glixx commented on #613
It seems Ubuntu has own translations then. Your source Remmina-1.1.1 for Russian is 94%.
If launchpad does not work for your development, then let's use transifex for translations.
You will upload POT file there when new strings will be available and download ready translations before release. So, translation process will be more comfortable for your team and for translators.

[2015-07-19 08:23] giox069 commented on #599
Thank you @weberhofer @Hubbitus @dktrkranz for all the informations provided. I think this project can be aborted and the branch "remmina_freerdp" deleted. @antenore ? (we can also make a local copy of the branch before deleting it, just to have an archive).

[2015-07-19 08:37] giox069 commented on #598
Fix pushed. Please compile and test it.Thank you.

[2015-07-20 09:48] lanoxx opened #618 "Update Wiki page: "Compile-on-Ubuntu-14.04-and-14.10""
I think the following wiki page needs an update: https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-14.04-and-14.10

When I try to build freerdp on Ubuntu I got the following error when running cmake:

[code]

The wiki still lists gstreamer0.10 as a dependency but I think it should be gstreamer1.0:

[code]

vs.

[code]

I have edited the wiki page to include both `0.10` and `1.0` but I gues

[2015-07-20 16:44] giox069 commented on #618
Hi @lanoxx, thank you for reporting the problem and fixing the wiki. I really can't understand why newer FreeRDP cannot find gstreamer 0.10. I have encountered the same problem it in one recent Ubuntu installation (maybe 15.04). But I was in a hurry and I have no time to deeply test it.
Under which verson of Ubuntu did you compile FreeRDP ?

[2015-07-20 17:34] lanoxx commented on #618
You are mistaken. It looks for **1_0** not **0_10**, so it is looking for the newer gstreamer version but the sample `sudo apt-get install` command only lists the 0.10 packages, so the newer version does not get installed and thus cannot be found.

I am installing under *Ubuntu 14.04*.

[2015-07-20 20:11] antenore commented on #599
Yes, I agree.

I've a copy on my server and I guess you have one as well.

I'm going to delete it in around 24 hours and I'll close the issue as well.

[2015-07-20 20:15] antenore commented on #618
@lanoxx thanks a lot for helping.
If you want you can propose a pull request of that wiki page, would you like to contribute?

[2015-07-21 10:07] Hubbitus commented on #599
@giox069, @antenore thank you very much for understanding!

[2015-07-22 08:51] clipboard opened #620 "RDP component not installed"
Hi.
I installed the last version of remmina and I need to use RDP but I get an error that says rdp is not installed. Is there any way to solve this? If is not, how can I use a version that works fine.

Thanks

[2015-07-22 09:00] giox069 commented on #620
Please add the following data:
1. Which OS are you using ?
2. Which Desktop environment ?
3. Which CPU and architecture ?
4. How did you install it ? Have you compiled the latest "next" branch following the instructions on the wiki ? Or did you use some prebuilt binary (ubuntu PPA ?).
5. Can you start remmina from the command line and copy and paste the text output here ?
Thank you

[2015-07-22 09:17] clipboard commented on #620
1. OS Ubuntu 14.10 x64
2. Unity
3. AMD Turion II Neo 2.2 GHz
4. I followed the instructions on the wiki. I have already done it this way with a lot of computers with the exact same characteristics
5. Error: libfreerdp-core.so.1.2: cannot open shared object file: No such file or directory

[2015-07-22 09:22] giox069 commented on #620
Thank you. Another question:

4. On the wiki there are both instructions for
   a) Compiling remmina from our current "branch"
   b) Installing the PPA "remmina-next", which will provide you with a precompiled binary

Did you follow a) or b) ?

[2015-07-22 14:14] clipboard commented on #620
I did it compiling remmina but now I did it installing the PPA and works fine

[2015-07-22 15:01] giox069 commented on #620
Ok, I think the problem could be around step 7 when determining the correct directory where freerdp libraries are installed:
[code]
It's not ` /opt/remmina_devel/freerdp/lib` in every installation, you must find manually where libfreerdp is. In the future I will update the guide to find libfreerdp .so file automatically.

If the PPA is enough for you, you can close this issue now.
Thank you for re

[2015-07-22 15:30] #620 closed

[2015-07-23 15:33] #598 closed

[2015-07-24 06:33] weberhofer commented on #614
Which version of remmina are you using? I have seen this issue with the current stable version and newer gtk versions.

[2015-07-24 07:53] PhilGoy opened #621 "Remmina crashed when Windows Server TS Session is Remote Controlled"
Remmina crashed when TS Session is Remote Controlled

Remmina works fine on all our four TS Servers (Windows Server 2008 Standard), until the user TS session is remote controlled through Terminal Services Manager. Then it crashes.

Ubuntu 14.04.2 LTS

[2015-07-25 12:08] #554 closed

[2015-07-28 08:10] nakic commented on #614
0.9.99.1

[2015-07-28 09:01] giox069 commented on #614
@nakic please try to upgrade remmina to the latest devel version (1.2.X). Read the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki) to see if you can find an upgrade procedure valid for your operating system.

[2015-07-29 11:24] nakic commented on #614
I need to be able to access an RDP server to get work done so, regretfully, I won't experiment with upgrading to a development version. That basically means using whatever latest official version was released for Ubuntu 14.04.

[2015-07-29 11:39] giox069 commented on #614
I'm sorry but it's impossible for us to fix an old product which is distributed inside a linux distribution. Here you can find Remmina 1.2.X ("next") which is in development. Installing the ubuntu PPA "remmina-next" is quite simple. You can also try with Remmina 1.1.X (on [this PPA](https://launchpad.net/~remmina-ppa-team/+archive/ubuntu/remmina-master)). Remmina 1.1.X is the stable version, which

[2015-07-29 21:17] nakic commented on #614
No problem, I fully understand. I may add the PPA to see if 1.1 works better and report back. Thanks for the support.

[2015-07-31 11:37] ian-abbott opened #623 "Feature request: support RDP to Hyper-V VM consoles"
It would be really nice if the RDP plugin supported connections to the consoles of Hyper-V guest VMs like xfreerdp's /vmconnect option. This uses port 2179 instead of 3389, disables security negotiation, and passes a virtual machine ID (basically a UUID text string) as a pre-connection blob.

[2015-07-31 21:14] BenjaminXiao opened #624 "Microphone redirection not working"
I am trying to get remote microphone redirection to work with RDP. Currently I only see Remote Audio in Playback devices, but no devices are registered under Recording. Is microphone direction even supported by Remmina?

[2015-08-01 09:45] giox069 commented on #624
I don't think it's implemented. Please also test with xfreerdp. Finding how to enable it on xfreerdp will help development into remmina.

[2015-08-03 19:34] BenjaminXiao commented on #624
I've been trying to test with xfreerdp, but on my Fedora 22 machine it keeps segfaulting. The command I am running is:

xfreerdp -u **user** -p **password** --plugin audin --plugin rdpsnd --data pulse -- **ip**

I am using the audin plugin correctly?

[2015-08-05 07:58] fredrik-rambris opened #625 "Have common options in connection groups"
I group connections. All the servers in that group have the same account as we use a domain. It would be nice to be able to have connections inherit settings from parent group/folder. And a global folder with common settings such as resolution, shared folders etc.

[2015-08-05 08:16] giox069 commented on #625
This is a very good idea. I was thinking to do something similar only for username and passwords, but doing it for many other parameters would be nice.

[2015-08-06 00:53] dhugh opened #626 "Redirection of audio to local fails"
Running CentOS 7 on an Ideapad z500 laptop, connecting to a Windows 10 desktop using Remmina 0.9.99.1 w/RDP, when I turn audio on in local mode don't hear anything, the task bar icon in Windows 10 reflects a problem (unspecified).  When I have audio on in remote mode can hear audio on the Windows 10 machine, Windows 10 icon does not reflect an issue. Audio works fine on CentOS 7 laptop, can play t

[2015-08-06 07:40] giox069 commented on #626
Remmina 0.9.99.1 is too old and we cannot make patches it into your distribution. You can try to upgrade to remmina 1.2.X and FreeRDP 1.2.X. See the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki)

[2015-08-06 07:40] #626 closed

[2015-08-06 07:41] giox069 commented on #624
You should try to use one of the latest version of the current development freerdp (1.2.X).

[2015-08-06 11:52] dhugh commented on #626
Thanks Giovanni. Any by the way, what an excellent product! Beats the
many other remote access products I have tried.

On 08/06/2015 03:40 AM, Giovanni Panozzo wrote:

[2015-08-06 18:41] dhugh commented on #626
Just to close out, suggestion worked and now have audio when connecting fromn CentOS 7 laptop to Windows 10 desktop and VMWARE Player and Horizon images I run underneath it.  Again, a very cool product!

[2015-08-06 21:29] Neldogz commented on #391
I am also experiencing the same problems as the original user. Changes are not saving to neither global nor connection specific preferences.

Linux computer1 4.1.4-1-ARCH #1 SMP PREEMPT Mon Aug 3 21:30:37 UTC 2015 x86_64 GNU/Linux
GNOME Shell 3.16.3
Remmina version 1.1.2 - Installed from the official Arch repositories.

Connecting to a Windows 7 64-bit host.

[2015-08-06 21:31] Neldogz opened #627 "Remmina preferences are not being saved"
This is the same issue as documented in: https://github.com/FreeRDP/Remmina/issues/391 which as since been closed.

Changes made within the Remmina preferences dialog are not being saved. This applies to both global and connection specific preferences.

Linux computer1 4.1.4-1-ARCH #1 SMP PREEMPT Mon Aug 3 21:30:37 UTC 2015 x86_64 GNU/Linux
GNOME Shell 3.16.3
Remmina version 1.1.2 - Installed from

[2015-08-06 21:58] giox069 commented on #391
We cannot patch the arch reposiotries. Try to compile the latest version of remmina (1.2.X) by following the guide for arch in the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki)

[2015-08-06 22:24] Neldogz commented on #627
Followed the directions as recommended per the following article https://github.com/FreeRDP/Remmina/wiki/Compile-Remmina-on-Arch-Linux but still unable to save preferences.

[2015-08-06 22:26] Neldogz commented on #391
Hi Giovanni,

Thank you for your note. I followed the directions per article:
https://github.com/FreeRDP/Remmina/wiki/Compile-Remmina-on-Arch-Linux
but unfortunately still cannot save preferences.

Best,
Nelson

On 08/06/2015 05:58 PM, Giovanni Panozzo wrote:

[2015-08-07 06:39] giox069 commented on #626
:+1: Thank you @dhugh, from all the remmina team.

[2015-08-07 06:51] giox069 commented on #627
1. Check that you are using remmina version 1.2.X: check on the menu help->about
2. Check that you have write permissions on the ~/.remmina directory: try to create a file there and then delete it. Also check for ~/.config/remmina directory
3. Try to launch remmina from a terminal window, and see if you get some message when saving preferences or profiles.
4. If none works, backup and then delete

[2015-08-07 14:01] Neldogz commented on #627
Thank you for your response but these steps did not resolve the issue.

1. I tested these steps using Remmina version 1.2.0-rcgit.3.
2. Confirmed write permissions within both the ~/.remmina and ~/.config/remmina directories
3. Launched remmina from a terminal window and tried to make changes within the RDP tab but they did not take. Only messages displayed in the terminal are as follows:
(remmina

[2015-08-07 15:26] giox069 commented on #627
Which preferences are not saved ? All preferences ? Or only a subset of RDP preferences as in #391 ?
For example, from the main window choose Edit->Preferences, on the "Options" tab change "Scale quality" to "Tiles", change it. Is it saved ? Also try to see what's inside `~/.remmina/remmina.pref`, look at the line `scale_quality=` and see if it changes when you change the scale quality from the re

[2015-08-07 16:18] Neldogz commented on #627
Within the RDP tab for global preferences dialog I failed to see that the quality settings drop down menu now states: "Choose a quality level to edit". I now realize that I cannot set one of the quality setting profiles as a global default. Once edited the quality setting profile can then be applied to individual hosts. The menu selections are indeed working properly in version 1.2.0-rcgit.3. I ap

[2015-08-08 07:33] giox069 commented on #627
Ok, the same problem in "Quality settings" as closed issue #521. In remmina 1.2.X I changed the 1st string of dropdown to "Choose a quality level to edit..." to help in interpretation :+1:

[2015-08-08 07:33] #627 closed

[2015-08-10 13:09] holooloo commented on #400
The same issue...

[2015-08-10 13:13] holooloo commented on #357
And? Problem has gone?

[2015-08-10 16:51] giox069 commented on #400
@holooloo does it happens under kde also to you ? Opensuse ? With the latest freeedp from master branch ?
I could try to setup a machine with the same config as your and try to reproduce. But I need more data.

[2015-08-10 17:20] holooloo commented on #400
Debian 8.1 (Jessie) 64 bit
Lenovo X1 Cardbon 2nd
GNOME Shell 3.14.4
Freerdp 1.1.0 from disrtib sources
Remmina 1.1.0

[2015-08-10 21:49] giox069 commented on #400
I think we are speaking of many different things here.
1. The KDE taskbar not responding, as written on the 1st lines of the 1st post, when switching to fullscreen mode the KDE taskbar on the other monitor stops responding (did I get it right ?). Does the same happens under remmina 1.2 ? Or under Gnome shell ?
2. Screen lockups (as written in the title): this is unfortunately too vague. It can be

[2015-08-12 08:29] #616 closed

[2015-08-12 14:28] bmaupin commented on #243
For anyone using the remmina-next PPA, I also had to manually upgrade the libfreerdp-plugins-standard package; for some reason the dependencies weren't properly set and the drive sharing wasn't working due to a missing library:

    [10:00:37:014] [18886:2095822592] [ERROR][com.winpr.library] - LoadLibraryA: /usr/lib/x86_64-linux-gnu/freerdp/libdrive-client.so: cannot open shared object file: No s

[2015-08-12 20:50] rbrad0615 opened #628 "Smartcard slot selection"
Smartcard redirection does not allow you to select a slot on the smartcard. Smartcard that I am using has multiple certificates in different slots so I need to be able to select a different slot than 0.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25700110-smartcard-slot-selection?utm_campaign=plugin&utm_content=tracker%2F4316

[2015-08-12 21:42] giox069 commented on #628
@rbrad0615: do you know if xfreerdp has a similar commandline switch ? Remmina is based on freerdp, so if xfreerdp has this switch, we can have it in remmina too.

[2015-08-12 23:01] mikevdg commented on #47
If I may add my vote, it would be really useful to be able to open a .rdp file from the command line.

Once common use case is that a web browser fetches a .rdp file, which I'd like remmina to automatically open because it has a file association with .rdp files.

[2015-08-13 08:05] antenore commented on #47
We will address this issue as soon as possible, but if anybody wants to try to implement it, we will be happy to test and merge it.

[2015-08-13 09:25] cpaulik commented on #99
I still have this problem in remmina 1.2.0 on Ubuntu 14.04. I can open multiple sessions but only one is visible through the unity interface (alt-tab or the task switcher). If I close a session the one I've opened previously becomes visible and so on.

[2015-08-13 11:34] giox069 commented on #99
@cpaulik this issue has been closed. Please open a new one better describing your problem. Please keep in mind also that Remmina groups more sessions in a single window under different tabs (choose the grouping mode here: Edit->Preferences->Appearance->Tab interface).

[2015-08-13 11:41] giox069 commented on #615
Try to upgrade to remmina 1.2 as described in the wiki. Sometimes also rebooting the RDP server may help. Does remmina crashes/exit and you have to restart it, or does remmina only disconnect from the server ?

[2015-08-13 12:01] cpaulik commented on #99
@giox069 Thank you. The problem was the Tab interface. Now I see all the connections. I can however not figure out how the tabbed interface is supposed to work. I'll research and if I can not find a solution I'll open an issue for that.

[2015-08-13 12:08] Fr3llD commented on #524
I have the same issue, I'm on ubuntu 15.04 and have remmina 1.20-rcgit.3, local OS is fully uptodate.

the problem i think is, is that the launchbar is sitting on the left side of the screen. And when going from the monitor with the local environment to the monitor with the RDP session, the launchbar takes precedence. If you click on the RDP session away from the left side of the screen, it works

[2015-08-15 11:33] giox069 opened #629 "Dependency problem on Ubuntu PPA remmina-next"
To @dktrkranz:
On a fresh install of Ubuntu 14.04.3, before installing the "remmina-next" PPA, we have
[code]
Then we add the remmina-next PPA and install remmina
[code]
... but **libfreerdp-plugins-standard** is still 1.0.2-2ubuntu1
[code]

Is there a missing dependency on libfreerdp-plugins-standard ?

Thank you.

As reported on issue #243 by @bmaupin. Thank you @bmaupin for reporting.

[2015-08-16 08:33] dktrkranz commented on #629
This should be [fixed](http://bazaar.launchpad.net/~remmina-ppa-team/remmina-ppa/remmina-next-debian/revision/7) @giox069

[2015-08-17 09:14] giox069 commented on #629
Tested again on 14.04 but It's not working :-(
[code]

[2015-08-17 12:52] dvlierop commented on #243
Thanks bmaupin, this was exactly what I needed to know!

[2015-08-18 08:12] dktrkranz commented on #629
Please try again after the next rebuild.

[2015-08-18 11:47] phoenix147 commented on #629
after the update today i have a similar problem:

$ sudo apt-get install remmina-plugin-rdp
Die folgenden Pakete haben unerfüllte Abhängigkeiten:
 remmina-plugin-rdp : Hängt ab von: libfreerdp-plugins-standard (>= 1.2.0) aber 1.2.0~git20150207+dfsg-0trusty2 soll installiert werden
E: Probleme können nicht korrigiert werden, Sie haben zurückgehaltene defekte Pakete.

$ dpkg --list | fgrep freerdp
i

[2015-08-18 12:27] giox069 commented on #629
The remmina packag seems to be built this morning, but, starting again with a fresh install of 14.04 and following the 1st post commands:

[code]

[2015-08-18 13:16] dktrkranz commented on #629
Hi @phoenix147 and @giox069, mind trying again with latest update?

[2015-08-18 13:24] phoenix147 commented on #629
@dktrkranz with the latest update it works fine for me, thanks!

[2015-08-18 13:30] giox069 commented on #629
Yes, it works now, and libfreerdp-plugins-standard is correctly updated.
I will do some other tests on 15.04 later before closing the issue.
Thank you @dktrkranz.

[2015-08-19 13:30] giox069 commented on #629
It works also on 15.04.
@dktrkranz: on 15.04 many freerdp 1.1 packages remains installed in the system. I think it's needed for other packages (i.e.: vlc).
Here is what is in a 15.04 x64 ubuntu after adding the remmina-next ppa and installing remmina:
[code]
as you can see, there are older 1.1 freerdp libs installed, but all packages I tested (remmina, xfreerdp, vlc) seems to dynamically link to t

[2015-08-19 13:30] #629 closed

[2015-08-20 04:14] poiuty opened #630 "freeze when kvm setup finish"
connect to vnc and install kvm vm
after install => vm shutdown and remmina get freeze
version 0.9.99.1

[2015-08-20 04:30] poiuty commented on #630
update to 1.1.2 => solved problem.

[2015-08-20 04:30] #630 closed

[2015-08-22 14:23] weedy commented on #431
I'm having the same problem on Gentoo
[code]

[2015-08-25 13:56] parkersonik opened #631 "Shortcuts on the remote computer does not work"
Keyboard shortcuts do not work or is it a bug?
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26160659-shortcuts-on-the-remote-computer-does-not-work?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_

[2015-08-25 14:50] giox069 commented on #631
Can you better explain the exact steps needed to reproduce the problem ?

Also please include:
  1. which version of remmina are you using. Please check to be using 1.2.X. See the [wiki](https://github.com/FreeRDP/Remmina/wiki) for upgrading.
  2. the name of the operating system (name of distribution and version)
  3. which desktop you are using (LXDE, Unity, KDE, XFCE...)
  4. which protocol plu

[2015-08-25 15:19] parkersonik commented on #631
ОС Ubuntu unity, remmina 1.2.0, RDP, remote server Windows server 2003, Hotkeys running programs are not  in the workplace , but on the remote computer, in other programs RDP connection everything worked fine.

[2015-08-25 18:47] rbrad0615 commented on #628
I am wondering if it is a pkcs library that is used. I am using opensc to access the smartcard. What library does the remmina/xfreerdp use to attach to the smartcard?

[2015-08-26 05:18] zurapa opened #632 "Remmina does not connect to remote host by FQDN"
xubuntu 14.04
Remmina 0.9.99.1
After udating system Remmina do not connect to remote host by FQDN (hostname.example.com).
But if i connect to remote host by hostnsme (hostname) it's work.

[2015-08-26 07:35] giox069 commented on #632
I don't think it's a remmina related problem. Check that your system can resolve FQDN. Also please, upgrade to the latest development remmina version (now 1.2.X, see the [wiki](https://github.com/FreeRDP/Remmina/wiki)) before opening an issue: we cannot patch the older remmina which you installed into your system.

[2015-08-27 16:11] Techman35 commented on #615
It happen to me on archlinux... i have the lasted version 1.1.2 and remmina keep crashing every time im connected in my rdp server, im able to reconnect but it eventually keep crashing :(

[2015-08-28 16:42] Jediknight1 opened #633 "Time on remote server will not change to local time"
When I login to a remote Windows 2008 server the time on the server does not change to match the time on my local computer. This is creating errors in data entry, time stamps etc... I am currently on ubuntu 14.04 I have tried 15.04 but it seemed there was a bug with remote printing. The cups pdf printer did not redirect. The printing was more important to me then the time. However the time is stil

[2015-08-29 19:16] nerfpops commented on #631
If you're thinking about hotkeys that involve alt, you need to press windows+alt to send that key to the remote desktop.

[2015-09-03 09:18] angelstam opened #638 "RDP: Fix extended mouse event to register the click for forward/back buttons"
The extended mouse buttons, back/forward (button 4/5), is not passed through to the RDP server.

This issue is fixed upstream in FreeRDP: https://github.com/FreeRDP/FreeRDP/pull/1532

[2015-09-03 13:59] david-geiger opened #639 "Remmina VS freerdp on 1.2.0 version"
Hi,

I tried to update, on Mageia, remmina to latest v1.2.0-rcgit.3 version with latest freerdp 1.2.0-beta1+android9 but it does not built due to a missing 'clipboard.h' file.

So what version or commit should I use to make that remmina built with freerdp and with 1.2.0 version?

Thanks in advance.

Best regards David.

[2015-09-03 14:15] giox069 commented on #639
Hi. The last version of remmina (our "next" branch), compiles only with the last version of FreeRDP, their master branch. The freerdp release 1.2.0-beta1+android9 is too old.
In the [remmina wiki](https://github.com/FreeRDP/Remmina/wiki) you can find some compilation guides for Fedora, Ubuntu and Arch. There is not Mageia, unfortunately.

[2015-09-03 14:24] david-geiger commented on #639
So ok!

If I use the two latest commit from master branch of remmina and of freerdp, remmina should compile fine?

- freerdp: 72d901454c45f87e625e474b2ee7f94e1b1b64d8
- remmina: b024598fa5eab15c7c5147b2f7593de124e9d0a3

[2015-09-03 14:27] giox069 commented on #639
Yes. I just compiled it 5 minutes ago with these commits. Please uninstall old freerdp and remmina packages from your system before start compiling.

[2015-09-03 16:53] david-geiger commented on #639
Yes looks good! thanks giox069 :)

freerdp and remmina have built properly on our Mageia Build System.

http://pkgsubmit.mageia.org/uploads/done/cauldron/core/release/20150903161547.daviddavid.valstar.16742/freerdp-1.2.0-4.git72d9014.1.mga6/build.0.20150903161605.log

http://pkgsubmit.mageia.org/uploads/done/cauldron/core/release/20150903163634.daviddavid.valstar.10492/remmina-1.2.0-0.gitb024598.1

[2015-09-06 03:32] MoonSweep commented on #481
If it helps, I noticed last week that on a Jessie box with Gnome 3.14, the workaround mentioned above doesn't work: the toolbar doesn't appear at all (I usually use MATE but tried Gnome for a week).

[2015-09-06 07:50] giox069 commented on #481
1. Porting the commit https://github.com/FreeRDP/Remmina/commit/726acdb7daa9c1e5b614a7ed6b3c2aa8b889169c to remmina requires a certain amount of code change, so it needs a lot of testing. This will make remmina 1.1 "unstable", which is not.
2. I could also try to do the above work, but I don't think that distribution maintainers will integrate a newer remmina 1.1.3 in current stable distro. I don'

[2015-09-06 08:37] dktrkranz commented on #481
From a Debian point of view, I doubt such a high-impact change would make into a point release for Jessie. I could create a backport if you consider a 1.1.3 release could be prepared.

I think the best option would be to wait for FreeRDP stable release (hopefully it will happen one day...), then release the newest and greatest Remmina with all the fixes and improvements. It won't make into Jessie

[2015-09-06 15:43] MoonSweep commented on #481
IMHO it depends on when 1.2 will be available. As far as I know, ATM all major Linux distros suffer from the lack of a working VNC/RDP client (vinagre and virt-viewer suffer from the same "toolbar" problem (even worse because it doesn't appear at all), in addition of being awfully slow).

I think backporting the fix to 1.1 branch and building Jessie backports would be the best solution (why wait f

[2015-09-08 10:44] gnumdk commented on #382
Same here, seems to be broken...

[2015-09-08 15:25] ian-abbott commented on #633
Perhaps you need to set the "Allow time zone redirection" Group Policy setting on your server. See https://technet.microsoft.com/en-us/library/cc725887(v=ws.10).aspx

[2015-09-08 19:12] giox069 commented on #382
From the main remmina window, edit your connection profile. On the "Advanced tab" choose Quality: Best. This should enable font smoothing.
You can use the Quality Profile editor from the main window to enable font smoothing also for other quality profiles: Edit->Preferences, RDP, select a Quality Level to edit and enable font smoothing for that quality profile.

Does it work ?

[2015-09-09 04:45] gnumdk commented on #382
No, it does not work.
Using xfreerdp +fonts from cmdline works.

Archlinux

[2015-09-09 06:57] giox069 commented on #382
Are you trying with the latest 1.2.0-rcgit3 version of remmina and freerdp 1.2 ?

[2015-09-09 11:57] giox069 commented on #583
I just pushed a small fix. Ubuntu's PPA will update in one day.

[2015-09-09 17:56] hefax commented on #524
I have this situation on two different computers. Both installations are using gnome 3 and both have 3 monitors, but that is where the similarities end. The other is a Ubuntu (15.04) and the other is a Gentoo installation..

The tweak utility tip didn't work.

I am not sure what info you need to debug this but I am willing to provide as much as I can :)

[2015-09-11 21:07] antenore commented on #539
@ssten
I've tested the last version and it seems to work as expected.

Just in case... You can insert user@hostname in the quick connect box.

We don't have the time and the resources to backport most of the SSH improvements on 1.1.2.

I'm closing this, but don't hesitate to contact me if you need more support or if you think this should still be kept opened.

[2015-09-11 21:07] #539 closed

[2015-09-11 21:10] #256 closed

[2015-09-13 18:17] LordPicard opened #643 "Error on smartcard sharing to Windows 2012"
Hello there,

I'm using the Remmina to connect from a Ubuntu 15.04 to a Windows 2012 Server (and a 2016 Technical Preview 3, just for testing of thie issue, but none work).

Steeps to reproduce:

1 - device is correctly attach and configured, and I can use it localy; check with dmesg also
2 - try to connect to a RDP using Windows 2012 or 2016 TP 3 (I don't have any licencing for 2008, so I can't t

[2015-09-14 07:13] gnumdk commented on #382
Remmina 1.2
freerdp 1:1.2.0_beta1+android9-1

[2015-09-14 07:20] giox069 commented on #382
I need the full version of remmina. Go on help menu and choose about. And check that it's the latest one (1.2.0-rcgit3).
According your package naming, it seems that you are running the old version of remmina included in Arch Linux (I may be wrong here). If you are running the stock version of remmina included by Arch, please consider the fact that we cannot patch it: because distribution specific

[2015-09-15 20:35] antenore commented on #643
Hi,

can you please specify the remmina and freerdp versions?

For the remmina version we need the one that appear in the about dialog.
For freerdp run
[code]

[2015-09-15 20:37] #639 closed

[2015-09-16 08:06] LordPicard commented on #643
Hello,

Sorry not to be more specific in the first place.

Here you go:
- FreeRDP 1.1.0-beta1 (git n/a)
- Remmina 1.1.1.1ubuntu1

LP

PS: if you need me to update the software, can you let me know how? I'm not so good with the terminal, I'm switching from Windows just a few weeks and learning as I go.

[2015-09-16 12:34] antenore commented on #643
Thanks for your quick feedback.

Yes, if you want to have the most updated and working remmina you should update to our stable or development version, we cannot support anymore the 1.1.1 version unlucky.

You can follow the easy way, using the official remmina PPA as described in our wiki home page at  https://github.com/FreeRDP/Remmina/wiki or you can try the hard, but more satisfactory one, comp

[2015-09-16 13:26] LordPicard commented on #643
Hello,

Thanks for ytour help.

dpkg -l shows I've the new version. However I have the same problem.

I was about to try the second link (compiling manualy) when I notice it was not for Ubuntu 15.04.
Should I do it anyway regardless of the version?

Thanks for your help.

LP

[2015-09-16 13:30] giox069 commented on #643
If you have installed the remmina-next ppa, there is no need to compile remmina manually: the PPA is updated every 24 hours from the sources (only remmina, not freerdp).
Compilation is only needed if you are a C/GTK developer and want to contribute with your code.
In this case, yes, you can follow the guide for ubuntu 14.04 also for compiling on 15.04.

[2015-09-16 13:49] antenore commented on #643
Thanks @giox069 , so @LordPicard have a real problem (that I don't too much how to investigate honestly), it's something more related with xfreerdp and you should try to use xfreerdp from the command line to see what happens.

Take a look at the xfreerdp command line tool help and try to choose the options you need, plus the
/smartcard:<device> :

[code]

Ask also for help here  https://github.com

[2015-09-16 13:52] antenore commented on #638
Remmina, behind the scenes, uses xfreerdp, can you test it from the command line?

[2015-09-16 16:16] LordPicard commented on #643
Thank you both.

I've just created an issue there - https://github.com/FreeRDP/FreeRDP/issues/2891 - since I'm not so familier with the Terminal and choosing randoms stuff is probabily a bad ideal. :)

Will wait for any hint on that topic -- thanks for helping out!

LP

[2015-09-17 17:11] peter-gsellmann opened #644 "Screenshot of remote machine [feature request]"
Would be very nice to have a button "Screenshot" on the toolbar, which saves the current target window as PNG.
This is different to take a screenshot on the local machine as a local screenshot would produce a scaled-down or clipped image.
The "screenshot"-button should save the remote image with the size and resolution of the remote machine.
There should be no "Save-as" dialog, increment a number

[2015-09-17 21:08] giox069 commented on #644
Great idea. To save a bit of work, we could save directly to the user's pictures dir XDG_PICTURES_DIR...
I have marked this issue as "newfeature".

[2015-09-17 22:52] antenore commented on #644
:+1:

[2015-09-18 00:31] #632 closed

[2015-09-20 18:32] richardkennedy opened #645 "Generate a new secret?"
Could anyone shed any light on how you would go about generating a new secret within remmina.prefs?

[2015-09-23 05:14] #331 closed

[2015-09-23 05:14] #395 closed

[2015-09-23 08:54] antenore commented on #645
Hi Richard,

We didn't develop that part of Remmina code that generate the secret properties, but looking at the code, it looks like the key is generated only one time, when it doesn't exists.

If you tell me why you need to regenerate it I can take a further look in the code and I'll try to help you out.

If you are just curious, you are more than welcome to dive into the code and helping documen

[2015-09-23 20:48] GLADtr opened #646 "doesn't process keyboard pressing in session RDP"
## Hi!

Data on system:
Debian 8.2 - Gnome 3.14.2?
## Remmina v1.2.0-rcgit.4

on 1 step -install of packages in system
apt-get refused to put a libgnutls-dev package:
"Package libgnutls-dev isn't available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source

E: Package 'libgnutls-dev' has no installation ca

[2015-09-23 20:50] richardkennedy commented on #645
Hi antenore - I'm cloning Micro SD Cards (for Raspberry Pi), but obviously the same Remmina key key is present on each , so if I can identify how the key is generated, I'll execute a shell script on the first boot to automatically generate a new key, so any help would be appreciated.

[2015-09-23 21:00] antenore commented on #645
The secret is generated when the file is created the first time, so, simply move away the remmina.pref file, start and close remmina again (even from command line), and replace the options you need.

Is this enough?

[2015-09-23 21:18] antenore commented on #645
A side note.

@giox069 was pointing out that if you have gnome keyring installed, the secret attribute should be used, so you can just replace it with whatever you want.

Otherwise you move the file as I told you or you have to write (again @giox069 advise) a lttle c program that uses the function  remmina_pref_gen_secret() inside remmina_pref.c

[2015-09-23 21:19] richardkennedy commented on #645
Many thanks, that's very helpful! cc @giox069

[2015-09-23 21:21] antenore commented on #646
Hi @GLADtr

I'm so sorry, but I'm not sure I understood what is your problem.

Can you write in your own language or can you ask help to your friends?

Here we speak English, French, Italian, a little bit Russian and we can get help with German and other languages.

[2015-09-23 21:47] GLADtr commented on #646
My system:
Debian 8.2 - Gnome 3.14.2?
Remmina v1.2.0-rcgit.4

on 1 step - install of packages in system
apt-get don't install the libgnutls-dev package with error:
"Package libgnutls-dev isn't available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source

E: Package 'libgnutls-dev' has no installation candi

[2015-09-23 22:00] antenore commented on #646
@GLADtr thanks, it's much better now.

Try this way:

[code]

Спасибо

[2015-09-24 09:13] GLADtr commented on #646
Thanks for the help!

I correctly understand sequence of actions?
since step 11:
cd ~ / remmina_devel/Remmina
apt-get install libgnutls28-dev
apt-get say that package was installed
make clean
rm CMakeCache.txt
cmake - DCMAKE_BUILD_TYPE=Debug - DCMAKE_INSTALL_PREFIX:PATH =/opt/remmina_devel/remmina - DCMAKE_PREFIX_PATH =/opt/remmina_devel/freerdp - build=build - DWITH_TRANSLATIONS=ON - DCMAKE_BUILD

[2015-09-24 09:27] antenore commented on #646
You should remove **-DWITH_LIBSSH=OFF**

But I don't know why you have this issue, @giox069 how do you build remmina on Jessie?

[2015-09-24 12:20] GLADtr commented on #646
Hi
You should remove -DWITH_LIBSSH=OFF"
it is made.
the situation unfortunately didn't change

[2015-09-24 19:02] giox069 commented on #646
@GLADtr: recompile both FreeRDP and remmina. The "-DWITH_SSE2=ON" parameter is for FreeRDP, not for remmina.

So, to recompile all, start with a big cleanup:
``
rm -rf ~/remmina_devel/
sudo rm -rf /opt/remmina_devel/
sudo rm /etc/ld.so.conf.d/freerdp_devel.conf /usr/local/bin/remmina /usr/local/bin/xfreerdp
sudo ldconfig
``
and restart from step 3 of the guide.

I just tested the procedure in a fr

[2015-09-24 19:07] giox069 commented on #646
@GLADtr: but I cannot well understand the true problem:

"At login on rdp session aren't grab any the keyboard stroke."

Are you using some special keyboard device/hardware ?
What do you see exaclty on the screen ?
Are you connecting to a windows machine ? Which version ?
Do you notice the problem at the login prompt (typing username and password) or after the logon to your destkop ?

Thank you
Gi

[2015-09-25 22:13] #645 closed

[2015-09-26 14:19] n-st opened #647 "Remmina doesn't support ssh-rsa hostkeys"
Trying to establish an SSH tunnel to a server that only offers an RSA hostkey fails with the message

Connecting to the same server with the normal OpenSSH client works:

[…]
debug1: Connecting to example.com [192.0.2.1] port 1022.
debug1: Connection established.
[…]
debug1: Local version string SSH-2.0-OpenSSH_6.6.1p1 Ubuntu-2ubuntu2.3
debug1: Remote protocol version 2.0, remote software version

[2015-09-28 15:30] antenore commented on #647
Can you please provide Remmina version (Help -> About) and OS type/version?

Thanks in advance

[2015-09-28 19:56] n-st commented on #647
@antenore Remmina 1.2.0-rcgit.4 (from the [Ubuntu PPA](https://launchpad.net/%7Eremmina-ppa-team/+archive/ubuntu/remmina-next)) on Ubuntu 14.04.3.
The version from the official Ubuntu repos had the same problem, which is why I installed the version from the PPA in the first place. Didn't help, unfortunately.

[2015-09-28 22:47] antenore commented on #647
@n-st looks like a libssh issue https://red.libssh.org/issues/138 to me.

In libssh-0.6.1 the default HOSTKEYS is "ecdsa-sha2-nistp256,ssh-rsa,ssh-dss", so according to the above bug, it's seems really the same issue.

Are you using the default libssh package or a PPA? Can you see if you have a patched version of it?

If it's the good one I'll try to create a test environment, in that case can you

[2015-09-28 23:05] n-st commented on #647
@antenore
I used to have the `libssh-4` from Ubuntu's official repos:

  Installed: 0.6.1-0ubuntu3.1
  Candidate: 0.6.1-0ubuntu3.1
  Version table:
 *** 0.6.1-0ubuntu3.1 0
        500 http://archive.ubuntu.com/ubuntu/ trusty-updates/main amd64 Packages

I've now backported and installed [libssh-4 (0.6.3-3ubuntu3) from vivid](http://packages.ubuntu.com/vivid/libssh-4), but the problem still exists.

[2015-09-28 23:17] n-st commented on #647
Hang on…
I just managed to connect to the server, with the only difference between the working and non-working Remmina connection presets being the hostname: `myvm.vmhost.example.com:1022` works, `ipv4.vmhost.example.com:1022` doesn't. (Port 1022 on the vmhost is forwarded to port 22 on the VM.)
Both domain names have identical A records, but `myvm.vmhost.example.com` also has an AAAA record.

In

[2015-09-28 23:24] antenore commented on #647
Good point! libssh does not support most of the ssh_config options, I was considering other solutions, but the only suitable alternatives I'm aware of are libssh2, that has other issues, and openssh itself, where you have to write everything you need yourself. I'll investigate more about this.

If you have any advises you are more than welcome. :-)

Let's keep this thread opened for discussion if

[2015-09-28 23:33] antenore commented on #647
BTW will be fixed in a future (0.7.X) release https://red.libssh.org/issues/101

[2015-09-28 23:34] n-st commented on #647
@antenore
Turns out it was [libssh bug #138](https://red.libssh.org/issues/138) after all: `known_hosts` still contained an ECDSA hostkey for `ipv4.vmhost.example.com:1022`, which the server no longer provides, so libssh aborted prematurely with an error.
After I deleted all occurences of that hostkey, connecting to `ipv4.vmhost.example.com:1022` worked too.
Oddly, the patch (commit fdc660f) [refe

[2015-09-28 23:46] antenore commented on #647
Honestly I don't know regarding the commit fdc660f.

Yes and no, the big issue is that we don't have so much free time.
We are just two developers and we work in our relatively limited free time, if you (or people you know) want to help us, welcome on board!

Than I think Vic, years ago, opted for libssh because of license coherence (GPL), we should cast a vote probably.

Yes, this is something th

[2015-09-28 23:53] n-st opened #648 "Feature request: Provide a way to disable parsing of .ssh/config"
While investigating #647, it turned out that libssh's way of parsing `~/.ssh/config` is severely flawed:
In my case, it *ignored* a `Match` clause in the config file that's supposed to restrict a `ProxyCommand` setting to a specific set of hosts.
This resulted in all of Remminas SSH connections being tunnelled via my employer's DMZ server — not something you would want to happen.
As I outlined in

[2015-09-28 23:54] n-st commented on #648
@antenore Looks like I can't assign labels to issues, so you'll have to take care of that yourself. ;)

[2015-09-28 23:56] antenore commented on #648
Thanks @n-st

[2015-09-29 00:00] n-st commented on #647
@antenore Apologies for my rather demanding attitude…
I haven't had time to dig through Remmina's code since I encountered the issue, but I'll hopefully get around to checking if I can implement any of my requests myself sometime soon. :)

[2015-09-29 00:05] antenore commented on #647
:joy_cat:

[2015-09-29 00:50] n-st commented on #648
@antenore
I've thrown together a quick proof-of-concept for a global preference setting that does this: https://github.com/n-st/Remmina/commit/2d8bee5b078995f71ae951d3a6928d9b45fa0751

Not sure if we want it to be global or connection-specific, though, and whether I've adhered to your coding guidelines etc…
I'll be off sleeping and working for a while; feel free to tear it apart in the meantime. ;

[2015-09-29 00:54] antenore commented on #648
:-) impressive! I'll comment in some hours, here is sleeping time as well.

[2015-09-29 07:35] antenore commented on #648
For me it's fine, may I ask you to submit a pull request?

I'll then test it, update the https://github.com/FreeRDP/Remmina/blob/next/CHANGELOG.md and the about panel.

BTW welcome on board and thanks for your support!

[2015-09-30 15:05] daniel-sciome opened #649 "freeze when rdp over ssl goes to locked screen"
os environment: Elementary OS Freya 0.3.1
nvidia 546 driver
remmina 1.1

i connect to remote windows server 2008 over ssl tunnel through secondary ssl server.

when remote server goes to locked screen, and then i try to lock it. remmina freezes. after the timeout period, i get the "do you want to wait" dialog box. i click "no", and remmina shuts down.
##

<bountysource-plugin>

---
Want to back th

[2015-09-30 16:31] giox069 commented on #649
Please try to upgrade to the latest remmina 1.2.0-rcgit.4. You can find instructions in the [Remmina Wiki](https://github.com/FreeRDP/Remmina/wiki). I think you could use the Ubuntu's "remmina-next" PPA on Elementary OS, as explained in the wiki, but I'm not an expert of Elementary.

[2015-09-30 17:46] daniel-sciome commented on #649
I was mistaken.

I’m on version rcgit.4-1.2.0

From: Giovanni Panozzo [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 12:32 PM
To: FreeRDP/Remmina <Remmina@noreply.github.com>
Cc: Daniel Svoboda <daniel.svoboda@sciome.com>
Subject: Re: [Remmina] freeze when rdp over ssl goes to locked screen (#649)

Please try to upgrade to the latest remmina 1.2.0-rcgit.4. You can find instr

[2015-09-30 21:23] antenore commented on #648
@n-st I merged your commit myself ( #650 )

I'm investigating deeply what I can do with libssh, probably I'll try to contact them and ask for help or I'll try to propose some patches (if I can).

Thanks again

[2015-09-30 21:23] #648 closed

[2015-09-30 22:15] #599 closed

[2015-10-06 03:54] kuchaguangjie commented on #165
Cool, and if u are on gnome desktop, don't forget to install `remmina-plugin-gnome`

[2015-10-07 19:17] austinwhitley opened #651 "RDP Plugin Issue on Raspberry PI (ARMv7)"
Since there isn't a PPA build available for the ARM architecture, I went through the instructions for compling the source on my Raspberry Pi 2 (Ubuntu Mate 15.04) and everything seems to be fine except when launching Remmina I get the following error:

Failed to load plugin: /opt/remmina_next/remmina/lib/remmina/plugins/remmina-plugin-rdp.so .
Error: libfreerdp.so.1.2: Cannot open shared object fi

[2015-10-07 19:55] giox069 commented on #651
It could be a wrong /etc/ld.so.conf.d/freerdp_devel.conf generated in step 7:
[code]
The wrong part could be `/opt/remmina_devel/freerdp/lib`: you should find in which directory the files libfreerdp.so.1.2* have been installed, and put the directory name into the file /etc/ld.so.conf.d/freerdp_devel.conf
After this fix, do a `sudo ldconfig` again and try to start remmina.

[2015-10-07 20:01] austinwhitley commented on #651
That took care of it.  I had a typo that I didn't notice.  Thanks for your help!  This can be closed.

[2015-10-07 20:01] #651 closed

[2015-10-10 10:41] benabrahamson commented on #165
@kuchaguangjie actually ```remmina-plugins-gnome```

[2015-10-10 14:53] kuchaguangjie commented on #165
@benabrahamson I am using linux mint mate 17.1 (`Linux 3.16.0-38-generic #52~14.04.1-Ubuntu x86_64 GNU/Linux`), which is base on ubuntu 14.04, and it is `remmina-plugin-gnome`, without the `s`.

[2015-10-13 13:59] QuezoQ commented on #223
Good morning.
I am new to Ubuntu.
I have an RDP connection from my pc to Wondows7, and today I threw a mistake for which the solution is to remove ~ / .freerdp / known_hosts.
How I can delete that entry?
Beforehand thank you very much.

[2015-10-13 15:21] giox069 commented on #223
Please **DO NOT** reuse closed issues. This issue is closed, and not related to your problem.

You should delete the following two files:
~/.freerdp/known_hosts
~/.config/freerdp/known_hosts

~ is your home directory (i.e: /home/myname). Search with google how to delete a file.

[2015-10-13 17:38] ringe commented on #223
@giox069 I just **have** to comment now: Awesome response to a new user! Thank you.

[2015-10-13 17:59] QuezoQ commented on #223
@giox069
in fact I searched google and one of the first link was this conversation thread... but thank for commentary (Y).

@ringe thank you anyway. I found how to eliminate from the graphical application.

[2015-10-14 06:17] antenore commented on #302
Closed by #235 and by #562

[2015-10-14 06:17] #302 closed

[2015-10-14 06:19] antenore commented on #267
Closed by #235

[2015-10-14 06:19] antenore commented on #83
Closed by #235

[2015-10-14 06:19] #83 closed

[2015-10-14 06:19] antenore commented on #96
Closed by #235

[2015-10-14 06:19] #96 closed

[2015-10-14 16:21] str commented on #235
Is this working?  I have reminna  1.10 and My ForwardAgent defined in ~.ssh/config is not used.  I reported it in bug #267 which was just closed but I can't  confirm it's fixed.

[2015-10-14 16:40] antenore commented on #235
1.2.0-rcgit.4 is the version that has been fixed, the version you are using is not supported anymore, can you follow the instructions in the wiki to update and test it?

https://github.com/FreeRDP/Remmina/wiki

[2015-10-14 17:06] str commented on #235
@antenore  I've added the ppa and downlaoded 1.2.0-rcgit.4 but i still can't use ForwardAgent

[2015-10-14 20:17] antenore commented on #235
@str

The ~/.ssh/config parsing works, but libssh doesn't support all of the ssh_config options and we don't have too much power on it.

I've activated the debug window finding this disturbing message

[code]
This message come from the libssh, that is the library we use in Remmina.
We have chosen this library because it's actually the best option we have, the alternatives would be:
 1. Develop a l

[2015-10-14 20:34] str commented on #235
I understand it's not an easy task. I'm checking the libssh2 documentation and reading about forward agent feature in libssh.  If this is a pending feature, can we leave the task/feature-request open?

[2015-10-14 20:41] antenore commented on #235
Sure, why not...

[2015-10-18 22:42] antenore opened #652 "Migrate from libgnome-keyring to libsecret"
Migrate libgnome-keyring to libsecret as libgnome-keyring has been deprecated by the Gnome project, except some old distributions, libsecret is included by default in most modern Operating systems.

[2015-10-19 21:49] Watney opened #654 "High DPI display scaling"
By chance is there a way to scale Remmina? On my 2560x1700 display, the RDP connection is micro-size. Thanks!!

[2015-10-20 06:55] giox069 commented on #654
Remmina has an integrated scaler. Just setup your connection profile with a lower resolution (i.e.: 1024x768), and after the connection enable the scaler by clicking on the scaler icon in the connection window toolbar.
It should work in remmina 1.1 and 1.2.

[2015-10-20 15:24] execthis commented on #478
Remmina also crashs if you are moving the last open connection or tab from a window to another window.

[2015-10-20 17:02] Watney commented on #654
Thanks so much. I'll give it a try. (I should have checked the documentation closer before asking. Thanks again!!)

[2015-10-20 17:02] #654 closed

[2015-10-21 09:10] angerangel opened #656 "Minus "-" instead of slash "/" from numpad"
I use linux mint to connect to a Windows server.  My keyboard (italian) has the slash on the 7 button and this works great: SHIFT+7 = /
The numpad has a button for each operation (+,-,*,/); but the slash,button ouput the minus sign "-".  So it's like to have 2 minus button on the numpad.
Is there any file to edit in order to have the correct behavior?
##

<bountysource-plugin>

---
Want to back th

[2015-10-21 10:46] kmg454 opened #657 "No RDP connection after latest update Ubuntu"
Since 20-10-2015 after a update of Ubuntu we can't  make an RDP connection anymore

[2015-10-21 13:04] angelstam commented on #638
Yes, in FreeRDP version 1.2.1_pre20150326 it works.

    xfreerdp /f /v:192.168.2.64

If you look in [rdp_event.c@378](https://github.com/FreeRDP/Remmina/blob/next/remmina-plugins/rdp/rdp_event.c#L378) it doesn't forward events for other buttons than 1 to 3.

[2015-10-21 13:16] antenore commented on #638
Thanks. So I'll take a look and fix it ASAP.

[2015-10-21 19:26] antenore commented on #657
Hi @kmg454
can you be more specific please? What version of remmina and ubuntu do you have?
Did you install it from the PPA?

[2015-10-21 19:27] antenore commented on #656
What version of Mint and Remmna do you use?

[2015-10-21 21:15] antenore commented on #621
@PhilGoy
Which remmina version do you use?

[2015-10-22 06:59] kmg454 commented on #657
Hi.

I'm using the latest release of Ubuntu 14.04 LTS and Remmina 0.9.99.1

My RDP connection was working for 2 years without a problem but after
the latest system update of Ubuntu 20-10-2015 it will not connect anymore.

When I use an other RDP client it works for 100%.

Met vriendelijke groet,
Johan Velthuizen
Velthuizen Webdesign & Media
Christineweg 17
2961 AB Kinderdijk
Tel. 078 6990167
www.v

[2015-10-22 07:16] antenore commented on #657
This version is not supported anymore by us as it's too old, you should open a bug to Ubuntu (please do, it's important).

In the meanwhile you can use our ppa

[code]

You will have also several new features and much less bugs

[2015-10-22 08:23] angerangel commented on #656
My version is:  0.9.99.1

[2015-10-22 09:26] antenore commented on #656
@angerangel

Unlucky, that version is too old and we don't support it anymore.

You can follow our wiki to upgrade it https://github.com/FreeRDP/Remmina/wiki

If you have troubles let me know.

[2015-10-22 10:11] angerangel opened #658 "Cannot compile Remmina 1.0 on Linux mint 17.2"
Hi,
I'm trying to compile remmina 1 on linux mint 17.2,
This is the result **cmake --build=build .**:

[code]

And this is the error of **make**:

[code]
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27606246-cannot-compile-remmina-1-0-on-linux-mint-17-2?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_sou

[2015-10-22 10:20] giox069 commented on #658
Could you try to install all the suggested packages in the ubuntu compilation guide step 1 here https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-14.04-and-14.10 ?

[2015-10-22 14:56] GLADtr commented on #646
Hi!
excuse, there was no opportunity to deal with this problem.

Are you using some special keyboard device/hardware ?
 - no. standard notebook keyboard

What do you see exaclty on the screen ?
- after session creation I can work with a mouse, but the remote server doesn't react to pressing of keys in my local keyborad

Are you connecting to a windows machine ? Which version ?
2008r2 I didn't work

[2015-10-22 15:11] antenore commented on #646
@GLADtr  @giox069
As a side note, recently FreeRDP has moved to XImput2 (XI2), in fact I'm having an hard time to understand how to enhance Remmina to support additional mouse buttons #638

So, it may be related (or not).

I'll take a look as well, but have no ideas at the momnet.

Would you mind trying to compile an older version of FreeRDP? In that case I can provide you a precise commit to use.

[2015-10-22 16:28] angerangel commented on #656
Wow, solved with last remmina version!

[2015-10-22 16:29] angerangel commented on #658
Ok, thank you. It worked with your link.

[2015-10-22 21:50] GLADtr commented on #646
Hi!
Thanks all for the help!
 giox069 you said:
@GLADtr: recompile both FreeRDP and remmina. The "-DWITH_SSE2=ON" parameter is for FreeRDP, not for remmina.

So, to recompile all, start with a big cleanup:
rm -rf ~/remmina_devel/ sudo rm -rf /opt/remmina_devel/ sudo rm /etc/ld.so.conf.d/freerdp_devel.conf /usr/local/bin/remmina /usr/local/bin/xfreerdp sudo ldconfig
and restart from step 3 of the g

[2015-10-23 06:36] giox069 commented on #646
@GLADtr the guide for compiling remmina on Ubuntu is here:
https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-14.04-and-14.10
and it should work with your Debian installation if you start from step 3. There are two "step 3" on that guide. Use the first one.

[2015-10-23 14:15] giox069 commented on #478
@execthis which version of remmina are you using ? And in which OS/desktop ?

[2015-10-26 08:12] vadimkim opened #659 "Remmina crashed with core dump while sharing RDP folder"
I have Remmina 1.2.0-rcgit.4 version on Kubuntu 14.04. Everything works fine unless I want to add shared folder to RDP connection. After selecting the folder from drop-down list I got application crash with the following error:

(remmina:6333): Gtk-CRITICAL **: gtk_tree_model_filter_get_value: assertion 'GTK_TREE_MODEL_FILTER (model)->priv->stamp == iter->stamp' failed

(remmina:6333): GLib-GObjec

[2015-10-26 09:32] giox069 commented on #659
Hi @vadimkim, thank you for reporting. I remember an old issue #518, which was due to a bug in the integration between KDE and GTK.
See issue #518 if you can find more info.
In the meanwhile, can you post here a backtrace of the crash ? Just open a terminal, start
``gdb remmina``
inside gdb type `run` and then use remmina to reproduce the bug. When remmina will crash, take the terminal and type `b

[2015-10-26 09:47] vadimkim commented on #659
Thank you, glox069!
I have fixed this by modifying GtkComboBox-appears-as-list: 1 to GtkComboBox-appears-as-list: 0 at gtk.css as described in issue #518. It seems problem with integration still exists. Do you want me to run gdb ?

[2015-10-26 09:50] giox069 commented on #659
Very well  :)
No, crashdump is not needed. I don't think we have the time to develop a workaround for it.
Just close this issue now.

[2015-10-26 09:50] vadimkim commented on #659
Fix is provided

[2015-10-26 09:50] #659 closed

[2015-10-26 12:26] faune commented on #657
I've used remmina with remmina-plugin-rdp previously on Ubuntu 14.04.03LTS, but I beleive recent updates in this project have introduced a regression:

[code]

I believe the conflict is due to me using the pidgin-sipe PPA, which also has its own version of libfreerdp but the package names do not match and they are attempting to overwrite each others files.

I understand that supporting all variant

[2015-10-26 12:33] kmg454 commented on #657
I just installed the package by the ppa and everything works as
aspected, but when installing it removed my VLC package WHY?

Met vriendelijke groet,
Johan Velthuizen
Velthuizen Webdesign & Media
Christineweg 17
2961 AB Kinderdijk
Tel. 078 6990167
www.velthuizen.nl

Op 26-10-15 om 13:26 schreef faune:

[2015-10-26 14:01] antenore commented on #657
@giox069 @dktrkranz Can you please advise on these issues? Thanks!

[2015-10-26 15:25] GLADtr commented on #646
Hi! Thanks for support!
I`m have the error  while compiling remmina:

Linking C shared module remmina-plugin-xdmcp.so
[ 90%] Built target remmina-plugin-xdmcp
Scanning dependencies of target remmina-plugin-rdp
[ 91%] Building C object remmina-plugins/rdp/CMakeFiles/remmina-plugin-rdp.dir/rdp_plugin.c.o
In file included from /home/kmm/remmina_devel/Remmina/remmina-plugins/rdp/rdp_plugin.c:36:0:
/ho

[2015-10-27 10:14] giox069 commented on #646
1. Unfortunately cannot read both your language and your alhpabet. The next time try to post error codes in eglish. Just try to prepend "make" with `LC_ALL=C`. So the full commandline will be `LC_ALL=C make && sudo make install` (I'm not sure LC_ALL is enough :( :)
 2. It seems that you have a freerdp already installed on your system. So you should start from step 2 of the guide to remove the inst

[2015-10-27 14:45] ELadner opened #660 "Simple identity manager for non SSH connections?"
In the case of RDP connections (and other non SSH based connections) a simple identity manager would be helpful.  Typically administrators use one or two ID's for many servers.  Having a username,  password, and domain embedded in each connection makes changing passwords tedious for large server groups.

SSH solves this issue, of course, by authenticating with the agent locally and the prior set u

[2015-10-28 17:35] tessiof opened #661 "Optimize screen space usage"
This is a feature request.
I think the menus from the connection screen should be placed at the sides, not at the top.
The vast majority of computers monitors today are widescreen, so it's most appropriate to leave the vertical space free from non essential visual information.
![rdp connection 2](https://cloud.githubusercontent.com/assets/2301644/10797323/eb67a356-7d80-11e5-849d-57a337544ee9.png)

[2015-10-29 07:08] giox069 commented on #661
Very good idea. I will start investigating on it in the next days. Thank you for reporting.

[2015-10-29 07:51] bernd-wechner opened #662 "Cannot build on Ubuntu 14.04"
I am following these instructions in the Wiki:

https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-14.04-and-14.10

The first step proved a headache already, but if I use aptitude instead of apt-get somewhat more lucid feedback is generated as to what is not working. And it's basically package version issues.

The relevant output  output is:

[code]

I proceed to step 2 electing not to down

[2015-10-29 08:11] giox069 commented on #662
It seems that you are having some dependency problems on your specific system.
Before starting with the remmina guide, upgrade your system with the usual `apt-get update` and `apt-get dist-upgrade`, reboot, and retry step 1 in the wiki.

[2015-10-29 08:22] dschaefer79 opened #663 "When I open a RDP connexion on Microsoft Windows PC, SSH Client display is messing"
Hi, When I open a RDP connexion with KRDC or Remmina on Microsoft Windows PC, SSH Client display is messing I use Putty on Windows and Secure Shell Client on Windows.
When I resize the SSH window or move it, it display again correctly. But after the bugs comes again. When I do the same on Windows PC with RDP connection on Windows PC, there is no bug.

Reproducible: Always Steps to Reproduce:
1. Op

[2015-10-29 08:22] dschaefer79 commented on #663
![krdc](https://cloud.githubusercontent.com/assets/7472357/10813311/98e3dba6-7e1e-11e5-9e7e-6ad69b758cd0.png)

[2015-10-29 11:13] bernd-wechner commented on #662
Thanks for the prompt reply. I just did that (though it took a bit of fiddling a round thanks to repository issues) but both are done and restarted. Alas step one produces similar results. The list of issues is shorter to be sure down from 25 to 17 but still there seem to be issues with versions.

I'm on LinuxMint 17.2 which is a redistro of Ubuntu 14.04.

[Linux Mint 17.2 is based on Ubuntu 14.04

[2015-10-29 14:05] fraang opened #664 "Local cursor is shown in XDMCP mode even if not set"
I have installed Remmina from the official PPA on Xubuntu 14.04 and have the problem that the local cursor is shown even if I set to off in the connection preferences. I have tried it with a Xfce and KDE session on the remote host. Is this a bug or is the option "Use local cursor" only relevant for certain connection modes?

EDIT: What infos do you need to be able to sort this out?
##

<bountysour

[2015-10-29 14:18] fraang opened #665 "Clipboard support using XDMCP mode"
It seams there is currently no support for syncing the clipboard between local and remote host in the XDMCP mode. Should that work or is this feature planned? Can someone give some infos on that issue?

[2015-10-29 22:33] poiuty opened #666 "apt-get broken on ubuntu 15.10"
[code]
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27816303-apt-get-broken-on-ubuntu-15-10?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=gi

[2015-10-31 00:46] ObiWahn opened #667 "rdp plugin does not load"
Hi,

I have just build remmina from source. Unfortunately the rdp plugin can not be loaded. http://paste.debian.net/318952/

Best Regards

Jan

[2015-10-31 07:02] giox069 commented on #667
The rdp plugin is loaded dynamically at remmina startup, so you can't see it in the ldd output. You should execute remmina from the terminal, and look at the output.
Have you followed the [Ubuntu guide in the wiki](https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-14.04-and-14.10) to build remmina ? If yes, please check that the directory you put in /etc/ld.so.conf.d/freerdp_devel.conf fil

[2015-10-31 08:35] ObiWahn commented on #667
i have followed the most of the guide but installed to /user/local. As you can see in the link above freerdp.so is found by the plugin:

libfreerdp.so.1.2 => /usr/local/lib/libfreerdp.so.1.2 (0x00007fbecfbb1000)

There is nothing to be seen on the console. Only a box "Protocol plugin RDP is not installed." when I try to open a rdp connection. That what i take for the plugin can be found in /usr/lo

[2015-10-31 17:09] ObiWahn commented on #667
Strange - I have recompiled Remmina with CMAKE_BUILD_TYPE=Debug in order to have a look with gdb. Now everything is working just fine. If I should find something out while installing Remmina on my laptop I'll let you know.

[2015-10-31 17:09] #667 closed

[2015-11-01 15:28] pyskell commented on #391
I think the issue here is that the settings are unclear.

At RDP > Quality settings you're actually setting what each level of quality means (ex. does "Poor" allow wallpaper?, is menu animation shown under "Medium"?). There is where you configure what each level means.

For each box you go to Edit Profile > Advanced and pick a level for "Quality".

So it works, just not the way expected. I'd sugge

[2015-11-02 12:23] giox069 commented on #661
Feature implemented. The toolbar is now on the left, and you can drag&drop it to move on the other edges of the window. If you are using the ubuntu PPA, the update will be availabe in the next hours automatically. Let us know what you think.

[2015-11-02 21:19] DevDef opened #669 "French translation update for next (1.2.0) version"
Please update French po translation files for Remmina and its plugins. They are available from https://translations.launchpad.net/ :

https://translations.launchpad.net/remmina/trunk/+pots/remmina/fr/+export
https://translations.launchpad.net/remmina/trunk/+pots/remmina-plugins/fr/+export

TIA,

Davy

[2015-11-03 08:06] Marek-Moehling opened #670 "Concurrent remote desktop sessions on Win XP Pro"
sys:
Remmina 1.2.0-rcgit.5
Host: LinuxMint 17.1 (rebecca)
Guest: Win XP Pro (SP3 all updates, running on VirtualBox, with [universal termsrvdll patch](http://deepxw.blogspot.de/2009/04/universal-termsrvdll-patch.html)

The patched Win XP Pro allows for concurrent remote desktop sessions. This works with Win 7 as host (or from a second virtual Win XP Home)--several users in the network can login wi

[2015-11-05 07:40] dschaefer79 commented on #663
I have the same problem with xfreerdp command

[2015-11-05 15:35] PhilGoy commented on #621
Hello,

Thank you for your message. I am new to Linux and Lubuntu. I only use the Lubuntu Software Center of installing/uninstalling. I have four Windows Server 2008 with TS services.
Remmina works fine except when the session is remote controlled with "Terminal Services Manager".

I tried with Lubuntu 14.04 LTS, then 14.10 + Remmina 0.9

I retried today with :
Lubuntu 15.04
Remmina 1.1.0

I upgra

[2015-11-05 17:46] AdamFonagy commented on #621
I have the same problem on x64 Ubuntu 14.04.03 with Remmina - Version 1.2.0-rcgit.5
Here is the dump:
ProblemType: Crash
Architecture: amd64
CurrentDesktop: Unity
Date: Thu Nov  5 18:29:06 2015
DistroRelease: Ubuntu 14.04
ExecutablePath: /usr/bin/remmina
ExecutableTimestamp: 1446727466
ProcCmdline: remmina
ProcCwd: /home/adam
ProcEnviron:
 TERM=xterm
 SHELL=/bin/bash
 PATH=(custom, no user)
 LANG=

[2015-11-05 21:16] antenore commented on #621
You have an old version of freerdp installed on your system (see /usr/lib/x86_64-linux-gnu/libfreerdp.so.1.2).

You ( @PhilGoy @AdamFonagy )  must completely remove the remmina and freerdp packages and, then check that you still don't have any old freerdp files (*winpr* and *freerdp*).

It would help also notifying the PPA maintainer about this issue.

Some places where you could find old freerdp

[2015-11-05 21:21] antenore commented on #669
Merci!

We will take care of it ASAP.

[2015-11-05 22:51] AdamFonagy commented on #621
Hi Antenore,

I did that you suggested but whenever I reinstall the ```remmina-plugin-rdp``` I got back the old FreeRDP version.

That is what I did:

[code]
Do you have any idea what's wrong?

[2015-11-05 23:12] AdamFonagy commented on #621
one more interesting think: after reinstalling remmina and related packages I can connect once. When I log out I get a segmentation fault than I cannot connect anymore as I get segmentation error at connection time.

[2015-11-06 09:05] antenore commented on #621
@giox069 any ideas?

[2015-11-06 09:11] giox069 commented on #621
@antenore: the libfreerdp included in the PPA is quite old (8 months). We can try to ask the maintainer of the PPA to upgrade to a more recent version, but it's a risky operation to distrubute a new freerdp now.
@AdamFonagy: if you have some time to invest on this problem, you could try to compile remmina by following the guide for Ubuntu on the wiki. The guide will uninstall the ppa packages and

[2015-11-06 09:49] antenore commented on #621
Thanks @giox069

[2015-11-06 09:56] AdamFonagy commented on #621
@giox069, yes I'll compile the program from source and let you know the result.
Meanwhile you can see what Ubuntu 14.14 does when reinstalling remmina:

[code]
The language is Hungarian but you can find package names and versions installed

[2015-11-06 11:14] AdamFonagy commented on #621
Hi @antenore, @giox069,

I compiled the program from source according to the guide without error. I could run Remmina but got the same error at the same point.

Here is the dump for details (binary core dropped):
[code]

[2015-11-06 11:56] AdamFonagy commented on #621
Meanwhile I found that I can mark "Use RD Gateway server for server detection" checkbox. With this setting I can connect to an RDP szerver that uses RD Gateway server.

[2015-11-06 13:02] antenore commented on #621
One more thing, can you attach a backtrace with gdb?
[code]

[2015-11-06 13:25] AdamFonagy commented on #621
this is the result of gdb
[code]

[2015-11-06 13:39] giox069 commented on #621
The crash seems to be in freerdp (as with the old version).
Can you run xfreerdp with xfreerdp /v:hostname /u:username /d:domainame and test if it crashes again ?

[2015-11-06 13:41] antenore commented on #621
That looks like a freerdp issue :-(
I cannot reproduce this issue.

You should try to reproduce the issue using xfreerdp (command line tool) and generate a bt has you have done with Remmina.

If you don't have the segmentation fault (I really doubt), come back here, we will try something else, if you have a SIGSEGV, open a bug at https://github.com/FreeRDP/FreeRDP/issues/new providing client/serve

[2015-11-06 14:21] hugokoopmans commented on #644
:+1:

[2015-11-06 14:38] giox069 commented on #644
Ok, let's start a new contest: a new icon is needed for the toolbar for this feature. Is anyone able to design one ?

[2015-11-06 15:30] ozbek commented on #644
Are there any requirements for the icon?

Would [this](https://github.com/google/material-design-icons/blob/master/action/drawable-xxxhdpi/ic_camera_enhance_black_48dp.png) work? The license seems compatible.

[2015-11-06 18:36] giox069 commented on #644
I like material design, but this icon should use the same style of the currently available icons. They are not perfect, we would like to change it, but every new icon should follow the same style.
Here are the current remmina icons: https://github.com/giox069/Remmina/tree/next/remmina/icons
I think we need two .png files, one 16x16 and one 22x22.

[2015-11-07 03:34] ozbek commented on #644
With a window in the middle, it more looks like a briefcase (paste button?:)

![remmina_screenshot](https://cloud.githubusercontent.com/assets/452620/11013326/43033502-852a-11e5-9a9a-45a5db5fe8e9.png)

What do you say?

[2015-11-07 11:21] Hubbitus commented on #383
Reproduced also in 1.2.0: https://bugzilla.redhat.com/show_bug.cgi?id=1232598

[2015-11-07 11:33] Hubbitus opened #671 "remmina: _g_log_abort(): remmina killed by SIGTRAP"
https://bugzilla.redhat.com/show_bug.cgi?id=1234147:
[code]

https://bugzilla.redhat.com/show_bug.cgi?id=1241230:
[code]

[2015-11-07 16:38] Hubbitus opened #672 "remmina: remmina_connection_holder_toolbar_preferences_popdown(): remmina killed by SIGSEGV"
[code]
Please look at details: https://bugzilla.redhat.com/show_bug.cgi?id=1254969

[2015-11-07 16:45] Hubbitus opened #673 "remmina: ringbuffer_destroy(): remmina killed by SIGSEGV"
Please look at https://bugzilla.redhat.com/show_bug.cgi?id=1250076:
[code]

[2015-11-07 16:47] Hubbitus opened #674 "remmina: remmina_rdp_event_update_scale_factor(): remmina killed by SIGSEGV"
Please look at https://bugzilla.redhat.com/show_bug.cgi?id=1236189
[code]

[2015-11-07 16:48] Hubbitus opened #675 "remmina_rdp_event_release_key(): remmina killed by SIGSEGV"
Please look https://bugzilla.redhat.com/show_bug.cgi?id=1232591:
[code]

[2015-11-07 16:50] Hubbitus opened #676 "remmina_rdp_cliprdr_monitor_ready(): remmina killed by SIGSEGV"
Please look at https://bugzilla.redhat.com/show_bug.cgi?id=1262868
[code]

Possibly relates to https://github.com/FreeRDP/Remmina/issues/675

[2015-11-07 16:52] Hubbitus commented on #383
https://bugzilla.redhat.com/process_bug.cgi

[2015-11-07 16:54] Hubbitus opened #677 "remmina in gnome wayland _XInternAtom(): remmina killed by SIGSEGV"
Please look https://bugzilla.redhat.com/show_bug.cgi?id=1267783
[code]

[2015-11-07 17:23] Hubbitus commented on #599
Hi.
[https://github.com/FreeRDP/Remmina/releases 1.2.0-rcgit.5] mentioned that issue as fixed. Is it really embedded or not?

[2015-11-09 13:43] AdamFonagy commented on #621
Hi,

the xfreerdp version I run is 1.2.5-dev. See:
[code]

[2015-11-10 06:31] AdamFonagy commented on #621
Hi @antenore, @giox069,

finally I found the root cause of the problem. It seems the top level domain name of certificate of the terminal server mismatch the TLD of the domain of the server.

When I run ```xfreerdp /cert-ignore``` it worked fine. After I found the option I tried Remmina's Ignore Certificate option and it also worked.

Thanks a lot for your help.

[2015-11-10 07:22] giox069 commented on #621
@AdamFonagy: also try to remove the file ~/.config/freerdp/known_hosts
In freerdp it's superseded by known_hosts2, but its presence can cause problems with certificates.
After removing knonwn_hosts, can you disable "Ignore Certificate" in remmina and let us know if it works ?
Thank you for all your collaboration.
@antenore: we should add some messages at remmina startup to tell the user to remove

[2015-11-10 08:57] antenore commented on #621
I'll do it .

[2015-11-10 09:00] antenore commented on #599
Not embedded.

The changelog is generated automatically taking the closed issues and commits.

I fixed the release text.

[2015-11-10 09:27] AdamFonagy commented on #621
@giox069: I'm a bit confused. In the morning I was at home and tried my x86 Ubuntu. Finally I got to work.
Now I'm in the office and tring an x64 Ubuntu. I did the same: compiled FreeRDP from source according to its documentation.

I tried ```xfreerdp /cert-ignore /u:username /d:domainame /g:gateway /v:hostname``` that works fine. However Remmina still throws segmentation faile.

In my ~/.config/f

[2015-11-10 17:20] thecrazy commented on #261
Keyboard mapping is also wrong for me, never worked right on any server I connect to.
I suppose this works fine for people using an english layout but I am trying to use Canadian French and its a total mess. Tried to fix the issue from both sides of the connection but nothing works.

[2015-11-10 17:27] lestevam commented on #261
which version are you using?
If you are using 0.99 you will probably continue to have these problems.
Once I compiled a new version of the git (branch "next") then this issue has been resolved, but others had not so problematic.

[2015-11-10 17:32] thecrazy commented on #261
I use version 1.2 from their PPA.

The problem is that the information on microsoft's website is misleading.
This website properly describes the issue and what the proper codes are:
http://sashkastechnical.blogspot.ca/2014/07/input-localisation-for-different-systems.html

The logic behind this should be valid for other languages too.

[2015-11-10 18:44] thecrazy commented on #261
Well.. ok now I feel silly, I just realised the windows servers I am connecting to are accessed using VNC. So it has nothing to do with rdp. Sorry.

[2015-11-10 22:16] IQAndreas opened #678 "fatal error: gst/gstconfig.h: No such file or directory"
When [trying to compile from source](https://github.com/FreeRDP/Remmina/wiki/Compile-on-Ubuntu-14.04-and-14.10), I get the following error message:

[code]

The file `gstconfig.h` can be found on my system in the following locations:
[code]

I have compiled without errors several months ago, but when I updated to commit b5f8900bc45abbb36a03f58eed105c17a68e0516, it would no longer compile (I also u

[2015-11-10 22:21] IQAndreas commented on #678
My mistake, this bug report was intended for `FreeRDP`.

The issue has been moved here: https://github.com/FreeRDP/FreeRDP/issues/2974

[2015-11-10 22:21] #678 closed

[2015-11-11 12:12] grexe commented on #556
any progress on this? I also cannot use the clipboard between host and RDP session at all, inside the remote session it works.

[2015-11-11 15:18] tdemalliard opened #679 "ubuntu 14.04 : remmina passwords blank"
Hello,
I have updated to 1.2.0-rcgit.5 yesterday and all my passwords are now blank (empty). They are still present in the password manager (seahorse).
Have a nice day.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28160445-ubuntu-14-04-remmina-passwords-blank?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&u

[2015-11-11 15:28] tdemalliard commented on #679
It seems to be related to libsecret migration: https://github.com/FreeRDP/Remmina/pull/653

Is there a way to migrate passwords?

[2015-11-11 16:25] antenore commented on #679
I'm very busy now. Hi will take a look ASAP.

[2015-11-11 16:30] tdemalliard commented on #679
Take your time, i just wanted to raise the issue wich is not blocking as I can still type the password when connecting.

[2015-11-11 16:45] antenore commented on #679
Thanks a lot.
In the meanwhile does libsecret works with new passwords?

[2015-11-11 16:54] tdemalliard commented on #679
affirmative:
Password is saved, and does appear with Ubuntu password manager (seahorse).
thanks

[2015-11-12 07:43] Marek-Moehling commented on #670
Mint 17.1 / Ubuntu 14.04

[2015-11-12 09:11] Yajo commented on #677
Any news on this? I'm affected too.

[2015-11-13 00:32] nahuel commented on #545
I had the same problem using Ubuntu and upgrading to Remmina 1.2 using the remmina-next ppa solved it.

[2015-11-13 22:10] antenore commented on #679
On Arch I cannot reproduce the issue.
Is your gnome-keyring-daemon running with all components enabled?

[code]

[2015-11-13 22:31] antenore commented on #677
We still didn't consider to test, adapt the remmina code to work with Wayland and some help would be really appreciated if you (or know who) can help out.

Try to set manually the GDK_BACKEND variable to x11

```GDK_BACKEND=x11 remmina```

If it works I can write a small patch to force x11 till we won't have the time to investigate around wayland.

Basically I'll add something like this in the rem

[2015-11-13 22:56] antenore commented on #665
It's something I'm working on, but it won't be implemented very soon.

The XDMCP plugin uses Xephyr behind the scenes, so in the meanwhile, you can write a small script that synchronize the clipboards using xclip and xsel, or any other clipboard tools that accept as argument the X display as argument

For example, let's say your X display is :0 and your XDMCP (do a ps -ef | grep Xephyr) display is

[2015-11-13 23:04] antenore commented on #664
It should work.

When you set that option, Xephyr is executed with

[code]
From the man page:

[code]

[2015-11-13 23:16] tdemalliard commented on #679
It may be specific to me only. Do not loose your time until i confirm it.
if I have time this weekend, i will try to reproduce it on a VM running fresh ubuntu 14.04.3.

[2015-11-13 23:20] antenore commented on #660
It's something I've to think about.

In the meanwhile...

#625 has a similar proposal

Each remmina server definition has its own plain text file either under ~/.local/share/remmina or ~/.remmina

Password are stored there or inside a keyring if you use a gnome-keyring like daemon.

libsecret provide a secret-tool utility to manage secrets inside the the keyring, and there are also other tools ava

[2015-11-13 23:21] antenore commented on #197
closed by  #590

[2015-11-13 23:21] #197 closed

[2015-11-13 23:22] antenore commented on #652
closed by #653

[2015-11-13 23:22] #652 closed

[2015-11-13 23:29] antenore commented on #644
@ozbek I like this last design and thanks for your suppert.

But I think the best is to have a camera icon. It's what most application use to take screenshots.

Something similar to this.

![farm-fresh_camera_small](https://cloud.githubusercontent.com/assets/5975/11160151/ae444e5a-8a66-11e5-9d0c-46ca1cea1abb.png)

[2015-11-13 23:34] antenore commented on #644
@giox069 do you already have some code ? I was playing around today and I think I should be able to implement this feature (or share ideas with you).

[2015-11-13 23:55] antenore commented on #677
#671 #672 #673 #674 #675 #676 are related to #677

[2015-11-16 08:42] Yajo commented on #677
Tested and it works.

[2015-11-16 21:14] #671 closed

[2015-11-16 21:14] #672 closed

[2015-11-16 21:14] #673 closed

[2015-11-16 21:14] #674 closed

[2015-11-16 21:14] #675 closed

[2015-11-16 21:14] #676 closed

[2015-11-16 21:14] #677 closed

[2015-11-17 15:03] oscarbidabehere opened #681 ""Floating point exception" while connecting to Windows 10 machine"
Hello, I have a Windows 10 machine with RealVNC server installed. When I connect to the machine using Ubuntu 14.04 and Remmina from the remmina-next-daily PPA some times Remmina crashes and I'm getting "Floating point exception (core dumped)" on the command line which I used to execute Remmina
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource

[2015-11-17 16:09] antenore commented on #663
which version of freerdp and remmina are you using? Is this a cygwin installation?

[2015-11-17 16:46] pingpong1109 opened #682 "Unable to do control any key"
When I press control+c or really any key it does not detect that I am pressing control. I have done some searching and have not found any real fix. I am running Solus RC 1
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28322956-unable-to-do-control-any-key?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_so

[2015-11-18 15:47] giox069 commented on #681
@oscarbidabehere, are you able to post a backtrace of the crash ?
You sholuld start remmina from a terminal with
``gdb remmina``
When remmina crashes, just type the command `bt` and copy and paste here the full trace.
Then you can exit gdb with `quit`
Thank you.

[2015-11-18 17:00] antenore commented on #682
Hi @pingpong1109

Solus provide a quite old version of Remmina, you should try to build the devlopment version (it's quite stable) and see if you still have the problem.

https://github.com/FreeRDP/Remmina/wiki

[2015-11-18 17:03] antenore commented on #545
@repzilon can you kindly check why the gentoo team is not taking care of this issue?

[2015-11-18 17:06] antenore commented on #556
Can you please confirm if the problem happens when you have only one remmina (RDP) session opened?

[2015-11-18 23:55] antenore opened #683 "Port GtkAction functions to GAction"
All the GtkAction related functions have been deprecated, therefor we must port all of that old functions to GAction.

[2015-11-19 01:48] asdfljdasflkjwfd commented on #556
From my experience this issue has been fixed for a while. Are you running the version from Ubuntu ppa?

[2015-11-19 12:37] repzilon commented on #545
I sent a bump in Gentoo Bugzilla. I confirm the issue with Remimina 1.1.x , but cannot acknowledge the fix right now.

[2015-11-19 17:00] oscarbidabehere commented on #681
$ gdb remmina
Reading symbols from remmina...(no debugging symbols found)...done.
(gdb) run
Starting program: /usr/bin/remmina
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7fffecdee700 (LWP 5139)]
[New Thread 0x7fffe7fff700 (LWP 5140)]
[New Thread 0x7fffdffff700 (LWP 5141)]
[New Thread 0x7fffd090c700 (LWP 514

[2015-11-19 18:40] guntbert commented on #666
Confirming problems on Ubuntu 15.10

There seems to be an issue with *libavcodec*, I "suddenly" (I know...) was not able to connect to rdp servers (while `rdesktop-vrdp` worked).
Then calling `xfreerdp` from CLI brought the error message:

To remedy I added the ppa for 1.2 - now I don't even have the rdp-plugin installed and `xfreerdp` still balks (same error message)

Starting `remmina` from CLI

[2015-11-22 19:22] Marek-Moehling commented on #670
That's funny, it works now, maybe one of the past updates fixed the problem.

[2015-11-22 19:22] #670 closed

[2015-11-23 17:24] internetstaff opened #684 "RDP fails with TLS handshake failure if TLS 1.0 is disabled on Windows"
I have Windows 2012 servers with TLS 1.0 disabled and RC4 ciphers disabled, but is otherwise stock. RDP works fine with just RC4 disabled, but as soon as TLS 1.0 is disabled in the SCHANNEL configuration, RDP from Remmina fails with EventIDs 36874, 36888. The error code in event 36888 is 40, handshake failure.

I can connect via openssl and gnutls-cli, so it seems like it's something specific to R

[2015-11-24 07:22] ComputingFroggy opened #685 "copy / paste and charset"
When I copy / paste between the host (on Bodhi 3.1) and a remote computer on Windows (using VNC - Remmina), the accentuated characters don't come out OK.

Is there a way to configure the charset used for the clipboard management ?
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28559769-copy-paste-and-charset?utm_campaign=plugin&

[2015-11-24 09:54] awilkins opened #686 "\\tsclient shares disconnect when accessed by certain programs on server"
Problem :
- Connect to Win2k8 server win Remmina
- Share a local folder
- Explorer accesses this folder at \tsclient\folder just fine, can transfer files
- Trying to view folder in another program, Beyond Compare (file diff tool) fails to open folder, and causes folder to be unavailable to all programs including Explorer until you disconnect / reconnect your session.

Tried the same steps with a W

[2015-11-24 14:31] thecrazy opened #687 "There is no way to know the protocol in the systray menu"
I could rename each connections to include the protocol but wouldn't it be nicer if the protocol icon or something else was in there to label the connection type?

I would also vote to change the vnc icon as it is not really indicative. As a matter of fact the only one that I find is a perfect fit is the SSH icon but at least the other icons are distinctive and don't look like a generic computer s

[2015-11-24 14:35] thecrazy commented on #687
I was thinking about it and even just adding  " (PROTOCOL_TYPE)" at the end of each entry automatically would be fine.

[2015-11-25 14:15] aperomsik opened #688 "Indicator menu gone?"
After the last update from the PPA, I seem to have lost the indicator menu.

Remmina package version is 1.1.2-ppa1+797+next+201511240446~ubuntu15.10.1 amd64 .

[2015-11-25 14:20] giox069 commented on #688
On which desktop ? Unity ?

[2015-11-25 14:24] aperomsik commented on #688
Yes.

[2015-11-25 18:04] aperomsik commented on #688
Now it's showing again. Not sure what happened. Closing.

[2015-11-25 18:04] #688 closed

[2015-11-25 18:07] giox069 commented on #688
:+1:

[2015-11-26 13:28] tessiof commented on #661
Awesome work! Remmina is now even better software;.. :dancers:

[2015-11-26 13:28] #661 closed

[2015-11-26 17:33] frankzeka commented on #182
voler88, I cannot find the remmina.dir. I have the same error of autmnapprentice.

[2015-11-26 17:50] giox069 commented on #182
This issue is more than 2 years old, a lot of things are changed in the meanwhile, including remmina cmake files for finding the pthread library.
Please reopen another issue, and don't forget to tell us which operating system you are using, which distribution, which version of the OS and remmina, and which desktop environment. Also please take a look at the [Remmina Wiki](https://github.com/FreeRD

[2015-11-26 17:50] #182 closed

[2015-11-27 10:47] dschaefer79 commented on #663
I use xfreerdp version 1.1.0 beta1

[2015-11-27 13:29] antenore commented on #663
This is an old version, from 2013. It would be a good idea to compile it by hand till the FreeRDP team won't release a new official version.

Take a look at our wiki.

[2015-11-30 15:31] skwd commented on #684
Same problem for me

[2015-11-30 15:37] giox069 commented on #684
Remmina uses libfreerdp to connect to an RDP server. So you can test your TLS handshake with the xfreerdp commandline client and check if in xfreerdp commandline you can find a switch which solves the problem. Then report the correct switch here and we will try to make it work on remmina.

Also please check tat you are running the latest version of remmina (1.2.0-rcgit.5) and libfreerdp (1.2 or 2.

[2015-11-30 18:49] skwd commented on #684
I think freeRDP have an issue with tls 1.1 and 1.2 :
https://github.com/FreeRDP/FreeRDP/issues/2828

in libfreerdp/crypto/tls.c it's use TLSv1_client_method() to connect in TLS

[2015-12-02 15:44] wsgcsysadmin opened #691 "Remmina windows open behind other desktop windows"
Ubuntu 14.04(Trusty Tahr) x86_64

Any Remmina windows that open from actions performed via the tray icon open behind other desktop windows.

To reproduce:
1. Open Remmina and enable tray icon
2. select another window
3. Perform some action from the tray icon that opens a window, Preferences for example.
4. Preferences Window opens just underneath the window selected in step 2.
5. Go to the prefere

[2015-12-02 15:58] giox069 commented on #691
It's a feature, not a bug. A feature of almost all window manager, and is called "focus stealing prevention".
See issue #542
We can do almost nothing to solve it. One day maybe we will remove the systray icon and bring its full menu of connection inside a remmina toolbar.

[2015-12-02 16:04] wsgcsysadmin commented on #691
Understood. I've modified Compiz settings.  Thank you.

[2015-12-02 16:04] #691 closed

[2015-12-02 18:53] ronpike commented on #556
I am on Ubuntu 15.10 and I periodically lose the ability to clip from host to remote/remote to host.  If I logout of my workstation and back in, the ability to clip returns.  thanks.

[2015-12-02 19:38] byron-hawkins commented on #614
I'm having this issue using Remmina `1.2.0-rcgit.5` on Ubuntu 14.04 while connecting to a Windows 7 VirtualBox guest via RDP. The screen also gets stuck frequently during the session, forcing me to continually nudge the window edge so I can see the remote screen. Is there a way to turn off the refresh optimization so it doesn't try to figure out when to refresh, and instead just does it every-time

[2015-12-02 19:39] antenore commented on #556
@ronpike which version of Remmina do you have?

[2015-12-02 19:53] ronpike commented on #556
@antenore 1.1.2  (version that came with Ubuntu 15.10 I believe)

[2015-12-02 21:24] antenore commented on #556
We don't support anymore that version, you should follow the wiki to install remmina from our main branch (next).

We have an official ppa.

[code]

Please, read before to post questions to old threads.

[2015-12-03 05:29] ronpike commented on #556
Ok, thanks - Google search led me to the thread!  :)

On Wed, Dec 2, 2015 at 1:24 PM Antenore Gatta <notifications@github.com>
wrote:

[2015-12-03 07:51] vadimkim opened #692 "SSH agent forwarding, tunnels and other nice stuff"
Is it possible to define such configuration options as in subj.? It seems SSH functionality is very limited in Remmina - why is it so?
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28808987-ssh-agent-forwarding-tunnels-and-other-nice-stuff?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=github)** W

[2015-12-03 10:52] vadimkim commented on #662
I have no issues building on Ubuntu 14.04. You have to install missing dependencies as suggested. Without -dev packages you are unable to build application.

[2015-12-04 10:25] markohrastovec opened #693 "Copy&Paste of formatted text not working."
When I have clipboard sync enabled the clipboard on the remote machine connected via remmina shows strange behaviour when copying. It looks like the formatting is stripped of from the clipboard and I can copy only unformatted text. If I switch the clipboard sync off the copying on the remote machine works as it should. I am not copying from remote to local or vice versa. It looks like remmina is m

[2015-12-04 17:02] antenore commented on #692
Currently, me and @giox069, the only two developers are working on Remmina , we don't need most of that features.

When we have time we try to fix old bugs, improve the existing features and put in place new feature/plugins also based on how many issues are opened concerning one specific needs.

The development around ssh, it's quite complex, also because, libssh, the best library we have found, d

[2015-12-04 20:56] vadimkim commented on #692
Thank you for explanation @antenore. I haven't been looking into the code and thought that libssh is like a wrapper around openssl with all the features. Now I see that this is totally different project. Surfing documentation I have found that tunnelling and X11 forwarding is possible with libssh, but not implemented at Remmina. While agent forwarding is a bit more difficult. I have found almost n

[2015-12-04 21:50] antenore commented on #692
The file is the right one and also the function you found looks correct.

I'm not sure as well where should be implemented. The documentation says, implicitly, after a session channel is opened, so, for example, after this line (search for each ssh_channel_new):

https://github.com/FreeRDP/Remmina/blob/next/remmina/src/remmina_ssh.c#L1410

Regarding the UI, you must implement the the ssh option in

[2015-12-05 09:33] giox069 commented on #693
Which version of libfreerdp are you using ? Did you follow our compile instructions or are you using the Ubuntu PPA version ?

[2015-12-05 10:36] markohrastovec commented on #693
I am using Ubuntu PPA.

On Sat, Dec 5, 2015 at 10:33 AM, Giovanni Panozzo <notifications@github.com>
wrote:

--
Marko Hrastovec [marko.hrastovec@gmail.com]

[2015-12-05 10:48] giox069 commented on #693
Unfortunately the ubuntu ppa is carrying an old outdated version of libfreerdp. We will update and post here know when ready.

[2015-12-06 10:36] zajc commented on #556
I found out Remmina 1.2.0-rcgit.5 (Ubuntu 15.10) clipboard sometimes doesn't work in fullscreen. I have also checked with xfreerdp 1.2.1-dev and copy between hosts and guest doesn't work while in fullscreen. I guess it is freerdp issue.

[2015-12-06 10:39] micsutka commented on #556
I've changed from Ubuntu to Debian and from Remmina to xfreerdp.
This was the only way I could get a stabe RDP client solution on linux.

[2015-12-06 18:12] ronpike commented on #556
@zajc - @micsutka - Thanks  I am on the new Remmina version and am still
having clipboard issues.  For example copying a Chrome web page image on
the host to an Outlook email in a remote session.

Also on the new version I would like to be able to move the toolbar to the
top of the Remmina window (where it was located on the older version).

On Sun, Dec 6, 2015 at 2:39 AM micsutka <notifications@g

[2015-12-06 21:00] giox069 commented on #556
@ronpike: the clipboard problems are currently under investigation. But you should in some way check your libfreerdp version to be updated. The ubuntu PPA "remmina-next" currently has an old version of libfreerdp (1.2) and we are working on these days to have it updated to the current git version (2.0).

The toolbar on the left is drag&drop-able with your mouse. Just move it to the top.

[2015-12-07 13:04] vadimkim commented on #692
I am confused. According to libssh documentation function *ssh_channel_request_auth_agent*  is present at least since version 0.7 http://api.libssh.org/master/group__libssh__channel.html, but I was not able to find its realization. libssh.h file does not contain this function. I have even installed latest version of libssh - 0.7.2 with the same result.
From the other side function *ssh_channel_ope

[2015-12-07 16:35] wgianopoulos opened #694 "RDP SEGFAULTS under fedora rawhide"
When you try to use Remmina to connect to a widows server via RDP it crashes.  Here is the terminal window output:

[wag@rawhide ~]$ remmina

(remmina:4193): Gdk-CRITICAL **: gdk_window_thaw_toplevel_updates: assertion 'window->update_and_descendants_freeze_count > 0' failed
Gtk-Message: GtkDialog mapped without a transient parent. This is discouraged.
[11:30:51:608] [4193:4197] [INFO][com.freerdp

[2015-12-07 16:40] antenore commented on #692
Thanks a lot for your analysis. Would you mind opening a bug to them (libssh) asking why and how to proceed? In the hope they will answer.

http://red.libssh.org/

[2015-12-07 16:40] wgianopoulos commented on #694
My crashing enviornment is:

kernel - 4.4.0-0.rc3.git4.1
remmina - 1.2.0-0.9.git.8855df7
freerdp - 2:2.0.0-1.git.be8f8f7
gtk2 - 2.24.28-2
gtk3 - 3.19.4-1

[2015-12-07 16:44] wgianopoulos commented on #694
The fedora bug on this is https://bugzilla.redhat.com/show_bug.cgi?id=1286468

[2015-12-07 18:09] vadimkim commented on #692
Done.
https://red.libssh.org/issues/215

[2015-12-07 20:08] antenore commented on #692
Thanks! Much appreciated. Let's see what they will answer back.

[2015-12-07 21:30] ObiWahn opened #695 "tot remmina crashes when marking text in the client iff clipboard sync is disabled"
Remmina crashes when i mark some text in the client window. This happens only when "clipboard sync" is disabled. I am using Debian/SID with xmonad. I have started remmina as WM and had the same result.

[2015-12-08 12:30] ivoshm commented on #125
Still in 1.1.2 on ManjaroLinux (ArchLinux) ... it's possible include solution to 1.2.0 please?

[2015-12-08 12:44] gap777 opened #696 "Custom options?"
Hi,

Remmina rocks! It's really a great application, and I appreciate the hours of labor spent to develop it.

I'm wondering if there's a way for me to augment the options passed to freerdp by remmina... for instance to achieve microphone redirection ("/microphone") or webcam redirection ("/multimedia") or just a custom plugin ("/vc:ftrdpbr").

Thanks for your time.

[2015-12-08 12:47] lexuv opened #697 "Remmina doesn't map printers"
Remmina doesn't map printers
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28946600-remmina-doesn-t-map-printers?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F431604&utm_medium=

[2015-12-08 18:41] muflone commented on #366
The current branch 'next' still suffer from this issue.
The same defect afflicts every remmina plugin that use the GtkSockets (NX, XDMCP, X2Go).

The terminal window shows always the same message:
(EE)
Fatal server error:
(EE) X11 error
Error code: 8
Sequence number: 5
Major code: 1	Minor code: 0
Error value: 37752837
(EE)

This seems again related to the GtkSocket unrealization.

[2015-12-08 18:50] giox069 commented on #366
It should have been fixed 1 week ago (there was an implicit reparenting with the usual socket destruction). Tested on Debian 8, because most distributions currently have a bugged Xephyr which is unable to work via GtkSocket. See here:
https://bugs.freedesktop.org/show_bug.cgi?id=91700

[2015-12-08 19:13] muflone commented on #366
oh damn, issue confirmed here (Arch Linux with xorg-server-xephyr 1.18.0-3)
Reverting to the version 1.16 fixes the issue.
Thank you @giox069

[2015-12-08 19:13] #366 closed

[2015-12-08 21:38] giox069 commented on #694
I installed rawhide, and I can confirm that I can reproduce it.
But... the crash is in the deep inside of GTK: it seems that gtk_css_widget_node_get_style_provider() is calling gtk_widget_get_scale_factor() on something similar to an invalid widget, or a NULL pointer. I can't debug further, because it will take hours and recompilation of GTK in debug mode.
Is it possible to have some help from a G

[2015-12-09 14:05] ahow628 opened #699 "VNC window immediately closes after connection attempt"
I started using Remmina about 3 years ago and it worked great. At some point (maybe two years ago), it began to immediately close when I started a session. At that point, I ended up removing Remmina and all of its config files and whatnot. I reinstalled, but still it did the same thing.

Now two years later, I tried the remmina-next PPA and it still does the same thing, so I'm hoping I can figure

[2015-12-10 14:19] GeoffMaciolek opened #700 "Remmina (RDP) crash on __strncpy_sse2_unaligned, GDB attached, (Clipboard related?)"
This crash happeend when I had two RDP sessions up to Server 2012 R2 systems.

I still have this gdb session up, if there's anything I can do in gdb to help on this?

* **Remmina:**  git: g347c258
* **FreeRDP:**  git: gc63928f
* **OS:** Arch Linux x64
[code]

[2015-12-10 16:47] antenore commented on #700
I've just tagged a new release and should be available on Arch the next hours.

If in 24 hours, since you will receive this notification, the aur package won't be updated, or you still suffer the same issue, let me know.

@giox069

[2015-12-10 17:43] nekohayo opened #701 "Icons not shown at the correct size in the main window's listview/treeview"
You have nice bitmap icons for the various types of remote servers, but in the main window they all appear blurry because they are shown at a non-native size. Instead, they should be shown at the exact size of the icons.

[2015-12-11 08:44] antenore commented on #701
Thanks for the report, can you please post a screen-shot?

[2015-12-11 15:10] nekohayo commented on #701
Sure. Compare the icons on the left with the one on the right:
![fuzzy icons](https://cloud.githubusercontent.com/assets/479401/11747111/67052d18-9fef-11e5-8c6a-4bd30cd36a64.png)

[2015-12-11 20:49] antenore commented on #701
We only have icons (in png format) of 16x16 and 22x22, so at the moment we cannot do better.

Sometime ago, we have tried to redesign the icons, but the designers (that we have payed) didn't produce something that was appealing for most of our main contributors.

If you want to take a look we still have a branch with all of them:

https://github.com/FreeRDP/Remmina/tree/newicons

... and  a pull r

[2015-12-11 20:57] nekohayo commented on #701
I do have design skills (and I do find the icons from #608 fairly unappealing :) but lack time lately.

However, my initial suggestion here was to simply reduce the size in the listview so that the current type icons (which look mostly OK to me anyway) show at their native, pixel-perfect size. Would probably be a one-liner in your code to set the pixmap's size property or something.

[2015-12-11 21:01] antenore commented on #701
:-) it's not that easy but I'll take a look

[2015-12-11 21:06] nekohayo commented on #701
gtk_image_set_pixel_size ? (or something like that, dunno if you're using pixmaps/pixbuf, GtkImage or something else ;)

[2015-12-11 21:09] antenore commented on #701
No, GtkCellRendererPixbuf

https://github.com/FreeRDP/Remmina/blob/next/remmina/ui/remmina_main.glade#L913

and I've already have done some tests today and the result was not nice at all.

[2015-12-11 21:15] nekohayo commented on #701
Well, bumping that down to size 2 seemed to have worked for me :)

![worked for me](https://cloud.githubusercontent.com/assets/479401/11755735/6360642e-a022-11e5-8d21-f1a670b56789.png)

[2015-12-11 21:29] antenore commented on #701
Weird, this morning I had the feeling the icons were too small and I thought I was looking in the wrong place.

I've just tried in my home office and it's fine, I'll do a pull request and ask to test it.

[2015-12-11 21:38] antenore commented on #701
#702

[2015-12-13 22:54] enwony commented on #679
I had same issue (twice, actually).
First time, about 7 month ago, i updated remmina and all passwords in *remmina files was deleted.
I discovered it too late for any sort of analysis.
Exactly same thing happend few days ago, and I just remebered I updated the system.
All passwords in *remmina files are emptied again.
I've checked dpkg log, since 2015-11-01 [dpkg-log.txt](https://github.com/FreeRD

[2015-12-14 10:22] antenore commented on #679
The Gnome team have deprecated libgnome-keyring in favour to libsecret, that's why I've migrated to libsecret.

I didn't suffers any issues during the tests, so I pushed the new backend.

Your passwords are still saved in the gnome-keyring keystore, but unfortunately, there is no way, to migrate one keystore to one another painlessly, or at lease, I didn't find a solution yet.

I was thinking to w

[2015-12-14 22:50] #701 closed

[2015-12-14 23:53] antenore commented on #696
Thanks four your kudos :-)

At the moment we didn't develop that options from freerdp to Remmina.

We are quite busy and we are busy to solve some issues at the moment.

Could you please open one issue for each functionality you would like?

We will see what we can do.

As a side note, if you are a developer, or you are willing to become, or you know anyone that could be of any help, you are very

[2015-12-14 23:54] antenore commented on #699
You are probably using an old Remmina version.

Please follow the wiki to update it and let me know if you still have any issues.

Thanks!

[2015-12-14 23:58] antenore commented on #697
First of all, which version of Remmina and FreeRDP are you using?

Remmina uses FreeRDP behind the scenes, so the first tests you should do is to connect from the command line with xfreerdp, if it doesn't work, you should open an issue to the FreeRDP team.

If it works with xfreerdp, be sure you have installed the last Remmina version (see the wiki).

If it doesn't work only within Remmina let me

[2015-12-14 23:59] antenore commented on #695
Which Remmina/FreeRDP version?

[2015-12-15 03:59] gap777 commented on #696
Antenore,

I am a developer -- experienced in C, C++, C#, Java, Javascript, PHP.....

The codebase seemed a little inaccessible - maybe with a walk-through?

I really was suggesting a bypass -- not to expose each freerdp feature in
the GUI, but to allow the user to pass some options to the underlying
mechanism since it doesn't seem reasonable that EVERY freerdp option would
be needed to be reflect

[2015-12-15 16:44] antenore commented on #696
The FreeRDP plugin uses the libfreerdp library and not the xfreerdp executable.
So working on new options isn't that easy.

On the other side, one thing that is easy to do, it's to write a Remmina plugin, take a look, for example at the rdesktop plugin, wrote by @Muflone, one of the Remmina contributors.

https://github.com/muflone/remmina-plugin-rdesktop

or any other wrote by him in his reposito

[2015-12-15 17:03] giox069 commented on #696
This is the commandline parsing code used by all "stock" freerdp clients:
https://github.com/FreeRDP/FreeRDP/blob/master/client/common/cmdline.c
I tink (I'm not sure) the compiled version is available in the binary "libfreerdp-client.so", available with libfreerdp. We could use this parser for remmina's https://github.com/FreeRDP/Remmina/blob/next/remmina-plugins/rdp/rdp_plugin.c
But we are not cu

[2015-12-15 21:23] ObiWahn commented on #695
FreeRDP b5880750987e892234fae937017f4af420aad403
Remmina 6f1306f02d1b30dfe57eac5609d622c0b12f93a3

[2015-12-15 23:02] drew333 commented on #511
I have also noticed that there isn't support for different credentials for the RD Gateway in Remmina (1.2.0-rcgit.6). I tried using xfreerdp and it works using different credentials for the RD Gateway.

[2015-12-16 07:09] antenore commented on #695
I've tried to replicate your issue on two different distributions, using dwm and i3wm, but I don't have any crash.

Which clipboard manager do you use? I personally use gpaste as with parcellite I was experiencing several problems.

Can you attach a gdb backtrace (be sure to install all the debug packages needed).

[2015-12-17 00:09] jasmin-j commented on #699
Hi!

I have exactly the same issue.
I am running Linux Mint 17.1 on my main machine and I have x11vnc as VNC server running.
On my laptop I have Linux Mint 17.3. I added ppa:remmina-ppa-team/remmina-master and reinstalled remmina. Now I have 1.1.2 (by the way, the RDP plugin is gone now).

Here is the x11vnc log:
[code]

I can connect to my main machine using Windows and a VNC Viewer there. So it

[2015-12-17 00:32] jasmin-j commented on #699
Changed now to the correct repo ppa:remmina-ppa-team/remmina-next (by the way, the RDP plugin is available now).
Now I have 1.2.0-rcgit6, but the problem still exists :(

[2015-12-17 07:24] antenore commented on #699
From the Help menu you can open a Debug Window.

I think I've replicated your issue, in fact the VNC connections fails immediately.

What is see and guess it's that libvnc trys to connect to a inet6 address, instead of staying with tcp4

[VNC]ConnectClientToTcpAddr6: connect

Hopefully I should be able to fix this quite fast